<section id="parceiros">
  <div class="container text-center my-3">
    <h2>Conheça nossos parceiros</h2>
    <div class="row mx-auto my-auto justify-content-center">
      <div id="carrossel-parceiros" class="carousel slide custom-width" data-ride="carousel">
        <div class="carousel-inner w-100" role="listbox">
          <div class="carousel-item active">
            <div class="col-md-4">
              <a class="card" href="https://sbc.org.br" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/sbc.png" alt="Logo da SBC">
                </div>
                <div class="card-footer realizacao">Realização</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="/" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/ceducomp.png" alt="Logo da CEducomp">
                </div>
                <div class="card-footer apoio">Realização</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="https://ufjf.br/" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/ufjf.png" alt="Logo da UFJF">
                </div>
                <div class="card-footer organizacao">Organização</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="https://institucional.caeddigital.net" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/caed.png" alt="Logo do CAED">
                </div>
                <div class="card-footer apoio">Apoio institucional</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="https://www.gov.br/capes/pt-br" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/capes.png" alt="Logo da CAPES">
                </div>
                <div class="card-footer patrocínio">Patrocínio</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="https://thinktedlab.org" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/thinkted.png" alt="Logo ThinkTedLab">
                </div>
                <div class="card-footer suporte">Suporte de mídias e web</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="https://www2.ufjf.br/meninasdigitaisufjf/cafe-das-minas/" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/cafe-das-minas.png" alt="Logo Café das Minas">
                </div>
                <div class="card-footer suporte">Suporte de mídias e web</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="https://www2.ufjf.br/getcomp/" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/get-comp.png"  alt="Logo GET Computação">
                </div>
                <div class="card-footer suporte">Suporte de mídias e web</div>
              </a>
            </div>
          </div>
          <div class="carousel-item">
            <div class="col-md-4">
              <a class="card" href="https://www2.ufjf.br/getsi/" target="_blank">
                <div class="card-body">
                  <img class="img-fluid" src="/img/simposio/2025/parceiros/get-si.png"  alt="Logo GET Sistemas de Informação">
                </div>
                <div class="card-footer suporte">Suporte de mídias e web</div>
              </a>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev w-auto" href="#carrossel-parceiros" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next w-auto" href="#carrossel-parceiros" role="button" data-slide="next">
          <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="row call-to-action justify-content-center align-items-center">
            <div class="col-lg-9 text-center text-lg-left">
              <p class="titulo">Seja um patrocinador do evento!</p>
              <p class="subtitulo">Exponha sua marca para um público altamente especializado e receba benefícios.</p>
            </div>
            <div class="col-lg-3 text-center">
              <a href="/downloads/simposio/2025/comum/patrocinio.pdf" target="_blank" class="btn btn-action">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>