{{> simposio/2024/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -2em;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>
            EduComp 2024<br>
            <small class="text-muted">22 a 27 de abril de 2024</small>
          </h2>
          <br>
          <h3><b>Obter</b> certificado: </h3>
          <br>
          <form method="POST" action="/simposio/2024/certificados/educomp/obter" id="form1">
            <div class="form-group">
                <label for="email1">Email usado na inscrição:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            
            <p> <input type="submit" value="Obter" class="btn btn-primary btn-lg" style="width: 150px;" id="submit1" /> </p> 
            
            {{!-- <button type="submit" onsubmit="alertar()" id="btnObter">Obter</button> --}}

            <div id="divLoading" style="display: none">
              <span>Buscando...</span>
              <div  class="spinner-border" style="width: 2rem; height: 2rem;" role="status">
              </div>
            </div>

          </form>

          {{#if mensagem}}
            <div class="alert alert-danger">{{mensagem}}</div>
          {{/if}}

          <script type="text/javascript"> // Script
              document.getElementById('submit1').addEventListener('click', mudarEstilo)

              function mudarEstilo(evt) {
                document.getElementById('divLoading').style.display = 'block'
              }

          </script>
        </div>
      </div>
    </div>
  </section>