.content #inscricoes {
  #promocional {
    .banner-inscricao {
      margin-bottom: 1em;
      position: relative;
    }
  }

  #valores {
    .accordion {
      h3 {
        padding: 0.5em 0;
        margin: 0;
        font-size: 1.2em;
      }

      h4 {
        padding-top: 1em;
      }

      .btn-link {
        color: var(--h2-color);
        font-size: clamp(13px, 1.5vw, 16px);
        padding: 0;
      }

      .btn-link:hover {
        text-decoration: none;
      }

      .btn-link:focus {
        text-decoration: none;
        box-shadow: none;
      }

      .card {
        border: 1px solid gray;
        background-color: lightgray;
        transition: transform 0.2s;
        flex-direction: column;
        display: flex;
      }

      .card:hover {
        background-color: var(--table-header-color-bg);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .card-header {
        display: flex;
        align-items: center;
        flex: 1;

        h3 {
          font-weight: 600;
        }
      }

      .card-body {
        background-color: whitesmoke;
      }

      .collapse {
        max-height: calc(80vh - 100px);
        overflow-y: auto;
      }
    }

    .table-responsive {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }

    .table {
      margin: 20px auto;
      min-width: 600px;

      .categoria {
        color: var(--h2-color);
        text-align: left;
      }

      .prazo {
        text-align: center;
        white-space: nowrap;

        .lote {
          display: block;
        }

        .data {
          display: block;
          font-weight: 400;
        }
      }

      th,
      td {
        vertical-align: middle;
      }

      thead {
        background-color: var(--table-header-color-bg);
        text-align: center;
      }

      .lote-1 {
        color: gray !important;
        text-decoration: line-through;
      }
      .lote-2 {
        color: gray !important;
        text-decoration: line-through;
      }
    }
  }
}

.content #certificados {
  h2 {
    margin-bottom: 2em;
    margin-top: 1em;
    font-size: 1.3em;
    color: var(--h3-color);
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
    border: none;
    text-align: center;
  }

  .btn {
    width: 200px;
    padding: 10px 10px;
    border-radius: 11px;
    font-size: 1.1em;
    font-weight: bold;
    cursor: pointer;
    margin: 20px 40px;
    border: 2px solid var(--footer-border);
    text-align: center;
    text-decoration: none;
  }

  .btn-certificado {
    background-color: var(--footer-border);
    color: white;
  }
  .form-group {
    text-align: left;
  }
}
