.content #local {
  #como-chegar {
    h2 {
      margin-bottom: 3px;
    }

    .figure-img {
      max-width: 85%;
      height: auto;
      border-radius: 20px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .figure-img:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .figure-caption a {
      text-decoration: none;
      color: inherit;
    }
  }

  #hoteis {
    h3 {
      font-size: 1.2em;
      font-weight: 500;
      text-align: left;
      margin-top: 0.5em;
    }

    #hoteis .row {
      display: flex;
      flex-wrap: wrap;
    }

    .footnote {
      font-size: 0.7em;
      display: block;
    }

    .hotel-foto-container {
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hotel-foto {
      aspect-ratio: 4/3;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .list-icons {
      font-size: 0.85em;

      padding-left: 0px;

      i {
        font-size: 1em;
        color: var(--h3-color);
        width: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        font-size: 1em;
      }
    }
  }

  #apresentacao-jf {
    .video-titulo {
      text-align: center;
      display: block;
      color: var(--h2-color);
      font-size: 1.2em;
      font-weight: 400;
      padding: 0.25em ;
    }

    .video-container {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden;
    }

    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #introducao-ufjf {
    .video-container {
      position: relative;
      width: 100%;
      padding-top: 56.25%;
      overflow: hidden;
      margin-bottom: 33.75px;
      border-radius: 20px;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    }
    .video-container iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  #localizacao{
    .mapa-container {
      display: flex;
      justify-content: center;
      margin: 20px 0;
    }
    
    .mapa-container iframe {
      width: 600px;
      height: 450px;
      border: 0;
      border-radius: 15px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }    
  }
}
