.content #local {
  .video-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  }

  .video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  figcaption {
    padding: 10px;
    text-align: right;
  }

  .mapa-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
  }
  
  .mapa-container iframe {
    width: 100%;
    height: 450px;
    border: 0;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }   

  #como-chegar {
    h2 {
      margin-bottom: 3px;
    }

    .figure-img {
      max-width: 85%;
      height: auto;
      border-radius: 20px;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      transition: transform 0.3s ease;
    }

    .figure-img:hover {
      transform: scale(1.02);
    }

    .figure-caption a {
      text-decoration: none;
      color: inherit;
    }
  }

  #hoteis {
    h3 {
      font-size: 1.2em;
      font-weight: 500;
      text-align: left;
      margin-top: 0.5em;
    }

    #hoteis .row {
      display: flex;
      flex-wrap: wrap;
    }

    .footnote {
      font-size: 0.7em;
      display: block;
    }

    .hotel-foto-container {
      overflow: hidden;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .hotel-foto {
      aspect-ratio: 4/3;
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    .list-icons {
      font-size: 0.85em;

      padding-left: 0px;

      i {
        font-size: 1em;
        color: var(--h3-color);
        width: 30px;
        padding-top: 6px;
        padding-bottom: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      a {
        font-size: 1em;
      }
    }
  }

  #apresentacao-jf {
    padding-bottom:0%;

    .video-titulo {
      text-align: center;
      display: block;
      color: var(--h2-color);
      font-size: 1.2em;
      font-weight: 400;
      padding: 0.25em ;
    }
  }

  #introducao-ufjf {
    padding-bottom: 0%;
  }

  #historia{
    .figure-img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 8px;
    }

    .figure-caption {
      padding: 0%;
      text-decoration: none;
      color: inherit;
    }
  }
  
  @media (max-width: 768px) {
    #historia .figure-img{
      height: 250px;
    }
  }

  #cultura, #turismo, #historia, #gastronomia {
    .figure-img {
      height: 300px;
      width: 100%;
      object-fit: cover;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      transition: transform 0.3s ease;
    }

    .figure-img:hover {
      transform: scale(1.02);
    }

    .figure-caption a {
      text-decoration: none;
      color: inherit;
    }
  }

  @media (max-width: 768px) {
    #cultura .figure-img,
    #turismo .figure-img,
    #historia .figure-img,
    #gastronomia .figure-img {
      height: 250px;
    }
  }

  @media (max-width: 480px) {
    #cultura .figure-img,
    #turismo .figure-img,
    #historia .figure-img,
    #gastronomia .figure-img {
      height: 200px;
    }
  }
}
