.content #parceiros {
  background-color: var(--navbar-ativo-bg);
  padding: 3em 0;

  h2 {
    padding-bottom: 0.5em;
  }

  a {
    text-decoration: none;
  }

  .card {
    background: white;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
  }

  .card-body {
    width: 100%;
    aspect-ratio: 5/3;

    img {
      width: 90%;
      height: 90%;
      object-fit: contain;
      max-width: 90%;
      max-height: 90%;
    }
  }

  .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .card-footer {
    background-color: var(--prazo-footer-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-top: auto;
    font-size: 1.1em;
    font-weight: 400;
  }
  
  @media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
      display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
      display: block;
    }
  }

  .carousel-inner .carousel-item.active,
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    display: flex;
  }

  @media (min-width: 768px) {
    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
  }

  .carousel-inner .carousel-item-right,
  .carousel-inner .carousel-item-left {
    transform: translateX(0);
  }
}
