.content #programacao {
  #calendario-google {
    .container-calendario {
      position: relative;
      width: 100%;
      height: calc(80vh - 130px);
      padding-top: 56.25%;
      overflow: hidden;
      margin-bottom: 2em;
    }

    .container-calendario iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .programacao {
      border-radius: 20px;
    }

    .programacao-semana {
      display: block;
    }

    .programacao-agenda {
      display: none;
    }

    @media (max-width: 768px) {
      .programacao-semana {
        display: none;
      }

      .programacao-agenda {
        display: block;
      }
    }
  }
  #palestra-nacional {
    .palestra-titulo {
      font-size: 1.5em;
      font-weight: 600;
      text-align: left;
      margin-top: 0.5em;
    }

    .palestra-autor {
      font-size: 1.5em;
      font-weight: 500;
      text-align: left;
      margin-top: 0.5em;
      color: rgb(0, 0, 0);
      font-style: bold;
    }

    .row.mb-5 {
      display: flex;
      align-items: center;
    }

    .palestra-foto-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
    }

    .palestra-foto {
      width: 100%;
      height: auto;
      object-fit: cover;
      aspect-ratio: 1/1;
      border-radius: 20px;
    }

    @media (max-width: 768px) {
      .palestra-foto {
        width: 50%;
        height: auto;
      }
    }
  }
  #informacao-jantar {
    .figure-img {
      aspect-ratio: 3/4;
      width: 100%;
      object-fit: cover;
      box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
      border-radius: 20px;
      transition: transform 0.3s ease;
      margin-top: 0.5em;
    }

    .figure-img:hover {
      transform: scale(1.02);
    }

    .figure-caption {
      padding: 0%;
      text-decoration: none;
      color: inherit;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
