<!-- Footer -->
<footer class="py-3 educomp-footer">
  <div class="container" style="padding: 3.0em 0 2.5em 0;">
    <div class="row m-0 text-left text-white" style="font-size: 1.2em">
      <div class="col-md-3 contact-box ">
        <p>
          <span>Contatos</span>
        </p>
        <i class="fab fa-facebook"></i>
        <a href="https://www.facebook.com/educompbr"
          style=" padding-left: 0.2em; color: inherit; text-decoration: inherit;">/educomp</a>
        <br />
        <i class="fab fa-instagram"></i>
        <a href="https://www.instagram.com/educompbr/"
          style="padding-left: 0.2em; color: inherit; text-decoration: inherit;">@educomp</a>
        <br />
        <i class="fab fa-youtube"></i>
        <a href="https://www.youtube.com/@GIECSBC"
          style="padding-left: 0.2em; color: inherit; text-decoration: inherit;">GIECSBC</a>
        <br />
        <i class="fas fa-envelope"></i>
        <a href="mailto:educomp2024@gmail.com"
          style="color: inherit; text-decoration: underline ;">educomp2024@gmail.com</a>
      </div>
      <!--     <div class="col-md-3 contact-box">
        <p>
          <span>Contato</span>
        </p>
        <i class="fas fa-envelope"></i>
        <a href="mailto:educomp2024@gmail.com" style="color: inherit; text-decoration: underline ;">educomp2024@gmail.com</a>
      </div>
-->
      <div class="col-md-2 contact-box">
        <p>
          <span>Realização</span>
        </p>
        <a class="imagelink" href="http://www.sbc.org.br" target="_blank">
          <img src="/img/sbc.png" style="height: 5rem;" />
        </a>
        <a class="imagelink" href="http://www.educompbrasil.org" target="_blank">
          <img src="/img/simposio/2024/CEducomp-branca.png" style="height: 4rem; padding-left: 1em;" />
        </a>
      </div>
      <div class="col-md-2 contact-box ">
        <p>
          <span>Organização</span>
        </p>
        <a class="imagelink" href="https://www.mackenzie.br/" target="_blank">
          <img class="w-50" src="/img/simposio/2024/UPM_Branca.png" style=" margin-bottom: 0.5rem;" />
        </a>
        <a class="imagelink" href="https://www.mackenzie.br/universidade/unidades-academicas/fci" target="_blank">
          <img class="w-100" src="/img/simposio/2024/FCI_Branca.png" />
        </a>


      </div>

      <div class="col-md-2 contact-box">


        <p>
          <span>Apoio </span>
        </p>
        <a class="imagelink" href="https://www.mackenzie.br/" target="_blank">
          <img class="w-75" src="/img/simposio/2024/Unipampa.png" style=" margin-bottom: 0.5rem;" />
        </a>

      </div>





      <div class="col-md-2 contact-box">
        <a class="btn text-white js-scroll-trigger" href="/simposio/2024/inscricoes"
          style="font-size: 0.8em; width: 100%; font-weight: normal; font-family: 'Inter', sans-serif; border-radius: 1em; background: #3DC0F0; margin: 1rem 0;">
          INCRIÇÕES
        </a>
        <a class="btn text-white js-scroll-trigger" href="/simposio/2024/programacao/educomp"
          style="font-size: 0.8em; width: 100%; font-weight: normal; font-family: 'Inter', sans-serif; border: 0.1rem solid white; border-radius: 1em; background: none;">
          PROGRAMAÇÃO
        </a>
      </div>
    </div>
    {{!-- <p class="m-0 text-center text-white">
      <span style="font-size: 1.2em; padding-right: 1.6em">
        Realização:
        <a class="imagelink" href="http://www.sbc.org.br" target="_blank">
          <img src="/img/sbc.png" style="height: 3.5rem; padding-left: 0.6em;" />
        </a>
        <!--<a class="imagelink" href="http://www.educompbrasil.org" target="_blank" style="padding-right: 2em;">
            <img src="/img/simposio/2024/CEeducomp.jpg" style="height: 3rem; padding-left: 0.6em;"/>
          </a> -->
        Organização:
        <a class="imagelink" href="https://www.mackenzie.br/" target="_blank">
          <img src="/img/simposio/2024/M_vermelho.png" style="height: 3rem; padding-left: 0.6em;" />
        </a>
        <a class="imagelink" href="https://www.mackenzie.br/universidade/unidades-academicas/fci" target="_blank">
          <img src="/img/simposio/2024/FCI_vermelho.png" style="height: 3rem; padding-left: 0.6em;" />
        </a>
      </span> <br>
    </p>
    <p class="text-center text-white mt-4">
      <span style="
            border-color: white; 
            border-width: 0.3px; 
            border-style: solid; 
            padding: 7px;
            margin-top: 20em;
          " --}} </div>
        <!-- /.container -->
</footer>