<div id="sobre-sbc-insideHeader" class="d-flex align-items-center justify-content-center mb-4">
  <div class="container mw-100 w-100 p-0 d-flex align-items-center">
    <div class="row p-0 m-auto ">


      <img src="/img/simposio/2024/titulos/{{header.endereco}}.png" class="img-fluid" alt="{{header.descricao}}">


    </div>
  </div>
</div>