<div id="certificados">
  
  <section id="validar">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-8 text-center">
          <h2><strong>Valide</strong> um certificado do SBC-EB 2025</h2>
          
          <form method="POST" action="/simposio/2025/sbc-eb/certificados/validar">
            <div class="form-group">
              <label for="codigo">Código de verificação:</label>
              <input type="text" class="form-control" name="codigo" id="codigo">
            </div>
            <p>
              <input type="submit" value="Validar" class="btn btn-certificado"/>
            </p>
          </form>
        </div>
      </div>
    </div>
  </section>

</div>