<div class="edc-font">
    <div class="d-flex justify-content-center align-items-center">
      <h1>INSCREVA-SE</h1>
    </div>
  
    <section id="inscricoes-presenciais">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2 class="mb-10 d-block">Valores para o evento presencial</h3>
                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Estudantes de Graduação</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudante associado à SBC com anuidade vigente</td>
                            <td>R$ 115,00</td>
                            <td>R$ 125,00</td>
                            <td>R$ 140,00</td>
                            
                        </tr>
                        <tr>
                            <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 148,00</td>
                            <td>R$ 158,00</td>
                            <td>R$ 173,00</td>
                           
                        </tr>
                        <tr>
                            <td>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 148,00</td>
                            <td>R$ 158,00</td>
                            <td>R$ 173,00</td>
                            
                        </tr>
                        <tr>
                            <td>Estudante não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 160,00</td>
                            <td>R$ 171,00</td>
                            <td>R$ 187,00</td>
                            
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Estudantes de Pós-Graduação</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                            <td>R$ 160,00</td>
                            <td>R$ 175,00</td>
                            <td>R$ 195,00</td>
                            
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 295,00</td>
                            <td>R$ 310,00</td>
                            <td>R$ 330,00</td>
                            
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 295,00</td>
                            <td>R$ 310,00</td>
                            <td>R$ 330,00</td>
                            
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 311,00</td>
                            <td>R$ 328,00</td>
                            <td>R$ 350,00</td>
                            
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Professor de Educação Básica Municipal/Estadual</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Professor de Educação Básica Municipal/Estadual associado à SBC com anuidade vigente</td>
                            <td>R$ 150,00</td>
                            <td>R$ 165,00</td>
                            <td>R$ 180,00</td>
                           
                        </tr>
                        <tr>
                            <td>Professor de Educação Básica Municipal/Estadual associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 285,00</td>
                            <td>R$ 300,00</td>
                            <td>R$ 315,00</td>
                            
                        </tr>
                        <tr>
                            <td>Professor de Educação Básica Municipal/Estadual não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 285,00</td>
                            <td>R$ 300,00</td>
                            <td>R$ 315,00</td>
                            
                        </tr>
                        <tr>
                            <td>Professor de Educação Básica Municipal/Estadual não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 300,00</td>
                            <td>R$ 317,00</td>
                            <td>R$ 333,00</td>
                            
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Professor de Educação Básica Federal</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Professor de Educação Básica Federal associado à SBC com anuidade vigente</td>
                            <td>R$ 295,00</td>
                            <td>R$ 325,00</td>
                            <td>R$ 365,00</td>
                            
                        </tr>
                        <tr>
                            <td>Professor de Educação Básica Federal associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 665,00</td>
                            <td>R$ 695,00</td>
                            <td>R$ 735,00</td>
                            
                        </tr>
                        <tr>
                            <td>Professor de Educação Básica Federal não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 665,00</td>
                            <td>R$ 695,00</td>
                            <td>R$ 735,00</td>
                            
                        </tr>
                        <tr>
                            <td>Professor de Educação Básica Federal não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 695,00</td>
                            <td>R$ 728,00</td>
                            <td>R$ 772,00</td>
                            
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Profissionais</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Profissional associado à SBC com anuidade vigente</td>
                            <td>R$ 300,00</td>
                            <td>R$ 330,00</td>
                            <td>R$ 370,00</td>
                            
                        </tr>
                        <tr>
                            <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 675,00</td>
                            <td>R$ 705,00</td>
                            <td>R$ 745,00</td>
                            
                        </tr>
                        <tr>
                            <td>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 675,00</td>
                            <td>R$ 705,00</td>
                            <td>R$ 745,00</td>
                            
                        </tr>
                        <tr>
                            <td>Profissional não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 705,00</td>
                            <td>R$ 738,00</td>
                            <td>R$ 782,00</td>
                            
                        </tr>
                    </tbody>
                </table>
          </div>
        </div>
      </div>
    </section>
  
    <section id="inscricoes-remotas">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2 class="mb-10 d-block">Valores para a participação remota</h3>
            <table>
                <thead>
                    <tr>
                        <th class="tabletitle">Evento Remoto</th>
                        <th class="tableheader">Lote 1</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sócio</td>
                        <td>R$ 70,00</td>
                    </tr>
                    <tr>
                        <td>Não sócio</td>
                        <td>R$ 130,00</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
