<h1>INSCREVA-SE</h1>

<h3 id="tituloin">Valores para o evento presencial</h3>

<table border="1">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>1º Lote</th>
            <th>2º Lote</th>
            <th>3º Lote</th>
            <th>4º Lote</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Estudante associado à SBC com anuidade vigente</td>
            <td>R$ 115,00</td>
            <td>R$ 125,00</td>
            <td>R$ 140,00</td>
            <td>R$ 130,00</td>
        </tr>
        <tr>
            <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 148,00</td>
            <td>R$ 158,00</td>
            <td>R$ 173,00</td>
            <td>R$ 163,00</td>
        </tr>
        <tr>
            <td>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 148,00</td>
            <td>R$ 158,00</td>
            <td>R$ 173,00</td>
            <td>R$ 163,00</td>
        </tr>
        <tr>
            <td>Estudante não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 160,00</td>
            <td>R$ 171,00</td>
            <td>R$ 187,00</td>
            <td>R$ 176,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
            <td>R$ 160,00</td>
            <td>R$ 175,00</td>
            <td>R$ 195,00</td>
            <td>R$ 200,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 295,00</td>
            <td>R$ 310,00</td>
            <td>R$ 330,00</td>
            <td>R$ 335,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 295,00</td>
            <td>R$ 310,00</td>
            <td>R$ 330,00</td>
            <td>R$ 335,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 311,00</td>
            <td>R$ 328,00</td>
            <td>R$ 350,00</td>
            <td>R$ 355,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual associado à SBC com anuidade vigente</td>
            <td>R$ 150,00</td>
            <td>R$ 165,00</td>
            <td>R$ 180,00</td>
            <td>R$ 200,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 285,00</td>
            <td>R$ 300,00</td>
            <td>R$ 315,00</td>
            <td>R$ 335,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 285,00</td>
            <td>R$ 300,00</td>
            <td>R$ 315,00</td>
            <td>R$ 335,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 300,00</td>
            <td>R$ 317,00</td>
            <td>R$ 333,00</td>
            <td>R$ 355,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal associado à SBC com anuidade vigente</td>
            <td>R$ 295,00</td>
            <td>R$ 325,00</td>
            <td>R$ 365,00</td>
            <td>R$ 395,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 665,00</td>
            <td>R$ 695,00</td>
            <td>R$ 735,00</td>
            <td>R$ 765,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 665,00</td>
            <td>R$ 695,00</td>
            <td>R$ 735,00</td>
            <td>R$ 765,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 695,00</td>
            <td>R$ 728,00</td>
            <td>R$ 772,00</td>
            <td>R$ 805,00</td>
        </tr>
        <tr>
            <td>Profissional associado à SBC com anuidade vigente</td>
            <td>R$ 300,00</td>
            <td>R$ 330,00</td>
            <td>R$ 370,00</td>
            <td>R$ 400,00</td>
        </tr>
        <tr>
            <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 675,00</td>
            <td>R$ 705,00</td>
            <td>R$ 745,00</td>
            <td>R$ 775,00</td>
        </tr>
        <tr>
            <td>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 675,00</td>
            <td>R$ 705,00</td>
            <td>R$ 745,00</td>
            <td>R$ 775,00</td>
        </tr>
        <tr>
            <td>Profissional não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 705,00</td>
            <td>R$ 738,00</td>
            <td>R$ 782,00</td>
            <td>R$ 815,00</td>
        </tr>
    </tbody>
</table>

<h3 id="tituloin">Valores para a participação remota</h3>

<table>
    <thead>
        <tr>
            <th>Evento Remoto</th>
            <th>Lote 1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sócio</td>
            <td>R$ 70,00</td>
        </tr>
        <tr>
            <td>Não sócio</td>
            <td>R$ 130,00</td>
        </tr>
    </tbody>
</table>