<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>CEduComp :: {{titulo}}</title>

  <link rel="icon" type="image/ico" href="/img/giec/logo-giec.ico" />
  <link rel="stylesheet" href="/css/giec/bootstrap5.min.css" />
  <link rel="stylesheet" href="/css/giec/scrolling-nav.css" >

  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/bd98f4183e.js" crossorigin="anonymous"></script>

  <!-- Tabulator -->
  <link rel="stylesheet" href="https://unpkg.com/tabulator-tables@5.4.4/dist/css/tabulator_bootstrap5.min.css" >
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/luxon@3.3.0/build/global/luxon.min.js"></script>
  <script type="text/javascript" src="https://unpkg.com/tabulator-tables@5.4.4/dist/js/tabulator.min.js"></script>

</head>

<body id="page-top">

  {{> giec/navbar}}

  {{{body}}}

  {{> giec/footer}}
  {{> giec/scripts}}

</body>

</html>