<div class="modal fade" id="lab-ideias-ii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Laboratório de Ideias III e IV
          <small style="font-size: 0.7em;">| 18:30 - 19:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true


        titulo_sessao="(LI-III) Ensino de Programação"
        chair_sessao="Ramon Mayor Martins (Instituto Federal de Santa Catarina)"

       
        artigo1_titulo="
        <BeatTheCode />: Um Jogo para Aprendizagem em Programação com Worked Examples"


        artigo2_titulo="Formação de Professores: Integrando Lógica de Programação com a Criação de Jogos Digitais"

        artigo3_titulo="Robot Sparkle: Um sistema gamificado para exercitar conteúdos de robótica e programação"

        }}

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true


        titulo_sessao="(LI-IV) Estratégias de Engajamento na Educação em Computação"
        chair_sessao="Isabelle Lima (VIRTUS - Instituto Federal de Santa Catarina)"

        artigo1_titulo="Incentivando Meninas ao Pensamento Computacional: Oficinas de Computação Desplugada na Educação
        Básica"


        artigo2_titulo="CodeChef: um ambiente gamificado para auxiliar estudantes com TEA na aprendizagem de Programação
        e Algoritmos."

        artigo3_titulo="Conectando mulheres à Computação: Uma Abordagem baseada em jogo digital para inclusão e ensino"

        }}


      </div>
    </div>
  </div>
</div>