<div class="modal fade" id="26-lab-ideias-iii-iv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Laboratório de Ideias
          <small style="font-size: 0.7em;">| 18:40 - 19:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Lab Ideias III (LI-III)"
          chair_sessao="Leandro Galvão (UFAM)" 
          chair_sessao2="Rodrigo Choji (UEA)"
          
          artigo1_titulo="Ensino da Computação Potencializado pela Contação de Histórias"		
          artigo1_autores="Aline Ferreira Pereira da Silva, Aidê Romão"
          
          artigo2_titulo="projetES: Proposta de Plataforma de Fomento à Prática de Design Thinking por Estudantes de Graduação"		
          artigo2_autores="Dariane Ramos Abich, Icaro Iglesias, Rafael Parizi"	

          artigo3_titulo="Ideias para uso do Google Colab no Ensino de Computação"		
          artigo3_autores="Ricardo Ferreira, Michael Canesche, José Augusto Nacif"

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Lab Ideias IV (LI-IV)"
          chair_sessao="Luiz Rodrigues (NEES/UFAM | SENAI Londrina)" 
          chair_sessao2="Carlos Duarte (UFAM)"
          
          artigo1_titulo="CodeBo Unplugged: um jogo desplugado para o ensino da Estrutura de Dados Pilha"
          artigo1_autores="Luis Gustavo Araújo, Tamilis Oliveira, Andreia Pinheiro"
          
          artigo2_titulo="Pensar e Vestir: Desenvolvimento do Pensamento Computacional em crianças neurotípicas e com Deficiência Intelectual por meio de um Jogo Digital Educacional"
          artigo2_autores="Matheus Soppa Geremias, Isabela Gasparini, Eleandro Maschio, Taynara Dutra"

          artigo3_titulo="RobotCode: um jogo educacional para auxiliar na aprendizagem de lógica de programação"				
          artigo3_autores="Fabrizio Honda, Rafaela Melo, Fernanda Pires, Marcela Pessoa"	

        }}
        
      </div>
    </div>
  </div>
</div>