<div class="modal fade" id="26-painel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Painel da Comunidade I
          <small style="font-size: 0.7em;">| 10:00 - 11:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>Da BNCC à BNCC Computação: Histórico, Afinidades e Desafios na Implementação de um Currículo Único
</h5>
          
          <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">
          
              <a class="btn btn-info" href="https://www.youtube.com/watch?v=riAUUxWmD04" target="_blank" style="background-color: red; color:white; border: 0px; ">
                  <span style="padding-right:0.5em;">
                      <i class="fab fa-youtube" aria-hidden="true"></i>
                  </span>
                  Transmissão pelo YouTube 
              </a>
          </span>

          <hr>
          <span class="mb-3" style="font-size: large; display: block;">
            Profa. Ana Cláudia Guimarães Santos (USP)<br>
            Profa. Isabelle Melo do Nascimento (UFPB)<br>
            Prof. Wilk Oliveira (Tampere University)<br>
            <b>Painelistas</b>
          </span>
          <!--
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Roberto Pereira (UFPR)<br>
            Prof. Windson Viana de Carvalho (UFC)<br>
            <b>Mediação</b>
          </span>
          -->
      </div>
    </div>
  </div>
</div>