<div class="modal fade" id="sessao-tecnica-i2-iii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas I/2 e III
          <small style="font-size: 0.7em;">| 13:30 - 15:00</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body p-4">

        {{>
        simposio/2024/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-I/2) Concepções e organizações curriculares na educação básica em Computação"
        chair_sessao="Rafaela Vilela da Rocha (UFABC)"


        artigo1_titulo="Uma abordagem para planejamento de aulas interdisciplinares com Pensamento Computacional para
        Educação Básica"
        artigo1_autores="Lidiane Monteiro (UFRPE), Taciana Pontual Falcão (UFRPE), Rodrigo Rodrigues (UFRPE)"
        artigo1_relato_experiencia=true



        artigo2_titulo="O Impacto da Nova Matriz Curricular da Licenciatura em Computação no Desempenho dos Discentes"
        artigo2_autores="Laura Silva (UFRPE), Abilio Barros (UFRPE), Taciana Pontual Falcão (UFRPE)"
        artigo2_curriculo=true

        artigo3_titulo="Posicionando a BNCC Computação: uma Comparação com Documentos Curriculares Internacionais"
        artigo3_autores="Adelmo Eloy (Universidade de São Paulo & Transformative Learning Technologies Lab - Brazil),
        Luiz Alves (Universidade de São Paulo - Brazil),
        Paulo Blikstein (Satnford University - USA),
        Roseli Lopes (University of São Paulo - Brazil)"
        artigo3_curriculo=true


        }}

        {{>
        simposio/2024/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-III) Formação de Professores em Computação"
        chair_sessao="Rafael Parizi (IFFar)"



        artigo1_titulo="A estrutura e as funções dos laboratórios de computação nas escolas de educação básica"
        artigo1_autores="Jorge Fernandes (UnB)"


        artigo2_titulo="Caminhos na Docência Universitária em Computação: compreendendo experiências e motivações"
        artigo2_autores="Pauleany Morais (IFRN/IFBA), Jean Rosa (ITI/LARSyS), Filipe Garrido (UFBA), Pietro Bompet
        (UFBA), Marlo Souza (UFBA)"
        artigo2_artigo_pesquisa=true

        artigo3_titulo="Semana do Professor de Computação da Educação Básica: Um Relato de Experiências dos desafios de
        se formar um professor"
        artigo3_autores="Edison Ishikawa (UnB), Jorge Fernandes (UnB), Maria de Fátima Brandão (UnB)"
        artigo3_relato_experiencia=true

        }}

      </div>
    </div>
  </div>
</div>