<div class="modal fade" id="sessao-tecnica-iv2-vi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas IV/2 e VI
          <small style="font-size: 0.7em;">| 16:30 - 17:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-IV/2) Diversidade na Computação"
        chair_sessao="Denise Hideko Goya (UFABC)"

 
        artigo1_titulo="Estudo exploratório avaliando a viabilidade do uso de aplicativo de exposição virtual para
        disseminação da
        importância das mulheres nas ciências"
        artigo1_autores="Patricia Amorim (ISERJ/FAETEC)"
        artigo1_relato_experiencia=true

        artigo2_titulo="Transforming STEM Education for Young Women through Heroic Narratives"
        artigo2_autores="Luis Costa (UFRJ), Carlos Eduardo Barbosa (UFRJ), Yuri Lima (UFRJ), Luciana Nascimento (UFRJ),
        Larissa
        Galeno (UFRJ), Ana Moura Santos (Universidade de Lisboa - Portugal), Geraldo Xexéo (UFRJ), Jano Souza (UFRJ)
        "
        artigo2_artigo_pesquisa =true

        artigo3_titulo="Oficinas de introdução ao pensamento computacional conduzidas por mulheres: uma contribuição
        para a
        representatividade feminina"
        artigo3_autores="Aline Vitória Santana Nunes (UFC), Deusiane Maia (UFC), Lauana Oliveira (UFC), Marcele Nicolly
        Sousa
        Cruz (UFC),
        Sofia Desidério (UFC), Valéria Pinheiro (UFC), Anna Beatriz Marques (UFC)"
        artigo3_relato_experiencia=true

        }}

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-VI) Interação entre academia e indústria de TI"
        chair_sessao="Jean Hauck (UFSC)"

 

        artigo1_titulo="Ensino de Processo de Software em Colaboração com Empresas: Uma Experiência Potencialmente Extensionista"
        artigo1_autores="Andrea Bordin (UFSC)"
        artigo1_relato_experiencia=true

        artigo2_titulo="Circuitão PET: Análise de benefícios gerados para a formação profissional dos alunos de Ciência da Computação e
        Engenharia de Software de uma Universidade"
        artigo2_autores="Arthus Girão (UFC), Gabriel Lima (UFC), Patricia de Vasconcelos (UFC), Edvan Cordeiro de Miranda (UFC)"
        artigo2_relato_experiencia=true

        artigo3_titulo=" Um Estudo Comparativo entre Ensino de Engenharia de Dados e Necessidades do Mercado Brasileiro"
        artigo3_autores="Tarsis Azevedo (UFAM), Altigran Soares da Silva (UFAM)"
        artigo3_ensaio=true

        }}

      </div>
    </div>
  </div>
</div>