<div class="modal fade" id="26-sessao-tecnica-vii-viii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas VII e VIII
          <small style="font-size: 0.7em;">| 15:00 - 16:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Currículos de Computação (ST-VII)"
          chair_sessao="Fabiane Benitti (UFSC)" 
          	
          artigo1_titulo="Curricularização da Extensão Universitária em Cursos de Computação: experiências e possibilidades"
          artigo1_autores="Amanda Melo, Aline Mello, Diego Kreutz, Maicon Bernardino"
          artigo1_curriculo=true
          		
          artigo2_titulo="Pensamento Computacional e Tecnologias Digitais na Formação de Professores: uma Análise Curricular de Cursos de Licenciatura"
          artigo2_autores="Bruno Barboza dos Santos, Taciana Pontual Falcão"
          artigo2_curriculo=true
		
          artigo3_titulo="Uma Análise da Curricularização da Extensão na Graduação em Computação: Possibilidades e Desafios"
          artigo3_autores="Andrea Bordin"
          artigo3_curriculo=true

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Ensino de Engenharia de Software (ST-VIII)"
          chair_sessao="Jean Hauck (UFSC)" 
          
          artigo1_titulo="Um Relato de Experiência sobre a Oferta da Disciplina “Desenvolvimento de Software Livre” para os Cursos de Ciência da Computação e Sistemas de Informação"
          artigo1_autores="Paulo Parreira Júnior, Julio Alves, Heitor Costa, Andre Freire, Igor Wiese"
          artigo1_relato_experiencia=true
          
          artigo2_titulo="Ensino, Aprendizagem e Uso Profissional da UML em Belo Horizonte e Região"		
          artigo2_autores="Ian Guelman, Edson OliveiraJr, Laerte Xavier"
          artigo2_artigo_pesquisa=true
		
          artigo3_titulo="Gamificando Aulas Invertidas no Ensino de Engenharia de Requisitos: Um Relato de Experiência"		
          artigo3_autores="Maria Elanne Rodrigues, Gabriela Nayara Duarte, Windson Viana, Anna Beatriz Marques, Necio Veras"
          artigo3_relato_experiencia=true

        }}
        
      </div>
    </div>
  </div>
</div>