<div class="modal fade" id="sessao-tecnica-iv1-v" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas IV/1 e V
          <small style="font-size: 0.7em;">| 15:00 - 16:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-IV/1) Diversidade na Computação"
        chair_sessao="Taciana Pontual (UFRPE)"




        artigo1_titulo="(In)visibilidade da Diversidade nos Cursos Presenciais de Computação e Tecnologias da Informação
        e Comunicação:
        Um Panorama das Universidades Públicas da Bahia"
        artigo1_autores="Claudia Pinto Pereira (UEFS), José Figuerêdo (UEFS), Thiago Alves (UEFS), Naiara Silva dos
        Santos
        (UESB),
        Nelma de Cássia Galvão (UFRB), Teófilo Galvão Filho (UFRB)"
        artigo1_artigo_pesquisa=true

        artigo2_titulo="Evasão nos Cursos de Graduação em Computação no Brasil"
        artigo2_autores="Ícaro Alvim (UEFS), Roberto Bittencourt (University of Victoria - Canadá), Rodrigo Duran
        (IFMS)"
        artigo2_artigo_pesquisa=true

        artigo3_titulo="Introduzindo formação humana no currículo de Ciência da Computação"
        artigo3_autores="Joao Carlos da Silva (UFRJ), Carla Delgado (UFRJ), Silvana Rossetto (UFRJ), Eldânae Nogueira
        Teixeira
        (UFRJ), Adriana Vivacqua (UFRJ), Juliana Valerio (UFRJ)"
        artigo3_curriculo=true

        }}

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-V) Materiais Didáticos e Recursos de apoio à educação em Computação"
        chair_sessao="Pedro Henrique Dias Valle (UFJF)"



        artigo1_titulo="Biblioteca para exemplificação de álgebra linear"
        artigo1_autores="Laura Moraes (UNIRIO), Joao Paixao (UFRJ), Bruno Cruz (UFRJ), Fernando França"
        artigo1_recurso_didatico=true

        artigo2_titulo="A Practical Digital Image Processing Course with morph.py"
        artigo2_autores="Francisco Zampirolli (UFABC), João Marcelo Borovina Josko (UFABC), Fernando Teubl (UFABC),
        Celso Setsuo Kurashima ((UFABC)"
        artigo2_recurso_didatico=true

        artigo3_titulo="Brewing Ideas: An Experience Report on the Use of World Café's to Spin on Collaborative Learning
        of Software
        Development Life Cycles"
        artigo3_autores="Jean Dantas (IFFarroupilha), Pedro Lucas Dornelles (IFFarroupilha), Rafael Parizi
        (IFFarroupilha)"
        artigo3_relato_experiencia=true

        }}

      </div>
    </div>
  </div>
</div>