<div id="29-lab-ideias-iii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Pensamento Computacional III (LI-VII)"
          chair_sessao="Maristela Holanda (UnB) | Presidente"
          chair_sessao2="Gilvan Durães (IF Baiano)" 
          
          artigo1_titulo="Explorando potencialidades do Pensamento Computacional de forma (des)plugada com estudantes da rede estadual de educação de Mato Grosso"
          artigo1_autores="Sabrina Sassi, Cristiano Maciel, Vinicius Pereira"
          
          artigo2_titulo="Uma abordagem de Multimodal Learning Analytics para identificação de habilidades de Pensamento Computacional"
          artigo2_autores="Anderson Gusmão, Rodrigo Rodrigues, Rozelma França"

          artigo3_titulo="Um Jogo Educacional para Ensino do Pensamento Computacional para Pessoas com Deficiência Intelectual"
          artigo3_autores="Taynara Dutra, Isabela Gasparini, Eleandro Maschio"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Programação Introdutória II (LI-VIII)"
          chair_sessao="Filipe Dwan Pereira (UFRR) | Presidente"
          chair_sessao2="David Ramos (IFAM)" 
          
          artigo1_titulo="Desenvolvimento baseado em testes com aplicação de critérios de teste no ensino introdutório de computação"
          artigo1_autores="Yuri Feitosa, Marco Aurélio Silva, José Augusto Fabri"
          
          artigo2_titulo="Loop Academic: uma Plataforma Web para o Ensino-Aprendizagem de Programação Introdutória"
          artigo2_autores="Dyego Souza, Jarbele Coutinho, Reudismam de Sousa"

          artigo3_titulo="Material Didático Interativo para a disciplina de Introdução à Programação de Computadores"
          artigo3_autores="Thiago Costa, Elaine Oliveira, Alexandre Passito, Marcos Augusto Pinto, Leandro Galvão, David Oliveira, Filipe Dwan"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Jogos e Gamificação (LI-IX)"
          chair_sessao="Wilk Oliveira (USP) | Presidente"
          chair_sessao2="Ismayle de Sousa Santos (UFC)" 

          artigo1_titulo="Um estudo sobre a relação entre os elementos de jogos e os tipos de usuários de sistemas gamificados"
          artigo1_autores="Rafaela Melo, Marcela Pessoa, Gabriel Haydar, David Oliveira, Elaine Oliveira, Leandro Galvão, Tayana Conte, Filipe Dwan"
          
          artigo2_titulo="Escola de Games em tempos de pandemia: como promover a equidade de acesso aos participantes?"
          artigo2_autores="Tamara Ferreira, Luciano Neto, Pedro Henrique Franco, Hugo Barreto, Lígia Silva, Ana Paula Boaventura"

          artigo3_titulo="Codebo: Um puzzle game educacional sobre Estrutura de Dados"
          artigo3_autores="Luan Gomes, Luis Gustavo Araújo"
        }}
    </div>
  </div>