<div id="29-painel-iv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Passado, Presente e Futuro da Educação em Computação</h1>
         
          <div class="row">
            <div class="col-4">
              <img src="/img/pessoas/christiane.jpg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. André Lemos <br>
                <b>Instituto Federal do Triângulo Mineiro (IFTM)</b>
              </span>
            </div>          
          </div>

        <!--
          <p style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: -15em;">
          <b>Resumo:</b> Na última década, a tecnologia da informação se tornou onipresente no nosso dia-a-dia. Isso tem impulsionado a inclusão do ensino de computação na Educação Básica como um tópico essencial, preparando os alunos para um mundo cada vez mais moldado pela tecnologia da informação. No entanto, mesmo começando a introduzir a computação na Educação Básica, desenvolvendo currículos e unidades instrucionais, ainda se observa poucos modelos de avaliação de aprendizagem neste contexto. Com base em um rico conjunto de exemplos reais em sala de aula da nossa iniciativa Computação na Escola, apresentarei nesta palestra várias alternativas para avaliar a aprendizagem de computação na Educação Básica, cobrindo a avaliação de conceitos e práticas de computação, bem como habilidades do século 21 relacionadas. A palestra também discute as qualidades exigidas das avaliações e busca identificar estratégias para criar avaliações de aprendizagem bem-sucedidas, além de destacar as implicações para pesquisa e sua aplicação na prática.
 
        </p>

        <p style="font-size: large; display: block; margin-bottom: 0.5em;">
          <b>Biografia:</b> Christiane Gresse von Wangenheim é professora do Departamento de Informática e Estatística (INE) da Universidade Federal de Santa Catarina (UFSC) e coordenadora do Grupo de Qualidade de Software (GQS), com foco em pesquisa científica, desenvolvimento e transferência de modelos, métodos e ferramentas de engenharia de software voltada ao ensino de computação. Ela também é coordenadora da iniciativa Computação na Escola, que visa levar o ensino de computação à Educação Básica. Anteriormente ela trabalhou na UNIVALI/São José e no Fraunhofer Institute for Experimental Software Engineering (Alemanha). 
        </p>
        -->
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Roberto Bittencourt (UEFS)<br>
          <b>Mediador</b>
        </span>
        
    </div>
  </div>