<div id="29-painel-iv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Passado, Presente e Futuro da Educação em Computação</h1>
         
          <div class="row">
            <div class="col-4">
              <img src="/img/pessoas/andre.jpeg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. André Lemos <br>
                <b>Instituto Federal do <br>Triângulo Mineiro (IFTM)</b>
              </span>
            </div>          
          </div>

          <div class="row" style="margin-top: -22em;">
            <div class="col-4">
              <img src="/img/pessoas/armando.png" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. José Armando Valente <br>
                <b>Universidade de Campinas (Unicamp)</b>
              </span>
            </div>          
          </div>

          <div class="row" style="margin-top: -22em;">
            <div class="col-4">
              <img src="/img/pessoas/blikstein.jpg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. Paulo Blikstein <br>
                <b>Universidade de Stanford (EUA)</b>
              </span>
            </div>          
          </div>

          <div class="row" style="margin-top: -22em;">
            <div class="col-4">
              <img src="/img/pessoas/roberto.jpg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. Roberto Bittencourt (UEFS)<br>
                <b>Mediador</b>
              </span>
            </div>          
          </div>

    </div>
  </div>