<div id="29-sessao-tecnica-ix-x" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Avaliação e Rubricas (ST-IX)"
          chair_sessao="Profa. Ana Liz Araújo (UFPB)"  
          
          artigo1_titulo="An Item Response Theory Analysis of Algorithms and Programming Concepts in App Inventor Projects"
          artigo1_autores="Nathalia Alves, Christiane Gresse von Wangenheim, Jean Hauck, Adriano Borgatto"
          
          artigo2_titulo="Uso de Rubricas em Pesquisas de Informática e Educação - Uma Revisão Sistemática da Literatura"
          artigo2_autores="Dirson Campos, Deller Ferreira"

          artigo3_titulo="Apresentação de uma Metodologia de Avaliação Baseada em Rubricas para Trabalhos de Conclusão de Curso no Curso de Engenharia da Computação"
          artigo3_autores="Veronica Quandt, Caroline Mendes, Eduardo Alberti, L. Bordignon, Felipe Przysiada, Leonardo Tavares"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Aprendizagem com Pares (ST-X)"
          chair_sessao="Prof. Wilkerson Andrade (UFCG)"  
          
          artigo1_titulo="Apoiando a Revisão por Pares no Ensino Remoto de Modelagem de Software"
          artigo1_autores="Romualdo Costa, Alberto Castro, Bruno Gadelha"
          
          artigo2_titulo="Impacto do Uso da Peer Instruction no Ensino Superior de Lógica para Computação no Brasil"
          artigo2_autores="Esdras Bispo Jr., Rosemara Perpetua Lopes"

          artigo3_titulo="A Experiência da Monitoria de Algoritmos e Programação em Cursos de Engenharia na Perspectiva dos Monitores"
          artigo3_autores="José Figuerêdo, Jussara Gomes Machado, Samuel Lima, Cláudio Sérgio da Silva Cerqueira, Claudia Pinto Pereira"
        }}

    </div>
  </div>