<div id="29-sessao-tecnica-xi-xii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          sessao=true
          
          titulo_sessao="Formação de Professores (ST-XI)"
          chair_sessao="Prof. Adão Cambraia (IFFar)"  
          
          artigo1_titulo="Computational Thinking for All: What Does It Mean for Teacher Education in Brazil?"
          artigo1_autores="Taciana Pontual Falcão"
          artigo1_ensaio=true
          
          artigo2_titulo="Formação Continuada de Professores em Pensamento Computacional: Um Relato de Experiência do Programa Norte-rio-grandense de Pensamento Computacional"
          artigo2_autores="Jeanne da Silva Barbosa Bulcão, Charles A. G. Madeira, Carlos Artur Guimarães, Crisiany Alves Sousa"
          artigo2_relato_experiencia=true

          artigo3_titulo="|SEM VÍDEO DE APRESENTAÇÃO| Interdisciplinaridade no ensino de física e computação na educação básica: relato de experiência de um curso de formação inicial e continuada sob a perspectiva na construção de experimentos"
          artigo3_autores="Thiago Amorim, Petrus Barros, Veruska Machado"
          artigo3_relato_experiencia=true
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          sessao=true
          
          titulo_sessao="Recursos e Ambientes Educacionais 2 (ST-XII)"
          chair_sessao="Prof. Leandro Galvão (UFAM)"  
          
          artigo1_titulo="Avaliação do League of Class: uma plataforma de gamificação estrutural inspirada em League of Legends"
          artigo1_autores="Fernanda Pires, Rebeca Veiga Assunção, Marcela Pessoa"
          artigo1_ambiente_plataforma=true
          
          artigo2_titulo="WebJuvia: Simulador Web de Apoio ao Ensino de Gerência de Memória na Disciplina de Sistemas Operacionais"
          artigo2_autores="Evander Oliveira Silva, Warley Muricy Valente Junior, João Victor Costa Carmona"
          artigo2_ambiente_plataforma=true

          artigo3_titulo="Laboratório Digital à Distância: Percepções de Docentes e Discentes"
          artigo3_autores="Felipe Almeida, Victor Hayashi, Reginaldo Arakaki, Edson Midorikawa, Paulo Sérgio Cugnasca, Sergio Canovas"
          artigo3_ambiente_plataforma=true
        }}

    </div>
  </div>