<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/css/simposio/2023/prog_educomp/manha.css">
  <title>{{titulo}}</title>

  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/bd98f4183e.js" crossorigin="anonymous"></script>
</head>
<body style="margin-top: -9em; background-color:rgb(224, 247, 199);">

  {{> simposio/2023/pt-BR/inside-header}}

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">

    <div class="cd-schedule__timeline">
      <ul>
        <li><span>09:00</span></li>
        <li><span>09:20</span></li>
        <li><span>09:40</span></li>
        <li><span>10:00</span></li>
        <li><span>10:20</span></li>
        <li><span>10:40</span></li>
        <li><span>11:00</span></li>
        <li><span>11:20</span></li>
        <li><span>11:40</span></li>
        <li><span>12:00</span></li>
        <li><span>12:20</span></li>
        <li><span>12:40</span></li>
        <li><span>13:00</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
      <ul>
        <!-- Segunda (24)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Segunda (24)</span></div>

          <ul>

          </ul>
        </li>

        <!-- Terça (25)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Terça (25)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="12:00"  data-content="24-minicurso-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Minicurso I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Google Colab para Ensino de Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="12:00" data-end="13:00"  data-content="25-intervalo-i" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

          </ul>
        </li>

        <!-- Quarta (26)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quarta (26)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="12:00"  data-content="26-minicurso-ii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Minicurso II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Recursos Educacionais Abertos para Apoio ao Ensino de [...]
                </em>
              </a>
            </li>

             <li class="cd-schedule__event">
              <a data-start="10:00" data-end="11:30" data-content="26-painel-i" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Painel I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Da BNCC à BNCC Computação: Histórico, Afinidades e Desafios na Implementação de um Currículo Único 
                </em>
              </a>
            </li>

             <li class="cd-schedule__event">
              <a data-start="12:00" data-end="13:00"  data-content="26-intervalo-ii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

          </ul>
        </li>

        <!-- Quinta (27)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quinta (27)</span></div>

          <ul>

           <li class="cd-schedule__event">
              <a data-start="10:00" data-end="11:30" data-content="27-painel-iii" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Painel II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Como Enfrentar o Desengajamento dos Estudantes de Computação da Educação Básica Utilizando Gamificação? 
                </em>
              </a>
            </li>

             <li class="cd-schedule__event">
              <a data-start="12:00" data-end="13:00"  data-content="27-intervalo-iii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

          </ul>
        </li>

        <!-- Sexta (28)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sexta (28)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="10:00" data-end="11:30" data-content="28-painel-iii" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Painel III</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Curricularização da Extensão: Experiências e Propostas para os Cursos Superiores de Computação 
                </em>
              </a>
            </li>  

             <li class="cd-schedule__event">
              <a data-start="12:00" data-end="13:00"  data-content="28-intervalo-iv" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

          </ul>
        </li>

        <!-- Sábado (29)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sábado (29)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="12:00"  data-content="29-wtd" data-event="event-1" href="#0">
                <em class="cd-schedule__name">WTD-EduComp</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  II Workshop de Teses e Dissertações em Educação em Computação
                </em>
              </a>
            </li>

             <li class="cd-schedule__event">
              <a data-start="12:00" data-end="13:00"  data-content="29-intervalo-v" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </div>

    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>

        <div class="cd-schedule-modal__header-bg"></div>
      </header>

      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>

      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

  {{> simposio/2022/pt-BR/programacao/24/wtd-i}}
  {{> simposio/2022/pt-BR/programacao/24/intervalo-i}}
  {{> simposio/2022/pt-BR/programacao/24/wtd-ii}}
  {{> simposio/2022/pt-BR/programacao/24/intervalo-ii}}
  {{> simposio/2022/pt-BR/programacao/24/wtd-iii}}

  {{> simposio/2022/pt-BR/programacao/25/abertura}}
  {{> simposio/2022/pt-BR/programacao/25/intervalo-i}}
  {{> simposio/2022/pt-BR/programacao/25/relic}}
  {{> simposio/2022/pt-BR/programacao/25/painel-i}}
  {{> simposio/2022/pt-BR/programacao/25/intervalo-ii}}
  {{> simposio/2022/pt-BR/programacao/25/painel-ii}}
  {{> simposio/2022/pt-BR/programacao/25/intervalo-iii}}
  {{> simposio/2022/pt-BR/programacao/25/apres-cultural}}
  {{> simposio/2022/pt-BR/programacao/25/encerramento-i}}

  {{> simposio/2022/pt-BR/programacao/26/palestra-i}}
  {{> simposio/2022/pt-BR/programacao/26/intervalo-i}}
  {{> simposio/2022/pt-BR/programacao/26/sessao-tecnica-i-ii}}
  {{> simposio/2022/pt-BR/programacao/26/intervalo-ii}}
  {{> simposio/2022/pt-BR/programacao/26/sessao-tecnica-iii-iv}}
  {{> simposio/2022/pt-BR/programacao/26/wtd-intervalo-iii}}
  {{> simposio/2022/pt-BR/programacao/26/lab-ideias-i-ii}}
  {{> simposio/2022/pt-BR/programacao/26/socializacao}}

  {{> simposio/2022/pt-BR/programacao/27/painel-iii}}
  {{> simposio/2022/pt-BR/programacao/27/intervalo-i}}
  {{> simposio/2022/pt-BR/programacao/27/sessao-tecnica-v-vi}}
  {{> simposio/2022/pt-BR/programacao/27/intervalo-ii}}
  {{> simposio/2022/pt-BR/programacao/27/sessao-tecnica-vii-viii}}
  {{> simposio/2022/pt-BR/programacao/27/wtd-intervalo-iii}}
  {{> simposio/2022/pt-BR/programacao/27/lab-ideias-iii-iv}}
  {{> simposio/2022/pt-BR/programacao/27/socializacao}}

  {{> simposio/2022/pt-BR/programacao/28/palestra-ii}}
  {{> simposio/2022/pt-BR/programacao/28/intervalo-i}}
  {{> simposio/2022/pt-BR/programacao/28/sessao-tecnica-ix-x}}
  {{> simposio/2022/pt-BR/programacao/28/intervalo-ii}}
  {{> simposio/2022/pt-BR/programacao/28/sessao-tecnica-xi-xii}}
  {{> simposio/2022/pt-BR/programacao/28/wtd-intervalo-iii}}
  {{> simposio/2022/pt-BR/programacao/28/lab-ideias-v-vi}}
  {{> simposio/2022/pt-BR/programacao/28/socializacao}}

  {{> simposio/2022/pt-BR/programacao/29/assembleia}}
  {{> simposio/2022/pt-BR/programacao/29/intervalo-i}}
  {{> simposio/2022/pt-BR/programacao/29/sessao-tecnica-xiii-xiv}}
  {{> simposio/2022/pt-BR/programacao/29/intervalo-ii}}
  {{> simposio/2022/pt-BR/programacao/29/encerramento-ii}}
  {{> simposio/2022/pt-BR/programacao/29/socializacao}}

  <script src="/js/prog_educomp/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="/js/prog_educomp/main.js"></script>

  <script>

    function filtrar(valor) {
      var tagEm = document.getElementsByTagName('em')
      for (var i = 0; i < tagEm.length; i++) {
        if (!(tagEm[i].innerHTML.includes(valor)) ) {
          console.log(tagEm[i].innerHTML)
          tagEm[i].parentElement.style.display = 'none'
        } else {
          tagEm[i].parentElement.style.display = 'block'
        }
      }
    }
  </script>

</body>
</html>
