<!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        <span style="font-size: 1.2em; padding-right: 1.6em;">
          Realização: 
          <a href="http://www.sbc.org.br" target="_blank">
            <img src="/img/sbc.jpg" style="height: 3.5rem; padding-left: 0.6em;"/> 
          </a>
          <a href="http://www.educompbrasil.org" target="_blank" style="padding-right: 2em;">
            <img src="/img/logo-giec.png" style="height: 3rem; padding-left: 0.6em;"/>
          </a>
          Organização:
          <a href="https://portalufj.jatai.ufg.br/" target="_blank">
            <img src="/img/logo-ufj.png" style="height: 3rem; padding-left: 0.6em;"/>
          </a>
        </span>
      <span style="display: block; margin-top: 1em;">
        Equipe EduComp 2021
      </span> 
      </p>
    </div>
    <!-- /.container -->
  </footer>