<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/simposio/2021/">
        <img src="/img/logo-educomp.png" style="height: 1.2rem; padding-left: 0.6em;"/>
      </a>
      <a href="http://www.sbc.org.br" target="_blank">
        <!--<span style="color: white; padding-left: 1.6em;"> 
          Realização 
        </span>-->
        <img src="/img/sbc.jpg" style="height: 2.5rem; padding-left: 0.6em;"/> 
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if sobre}}
              active
            {{/if}}
            " href="/simposio/2021/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if topicos}}
              active
            {{/if}}
            " href="/simposio/2021/topicos-de-interesse">Tópicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if trabalhos}}
              active
            {{/if}}
            " href="/simposio/2021/trabalhos">Trabalhos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if datas}}
              active
            {{/if}}
            " href="/simposio/2021/datas">Datas Importantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if prog}}
              active
            {{/if}}
            " href="/simposio/2021/programacao">Programação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if inscricoes}}
              active
            {{/if}}
            " href="/simposio/2021/inscricoes">Inscrições</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if equipe}}
              active
            {{/if}}
            " href="/simposio/2021/equipe">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger 
            {{~#if contato}}
              active
            {{/if}}
            " href="/simposio/2021/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>