{{> simposio/2024/pt-BR/inside-header}}

<section id="datas" style="background-color:white;">
  <div class="container" style=" font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <div class="container-fluid mb-5">
          <h2> Artigos</h2>
          <br>
          <ul>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Registro de título, pessoas autoras e resumo do artigo no JEMS</strong>:
              <!--<s>09/10/2023</s>--> <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 16 de outubro de 2023
              </span>
            </li>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio de artigo completo</strong>:
              <!-- <s>16/10/2023</s>--> <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 23 de outubro de 2023
              </span>
            </li>

            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Notificação de aceitação</strong>:
              <!--<s>17/10/2022</s>--> <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 15 de dezembro de 2023
              </span>

              <!--| <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Submissão da versão final</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 05 de fevereiro de 2024
              </span>
            </li>

          </ul>
        </div>

        <div class="container-fluid mb-5">
          <h2 class="h2">Minicursos</h2>
          <br>
          <ul>
            <!--
            <li class="lead mb-2" style="font-size: 14pt">
                <strong>Envio da proposta</strong>:
                <s>17/10/2022</s> <br>
                  <span class="px-2" style="background-color: #1D1D3B; color: white;">
                      até 24 de outubro de 2022
                  </span>
            </li>
            <li class="lead mb-2" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>:
                <s>09/12/2022</s> <br>
                  <span class="px-2" style="background-color: #1D1D3B; color: white;">
                  até 20 de dezembro de 2022
                  </span>
            </li>
            <li class="lead mb-2" style="font-size: 14pt">
                <strong>Submissão da versão final da proposta</strong>:
                <span>
                  até 23 de janeiro de 2023
                  </span>
            </li>
            <li class="lead mb-2" style="font-size: 14pt">
                <strong>Disponibilização dos materiais do minicurso</strong>:
                <span>
                  até 23 de janeiro de 2023
                  </span>
            </li>
-->

            <!--
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio de resumo (Abstract)</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 10 de novembro de 2023
              </span>

              -->
            </li>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio de artigo completo</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 24 de março de 2024
              </span>
            </li>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Notificação de aceitação</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 05 de abril de 2024
              </span>
            </li>
          </ul>
        </div>

        <div class="container-fluid mb-5">
          <h2 class="h2">Laboratório de Ideias</h2>
          <br>
          <ul>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio dos Trabalhos</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 26 de fevereiro de 2024
              </span>
            </li>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Notificação de Aceitação</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 18 de março de 2024
              </span>
            </li>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio da Versão Final</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                até 25 de março de 2024
              </span>
            </li>
          </ul>
        </div>

        <div class="container-fluid mb-5">
          <h2 class="h2">CTD - Concurso de Teses e Dissertações</h2>
          <br>
          <ul>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio dos Trabalhos</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                11 de março de 2024
              </span>
            </li>

            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Resultado da Etapa 1</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                15 de março de 2024

              </span>
            </li>

            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Webinar</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                22 de março de 2024

              </span>
            </li>

            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Notificação de Aceitação</strong>:<br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                10 de abril de 2024

              </span>
            </li>

            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio da Versão Final</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                19 de abril de 2024

              </span>
            </li>
          </ul>
        </div>

        <div class="container-fluid mb-5">
          <h2 class="h2">WTD - Workshop de Teses e Dissertações</h2>
          <br>
          <ul>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio dos Trabalhos</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                24 de março de 2024
              </span>
            </li>

            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Resultado</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                05 de abril de 2024

              </span>
            </li>

          </ul>
        </div>

        <div class="container-fluid mb-5">
          <h2 class="h2">Mesas Temáticas</h2>
          <br>
          <ul>
            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Envio dos Trabalhos</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                24 de março de 2024
              </span>
            </li>

            <li class="lead mb-4" style="font-size: 14pt">
              <strong>Resultado</strong>: <br>
              <span class="px-2 mt-2" style="background-color: #1D1D3B; color: white;">
                05 de abril de 2024

              </span>
            </li>

          </ul>
        </div>








        <!--
        <h2 class="h2">Laboratório de Ideias</h2>
        <br>
        <ul>
          <li class="lead mb-2" style="font-size: 14pt">
            <strong>Envio do resumo e vídeo</strong>:
            <s>11/12/2022</s> | <s>10/01/2023</s> <br>
            <span class="px-2 " style="background-color: #58b24d; color: white;">
              até 30 de janeiro de 2023
            </span>
          </li>
          <li class="lead mb-2" style="font-size: 14pt">
            <strong>Notificação de aceitação</strong>:
            <s>14/02/2023</s> | <s>20/02/2023</s> <br>
            <span class="px-2" style="background-color: #58b24d; color: white;">
              até 13 de março de 2023
            </span><br>
          </li>
          <li class="lead mb-2" style="font-size: 14pt">
            <strong>Submissão da versão final</strong>:
            <s>07/03/2023</s> <br>
            <span class="px-2" style="background-color: #58b24d; color: white;">
              até 27 de março de 2023
            </span>
          </li>
        </ul>





        
          <h2 class="h2">Workshop de Teses e Dissertações (WTD)</h2> 
          <br>
          <ul>
            <li class="lead mb-2" style="font-size: 14pt">
                <strong>Submissão de Trabalhos</strong>:
                <s>18/12/2022</s> <br>
                <span class="px-2" style="background-color: #58b24d; color: white;">
                      até 15 de janeiro de 2023
                  </span>
            </li>
            <li class="lead mb-2" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>:
                <span>
                  até 14 de fevereiro de 2023
                  </span>
            </li>
            <li class="lead mb-2" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>:
                <span>
                  até 14 de março de 2023
                  </span>
            </li>
          </ul>
          
          <h2 class="h2">Painéis</h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão de Propostas</strong>:
                <s>27/02/2023</s> <br>
                <span class="px-2" style="background-color: #58b24d; color: white;">
                      até 06 de março de 2023
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>:
                <span>
                  até 20 de março de 2023
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>:
                <span>
                  até 27 de março de 2023
                </span>
            </li>
          </ul>

          <h2 class="h2">Lançamento de Livros</h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão de Propostas</strong>:
                <s>20/03/2023</s> <br>
                <span class="px-2" style="background-color: #58b24d; color: white;">
                      até 22 de março de 2023
                  </span>
            </li>
            
            <li class="lead" style="font-size: 14pt">
                <strong>Quitação da Inscrição no EduComp 2023</strong>:
                <span>
                  até 20 de março de 2023
                </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de Aceitação</strong>:
                <span>
                  até 03 de abril de 2023
                  </span>
            </li>
          </ul>
-->
      </div>
    </div>
  </div>
</section>