{{> simposio/2024/pt-BR/inside-header}}

<section id="inscricoes" style="background-color:rgb(255, 255, 255);">
  <div class="container" style="font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <p class="lead  mb-4" style="text-align: justify; font-size: 14pt">
          <strong>Coordenação:</strong> Marcia Kniphoff, Maria Schorr, Diego Bagestan, Samanta Marques<br>
          <strong>Contatos:</strong> mcruz@unisc.br, mclaudetesw@univates.br,<br> diego.bagestan@educteutonia.com.br,
          samanta.marques@domalberto.edu.br
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Historicamente, o Workshop da Licenciatura em Computação (WLIC), que teve sua primeira edição em 2006, se
          tornou o principal espaço de discussão para as Licenciaturas em Computação e, especialmente, da articulação de
          ações necessárias para enfrentar os desafios vivenciados por esses cursos. Quatro outras edições ocorreram
          posteriormente: em 2010, em João Pessoa-PB; em Recife-PE em 2017; em Fortaleza-CE em 2018 e 2019, em
          Brasília-DF, em todas como evento integrante do Congresso Brasileiro de Informática na Educação (CBIE).
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Com o advento do Simpósio Brasileiro de Educação em Computação (EduComp), o formato do WLIC foi rediscutido
          passando a se chamar Fórum das Licenciaturas em Computação (ForLic). Em uma primeira edição, em 2021,
          perspectivas e desafios da formação de professores de Computação foram foco de discussões, junto a concepções
          e políticas para o ensino de Computação na Educação Básica. A Rede da Licenciatura em Computação (ReLic)
          também foi formada, constituindo-se em um espaço de fortalecimento dos cursos da área, como também de
          articulações entre diferentes atores interessados na formação de professores em Computação.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Em 2024, a quarta edição do evento ampliará as discussões tidas na anterior, evidenciando, especialmente, os
          campos de atuação dos egressos da Licenciatura em Computação, e seu potencial impacto no ensino de Computação
          na Educação Básica no Brasil.
        </p>

        <div class="mx-auto mt-5 mb-5">

          <h3 class="text-center  font-weight-bold"> Tema: BNCC Computação - ações para implantação nas escolas
            brasileiras
          </h3>
        </div>

        <div class="list-group">


          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-4">Painel I</h5>
              <small class="text-muted"></small>
            </div>

            <ul>
              <li>
                <p class="mb-3">BNCC Computação:
                  normatizações e currículo</p>
              </li>
              <ol>
                <li><small class="text-muted">Resolução 379 -
                    Complemento do Rio
                    Grande do Sul à
                    BNCC Computação -
                    e Edital Professor do
                    Amanhã (RS)
                  </small></li>
                <li> <small class="text-muted">Concursos Públicos
                    e Contratos para
                    Professores de
                    Computação no
                    Município de Santa
                    Cruz do Sul
                  </small></li>
                <li>
                  <small class="text-muted">Currículo e Planos
                    de Aula a partir da
                    BNCC Computação
                  </small>
                </li>
              </ol>




            </ul>


          </div>


          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-4">Painel II</h5>
              <small class="text-muted"></small>
            </div>
            <ul>
              <li>
                <p class="mb-3">Neurociência
                  Cognitiva, o
                  Aprendizado de
                  Computação e
                  Relatos de
                  Experiências</p>
              </li>
              <li>
                <p class="mb-3">Gestão e
                  Empreendedorismo na Licenciatura em
                  Computação
                </p>

              </li>

              <li>
                <p class="mb-3">Relatos de
                  Experiências - aulas de
                  Computação nas Escolas
                  de EB
                </p>
              </li>
              <small class="text-muted">O Painel II faz um apanhado
                de temáticas relevantes ao
                currículo de Licenciatura em
                Computação.</small>
            </ul>




          </div>

          <div class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-4">Painel III</h5>
              <small class="text-muted"></small>
            </div>

            <ul>
              <li>
                <p class="mb-3">Mestrado
                  Profissionalizante
                  ProfComp/Capes: Como?
                  Por quê? Para quem?
                </p>
              </li>
              <small class="text-muted">O Painel III aborda a
                oportunidade de formação
                continuada para professores
                da Educação Básica,
                visando o preparo para o
                ensino de Computação na
                escola.</small>
          </div>
          </ul>




        </div>
        <!--
        <div class="container">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nome</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Nathalia da Cruz Alves</td>
                    <td>UFSC</td>
                    <td>nathalia.alves@posgrad.ufsc.br</td>
                  </tr>

                </tbody>
              </table>
            </div>


          </div>
        </div>
-->
      </div>
    </div>
  </div>
</section>