<style>
  .td1 {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

{{> simposio/2024/pt-BR/inside-header}}

<section id="inscricoes" style="background-color:white;">
  <div class="container" style=" font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-8 mx-auto">

      </div>
      <div class="col-lg-8 mx-auto">


        <a href="#inscricao-promocional">
          <img src="/img/simposio/2023/banner_COMBO.png" class="img-fluid mb-4"
            alt="Banner incentivando as inscrições no evento pela opção do COMBO SBC.">
        </a>

        <ol class="lead" style="text-align: justify; font-size: 14pt; border-left: 10px #3BBFF0 solid">
          <li>
            <a href="#inscricao-promocional">
              Inscrição Promocional
            </a>
          </li>
          <li>
            <a href="#valores-inscricao">
              Valores de Inscrição
            </a>
          </li>
          <li>
            <a href="#formas-pagamento">
              Formas de Pagamento
            </a>
          </li>
          <li>
            <a href="#inscricao-autores">
              Inscrição para Autores
            </a>
          </li>
          <li>
            <a href="#politica-cancelamento">
              Política de Cancelamento
            </a>
          </li>
        </ol>

        <br>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Esse evento é realizado pela <b>Sociedade Brasileira de Computação – SBC</b>. A SBC é uma associação civil,
          sem fins lucrativos, que estimula o desenvolvimento tecnológico e científico do país e é a maior sociedade de
          computação da América do Sul. Os valores de inscrição para o EduComp 2024 estão listados abaixo.
        </p>

        <p class="lead mb-5" style="text-align: justify; font-size: 14pt">
          Destacamos que estudantes e profissionais não-associados à SBC podem se associar (ou renovar a associação) no
          processo de inscrição. Inscrever-se com associação à SBC é a opção mais vantajosa para os não associados à
          SBC. Confira os benefícios de se associar à <a href="http://www.sbc.org.br" target="_blank">SBC</a>.
        </p>

        <a name="inscricao-promocional">
          <h2 style="padding-top: 140px; margin-top: -140px;">
            1. Inscrição Promocional
          </h2>
        </a>

        <p class="lead mt-3" style="text-align: justify; font-size: 14pt">
          Participantes não associados à SBC ou associados com anuidade próxima do vencimento podem se associar ou
          renovar a associação junto com a inscrição, escolhendo as categorias COMBO com um desconto no valor da
          inscrição.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          As categorias COMBO são a opção mais vantajosa para os não associados à SBC, pois os valores de inscrições são
          menores do que as categorias sem combo e incluem a associação à SBC.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">Se associar à SBC é uma forma de tornar a SBC ainda
          mais forte para representar a nossa área de atuação junto aos diversos setores. Que tal se juntar a nós?
          Outros motivos para ser associado à SBC são:</p>
        <ol>
          <li class="lead" style="font-size: 14pt">Acesso à rede sem fio Eduroam (somente para pessoa física);</li>
          <li class="lead" style="font-size: 14pt">Acesso ao FileSender da RNP;</li>
          <li class="lead" style="font-size: 14pt">Desconto em inscrições nos mais de 40 eventos realizados anualmente
            pela SBC;</li>
          <li class="lead" style="font-size: 14pt">Desconto de no mínimo 15% em inscrições nos eventos apoiados pela
            SBC;</li>
          <li class="lead" style="font-size: 14pt">Valor de inscrição diferenciado no POSCOMP;</li>
          <li class="lead" style="font-size: 14pt">Acesso aos estudos realizados pela SBC e destinados a órgãos públicos
            ou privados, expressando posições políticas da Sociedade.</li>
        </ol>

        <p class="lead mb-5" style="text-align: justify; font-size: 14pt">Confira os benefícios específicos de cada
          categoria no site da <a href="http://www.sbc.org.br/associe-se-2/269-beneficios">SBC</a>.
        </p>

        <a name="valores-inscricao">
          <h2 style="padding-top: 140px; margin-top: -140px;">
            2. Valores de Inscrição
          </h2>
        </a>

        <h3 class="mt-5">Estudante (Educação Básica e Graduação)</h3>
        <hr>
        <table class="table table-striped">
          <tr>
            <td>
              <h4><b>Descrição</b></h4>
            </td>
            <td>
              <h4><b>Até 15/02
                </b></h4>
            </td>
            <td>
              <h4><b>Até 06/03</b></h4>
            </td>
            <td>
              <h4><b>Até 27/04</b></h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Estudante associado à SBC com anuidade vigente</h4>
            </td>
            <td>
              <h4>R$ 20,00</h4>
            </td>
            <td>
              <h4>R$ 25,00</h4>
            </td>
            <td>
              <h4>R$ 30,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no
                evento + renovação da associação à SBC)</h4>
            </td>
            <td>
              <h4>R$ 51,00</h4>
            </td>
            <td>
              <h4>R$ 56,00</h4>
            </td>
            <td>
              <h4>R$ 61,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento +
                associação à SBC)</h4>
            </td>
            <td>
              <h4>R$ 51,00</h4>
            </td>
            <td>
              <h4>R$ 56,00</h4>
            </td>
            <td>
              <h4>R$ 61,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Estudante não associado à SBC (Somente inscrição no evento)</h4>
            </td>
            <td>
              <h4>R$ 53,00</h4>
            </td>
            <td>
              <h4>R$ 59,00</h4>
            </td>
            <td>
              <h4>R$ 64,00</h4>
            </td>
          </tr>
        </table>
        <br>

        <h3>Estudante (Pós-Graduação)</h3>
        <hr>
        <table class="table table-striped">
          <tr>
            <td>
              <h4><b>Descrição</b></h4>
            </td>
            <td>
              <h4><b>Até 15/02
                </b></h4>
            </td>
            <td>
              <h4><b>Até 06/03</b></h4>
            </td>
            <td>
              <h4><b>Até 27/04</b></h4>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <h4>Estudante de pós-graduação associado à SBC com anuidade vigente</h4>
            </td>
            <td>
              <h4>R$ 40,00</h4>
            </td>
            <td>
              <h4>R$ 50,00</h4>
            </td>
            <td>
              <h4>R$ 60,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO
                inscrição no evento + renovação da associação à SBC)</h4>
            </td>
            <td>
              <h4>R$ 165,00</h4>
            </td>
            <td>
              <h4>R$ 175,00</h4>
            </td>
            <td>
              <h4>R$ 185,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO
                inscrição no evento + associação à SBC)</h4>
            </td>
            <td>
              <h4>R$ 165,00</h4>
            </td>
            <td>
              <h4>R$ 175,00</h4>
            </td>
            <td>
              <h4>R$ 185,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</h4>
            </td>
            <td>
              <h4>R$ 169,00</h4>
            </td>
            <td>
              <h4>R$ 180,00</h4>
            </td>
            <td>
              <h4>R$ 191,00</h4>
            </td>
          </tr>
        </table>
        <br>

        <h3>Professor (Educação Básica)</h3>
        <hr>
        <table class="table table-striped">
          <tr>
            <td>
              <h4><b>Descrição</b></h4>
            </td>
            <td>
              <h4><b>Até 15/02
                </b></h4>
            </td>
            <td>
              <h4><b>Até 06/03</b></h4>
            </td>
            <td>
              <h4><b>Até 27/04</b></h4>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <h4>Professor de educação básica associado à SBC com anuidade vigente</h4>
            </td>
            <td>
              <h4>R$ 40,00</h4>
            </td>
            <td>
              <h4>R$ 50,00</h4>
            </td>
            <td>
              <h4>R$ 60,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Professor de educação básica associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO
                inscrição no evento + renovação da associação à SBC)</h4>
            </td>




            <td>
              <h4>R$ 165,00</h4>
            </td>
            <td>
              <h4>R$ 175,00</h4>
            </td>
            <td>
              <h4>R$ 185,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Professor de educação básica não associado ou com associação não vigente à SBC (Melhor opção: COMBO
                inscrição no evento + associação à SBC)</h4>
            </td>

            <td>
              <h4>R$ 165,00</h4>
            </td>
            <td>
              <h4>R$ 175,00</h4>
            </td>
            <td>
              <h4>R$ 185,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Professor de educação básica não associado à SBC (Somente inscrição no evento)</h4>
            </td>
            <td>
              <h4>R$ 169,00</h4>
            </td>
            <td>
              <h4>R$ 180,00</h4>
            </td>
            <td>
              <h4>R$ 191,00</h4>
            </td>
          </tr>
        </table>
        <br>

        <h3>Profissional/Efetivo</h3>
        <hr>
        <table class="table table-striped">
          <tr>
            <td>
              <h4><b>Descrição</b></h4>
            </td>
            <td>
              <h4><b>Até 15/02
                </b></h4>
            </td>
            <td>
              <h4><b>Até 06/03</b></h4>
            </td>
            <td>
              <h4><b>Até 27/04</b></h4>
            </td>
          </tr>
          <tr>
            <td class="td1">
              <h4>Profissional associado à SBC com anuidade vigente</h4>
            </td>
            <td>
              <h4>R$ 60,00</h4>
            </td>
            <td>
              <h4>R$ 80,00</h4>
            </td>
            <td>
              <h4>R$ 100,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no
                evento + renovação da associação à SBC)</h4>
            </td>
            <td>
              <h4>R$ 416,00</h4>
            </td>
            <td>
              <h4>R$ 436,00</h4>
            </td>
            <td>
              <h4>R$ 456,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no
                evento + associação à SBC)</h4>
            </td>
            <td>
              <h4>R$ 416,00</h4>
            </td>
            <td>
              <h4>R$ 436,00</h4>
            </td>
            <td>
              <h4>R$ 456,00</h4>
            </td>
          </tr>

          <tr>
            <td class="td1">
              <h4>Profissional não associado à SBC (Somente inscrição no evento)</h4>
            </td>
            <td>
              <h4>R$ 422,00</h4>
            </td>
            <td>
              <h4>R$ 444,00</h4>
            </td>
            <td>
              <h4>R$ 466,00</h4>
            </td>
          </tr>
        </table>

        <h3>Verificação da Categoria Escolhida</h3>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Será exigido no momento da inscrição no <a href="https://centraldesistemas.sbc.org.br/ecos/educomp2024"
            target="_blank">
            sistema ECOS</a>, para as categorias que necessitam de algum tipo comprovação, o
          <i>upload</i> que ateste a categoria escolhida. A verificação desse documento pode levar até 1 dia útil. Logo,
          sugerimos que para evitar algum transtorno não deixe para o último dia da faixa de inscrição. Somente após a
          validação pela equipe da SBC, as formas de pagamento serão liberadas. O inscrito receberá e-mails informativos
          em todas as etapas da evolução da inscrição dele no EduComp 2024.
        </p>

        <p class="lead mb-5" style="text-align: justify; font-size: 14pt">
          Instituições associadas à SBC (associação institucional) possuem cinco inscrições gratuitas e 50% de desconto
          para outras cinco inscrições, a escolher, de qualquer evento realizado pela SBC, exceto o Congresso da SBC.
          Entretanto, a categoria de inscrição com Combo (inscrever-se no evento + associação à SBC) não pode ser usada
          para isenção ou desconto. O associado institucional tem, no período de 365 dias, o direito de utilizar o
          benefício em 10 inscrições distintas, sendo limitado a 5 participantes por evento. Isso quer dizer que não é
          possível usar 10 inscrições em um mesmo evento, devendo ser distribuídas em pelo menos 2 eventos. O inscrito
          que utilizar o benefício da isenção institucional e tiver publicação no evento, deverá pagar a taxa de
          publicação.
        </p>

        <a name="formas-pagamento">
          <h2 style="padding-top: 140px; margin-top: -140px;">
            3. Formas de Pagamento
          </h2>
        </a>

        <p class="lead mt-3" style="text-align: justify; font-size: 14pt">
          O pagamento das inscrições poderá ser realizado por meio de boleto bancário, cartão de crédito, débito em
          conta do Banco do Brasil, nota de empenho e faturamento, através do sistema de inscrições da SBC, porém os
          pagamentos por débito e boleto serão fechados dia 15/04/2024. Após essa data será possível pagar por cartão de
          crédito, nota de empenho e faturamento pelo sistema de inscrições.
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
          <i>Inscrições por Nota de Empenho e Faturamento:</i> O participante deverá acessar o <a
            href="https://centraldesistemas.sbc.org.br/ecos/educomp2024" target="_blank">
            sistema ECOS</a> e realizar a
          inscrição, selecionando a forma de pagamento "nota de empenho" ou "faturamento" e clicar em pagar. O sistema
          fornecerá as informações necessárias que devem constar na nota de empenho ou no pedido de faturamento.
        </p>

        <p class="lead mb-5" style="text-align: justify; font-size: 14pt">
          <i>Observação:</i> Os pagamentos por cartão de crédito, nota de empenho e faturamento ficarão abertos até o
          último dia do evento.
        </p>

        <a name="inscricao-autores">
          <h2 style="padding-top: 140px; margin-top: -140px;">
            4. Inscrição para Autores
          </h2>
        </a>

        <p class="lead mt-3" style="text-align: justify; font-size: 14pt">
          Os artigos somente serão publicados quando pelo menos um dos autores efetivar sua inscrição no evento e pagar
          a taxa de publicação, via <a href="https://centraldesistemas.sbc.org.br/ecos/educomp2024" target="_blank">
            sistema ECOS</a>,
        </p>
        <ul class="lead" style="text-align: justify; font-size: 14pt">
          <li>até o dia 16/02/2024 para artigos completos<br>
            (até dia 14/02/2024, se por meio de boleto bancário) e</li>
          <li>até dia 25/03/2024 para o Laboratório de Ideias, WTD, CTD, Mesas Temáticas e Minicursos
            <br>
            (até dia 21/03/2024, se por meio de boleto bancário).
          </li>
        </ul>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          É necessário que cada trabalho tenha, ao menos, um autor inscrito (em qualquer categoria) e uma taxa de
          publicação paga. A identificação que um dos autores se inscreveu é o pagamento da inscrição mais a taxa de
          publicação <a href="https://centraldesistemas.sbc.org.br/ecos/educomp2024" target="_blank">
            sistema ECOS</a>,
          de inscrições. Assim, é possível que um autor tenha mais de um trabalho aceito a ser publicado. Neste cenário,
          será necessário o pagamento de uma única inscrição mais o pagamento da taxa de publicação de cada um dos
          trabalhos que foi aceito. Vale lembrar que não é exigido o pagamento da inscrição para a submissão de
          trabalhos, apenas para a publicação, em caso de aceite.
        </p>

        <div class="container  mt-3 mb-3">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h4 class="text-center">Valores das taxas de publicação, para cada trabalho aceito:</h4>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-left">
                  <tr class="text-uppercase font-weight-bold">
                    <td colspan="2">Descrição</td>

                    <td>valores</td>
                  </tr>
                  <tr>
                    <td>Artigo Completo</td>
                    <td>:</td>
                    <td class="w-25"><strong>R$ 30,00</strong></td>

                  </tr>
                  <tr>
                    <td>Trilhas Formativas: Laboratório de Ideias, WTD, CTD, Mesas Temáticas e Minicursos</td>
                    <td>:</td>
                    <td class="w-25 "><strong>R$ 30,00</strong></td>

                  </tr>

                </tbody>
              </table>
            </div>


          </div>
        </div>


        <p class="lead mb-5" style="text-align: justify; font-size: 14pt">As inscrições poderão ser feitas até o último
          dia do evento.</p>

        <a name="politica-cancelamento">
          <h2 style="padding-top: 140px; margin-top: -140px;">
            5. Política de Cancelamento
          </h2>
        </a>

        <p class="lead mt-3" style="text-align: justify; font-size: 14pt">
          Até dia 15/04/2024 pode-se fazer uma devolução de 80% do valor pago pela inscrição no EduComp 2024. Após esta
          data não haverá devolução de qualquer valor pago. A política se aplica tanto para o cancelamento da inscrição,
          quanto para o cancelamento de qualquer atividade adicional. Para solicitar o cancelamento, enviar um e-mail
          para faturamento@sbc.org.br.
        </p>

      </div>
    </div>
  </div>
</section>