<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

  <div class="carousel-inner" style="    background-color: #02172e;">

    <div class="carousel-item active">
      <div class="main-image ">
        <div>

          <div class="col-lg-10 mx-auto">
            <a href="/simposio/2024">
              <img src="/img/simposio/2024/main-image.png" class="img-fluid"
                alt="Educomp 2024: Os desafios da Educação em Computação no contexto da popularização da Inteligência Artificial">
            </a>

            <div class="container buttons">
              <div class="button-group">
                <a class="btn-lg btn-primary text-white" href="/simposio/2024/inscricoes">Inscreva-se!</a>

                <a class="btn-lg btn-outline-secondary text-white" href="#sobre">Saiba Mais</a>
              </div>


            </div>


          </div>
        </div>
      </div>

    </div>

    <!--

    <div class="carousel-item">
      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/faixa_um.jpg" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/faixa_dois.jpg" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/esquenta_2_img_1.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/esquenta_2_img_2.png" alt="Segundo Slide">
      </div>

    </div>
-->

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Abertura/Site.png" alt="Segundo Slide">
      </div>

    </div>


    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/FORLIC/4.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/FORLIC/1.png" alt="Segundo Slide">
      </div>

    </div>


    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/FORLIC/2.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/FORLIC/3.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Mesas_tematicas/1.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Mesas_tematicas/2.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Mesas_tematicas/3.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Mesas_tematicas/4.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Minicursos/1.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Minicursos/2.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Palestras/1.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Palestras/2.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Lab_ideias/1.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Lab_ideias/2.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Lab_ideias/3.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Lab_ideias/3.png" alt="Segundo Slide">
      </div>

    </div>



    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Sessoes_tecnicas/1.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">


      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Sessoes_tecnicas/2.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">


      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Sessoes_tecnicas/3.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">


      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/WTD/1.png" alt="Segundo Slide">
      </div>

    </div>

    <div class="carousel-item">


      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/CTD/Site.png" alt="Segundo Slide">
      </div>

    </div>

    <!-- 
      Sessao tecnica 1/2 e 3
    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Sessoes_tecnicas/3.png" alt="Segundo Slide">
      </div>

    </div>    
      
      
      
      sessao tecnica 4/2 e 6 
    <div class="carousel-item">

      <div class="col-lg-10 mx-auto">
        <img class="d-block w-100" src="/img/simposio/2024/carrossel/Sessoes_tecnicas/2.png" alt="Segundo Slide">
      </div>

    </div>


-->





















    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev" style="        font-size: 5em; 
            background-color: rgba(255,0,0,0.0);
           
            ">
      <i class="fa fa-angle-left" alt="Anterior"></i>

    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next" style="
            font-size: 5em; 
            background-color: rgba(255,0,0,0.0);
        
            ">
      <i class="fa fa-angle-right" alt="Próximo"></i>
    </a>
  </div>

</div>

</div>

<section id="sobre">
  <div class="container mt-2 mb-2">
    <div class="row ">
      <div class="col-sm position-relative">
        <h2 class=" mb-5 d-block">Sobre</h2>
        <p class="lead">
          O Simpósio Brasileiro de Educação em Computação (EduComp), promovido pela Sociedade Brasileira de Computação
          (SBC) é um evento anual congregando pesquisadores e educadores da área de Educação em Computação com o
          objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos,
          currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à
          aprendizagem de Computação.
        </p>

        <img class="img-fluid position-absolute l-0" src="/img/simposio/2024/sobre-img.png" alt="personagens">
      </div>

    </div>
  </div>

</section>

<section id="principais-trilhas">
  <div class="container mt-2 mb-2">
    <div class="row ">
      <div class="col-sm ">
        <h2 class="title-2 d-block text-center ">Principais trilhas</h2>
        <div class="card-wrapper-trilhas">

          <div class="card">
            <img class="card-img-top" src="/img/simposio/2024/img_card_1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-4">Artigos de Pesquisa
              </h5>
              <p class="card-text ">Concentram-se em diversos tópicos relevantes e de interesse atual para a
                Educação em Computação com ênfase em objetivos educacionais.
              </p>
              <a href="https://www.educompbrasil.org/simposio/2024/trabalhos/chamada" class="btn btn-card">Saiba
                mais</a>
            </div>

          </div>


          <div class="card">
            <img class="card-img-top" src="/img/simposio/2024/img_card_2.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"> Relatos de Experiência
              </h5>
              <p class="card-text">Devem descrever cuidadosamente uma intervenção de Educação em Computação e seu
                contexto.</p>
              <a href="https://www.educompbrasil.org/simposio/2024/trabalhos/chamada" class="btn btn-card"
                class="btn btn-card">Saiba mais</a>
            </div>

          </div>


          <div class="card">
            <img class="card-img-top" src="/img/simposio/2024/img_card_3.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Currículos
              </h5>
              <p class="card-text ">Devem discutir estruturas, abordagens e organizações curriculares em cursos ou
                programas na área de Computação.
              </p>
              <a href="https://www.educompbrasil.org/simposio/2024/trabalhos/chamada" class="btn btn-card"
                class="btn btn-card" class="btn btn-card">Saiba mais</a>
            </div>

          </div>


          <div class="card">
            <img class="card-img-top" src="/img/simposio/2024/img_card_4.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Recursos e Ambientes Educacionais
              </h5>
              <p class="card-text ">Devem apresentar recursos educacionais específicos, ambientes e plataformas
                inovadoras para a Educação em Computação.
              </p>
              <a href="https://www.educompbrasil.org/simposio/2024/trabalhos/chamada" class="btn btn-card">Saiba
                mais</a>
            </div>

          </div>


          <div class="card">
            <img class="card-img-top " src="/img/simposio/2024/img_card_5.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title ">Ensaios
              </h5>
              <p class="card-text ">Têm o propósito de expor ideias, pontos de vista ou posicionamentos sobre
                determinado tema.</p>
              <a href="https://www.educompbrasil.org/simposio/2024/trabalhos/chamada" class="btn btn-card">Saiba
                mais</a>
            </div>

          </div>






        </div>
      </div>
    </div>
  </div>
</section>

<section id="quarta-edicao">
  <div class="container mt-2 mb-2">
    <div class="row ">
      <div class=" col-sm d-flex flex-column flex-row-reverse">
        <div class="content  w-50">
          <h2 class=" mb-5 d-block">Edição 2024</h2>
          <p class="lead">
            A quarta edição do EduComp ocorrerá entre os dias 22 e 27 de abril de 2024 de forma totalmente remota com
            o
            tema "Os desafios da Educação em Computação no contexto da popularização da Inteligência Artificial".
            Convidamos os interessados a enviar contribuições na forma de artigos de pesquisa, ensaios, relatos de
            experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e
            plataformas educacionais, além de resumos de novas ideias que contribuam para o avanço da área de Educação
            em Computação. Submissões para o EduComp podem tratar de todos os aspectos da Educação em Computação, ou
            seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
          </p>
        </div>

      </div>

    </div>
  </div>

</section>

<!--
<div class="container mt-5 mb-3">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">O Simpósio
        Brasileiro de Educação em Computação (EduComp), realizado pela <a href="https://www.sbc.org.br/"
          target="_blank">Sociedade Brasileira de Computação</a> (SBC) é um evento anual congregando pesquisadores e
        educadores da área de Educação em Computação com o objetivo de compartilhar novas ideias e resultados sobre a
        concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e
        materiais relacionados ao ensino e à aprendizagem de computação.</p>
      <p  class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">


        A quarta edição do EduComp ocorrerá entre os dias <strong>22 e 27 de abril de 2024</strong> de forma
        <strong>totalmente remota</strong> com o tema <strong>"Os desafios da Educação em Computação no contexto da
          popularização da Inteligência Artificial"</strong>. Convidamos as pessoas interessadas a enviar contribuições
        na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas
        pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias,
        propostas de mesas temáticas, minicursos e trabalhos de mestrado e doutorado em andamento e concluídos que
        contribuam para o avanço da área de Educação em Computação. Submissões para o EduComp podem tratar de <a
          href="/simposio/2024/trabalhos/topicos-de-interesse">todos os aspectos da Educação em Computação</a>, ou seja,
        a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
        <!--
            A terceira edição do EduComp ocorrerá entre os dias <strong> 24 e 29 de abril de 2023</strong> de forma <strong>totalmente remota</strong> com o tema <strong>"O legado do ensino remoto na Educação em Computação"</strong>.  Convidamos as pessoas interessadas a enviar contribuições na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias, propostas de painéis e minicursos que contribuam para o avanço da área de Educação em Computação. Submissões para o EduComp podem tratar de <a href="/simposio/2023/trabalhos/topicos-de-interesse">todos os aspectos da Educação em Computação</a>, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
      </p>
    
          <p class="lead" style="text-align: justify; font-size: 14pt">
            Confira <a href="https://www.youtube.com/watch?v=Oot0nMGikNE">o vídeo de apresentação</a> do evento realizado no GIEC Live pelo Prof. Roberto Bittencourt.
          </p>
          
    </div>
  </div>
</div>-->