 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 8.7em;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>

  </ol>

  <div class="carousel-inner">

    <!--
    <div class="carousel-item active">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/palestra-forlic.png" class="d-block w-100" 
              alt="Palestra ForLic: BNCC Computação e Política Nacional de Educação Digital: caminhos para implantação"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel-forlic.png" class="d-block w-100" 
              alt="Painel ForLic: Casos de Sucesso: Experiências sobre o Ensino de Computação na Educação Básica Brasileira"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item active">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/minicurso-1.png" class="d-block w-100" 
              alt="Minicurso I: Google Colab para Ensino de Computação"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel.png" class="d-block w-100" 
              alt="Painel: Ética em Ensino, Pesquisa e Extensão em Computação"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-01.png" class="d-block w-100" 
              alt="Sessão Técnica: Pensamento Computacional I (ST-I)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-02.png" class="d-block w-100" 
              alt="Sessão Técnica: Avaliação automatizada de tarefas de programação (ST-II)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-03.png" class="d-block w-100" 
              alt="Sessão Técnica: Pensamento Computacional II (ST-III)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-04.png" class="d-block w-100" 
              alt="Sessão Técnica: ENADE, PIBID e Educação Hacker (ST-IV)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-1.png" class="d-block w-100" 
              alt="Laboratório de Ideias I - Chairs: David Oliveira (UFAM) e Filipe Dwan (UFRR)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-2.png" class="d-block w-100" 
              alt="Laboratório de Ideias II - Chairs: Walter Nakamura (UTFPR) e Ana Carolina Oran (UFAM/SIDI)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/minicurso-2.png" class="d-block w-100" 
              alt="Minicurso II: Recursos Educacionais Abertos para Apoio ao Ensino de Computação na Educação Básica"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel-comunidade-1.png" class="d-block w-100" 
              alt="Painel da Comunidade I: Da BNCC à BNCC Computação: Histórico, Afinidades e Desafios na Implementação de um Currículo Único"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-05.png" class="d-block w-100" 
              alt="Sessão Técnica: Computação no Ensino Médio (ST-V)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-06.png" class="d-block w-100" 
              alt="Sessão Técnica: Avaliação da Aprendizagem em Computação (ST-VI)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-07.png" class="d-block w-100" 
              alt="Sessão Técnica: Currículos de Computação (ST-VII)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-08.png" class="d-block w-100" 
              alt="Sessão Técnica: Ensino de Engenharia de Software (ST-VIII)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/palestra-internacional.png" class="d-block w-100" 
              alt="Palestra Internacional: Integração de computação à aprendizagem de ciências na educação básica"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-3.png" class="d-block w-100" 
              alt="Laboratório de Ideias III - Chairs: Leandro Galvão (UFAM) e Rodrigo Choji (UEA)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-4.png" class="d-block w-100" 
              alt="Laboratório de Ideias IV - Chairs: Luiz Rodrigues (NEES/UFAM | SENAI Londrina) e Carlos Duarte (UFAM)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item active">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel-comunidade-2.png" class="d-block w-100" 
              alt="Painel da Comunidade II: Como Enfrentar o Desengajamento dos Estudantes de Computação da Educação Básica Utilizando Gamificação?"
            >
          </a>
        </div>
      </div>
    </div>

     <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/palestra-nacional.png" class="d-block w-100" 
              alt="Palestra Internacional: De volta ao 'normal'? Porque a educação pós-ensino remoto deve ser mais do que uma volta ao passado"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-09.png" class="d-block w-100" 
              alt="Sessão Técnica: Diversidade e inclusão (ST-IX)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-10.png" class="d-block w-100" 
              alt="Sessão Técnica: Robótica (ST-X)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-11.png" class="d-block w-100" 
              alt="Sessão Técnica: Fatores Emocionais (ST-XI)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-12.png" class="d-block w-100" 
              alt="Sessão Técnica: Ensino Remoto (ST-XII)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-5.png" class="d-block w-100" 
              alt="Laboratório de Ideias V - Chairs: Luma Seixas (UFBA) e Luiz Cuevas (UEA)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-6.png" class="d-block w-100" 
              alt="Laboratório de Ideias VI - Chairs: Fernanda Pires (UEA) e Eleandro Maschio (UTFPR)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel-comunidade-3.png" class="d-block w-100" 
              alt="Painel da Comunidade III: Curricularização da Extensão: Experiências e Propostas para os Cursos Superiores de Computação"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/assembleia.png" class="d-block w-100" 
              alt="Assembleia do GIEC"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/wtd.png" class="d-block w-100" 
              alt="II Workshop de Teses e Dissertações em Educação em Computação"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-13.png" class="d-block w-100" 
              alt="Sessão Técnica: Educação em Computação na Educação Básica (ST-XIII)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-14.png" class="d-block w-100" 
              alt="Sessão Técnica: Ensino de Programação e Lógica Fuzzy (ST-XIV)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel-gt.png" class="d-block w-100" 
              alt="Painel GT: Apresentação dos Grupos de Trabalho (GT) do GIEC"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/encerramento.png" class="d-block w-100" 
              alt="Sessão de Encerramento"
            >
          </a>
        </div>
      </div>
    </div>
    -->
  </div>
  <!--
  <a class="carousel-control-prev" data-target="#carouselExampleIndicators" data-slide="prev" style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-left: 0em;
    ">
    <i class="fa fa-angle-left" alt="Anterior"></i>
  </a>
  <a 
    class="carousel-control-next" 
    data-target="#carouselExampleIndicators" 
    data-slide="next" 
    style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-right: 0em;
    "
  >
    <i class="fa fa-angle-right" alt="Próximo"></i>
  </a>

  -->
</div> 

    <div class="container mt-5 mb-3" >
      <div class="row" >
        <div class="col-lg-8 mx-auto" > 
          <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">O Simpósio Brasileiro de Educação em Computação (EduComp), realizado pela <a href="https://www.sbc.org.br/" target="_blank">Sociedade Brasileira de Computação</a> (SBC) é um evento anual congregando pesquisadores e educadores da área de Educação em Computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.</p>
          <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">


            A quarta edição do EduComp ocorrerá entre os dias <strong>22 e 27 de abril de 2024</strong> de forma <strong>totalmente remota</strong> com o tema <strong>"Os desafios da Educação em Computação no contexto da popularização da Inteligência Artificial"</strong>. Convidamos as pessoas interessadas a enviar contribuições na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias, propostas de mesas temáticas, minicursos e trabalhos de mestrado e doutorado em andamento e concluídos que contribuam para o avanço da área de Educação em Computação. Submissões para o EduComp podem tratar de <a href="/simposio/2024/trabalhos/topicos-de-interesse">todosos aspectos da Educação em Computação</a>, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino. 
            <!--
            A terceira edição do EduComp ocorrerá entre os dias <strong> 24 e 29 de abril de 2023</strong> de forma <strong>totalmente remota</strong> com o tema <strong>"O legado do ensino remoto na Educação em Computação"</strong>.  Convidamos as pessoas interessadas a enviar contribuições na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias, propostas de painéis e minicursos que contribuam para o avanço da área de Educação em Computação. Submissões para o EduComp podem tratar de <a href="/simposio/2023/trabalhos/topicos-de-interesse">todos os aspectos da Educação em Computação</a>, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.-->
          </p>
          <!--
          <p class="lead" style="text-align: justify; font-size: 14pt">
            Confira <a href="https://www.youtube.com/watch?v=Oot0nMGikNE">o vídeo de apresentação</a> do evento realizado no GIEC Live pelo Prof. Roberto Bittencourt.
          </p>
          -->
        </div>
      </div>
    </div>