<style>
  .td1 {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

  {{> simposio/2024/pt-BR/inside-header}}



<section id="sobre-sbc" style="background-color:white;">
  <div class="container" style="font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <p class="lead" style="text-align: justify; font-size: 14pt">
          A <a href="http://www.sbc.org.br" target="_blank">Sociedade Brasileira de Computação (SBC)</a> é uma Sociedade
          Científica sem fins lucrativos, fundada em julho de 1978, que reúne estudantes, professores, profissionais,
          pesquisadores e entusiastas da área de Computação e Informática de todo o Brasil.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão
          digital, incentivar a pesquisa e o ensino em Computação no Brasil, contribuindo para a formação do
          profissional da Computação com responsabilidade social.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Para a organização e divulgação de atividades, ações e eventos científicos, técnicos educacionais e políticos,
          a SBC mantém uma estrutura de três tipos de Grupos Temáticos (GT),que são as Grandes Áreas (GA), as Comissões
          Especiais (CE) e os Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns numa
          subárea da computação.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Você está acessando o site de uma das <strong>Comissões Especiais (CEs) – <a
              href="https://www.sbc.org.br/2461_comissao_especial_de_educacao_em_computacao_gestao_2023-2024"> CEduComp
            </a> </strong> da SBC, que representa um grupo de associados da SBC que compartilham dos interesses e
          valores em determinada área da Computação. <strong>O associado vigente pode se inscrever nas</strong> <a
            href="https://www.sbc.org.br/403-comissoes-especiais" target="_blank">listas de e-mail das Comissões
            Especiais (CE)</a> da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua
          associação à nossa comunidade <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique
            aqui</a> e venha fazer parte da SBC.
        </p>

      </div>
    </div>
  </div>
</section>