  {{> simposio/2023/pt-BR/inside-header}}

  <section id="datas" style="background-color:white;">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <h2> Artigos</h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Registro de título, pessoas autoras e resumo do artigo no JEMS</strong>: até
                <s>10/10/2022</s>
                 | <span class="px-2" style="background-color: #58b24d; color: white;">
                     17 de outubro de 2022
                </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Envio de artigo completo</strong>: até
                <s>17/10/2022</s>
                  | <span class="px-2" style="background-color: #58b24d; color: white;">
                      24 de outubro de 2022
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>: até
                <span>
                  09 de dezembro de 2022
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>: até
                <span>
                  23 de janeiro de 2023
                  </span>
            </li>
          </ul>

          <h2 class="h2">Minicursos</h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Envio da proposta</strong>: até
                <s>17/10/2022</s>
                  | <span class="px-2" style="background-color: #58b24d; color: white;">
                      24 de outubro de 2022
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>: até
                <span>
                  09 de dezembro de 2022
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final da proposta</strong>: até
                <span>
                  23 de janeiro de 2023
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Disponibilização dos materiais do minicurso</strong>: até
                <span>
                  23 de janeiro de 2023
                  </span>
            </li>
          </ul>

          <h2 class="h2">Laboratório de Ideias</h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Envio do resumo e vídeo</strong>: até
                <span >
                  11 de dezembro de 2022
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>: até
                <span>
                  14 de fevereiro de 2023
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>: até
                <span>
                  07 de março de 2023
                  </span>
            </li>
          </ul>

          <h2 class="h2">Workshop de Teses e Dissertações (WTD)</h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão de Trabalhos</strong>: até
                <span >
                  18 de dezembro de 2022
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>: até
                <span>
                  14 de fevereiro de 2023
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>: até
                <span>
                  14 de março de 2023
                  </span>
            </li>
          </ul>
          
          <h2 class="h2">Painéis</h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão de Propostas</strong>: até
                <span >
                  27 de fevereiro de 2023
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>: até
                <span>
                  20 de março de 2023
                  </span>
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>: até
                <span>
                  27 de março de 2023
                </span>
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>