 <style>
    .td1 {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> simposio/2023/pt-BR/inside-header}}

  <section id="inscricoes" style="background-color:white;" >
    <div class="container" style="margin-top: -8em; margin-bottom: 2em; ">
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <h1 style="margin-bottom: 1em;">Inscrições</h1>

          <p class="lead" style="text-align: justify; font-size: 14pt">
            Esse evento é realizado pela <b>Sociedade Brasileira de Computação – SBC</b>.  A SBC é uma associação civil, sem fins lucrativos, que estimula o desenvolvimento tecnológico e científico do país e é a maior sociedade de computação da América do Sul. Os valores de inscrição para o EduComp 2023 estão listados abaixo. 
          </p>

          <p class="lead" style="text-align: justify; font-size: 14pt">
            Destacamos que estudantes e profissionais não-associados à SBC podem se associar (ou renovar a associação) no processo de inscrição. Inscrever-se com associação à SBC é a opção mais vantajosa para os não associados à SBC. Confira os benefícios de se associar à <a href="http://www.sbc.org.br" target="_blank">SBC</a>.
          </p>

          <br>
          <h2>Verificação da Categoria Escolhida</h2>

          <p class="lead" style="text-align: justify; font-size: 14pt">
            Será exigido no momento da inscrição <a href="https://centraldesistemas.sbc.org.br/ecos/educomp2023" target="_blank">no sistema ECOS</a>, para as categorias que necessitam de algum tipo comprovação, o <i>upload</i> que ateste a categoria escolhida. A verificação desse documento pode levar até 1 dia útil. Logo, sugerimos que para evitar algum transtorno não deixe para o último dia da faixa de inscrição. Somente após a validação pela equipe da SBC, as formas de pagamento serão liberadas. O inscrito receberá e-mails informativos em todas as etapas da evolução da inscrição dele no EduComp 2023.
          </p>

          <p class="lead" style="text-align: justify; font-size: 14pt">
            
          </p>
        
          <br>
          <h2>Quadro de valores das inscrições</h2>
          <br>

          <h3>Estudante (Educação Básica e Graduação)</h3>
          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4><b>Descrição</b></h4>
              </td>
              <td>
                <h4><b>Até 03/02</b></h4>
              </td>
              <td>
                <h4><b>Até 06/03</b></h4>
              </td>
              <td>
                <h4><b>Até 29/04</b></h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 20,00</h4>
              </td>
              <td>
                <h4>R$ 25,00</h4>
              </td>
              <td>
                <h4>R$ 30,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 46,00</h4>
              </td>
              <td>
                <h4>R$ 51,00</h4>
              </td>
              <td>
                <h4>R$ 56,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 46,00</h4>
              </td>
              <td>
                <h4>R$ 51,00</h4>
              </td>
              <td>
                <h4>R$ 56,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 48,00</h4>
              </td>
              <td>
                <h4>R$ 54,00</h4>
              </td>
              <td>
                <h4>R$ 59,00</h4>
              </td>
            </tr>
          </table>
          <br>

          <h3>Estudante (Pós-Graduação)</h3>
          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4><b>Descrição</b></h4>
              </td>
              <td>
                <h4><b>Até 03/02</b></h4>
              </td>
              <td>
                <h4><b>Até 06/03</b></h4>
              </td>
              <td>
                <h4><b>Até 29/04</b></h4>
              </td>
            </tr>
            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 40,00</h4>
              </td>
              <td>
                <h4>R$ 50,00</h4>
              </td>
              <td>
                <h4>R$ 60,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 146,18</h4>
              </td>
              <td>
                <h4>R$ 156,18</h4>
              </td>
              <td>
                <h4>R$ 166,18</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 146,18</h4>
              </td>
              <td>
                <h4>R$ 156,18</h4>
              </td>
              <td>
                <h4>R$ 166,18</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 151,00</h4>
              </td>
              <td>
                <h4>R$ 162,00</h4>
              </td>
              <td>
                <h4>R$ 173,00</h4>
              </td>
            </tr>
          </table>
          <br>

          <h3>Professor (Educação Básica)</h3>
          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4><b>Descrição</b></h4>
              </td>
              <td>
                <h4><b>Até 03/02</b></h4>
              </td>
              <td>
                <h4><b>Até 06/03</b></h4>
              </td>
              <td>
                <h4><b>Até 29/04</b></h4>
              </td>
            </tr>
            <tr>
              <td class="td1">
                <h4>Professor de educação básica associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 40,00</h4>
              </td>
              <td>
                <h4>R$ 50,00</h4>
              </td>
              <td>
                <h4>R$ 60,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Professor de educação básica associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 146,18</h4>
              </td>
              <td>
                <h4>R$ 156,18</h4>
              </td>
              <td>
                <h4>R$ 166,18</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Professor de educação básica não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 146,18</h4>
              </td>
              <td>
                <h4>R$ 156,18</h4>
              </td>
              <td>
                <h4>R$ 166,18</h4>
              </td>
            </tr>

             <tr>
              <td class="td1">
                <h4>Professor de educação básica não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 151,00</h4>
              </td>
              <td>
                <h4>R$ 162,00</h4>
              </td>
              <td>
                <h4>R$ 173,00</h4>
              </td>
            </tr>
        </table>
          <br>

          <h3>Profissional</h3>
          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4><b>Descrição</b></h4>
              </td>
              <td>
                <h4><b>Até 03/02</b></h4>
              </td>
              <td>
                <h4><b>Até 06/03</b></h4>
              </td>
              <td>
                <h4><b>Até 29/04</b></h4>
              </td>
            </tr>
            <tr>
              <td class="td1">
                <h4>Profissional associado à SBC com anuidade vigente</h4>
              </td>
              <td>
                <h4>R$ 60,00</h4>
              </td>
              <td>
                <h4>R$ 80,00</h4>
              </td>
              <td>
                <h4>R$ 100,00</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 362,30</h4>
              </td>
              <td>
                <h4>R$ 382,30</h4>
              </td>
              <td>
                <h4>R$ 402,30</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</h4>
              </td>
              <td>
                <h4>R$ 362,30</h4>
              </td>
              <td>
                <h4>R$ 382,30</h4>
              </td>
              <td>
                <h4>R$ 402,30</h4>
              </td>
            </tr>

            <tr>
              <td class="td1">
                <h4>Profissional não associado à SBC (Somente inscrição no evento)</h4>
              </td>
              <td>
                <h4>R$ 369,00</h4>
              </td>
              <td>
                <h4>R$ 391,00</h4>
              </td>
              <td>
                <h4>R$ 413,00</h4>
              </td>
            </tr>
          </table>

        <br>
        <h2>Inscrição para autores</h2>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Os artigos somente serão publicados quando pelo menos um dos autores efetivar sua inscrição no evento e pagar a taxa de publicação, via <a href="https://centraldesistemas.sbc.org.br/ecos/educomp2023" target="_blank"> sistema ECOS</a>, 
          <ul class="lead" style="text-align: justify; font-size: 14pt">
            <li>até o dia 21/01/2023 para artigos completos <br>
            (até dia 19/01/2023, se por meio de boleto bancário) e</li> 
            <li>até dia 23/03/2023 para o Laboratório de Ideias e o WTD <br>
            (até dia 21/03/2023, se por meio de boleto bancário).</li> 
          </ul>
        </p>
        
        <p class="lead" style="text-align: justify; font-size: 14pt">
          É necessário que cada trabalho tenha, ao menos, um autor inscrito e uma taxa de publicação paga. A identificação que um dos autores se inscreveu é o pagamento da inscrição mais a taxa de publicação <a href="https://centraldesistemas.sbc.org.br/ecos/educomp2023" target="_blank">no sistema ECOS</a> de inscrições. Assim, é possível que um autor tenha mais de um trabalho aceito a ser publicado. Neste cenário, será necessário o pagamento de uma única inscrição mais o pagamento da taxa de publicação de cada um dos trabalhos que foi aceito. 
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Os valores das taxas de publicação, para cada trabalho aceito, são os seguintes:
          <ul class="lead" style="text-align: justify; font-size: 14pt">
            <li>Artigo Completo: R$ 30,00;</li>
            <li>Artigo (WTD): R$ 30,00;</li>
            <li>Resumo (Laboratório de Ideias): R$ 30,00.</li>
          </ul>
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">As inscrições poderão ser feitas até o último dia do evento.</p>

        <br>
        <h3>Formas de Pagamento</span> </h3>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          O pagamento das inscrições poderá ser realizado por meio de boleto bancário, cartão de crédito, débito em conta do Banco do Brasil, nota de empenho e faturamento, através do sistema de inscrições da SBC, porém os pagamentos por débito e boleto serão fechados dia 20/04/2023. Após essa data será possível pagar por cartão de crédito, nota de empenho e faturamento pelo sistema de inscrições.</p>
        <p class="lead" style="text-align: justify; font-size: 14pt"><i>Inscrições por Nota de Empenho e Faturamento:</i> O participante deverá acessar o sistema ECOS e realizar a inscrição, selecionando a forma de pagamento "nota de empenho" ou "faturamento" e clicar em pagar. O sistema fornecerá as informações necessárias que devem constar na nota de empenho ou no pedido de faturamento.</p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
          <i>Política de cancelamento:</i> Até dia 24/03/2023 pode-se fazer uma devolução de 80% do valor pago pela inscrição no EduComp 2023. Após esta data não haverá devolução de qualquer valor pago. A política se aplica tanto para o cancelamento da inscrição, quanto para o cancelamento de qualquer atividade adicional. Para solicitar o cancelamento, enviar um e-mail para faturamento@sbc.org.br.
        </p>

        <br>
        <h2>Por que ser associado à SBC?</h2>
        <p class="lead" style="text-align: justify; font-size: 14pt">Se associar à SBC é uma forma de tornar a SBC ainda mais forte para representar a nossa área de atuação junto aos diversos setores. Que tal se juntar a nós? Outros motivos para ser associado à SBC são:</p>
        <ol>
          <li class="lead" style="font-size: 14pt">Acesso à rede sem fio Eduroam (somente para pessoa física);</li>
          <li class="lead" style="font-size: 14pt">Acesso ao FileSender da RNP;</li>
          <li class="lead" style="font-size: 14pt">Desconto em inscrições nos mais de 40 eventos realizados anualmente pela SBC;</li>
          <li class="lead" style="font-size: 14pt">Desconto de no mínimo 15% em inscrições nos eventos apoiados pela SBC;</li>
          <li class="lead" style="font-size: 14pt">Valor de inscrição diferenciado no POSCOMP;</li>
          <li class="lead" style="font-size: 14pt">Acesso aos estudos realizados pela SBC e destinados a órgãos públicos ou privados, expressando posições políticas da Sociedade.</li>
        </ol>

        <p class="lead" style="text-align: justify; font-size: 14pt">Confira os benefícios específicos de cada categoria no site da <a href="http://www.sbc.org.br/associe-se-2/269-beneficios">SBC</a>.</p>
        
        </div>
      </div>
    </div>
  </section>

