 <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-top: 8.7em;">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>

  </ol>

  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/palestra-forlic.png" class="d-block w-100" 
              alt="Palestra ForLic: BNCC Computação e Política Nacional de Educação Digital: caminhos para implantação"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel-forlic.png" class="d-block w-100" 
              alt="Painel ForLic: Casos de Sucesso: Experiências sobre o Ensino de Computação na Educação Básica Brasileira"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/minicurso-1.png" class="d-block w-100" 
              alt="Minicurso I: Google Colab para Ensino de Computação"
            >
          </a>
        </div>
      </div>
    </div>

    <!--
    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/painel-educomp.png" class="d-block w-100" 
              alt="Painel: Experiências e desafios do ensino híbrido. Com Robson Medeiros e Sheila Reinehr."
            >
          </a>
        </div>
      </div>
    </div>
    -->

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-01.png" class="d-block w-100" 
              alt="Sessão Técnica: Pensamento Computacional I (ST-I)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-02.png" class="d-block w-100" 
              alt="Sessão Técnica: Avaliação automatizada de tarefas de programação (ST-II)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-03.png" class="d-block w-100" 
              alt="Sessão Técnica: Pensamento Computacional II (ST-III)"
            >
          </a>
        </div>
      </div>
    </div>

    <!--
    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/sessao-tecnica-04.png" class="d-block w-100" 
              alt="Sessão Técnica: ENADE, PIBID e Educação Hacker (ST-IV)"
            >
          </a>
        </div>
      </div>
    </div>
    -->

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-1.png" class="d-block w-100" 
              alt="Laboratório de Ideias I - Chairs: David Oliveira (UFAM) e Filipe Dwan (UFRR)"
            >
          </a>
        </div>
      </div>
    </div>

    <div class="carousel-item">
      <div class="row" >
        <div class="col-lg-7 mx-auto" >
          <a href="/simposio/2023/programacao/educomp">
            <img src="/img/simposio/2023/carrossel/png/lab-ideias-2.png" class="d-block w-100" 
              alt="Laboratório de Ideias II - Chairs: Walter Nakamura (UTFPR) e Ana Carolina Oran (UFAM/SIDI)"
            >
          </a>
        </div>
      </div>
    </div>
    
  </div>
  <a class="carousel-control-prev" data-target="#carouselExampleIndicators" data-slide="prev" style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-left: 0em;
    ">
    <i class="fa fa-angle-left" alt="Anterior"></i>
  </a>
  <a 
    class="carousel-control-next" 
    data-target="#carouselExampleIndicators" 
    data-slide="next" 
    style="
      font-size: 5em; 
      background-color: rgba(255,0,0,0.0);
      margin-right: 0em;
    "
  >
    <i class="fa fa-angle-right" alt="Próximo"></i>
  </a>
</div> 

    <div class="container mt-5 mb-3" >
      <div class="row" >
        <div class="col-lg-8 mx-auto" > 
          <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">O Simpósio Brasileiro de Educação em Computação (EduComp), realizado pela <a href="https://www.sbc.org.br/" target="_blank">Sociedade Brasileira de Computação</a> (SBC) é um evento anual congregando pesquisadores e educadores da área de Educação em Computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.</p>
          <p class="lead" style="text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;">
            A terceira edição do EduComp ocorrerá entre os dias <strong> 24 e 29 de abril de 2023</strong> de forma <strong>totalmente remota</strong> com o tema <strong>"O legado do ensino remoto na Educação em Computação"</strong>.  Convidamos as pessoas interessadas a enviar contribuições na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias, propostas de painéis e minicursos que contribuam para o avanço da área de Educação em Computação. Submissões para o EduComp podem tratar de <a href="/simposio/2023/trabalhos/topicos-de-interesse">todos os aspectos da Educação em Computação</a>, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
          </p>
          <!--
          <p class="lead" style="text-align: justify; font-size: 14pt">
            Confira <a href="https://www.youtube.com/watch?v=Oot0nMGikNE">o vídeo de apresentação</a> do evento realizado no GIEC Live pelo Prof. Roberto Bittencourt.
          </p>
          -->
        </div>
      </div>
    </div>