{
    "printWidth": 120,
    "tabWidth": 2,
    "useTabs": false,
    "semi": false,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "trailingComma": "all",
    "bracketSpacing": true,
    "bracketSameLine": true,
    "arrowParens": "always",
    "proseWrap": "preserve",
    "htmlWhitespaceSensitivity": "css",
    "endOfLine": "lf",
    "singleAttributePerLine": false,
    "overrides": [
        {
            "files": "*.handlebars",
            "options": {
                "parser": "html",
                "proseWrap": "always",
                "singleQuote": false
            }
        }
    ]
}