<section class="section-content">
  <h2>Chamada de Trabalhos</h2>
  <p>O SBC-EB 2025 convida docentes da Educação Básica, discentes de cursos de licenciatura e demais pessoas envolvidas no Ensino de Computação na Educação Básica a submeterem propostas de atividades que apoiem o desenvolvimento de habilidades da BNCC Computação.</p>
  <p>Os trabalhos aceitos serão publicados na biblioteca digital SBC-OpenLib e pelo menos uma das pessoas autoras deve realizar a inscrição no evento para apresentação presencial do trabalho na sede (Juiz de Fora/MG) ou em um dos polos regionais do evento:</p>
  <ul>
    <li>Centro-Oeste: Campo Grande/MS</li>
    <li>Nordeste: Salvador/BA</li>
    <li>Norte: Itacoatiara/AM</li>
    <li>Sul: Bandeirantes/PR</li>
  </ul>
</section>

<section class="section-content">
  <h2>Sobre o Evento</h2>
  <p>A Computação está cada vez mais presente na sociedade contemporânea, impactando na forma como as pessoas se relacionam com o mundo à sua volta, em esferas como trabalho, educação, lazer e atividades cotidianas. Nesse contexto, desenvolver competências e habilidades da área é essencial para conviver e prosperar neste mundo permeado por tecnologias digitais.</p>
  <p>A recente inclusão da Computação na Base Nacional Comum Curricular corrobora com a importância dessa formação na Educação Básica. No entanto, diversos desafios permeiam a sua implementação na sala de aula, como a formação docente, currículo, recursos e materiais didáticos que atendam às necessidades e diversidades das escolas brasileiras.</p>
  <p>Nesse cenário, em sua segunda edição, o SBC-EB 2025 objetiva reunir docentes da Educação Básica, gestores públicos e escolares, docentes e discentes de cursos de licenciaturas, pesquisadores e demais interessados, criando um fórum de discussão, aprendizado e troca de experiências em torno do ensino de Computação na Educação Básica.</p>
  <p>O SBC-EB 2025 será realizado junto ao V Simpósio Brasileiro de Educação em Computação (EduComp 2025), ampliando os espaços de diálogo e integração da comunidade nacional com interesse em Computação na Educação Básica.</p>
</section>

<section class="section-content">
  <h2>Tópicos de Interesse</h2>
  <ul>
    <li>Atividades do Eixo Pensamento Computacional</li>
    <li>Atividades do Eixo Mundo Digital</li>
    <li>Atividades do Eixo Cultura Digital</li>
  </ul>
</section>

<section class="section-content">
  <h2>Orientações para Submissão de Trabalhos</h2>
  <p>O SBC-EB 2025 aceitará resumos expandidos com propostas originais de atividades ou relatos de aplicação de atividades incluindo uma análise crítica dos resultados. As atividades devem ter como público-alvo a Educação Básica e apoiar o desenvolvimento de uma ou mais habilidades previstas nas <a href="/downloads/simposio/2025/sbc-eb/computacao_complemento_bncc.pdf">“Normas sobre Computação na Educação Básica – Complemento à Base Nacional Comum Curricular (BNCC)”</a>.</p>
  <p>Os trabalhos deverão contemplar as seguintes seções:</p>
  <ul>
    <li>Resumo e Abstract</li>
    <li>Objetivos Geral e Específicos</li>
    <li>Público-Alvo</li>
    <li>Habilidades Exploradas</li>
    <li>Recursos e Materiais Utilizados</li>
    <li>Metodologia Detalhada de Desenvolvimento da Atividade ou de sua Aplicação na Educação Básica</li>
    <li>Avaliação e Referências</li>
  </ul>
  <p>Não serão aceitas propostas de trabalhos diferentes do formato descrito.</p>
  <p>Os resumos deverão conter no mínimo 3 e no máximo 5 páginas, excluindo referências, e ser escritos em português, seguindo o modelo para publicação de artigos da Sociedade Brasileira de Computação, disponível em: <a href="https://www.sbc.org.br/documentosinstitucionais/#publicacoes" target="_blank">https://www.sbc.org.br/documentosinstitucionais/#publicacoes</a>.</p>
  <p>As submissões deverão ser realizadas eletronicamente através do sistema JEMS, em PDF, no link <a href="https://jems3.sbc.org.br/sbc-eb2025">https://jems3.sbc.org.br/sbc-eb2025</a>. Os trabalhos não são anônimos, portanto os nomes das pessoas autoras devem ser incluídos. Todos os trabalhos submetidos serão avaliados por pelo menos dois integrantes do Comitê de Programa.</p>
  <p>Os trabalho aceitos serão publicados na biblioteca digital SBC-OpenLib, desde que haja:
    <ul>
      <li>Inscrição de pelo menos uma das pessoas autoras no SBC-EB 2025;</li>
      <li>Apresentação presencial do trabalho na sede ou em um dos polos do evento;</li>
      <li>Envio do <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/Autoriza-o-de-Publica-o-CC-BY-4.0-WICS-2020.pdf">termo de autorização de publicação</a> preenchido e assinado (<a href="https://www.sbc.org.br/wp-content/uploads/2024/07/Autoriza-o-de-Publica-o-CC-BY-4.0-WICS-2020.pdf">https://www.sbc.org.br/wp-content/uploads/2024/07/Autoriza-o-de-Publica-o-CC-BY-4.0-WICS-2020.pdf</a>).</li>
    </ul>
</p>
</section>

<section class="section-content">
  <h2>Datas Importantes</h2>
  <ul>
    <li>Limite para submissão dos trabalhos: 07/02/2025</li>
    <li>Notificação dos trabalhos selecionados: 07/03/2025</li>
    <li>Data limite para envio das versões finais dos trabalhos: 21/03/2025</li>
    <li>Prazo de inscrição autores(as): 14/03/2025</li>
  </ul>
</section>

<section class="section-content">
  <h2>Coordenação Geral do Comitê de Programa</h2>
  <p>Rozelma França (UFRPE) - <a href="mailto:rozelma.franca@ufrpe.br">rozelma.franca@ufrpe.br</a></p>
  <p>Flavia Santoro (UERJ) - <a href="mailto:flavia@ime.uerj.br">flavia@ime.uerj.br</a></p>

  <h2>Coordenações dos Polos Regionais</h2>
  <ul>
    <li>Centro-Oeste:</li>
    <li>Nordeste:</li>
    <li>Norte:</li>
    <li>Sudeste (Sede):</li>
    <li>Sul:</li>
  </ul>
</section>