<div id="sobre-sbceb" class="edc-font"></div>
  <div class="container-fluid my-5">
    <div class="row align-items-center">
      <!-- Coluna da Imagem -->
      <div class="col-12 p-0">
        <img class="img-fluid w-100" src="/img/simposio/2025/eb/painel.png" alt="Logotipo do evento SBC-EB">
      </div>
      <!-- Coluna do Texto -->
      <div class="col-12 col-md-8 offset-md-2 text-center mt-4">
        <h2>Sobre o SBC-EB</h2>
        <p>
          O Simpósio Brasileiro de Computação na Educação Básica (SBC-EB) é um evento sem fins lucrativos, realiado pela Sociedade
          Brasileira de Computação (SBC).
        </p>
        <p>
          A segunda edição do Simpósio será realizada de <b>09 a 11 de abril de 2025 em Juiz de Fora - MG</b>.
          A organização do evento está sob responsabilidade do Departamento de Ciência da Computação da Universidade 
          Federal de Juiz de Fora (UFJF).
        </p>
      </div>
    </div>

    <!-- Nova linha com texto à esquerda e imagem à direita -->
    <div class="row mt-5">
      <!-- Coluna do Texto -->
      <div class="col-12 col-md-4 offset-md-1">
        <h3>Educação em <span class="highlight">Computação</span>,</h3>
        <p>
         O objetivo deste evento é reunir docentes e discentes de cursos de licenciatura, gestores de escolas e 
         gestores públicos da área de Educação com especialistas no ensino de Computação, criando um fórum de discussão, 
         aprendizado 
         e troca de experiências, integrando a comunidade nacional com interesse em Computação na Educação Básica.
        </p>
      </div>
      <!-- Coluna da Imagem -->
      <div class="col-12 col-md-6 text-center">
        <img class="img-fluid custom-size" src="/img/simposio/2025/eb/quadradinhos2.png" alt="Imagem icones">
      </div>
    </div>

  </div>
   <img id="tracofooter" src="/img/simposio/2025/eb/elementofooter.png"/>
  <section id="principais-trilhas"> 
    <div class="container mt-2 mb-2">
    <div class="row ">
      <div class="col-sm ">
        <h2 class="title-2 d-block text-center ">Locais do Evento</h2>
        <div class="card-wrapper-trilhas">

          <div class="card">
            <img class="card-img-top" src="/img/simposio/2025/eb/sudeste1.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-4">Juiz de Fora <br /> <span class="size">MINAS GERAIS</span></h5>
              <p class="card-text ">SEDE</p>
            </div>

          </div>


          <div class="card">
            <img class="card-img-top" src="/img/simposio/2025/eb/norte.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-4"> Itacoatiara <br /> <span class="size">AMAZONAS</span></h5>
              <p class="card-text">POLO REGIONAL</p>
              
            </div>

          </div>


          <div class="card">
            <img class="card-img-top" src="/img/simposio/2025/eb/nordeste.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-4">Salvador <br /> <span class="size">BAHIA</span></h5>
              <p class="card-text ">POLO REGIONAL</p>
            </div>

          </div>


          <div class="card">
            <img class="card-img-top" src="/img/simposio/2025/eb/centro.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-4">Campo Grande <br /> <span class="size">MATO G. DO SUL</span></h5>
              <p class="card-text ">POLO REGIONAL</p>
            </div>

          </div>


          <div class="card">
            <img class="card-img-top " src="/img/simposio/2025/eb/sul.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title mb-4">Bandeirante <br /> <span class="size">PARANÁ</span></h5>
              <p class="card-text ">POLO REGIONAL</p>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<img class="img-fluid img-bottom" src="/img/simposio/2025/eb/ondaverde.png" alt="">

 <div class="row mt-5">
      <!-- Coluna do Texto -->
      <div class="col-12 col-md-6 offset-md-1">
        <h3>Sobre a SBC</h3>
        <p class="textsobresbc">
        A Sociedade Brasileira de Computação – SBC é uma Sociedade Científica sem fins 
        lucrativos, fundada em julho de 1978, que reúne estudantes, professores, 
        profissionais, pesquisadores e entusiastas da área de Computação e Informática de 
        todo o Brasil. <br><br>


        A SBC tem como função fomentar o acesso à informação e cultura por meio da 
        informática, promover a inclusão digital, incentivar a pesquisa e o ensino em 
        Computação no Brasil, contribuindo para a formação do profissional da Computação 
        com responsabilidade social. <br><br>


        Para a organização e divulgação de atividades, ações e eventos científicos, técnicos, 
        educacionais e políticos, a SBC mantém uma estrutura de três tipos de Grupos 
        Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os 
        Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns 
        numa subárea da computação. <br><br>


        As Comissões Especiais (CE) representam grupos de associados da SBC que 
        compartilham interesses e valores em determinada área da Computação. O associado 
        vigente pode se inscrever nas listas de e-mail das Comissões Especiais (CE) da área 
        que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua 
        associação à nossa comunidade, clique aqui e venha fazer parte da SBC.
        </p>
      </div>
      <!-- Coluna da Imagem -->
      <div class="col-12 col-md-5 text-center">
        <img class="img-fluid editaimg" src="/img/simposio/2025/eb/cardcolorido.png" alt="Imagem icones">
        <img class="img-fluid editaimg2" src="/img/simposio/2025/eb/cardazul.png" alt="Imagem icones">
      </div>
    </div>

</div>
<img id="tracofooter" src="/img/simposio/2025/eb/elementofooter.png"/>