<div id="28-intervalo-vii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Intervalo VII</h1>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Em breve
        </span>
        <!--
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Ecivaldo Matos<br>
          <b>Universidade Federal da Bahia (UFBA)</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Gilvan Vilarim <br>
          <b>Instituto Federal do Rio de Janeiro (IFRJ)</b>
        </span>
        -->
    </div>
  </div>