<div id="28-lab-ideias-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Pensamento Computacional II (LI-IV)"
          chair_sessao="Tanci Simões Gomes (UFPE) | Presidente" 
          chair_sessao2="Wilk Oliveira (USP)"
          
          artigo1_titulo="RecifeGo!: Promovendo a Interdisciplinaridade do Pensamento Computacional na Rua"
          artigo1_autores="Vitor Dallegrave, Wellington Pereira, José Alexandre, Waleska Lira, Thiago Matheus, Rozelma Soares"
          
          artigo2_titulo="Sobre a Necessidade de Recursos Educacionais para o Ensino do Pensamento Computacional na Educação Básica Brasileira: Discussão e Concepção de Repositório Educacional do Pensamento Computacional"
          artigo2_autores="Jailine Santana, Diêgo Conceição, Adriano Ferreira, Eneida Rios, Camila Santana, Gilvan Durães"

          artigo3_titulo="Integração do Pensamento Computacional às Disciplinas da Educação Básica: uma Proposta de Aplicativo para Professores"
          artigo3_autores="Bárbara Morais, Rozelma Soares, Taciana Pontual Falcão"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Tecnologias na Educação em Computação (LI-V)"
          chair_sessao="Simone Senger Souza (ICMC/USP) | Presidente"
          chair_sessao2="Adriana Neves dos Reis (Feevale)" 
          
          artigo1_titulo="Explorando o Smartphone na Educação de Jovens e Adultos: Computação para a Autonomia Digital"
          artigo1_autores="Wictor Gomes, Ulremberg Silva, Danielle Silva, Rozelma Soares"
          
          artigo2_titulo="O Uso de Assistente de Provas no Ensino de Lógica"
          artigo2_autores="Rodrigo Ribeiro, Karina Roggia, Cristiano Vasconcellos"

          artigo3_titulo="Repositório Colaborativo para apoiar a adoção de Metodologias Ativas no Ensino de Programação"
          artigo3_autores="Ivanilse Ribeiro, Williamson Silva, Eduardo Feitosa"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Programação Introdutória I (LI-VI)"
          chair_sessao="Fabio Gomes Rocha (Unit) | Presidente" 
          chair_sessao2="Vinicius Ramos (UFSC)"
          
          artigo1_titulo="Análise de correlação entre habilidade de Resolução de Problemas e desempenho em disciplinas de programação"
          artigo1_autores="Jhonatas Oliveira, Leandro Galvão, Elaine Oliveira, David Oliveira, Filipe Dwan"
          
          artigo2_titulo="Ensinando sobre Representação de Imagens: Experiência no Projeto Computação Plugada com o Aplicativo Pixel"
          artigo2_autores="Larrysa Figueiredo, Matheus Barbosa, Emanoel Silva, Josinaldo Pontes Jr., Ayla Rebouças, Ivonildo Pereira Neto"

          artigo3_titulo="Interpretable AI to Understand Early Effective and Ineffective Programming Behaviours from CS1 Learners"
          artigo3_autores="Filipe Dwan, Elaine Oliveira, David Oliveira, Leandro Galvão, Alexandra Cristea"
        }}
    </div>
  </div>