<div id="28-sessao-tecnica-v-vi" style="display: none;">
    <div class="cd-schedule-modal__event-info">

      {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Computação na Educação Básica (ST-V)" 
          chair_sessao="Profa. Marcia Kniphoff (UNISC)"  
          
          artigo1_titulo="PS4W: Programa de inclusão jovem e feminina na área tecnológica"
          artigo1_autores="Nádia Alexandrino, Carlos Silva, Cristiane Targa, Daniel Conrado"
          
          artigo2_titulo="Estudantes Ensinando Computação para a Comunidade: Uma Experiência através do TISP"
          artigo2_autores="Camille Jesús, Francisco Tito Silva Santos Pereira, Daniel Costa, Diego Silva, Eduarda Oliveira, Lais Baptista, Ozenilson Cruz, Roberto Bittencourt"

          artigo3_titulo="Reflexões de uma Década de Desafios e Conquistas no Ensino de Programação para a Rede Pública de Ensino"
          artigo3_autores="Marco Antônio Oliari, José Jorge Moutinho Uliana, Mirelly Da Silva, Beatriz Maia, Thiago Paiva, Roberta Gomes, Patricia Dockhorn Costa, Rodrigo Laiola Guimarães"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Recursos e Ambientes Educacionais 1 (ST-VI)" 
          chair_sessao="Prof. Lesandro Ponciano (PUC-MG)"  
          
          artigo1_titulo="Python Enhanced Error Feedback: Uma IDE Online de Apoio ao Processo de Ensino-Aprendizagem em Programação"
          artigo1_autores="Luis Gustavo Araújo, Roberto Bittencourt, Christina Chavez"
          
          artigo2_titulo="Virtual Lab with Real Data"
          artigo2_autores="Victor Hayashi, Danilo Martins, Reginaldo Arakaki, Julio Carlos Teixeira, Bruno Angélico, Fabio Hayashi"

          artigo3_titulo="TryRdP: uma Ferramenta para o Aprendizado de Modelagem de Sistemas usando Redes de Petri"
          artigo3_autores="John Soares de Lima, Taciana Pontual Falcão, Ermeson Andrade"
        }}
      
    </div>
  </div>