<div id="28-sessao-tecnica-vii-viii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Habilidades e Competências (ST-VII)" 
          chair_sessao="Profa. Ayla Rebouças (UFPB)"
          
          artigo1_titulo="Desenvolvendo e descobrindo competências no currículo escolar por meio do Raciocínio Computacional"
          artigo1_autores="Ecivaldo Matos, Claudia Coutinho, Euma Silva Santos, Juliana Santos, Leonardo Ribeiro de Azevedo, Gracielle Tavares, Diego Zabot"
          
          artigo2_titulo="Existem Concordância e Confiabilidade na Avaliação da Criatividade de Resultados Tangíveis da Aprendizagem de Computação na Educação Básica?"
          artigo2_autores="Nathalia Alves, Christiane Gresse von Wangenheim, Lúcia Martins-Pacheco, Adriano Borgatto"

          artigo3_titulo="Uma Análise da Emergência de Pensamento Computacional em Práticas de Desenvolvimento de Jogos Digitais na Educação do Campo"
          artigo3_autores="Rozelma França, Taciana Pontual Falcão, Flavia Peres, Dyego Morais"
        }}
        
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Programação Introdutória (ST-VIII)" 
          chair_sessao="Prof. Eleandro Maschio (UTFPR)"
          
          artigo1_titulo="Mapeamento e análise empírica de misconceptions comuns em avaliações de introdução à programação"
          artigo1_autores="Ada Araujo, Daniel L. Z. Filho, Elaine Oliveira, Leandro Silva Galvão de Carvalho, Filipe Dwan Pereira, David Fernandes"
          
          artigo2_titulo="Investigando a Relação Entre a Nota no Vestibular com o Desempenho em Introdução à Programação"
          artigo2_autores="Leonardo Soares Silva, Joanne Gabriela dos Santos Silva, Milena Siqueira Santos"

          artigo3_titulo="Uso de atributos de código para classificação da facilidade de questões de codificação"
          artigo3_autores="Marcos Lima, Leandro Silva Galvão de Carvalho, Elaine Oliveira, David Fernandes, Filipe Dwan Pereira"
        }}

    </div>
  </div>