   {{> simposio/2021/pt-BR/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
            Certificados do Esquenta 1 EduComp <br>
            <small class="text-muted">(27 de março de 2021)</small>
          </h2> 
          <br>
          <h3>Obter certificado: </h3>
          <br>
          {{#if participacao}}
            <p> <a href='/simposio/2021/certificados/esquenta/1/obter/arquivo/participacao/seixas.luma@gmail.com' target="_blank" class="btn btn-primary btn-lg" style="width: 100px;">Participar</a> </p>
          {{/if}}

          {{#if organizacao}}
            <p> Organização </p> <button>Gerar</button> 
          {{/if}}

          {{#if comite_programa}}
            <p> Comitê de Programa </p> <button>Gerar</button> 
          {{/if}}

          {{#if palestra}}
            <p> Palestra </p> <button>Gerar</button> 
          {{/if}}
        </div>
      </div>
    </div>
  </section>