   {{> simposio/2021/pt-BR/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">

    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
            Esquenta EduComp 1 | Certificados <br>
            <small class="text-muted">(27 de março de 2021)</small>
          </h2> 
          <br>
          <h3>Obter certificado: </h3>
          <br>
          <form method="POST" action="/simposio/2021/certificados/esquenta/1/obter" id="form1">
            <div class="form-group">
                <label for="email1">Email usado na inscrição:</label>
                <input type="email" class="form-control" name="email" id="email">
            </div>
            
            <p> <input type="submit" value="Obter" class="btn btn-primary btn-lg" style="width: 150px;" id="submit1" /> </p> 
            
            {{!-- <button type="submit" onsubmit="alertar()" id="btnObter">Obter</button> --}}

            <div id="divLoading" style="display: none">
              <span>Buscando...</span>
              <div  class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
              </div>
            </div>

          </form>

          <script type="text/javascript"> // Script
              document.getElementById('submit1').addEventListener('click', mudarEstilo)

              function mudarEstilo(evt) {
                document.getElementById('divLoading').style.display = 'block'
              }

          </script>
        </div>
      </div>
    </div>
  </section>