:root {
  --eb-yellow: #f2c72c;
  --eb-green: #258873;
  --eb-green-bg: #c7e3d1;
  --eb-blue-dark: #004bb3;
  --eb-blue-medium: #2b7ec2;
  --eb-blue-light: #e7f1ff;
  --eb-gray: #b3b4b8;
  --eb-gray-bg: #f2f2f2;

  --navbar-link: var(--eb-green);
  --navbar-ativo: var(--eb-yellow);
  --navbar-ativo-bg: var(--eb-gray-bg);

  --footer-bg: var(--eb-green);
  --footer-border: var(--eb-yellow);

  --h1-color: var(--eb-green);
  --h2-color: var(--eb-green);
  --h3-color: var(--eb-green);
  --h4-color: var(--eb-green);
  /* --strong-color: var(bl); */
  --link-color: var(--eb-blue-dark);

  --table-header-color: var(--eb-green);
  --table-header-color-bg: var(--eb-green-bg);
  --table-striped-color-1: white;
  --table-striped-color-2: #f6fef6;
  --border-color: var(--eb-gray);
}

.content-sbc-eb {
  h2 {
    margin-bottom: 0.4em;
  }

  #inscricoes {
    #valores {
      .accordion {
        h4 {
          color: #e00814;
        }
      }

      .table {
        .prazo {
          color: var(--eb-blue-dark);
        }
      }
    }
  }
}

/* .esbc-eb .highlight {
  color: var(--edc-green);
} */

/* .sbc-eb h1 {
  padding: 3em 0.5em 0.25em 0.5em;
  border-bottom: 2px solid var(--edc-green);
  font-size: 3em;
  color: var(--eb-green);
  font-weight: 900;
  line-height: 1.5em;
  text-align: left;
  display: inline-block;
}

.sbc-eb h2 {
  border-bottom: 2px solid var(--edc-red);
  margin-bottom: 1em;
  font-size: 2em;
  color: var(--edc-blue);
  font-weight: 450;
  line-height: 1.3em;
  text-align: left;
}

.sbc-eb h2 {
  margin-bottom: 1em;
  font-size: 3em;
  color: var(--edc-blue);
  font-weight: 650;
  text-align: center;
  margin-top: 50px;
}

.sbc-eb h3 {
  margin-bottom: 1em;
  font-size: 3em;
  color: var(--edc-blue);
  font-weight: 650;
  text-align: left;
  margin-top: 50px;
} */

/* .sbc-eb .fundoverde {
  background-color: var(--edc-green);
}

.sbc-eb .img-top {
  width: 100%;
  position: relative;
  z-index: 1;
}

.sbc-eb .img-bottom {
  width: 100%;
  position: relative;
  top: -24px;
  z-index: 0;
}

.sbc-eb #tracofooter {
  width: 100%;
} */

/* .sbc-eb #principais-trilhas { */
  /* background-image: url("../../../../img/simposio/2025/eb/retanguloverde.png"); */
  /* background-color: var(--edc-green); */
  /* min-height: 600px; */
/* } */

/* .sbc-eb #principais-trilhas .card {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.sbc-eb #principais-trilhas .card-img-top {
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
}

.sbc-eb #principais-trilhas .card-title {
  font-size: 1.25rem;
  color: white;
  margin-top: 1rem;
}

.sbc-eb #principais-trilhas .card-text {
  font-size: 0.9rem;
  color: #ffffff;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.sbc-eb .titulobranco {
  color: white;
}

.sbc-eb .size {
  font-size: 20px;
  font-weight: 100;
}

.sbc-eb .textsobresbc {
  font-size: 14px;
  margin-bottom: 50px;
} */
