:root {
  --eb-yellow: #f2c72c;
  --eb-green: #258873;
  --eb-green-bg: #c7e3d1;
  --eb-blue-dark: #004bb3;
  --eb-blue-medium: #2b7ec2;
  --eb-blue-light: #e7f1ff;
  --eb-gray: #b3b4b8;
  --eb-gray-bg: #f2f2f2;

  --navbar-link: var(--eb-green);
  --navbar-ativo: var(--eb-yellow);
  --navbar-ativo-bg: var(--eb-gray-bg);

  --footer-bg: var(--eb-green);
  --footer-border: var(--eb-yellow);

  --h1-color: var(--eb-green);
  --h2-color: var(--eb-green);
  --h3-color: var(--eb-green);
  --h4-color: var(--eb-green);
  --link-color: var(--eb-blue-dark);

  --table-header-color: var(--eb-green);
  --table-header-color-bg: var(--eb-green-bg);
  --table-striped-color-1: white;
  --table-striped-color-2: #f6fef6;
  --border-color: var(--eb-gray);

  --prazo-firme-color: var(--edc-red);
  --prazo-footer-color: var(--eb-blue-medium);
  --prazo-data-color: var(--eb-blue-dark);

  --parceiros-color: var(--eb-green);
}

.content-sbc-eb {
  h2 {
    margin-bottom: 0.4em;
  }

  #chamadas {
    #datas-importantes {
      h2 {
        margin-bottom: 1em;
      }
    }
  }

  #aceitos {
    .accordion {
      h3 {
        border: 0;
        margin: 0;
        padding: 0.5em 0;
        font-size: 1.2em;
        color: var(--h3-color);
        font-weight: 300;
        line-height: 1.2em;
        text-align: left;
      }

      h4.titulo-artigo {
        border: 0;
        margin: 0;
        padding: 0.5em;
        font-size: 1em;
        color: var(--h3-color);
        font-weight: 300;
        line-height: 1.2em;
        text-align: left;
      }

      .autores-artigo {
        font-size: 0.9em;
      }

      .btn-link {
        color: var(--eb-green);
        font-size: clamp(13px, 1.5vw, 16px);
        padding: 0;
      }

      .btn-link:hover {
        text-decoration: none;
      }

      .btn-link:focus {
        text-decoration: none;
        box-shadow: none;
      }

      .card {
        border: 1px solid var(--eb-gray);
        background-color: var(--eb-gray-bg);
        transition: transform 0.2s;
        flex-direction: column;
        display: flex;
      }

      .card:hover {
        background-color: var(--eb-green-bg);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .card-header {
        display: flex;
        align-items: center;
        flex: 1;
      }

      .card-body {
        background-color: whitesmoke;
      }
    }
  }

  #inscricoes {
    #valores {
      .accordion {
        h4 {
          color: #e00814;
        }
      }

      .table {
        .prazo {
          color: var(--eb-blue-dark);
        }
      }
    }
  }

  #parceiros {
    h2 {
      text-align: center;
      font-size: 2.2em;
      font-weight: 600;
    }
  }

  .call-to-action {
    background-color: var(--eb-blue-medium);
  }
}
