.footer-sbc-eb {
  max-width: 100%;
  background-color: var(--eb-green);
  color: white;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border-top: 0.5em solid var(--eb-yellow);
}

.footer-sbc-eb .list-icons {
  padding-left: 15px;
}

.footer-sbc-eb .list-icons i {
  font-size: 1.4em;
  color: var(--eb-yellow);
  width: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-sbc-eb .list-icons a {
  font-size: 1.2em;
}

.footer-sbc-eb .btn {
  width: 200px;
  padding: 10px 10px;
  border-radius: 11px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  border: 2px solid var(--eb-yellow);
  text-align: center;
}

.footer-sbc-eb .btn-incricoes {
  background-color: var(--eb-yellow);
  color: white;
}

.footer-sbc-eb .btn-programacao {
  background-color: transparent;
  color: white;
}

.footer-sbc-eb #logo-sbc-eb {
  height: 60px;
  margin-top: 20px;
  margin-bottom: 20px;
}
