.eb-footer {
    max-width: 100%;
    background-color: #06487E;
    color: white;
    padding-top: 1em;
    padding-bottom: 2em;
}

.eb-footer h5 {
    padding-top: 1.5em;
    padding-bottom: 0.5em;
    font-size: 1.4em;
    font-weight: 4  00;
}

.eb-footer .icon {
    width: 25px;
    height: 25px;
    font-size: 25px;
    display: inline-block;
    line-height: 1;
    vertical-align: middle;
    text-align: center;
}



.eb-footer a#email {
    color: inherit;
    font-size: 1.1em;
    text-decoration: underline;
    text-underline-offset: 2.5px;
    margin-top: 1em;
    display: inline-block;
}

h5 {
    font-weight: 600;
}

span{
    color: white;
    margin-top: 20px;
    margin-left: 5px;
}

.align-vertical {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

 .eb-footer  img{
    margin-top: 20px;
  }