/* .educomp-header {
    padding-top: 5em;
} */

.eb-header .navbar {
    max-width: 100%;
}

.eb-header .navbar-transparent {
    background-color: white !important;
    transition: background-color 0.5s ease;
    border-bottom: none;
}

.eb-header .navbar-scrolled {
    background-color: white !important;
    box-shadow: 0 2px 4px var(--gray);
    transition: background-color 0.5s ease;
}

.eb-header .navbar .button-drop {
    color: var(--edc-blue);
    padding: 1em;
}

.eb-header .navbar .button-drop i {
    font-size: 1.5em;
}

.eb-header .navbar .nav-item>a {
    color: var(--edc-blue);
    font-weight: bold;
    transition: color 0.3s ease, font-size 0.3s ease; /* Adiciona transição para cor e tamanho da fonte */
}

.eb-header .navbar .nav-item a:hover {
    color: black !important; /* Cor mais escura no hover */
    background-color: white !important; /* Fundo branco no hover */
    transition: color 0.3s ease, font-size 0.3s ease; /* Adiciona transição para cor e tamanho da fonte */
}

.eb-header .navbar-transparent .nav-item .active {
    color: var(--edc-green);
    background-color: transparent !important;
    transition: background-color 0.5s ease;
    transition: border-bottom 0.5s ease;
    border-bottom: 0.5em solid transparent; 
}

.eb-header .navbar-scrolled .nav-item .active {
    color: var(--edc-green);
    background-color: var(--edc-gray);
    transition: background-color 0.5s ease;
    transition: border-bottom 0.5s ease;
    border-bottom: 0.5em solid var(--edc-green); 
}

.eb-header .navbar-scrolled .nav-item .active:hover {
    color: var(--edc-blue);
}

.navbar .navbar-brand {
    margin-right: 0; /* Sem margem direita */
    margin-left: 1em; /* Sem margem esquerda */
    padding-bottom: 20px; /* Remover espaçamento interno */
}

/* Ajustar o logo */
#logoeb {
    height: 3.5em; /* Tamanho da imagem */
    max-height: 100%; /* Garantir que não extrapole */
    padding: 0; /* Sem espaçamento */
    margin: 0; /* Sem margem */
    display: block; /* Garantir comportamento previsível */
}

#logosbc {
    height: 3.5em; /* Tamanho da imagem */
    max-height: 100%; /* Garantir que não extrapole */
    padding: 0; /* Sem espaçamento */
    margin: 0; /* Sem margem */
    display: block; /* Garantir comportamento previsível */ 
}

.inscricoes-container {
    display: flex;
    justify-content: center; /* Centralizar horizontalmente */
    align-items: center; /* Centralizar verticalmente */
    margin-top: 2em; /* Espaçamento superior */
    margin-bottom: 2em; /* Espaçamento inferior */
}

/* Ajustar o botão de inscrições */
.btn-inscricoes {
    background-color: var(--edc-green); /* Usar cor do tema se possível */
    color: white; /* Texto branco */
    padding: 12px 24px; /* Tamanho maior para botão */
    font-size: 16px; /* Tamanho do texto maior */
    border-radius: 50px; /* Bordas mais arredondadas */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra leve */
    text-decoration: none; /* Remover sublinhado */
    transition: all 0.3s ease;
}

.btn-inscricoes:hover {
    background-color: #218838; /* Tom mais escuro no hover */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Aumentar a sombra no hover */
    color: white;
}

/* Estilos para telas abaixo de 992px */
@media (max-width: 991.98px) {
    .eb-header .navbar .nav-link {
        padding: 2em 1em !important;
    }
}

/* Estilos para telas acima de 992px */
@media (min-width: 992px) {
    .eb-header .navbar .nav-link {
        padding: 4em 1em !important;
    }
}