:root {
  --eb-yellow: #F2C72C;
  --eb-green: #258873;
  --eb-blue-dark: #004BB3;
  --eb-blue-medium: #2B7EC2;
  --eb-blue-light: #E7F1FF;
  --eb-gray: #B3B4B8;
}

nav{
  position: fixed; 
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; 
  background-color: white; 
}

.eb {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;  
}

.eb .highlight {
  color: var(--edc-green);
}

.eb .imagelink {
  background-color: transparent;
}

.eb .imagelink:hover {
  background-color: transparent;
}

.eb .bg-gray {
  background-color: var(--edc-gray);
}

.eb section {
  padding-top: 3em;
  padding-bottom: 2em;
}

.sbc-eb h1 {
  padding: 3em 0.5em 0.25em 0.5em;
  border-bottom: 2px solid var(--edc-green);
  font-size: 3em;
  color: var(--eb-green);
  font-weight: 900;
  line-height: 1.5em;
  text-align: center;
  display: inline-block;
}

.eb h2 {
  margin-bottom: 1em;
  font-size: 3em;
  color: var(--edc-blue);
  font-weight: 650;
  text-align: center;
  margin-top: 50px;
}

.eb h3 {
  margin-bottom: 1em;
  font-size: 3em;
  color: var(--edc-blue);
  font-weight: 650;
  text-align: left;
  margin-top: 50px;
}

.eb .edc-font {
  font-size: 1.1rem;
  line-height: 150%;
  text-align: left;
  font-family: 'Inter var', sans-serif;
  font-weight: 300;
}

.eb .edc-font strong {
  color: var(--edc-blue);
  font-weight: 600;
}

.eb .edc-font a {
  color: var(--edc-blue);
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 400;
}

.eb .edc-font a:hover {
  background-color: transparent;
}

.fundoverde{
  background-color: var(--edc-green);
}

 .img-top {
  width: 100%;
  position: relative;
  z-index: 1;
}

.img-bottom {
  width: 100%;
  position: relative;
  top: -24px;
  z-index: 0;
}

#tracofooter{
  width: 100%;
}

#principais-trilhas {
 /* background-image: url("../../../../img/simposio/2025/eb/retanguloverde.png"); */
  background-color: var(--edc-green);
  min-height: 600px;
}

#principais-trilhas .card {
  background-color: transparent;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#principais-trilhas .card-img-top {
  width: 100%;
  max-width: 120px; 
  margin: 0 auto;
}

#principais-trilhas .card-title {
  font-size: 1.25rem;
  color: white;
  margin-top: 1rem;
}

#principais-trilhas .card-text {
  font-size: 0.9rem;
  color: #ffffff;
  border: 1px solid white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.titulobranco{
  color: white;
}

.size{
  font-size: 20px;
  font-weight: 100;
}

.textsobresbc{
  font-size: 14px;
  margin-bottom: 50px;
}