.navbar-sbc-eb {
    max-width: 100%;
    background-color: white !important;
    box-shadow: 0 2px 4px var(--gray);
    justify-content: space-evenly;
}

.navbar-sbc-eb #logo-sbc {
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-sbc-eb #logo-sbc-eb {
    height: 38px;
    padding-left: 5px;
    padding-right: 5px;
}

.navbar-sbc-eb .button-drop {
    color: var(--edc-blue);
    padding: 1em;
}

.navbar-sbc-eb .button-drop i {
    font-size: 1.5em;
}

.navbar-sbc-eb .nav-item>a {
    color: var(--eb-green);
    font-weight: bold;
}

.navbar-sbc-eb .nav-item a:hover {
    background-color: var(--eb-green) !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.navbar-sbc-eb .nav-item .active {
    /* color: var(--eb-blue-medium); */
    color: var(--eb-yellow);
    background-color: var(--menu-gray);
    /* border-bottom: 0.5em solid var(--eb-blue-medium);  */
    border-bottom: 0.5em solid var(--eb-yellow); 
}

.navbar-sbc-eb .navbar-collapse {
    flex-grow: unset;
}

.navbar-sbc-eb-scrolled .nav-item .active:hover {
    background-color: var(--eb-yellow);
}

.navbar-sbc-eb .inscricoes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 5px;
    padding-bottom: 10px;
}

.navbar-sbc-eb .btn-inscricoes {
    background-color: var(--eb-green);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 50px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all 0.3s ease;
}

.navbar-sbc-eb .btn-inscricoes:hover {
    /* background-color: var(--eb-blue-medium); */
    background-color: var(--eb-yellow);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    color: white;
}

/* Estilos para telas abaixo de 992px, quando o menu está fechado */
@media (max-width: 991.98px) {
    .navbar-sbc-eb .nav-link {
        padding: 1em 1em !important;
        background-color: white;
    }
    .sbc-eb-header .inscricoes-container {
        background-color: white;
    }
}

/* Estilos para telas acima de 992px, quando o menu está aberto */
@media (min-width: 992px) {
    .navbar-sbc-eb .nav-link {
        padding: 2.4em 0.5em !important;
    }
} 


