.content #polos {  
    .figure-img {
        height: 300px;
        width: 100%;
        object-fit: cover;
        box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        transition: transform 0.3s ease;
        margin-top: 0.5em;
      }
 
    .imagem-principal .figure-img {
        width: 100%; 
        max-width: 100%; 
        height: 450px; 
        object-fit: cover; 
    }

    .figure-img:hover {
        transform: scale(1.02);
    }

    .figure-caption {
        padding: 0%;
        text-decoration: none;
        color: inherit;
    }

    .figure-caption a {
        text-decoration: none;
        color: inherit;
    }


    @media (max-width: 768px) {
        .imagem-principal .figure-img {
            height: 250px;
        }
        .figure-img {
            height: 250px;
          }
    }

    @media (max-width: 480px) {
        .imagem-principal .figure-img {
            height: 200px;
        }
        
        .figure-img {
            height: 200px;
          }
    }
}
