.navbar {
  max-width: 100%;
  background-color: white !important;
  box-shadow: 0 2px 4px var(--gray);
  justify-content: space-evenly;

  .navbar-brand {
    margin-right: 0;
  }

  #logo-sbc {
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #logo-educomp {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #logo-sbc-eb {
    height: 39px;
    padding-left: 5px;
    padding-right: 5px;
  }

  .button-drop {
    color: var(--navbar-link);
    padding: 1em;

    i {
      font-size: 1.5em;
    }
  }
  .nav-item > a {
    color: var(--navbar-link);
    font-weight: bold;
  }

  .nav-item a:hover {
    background-color: var(--navbar-link) !important;
    color: white !important;
    transition: background-color 0.3s ease;
  }

  .nav-item .active {
    color: var(--navbar-ativo);
    background-color: var(--navbar-ativo-bg);
    border-bottom: 0.5em solid var(--navbar-ativo);
  }

  .navbar-collapse {
    flex-grow: unset;
  }

  .nav-item .dropdown-header {
    color: var(--h1-color);
  }

  @media (max-width: 991.98px) {
    .nav-link {
      padding: 1em 1em !important;
      background-color: white;
    }

    .inscricoes-container {
      background-color: white;
    }
  }

  @media (min-width: 992px) and (max-width: 1199.98px) {
    .nav-link {
      padding: 2.4em 0.5em !important;
    }

    .nav-link.inscricoes {
      padding: 1em 0.5em !important;
      margin: 1.4em 0;
      background-color: var(--navbar-ativo);
      color: white;
      border: 0;
      border-radius: 40px;
    }

    .nav-link.inscricoes.active {
      padding: 2.4em 0.5em !important;
      margin: 0;
      background-color: var(--navbar-ativo-bg);
      color: var(--navbar-ativo);
      border-bottom: 0.5em solid var(--navbar-ativo);
      border-radius: 0;
    }
  }

  @media (min-width: 1200px) {
    .nav-link {
      padding: 2.4em 1em !important;
    }

    .nav-link.inscricoes {
      padding: 1em 1em !important;
      margin: 1.4em 0 0 5px;
      background-color: var(--navbar-ativo);
      color: white;
      border: 0;
      border-radius: 40px;
    }

    .nav-link.inscricoes.active {
      padding: 2.4em 1em !important;
      margin: 0;
      background-color: var(--navbar-ativo-bg);
      color: var(--navbar-ativo);
      border-bottom: 0.5em solid var(--navbar-ativo);
      border-radius: 0;
    }
  }
}
