<div class="modal fade" id="lab-ideias-iii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Laboratório de Ideias V e VI
          <small style="font-size: 0.7em;">| 18:30 - 19:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true


        titulo_sessao="(LI-V) Tecnologias para a educação em computação II"
        chair_sessao="Esdras Bispo Jr (Universidade Federal de Jataí)"


        artigo1_titulo="
        Abordagem para seleção de exemplos trabalhados para engenharia de software do domínio de sistemas distribuídos"


        artigo2_titulo="Um Estudo sobre a Usabilidade de Produtos Acadêmicos de Software e suas Implicações para o
        Ensino de Computação"

        artigo3_titulo="BitLand: um jogo para auxiliar na aprendizagem de medidas de grandezas na informática"

        }}

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true


        titulo_sessao="(LI-VI) Inclusão e Acessibilidade na Educação em Computação"
        chair_sessao="Luma Seixas (Universidade Federal da Bahia)"


        artigo1_titulo="SpaceCode: uma gamificação para auxiliar estudantes com TEA na aprendizagem de Estruturas de
        Dados"


        artigo2_titulo="Sinais do Futuro: um jogo educacional para pessoas surdas exercitarem matemática e Pensamento
        Computacional"

        artigo3_titulo="Um estudo sobre o impacto das disciplinas na evasão acadêmica sobre diferentes tipos de alunos
        no ICOMP"

        }}


      </div>
    </div>
  </div>
</div>