<div class="modal fade" id="mesa-tematica-iii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Mesa Temática III
          <small style="font-size: 0.7em;">| 09:00 - 10:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>Fatores que influenciam as escolhas profissionais das mulheres em Computação
        </h5>


        <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">

          <a class="btn btn-info" href="https://meet.google.com/thp-egsp-arn" target="_blank"
            style="background-color: #00ac47; color:white; border: 0px; ">
            <span style="padding-right:0.5em;">
              <i class="fas fa-video"></i>
            </span>
            Transmissão pelo Google Meet
          </a>
        </span>

        <hr>


        <span class="mb-3" style="font-size: large; display: block;">
          Luciana Frigo (UFSC)<br>
          Silvia Amelia Bim (UTFPR)<br>
          <b>Ministrantes:</b><br>
          Ana Lara Casagrande (UFMT)<br>
          Raquel Miguel (UFSC)<br>
          Louise Suelen Araujo Reis (UESC)<br>

        </span>


      </div>
    </div>
  </div>
</div>