<div class="modal fade" id="minicurso-ii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Minicurso II
          <small style="font-size: 0.7em;">| 10:30 - 12:20</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>A plataforma de jogos WordWall como ferramenta para a avaliação da aprendizagem</h5>


        <b style="color: white; background-color: gray; padding: 0.2em; margin-bottom:0.5m;">Transmissão restrita aos
          inscritos do evento</b>
        <hr>

        <span class="mb-3" style="font-size: large; display: block;">
          Kleber Kroll de Azevedo SilvaT (IFRN)<br>
          Marcos Antônio de Araújo Silva (IFRN)<br>
          Paulo Victor de Souza Batista (IFRN)<br>
          Franciele Cunha da Fonseca (IFRN)
        </span>

      </div>
    </div>
  </div>
</div>