<div class="modal fade" id="sessao-tecnica-viii2-ix1" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas VIII/2 e IX/1
          <small style="font-size: 0.7em;">| 16:30 - 17:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(VIII/2) Método e estratégias de ensino e aprendizagem de computação "
        chair_sessao="Jean Hauck (UFSC)"



        artigo1_titulo="Uma análise do uso de ferramentas de geração de código por alunos de computação"
        artigo1_autores="Werney Ayala Luz Lira (IFPI), Pedro Santos Neto (UFPI), Luiz Fernando Mendes Osorio (UFPI)"
        artigo1_artigo_pesquisa=true

        artigo2_titulo="Figmatizando Ideias: Um Relato de Experiência da Execução do Curso Presencial de Figma na
        Prática"
        artigo2_autores="Israely Lima (UFC), Francisco Andrade (UFC), Giovana Ramalho (UFC), Riane Gomes Alves (UFC),
        Marina
        Rocha (UFC), Jacilane Rabelo (UFC)"
        artigo2_relato_experiencia=true

        artigo3_titulo="Ensino da Adequação à LGPD no Desenvolvimento de Software através da Aprendizagem Ativa e
        Centrada no Discente"
        artigo3_autores="Juliana Saraiva (UFPB), Sergio Soares (UFPE), Juliana Araujo (UFPB)"
        artigo3_relato_experiencia=true

        }}

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-IX/1) Avaliação da aprendizagem em computação"
        chair_sessao="Heitor Costa (UFLA)"



        artigo1_titulo="Use of learning analytics to evaluate the efficiency of an introduction course of Artificial
        Intelligence"
        artigo1_autores="Marcelo Henklain (UFRR), Filipe Dwan Pereira (UFRR), Luciano Ferreira Silva (UFRR), Acauan
        Ribeiro (UFRR), Herbert Rocha (UFRR), Marcelle Urquiza (UFFR), Leandro Balico (UFRR), Rafael Ferreira Mello
        (UFRPE)"
        artigo1_relato_experiencia=true

        artigo2_titulo="Analisando a efetividade da formação de clusters na avaliação de exercícios de programação"
        artigo2_autores=" Arthur Mendonça Sasse (UFRJ), Laura Moraes (UNIRIO), Carla Delgado (UFRJ), Carlos Pedreira
        (UFRJ)"
        artigo2_recurso_didatico=true


        }}

      </div>
    </div>
  </div>
</div>