<div class="modal fade" id="27-sessao-tecnica-xi-xii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas XI e XII
          <small style="font-size: 0.7em;">| 16:30 - 17:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Fatores Emocionais (ST-XI)"
          chair_sessao="Windson Viana (UFC)" 	

          artigo1_titulo="Cyberbullying na Escola: Entendendo e Lidando com a Crueldade Online"
          artigo1_autores="Wellington Pereira, Rozelma França"
          artigo1_recurso_didatico=true
          
          artigo2_titulo="Association of Sleep Quality with Anxiety and Depression Symptoms among Computer Science Students"
          artigo2_autores="Lígia Maria Soares Passos, Christian Murphy, Rita Zhen Chen, Marcos Gonçalves Santana, Giselle Soares Passos"
          artigo2_artigo_pesquisa=true

          artigo3_titulo="Estudo sobre Evasão nos Cursos de Computação da Universidade Estadual de Maringá"	
          artigo3_autores="Amanda Tiemi Fukao, Luciana Martimiano, Valéria Feltrim, Thelma Colanzi"
          artigo3_artigo_pesquisa=true

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Ensino Remoto (ST-XII)"
          chair_sessao="Kiev Gama (UFPE)"
          
          artigo1_titulo="Ensino Remoto de Programação em Java para Estudantes do Ensino Técnico Utilizando Tablets: Um Relato de Experiência"				
          artigo1_autores="Claudiano Oliveira, Carla Ilane Moreira Bezerra, Emanuel Coutinho"
          artigo1_relato_experiencia=true
          
          artigo2_titulo="An Experience Report of Remote Teaching about the IT Leadership Course - A Practical Approach"						
          artigo2_autores="Marina Rocha, Gabriela Dias, Gilberto Junior de Oliveira, Jorge Luiz, Mateus Andrade, Jacilane Rabelo"
          artigo2_relato_experiencia=true
		
          artigo3_titulo="Applying Remotely the Challenge Based Learning Methodology in Undergraduate and Postgraduate Disciplines"								
          artigo3_autores="Andrew Costa, Carlos Lucena, Gustavo Carvalho"
          artigo3_relato_experiencia=true

        }}
        
      </div>
    </div>
  </div>
</div>