<div class="modal fade" id="25-sessao-tecnica-i-ii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas I e II
          <small style="font-size: 0.7em;">| 15:00 - 16:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Pensamento Computacional I (ST-I)"
          chair_sessao="Aracele Garcia de Oliveira Fassbinder (IFSulDeMinas)" 
          
          artigo1_titulo="Um Mapeamento Sistemático da Literatura sobre Pensamento Computacional na Perspectiva dos Fundamentos Teóricos de Aprendizagem"
          artigo1_autores="Julian Mubarack Garcia, Roberto Bittencourt"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="A Liga do Pensamento Computacional: uma narrativa distópica para gamificar uma disciplina introdutória de computação"
          artigo2_autores="Roberto Pereira, Rachel Reis, Leonam Oliveira, Guilherme Derenievicz, Leticia Peres, Fabiano Silva"
          artigo2_relato_experiencia=true
	
          artigo3_titulo="Ensinando Pensamento Computacional para Alunas de Disciplinas Introdutórias de Programação no Ensino Técnico através de um MOOC"
          artigo3_autores="Cynthia Santiago, José Roberto Carvalho Lima, Thainara Costa"
          artigo3_recurso_didatico=true

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao=" Avaliação automatizada de tarefas de programação (ST-II)"
          chair_sessao="Rodrigo Duran (IFMS)" 
          
          artigo1_titulo="Uma Análise em Larga-Escala das Funcionalidades de Aplicativos criados com App Inventor"
          artigo1_autores="Nathalia Alves, Christiane Gresse von Wangenheim"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Correlação Entre Complexidade e Dificuldade de Questões de Programação em Juízes Online"
          artigo2_autores="Jackson Fernandes, Leandro Silva Galvão de Carvalho, David Fernandes, Elaine Oliveira,
Filipe Dwan Pereira, Tanara Lauschner"
          artigo2_artigo_pesquisa=true
		
          artigo3_titulo="Juízes Online são suficientes ou precisamos de um 'VAR'"
          artigo3_autores="Alexandre Barbosa, Evandro de Barros Costa, Patrick Brito"
          artigo3_ensaio=true

        }}
        
      </div>
    </div>
  </div>
</div>