<div class="modal fade" id="sessao-tecnica-vii-viii1" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas VII e VIII/1
          <small style="font-size: 0.7em;">| 15:00 - 16:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-VII) Aspectos éticos na educação em computação "
        chair_sessao="Leandro Galvão (UFAM)"




        artigo1_titulo="Proposta de Atividades para o Ensino de Ética em Computação"
        artigo1_autores="Paula Macedo da Cruz (UFRJ), Lenise Rodrigues (UFRJ), Joao Carlos da Silva (UFRJ)"
        artigo1_relato_experiencia=true

        artigo2_titulo="Você decide quem POD: empoderando a/o estudante de computação quanto à propriedade de seus
        dados"
        artigo2_autores=" Orcar Barbosa (Universidade de Brasília (UnB), Thiaggo Bispo (UnB), João Marcos Duda (UnB),
        Bruno Barros (UnB), Germana Nóbrega (UnB)"
        artigo2_recurso_didatico=true

        artigo3_titulo="O que graduandos em informática consideram necessário aprender sobre Ética? Subsídios para a
        Educação em Computação"
        artigo3_autores="Marcelo Henklain (UFRR), Yaritza Barreto (UFRR), Filipe Brito (UFRR), Marcus Santos (UFRR),
        Felipe Lobo (UFRR), Luciano Ferreira Silva (UFRR)"
        artigo3_curriculo=true


        }}

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-VIII/1) Método e estratégias de ensino e aprendizagem de computação"
        chair_sessao="Rodrigo Duran (IFMS)"


        artigo1_titulo="Fostering Programming Logic Skills in High School Students Through Project-Based Learning: An
        Educational Experience"
        artigo1_autores="Larissa Galeno (UFRJ), Luis Costa (UFRJ), Geraldo Xexéo (UFRJ)"
        artigo1_relato_experiencia=true

        artigo2_titulo="Aplicação do POGIL no ensino de Computação"
        artigo2_autores="Valéria Lelli (UFC), Ismayle Sousa Santos (UECE), Fernanda Sousa (UFC), Lucas Braide (UFC)"
        artigo2_relato_experiencia=true

        artigo3_titulo="Análise do Uso de Componentes do Moodle em uma Disciplina Introdutória de Programação"
        artigo3_autores="Alice Lima (UnB), Vinicius Ruela Pereira Borges (UnB), Edison Ishikawa (UnB), Maristela Holanda
        (UnB)"
        artigo3_artigo_pesquisa=true

        }}

      </div>
    </div>
  </div>
</div>