<div id="26-lab-ideias-i-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Pensamento Computacional I (LI-I)"
          chair_sessao="Haroldo Amaral (UPE)" 
          chair_sessao2="Adelmo Antonio da Silva Eloy (USP)"
          
          artigo1_titulo="Laboratório de Pensamento Computacional na Perspectiva da Educação Científica para Formação de Professores"
          artigo1_autores="Jadson Rafalski, Maria Aparecida de Faria da Silva, Kenia Luiza Oliveira, Márcia Oliveira"
          
          artigo2_titulo="Como Professores da Educação Básica Podem Ensinar o Pensamento Computacional de Forma Interdisciplinar?"
          artigo2_autores="Lais Baptista, Roberto Bittencourt"

          artigo3_titulo="Conexões entre o Pensamento Computacional e o Pensamento Algébrico em Design de Jogos na Plataforma Scratch para o Ensino da Matemática nos Anos Finais da Educação Básica"
          artigo3_autores="Jairo Da Silva, Taciana Pontual Falcão"

        }}

        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Ensino de Programação (LI-II)"
          chair_sessao="Nathalia da Cruz Alves (UFSC)" 
          chair_sessao2="Vanessa Dantas (UFPB)"
          
          artigo1_titulo="Uma proposta de Avaliação Multidimensional da aprendizagem de programação na Formação Profissional"
          artigo1_autores="Evandro Scarpati, Márcia Oliveira"
          
          artigo2_titulo="Uma proposta para utilização da metodologia POGIL no ensino de programação: estudo piloto"
          artigo2_autores="Marcos Augusto de Souza Pinto, Elaine Oliveira, Thiago Lopes Costa, Alexandre Passito, Leandro Silva Galvão de Carvalho, David Fernandes"

          artigo3_titulo="Monitoria na Disciplina da Primeira Linguagem de Programação"
          artigo3_autores="Maristela Holanda, Carla Castanho, Ian Bandeira"

        }}
        
    </div>
  </div>