<div id="26-palestra-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Título a definir</h1>

          <!--{{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=KpNEcEG0qF4"
          }}--->

          <div class="row">
            <div class="col-4">
              <img src="/img/pessoas/colleen.jpeg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Profa. Amy J. Ko <br>
                <b>Universidade de Washington <br>Seattle (EUA)</b>
              </span>
            </div>          
          </div>
        
        <!--<span style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: -15em;">
          Prof. Rodrigo Duran (IFMS)<br>
          <b>Mediador</b>
        </span>
        
        <span style="font-size: large; display: block; margin-bottom: 1.5em;">
          Profa. Taciana Falcão (UFRPE)<br>
          <b>Tradutora</b>
        </span>

        <p style="font-size: large; display: block; margin-bottom: 1.5em;">
          <b>Abstract:</b> Computer science (CS) education research is of growing relevance because of the growing need for computer scientists and an informed public who understands the computational world around them. As a relatively young field, CS and CS education are primed for innovation and impact, and CS education research can be a primary driver of developing effective and equitable CS education. CS education research has important connections with other CS sub-disciplines like HCI, software engineering, and programming languages, and has additional connections to non-CS disciplines like cognitive science, psychology, and education. Drawing from her own and others’ CS education research, Lewis will illustrate recent innovations and impacts from CS education research. 
        </p>

        <p style="font-size: large; display: block; margin-bottom: 0.5em;">
          <b>Bio:</b> Colleen Lewis is an Assistant Professor of computer science (CS) at the University of Illinois Urbana-Champaign. Lewis was previously the McGregor-Girand Associate Professor of CS at  Harvey Mudd College. At the University of California, Berkeley, Lewis completed a PhD in science and mathematics education, an MS in computer science, and a BS in electrical engineering and computer science. Her research seeks to identify and remove barriers to CS learning and understand and optimize CS learning. Lewis curates CSTeachingTips.org, a project for disseminating effective CS teaching practices. Lewis has received the NCWIT.org Undergraduate Mentoring Award and the AnitaB.org Emerging Leader Award for her efforts to broaden participation in computing. 
        </p>-->

    </div>
  </div>