<div id="26-palestra-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Conversa com Amy Ko</h1>

          <!--{{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=KpNEcEG0qF4"
          }}--->

          <div class="row">
            <div class="col-4">
              <img src="/img/simposio/2022/pessoas/amy.jpg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Profa. Amy J. Ko <br>
                <b>Universidade de Washington <br>Seattle (EUA)</b>
              </span>
            </div>          
          </div>
        
        <p style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: -15em;">
          <b>Resumo:</b> Os professores Rodrigo Duran, Taciana Falcão e André Lemos entrevistam a renomada pesquisadora Amy J. Ko, da Universidade de Washington, EUA. Amy Ko já publicou trabalhos extremamente relevantes em diversas áreas como engenharia de software, IHC e Educação de Computação. Nesta entrevista, no formato de fireside chat, os entrevistadores abordarão a carreira de Amy, como ela vê passado, presente e futuro da área de Educação de Computação, o papel da tecnologia e da computação na sociedade, como o ensino de computação pode ser utilizado como uma ferramenta de transformação crítica na sociedade e vários outros temas de interesse da comunidade. Após a entrevista, os participantes do EduComp terão a oportunidade de interagir com a professora Amy Ko.
 
        </p>
        
        <p style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: 1.5em;">
          <b>Bio:</b> Amy J. Ko is a Professor at the University of Washington Information School and an Adjunct Professor at the Paul G. Allen School of Computer Science and Engineering. She directs the Code & Cognition Lab, where she and her students study CS education, human-computer interaction, and humanity's individual and collective struggle to understand computing and harness it for equity and justice. Her earliest work included techniques for automatically answering questions about program behavior to support debugging, program understanding, and reuse. Her later work studied interactions between developers and users, and techniques for web scale aggregation of user intent through help systems; she co-founded AnswerDash to commercialize these ideas. Her latest work investigates effective, equitable, and inclusive ways for humanity to learn computing, especially how data, algorithms, APIs, and AI can both empower and oppress. Her work spans more than 140 peer-reviewed publications, with 13 receiving best paper awards and 4 receiving most influential paper awards. She is an ACM Senior Member, and member of ACM SIGCHI, SIGCSE, and SIGSOFT. She received her Ph.D. at the Human-Computer Interaction Institute at Carnegie Mellon University in 2008, and degrees in Computer Science and Psychology with Honors from Oregon State University in 2002.
 
        </p>

        <span style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: 1.5em; background-color: rgb(221, 216, 216)">
          Prof. André Lemos (IFTM)<br>
          Prof. Rodrigo Duran (IFMS)<br>
          Profa. Taciana Falcão (UFRPE)<br>
          <b>Mediação</b>
        </span>

    </div>
  </div>