<div id="26-sessao-tecnica-iii-iv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Pensamento Computacional II (ST-III)"
          chair_sessao="A definir" 
          
          artigo1_titulo="Panorama Sobre Iniciativas para Promover o Pensamento Computacional no Ensino Superior Brasileiro"
          artigo1_autores="Iago Sinésio Ferris Silva, Taciana Pontual Falcão"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Jogo digital educacional para desenvolvimento do Pensamento Computacional para crianças com Deficiência Intelectual"
          artigo2_autores="Taynara Dutra, André E. G. Ferreira, Isabela Gasparini, Eleandro Maschio"
          artigo2_recurso_didatico=true

        }}
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Ensino Emergencial Remoto II (ST-IV)"
          chair_sessao="A definir"  
          
          artigo1_titulo="Um Modelo de Ensino Virtual de Engenharia de Software Orientado por Competências, Times e Projetos"
          artigo1_autores="Johnny Marques, Karla Fook"
          artigo1_relato_experiencia=true
          
          artigo2_titulo="AmongNET Game: Um relato de experiência do uso da Virtualidade e da Realidade Aumentada no Ensino Remoto Emergencial de Redes de Computadores"
          artigo2_autores="Windson Viana, Erivan Lima, Ricardo Rodrigues Pereira"
          artigo2_relato_experiencia=true
          
        }}

    </div>
  </div>