<div id="26-sessao-tecnica-i-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Pensamento Computacional I (ST-I)"
          chair_sessao="Marcela Sávia Picanço Pessoa (UEA)" 
          
          artigo1_titulo="Panorama Sobre Iniciativas para Promover o Pensamento Computacional no Ensino Superior Brasileiro"
          artigo1_autores="Iago Sinésio Ferris Silva, Taciana Pontual Falcão"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Pensamento Computacional na Oficina 'Ginástica Cerebral' para Pessoas Idosas"
          artigo2_autores="Tainã Tavares, Marcia Kniphoff da Cruz, Samanta Marques"
          artigo2_relato_experiencia=true

        }}
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Ensino Emergencial Remoto I (ST-II)"
          chair_sessao="Tayana Conte (UFAM)"  
          
          artigo1_titulo="The Impacts of Emergency Remote Learning in a Computer Science Programming Course: a Case Study"
          artigo1_autores="Jean Hauck, Thaís Idalino"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Association of Positive and Negative Feelings with Anxiety and Depression Symptoms among Computer Science Students during the COVID-19 Pandemic"
          artigo2_autores="Lígia Maria Soares Passos, Christian Murphy, Rita Zhen Chen, Marcos Gonçalves Santana, Giselle Soares Passos"
          artigo2_artigo_pesquisa=true
          
        }}

    </div>
  </div>