<div class="modal fade" id="29-encerramento" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessão de Encerramento
          <small style="font-size: 0.7em;">| 13:00 - 14:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
         
         {{> 
          simposio/2023/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=5Rf0_NecTYg"
        }}
         
         <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Lançamento e Sorteio de Livros
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Marcos Wagner de Souza Ribeiro<br>
            Ana Carolina Gondim Inocêncio<br>
            Ana Paula Freitas Vilela Boaventura<br>
            <b>Pesquisa Científica na Computação: Uma Abordagem com Revisão Sistemática de Literatura</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Therese Keane<br>
            Andrew Fluck<br>
            Nathalia da Cruz Alves<br>
            <b>Teaching Coding in K-12 Schools: Research and Application</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Gabriel P. Silva<br>
            Calebe P. Bianchini<br>
            Evaldo B. Costa<br>
            <b>Programação Paralela e Distribuída com MPI, OpenMP e OpenACC para computação de alto desempenho</b>
          </span>
          
          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Profa. Taciana Pontual Falcão (UFRPE<br>
            Profa. Rozelma Soares de França (UFRPE)<br>
            <b>Mediação</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Números do EduComp 2023
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Profa. Rozelma Soares de França (UFRPE)<br>
            <b>Coordenação Geral</b>
          </span>

         <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Premiação dos melhores revisores
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Windson Viana (UFC)<br>
            <b>Coordenação do Comitê de Programa</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Premiação dos melhores artigos
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            A definir<br>
            <b>Comissão de Seleção dos Melhores Artigos</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Encerramento
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Roberto Bittencourt (UEFS)<br>
            Prof. Esdras Bispo Jr. (UFJ)<br>
            <b>Coordenação do GIEC</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Profa. Taciana Pontual Falcão (UFRPE)
            <b>Coordenação Geral</b>
          </span>
      </div>
    </div>
  </div>
</div>