<div id="certificados">
  
  <section id="opcoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10 text-center">
          <h2>Obtenha ou valide seu <strong>certificado</strong> de participação no EduComp 2025</h2>
          <a href="/simposio/2025/educomp/certificados/obter" class="btn btn-certificado">Obter</a>
          <a href="/simposio/2025/educomp/certificados/validar" class="btn btn-certificado">Validar</a>
        </div>
      </div>
    </div>
  </section>

</div>