<!-- Footer -->
<footer class="py-1" style="background-color: rgb(9, 102, 102);">
<div class="container">
    <p class="m-0 text-center text-white">
    GIEC SBC 2021
    </p>
</div>
<!-- /.container -->
</footer>