<!-- Footer -->
<footer class="py-1" style="background-color: rgb(9, 102, 102);">
<div class="container">
    <p class="my-3 text-center text-white">
        <span class="bg-white py-4 px-1">
            <a class="imagelink" href="http://www.sbc.org.br" target="_blank">
                <img src="/img/logo-sbc-lateral.png" style="height: 3.5rem; padding-left: 0.6em;"/> 
            </a>
        </span>
    </p>
</div>
<!-- /.container -->
</footer>