{{> simposio/2024/pt-BR/inside-header}}

<section id="esquenta" style="padding-top:150px; background-color:rgb(255, 255, 255);">
    <div class="container" style="font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">


                <p class="lead" style="text-align: justify; font-size: 14pt; margin-top: -8rem;">

                    O <strong>Esquenta EduComp</strong> é um evento de preparação para o Simpósio Brasileiro de Educação
                    em Computação (EduComp). O Esquenta acontecerá em dois momentos: um no mês de março (22) e outro no
                    mês de abril (05).
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt; ">

                    Neste ano, a programação do Esquenta 1 contará com a Webinar do CTD, no qual serão apresentados os
                    trabalhos concorrentes preliminares ao prêmio de melhor dissertação e as pesquisas que disputam o
                    prêmio de melhor tese do Educomp 2024.
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt; ">

                    As apresentações terão duração de até 5 minutos para os trabalhos de mestrado e 8 minutos para os
                    trabalhos de doutorado.
                    Cada sessão terá um bloco final de perguntas dos espectadores para todos os trabalhos daquela
                    sessão.
                    Esperamos que possam aproveitar esta oportunidade para conhecer e debater as pesquisas de EduComp
                    defendidas em 2022 e 2023 no Brasil.
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt;">

                    Confira abaixo a programação do nosso primeiro momento.
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt;">

                    Se você deseja receber o certificado pela participação do evento, por favor preencha o <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLScpFxcrB2Z00JRxxw3WPIwgGX7USK_x_V_oNfUJIKJuGQZ2Og/viewform"
                        target="_blank">Formulário de
                        Inscrição</a>. A transmissão do evento ocorrerá no <a href="https://www.youtube.com/GIECSBC"
                        target="_blank">canal do
                        Youtube do GIEC</a>.
                </p>



                <h2 class="mt-5 mb-4">Programação - 22/03</h2>
                <br>



                <div class="card mb-4">
                    <div class="card-header">
                        <h4>[14h00-14h10] Abertura do Esquenta 1 e da Etapa 2 do CTD</h4>
                    </div>
                    <div class="card-body">

                        <ul>
                            <li>Graziela Guarda (Mackenzie) - Organização Geral do EduComp 2024</li>
                            <li>Rozelma França (UFRPE) - Coordenação da Comissão Especial de Educação em Computação
                                (CEduComp) </li>
                            <li>Windson Viana (UFC) - Organização do CTD</li>
                            <li>Ellen Francine Barbosa (ICMC-USP) - Organização do CTD </li>
                        </ul>
                        <p class="lead" style="text-align: justify; font-size: 14pt;">

                        </p>
                        <a href="https://www.youtube.com/watch?v=IXKhLCZAlQ4" target="_blank" class="btn" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header">
                        <h4>[14h10-17h10] Sessão Técnica - Webinar do CTD</h4>

                    </div>
                    <div class="card-body">

                        <p style="text-align: justify; font-size: 14pt;"><strong>Mestrado:</strong> </p>
                        <ul>
                            <li>[14h10-14h55] Concurso de Mestrado - CM1</li>
                            <table class="table table-striped mt-3 mb-4">

                                <tr>
                                    <td>
                                        1.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">O
                                            pensamento computacional e a prática docente multidisciplinar na
                                            educação básica
                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">


                                            Bárbara Morais (Universidade Federal Rural de Pernambuco - Brazil), Rozelma
                                            França (Universidade Federal Rural de Pernambuco - Brazil), Taciana Pontual
                                            Falcão (Universidade Federal Rural de Pernambuco - Brazil)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        2.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">Educação digital como parte da
                                            formação integral do sujeito: O ensino de
                                            computação na perspectiva de projetos de letramentos digitais em curso
                                            proeja em artesanato
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">Thiago Amorim
                                            (Instituto Federal de
                                            Brasília - Campus Taguatinga - Brazil),
                                            Veruska Machado (IFB - Brazil)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">Pensamento computacional na
                                            formação inicial de professores
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Bruno Barboza dos Santos (Universidade Federal Rural de Pernambuco - Brazil)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        4.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">Boolace: Jogo-curso para
                                            auxiliar o ensino e a aprendizagem de lógica proposicional
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Marcio Flavio Souza (Instituto Federal do Espírito Santo - Brazil), Márcia
                                            Oliveira (Instituo Federal do Espírito Santo - Brazil), Maria Alice Souza
                                            (Instituto Federal do Espírito Santo - Brazil)
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Análise da participação feminina nos cursos da área de computação: Um olhar
                                            sobre os projetos do programa meninas digitais

                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Maria Teresa Santos (Universidade do Estado de Santa Catarina - Brazil),
                                            Isabela Gasparini (Universidade do Estado de Santa Catarina (UDESC) -
                                            Brazil), Luciana Frigo (Universidade Federal de Santa Catarina - Brazil)
                                        </p>
                                    </td>
                                </tr>

                            </table>
                            <li>[14h55-15h30] Concurso de Mestrado - CM2</li>
                            <table class="table table-striped mt-3 mb-4">

                                <tr>
                                    <td>
                                        6.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">O
                                            Formação EAD de pensamento computacional para professores do ensino
                                            fundamental com enfoque prático e interdisciplinar
                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Gustavo Lima do Nascimento (Universidade Federal do Rio Grande - UFRN),
                                            Charles Madeira (Universidade Federal do Rio Grande - UFRN)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        7.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">Educação digital Análise da
                                            evasão no ensino superior: Conjugação de análise sobrevivência e fatores
                                            impacto no curso de sistemas de informação do IFES-Campus Serra
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Joubert
                                            Alexandrino de Souza (Instituto Federal do Espírito Santo - Brazil),
                                            Jefferson Andrade (Instituto Federal do EspÃ-rito Santo - Brazil), Karin
                                            Komati (Ifes Campus Serra - Brazil)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        8.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Empadaria - Framework para o desenvolvimento de ficções interativas por meio
                                            da pedagogia de projetos
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Walter Carvalho (Universidade Federal do ABC - Brazil), Rafaela Rocha
                                            (Universidade Federal do ABC - Brazil), Carla Rodriguez (Universidade
                                            Federal do ABC (UFABC) - Brazil)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        9.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Computação desplugada como abordagem para implementação do pensamento
                                            computacional no ensino fundamental
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Josiel da Silva (UFRN - Brazil), Charles Madeira (UFRN - Brazil)
                                        </p>
                                    </td>
                                </tr>



                            </table>
                        </ul>
                        <a href="https://www.youtube.com/watch?v=IXKhLCZAlQ4" target="_blank" class="btn mb-5" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>
                        <p style="text-align: justify; font-size: 14pt;"><strong>Doutorado:</strong> </p>
                        <ul>
                            <li>[15h30-16h20] Concurso de Doutorado - CD1</li>
                            <table class="table table-striped mt-3 mb-4">

                                <tr>
                                    <td>
                                        1.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">O
                                            Assessing the Creativity of Mobile Applications in Computing Education
                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Nathalia Alves (Universidade Federal de Santa Catarina - Brazil)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        2.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Organização do ensino para o desenvolvimento do pensamento computacional: Um
                                            experimento na educação básica
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Carlos Roberto Beleti Junior (Universidade Federal do Paraná - Brazil),
                                            Marta Sueli de Faria Sforni (Universidade Estadual de Maringá - Brazil)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        3.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Gamificação de worked examples extraídos de projetos de software livre: Uma
                                            investigação sobre o engajamento de estudantes no ensino de engenharia de
                                            software
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Simone Tonhão (Universidade Estadual de Mato Grosso do Sul - Brazil), Thelma
                                            Colanzi (Universidade Estadual de Maringá - Brazil), Igor Steinmacher
                                            (Northern Arizona University - USA)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        4.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Tailoring gamified educational systems to users and context
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Luiz Rodrigues (Londrina State University - Brazil), Seiji Isotani
                                            (Universidade de São Paulo - Brazil)
                                        </p>
                                    </td>
                                </tr>



                            </table>
                            <li>[16h20-17h10] Concurso de Doutorado - CD2</li>
                            <table class="table table-striped mt-3 mb-4">

                                <tr>
                                    <td>
                                        5.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">O
                                            Uma abordagem para o ensino de algoritmos usando metodologias ativas em
                                            cursos superiores de computação
                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Sandro Ronaldo Bezerra Oliveira (Universidade Federal do Pará - Brazil),
                                            Fabricio Garcia (Universidade Federal Rural da Amazônia - Brazil)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        6.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            O pensamento computacional no âmbito da modelagem matemática na perspectiva
                                            da aprendizagem significativa
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Marcia Kaminski (SEMED Cascavel - Brazil), Clodis Boscarioli (Universidade
                                            Estadual do Oeste do Paraná - Brazil)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        7.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Abordagem para apoio ao design de recursos de ajuda para linguagens de
                                            programação visual baseadas em bloco
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Carmen Brezolin (Instituto Federal de Educação, Ciência e Tecnologia
                                            Sul-rio-grandense - Brazil), Milene Silveira (Pontifícia Universidade
                                            Católica do Rio Grande do Sul - PUCRS - Brazil)
                                        </p>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        8.
                                    </td>
                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">
                                            Psicogênese da noção de algoritmo na atividade de programação com crianças
                                            de 4 a 12 anos
                                        </p>

                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Cristiane Pelisolli Cabral (PPGEDU/UFRGS - Brazil)

                                        </p>
                                    </td>
                                </tr>



                            </table>
                        </ul>
                        <p class="lead" style="text-align: justify; font-size: 14pt;">

                        </p>
                        <a href="https://www.youtube.com/watch?v=IXKhLCZAlQ4" target="_blank" class="btn" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header">
                        <h4>[17h10-17h30] Encerramento do Esquenta 1 e da Etapa 2 do CTD</h4>
                    </div>
                    <div class="card-body">

                        <ul>

                            <li>Windson Viana (UFC) - Organização do CTD</li>
                            <li>Ellen Francine Barbosa (ICMC-USP) - Organização do CTD </li>
                            <li>Graziela Guarda (Mackenzie) - Organização Geral do EduComp 2024</li>

                        </ul>
                        <p class="lead" style="text-align: justify; font-size: 14pt;">

                        </p>
                        <a href="https://www.youtube.com/watch?v=IXKhLCZAlQ4" target="_blank" class="btn" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>
                    </div>
                </div>



            </div>
        </div>
    </div>
</section>