{{> simposio/2024/pt-BR/inside-header}}

<section id="esquenta" style="background-color:rgb(255, 255, 255);">
    <div class="container" style=" font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h3>Mais informações em breve!</h3>
                <!--
          <p class="lead" style="text-align: justify; font-size: 14pt; margin-top: -8rem;">
              O <b>Esquenta EduComp</b> é um evento de preparação para o Simpósio Brasileiro de Educação em Computação (EduComp). O Esquenta acontece em dois momentos: um no mês de fevereiro (27) e outro, agora, no mês de março (23). Confira abaixo a programação do nosso segundo momento no dia 23, que começará às 19h.
          </p>
          <p class="lead" style="text-align: justify; font-size: 14pt;">
              Se você deseja receber o certificado pela participação do evento, por favor preencha o <a href="https://forms.gle/EJBTt8VMVWeSoTPp8" target="_blank">Formulário de Inscrição</a>. A transmissão do evento ocorrerá no <a href="https://www.youtube.com/watch?v=448dDUGWQdQ" target="_blank">canal do Youtube do GIEC</a>. 
          </p>   
          <h2 >Programação</h2>
          <br>
            <ul class="lead" style="text-align: justify; font-size: 14pt;">
                <li><span
                    style="
                        background-color: #cef3c9;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://www.youtube.com/watch?v=448dDUGWQdQ" target="_blank" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em;">
                        <span style="font-size: 1.0em; ">
                        <i class="fab fa-youtube"></i>
                        </span> YouTube
                        </a>
                </span> <br>
                <br>
                    <b>[19h00-19h10] Abertura</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            Profa. Taciana Pontual (UFRPE) - Coordenação do EduComp 2023
                        </li>
                        <li>
                            Prof. Rodrigo Souza (UFRPE) - Diretor do DC
                        </li>
                        <!--<li>
                            Momento musical
                        </li>->
                    </ul>
                </li>
                <li class="pt-5"><span
                    style="
                        background-color: #cef3c9;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://www.youtube.com/watch?v=448dDUGWQdQ" target="_blank" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em;">
                        <span style="font-size: 1.0em; " class="mr-2">
                        <i class="fab fa-youtube"></i>
                        </span> YouTube
                        </a>
                </span> <br>
                <br>
                    <b>[19h10-19h50] Painel</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            <i>Experiências e desafios do ensino híbrido</i><br>
                            - Profa. Sheila Reinehr (PUCPR)  | Painelista <br>
                            - Prof. Robson Medeiros (UFRPE) | Painelista
                        </li>
                        <li>Mediador: Prof. Roberto Bittencourt (UEFS)</li>
                    </ul>
                </li>
                <li class="pt-5"><span
                    style="
                        background-color: #cef3c9;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://www.youtube.com/watch?v=448dDUGWQdQ" target="_blank" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em;">
                        <span style="font-size: 1.0em; " class="mr-2">
                        <i class="fab fa-youtube"></i>
                        </span> YouTube
                        </a>
                </span> <br>
                <br>
                    <b>[19h50-19h55] Momento Cultural</b>
                    <!--<ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>Mediadora: Profa. Flávia Peres (UFRPE)</li>
                        <li>Convidada: Bruna Manoela Pereira de Lima
                        </li>
                    </ul>->
                </li> <br>
                <li>
                    <b>[19h55-20h00] Intervalo</b>
                </li>
                <li class="mt-4">
                    <b>[20h00-20h40] Laboratório de Ideias</b>

                    <table class="table table-striped mt-3">
                        <tr>
                            <td style="width: 50%;">
                                <b>Sessão 1 (lab-ideias-1)</b>
                            </td>
                            <td>
                                <b>Sessão 2 (lab-ideias-2)</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <hr />
                                <span
                                    style="
                                        background-color: #d7f1f5;
                                        padding: 0.5em;"
                                    >
                                    Transmissão: <a href="https://us06web.zoom.us/j/84187922567?pwd=Yzd5eHg3Um80VklsUk1qRWJ2MTVpZz09" target="_blank" style="
                                        background-color: #04c2f1;
                                        color: white;
                                        padding: 0.5em;">
                                        <span style="font-size: 1.0em;" class="mr-2">
                                        <img src="/img/simposio/2023/zoom-logo.png" width="25px" class="img-fluid" alt="Logo do Zoom">
                                        </span> Zoom
                                        </a>
                                </span> <br>
                                <hr />
                                <strong>Coordenadores:</strong> <br>
                                        Dyego Morais (UFPE)<br>
                                        Ayla Rebouças (UFPB)<br>
                                <ul class="lead text-left" style="font-size: 14pt;">

                                    <li class="mt-3">
                                        <b>Uma Estratégia de Avaliação de um Code Puzzle Game</b><br>
                                        - Luis Gustavo J. Araujo (UNIFACS)
                                    </li>
                                    <li class="mt-3">
                                        <b>PCLib App: Referatório de Recursos Educacionais para Desenvolvimento do Pensamento Computacional</b><br>
                                        - Bruno Barboza dos Santos (UFRPE)
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <hr />
                                <span
                                    style="
                                        background-color: #d7f1f5;
                                        padding: 0.5em;"
                                    >
                                    Transmissão: <a href="https://us02web.zoom.us/j/85837465937?pwd=VFBPMVVrRzlpNWZmUjNwdzBhRFBSUT09" target="_blank" style="
                                        background-color: #04c2f1;
                                        color: white;
                                        padding: 0.5em;">
                                        <span style="font-size: 1.0em;" class="mr-2">
                                        <img src="/img/simposio/2023/zoom-logo.png" width="25px" class="img-fluid" alt="Logo do Zoom">
                                        </span> Zoom
                                        </a>
                                </span> <br>
                                <hr />

                                <strong>Coordenadores:</strong> <br>
                                        Jeane Melo (UFRPE)<br>
                                        Claudia Pereira (UEFS)<br>
                                <ul class="lead text-left" style="font-size: 14pt;">

                                    <li class="mt-3">
                                        <b>Produção de Material Didático Adaptado a Alunos com Deficiência Visual para Curso de Computação</b><br>
                                        - Wendell Bento Geraldes (IFG)
                                    </li>
                                    <li class="mt-3">
                                        <b>Codecasts e Codelibras para o Ensino de Programação em Moocs</b><br>
                                        - Márcia Gonçalves de Oliveira (UFES)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                </li>
                <li class="pt-5"><span
                    style="
                        background-color: #d7f1f5;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://us06web.zoom.us/j/84187922567?pwd=Yzd5eHg3Um80VklsUk1qRWJ2MTVpZz09" target="_blank" style="
                        background-color: #04c2f1;
                        color: white;
                        padding: 0.5em;">
                        <span style="font-size: 1.0em;" class="mr-2">
                        <img src="/img/simposio/2023/zoom-logo.png" width="25px" class="img-fluid" alt="Logo do Zoom">
                        </span> Zoom
                        </a>
                </span> <br>
                <br>
                    <b>[20h40-20h50] Encerramento</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            Profa. Rozelma França (UFRPE) - Coordenação do EduComp 2023
                        </li>
                        <li>
                            Prof. Bruno Gadelha (UFAM) - Coordenação de Painéis
                        </li> 
                        <li>
                            Profa. Marcela Pessoa (UEA) - Coordenação do Laboratório de Ideias
                        </li>  
                        <li>
                            Prof. Ricardo Caceffo (UNIVESP) - Coordenação de Minicursos
                        </li> 
                        <li>
                            Prof. Rodrigo Duran (IFMS) - Coordenação do WTD
                        </li>                      
                        <!--<li>
                            Momento musical
                        </li>->
                    </ul>
                </li>
            </ul>
-->
            </div>
        </div>
    </div>
</section>