{{> simposio/2024/pt-BR/inside-header}}

<section id="esquenta" style="padding-top:150px; background-color:rgb(255, 255, 255);">
    <div class="container" style="font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">


                <p class="lead" style="text-align: justify; font-size: 14pt; margin-top: -8rem;">

                    O <strong>Esquenta EduComp</strong> é um evento de preparação para o Simpósio Brasileiro de Educação
                    em Computação (EduComp). O Esquenta acontecerá em dois momentos: um no mês de março (22) e outro no
                    mês de abril (05).
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt; ">
                    Neste ano, a programação do Esquenta 2 contará com a apresentação das Trilhas Formativas e
                    apresentação dos trabalhos premiados na edição de 2023.
                </p>


                <p class="lead" style="text-align: justify; font-size: 14pt;">

                    Confira abaixo a programação do nosso primeiro momento.
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt; ">
                    Se você deseja receber o certificado pela participação do evento, por favor preencha o <a
                        href="https://docs.google.com/forms/d/e/1FAIpQLSdOv9QcY-lCJQWmOGTKw7rUCgZcXFNjzWobphKh3qiZ4R7Hnw/viewform "
                        target="_blank">Formulário de
                        Inscrição</a>. A transmissão do evento ocorrerá no <a href="https://www.youtube.com/GIECSBC"
                        target="_blank">canal do
                        Youtube do GIEC</a>.
                </p>


                <h2 class="mt-5 mb-4">Programação - 05/04</h2>
                <br>



                <div class="card mb-4">
                    <div class="card-header">
                        <h4>[14h00-14h10] Abertura do Esquenta 2</h4>
                    </div>
                    <div class="card-body">

                        <ul>
                            <li>Graziela Guarda (Mackenzie) - Organização Geral do EduComp 2024</li>

                            <li>Adão Caron Cambraia (IFFarroupilha) - Coordenação Geral das Trilhas Formativas </li>
                        </ul>
                        <p class="lead" style="text-align: justify; font-size: 14pt;">

                        </p>
                        <a href="https://www.youtube.com/watch?v=MhIBF7l8LQs" target="_blank" class="btn" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>
                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header">
                        <h4>[14h10-14h35] Apresentações das Trilhas formativas</h4>
                    </div>
                    <div class="card-body">

                        <ul>
                            <li>[14h10-14h15] Nathalia da Cruz Alves - Coordenação do Laboratório de Ideias</li>

                            <li>[14h15-14h20] Marcia Elena Jochims Kniphoff da Cruz - Coordenação do Fórum de
                                Licenciatura em Computação (FORLIC) </li>
                            <li>[14h20-14h25] Ecivaldo de Souza Matos - Coordenação das Mesas Temáticas</li>
                            <li>[14h25-14h30] Yorah Bosse - Coordenação dos Minicursos</li>
                            <li>[14h30-14h35] Sheila Reinehr - Coordenação do Workshop do Teses e Dissertações em
                                Educação em Computação (WTD)</li>



                        </ul>
                        <p class="lead" style="text-align: justify; font-size: 14pt;">

                        </p>
                        <a href="https://www.youtube.com/watch?v=MhIBF7l8LQs" target="_blank" class="btn" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>
                    </div>
                </div>

                <div class="card mb-4">
                    <div class="card-header">
                        <h4>[14h35-15h20] Apresentações de artigos premiados no EduComp 2023</h4>

                    </div>
                    <div class="card-body">


                        <ul>
                            <li>[14h40-15h00] Apresentação 1 - Melhor Relato de Experiência:</li>
                            <table class="table table-striped mt-3 mb-4">

                                <tr>

                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">O
                                            Um Relato de Experiência sobre a Oferta da Disciplina Desenvolvimento de
                                            Software Livre para os Cursos de Ciência da Computação e Sistemas de
                                            Informação.

                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Autores: Paulo Afonso Parreira Júnior; Júlio César Alves; André Pimenta
                                            Freire; Heitor Augustus Xavier Costa e Igor Scaliante Wiese.
                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Disponível em: <a
                                                href="https://sol.sbc.org.br/index.php/educomp/article/view/23889"
                                                target="_blank">https://sol.sbc.org.br</a>!
                                        </p>
                                    </td>
                                </tr>


                            </table>
                            <li>[15h00-15h20] Apresentação 2 - Melhor Artigo do EduComp 2023:</li>
                            <table class="table table-striped mt-3 mb-4">

                                <tr>

                                    <td>
                                        <p class="lead font-weight-bold mb-1"
                                            style="text-align: justify; font-size: 11pt;">O
                                            A Liga do
                                            Pensamento Computacional: uma narrativa distópica para gamificar uma
                                            disciplina
                                            introdutória de computação.
                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Roberto Pereira; Rachel Reis; Leonam Oliveira; Guilherme Derenievicz;
                                            Leticia Peres e Fabiano Silva.
                                        </p>
                                        <p class="lead" style="text-align: justify; font-size: 9pt;">
                                            Disponível em: <a
                                                href="https://sol.sbc.org.br/index.php/educomp/article/view/23890"
                                                target="_blank">https://sol.sbc.org.br</a>!
                                        </p>
                                    </td>
                                </tr>


                            </table>
                        </ul>
                        <a href="https://www.youtube.com/watch?v=MhIBF7l8LQs" target="_blank" class="btn mb-5" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>


                    </div>
                </div>


                <div class="card mb-4">
                    <div class="card-header">
                        <h4>[15h20-15h35] Encerramento do Esquenta 2</h4>
                    </div>
                    <div class="card-body">

                        <ul>


                            <li>Adão Caron Cambraia (IFFarroupilha) - Coordenação Geral das Trilhas Formativas</li>
                            <li>Graziela Guarda (Mackenzie) - Organização Geral do EduComp 2024</li>

                        </ul>
                        <p class="lead" style="text-align: justify; font-size: 14pt;">

                        </p>
                        <a href="https://www.youtube.com/watch?v=MhIBF7l8LQs" target="_blank" class="btn" style="
                        background-color: rgb(250, 22, 6);
                        color: white;
                        padding: 0.5em; border-radius: 0.8rem;">
                            <span style="font-size: 1.0em; ">
                                <i class="fab fa-youtube"></i>
                            </span> YouTube
                        </a>
                    </div>
                </div>





            </div>
        </div>
    </div>
</section>