<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades do SBC-EB 2025 no polo de Campo Grande - MS.
          </p>
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FCampo_Grande&showPrint=0&title=SBC-EB%20-%20Campo%20Grande%2FMS&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=YjgxNTc3MDY2MGZiYTliNDA2MjM2MDczMWU5ZWU0NmMyOGE4M2YzZWY3NTQ4NTYyMmFkYzQ5ZDc4NjhhYWU5M0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FCampo_Grande&showPrint=0&title=SBC-EB%20-%20Campo%20Grande%2FMS&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=YjgxNTc3MDY2MGZiYTliNDA2MjM2MDczMWU5ZWU0NmMyOGE4M2YzZWY3NTQ4NTYyMmFkYzQ5ZDc4NjhhYWU5M0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="palestra">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Palestra de abertura</h2>
          <p>
            Na manhã do dia 9 de abril, haverá uma breve cerimônia de abertura conjunta dos eventos EduComp, SBC-EB e ForLic.
            Em seguida, acontecerá a palestra <strong>Computação na Educação Básica: possibilidades e desafios no currículo escolar</strong>, que abordará caminhos e perspectivas para a implementação da Computação na Educação Básica.
          </p>
          <p>
            A seguir estão os detalhes sobre a palestra de abertura.
          </p>
          <div class="accordion" id="accordion-mt-main">
            <div class="card">
              <div class="card-header" id="accordion-palestra">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-palestra" aria-expanded="true" aria-controls="collapse-palestra">
                  <h3><strong>Palestra</strong>: Computação na Educação Básica: possibilidades e desafios no currículo escolar</h3>
                  Quarta-feira, 9 de abril, às 8h30 (GMT-04:00), com transmissão ao vivo a partir de Juiz de Fora - MG.
                </button>
              </div>
              <div id="collapse-palestra" class="collapse" aria-labelledby="accordion-palestra" data-parent="#accordion-mt-main">
                <div class="card-body">
                  <div class="row mb-3 justify-content-center row-vertical-center">
                    <div class="col-md-4 col-8 foto-container">
                      <img class="img-fluid autor-foto" alt="Foto Leila Ribeiro" src="/img/simposio/2025/comum/pessoas/leila-ribeiro.jpg"/>
                      <p class="autor-nome">Profª. Drª Leila Ribeiro</p>
                      <p class="autor-filiacao">UFRGS</p>
                    </div>
                    <div class="col-md-8">
                      <p>
                        <strong>Resumo:</strong> 
                        Nesta palestra, serão discutidas a importância do ensino de Computação na Educação Básica e as políticas públicas da área, como a BNCC Computação. 
                        Possibilidades e desafios à atualização curricular, à formação docente e aos materiais didáticos também serão abordados.
                      </p>
                      <p>
                        <strong>Mini currículo:</strong> 
                        Leila Ribeiro é professora titular do Instituto de Informática da Universidade Federal do Rio Grande do Sul. 
                        Possui graduação em Ciências da Computação pela Universidade Federal do Rio Grande do Sul (1988), mestrado em Ciências da Computação pela Universidade Federal do Rio Grande do Sul (1991) e doutorado em Informática pela Universidade Técnica de Berlim/Alemanha (1996) com tese na área de modelos semânticos para Computação. 
                        Fez estágio de pós-doutorado na Universidade de York, Inglaterra (2008/2009). 
                        Sua pesquisa tem foco nos Fundamentos da Computação, e atua principalmente nas seguintes áreas da Computação: engenharia de software (em especial especificação e verificação formal), bioinformática, modelos de computação e ensino de Computação (com ênfase em pensamento computacional). 
                        Em 1999, recebeu o Prêmio Santista Juventude na área de Computação. Já coordenou diversos projetos nacionais e internacionais, bem como publicou mais de 100 artigos em revistas e eventos científicos. 
                        É reconhecida internacionalmente em sua área, tendo sido coordenadora dos comitês de programa dos mais importantes simpósios nacionais de sua área, bem como de eventos internacionais. 
                        É a representante brasileira no IFIP Technical Committee 1 (Foundations of Computer Science) e membro efetivo da Sociedade Brasileira de Computação (SBC). 
                        Atualmente é Diretora de Ensino de Computação na Educação Básica da SBC (Sociedade Brasileira de Computação).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="palestra">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Painéis</h2>
          <p>
            A programação do SBC-EB 2025 contará com vários painéis, nos quais especialistas, pesquisadores e docentes discutirão temas essenciais para o ensino de Computação na Educação Básica.
            Em cada painel, os participantes terão a oportunidade de trocar experiências, debater desafios e explorar novas perspectivas para o futuro da Computação no Brasil.
          </p>
          <p>
            A seguir estão os detalhes sobre os painéis.
          </p>
          <div class="accordion" id="accordion-paineis-main">
            <div class="card">
              <div class="card-header" id="accordion-painel-1">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-painel-1" aria-expanded="true" aria-controls="collapse-painel-1">
                  <h3><strong>Painel</strong>: Computação no Ensino Médio: Perspectivas das Secretarias Estaduais de Educação</h3>
                  Quarta-feira, 9 de abril, às 10h (GMT-04:00), com transmissão ao vivo a partir de Juiz de Fora - MG.
                </button>
              </div>
              <div id="collapse-painel-1" class="collapse" aria-labelledby="accordion-painel-1" data-parent="#accordion-paineis-main">
                <div class="card-body">
                  <p>
                    <strong>Convidados:</strong> 
                    Secretários Estaduais de Educação
                    <br/>
                    <strong>Mediação:</strong> 
                    Cristiano Maciel (Vice-presidente da SBC)
                  </p>
                  <p>
                    <strong>Resumo:</strong> 
                    Neste painel, serão compartilhadas experiências de Secretarias Estaduais de Educação em torno do ensino de Computação e políticas de Educação Digital no Ensino Médio.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-painel-3">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-painel-3" aria-expanded="true" aria-controls="collapse-painel-3">
                  <h3><strong>Painel</strong>: Computação na Educação Infantil e no Ensino Fundamental: Perspectivas das Secretarias Municipais de Educação</h3>
                  Quinta-feira, 10 de abril, às 8h (GMT-04:00), com transmissão ao vivo a partir de Juiz de Fora - MG.
                </button>
              </div>
              <div id="collapse-painel-3" class="collapse" aria-labelledby="accordion-painel-3" data-parent="#accordion-paineis-main">
                <div class="card-body">
                  <p>
                    <strong>Convidados:</strong> 
                     Secretários Municipais de Educação
                    <br/>
                    <strong>Mediação:</strong> 
                    Cristiano Maciel (Vice-presidente da SBC)
                  </p>
                  <p>
                    <strong>Resumo:</strong> 
                    Neste painel, serão compartilhadas experiências de Secretarias Municipais de Educação em torno do ensino de Computação e políticias de Educação Digital na Educação Infantil e no Ensino Fundamental.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-painel-2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-painel-2" aria-expanded="true" aria-controls="collapse-painel-2">
                  <h3><strong>Painel</strong>: PROFCOMP: O que esperar do Mestrado Profissional para Docentes da Educação Básica?</h3>
                  Quinta-feira, 10 de abril, às 10h (GMT-04:00), com transmissão ao vivo a partir de Juiz de Fora - MG.
                </button>
              </div>
              <div id="collapse-painel-2" class="collapse" aria-labelledby="accordion-painel-2" data-parent="#accordion-paineis-main">
                <div class="card-body">
                  <p>
                    <strong>Convidados:</strong> 
                    Luiz Alberto Rocha de Lira (Capes), Leila Ribeiro (UFRGS) e Rodrigo Duran (IFB).
                    <br/>
                    <strong>Mediação:</strong> 
                    Cláudia Motta (UFRJ)
                  </p>
                  <p>
                    <strong>Resumo:</strong> 
                    Neste painel, será discutido o Programa de Mestrado Profissional em Ensino de Computação em Rede Nacional (PROFCOMP), uma iniciativa da Sociedade Brasileira de Computação (SBC), em cooperação com instituições associadas de todas as regiões do pais, para criar e manter um programa de mestrado profissional em rede para qualificação de profissionais da Educação Básica na área de Ensino de Computação.
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-painel-4">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-painel-4" aria-expanded="true" aria-controls="collapse-painel-4">
                  <h3><strong>Painel</strong>: Computação e Educação Digital na Escola: Concepções, Políticas Públicas e Experiências de Implantação e Formação Docente</h3>
                  Sexta-feira, 11 de abril, às 10h30 (GMT-04:00), com transmissão ao vivo a partir de Juiz de Fora - MG.
                </button>
              </div>
              <div id="collapse-painel-4" class="collapse" aria-labelledby="accordion-painel-4" data-parent="#accordion-paineis-main">
                <div class="card-body">
                  <p>
                    <strong>Convidadas:</strong> 
                    Ana Úngari Dal Fabbro (Coordenadora-Geral de Tecnologia e Inovação - MEC) e Fátima Brandão (UnB).
                    <br/>
                    <strong>Mediação:</strong> 
                    Aguardando confirmação.
                  </p>
                  <p>
                    <strong>Resumo:</strong> 
                    Neste painel, serão discutidas políticias públicas para o ensino de Computação na Educação Básica, perpassando a BNCC Computação, a Política Nacional de Educação Digital (PNED) e correlatas. 
                    Também, ações no âmbito do Ministério da Educação e da academia serão compartilhadas, no foco na atualização curricular e formação de docentes da área.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sessao-tecnica">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Sessões Técnicas</h2>
          <p>
            As sessões técnicas do SBC-EB são espaços para a apresentação e discussão dos trabalhos submetidos pela comunidade, promovendo o compartilhamento de ideias e avanços na área de Educação em Computação.
            Em Campo Grande - MS, acontecerão três sessões técnicas, que compreendem a apresentação de um trabalho seguida de uma atividade prática de vivência contextualizada no mesmo.
          </p>
          <p>
            A seguir estão listados os trabalhos que serão apresentados em cada sessão técnica.
            <!-- Em Itacoatiara, cada autor terá <strong>15 minutos para sua apresentação</strong> e, ao final de todas as exposições, haverá um tempo dedicado a discussões e perguntas. -->
            Recomenda-se que os autores estejam cientes das <a href="/simposio/2025/sbc-eb/chamadas/orientacoes-apresentacao" target="_blank">orientações para apresentação</a> previamente divulgadas pela organização do evento.
          </p>
          <div class="accordion" id="accordion-sts">
            <div class="card">
              <div class="card-header" id="accordion-sts">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st1" aria-expanded="true" aria-controls="collapse-st1">
                  <h3 class="text-bold"><strong>Sessão Técnica 1</strong></h3>
                  Quarta-feira, 9 de abril, às 13h30 (GMT-04:00).
                </button>
              </div>
              <div id="collapse-st1" class="collapse" aria-labelledby="accordion-st1" data-parent="#accordion-sts">
                <div class="card-body">
                  <h4 class="titulo-artigo"><strong>Apresentação do trabalho:</strong> Computação Criativa com OctoStudio no Ensino Fundamental</h4>
                  <ul class="autores-artigo">
                    <li>Esteic Janaina Santos Batista (UFMS)</li>
                    <li>Amaury Antonio de Castro Junior (UFMS)</li>
                    <li>Anderson Corrêa de Lima (UFMS)</li>
                    <li>Daiani Damm Tonetto Riedner (UFMS)</li>
                    <li>Ellen Regina Romero Barbosa</li>
                    <li>Miriam Brum Arguelho (UCDB)</li>
                    <li>Hercules da Costa Sandim (UFMS)</li>
                  </ul>
                  <h4 class="titulo-artigo"><strong>Vivência:</strong> Introdução ao Octostudio</h4>
                  <ul class="autores-artigo">
                    <li>Esteic Janaina Santos Batista (UFMS)</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-sts">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st2" aria-expanded="true" aria-controls="collapse-st2">
                  <h3 class="text-bold"><strong>Sessão Técnica 2</strong></h3>
                  Quarta-feira, 9 de abril, às 15h30 (GMT-04:00).
                </button>
              </div>
              <div id="collapse-st2" class="collapse" aria-labelledby="accordion-st2" data-parent="#accordion-sts">
                <div class="card-body">
                  <h4 class="titulo-artigo"><strong>Apresentação do trabalho:</strong> Oficinas de Micro:bit com Foco no Ensino Técnico e no Ensino de Programação</h4>
                  <ul class="autores-artigo">
                    <li>Gabriel Falcão (UFMS)</li>
                    <li>Amaury Antonio de Castro Junior (UFMS)</li>
                    <li>Anderson Correa de Lima (UFMS)</li>
                    <li>Anny Aranda (UFMS)</li>
                    <li>Bruno Silva</li>
                    <li>Fernanda Neves</li>
                    <li>Glauder Guimaraes Ghinozzi (UFMS)</li>
                    <li>Graziela Araújo (UFMS)</li>
                    <li>Jenniffer Checchia (UFMS)</li>
                    <li>Leonardo Vargas</li>
                    <li>Nathanael Wink</li>
                    <li>Marcos Rocha</li>
                    <li>Maria Santos</li>
                    <li>Said Sadique Adi (UFMS)</li>
                    <li>Victor Rodrigues (UFMS)</li>
                  </ul>
                  <h4 class="titulo-artigo"><strong>Vivência:</strong> Introdução ao Micro:bit</h4>
                  <ul class="autores-artigo">
                    <li>Jenniffer Checchia (UFMS)</li>
                  </ul>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header" id="accordion-sts">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st3" aria-expanded="true" aria-controls="collapse-st3">
                  <h3 class="text-bold"><strong>Sessão Técnica 3</strong></h3>
                  Quinta-feira, 10 de abril, às 13h30 (GMT-04:00).
                </button>
              </div>
              <div id="collapse-st3" class="collapse" aria-labelledby="accordion-st3" data-parent="#accordion-sts">
                <div class="card-body">
                  <h4 class="titulo-artigo"><strong>Apresentação do trabalho:</strong> Literacia Digital: Aprendendo a partir de dados</h4>
                  <ul class="autores-artigo">
                    <li>Valéria Q. Reis (UFMS)</li>
                    <li>Anderson Corrêa de Lima (UFMS)</li>
                  </ul>
                  <h4 class="titulo-artigo"><strong>Vivência:</strong> Introdução à Literacia Digital</h4>
                  <ul class="autores-artigo">
                    <li>Anderson Corrêa de Lima (UFMS)</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>  

  <section id="palestra">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Palestra</h2>
          <p>
            A programação do SBC-EB no polo de Campo Grande - MS contará com uma palestra local que tratará sobre um tema muito relevante na atualidade: a participação feminina na Computação.
          </p>
          <p>
            A seguir estão os detalhes sobre a palestra local.
          </p>
          <div class="accordion" id="accordion-palestras-locais-main">
            <div class="card">
              <div class="card-header" id="accordion-palestra-local-1">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-palestra-local-1" aria-expanded="true" aria-controls="collapse-palestra-local-1">
                  <h3><strong>Palestra</strong>: O projeto ELAS programando</h3>
                  Sexta-feira, 11 de abril, às 8h (GMT-04:00).
                </button>
              </div>
              <div id="collapse-palestra-local-1" class="collapse" aria-labelledby="accordion-palestra-local-1" data-parent="#accordion-palestras-locais-main">
                <div class="card-body">
                  <p>
                    <strong>Palestrante:</strong>
                    Profª. Drª Luciana Montera Cheung (Facom/UFMS)
                  </p>
                  <p>
                    <strong>Resumo:</strong> 
                    Em breve.
                  </p>
                  <p>
                    <strong>Mini currículo:</strong> 
                    Possui graduação em Ciência da Computação pela Universidade Federal de Mato Grosso do Sul (2000), mestrado em Ciência da Computação pela Universidade Federal de Mato Grosso do Sul (2004) e doutorado em Biotecnologia pela Universidade Federal de São Carlos (2008). Professora Associada Nível 4 da Faculdade de Computação da Universidade Federal de Mato Grosso do Sul desde 2009. Tem interesse pelos temas de Teoria da Computação, Linguagens de Programação, Educação em Computação e Popularização da Ciência. Atualmente é Diretora Científica do Parque da Ciência da UFMS e coordenadora do Projeto de Desenvolvimento Institucional para implantação do Museu de Ciência e Tecnologia da UFMS.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="palestra">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Competição de Atividades de Computação</h2>
          <p>
            A Competição de Atividades de Computação é uma atividade dinâmica e colaborativa, realizada simultaneamente na sede e nos polos do SBC-EB 2025, durante a tarde de quinta-feira, 10 de abril.
            Nessa atividade, tutores desafiarão equipes formadas por estudantes, professores e gestores a desenvolverem uma proposta pedagógica baseada nas competências da BNCC Computação, garantindo sua aplicabilidade em sala de aula. 
            Durante o processo, os tutores orientarão os grupos, auxiliando no aprimoramento das ideias e na construção das atividades. 
            Ao final, cada equipe deverá registrar sua proposta em um <strong>vídeo de até cinco minutos</strong>, que será posteriormente avaliado pela equipe organizadora da competição.
            Os melhores trabalhos serão reconhecidos e apresentados em sessão específica para este fim, na sexta-feira ao final da manhã.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>