<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades presenciais do ForLic 2025, que serão realizadas na cidade sede do SBC-EB 2025, em Juiz de Fora - MG.
            O <strong>credenciamento de participantes</strong> acontecerá durante todo o período no <i>foyer</i> do evento.
            Os intervalos para <i>coffee break</i> ocorrerão entre 10:30 e 11:00 e entre 16:00 e 16:30.
          </p>
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=ForLic&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=ForLic&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>