<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades do SBC-EB 2025 no polo de Itacoatiara - AM.
          </p>
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FManaus&showPrint=0&title=SBC-EB%20-%20Itacoatiara%2FAM&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=Y2NkM2NhMGVkMWRkMDk1MGQyYzdmODZkNjdkODRhMjgzM2ZiMTQ0NGJiYWYzMjBiYjQ2YjM2NWM4ZTFiOWQ0NkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F09300" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FManaus&showPrint=0&title=SBC-EB%20-%20Itacoatiara%2FAM&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=Y2NkM2NhMGVkMWRkMDk1MGQyYzdmODZkNjdkODRhMjgzM2ZiMTQ0NGJiYWYzMjBiYjQ2YjM2NWM4ZTFiOWQ0NkBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23F09300" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
  
</div>