<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades da cidade sede do SBC-EB 2025, juntamente com o evento satélite ForLic 2025.
            Todas as atividades desta programação serão realizadas presencialmente, em Juiz de Fora - MG.
            Em Juiz de Fora, o <strong>credenciamento de participantes</strong> acontecerá durante todo o período no <i>foyer</i> do evento.
            Os intervalos para <i>coffee break</i> ocorrerão entre 10:30 e 11:00 e entre 16:00 e 16:30.
          </p>
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=SBC-EB%20-%20Juiz%20de%20Fora%2C%20MG&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NmY4ZjNkNTRiNjFkYzM3MjgwMDIzZmMwNzU3YzhjMTM0OGRmYzgyMzA4ODc5MjdiMWRhZjY0MThlODQxOGQ3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00&color=%230B8043" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=SBC-EB%20-%20Juiz%20de%20Fora%2C%20MG&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NmY4ZjNkNTRiNjFkYzM3MjgwMDIzZmMwNzU3YzhjMTM0OGRmYzgyMzA4ODc5MjdiMWRhZjY0MThlODQxOGQ3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23EF6C00&color=%230B8043" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              Observe que a programação está disponível como duas agendas públicas no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essas agendas de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="sessao-tecnica">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Sessões Técnicas</h2>
          <p>
            As sessões técnicas do SBC-EB são espaços para a apresentação e discussão dos trabalhos submetidos pela comunidade, promovendo o compartilhamento de ideias e avanços na área de Educação em Computação.
            Em Juiz de Fora - MG haverão três sessões técnicas, todas na tarde do dia 10 de abril.
          </p>
          <p>
            A seguir estão listados os trabalhos que serão apresentados em cada sessão técnica.
            Cada autor terá <strong>7 minutos para sua apresentação</strong> e, ao final de todas as exposições, haverá um tempo dedicado a discussões e perguntas.
            Recomenda-se que os autores estejam cientes das <a href="/simposio/2025/sbc-eb/chamadas/orientacoes-apresentacao" target="_blank">orientações para apresentação</a> previamente divulgadas pela organização do evento.
          </p>
          <div class="accordion" id="accordion-sts">
            <div class="card">
              <div class="card-header" id="accordion-sts">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st1" aria-expanded="true" aria-controls="collapse-st1">
                  <h3 class="text-bold"><strong>Sessão Técnica 1</strong></h3>
                  Quinta-feira, 10 de abril, às 14h30, na Sala Carlos Bracher.
                </button>
              </div>
              <div id="collapse-st1" class="collapse" aria-labelledby="accordion-st1" data-parent="#accordion-sts">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenador(a): Rozelma França (UFRPE)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Chapada Diamantina Computacional: Um livro didático para o primeiro ano do Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Luis Gustavo Araújo (IFBA Campus Jacobina)</li>
                            <li>Mirelee Oliveira da Silva (IFBA Campus Jacobina)</li>
                            <li>Victor Santos</li>
                            <li>Vinicius Dos Reis Silva</li>
                            <li>José Gustavo Souza</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Promovendo a Inclusão de Meninas na Computação: Oficina de Pensamento Computacional e Programação em Python</h4>
                          <ul class="autores-artigo">
                            <li>Ana Carolina Junqueira e Silva (UFJF)</li>
                            <li>Nina Aguiar Ferreira (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Computação e Eu: Uma Abordagem Prática de Pensamento Computacional no Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Diego Berti Bagestan (SME Teutonia)</li>
                            <li>Mateus Mariani (SME Teutonia)</li>
                            <li>Carlos Evandro Schneider (SME Teutonia)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">As Aventuras de Lua e Bit-Bit no Parque de Diversão: Programando com Variáveis</h4>
                          <ul class="autores-artigo">
                            <li>Rozelma Soares de França (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvimento do Pensamento Computacional no Ensino Fundamental Através da Computação Desplugada</h4>
                          <ul class="autores-artigo">
                            <li>Rosineide Santos da Silva (UFPA)</li>
                            <li>Thiago Antônio Coqueiro (UFPA)</li>
                            <li>Igor Ruiz Gomes (UFPA)</li>
                            <li>Tassio Carvalho (UFPA)</li>
                            <li>José Jailton (UFPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Oficinas de Construção de Aplicativos utilizando o MIT App Inventor 2 com os apps “Acorda Preguiça”, “Decodificando” e “Saiba Economizar”</h4>
                          <ul class="autores-artigo">
                            <li>José Beserra (UFPB)</li>
                            <li>Luiz Silva (UFPB)</li>
                            <li>José Pereira (UFPB)</li>
                            <li>Ayla Débora Dantas de Souza Rebouças (UFPB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino de Programação na Educação Básica: Uma Abordagem Progressiva de Scratch, Blocos e Python</h4>
                          <ul class="autores-artigo">
                            <li>Rafael Rocha Ribeiro (UFJF)</li>
                            <li>Giulia Oliveira</li>
                            <li>Cristina Dusi</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-sts">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st2" aria-expanded="true" aria-controls="collapse-st2">
                  <h3 class="text-bold"><strong>Sessão Técnica 2</strong></h3>
                  Quinta-feira, 10 de abril, às 14h30, na Sala Dnar Rocha.
                </button>
              </div>
              <div id="collapse-st2" class="collapse" aria-labelledby="accordion-st2" data-parent="#accordion-sts">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenador(a): Flávia Santoro (UERJ)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Navegando com Segurança: cartilha educativa de conscientização sobre segurança digital</h4>
                          <ul class="autores-artigo">
                            <li>Ervelany Lins de França (UFRPE)</li>
                            <li>José Samuel de Lucena (UFRPE)</li>
                            <li>José Anderson (UFRPE)</li>
                            <li>Juliana Regueira Basto Diniz (UFRPE)</li>
                            <li>Sônia França (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Trabalhando o Letramento Digital com o GraphoGame</h4>
                          <ul class="autores-artigo">
                            <li>Graziela Ferreira Guarda (UFF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando a Inteligência Artificial no Cotidiano: Uma Abordagem Didática para Compreensão e Reflexão Crítica</h4>
                          <ul class="autores-artigo">
                            <li>Diego Minatel (USP)</li>
                            <li>Nícolas Roque dos Santos</li>
                            <li>Amanda Rodrigues (UFOP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Ferramenta de Simulações Interativas para o Ensino de Conceitos de Programação para Crianças</h4>
                          <ul class="autores-artigo">
                            <li>Marília Takaguti Dicezare (USP)</li>
                            <li>Kelly Rosa Braghetto (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Capacitação em Desenvolvimento de Aplicativos para Professores com o MIT APP Inventor</h4>
                          <ul class="autores-artigo">
                            <li>Natan de Souza Rodrigues (UEG)</li>
                            <li>Keyde Taisa da Silva (UEG)</li>
                            <li>Jhonatan Leite Malaquias (UEG)</li>
                            <li>Caio Campos Justino (UEG)</li>
                            <li>Samuel Gomes Dos Santos (UEG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Projeto de prática docente: ensino e pesquisa como práxis emancipatória na formação inicial docente em computação</h4>
                          <ul class="autores-artigo">
                            <li>Maria de Fátima Ramos Brandão (UnB)</li>
                            <li>Jonathan Rosa Moreira (UnB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Projeto Robótica Educacional na Escola de Tempo Integral de Parauapebas - PA</h4>
                          <ul class="autores-artigo">
                            <li>Fabio Correia Rezende (UNIVATES)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header" id="accordion-sts">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st3" aria-expanded="true" aria-controls="collapse-st3">
                  <h3 class="text-bold"><strong>Sessão Técnica 3</strong></h3>
                  Quinta-feira, 10 de abril, às 14h30, na Sala Belmiro Braga.
                </button>
              </div>
              <div id="collapse-st3" class="collapse" aria-labelledby="accordion-st3" data-parent="#accordion-sts">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenador(a): Leila Ribeiro (UFRGS)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A Cidade Sustentável do Frankenstein</h4>
                          <ul class="autores-artigo">
                            <li>Nadiele Costa Lucas (UFRGS)</li>
                            <li>Leila Ribeiro (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Códigos de Resgate: gamificação como estratégia pedagógica para o ensino de criptografia</h4>
                          <ul class="autores-artigo">
                            <li>Ervelany Lins de França (UFRPE)</li>
                            <li>José Samuel de Lucena (UFRPE)</li>
                            <li>Luzima Santos Oliveira Leite</li>
                            <li>Juliana Regueira Basto Diniz (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Introduzindo conceitos do Mundo Digital com uso das Palavras Cruzadas Diretas</h4>
                          <ul class="autores-artigo">
                            <li>Graziela Ferreira Guarda (UFF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desvendando o Enigma: A Criptografia na Segunda Guerra Mundial, uma abordagem transversal da BNCC Computação com a Componente Curricular de História</h4>
                          <ul class="autores-artigo">
                            <li>José Luziel de Souza (UFAC)</li>
                            <li>Barbara Rossi Munck Santos (Rede Santa Catarina)</li>
                            <li>Ronald Ribeiro Varandas (Rede Santa Catarina)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pontos e Pixels: Tecendo Histórias com Ponto Cruz e BBC micro:bit</h4>
                          <ul class="autores-artigo">
                            <li>José Luziel de Souza (UFAC)</li>
                            <li>Ronald Ribeiro Varandas (Rede Santa Catarina)</li>
                            <li>Rosângela Noronha (Independente)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Integrando Literatura e Computação: Explorando o Imaginário de 'O Rei Artur' com Pensamento Computacional e o Microcontrolador BBC micro:bit</h4>
                          <ul class="autores-artigo">
                            <li>José Luziel de Souza (UFAC)</li>
                            <li>Patrícia Ribeiro (Rede Santa Catarina)</li>
                            <li>Ronald Ribeiro Varandas (Rede Santa Catarina)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>