<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades do SBC-EB 2025 no polo de Salvador - BA.
          </p>
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=SBC-EB%20-%20Salvador%2FBA&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=M2ExYTRmYTI2YzU5MjNiNzAyNDU5ZjMyMjliNzRiZmVhMWJkMzcyOTRlMmIxMGM5NTMwYWY3NzY0NDkxMTQ3OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23795548" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=SBC-EB%20-%20Salvador%2FBA&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=M2ExYTRmYTI2YzU5MjNiNzAyNDU5ZjMyMjliNzRiZmVhMWJkMzcyOTRlMmIxMGM5NTMwYWY3NzY0NDkxMTQ3OEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23795548" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
  
</div>