
  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Comitê de Programa</h2>
          
          <br>
          <h3>Coordenadores do Comitê</h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral do <br>Comitê de Programa</h4>
              </td> 
              <td>
                <ul>
                    <li>Roberto Bittencourt (UEFS)</li>
                  </ul>
              </td>
              <td>
                roberto@uefs.br                
              </td>
            </tr>

            <tr>
              <td>                
                <h4>Trilha 1 – Artigos de Pesquisa e Ensaios</h4>                
              </td>
              <td>
                  <ul>
                    <li>Roberto Bittencourt (UEFS) 
                    <li>Rodrigo Duran (IFMS)</li>
                  </ul>
              </td>
              <td>
                roberto@uefs.br<br> 
                rodrigo.duran@ifms.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 2 – Relatos de Experiência</h4>
              </td>
              <td>
                <ul>
                  <li>Eleandro Maschio (UTFPR)</li>
                  <li>André Raabe (UNIVALI)</li>
                </ul>
              </td>
              <td>
                eleandrom@utfpr.edu.br <br>
                raabe@univali.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 3 – Currículos e Práticas Pedagógicas</h4>
              </td>
              <td>
                <ul>
                  <li>Leandro Galvão (UFAM)</li>
                  <li>Adão Cambraia (IFFAR)</li>
                </ul>
              </td>
              <td>
                galvao@icomp.ufam.edu.br <br> adao.cambraia@iffarroupilha.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 4 – Recursos e Ambientes Educacionais</h4>
              </td>
              <td>
                <ul>
                  <li>Taciana Pontual (UFRPE)</li>
                  <li>Ellen Francine (USP)</li>
                </ul>
              </td>
              <td>
                taciana.pontual@ufrpe.br <br>francine@icmc.usp.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Laboratório de Ideias</h4>
              </td>
              <td>
                <ul>
                  <li>Esdras Bispo Jr (UFJ)</li>
                </ul>
              </td>
              <td>
                bispojr@ufg.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>WLic - Workshop da Licenciatura em Computação</h4>
              </td>
              <td>
                <ul>
                  <li>Pasqueline Scaico (UFPB)</li>
                  <li>Rozelma França (UFRPE)</li>
                </ul>
              </td>
              <td>
                pasqueline@dcx.ufpb.br <br>
                rozelma.franca@ufrpe.br
              </td>
            </tr>
          </table>
          
          <br>
          <h3>Membros do Comitê</h3>
          <br>

          <hr>

        <table class="table table-striped">

            <tr>
                <td>Adão Cambraia</td>	<td>	IFFAR</td></tr>
<tr>
                <td>Adilson Vahldick</td>	<td>	UDESC</td></tr>
<tr>
                <td>Adolfo Neto</td>	<td>	UTFPR</td></tr>
<tr>
                <td>Afonso Sales</td>	<td>	PUCRS</td></tr>
<tr>
                <td>César França</td>	<td>	UFRPE</td></tr>
<tr>
                <td>Alcides Calsavara</td>	<td>	PUCPR</td></tr>
<tr>
                <td>Alessandra Smolenaars Dutra</td>	<td>	PUCRS</td></tr>
<tr>
                <td>Alex Sandro Gomes</td>	<td>	UFPE</td></tr>
<tr>
                <td>Alexandra Souza</td>	<td>	IFSP</td></tr>
<tr>
                <td>Alexandre L'Erario</td>	<td>	UTFPR</td></tr>
<tr>
                <td>Aline Vasconcelos</td>	<td>	IFFluminense</td></tr>
<tr>
                <td>Aline Vieira de Mello</td>	<td>	UNIPAMPA</td></tr>
<tr>
                <td>Ana Liz Souto O. Araujo</td>	<td>	UFPB</td></tr>
<tr>
                <td>André Raabe</td>	<td>	Univali</td></tr>
<tr>
                <td>Andréa Sabedra Bordin</td>	<td>	UNIPAMPA</td></tr>
<tr>
                <td>Andrea Schwertner Charão</td>	<td>	UFSM</td></tr>
<tr>
                <td>Andreia Malucelli</td>	<td>	PUCPR</td></tr>
<tr>
                <td>Anna Beatriz Marques</td>	<td>	UFC</td></tr>
<tr>
                <td>Aquiles Burlamaqui</td>	<td>	UFRN</td></tr>
<tr>
                <td>Aracele Garcia de Oliveira Fassbinder</td>	<td>	IFSULDEMINAS</td></tr>
<tr>
                <td>Bruno Gadelha</td>	<td>	UFAM</td></tr>
<tr>
                <td>Carlos Rodrigues</td>	<td>	UEFS</td></tr>
<tr>
                <td>Carlos Portela</td>	<td>	UFPA</td></tr>
<tr>
                <td>Carlos N. Silla Jr.</td>	<td>	PUCPR</td></tr>
<tr>
                <td>Charles Madeira</td>	<td>	UFRN</td></tr>
<tr>
                <td>Christian Brackmann</td>	<td>	IFFAR</td></tr>
<tr>
                <td>Christiane Gresse von Wangenheim</td>	<td>	UFSC</td></tr>
<tr>
                <td>Christina von Flach</td>	<td>	UFBA</td></tr>
<tr>
                <td>Claudia Bordin Rodrigues da Silva</td>	<td> 	UTFPR</td></tr>
<tr>
                <td>Claudia Werner</td>	<td>	UFRJ</td></tr>
<tr>
                <td>Claudia Susie C. Rodrigues</td>	<td>	UFRJ</td></tr>
<tr>
                <td>Clodis Boscarioli</td>	<td>	Unioeste</td></tr>
<tr>
                <td>Cristiano Maciel</td>	<td>	UFMT</td></tr>
<tr>
                <td>Dalton Serey</td>	<td>	UFCG</td></tr>
<tr>
                <td>Daltro Nunes</td>	<td>	UFRGS</td></tr>
<tr>
                <td>Daniel Scherer</td>	<td>	UEPB</td></tr>
<tr>
                <td>Dárlinton Barbosa Feres Carvalho</td>	<td>	UFSJ</td></tr>
<tr>
                <td>Davi Viana</td>	<td>	UFMA</td></tr>
<tr>
                <td>Débora Abdalla</td>	<td>	UFBA</td></tr>
<tr>
                <td>Debora Maria Coelho Nascimento</td>	<td>	UFS</td></tr>
<tr>
                <td>Deller James Ferreira</td>	<td>	UFG</td></tr>
<tr>
                <td>Diana Francisca Adamatti</td>	<td>	FURG</td></tr>
<tr>
                <td>Ecivaldo Matos</td>	<td>	UFBA</td></tr>
<tr>
                <td>Edson Pimentel</td>	<td>	UFABC</td></tr>
<tr>
                <td>Eduardo Aranha</td>	<td>	UFRN</td></tr>
<tr>
                <td>Eduardo Figueiredo</td>	<td>	UFMG</td></tr>
<tr>
                <td>Elaine Harada Teixeira de Oliveira</td>	<td>	UFAM</td></tr>
<tr>
                <td>Eleandro Maschio</td>	<td>	UTFPR</td></tr>
<tr>
                <td>Eliane Cristina de Araújo</td>	<td>	UFCG</td></tr>
<tr>
                <td>Ellen Francine</td>	<td>	ICMC/USP</td></tr>
<tr>
                <td>Emanuel Ferreira Coutinho</td>	<td>	UFC</td></tr>
<tr>
                <td>Evandro Costa</td>	<td>	UFAL</td></tr>
<tr>
                <td>Fabiane Barreto Vavassori Benitti</td>	<td>	UFSC</td></tr>
<tr>
                <td>Fábio Ferrentini Sampaio</td>	<td>	IE/UL</td></tr>
<tr>
                <td>Fabio Gomes Rocha</td>	<td>	UNIT</td></tr>
<tr>
                <td>Fabio Vinicius Binder</td>	<td>	PUCPR</td></tr>
<tr>
                <td>Fernanda Lima</td>	<td>	UnB</td></tr>
<tr>
                <td>Fernanda Alencar</td>	<td>	UFPE</td></tr>
<tr>
                <td>Fernando Figueira Filho</td>	<td>	UFRN</td></tr>
<tr>
                <td>Fernando Osório</td>	<td>	ICMC/USP</td></tr>


            <tr>
                <td>Flávia Veloso Costa Souza</td>	<td>UFPB</td>
            </tr>
            <tr>
                <td>Francisco Petrônio A Medeiros</td>	<td>IFPB</td>
            </tr>
<tr><td>Gabriel P. Silva</td>	<td>UFRJ</td></tr>
<tr><td>Gleison dos Santos Souza</td>	<td>UNIRIO</td></tr>
<tr><td>Heitor Costa</td>	<td>UFLA</td></tr>
<tr><td>Henrique Cota de Freitas</td>	<td>PUC-MG</td></tr>
<tr><td>Hermano Perrelli de Moura</td>	<td>UFPE</td></tr>
<tr><td>Ingrid Monteiro</td>	<td>UFC</td></tr>
<tr><td>Isabela Gasparini</td>	<td>UDESC</td></tr>
<tr><td>Ismar Frango</td>	<td>UPM</td></tr>
<tr><td>Ismayle de Sousa Santos</td>	<td>UFC</td></tr>
            <tr>
                <td>Jacques Brancher</td>	<td>	UEL</td>
            <tr>
                <td>Jair C Leite</td>	<td>	UFRN</td>
            <tr>
                <td>Jean C. R. Hauck</td>	<td>	UFSC</td>
            <tr>
                <td>João Pimentel</td>	<td>	UFRPE</td>
            <tr>
                <td>Jorge César Abrantes de Figueiredo</td>	<td>	UFCG</td>
            <tr>
                <td>Julio Furtado</td>	<td>	Unifap</td>
            <tr>
                <td>Kalinka Branco</td>	<td>	ICMC/USP</td>
            <tr>
                <td>Kiev Gama</td>	<td>	UFPE</td>
            <tr>
                <td>Laís Salvador</td>	<td>	UFBA</td>
            <tr>
                <td>Leandro Galvão</td>	<td>	UFAM</td>
            <tr>
                <td>Lesandro Ponciano</td>	<td>	PUC-MG</td>
            <tr>
                <td>Lívia Maria Rodrigues Sampaio Campos</td>	<td>	UFCG</td>
            <tr>
                <td>Lucia Giraffa</td>	<td>	PUCRS</td>
            <tr>
                <td>Luciano Pansanato</td>	<td>	UTFPR</td>
            <tr>
                <td>Luis Rivero</td>	<td>	UFMA</td>
            <tr>
                <td>Luiz Carlos Begosso</td>	<td>	FEMA</td>
            <tr>
                <td>Luiz Ricardo Begosso</td>	<td>	FEMA</td>
            <tr>
                <td>Marcelo H. Yamaguti</td>	<td>	PUCRS</td>
            <tr>
                <td>Marcelo Morandini</td>	<td>	EACH/USP</td>
            <tr>
                <td>Marcelo Schots</td>	<td>	UERJ</td>
            <tr>
                <td>Marco Aurélio Graciotto Silva</td>	<td>	UTFPR</td>
            <tr>
                <td>Marcos A. F. Borges</td>	<td>	UNICAMP</td>
            <tr>
                <td>Marcos César da Rocha Seruffo</td>	<td>	UFPA</td>
            <tr>
                <td>Maria Augusta Vieira Nelson</td>	<td>	PUC-MG</td>
            <tr>
                <td>Elizabeth S. Furtado</td>	<td>	UNIFOR</td>
            <tr>
                <td>Maria Lencastre</td>	<td>	UPE</td>
            <tr>
                <td>Matheus Gaudencio</td>	<td>	UFCG</td>
            <tr>
                <td>Methanias Colaço Júnior</td>	<td>	UFS</td>
            <tr>
                <td>Milene Selbach Silveira</td>	<td>	PUCRS</td>
            <tr>
                <td>Mirella M. Moro</td>	<td>	UFMG</td>
            <tr>
                <td>Monica Massa</td>	<td>	UNEB</td>
            <tr>
                <td>Natasha Valentim</td>	<td>	UFPR</td>
            <tr>
                <td>Pablo Schoeffel</td>	<td>	UDESC</td>
            <tr>
                <td>Patricia Tedesco</td>	<td>	UFPE</td>
            <tr>
                <td>Patrícia Pitthan Barcelos</td>	<td>	UFSM</td>
            <tr>
                <td>Patrick Letouze</td>	<td>	UFT</td>
            <tr>
                <td>Paulo Caetano da Silva</td>	<td>	UNIFACS</td>
            <tr>
                <td>Paulo Sergio Lopes de Souza</td>	<td>	ICMC/USP</td>
            <tr>
                <td>Rafael Prikladnicki</td>	<td>	PUCRS</td>
            <tr>
                <td>Rafael Aroca</td>	<td>	UFSCar</td>
            <tr>
                <td>Rafaela Vilela da Rocha</td>	<td>	UFABC</td>
            <tr>
                <td>Raquel O. Prates</td>	<td>	UFMG</td>
            <tr>
                <td>Raul Sidnei Wazlawick</td>	<td>	UFSC</td>
            <tr>
                <td>Renata Hax Sander Reiser</td>	<td>	UFPEL</td>
            <tr>
                <td>Renata Teles Moreira</td>	<td>	UFLA</td>
            <tr>
                <td>Ricardo Ferreira</td>	<td>	UFV</td>
            <tr>
                <td>Ricardo Caceffo</td>	<td>	UNICAMP</td>
            <tr>
                <td>Roberto A. Bittencourt</td>	<td>	UEFS</td>
            <tr>
                <td>Roberto Pereira</td>	<td>	UFPR</td>
            <tr>
                <td>Rodrigo Santos</td>	<td>	UNIRIO</td>
            <tr>
                <td>Rodrigo Medeiros</td>	<td>	IFPB</td>
            <tr>
                <td>Rodrigo Duran</td>	<td>	IFMS</td>
            <tr>
                <td>Rommel Lima</td>	<td>	UERN</td>
            <tr>
                <td>Ronaldo Celso Messias Correia</td>	<td>	UNESP</td>
            <tr>
                <td>Rosiane de Freitas</td>	<td>	UFAM</td>
            <tr>
                <td>Rozelma França</td>	<td>	UFRPE</td>
            <tr>
                <td>Sandro Neves Soares</td>	<td>	IFRS</td>
            <tr>
                <td>Sandro Ronaldo Bezerra Oliveira</td>	<td>	UFPA</td>
            <tr>
                <td>Sarita Mazzini Bruschi</td>	<td>	ICMC/USP</td>
            <tr>
                <td>Saul Delabrida</td>	<td>	UFOP</td>
            <tr>
                <td>Sergio Antônio Andrade de Freitas</td>	<td>	UnB</td>
            <tr>
                <td>Sheila Reinehr</td>	<td>	PUCPR</td>
            <tr>
                <td>Simone Senger Souza</td>	<td>	ICMC/USP</td>
            <tr>
                <td>Simone Vasconcelos Silva</td>	<td>	IFFluminense</td>
            <tr>
                <td>Sofia Costa Paiva</td>	<td>	UFSJ</td>
            <tr>
                <td>Taciana Pontual Falcão</td>	<td>	UFRPE</td>
            <tr>
                <td>Tânia S. M. Pinheiro</td>	<td>	UFC</td>
            <tr>
                <td>Thiago Adriano Coleti</td>	<td>	UENP</td>
            <tr>
                <td>Thiago Schumacher Barcelos</td>	<td>	IFSP</td>
            <tr>
                <td>Tiago de Oliveira</td>	<td>	Unifesp</td>
            <tr>
                <td>Ticianne Darin</td>	<td>	UFC</td>
            <tr>
                <td>Valdemar V. Graciano Neto</td>	<td>	UFG</td>
            <tr>
                <td>Vânia Neris</td>	<td>	UFSCar</td>
            <tr>
                <td>Vinicius Ramos</td>	<td>	UFSC</td>
            <tr>
                <td>Vitor Bremgartner</td>	<td>	IFAM</td>
            <tr>
                <td>Wilkerson Andrade</td>	<td>	UFCG</td>
            <tr>
                <td>Williamson Silva</td>	<td>	UNESPAR</td>
            <tr>
                <td>Windson Viana de Carvalho</td>	<td>	UFC</td>
            <tr>
                <td>Yorah Bosse</td>	<td>	UFMS</td>
            <tr>
                <td>Yuska Paola Costa Aguiar</td>	<td>	UFPB</td>
          </table>
        </div>
    </div>
    </div>
  </section>