<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCompBr 2021</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  {{> navbar}}

  <header class="bg-default text-dark" style="height: 4rem; margin-top: -4rem">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img src="/img/banner-chamada-min.jpeg" style="height: 4rem; width: 8rem"/>
        </div>
        <div class="col-9">
          <h3>Simpósio Brasileiro de Educação em Computação</h3>
        </div>
      </div>
      
    </div>
  </header>

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Datas Importantes</h2>
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">Envio de abstract: até 25 de setembro de 2020</li>
            <li class="lead" style="font-size: 14pt">Envio de artigo completo: até 02 de outubro de 2020</li>
            <li class="lead" style="font-size: 14pt">Notificação de aceitação: até 03 de dezembro de 2020</li>
            <li class="lead" style="font-size: 14pt">Submissão da versão final: até 17 de dezembro de 2020</li>
            <li class="lead" style="font-size: 14pt">Realização do evento: 27 a 30 de abril de 2021</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  {{> footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    {{!-- <script src="/js/scrolling-nav.js"></script> --}}

</body>

</html>
