  {{> headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Datas Importantes (Artigos)</h2>
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt"><strong>Envio de abstract</strong>: até 18 de setembro de 2020</li>
            <li class="lead" style="font-size: 14pt"><strong>Envio de artigo completo</strong>: até 25 de setembro de 2020</li>
            <li class="lead" style="font-size: 14pt"><strong>Notificação de aceitação</strong>: até 26 de novembro de 2020</li>
            <li class="lead" style="font-size: 14pt"><strong>Submissão da versão final</strong>: até 10 de dezembro de 2020</li>
          </ul>
          <h2>Datas Importantes (Laboratório de Ideias)</h2>
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt"><strong>Envio da proposta</strong>: até 31 de janeiro de 2021</li>
            <li class="lead" style="font-size: 14pt"><strong>Notificação de aceitação</strong>: até 21 de fevereiro de 2021</li>
            <li class="lead" style="font-size: 14pt"><strong>Submissão da versão final</strong>: até 28 de fevereiro de 2021</li>
          </ul>
        </div>
      </div>
    </div>
  </section>