  {{> headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Datas Importantes (Artigos) <br><span style="background-color: rgb(127, 197, 255); padding-left: 0.3em; padding-right: 0.3em;">prazo final</span></h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt"><strong>Envio de abstract</strong>: até <s>18/09/2020</s> <s>26/09/2020</s> <span style="background-color: rgb(127, 197, 255);">18 de outubro de 2020</span></li>
            <li class="lead" style="font-size: 14pt"><strong>Envio de artigo completo</strong>: até <s>25/09/2020</s> <s>03/10/2020</s> <span style="background-color: rgb(127, 197, 255);">25 de outubro de 2020</span></li>
            <li class="lead" style="font-size: 14pt"><strong>Notificação de aceitação</strong>: até <s>26/11/2020</s> <span style="background-color: rgb(127, 197, 255);">18 de dezembro de 2020</span></li>
            <li class="lead" style="font-size: 14pt"><strong>Submissão da versão final</strong>: até <s>10/12/2020</s> <span style="background-color: rgb(127, 197, 255);">18 de janeiro de 2020</span></li>
          </ul>
          <h2>Datas Importantes (Laboratório de Ideias)</h2>
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt"><strong>Envio da proposta</strong>: até 31 de janeiro de 2021</li>
            <li class="lead" style="font-size: 14pt"><strong>Notificação de aceitação</strong>: até 21 de fevereiro de 2021</li>
            <li class="lead" style="font-size: 14pt"><strong>Submissão da versão final</strong>: até 28 de fevereiro de 2021</li>
          </ul>
        </div>
      </div>
    </div>
  </section>