<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCompBr 2021</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">

  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

</head>

<body id="page-top">
  <!-- Navigation -->
  {{> navbar}}

  <header class="bg-default text-dark" style="height: 4rem; margin-top: -4rem">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img src="/img/banner-chamada-min.jpeg" style="height: 4rem; width: 8rem"/>
        </div>
        <div class="col-9">
          <h3>Simpósio Brasileiro de Educação em Computação</h3>
        </div>
      </div>
      
    </div>
  </header>

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Equipe</h2>
          
          <br>
          <h3>Comitê de Programa</h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral da Comitê de Programa</h4>
              </td> 
              <td>
                <ul>
                  <li>Roberto Almeida Bittencourt (UEFS)</li>
                </ul>                
              </td>
            </tr>

            <tr>
              <td>                
                <h4>Coordenação do Comitê de Programa da Trilha 1 – Artigos de Pesquisa e Ensaios</h4>                
              </td>
              <td>
                <ul>
                  <li>Roberto Almeida Bittencourt (UEFS)</li>
                  <li>Rodrigo Silva Duran (IFMS)</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                <h4>Coordenação do Comitê de Programa da Trilha 2 – Relatos de Experiência</h4>
              </td>
              <td>
                <ul>
                  <li>Eleandro Maschio Krynski (UTFPR)</li>
                  <li>André Luis Alice Raabe (UNIVALI)</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                <h4>Coordenação do Comitê de Programa da Trilha 3 – Currículos e Práticas Pedagógicas</h4>
              </td>
              <td>
                <ul>
                  <li>Leandro Silva Galvão de Carvalho (UFAM)</li>
                  <li>Adão Caron Cambraia (IFFAR)</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                <h4>Coordenação do Comitê de Programa da Trilha 4 – Recursos e Ambientes Educacionais</h4>
              </td>
              <td>
                <ul>
                  <li>Taciana Pontual da Rocha Falcão (UFRPE)</li>
                  <li>Ellen Francine Barbosa (USP-SC)</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                <h4>Coordenação do Comitê de Programa do Laboratório de Ideias</h4>
              </td>
              <td>
                <ul>
                  <li>Esdras Lins Bispo Jr (UFJ)</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                <h4>Coordenação do WLIC - Workshop da Licenciatura em Computação</h4>
              </td>
              <td>
                <ul>
                  <li>Pasqueline Dantas Scaico (UFPB)</li>
                  <li>Rozelma Soares de França (UFRPE)</li>
                </ul>
              </td>
            </tr>
          </table>

          <br>
          <h3>Comissão Organizadora </h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral</h4>
              </td>
              <td>
                <ul>
                  <li>Esdras Lins Bispo Junior (UFJ)</li>
                  <li>bispojr@ufg.br</li>
                </ul>
              </td>
            </tr>

            <tr>
              <td>
                <h4>Conselho Consultivo</h4>
              </td>
              <td>
                <ul>
                  <li>Avelino Francisco Zorzo (PUC-RS)</li>
                  <li>Jair Cavalcanti Leite (UFRN)</li>
                  <li>Maria de Fátima Ramos Brandão (UnB)</li>
                  <li>Mirela Moura Moro (UFMG)</li>
                  <li>Renata Mendes de Araújo (Mackenzie)</li>
                </ul>
              </td>
            </tr>

          </table>

        <br>
        <h3>Coordenações</h3>
        <br>
        
        <hr>
        <table class="table table-striped">
          <tr>
            <td>
              <h5>Coordenação de Web Site do Evento</h5>
            </td>
            <td>
              <ul>
                <li>Harley Macedo de Mello (IFCE)</li>
                <li>Esdras Lins Bispo Junior (UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Coordenação de Ferramental Online e Equipe de Apoio Técnico</h5>
            </td>
            <td>
              <ul>
                <li>Christian Puhlmann Brackmann (IFFar)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Coordenação de Publicação dos Anais</h5>
            </td>
            <td>
              <ul>
                <li>Elaine Harada Teixeira de Oliveira (UFAM)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Coordenação de Publicidade e Mídias Sociais</h5>
            </td>
            <td>
              <ul>
                <li>Aruquia Barbosa Matos Peixoto (CEFET-RJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Coordenação Financeira e de Inscrições</h5>
            </td>
            <td>
              <ul>
                <li>Wilkerson de Lucena Andrade (UFCG)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Coordenação de Conexão com a Educação Básica</h5>
            </td>
            <td>
              <ul>
                <li>Marcia Elena Jochims Kniphoff da Cruz (UNISC)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Coordenação de Interação com Sociedades Científicas</h5>
            </td>
            <td>
              <ul>
                <li>Mirella Moura Moro (UFMG)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Coordenação de Estudantes Voluntários</h5>
            </td>
            <td>
              <ul>
                <li>Carolina Moreira Oliveira (UFPR)</li>
              </ul>
            </td>
          </tr>
        </table>

        </div>
      </div>
    </div>
  </section>

  {{> footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    {{!-- <script src="/js/scrolling-nav.js"></script> --}}

</body>

</html>
