
  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Equipe</h2>
          
          <br>
          <h3>Comitê de Programa</h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral do <br>Comitê de Programa</h4>
              </td> 
              <td>
                <ul>
                    <li>Roberto Bittencourt (UEFS)</li>
                  </ul>
              </td>
              <td>
                roberto@uefs.br                
              </td>
            </tr>

            <tr>
              <td>                
                <h4>Trilha 1 – Artigos de Pesquisa e Ensaios</h4>                
              </td>
              <td>
                  <ul>
                    <li>Roberto Bittencourt (UEFS) 
                    <li>Rodrigo Duran (IFMS)</li>
                  </ul>
              </td>
              <td>
                roberto@uefs.br<br> 
                rodrigo.duran@ifms.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 2 – Relatos de Experiência</h4>
              </td>
              <td>
                <ul>
                  <li>Eleandro Maschio (UTFPR)</li>
                  <li>André Raabe (UNIVALI)</li>
                </ul>
              </td>
              <td>
                eleandrom@utfpr.edu.br <br>
                raabe@univali.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 3 – Currículos e Práticas Pedagógicas</h4>
              </td>
              <td>
                <ul>
                  <li>Leandro Galvão (UFAM)</li>
                  <li>Adão Cambraia (IFFAR)</li>
                </ul>
              </td>
              <td>
                galvao@icomp.ufam.edu.br <br> adao.cambraia@iffarroupilha.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 4 – Recursos e Ambientes Educacionais</h4>
              </td>
              <td>
                <ul>
                  <li>Taciana Pontual (UFRPE)</li>
                  <li>Ellen Francine (USP)</li>
                </ul>
              </td>
              <td>
                taciana.pontual@ufrpe.br <br>francine@icmc.usp.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Laboratório de Ideias</h4>
              </td>
              <td>
                <ul>
                  <li>Esdras Bispo Jr (UFJ)</li>
                </ul>
              </td>
              <td>
                bispojr@ufg.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>WLic - Workshop da Licenciatura em Computação</h4>
              </td>
              <td>
                <ul>
                  <li>Pasqueline Scaico (UFPB)</li>
                  <li>Rozelma França (UFRPE)</li>
                </ul>
              </td>
              <td>
                pasqueline@dcx.ufpb.br <br>
                rozelma.franca@ufrpe.br
              </td>
            </tr>
          </table>

          <br>
          <h3>Comissão Organizadora </h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral</h4>
              </td>
              <td>
                <ul>
                  <li>Esdras Bispo Jr (UFJ)</li>
                </ul>
              </td>
              <td>bispojr@ufg.br</td>
            </tr>

            <tr>
              <td>
                <h4>Conselho Consultivo</h4>
              </td>
              <td colspan="2">
                <ul>
                  <li>Avelino Zorzo (PUC-RS)</li>
                  <li>Jair Leite (UFRN)</li>
                  <li>Maria de Fátima Brandão (UnB)</li>
                  <li>Mirella Moro (UFMG)</li>
                  <li>Renata Araújo (Mackenzie)</li>
                </ul>
              </td>
            </tr>
          <tr>
            <td>
              <h5>Web Site do Evento</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Harley Mello (IFCE)</li>
                <li>Esdras Bispo Jr (UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Ferramental Online e <br>Equipe de Apoio Técnico</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Christian Brackmann (IFFar)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publicação dos Anais</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Elaine Oliveira (UFAM)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publicidade e Mídias Sociais</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Aruquia Peixoto (CEFET-RJ)</li>
                <li>Franciny Barreto (UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Financeiro e Inscrições</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Wilkerson Andrade (UFCG)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Conexão com a Educação Básica</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Marcia Elena Kniphoff (UNISC)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Interação com Sociedades Científicas</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Mirella Moro (UFMG)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Estudantes Voluntários</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Carolina Oliveira (UFPR)</li>
              </ul>
            </td>
          </tr>
        </table>

        </div>
      </div>
    </div>
  </section>