<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCompBr 2021</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">GIEC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/simposio/2021/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/topicos-de-interesse">Tópicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/trabalhos">Trabalhos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/datas">Datas Importantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/programacao">Programação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/inscricoes">Inscrições</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-default text-dark" style="height: 32rem;">
    <div class="container text-center">      
      <img src="/img/banner-chamada.jpeg" style="height: 16rem; width: 32rem" />
      <br><br>
      <h3>Simpósio Brasileiro de Educação em Computação</h3>
    </div>
  </header>

  <section id="sobre" class="bg-light" >
    <div class="container" >
      <div class="row" >
        <div class="col-lg-8 mx-auto" >
          <p style="margin-top: -6rem;"><h2>Sobre</h2></p>          
          <p class="lead" style="text-align: justify;">O Simpósio Brasileiro de Educação em Computação (EduComp), promovido pela Sociedade Brasileira de Computação (SBC), será um evento anual congregando pesquisadores e educadores da área de educação em computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.</p>
          <p class="lead" style="text-align: justify;">Convidamos os interessados a enviar contribuições para o SBEC na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias que contribuam para o avanço da área de educação em computação. Submissões para o SBEC podem tratar de todos os aspectos da educação em computação, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="topicos" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p><h2>Tópicos de interesse</h2></p>
          <p class="lead">No <span style="font-weight: bold">domínio da educação em computação</span>, os artigos submetidos podem estar relacionados aos seguintes tópicos, não limitados a eles:</p>         
          <ol>
            <li>Didática de computação</li>
            <li>Ensino e/ou aprendizagem de disciplinas da computação</li>
            <li>Estratégias de ensino e/ou aprendizagem de computação</li>
            <li>Metodologias ativas no ensino e/ou aprendizagem de computação</li>
            <li>Teorias educacionais e psicológicas aplicadas à educação em computação</li>
            <li>Metacognição na educação em computação</li>
            <li>Avaliação da aprendizagem em computação</li>
            <li>Currículos de computação</li>
            <li>Evasão e retenção em cursos e disciplinas de computação</li>
            <li>Modelos de monitoria e apoio discente em disciplinas de graduação</li>
            <li>Mentoria na graduação e pós-graduação em computação</li>
            <li>Habilidades técnicas (hard skills) e não-técnicas (soft skills) em computação</li>
            <li>Formação científica em cursos de computação</li>
            <li>Interação entre academia e indústria de TI</li>
            <li>Formação na pós-graduação em computação</li>
            <li>Comunidades discentes em cursos de computação</li>
            <li>Fatores psicológicos e emocionais em educação em computação</li>
            <li>Inclusão e acessibilidade na educação em computação</li>
            <li>Diversidade em cursos de computação</li>
            <li>Estudos de gênero na educação em computação</li>
            <li>Aspectos raciais/étnicos na educação em computação</li>
            <li>Aspectos demográficos, sociais e econômicos de cursos de computação</li>
            <li>Aspectos éticos na educação em computação</li>
            <li>Formação inicial de professores em computação</li>
            <li>Formação continuada de professores em computação</li>
            <li>Prática de ensino de computação na formação de professores</li>
            <li>Estágio supervisionado na formação de professores de computação</li>
            <li>Computação na educação infantil</li>
            <li>Computação nos anos iniciais do ensino fundamental</li>
            <li>Computação nos anos finais do ensino fundamental</li>
            <li>Computação no ensino médio</li>
            <li>Computação na educação profissional</li>
            <li>Educação corporativa em computação</li>
            <li>Ensino e/ou aprendizagem online de computação</li>
            <li>Educação em computação em espaços não-formais</li>
            <li>Educação continuada em computação</li>
            <li>Educação de jovens e adultos em computação</li>
            <li>Pensamento computacional</li>
            <li>Avaliação de pensamento computacional</li>
            <li>Programação introdutória na educação superior</li>
            <li>Programação avançada na educação superior</li>
            <li>Psicologia da programação</li>
            <li>Feedback de tarefas de programação</li>
            <li>Avaliação automatizada de tarefas de programação</li>
            <li>Linguagens textuais para aprendizagem de programação</li>
            <li>Linguagens de blocos para aprendizagem de programação</li>
            <li>Recursos de apoio à educação em computação</li>
            <li>Educação em computação aberta e livre (e.g., REA, MOOC)</li>
            <li>Materiais didáticos de computação</li>
            <li>Computação desplugada</li>
            <li>Robótica na educação em computação</li>
            <li>Hardware na educação em computação</li>
            <li>Educação em computação através do uso de imagens, áudio e vídeo</li>
            <li>Realidade virtual e aumentada na educação em computação</li>
            <li>Redes e mídias sociais em educação em computação</li>
            <li>Mineração de dados educacionais em computação</li>
            <li>Analíticas de aprendizagem (learning analytics) em computação</li>
            <li>Estudos secundários: revisões sistemáticas e mapeamentos sistemáticos</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section id="trabalhos">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p><h2>Trabahos</h2></p> 
          <p><h4>Artigos Completos</h4></p>          
          <p class="lead" style="text-align: justify;">Artigos completos podem ser escritos em Português ou Inglês e devem ser seguir o formato da ACM SIGCSE em coluna dupla, contendo o mínimo de 6 (seis) e o máximo de 10 (dez) páginas, com a possibilidade de uma página adicional apenas de referências. Artigos aceitos serão publicados no Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL). Na submissão, os artigos devem ser anonimizados para garantir as avaliações duplo-cegas (double blind reviews). </p>
          <p>Os artigos devem ser encaminhados a uma das seguintes trilhas.</p>       
          <p><h5>Trilha 1: Artigos de Pesquisa e Ensaios</h5></p>
          <ul>
            <li>Artigos de pesquisa devem seguir padrões científicos rigorosos, descrevendo questões, fundamentos, métodos, resultados, discussões e limitações da pesquisa. Concentram-se em tópicos relevantes e de interesse atual para a educação em computação. Metodologias de pesquisa de todos os tipos são bem-vindas, incluindo métodos empíricos (qualitativos, quantitativos ou mistos), analíticos, críticos, ciência de design e outros.</li>
            <li>Ensaios devem apresentar argumentação de natureza crítico-reflexiva, bem fundamentada, buscando originalidade e profundidade no enfoque, sem, contudo, explorar o tema de forma exaustiva. Têm o propósito de expor ideias e pontos de vista dos autores sobre determinado tema; revisar e analisar assuntos e interpretações; e debater ideias e opiniões, através de pesquisa bibliográfica e/ou evidências empíricas.</li>
          </ul>

          <p><h5>Trilha 2: Relatos de Experiência</h5></p>
          <ul>
            <li>Artigos de relato de experiência devem descrever cuidadosamente uma intervenção de educação em computação e seu contexto. Devem trazer detalhes suficientes que permitam a adoção por terceiros, além de oferecer uma reflexão aprofundada sobre o que funcionou (ou não) e por quê. </li>
          </ul>

          <p><h5>Trilha 3: Currículos e Práticas Pedagógicas</h5></p>
          <ul>
            <li>Artigos sobre currículos e práticas pedagógicas devem discutir currículos, cursos ou programas novos ou revisados na área de computação, mas também podem incluir artigos de posicionamento (position papers). Devem descrever o contexto que motivou a iniciativa, seus fundamentos pedagógicos, o que foi necessário para implementá-la, seu potencial impacto e as recomendações para adoção por outros educadores. Artigos de posicionamento devem gerar uma discussão acadêmica proveitosa por meio de uma opinião defensável sobre um currículo, curso ou programa proposto na área de computação, substanciado por evidências.</li>
          </ul>

          <p><h5>Trilha 4: Recursos e Ambientes Educacionais</h5></p>
          <ul>
            <li>Artigos sobre recursos didáticos devem apresentar recursos didáticos específicos para a educação em computação em um ou mais níveis da educação formal ou não-formal. Devem descrever: a motivação para a criação do recurso didático; a organização do material (e.g., objetivos, conteúdo, dentre outros elementos); comparação com recursos similares; os fundamentos teóricos e/ou pedagógicos que embasam sua concepção; a dinâmica de uso do recurso, de preferência associada a um cenário real onde ele foi ou será testado, além de detalhes suficientes que orientem seu uso por educadores; e uma reflexão teórico-crítica sobre o seu potencial ou real impacto. Recursos didáticos típicos incluem (mas não estão limitados a) livros e textos didáticos, vídeos, animações e jogos educacionais.</li>
            <li>Artigos sobre ambientes e plataformas devem apresentar ambientes e plataformas inovadoras de software e/ou hardware para apoiar o ensino ou a aprendizagem de computação. Devem descrever a motivação para a criação do ambiente / plataforma; comparação com ambientes / plataformas similares; fundamentos teóricos e/ou pedagógicos que embasam sua concepção; principais funcionalidades e potenciais usuários; exemplo de uso, possivelmente com uma prova de conceito e telas que ilustram a interface (quando aplicável); arquitetura do ambiente / plataforma com enfoque em seus principais componentes e nas interfaces entre eles; breve comparação com outras plataformas relacionadas existentes; e o tipo de licença.</li>
          </ul>

          <p><h4>Laboratório de Ideias</h4></p>
          <p class="lead" style="text-align: justify;">O Laboratório de Ideias é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores ou receber feedback qualificado para aquela ideia. </p>
          <p class="lead" style="text-align: justify;">As propostas para o Laboratório de Ideias devem ser limitadas a um resumo simples de uma página em coluna dupla no formato da ACM SIGCSE. No resumo simples, deve ser inserido adicionalmente o link do vídeo de apresentação da proposta de até cinco minutos de duração. É de responsabilidade dos autores que o vídeo esteja disponível em alguma plataforma na internet (e.g., YouTube) e que link esteja liberado para acesso.</p>
          <p class="lead" style="text-align: justify;">Para o resumo simples, os autores devem submeter o arquivo em formato PDF. Tanto o resumo quanto o vídeo serão avaliados por pelo menos dois revisores. Se a proposta for aceita, (i) o vídeo será apresentado, em paralelo ao evento, nas redes sociais do GIEC (Facebook, YouTube, e Instagram); (ii) ao menos um dos autores da proposta aprovada deverá participar em uma das videoconferências abertas realizadas durante o evento com o propósito de debater as propostas do Laboratório de Ideias apresentadas nas redes sociais; e (iii) o resumo da proposta aprovada será publicado nos anais do evento no Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL).</p>
          <p class="lead" style="text-align: justify;">Havendo alguma questão ou dúvida, favor entrar em contato com os coordenadores do Laboratório de Ideias.</p>
          
        </div>
      </div>
    </div>
  </section>

  <section id="datas" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Datas Importantes</h2>
          <ul>
            <p><li>Envio de abstract: até 25 de setembro de 2020</li></p>
            <p><li>Envio de artigo completo: até 02 de outubro de 2020</li></p>
            <p><li>Notificação de aceitação: até 03 de dezembro de 2020</li></p>
            <p><li>Submissão da versão final: até 17 de dezembro de 2020</li></p>
            <p><li>Realização do evento: 27 a 30 de abril de 2021</li></p>
          </ul>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </section>

  <section id="programacao">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Programação</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="inscricoes" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Inscrições</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contato">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contato</h2>
          <p class="lead">Email:</p>
          <p class="lead">Fone:</p>
          <p class="lead">Social:</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Mantido e desenvolvido por: Equipe EduCompBR 2020</p>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/js/scrolling-nav.js"></script>

</body>

</html>
