<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCompBr 2021</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-success fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">GIEC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Topo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#topicos">Tópicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#trabalhos">Trabalhos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#datas">Datas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#programacao">Programação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#inscricoes">Inscrições</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-secondary text-white">
    <div class="container text-center">      
      <h2>EduComp 2021</h2>
      <h3>Simpósio Brasileiro de Educação em Computação</h3>
      
      {{!-- <p class="lead">Estamos trazendo uma programação com temas atuais e palestrantes de renome nacional e internacional</p> --}}
    </div>
  </header>

  <section id="sobre">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p><h2>Sobre</h2></p>          
          <p class="lead" style="text-align: justify;">O Simpósio Brasileiro de Educação em Computação (EduComp), promovido pela Sociedade Brasileira de Computação (SBC), será um evento anual congregando pesquisadores e educadores da área de educação em computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.</p>
          <p class="lead" style="text-align: justify;">Convidamos os interessados a enviar contribuições para o SBEC na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias que contribuam para o avanço da área de educação em computação. Submissões para o SBEC podem tratar de todos os aspectos da educação em computação, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="topicos" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p><h2>Tópicos</h2></p>          
          <ol>
            <li>Didática de computação</li>
            <li>Ensino e/ou aprendizagem de disciplinas da computação</li>
            <li>Estratégias de ensino e/ou aprendizagem de computação</li>
            <li>Metodologias ativas no ensino e/ou aprendizagem de computação</li>
            <li>Teorias educacionais e psicológicas aplicadas à educação em computação</li>
            <li>Metacognição na educação em computação</li>
            <li>Avaliação da aprendizagem em computação</li>
          </ol>
        </div>
      </div>
    </div>
  </section>

  <section id="trabalhos">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p><h2>Trabahos</h2></p> 
          <p><h4>Artigos Completos</h4></p>          
          <p class="lead" style="text-align: justify;">Artigos completos podem ser escritos em Português ou Inglês e devem ser seguir o formato da ACM SIGCSE em coluna dupla, contendo o mínimo de 6 (seis) e o máximo de 10 (dez) páginas, com a possibilidade de uma página adicional apenas de referências. Artigos aceitos serão publicados no Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL). Na submissão, os artigos devem ser anonimizados para garantir as avaliações duplo-cegas (double blind reviews). </p>          
          <p><h4>Laboratório de Ideias</h4></p>
          <p class="lead" style="text-align: justify;">O Laboratório de Ideias é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores ou receber feedback qualificado para aquela ideia. </p>
          <p class="lead" style="text-align: justify;">As propostas para o Laboratório de Ideias devem ser limitadas a um resumo simples de uma página em coluna dupla no formato da ACM SIGCSE. No resumo simples, deve ser inserido adicionalmente o link do vídeo de apresentação da proposta de até cinco minutos de duração. É de responsabilidade dos autores que o vídeo esteja disponível em alguma plataforma na internet (e.g., YouTube) e que link esteja liberado para acesso.</p>
          <p class="lead" style="text-align: justify;">Para o resumo simples, os autores devem submeter o arquivo em formato PDF. Tanto o resumo quanto o vídeo serão avaliados por pelo menos dois revisores. Se a proposta for aceita, (i) o vídeo será apresentado, em paralelo ao evento, nas redes sociais do GIEC (Facebook, YouTube, e Instagram); (ii) ao menos um dos autores da proposta aprovada deverá participar em uma das videoconferências abertas realizadas durante o evento com o propósito de debater as propostas do Laboratório de Ideias apresentadas nas redes sociais; e (iii) o resumo da proposta aprovada será publicado nos anais do evento no Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL).</p>
          <p class="lead" style="text-align: justify;">Havendo alguma questão ou dúvida, favor entrar em contato com os coordenadores do Laboratório de Ideias.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="datas" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Datas</h2>
          <ul>
            <p><li>Envio de abstract: até 25 de setembro de 2020</li></p>
            <p><li>Envio de artigo completo: até 02 de outubro de 2020</li></p>
            <p><li>Notificação de aceitação: até 03 de dezembro de 2020</li></p>
            <p><li>Submissão da versão final: até 17 de dezembro de 2020</li></p>
            <p><li>Realização do evento: 27 a 30 de abril de 2021</li></p>
          </ul>
          <p class="lead"></p>
        </div>
      </div>
    </div>
  </section>

  <section id="programacao">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Programação</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="inscricoes" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Inscrições</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contato">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contato</h2>
          <p class="lead">Email:</p>
          <p class="lead">Fone:</p>
          <p class="lead">Social:</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Mantido e desenvolvido por: Equipe EduCompBR 2020</p>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/js/scrolling-nav.js"></script>

</body>

</html>
