<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCompBr 2021</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">GIEC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/topicos-de-interesse">Tópicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/trabalhos">Trabalhos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/datas">Datas Importantes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger active" href="/simposio/2021/programacao">Programação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/inscricoes">Inscrições</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/equipe">Equipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-default text-dark" style="height: 4rem; margin-top: -4rem">
    <div class="container">
      <div class="row">
        <div class="col-3">
          <img src="/img/banner-chamada-min.jpeg" style="height: 4rem; width: 8rem"/>
        </div>
        <div class="col-9">
          <h3>Simpósio Brasileiro de Educação em Computação</h3>
        </div>
      </div>
      
    </div>
  </header>

  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Programação</h2>
          <br><br>
          <h4>Em breve...</h4>          
          <img src="/img/tempo2.png" style="height: 80px; width: 80px" />
          </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Mantido e desenvolvido por: Equipe EduCompBR 2020</p>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    {{!-- <script src="/js/scrolling-nav.js"></script> --}}

</body>

</html>
