<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCompBr 2021</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  {{> navbar}}

  {{> headerInterno}}

  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Programação</h2>
          <br><br>
          <h4>Em breve...</h4>          
          <img src="/img/tempo2.png" style="height: 80px; width: 80px" />
          </div>
      </div>
    </div>
  </section>

  {{> footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    {{!-- <script src="/js/scrolling-nav.js"></script> --}}

</body>

</html>
