  <header class="bg-default text-dark" 
  style="height: 32rem; background-image: url('/img/cbie2019.png'); 
  background-repeat: no-repeat; background-size: cover;
  background-color: #c9f1ec;"
  >
    <div class="container text-center" >
      <div class="row">
        <div class="col"></div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
          <img src="/img/chamada.png" style="width: 100%; margin-top: -2rem" />
        </div>
        <div class="col"></div>
      </div>      
      <h3 style="display: block; margin-top: 1em;">
        <span style="background-color: rgba(255, 255, 255, 0.5); padding: 0.6em; margin-bottom: 0.6em;">
          Simpósio Brasileiro de Educação em Computação
        </span>        
      </h3>   
    </div>
  </header>

  <section id="sobre" style="background-color:rgb(221, 232, 243);">
    <div class="container" >
      <div class="row" >
        <div class="col-lg-8 mx-auto" >
          <h2 style="margin-top: -6rem;">Sobre</h2>
          <br>          
          <p class="lead" style="text-align: justify; font-size: 14pt">O Simpósio Brasileiro de Educação em Computação (EduComp), promovido pela <a href="/simposio/2021/topicos-de-interesse" target="_blank">Sociedade Brasileira de Computação</a> (SBC), será um evento anual congregando pesquisadores e educadores da área de Educação em Computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.</p>
          <p class="lead" style="text-align: justify; font-size: 14pt">
            A primeira edição do EduComp ocorrerá entre os dias <strong> 27 a 30 de abril de 2021</strong> de forma <strong>totalmente remota</strong>.  Convidamos os interessados a enviar contribuições na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias que contribuam para o avanço da área de Educação em Computação. Submissões para o EduComp podem tratar de <a href="/simposio/2021/topicos-de-interesse">todos os aspectos da Educação em Computação</a>, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
          </p>
        </div>
      </div>
    </div>
  </section>