<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduCompBr 2021</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/">GIEC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/sobre">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/topicos-de-interesse">Tópicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/trabalhos">Trabalhos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/datas">Datas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/programacao">Programação</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/inscricoes">Inscrições</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/simposio/2021/contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <header class="bg-default text-dark" style="height: 32rem;">
    <div class="container text-center">      
      <img src="/img/banner-chamada.jpeg" style="height: 16rem; width: 32rem" />
      <br><br>
      <h3>Simpósio Brasileiro de Educação em Computação</h3>
    </div>
  </header>

  <section id="sobre" style="background-color:rgb(209, 226, 243);">
    <div class="container" >
      <div class="row" >
        <div class="col-lg-8 mx-auto" >
          <p style="margin-top: -6rem;"><h2>Sobre</h2></p>          
          <p class="lead" style="text-align: justify;">O Simpósio Brasileiro de Educação em Computação (EduComp), promovido pela Sociedade Brasileira de Computação (SBC), será um evento anual congregando pesquisadores e educadores da área de educação em computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.</p>
          <p class="lead" style="text-align: justify;">Convidamos os interessados a enviar contribuições para o SBEC na forma de artigos de pesquisa, ensaios, relatos de experiência e artigos descrevendo currículos e práticas pedagógicas, recursos didáticos ou ambientes e plataformas educacionais, além de resumos de novas ideias que contribuam para o avanço da área de educação em computação. Submissões para o SBEC podem tratar de todos os aspectos da educação em computação, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Mantido e desenvolvido por: Equipe EduCompBR 2020</p>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/js/scrolling-nav.js"></script>

</body>

</html>
