  {{> headerInterno}}

  <section style="background-color:rgb(221, 232, 243);" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Tópicos de interesse</h2>
          <br>
          <p class="lead" style="font-size: 14pt">No domínio da <span style="font-weight: bold">Educação em Computação</span>, os artigos submetidos podem estar relacionados aos seguintes tópicos, não limitados a eles:</p>         
          <br>
          <input id="search" name="search" placeholder="Filtrar lista" type="text" data-list=".list" class="form-control" />
          <br>
          <ul style="font-size: 14pt" class="list" id="topicos">
            <li class="lead li_1_7">Didática de computação</li>
            <li class="lead li_1_7">Ensino e/ou aprendizagem de disciplinas da computação</li>
            <li class="lead li_1_7">Estratégias de ensino e/ou aprendizagem de computação</li>
            <li class="lead li_1_7">Metodologias ativas no ensino e/ou aprendizagem de computação</li>
            <li class="lead li_1_7">Teorias educacionais e psicológicas aplicadas à educação em computação</li>
            <li class="lead li_1_7">Metacognição na educação em computação</li>
            <li class="lead li_1_7">Avaliação da aprendizagem em computação</li>
            <li class="lead li_8_15">Currículos de computação</li>
            <li class="lead li_8_15">Evasão e retenção em cursos e disciplinas de computação</li>
            <li class="lead li_8_15">Modelos de monitoria e apoio discente em disciplinas de graduação</li>
            <li class="lead li_8_15">Mentoria na graduação e pós-graduação em computação</li>
            <li class="lead li_8_15">Habilidades técnicas (hard skills) e não-técnicas (soft skills) em computação</li>
            <li class="lead li_8_15">Formação científica em cursos de computação</li>
            <li class="lead li_8_15">Interação entre academia e indústria de TI</li>
            <li class="lead li_8_15">Formação na pós-graduação em computação</li>
            <li class="lead li_16_23">Comunidades discentes em cursos de computação</li>
            <li class="lead li_16_23">Fatores psicológicos e emocionais em educação em computação</li>
            <li class="lead li_16_23">Inclusão e acessibilidade na educação em computação</li>
            <li class="lead li_16_23">Diversidade em cursos de computação</li>
            <li class="lead li_16_23">Estudos de gênero na educação em computação</li>
            <li class="lead li_16_23">Aspectos raciais/étnicos na educação em computação</li>
            <li class="lead li_16_23">Aspectos demográficos, sociais e econômicos de cursos de computação</li>
            <li class="lead li_16_23">Aspectos éticos na educação em computação</li>
            <li class="lead li_24_27">Formação inicial de professores em computação</li>
            <li class="lead li_24_27">Formação continuada de professores em computação</li>
            <li class="lead li_24_27">Prática de ensino de computação na formação de professores</li>
            <li class="lead li_24_27">Estágio supervisionado na formação de professores de computação</li>
            <li class="lead li_28_37">Computação na educação infantil</li>
            <li class="lead li_28_37">Computação nos anos iniciais do ensino fundamental</li>
            <li class="lead li_28_37">Computação nos anos finais do ensino fundamental</li>
            <li class="lead li_28_37">Computação no ensino médio</li>
            <li class="lead li_28_37">Computação na educação profissional</li>
            <li class="lead li_28_37">Educação corporativa em computação</li>
            <li class="lead li_28_37">Ensino e/ou aprendizagem online de computação</li>
            <li class="lead li_28_37">Educação em computação em espaços não-formais</li>
            <li class="lead li_28_37">Educação continuada em computação</li>
            <li class="lead li_28_37">Educação de jovens e adultos em computação</li>
            <li class="lead li_38_46">Pensamento computacional</li>
            <li class="lead li_38_46">Avaliação de pensamento computacional</li>
            <li class="lead li_38_46">Programação introdutória na educação superior</li>
            <li class="lead li_38_46">Programação avançada na educação superior</li>
            <li class="lead li_38_46">Psicologia da programação</li>
            <li class="lead li_38_46">Feedback de tarefas de programação</li>
            <li class="lead li_38_46">Avaliação automatizada de tarefas de programação</li>
            <li class="lead li_38_46">Linguagens textuais para aprendizagem de programação</li>
            <li class="lead li_38_46">Linguagens de blocos para aprendizagem de programação</li>
            <li class="lead li_47_55">Recursos de apoio à educação em computação</li>
            <li class="lead li_47_55">Educação em computação aberta e livre (e.g., REA, MOOC)</li>
            <li class="lead li_47_55">Materiais didáticos de computação</li>
            <li class="lead li_47_55">Computação desplugada</li>
            <li class="lead li_47_55">Robótica na educação em computação</li>
            <li class="lead li_47_55">Hardware na educação em computação</li>
            <li class="lead li_47_55">Educação em computação através do uso de imagens, áudio e vídeo</li>
            <li class="lead li_47_55">Realidade virtual e aumentada na educação em computação</li>
            <li class="lead li_47_55">Redes e mídias sociais em educação em computação</li>
            <li class="lead li_56_58">Mineração de dados educacionais em computação</li>
            <li class="lead li_56_58">Analíticas de aprendizagem (learning analytics) em computação</li>
            <li class="lead li_56_58">Estudos secundários: revisões sistemáticas e mapeamentos sistemáticos</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
