  {{> headerInterno}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Chamada de Trabalhos</h2>
          <br>
          <h3>Artigos Completos</h3>        
          <p class="lead" style="text-align: justify; font-size: 14pt">Artigos completos podem ser escritos em Português ou Inglês e devem seguir o <a href="https://www.acm.org/publications/proceedings-template" target="_blank">formato da ACM SIGCSE</a> (ou diretamente aqui: <a href="https://www.acm.org/binaries/content/assets/publications/word_style/interim-template-style/interim-layout.docx" target="_blank">Word</a>, <a href="https://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acmart-master.zip" target="_blank">Latex</a>, <a href="https://www.overleaf.com/gallery/tagged/acm-official#.WOuOk2e1taQ" target="_blank">Overleaf</a>), em coluna dupla, contendo o mínimo de 6 (seis) e o máximo de 10 (dez) páginas, com a possibilidade de uma página adicional apenas de referências. Artigos aceitos serão publicados no Portal de Publicações e Conteúdos Digitais da SBC – <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>. Na submissão, os artigos devem ser anonimizados para garantir as avaliações duplo-cegas (<i>double blind reviews</i>). Todos os artigos devem ser submetidos na plataforma <a href="https://jems.sbc.org.br/jems2/index.php?r=conference/main&c=3690" target="_blank">JEMS</a> da SBC.</p>

          <p class="lead" style="text-align: justify; font-size: 14pt">Os artigos devem ser encaminhados a uma das seguintes trilhas.</p>       
          <br>

          <h4>
            Trilha 1: Artigos de Pesquisa e Ensaios
          </h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Roberto Bittencourt (UEFS) | Rodrigo Duran (IFMS) <br>
              <strong>Contato:</strong> roberto@uefs.br | rodrigo.duran@ifms.edu.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>
              Artigos de pesquisa</strong> devem seguir padrões científicos rigorosos, descrevendo questões, fundamentos, métodos, resultados, discussões e limitações da pesquisa. Concentram-se em tópicos relevantes e de interesse atual para a educação em computação. Metodologias de pesquisa de todos os tipos são bem-vindas, incluindo métodos empíricos (qualitativos, quantitativos ou mistos), analíticos, críticos, ciência de design e outros.
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">
              <strong>Ensaios</strong> devem apresentar argumentação de natureza crítico-reflexiva, bem fundamentada, buscando originalidade e profundidade no enfoque, sem, contudo, explorar o tema de forma exaustiva. Têm o propósito de expor ideias e pontos de vista dos autores sobre determinado tema; revisar e analisar assuntos e interpretações; e debater ideias e opiniões, através de pesquisa bibliográfica e/ou evidências empíricas.
            </li>
          </ul>
          <br>

          <h4>Trilha 2: Relatos de Experiência</h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Eleandro Maschio (UTFPR) | André Raabe (Univali) <br>
              <strong>Contato:</strong> eleandrom@utfpr.edu.br | raabe@univali.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos de relato de experiência</strong> devem descrever cuidadosamente uma intervenção de educação em computação e seu contexto. Devem trazer detalhes suficientes que permitam a adoção por terceiros, além de oferecer uma reflexão aprofundada sobre o que funcionou (ou não) e por quê. </li>
          </ul>

          <br>

          <h4>Trilha 3: Currículos e Práticas Pedagógicas</h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Leandro Galvão (UFAM) | Adão Cambraia (IFFAR)
 <br>
              <strong>Contato:</strong> galvao@icomp.ufam.edu.br | adao.cambraia@iffarroupilha.edu.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos sobre currículos e práticas pedagógicas</strong> devem discutir currículos, cursos ou programas novos ou revisados na área de computação, mas também podem incluir artigos de posicionamento (position papers). Devem descrever o contexto que motivou a iniciativa, seus fundamentos pedagógicos, o que foi necessário para implementá-la, seu potencial impacto e as recomendações para adoção por outros educadores. Artigos de posicionamento devem gerar uma discussão acadêmica proveitosa por meio de uma opinião defensável sobre um currículo, curso ou programa proposto na área de computação, substanciado por evidências.</li>
          </ul>

          <br>
          
          <h4 >Trilha 4: Recursos e Ambientes Educacionais</h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Taciana Pontual (UFRPE) | Ellen Francine (USP)

 <br>
              <strong>Contato:</strong> taciana.pontual@ufrpe.br | francine@icmc.usp.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos sobre recursos didáticos</strong> devem apresentar recursos didáticos específicos para a educação em computação em um ou mais níveis da educação formal ou não-formal. Devem descrever: a motivação para a criação do recurso didático; a organização do material (e.g., objetivos, conteúdo, dentre outros elementos); comparação com recursos similares; os fundamentos teóricos e/ou pedagógicos que embasam sua concepção; a dinâmica de uso do recurso, de preferência associada a um cenário real onde ele foi ou será testado, além de detalhes suficientes que orientem seu uso por educadores; e uma reflexão teórico-crítica sobre o seu potencial ou real impacto. Recursos didáticos típicos incluem (mas não estão limitados a) livros e textos didáticos, vídeos, animações e jogos educacionais.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos sobre ambientes e plataformas</strong> devem apresentar ambientes e plataformas inovadoras de software e/ou hardware para apoiar o ensino ou a aprendizagem de computação. Devem descrever a motivação para a criação do ambiente / plataforma; comparação com ambientes / plataformas similares; fundamentos teóricos e/ou pedagógicos que embasam sua concepção; principais funcionalidades e potenciais usuários; exemplo de uso, possivelmente com uma prova de conceito e telas que ilustram a interface (quando aplicável); arquitetura do ambiente / plataforma com enfoque em seus principais componentes e nas interfaces entre eles; breve comparação com outras plataformas relacionadas existentes; e o tipo de licença.</li>
          </ul style="text-align: justify; font-size: 14pt">
          
          <br>
          
          <h3>
            Laboratório de Ideias
          </h3>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Esdras Bispo Jr. (UFJ) <br>
              <strong>Contato:</strong> bispojr@ufg.br
          </div>

          <p class="lead" style="text-align: justify;">
            O 
            <strong>Laboratório de Ideias</strong> é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores ou receber feedback qualificado para aquela ideia. 
          </p>

          <p class="lead" style="text-align: justify;">As propostas para o Laboratório de Ideias devem ser limitadas a um resumo simples de uma página em coluna dupla no <a href="https://www.acm.org/publications/proceedings-template" target="_blank">formato da ACM SIGCSE</a> (ou diretamente aqui: <a href="https://www.acm.org/binaries/content/assets/publications/word_style/interim-template-style/interim-layout.docx" target="_blank">Word</a>, <a href="https://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acmart-master.zip" target="_blank">Latex</a>, <a href="https://www.overleaf.com/gallery/tagged/acm-official#.WOuOk2e1taQ" target="_blank">Overleaf</a>). No resumo simples, deve ser inserido adicionalmente o link do vídeo de apresentação da proposta de até cinco minutos de duração. É de responsabilidade dos autores que o vídeo esteja disponível em alguma plataforma na internet (e.g., YouTube) e que link esteja liberado para acesso.</p>

          <p class="lead" style="text-align: justify;">Para o resumo simples, os autores devem submeter o arquivo em formato PDF. Os resumos devem ser submetidos na plataforma <a href="https://jems.sbc.org.br/jems2/index.php?r=conference/main&c=3690" target="_blank">JEMS</a> da SBC. Tanto o resumo quanto o vídeo serão avaliados por pelo menos dois revisores. Se a proposta for aceita, (i) o vídeo será apresentado, em paralelo ao evento, nas redes sociais do GIEC (Facebook, YouTube, e Instagram); (ii) ao menos um dos autores da proposta aprovada deverá participar em uma das videoconferências abertas realizadas durante o evento com o propósito de debater as propostas do Laboratório de Ideias apresentadas nas redes sociais; e (iii) o resumo da proposta aprovada será publicado nos anais do evento no Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL).</p>
          <p class="lead" style="text-align: justify;">Havendo alguma questão ou dúvida, favor entrar em contato com os coordenadores do Laboratório de Ideias.</p>
          
        </div>
      </div>
    </div>
  </section>