  {{> headerInterno}}

  <section id="inscricoes" style="background-color:rgb(221, 232, 243);" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Workshop de Licenciatura em Computação (WLIC)</h2>
          <br><br>
          <h4>Em breve...</h4>          
          <img src="/img/tempo2.png" style="height: 80px; width: 80px" />
          </div>
      </div>
    </div>
  </section>