<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação Geral do Comitê de Programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Filiação</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Aleteia de Araujo</td>
                <td data-label="Filiação">UnB</td>
              </tr>
              <tr>
                <td data-label="Nome">Rozelma Soares de França</td>
                <td data-label="Filiação">UFRPE</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Membros do Comitê de Programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Filiação</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr><td data-label="Nome">Aleteia de Araujo</td><td data-label="Filiação">UnB</td></tr>
              <tr><td data-label="Nome">Alex de Souza Vieira</td><td data-label="Filiação">UNIFESSPA</td></tr>
              <tr><td data-label="Nome">Amaury Antonio de Castro Junior</td><td data-label="Filiação">UFMS</td></tr>
              <tr><td data-label="Nome">Ana Carolina Gondim Inocêncio</td><td data-label="Filiação">UFJ</td></tr>
              <tr><td data-label="Nome">Ana Paula Boaventura</td><td data-label="Filiação">UFJ</td></tr>
              <tr><td data-label="Nome">Anna Beatriz Marques</td><td data-label="Filiação">UFC</td></tr>
              <tr><td data-label="Nome">Barbara Quintela</td><td data-label="Filiação">UFJF</td></tr>
              <tr><td data-label="Nome">Carla Amor Divino Moreira Delgado</td><td data-label="Filiação">UFRJ</td></tr>
              <tr><td data-label="Nome">Carla Maria Chagas e Cavalcante Koike</td><td data-label="Filiação">UnB</td></tr>
              <tr><td data-label="Nome">Cleon Xavier</td><td data-label="Filiação">IF Goiano</td></tr>
              <tr><td data-label="Nome">Danilo Monteiro Ribeiro</td><td data-label="Filiação">CESAR School</td></tr>
              <tr><td data-label="Nome">Diego Berti Bagestan</td><td data-label="Filiação">Univates</td></tr>
              <tr><td data-label="Nome">Diego N. Brandão</td><td data-label="Filiação">Cefet/RJ</td></tr>
              <tr><td data-label="Nome">Dionisio Leite</td><td data-label="Filiação">UFMS</td></tr>
              <tr><td data-label="Nome">Eline Alves Santos</td><td data-label="Filiação">IFS</td></tr>
              <tr><td data-label="Nome">Elton Alves</td><td data-label="Filiação">UNIFESSPA</td></tr>
              <tr><td data-label="Nome">Fabíola Guerra Nakamura</td><td data-label="Filiação">UFAM</td></tr>
              <tr><td data-label="Nome">Gilson Pereira dos Santos Júnior</td><td data-label="Filiação">IFS</td></tr>
              <tr><td data-label="Nome">Graziela Araújo</td><td data-label="Filiação">UFMS</td></tr>
              <tr><td data-label="Nome">Jeane Melo</td><td data-label="Filiação">UFRPE</td></tr>
              <tr><td data-label="Nome">José Aprígio Carneiro Neto</td><td data-label="Filiação">IFS</td></tr>
              <tr><td data-label="Nome">JOSE CARLOS SILVA</td><td data-label="Filiação">UNIFESSPA</td></tr>
              <tr><td data-label="Nome">Juliana Regueira Basto Diniz</td><td data-label="Filiação">UFRPE</td></tr>
              <tr><td data-label="Nome">Léia Sousa de Sousa</td><td data-label="Filiação">UnB</td></tr>
              <tr><td data-label="Nome">Leila Ribeiro</td><td data-label="Filiação">UFRGS</td></tr>
              <tr><td data-label="Nome">Leizer Fernandes Moraes</td><td data-label="Filiação">IFG</td></tr>
              <tr><td data-label="Nome">Lina Garcés</td><td data-label="Filiação">USP</td></tr>
              <tr><td data-label="Nome">Luciana Bolan Frigo</td><td data-label="Filiação">UFSC</td></tr>
              <tr><td data-label="Nome">Luciana Cardoso de Castro Salgado</td><td data-label="Filiação">UFF</td></tr>
              <tr><td data-label="Nome">Maria Claudete Schorr</td><td data-label="Filiação">Univates</td></tr>
              <tr><td data-label="Nome">Maria Clicia Stelling de Castro</td><td data-label="Filiação">UERJ</td></tr>
              <tr><td data-label="Nome">Maria Emilia Machado Telles Walter</td><td data-label="Filiação">UnB</td></tr>
              <tr><td data-label="Nome">Nahri Balesdent Moreano</td><td data-label="Filiação">UFMS</td></tr>
              <tr><td data-label="Nome">Ramayane Bonacin Braga</td><td data-label="Filiação">IF Goiano - Câmpus Ceres</td></tr>
              <tr><td data-label="Nome">Renato Ribas</td><td data-label="Filiação">UFRGS</td></tr>
              <tr><td data-label="Nome">Rodrigo Lins Rodrigues</td><td data-label="Filiação">UFRPE</td></tr>
              <tr><td data-label="Nome">Rozelma Soares de França</td><td data-label="Filiação">UFRPE</td></tr>
              <tr><td data-label="Nome">Simone André da Costa Cavalheiro</td><td data-label="Filiação">UFPel</td></tr>
              <tr><td data-label="Nome">Uianes Luiz Rockenbach Biondo</td><td data-label="Filiação">SME Santo Augusto</td></tr>
              <tr><td data-label="Nome">Valéria Quadros dos Reis</td><td data-label="Filiação">UFMS</td></tr>
              <tr><td data-label="Nome">Vitor Souza Castro</td><td data-label="Filiação">UNIFESSPA</td></tr>
              <tr><td data-label="Nome">Zenaide Carvalho Silva</td><td data-label="Filiação">UNIFESSPA</td></tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Revisores convidados</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Filiação</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr><td data-label="Nome">Antonio Oliveira</td><td data-label="Filiação">CESAR School</td></tr>
              <tr><td data-label="Nome">Antonio Rege Lopes dos Santos</td><td data-label="Filiação">Ifac</td></tr>
              <tr><td data-label="Nome">Brena Ribeiro</td><td data-label="Filiação">USP</td></tr>
              <tr><td data-label="Nome">Fernando Cesar Balbino</td><td data-label="Filiação">IFMS</td></tr>
              <tr><td data-label="Nome">Lara Lima</td><td data-label="Filiação">USP</td></tr>
              <tr><td data-label="Nome">Lidiane Cristine de Souza Gomes</td><td data-label="Filiação">CESAR School</td></tr>
              <tr><td data-label="Nome">Mariana Arfux</td><td data-label="Filiação">USP</td></tr>
              <tr><td data-label="Nome">Rodrigo Siqueira</td><td data-label="Filiação">CESAR School</td></tr>
              <tr><td data-label="Nome">Tainá Souza</td><td data-label="Filiação">UFF</td></tr>
              <tr><td data-label="Nome">Talita de Paula Cypriano Souza</td><td data-label="Filiação">IFSP</td></tr>
              <tr><td data-label="Nome">Victor Anthony Alves</td><td data-label="Filiação">USP</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
