<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação do polo sede (Juiz de Fora - MG)</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Edmar Welington Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Jerez Chaves</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação dos polos regionais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amaury Antonio De Castro Junior</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Lais Do Nascimento Salvador</td>
                <td data-label="Instituição">UFBA</td>
              </tr>
              <tr>
                <td data-label="Nome">João Da Mata Libório Filho</td>
                <td data-label="Instituição">UEA</td>
              </tr>
              <tr>
                <td data-label="Nome">Thiago Adriano Coleti</td>
                <td data-label="Instituição">UENP</td>
              </tr>
            </tbody>
          </table>

          <!-- <table class="table table-striped">
            <h2>Editoração e publicação dos anais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Ivanilse Calderon</td>
                <td data-label="Instituição">IFRO</td>
                <td data-label="E-mail">ivanilse.calderon@ifro.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Renato de Souza Garcia</td>
                <td data-label="Instituição">IFMS</td>
                <td data-label="E-mail">renato.garcia@ifms.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Ricardo Ferreira Vilela</td>
                <td data-label="Instituição">UFCA</td>
                <td data-label="E-mail">ricardovilela91@gmail.com</td>
              </tr>
              <tr>
                <td data-label="Nome">Williamson Silva</td>
                <td data-label="Instituição">UNIPAMPA</td>
                <td data-label="E-mail">williamsonsilva@unipampa.edu.br</td>
              </tr>
            </tbody>
          </table> -->

          <table class="table table-striped">
            <h2>Financeiro</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
            </tbody>
          </table>

          <!-- <table class="table table-striped">
            <h2>Inscrições e certificados</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Cleon Xavier Pereira Júnior</td>
                <td data-label="Instituição">IF-Goiano</td>
                <td data-label="E-mail">cleon.junior@ifgoiano.edu.br</td>
              </tr>
              <tr>
                <td>Esdras Bispo Jr.</td>
                <td>UFJ</td>
                <td>bispojr@ufj.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
                <td data-label="E-mail">pedrohenriquevalle@usp.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Yorah Bosse</td>
                <td data-label="Instituição">University at Buffalo</td>
                <td data-label="E-mail">yorah.bosse@gmail.com</td>
              </tr>
            </tbody>
          </table> -->

          <table class="table table-striped">
            <h2>Publicidade e mídias sociais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Luiza Mello</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Luiza Miscoli</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Edmar Welington Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Felipe Vasconcellos Strehle</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Isabela Freesz Vellasco</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">João Ricardo Bernardo</td>
                <td data-label="Instituição">UFAM</td>
              </tr>
              <tr>
                <td data-label="Nome">Julia Borges Beccari</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Website</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Caio Nascimento Reis da Silva</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Estêvão Barbosa Fiorilo Rocha</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Helena Lannes</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Leandro Carlos de Melo Filho</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Leonardo Prata</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Jerez Chaves</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Miguel Dias de Abreu</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Thiago José Lopes</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Equipe organizadora</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Adriene Chaves dos Santos</td>
                <td data-label="Instituição">UEA</td>
              </tr>
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Alexya Vitoria de Jesus Silva</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Clara Laredo Miranda</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Luiza Almeida Míscoli</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Caio Nascimento Reis da Silva</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Cauã Moreno Lopes Castro</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Carlos Alexandre de Almeida Pires </td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Celso Gabriel Dutra Almeida Malosto</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Claudiomiro da Conceição Ribeiro</td>
                <td data-label="Instituição">UFBA</td>
              </tr>
              <tr>
                <td data-label="Nome">Edmar Welington Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Estêvão Barbosa Fiorilo da Rocha</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Felipe Vasconcellos Strehle</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Fernanda dos Santos Coutinho </td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Frederico Dôndici Gama Vieira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Gabriel Ferreira dos Santos</td>
                <td data-label="Instituição">UFBA</td>
              </tr>
              <!-- <tr>
                <td data-label="Nome">Genarde Macedo Trindade</td>
                <td data-label="Instituição">UEA</td>
              </tr> -->
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jenniffer Oliveira Checchia</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">João Ricardo Serique Bernardo</td>
                <td data-label="Instituição">UFAM</td>
              </tr>
              <tr>
                <td data-label="Nome">Joel Henrique Nunes de Oliveira Silva</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jorge Mikael Coutinho Alves</td>
                <td data-label="Instituição">UEA</td>
              </tr>
              <tr>
                <td data-label="Nome">Julia Borges Beccari</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Leandro Carlos de Melo Filho</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Jerez Chaves</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Marcelo Caniato Renhe</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Maria Clara Ribeiro de Menezes</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Miguel Dias de Abreu</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Nina Aguiar Ferreira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle </td>
                <td data-label="Instituição">USP</td>
              </tr>
              <tr>
                <td data-label="Nome">Rômulo Chrispim de Mello</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Samuel Nascimento Barbosa</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Williamson Alison Freitas Silva</td>
                <td data-label="Instituição">UNIPAMPA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
