<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação Geral do Comitê de Programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Aleteia Araujo (UnB)</td>
                <td data-label="E-mail">aleteia@unb.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Rozelma França (UFRPE)</td>
                <td data-label="E-mail">rozelma.franca@ufrpe.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação Geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amaury Antônio de Castro Junior (UFMS)</td>
                <td data-label="E-mail">amaury.junior@ufms.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Centro-Oeste (SEDE)</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Anderson Corrêa (UFMS)</td>
                <td data-label="E-mail">anderson.lima@ufms.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Nordeste</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Rodrigo Nonamor Pereira Mariano de Souza (UFRPE)</td>
                <td data-label="E-mail">rodrigo.npmsouza@ufrpe.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Norte</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">José Carlos da Silva (UNIFESSPA)</td>
                <td data-label="E-mail">jose-carlos.silva@unifesspa.edu.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Sudeste</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Lina Maria Garces Rodriguez (USP)</td>
                <td data-label="E-mail">linagarces@usp.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Sul</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Renato Perez Ribas (UFRGS)</td>
                <td data-label="E-mail">renato.ribas@ufrgs.br</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
