<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral do comitê de programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Aleteia de Araujo</td>
                <td data-label="Instituição">UNIVERSIDADE DE BRASÍLIA</td>
              </tr>
              <tr>
                <td data-label="Nome">Rozelma Soares de França</td>
                <td data-label="Instituição">UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Membros do Comitê de Programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr><td data-label="Nome">Aleteia de Araujo</td><td data-label="Instituição">UNIVERSIDADE DE BRASÍLIA</td></tr>
              <tr><td data-label="Nome">Alex de Souza Vieira</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARÁ</td></tr>
              <tr><td data-label="Nome">Amaury Antonio de Castro Junior</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL</td></tr>
              <tr><td data-label="Nome">Ana Carolina Gondim Inocêncio</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DE JATAÍ</td></tr>
              <tr><td data-label="Nome">Ana Paula Boaventura</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DE JATAÍ</td></tr>
              <tr><td data-label="Nome">Anna Beatriz Marques</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO CEARÁ</td></tr>
              <tr><td data-label="Nome">Barbara Quintela</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DE JUIZ DE FORA</td></tr>
              <tr><td data-label="Nome">Carla Amor Divino Moreira Delgado</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO RIO DE JANEIRO</td></tr>
              <tr><td data-label="Nome">Carla Maria Chagas e Cavalcante Koike</td><td data-label="Instituição">UNIVERSIDADE DE BRASÍLIA</td></tr>
              <tr><td data-label="Nome">Cleon Xavier</td><td data-label="Instituição">INSTITUTO FEDERAL GOIANO</td></tr>
              <tr><td data-label="Nome">Danilo Monteiro Ribeiro</td><td data-label="Instituição">CESAR SCHOOL</td></tr>
              <tr><td data-label="Nome">Diego Berti Bagestan</td><td data-label="Instituição">UNIVERSIDADE DO VALE DO TAQUARI</td></tr>
              <tr><td data-label="Nome">Diego N. Brandão</td><td data-label="Instituição">CENTRO FEDERAL DE EDUCAÇÃO TECNOLÓGICA CELSO SUCKOW DA FONSECA</td></tr>
              <tr><td data-label="Nome">Dionisio Leite</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL</td></tr>
              <tr><td data-label="Nome">Eline Alves Santos</td><td data-label="Instituição">INSTITUTO FEDERAL DE SERGIPE</td></tr>
              <tr><td data-label="Nome">Elton Alves</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARÁ</td></tr>
              <tr><td data-label="Nome">Fabíola Guerra Nakamura</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO AMAZONAS</td></tr>
              <tr><td data-label="Nome">Gilson Pereira dos Santos Júnior</td><td data-label="Instituição">INSTITUTO FEDERAL DE SERGIPE</td></tr>
              <tr><td data-label="Nome">Graziela Araújo</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL</td></tr>
              <tr><td data-label="Nome">Jeane Melo</td><td data-label="Instituição">UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO</td></tr>
              <tr><td data-label="Nome">José Aprígio Carneiro Neto</td><td data-label="Instituição">INSTITUTO FEDERAL DE SERGIPE</td></tr>
              <tr><td data-label="Nome">JOSE CARLOS SILVA</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARÁ</td></tr>
              <tr><td data-label="Nome">Juliana Regueira Basto Diniz</td><td data-label="Instituição">UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO</td></tr>
              <tr><td data-label="Nome">Léia Sousa de Sousa</td><td data-label="Instituição">UNIVERSIDADE DE BRASÍLIA</td></tr>
              <tr><td data-label="Nome">Leila Ribeiro</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL</td></tr>
              <tr><td data-label="Nome">Leizer Fernandes Moraes</td><td data-label="Instituição">INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA DE GOIÁS</td></tr>
              <tr><td data-label="Nome">Lina Garcés</td><td data-label="Instituição">UNIVERSIDADE DE SÃO PAULO</td></tr>
              <tr><td data-label="Nome">Luciana Bolan Frigo</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DE SANTA CATARINA</td></tr>
              <tr><td data-label="Nome">Luciana Cardoso de Castro Salgado</td><td data-label="Instituição">UNIVERSIDADE FEDERAL FLUMINENSE</td></tr>
              <tr><td data-label="Nome">Maria Claudete Schorr</td><td data-label="Instituição">CENTRO UNIVERSITÁRIO UNIVATES</td></tr>
              <tr><td data-label="Nome">Maria Clicia Stelling de Castro</td><td data-label="Instituição">UNIVERSIDADE DO ESTADO DO RIO DE JANEIRO</td></tr>
              <tr><td data-label="Nome">Maria Emilia Machado Telles Walter</td><td data-label="Instituição">UNIVERSIDADE DE BRASÍLIA</td></tr>
              <tr><td data-label="Nome">Nahri Balesdent Moreano</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL</td></tr>
              <tr><td data-label="Nome">Ramayane Bonacin Braga</td><td data-label="Instituição">IF GOIANO CÂMPUS CERES</td></tr>
              <tr><td data-label="Nome">Renato Ribas</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO RIO GRANDE DO SUL</td></tr>
              <tr><td data-label="Nome">Rodrigo Lins Rodrigues</td><td data-label="Instituição">UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO</td></tr>
              <tr><td data-label="Nome">Rozelma Soares de França</td><td data-label="Instituição">UNIVERSIDADE FEDERAL RURAL DE PERNAMBUCO</td></tr>
              <tr><td data-label="Nome">Simone André da Costa Cavalheiro</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DE PELOTAS</td></tr>
              <tr><td data-label="Nome">Uianes Luiz Rockenbach Biondo</td><td data-label="Instituição">SECRETARIA MUNICIPAL DE EDUCAÇÃO DE SANTO AUGUSTO</td></tr>
              <tr><td data-label="Nome">Valéria Quadros dos Reis</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO MATO GROSSO DO SUL</td></tr>
              <tr><td data-label="Nome">Vitor Souza Castro</td><td data-label="Instituição">UNIVERSIDADE FEDERAL SUL E SUDESTE DO PARÁ</td></tr>
              <tr><td data-label="Nome">Zenaide Carvalho Silva</td><td data-label="Instituição">UNIVERSIDADE FEDERAL DO SUL E SUDESTE DO PARÁ</td></tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
