<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Links importantes</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Descrição</td>
                <td class="col-inst">Link</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Descrição">Programação EduComp &amp; SBC-EB</td>
                <td data-label="Link"><a href="https://docs.google.com/spreadsheets/d/1bgA8SShnLD9IyiLbXXbwQhMBDt9X5aXk/edit?gid=1104525066#gid=1104525066" target="_blank" rel="noopener noreferrer">Abrir planilha</a></td>
              </tr>
              <tr>
                <td data-label="Descrição">Fotos e minibio dos convidados SEDE</td>
                <td data-label="Link"><a href="https://docs.google.com/document/d/15JBlkByUW8xKB5PA2PRpx_J-A9dqW3hEZJveWmeChT8/edit?tab=t.0" target="_blank" rel="noopener noreferrer">Abrir documento</a></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação geral do comitê de programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Aleteia Araujo</td>
                <td data-label="Instituição">UnB</td>
                <td data-label="E-mail">aleteia@unb.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Rozelma França</td>
                <td data-label="Instituição">UFRPE</td>
                <td data-label="E-mail">rozelma.franca@ufrpe.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amaury Antônio de Castro Junior</td>
                <td data-label="Instituição">UFMS</td>
                <td data-label="E-mail">amaury.junior@ufms.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenações dos Polos Regionais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Centro-Oeste (Sede): Anderson Corrêa</td>
                <td data-label="Instituição">UFMS</td>
                <td data-label="E-mail">anderson.lima@ufms.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Nordeste: Rodrigo Nonamor Pereira Mariano de Souza</td>
                <td data-label="Instituição">UFRPE</td>
                <td data-label="E-mail">rodrigo.npmsouza@ufrpe.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Norte: José Carlos da Silva</td>
                <td data-label="Instituição">UNIFESSPA</td>
                <td data-label="E-mail">jose-carlos.silva@unifesspa.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Sudeste: Lina Maria Garces Rodriguez</td>
                <td data-label="Instituição">USP</td>
                <td data-label="E-mail">linagarces@usp.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Sul: Renato Perez Ribas</td>
                <td data-label="Instituição">UFRGS</td>
                <td data-label="E-mail">renato.ribas@ufrgs.br</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
