<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Graziela Guarda</td>
                <td data-label="Instituição">UFF</td>
              </tr>
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Comitê gestor</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amaury Antonio de Castro Junior</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Diego Berti Bagestan</td>
                <td data-label="Instituição">SMEd Teutônia/RS</td>
              </tr>
              <tr>
                <td data-label="Nome">Gustavo de Oliveira Andrade</td>
                <td data-label="Instituição">IFRJ</td>
              </tr>
              <tr>
                <td data-label="Nome">Marcela Savia Picanco Pessoa</td>
                <td data-label="Instituição">UEA</td>
              </tr>
              <tr>
                <td data-label="Nome">Rodrigo Duran</td>
                <td data-label="Instituição">IFB</td>
              </tr>
              <tr>
                <td data-label="Nome">Sheila Reinehr</td>
                <td data-label="Instituição">PUC-PR</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
