<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <!--<td class="col-mail">E-mail</td> -->
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
                <!--<td data-label="E-mail">alessandreia.oliveira@ufjf.br</td> -->
              </tr>
              <tr>
                <td data-label="Nome">Graziela Guarda</td>
                <td data-label="Instituição">UFF</td>
                <!--<td data-label="E-mail">grazielaguarda@id.uff.br</td> -->
              </tr>
              <tr>
                <td data-label="Nome">Leandro Galvão</td>
                <td data-label="Instituição">UFAM</td>
                <!--<td data-label="E-mail">galvao@icomp.ufam.edu.br</td> -->
              </tr>
              <tr>
                <td data-label="Nome">Leila Ribeiro</td>
                <td data-label="Instituição">UFRGS</td>
                <!--<td data-label="E-mail">leila@inf.ufrgs.br</td>-->
              </tr>
              <tr>
                <td data-label="Nome">Marco Aurélio Graciotto Silva</td>
                <td data-label="Instituição">UTFPR</td>
                <!--<td data-label="E-mail">magsilva@utfpr.edu.br</td>-->
              </tr>
              <tr>
                <td data-label="Nome">Nathalia Cruz Alves</td>
                <td data-label="Instituição">UFSC</td>
                <!--<td data-label="E-mail">nathalia.alves@posgrad.ufsc.br</td>-->
              </tr>
              <tr>
                <td data-label="Nome">Rodrigo Duran</td>
                <td data-label="Instituição">IFB</td>
                <!--<td data-label="E-mail">rodrigo.duran@ifms.edu.br</td>-->
              </tr>
              <tr>
                <td data-label="Nome">Silvia Amélia Bim</td>
                <td data-label="Instituição">UTFPR</td>
                <!--<td data-label="E-mail">sabim@utfpr.edu.br</td>-->
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
