<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amaury Antônio de Castro Junior</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Anderson Corrêa de Lima</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Editoração e publicação dos anais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Said Sadique Aidi</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Valéria Quadros dos Reis</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Financeiro</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Luciano Gonda</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Said Sadique Aidi</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Inscrições e certificados</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Nahri Balesdent Moreano</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Said Sadique Aidi</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Valéria Quadros dos Reis</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Yorah Bosse</td>
                <td data-label="Instituição">University at Buffalo</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Publicidade e mídias sociais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Ana Karina Dourado Salina de Oliveira</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Website</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amanda Caroline de Gois Balcaçar</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Karina Dourado Salina de Oliveira</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Awdren de Lima Fontão</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Hudson Silva Borges</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Equipe organizadora</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Anderson Viçoso de Araújo</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Edson Norberto Cáceres</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Glauder Guimarães Ghinozzi</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Gonda</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Mariana Caravanti de Souza</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Said Sadique Aidi</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Valéria Quadros dos Reis</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
