<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral do comitê de programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Leandro Silva Galvão de Carvalho</td>
                <td data-label="Instituição">UFAM</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação geral das trilhas formativas</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Nathalia da Cruz Alves</td>
                <td data-label="Instituição">Georgetown University</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 1 - Artigos de pesquisa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Jean Carlo Rossa Hauck</td>
                <td data-label="Instituição">UFSC</td>
              </tr>
              <tr>
                <td data-label="Nome">Ricardo Edgard Caceffo</td>
                <td data-label="Instituição">Univesp</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 2 - Relatos de experiência</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Kiev Santos da Gama</td>
                <td data-label="Instituição">UFPE</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciana Foss</td>
                <td data-label="Instituição">UFPel</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 3 - Currículos</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Ana Paula Lüdtke Ferreira</td>
                <td data-label="Instituição">UNIPAMPA</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Liz Souto Oliveira</td>
                <td data-label="Instituição">UFPB</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 4 - Recursos e ambientes educacionais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Rafaela Vilela da Rocha</td>
                <td data-label="Instituição">UFABC</td>
              </tr>
              <tr>
                <td data-label="Nome">Eduardo Figueiredo</td>
                <td data-label="Instituição">UFMG</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 5 - Ensaios</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">João Henrique Berssanette</td>
                <td data-label="Instituição">IFPR</td>
              </tr>
              <tr>
                <td data-label="Nome">João Paulo Alres</td>
                <td data-label="Instituição">UTFPR</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Laboratório de ideias</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Esdras Bispo Jr.</td>
                <td data-label="Instituição">UFJ</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>WTD - Workshop de teses e dissertações</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Milene Selbach Silveira</td>
                <td data-label="Instituição">PUCRS</td>
              </tr>
              <tr>
                <td data-label="Nome">Taciana Pontual Falção</td>
                <td data-label="Instituição">UFRPE</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>CTD - Concurso de teses e dissertações</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Heitor Augustus Xavier Costa</td>
                <td data-label="Instituição">UFLA</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação de minicursos</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amaury Antonio de Castro Junior</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Anderson Correa de Lima</td>
                <td data-label="Instituição">UFMS</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação de mesas temáticas</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Ecivaldo de Souza Matos</td>
                <td data-label="Instituição">USP</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
