<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral do comitê de programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Leandro Silva Galvão de Carvalho</td>
                <td data-label="Instituição">UFAM</td>
              </tr>
              <tr>
                <td data-label="Nome">Ricardo Caceffo</td>
                <td data-label="Instituição">Univesp</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação geral das trilhas formativas</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Williamson Silva</td>
                <td data-label="Instituição">UFCA</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 1 - Artigos de pesquisa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Eryck Silva</td>
                <td data-label="Instituição">Unicamp</td>
              </tr>
              <tr>
                <td data-label="Nome">Yorah Bosse</td>
                <td data-label="Instituição">University of Buffalo</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 2 - Relatos de experiência</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Fernanda Pires</td>
                <td data-label="Instituição">UEA</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Ferreira</td>
                <td data-label="Instituição">UFRR</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 3 - Currículos</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Taciana Pontual</td>
                <td data-label="Instituição">UFRPE</td>
              </tr>
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 4 - Recursos e ambientes educacionais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Eduardo Figueiredo</td>
                <td data-label="Instituição">UFMG</td>
              </tr>
              <tr>
                <td data-label="Nome">Ronney Castro</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Trilha 5 - Ensaios</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">João Henrique Berssanette</td>
                <td data-label="Instituição">IFPR</td>
              </tr>
              <tr>
                <td data-label="Nome">João Paulo Alres</td>
                <td data-label="Instituição">UTFPR</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
