<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Graziela Guarda</td>
                <td data-label="Instituição">UFF</td>
              </tr>
              <tr>
                <td data-label="Nome">Leandro Silva Galvão de Carvalho</td>
                <td data-label="Instituição">UFAM</td>
              </tr>
              <tr>
                <td data-label="Nome">Marco Aurélio Graciotto Silva</td>
                <td data-label="Instituição">UTFPR</td>
              </tr>
              <tr>
                <td data-label="Nome">Ricardo Edgard Caceffo</td>
                <td data-label="Instituição">UNIVESP</td>
              </tr>
              <tr>
                <td data-label="Nome">Williamson Silva</td>
                <td data-label="Instituição">UFCA</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
