<div id="28-lab-ideias-v-vi" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Ensino de Computação (LI-V)"
          chair_sessao="Esdras L. Bispo Jr. (UFJ)" 
          chair_sessao2="Luma Seixas (UFBA)"
          
          artigo1_titulo="Repensando o ensino de computação"
          artigo1_autores="José Palazzo Moreira de Oliveira, Elaine Oliveira, Isabela Gasparini, Leandro Wives"
          
          artigo2_titulo="Boas Práticas em Ambientes de Ensino de Computação: uma Proposta de Oficina"
          artigo2_autores="Silvia Amelia Bim, Taciana Pontual Falcão"

          artigo3_titulo="Produção de Material Didático Adaptado a Alunos com Deficiência Visual para Curso de Computação"
          artigo3_autores="Wendell Bento Geraldes, Agenor Freitas Andrade, Ulisses Rodrigues Afonseca, Cicero Batista dos Santos Lima, Raquel Ribeiro Riclizek"

        }}

        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Ambientes e Recursos Educacionais (LI-VI)"
          chair_sessao="Sarita Mazzini Bruschi (USP)" 
          chair_sessao2="A definir"
          
          artigo1_titulo="Codecasts e Codelibras para o Ensino de Programação em Moocs"
          artigo1_autores="Márcia Oliveira"
          
          artigo2_titulo="Robótica educacional para formação técnica em agropecuária"
          artigo2_autores="Dalva Ferraz, Márcia Oliveira'"

          artigo3_titulo="Um Ambiente Gamificado para o Ensino de Teste de Mutação"
          artigo3_autores="Dario Darienço, Pedro Henrique Dias Valle"

        }}
        
    </div>
  </div>