<div id="28-lab-ideias-v-vi" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Em breve
        </span>
        
    </div>
  </div>