<div id="28-palestra-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">
            Crise de Interesse de Estudantes nos Cursos de Computação<br>
            <small class="text-muted">Possíveis Causas/Soluções e Alguns Desafios</small>
        </h1>

          {{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=j3JzMOj3b38"
          }}

          <div class="row">
            <div class="col-4">
              <img src="/img/simposio/2022/pessoas/pimentel.jpg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. Mariano Pimentel <br>
                <b>Universidade Federal do Estado do Rio de Janeiro (UNIRIO)</b>
              </span>
            </div>          
          </div>
        
        <p style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: -15em;">
          <b>Resumo:</b> Em breve.
 
        </p>
        
        <p style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: 1.5em;">
          <b>Bio:</b> Mariano Pimentel é doutor em Informática e está professor na UNIRIO onde atua nos cursos de Bacharelado em Sistemas de Informação e na Pós-Graduação em Informática. Já lecionou por 10 anos no curso de licenciatura em pedagogia a distância da UNIRIO/CEDERJ/UAB. É autor dos livros: Sistemas Colaborativos (Prêmio Jabuti, 2011), Do email ao Facebook (2014),  Informática na Educação/SBC (2021) e Metodologia de Informática na Educação/SBC (2021). Realiza pesquisas em: Sistemas de Informação, Sistemas Colaborativos, Informática na Educação, Cibercultura e Educação. 
 
        </p>

        <span style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: 1.5em; background-color: rgb(221, 216, 216)">
          Milene Selbach Silveira (PUCRS)<br>
          <b>Mediação</b>
        </span>

    </div>
  </div>