<div id="28-palestra-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">
            Crise de Interesse de Estudantes nos Cursos de Computação<br>
            <small class="text-muted">Possíveis Causas/Soluções e Alguns Desafios</small>
        </h1>

          {{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=j3JzMOj3b38"
          }}

          <div class="row">
            <div class="col-4">
              <img src="/img/simposio/2022/pessoas/pimentel.jpg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. Mariano Pimentel <br>
                <b>Universidade Federal do Estado do Rio de Janeiro (UNIRIO)</b>
              </span>
            </div>          
          </div>
        
        <p style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: -15em;">
          <b>Resumo:</b> A popularização dos computadores em rede está provocando uma revolução em todos os setores da sociedade e o sistema educacional tradicional, que já vinha sendo criticado desde o século passado, está sendo pressionado a mudar. Aulas expositivas com atividades repetitivas e descontextualizadas estão sendo substituídas por videoaulas e atividades corrigidas automaticamente, efetivando uma “arte de ensinar sem professores” que vem sendo praticada em muitos cursos a distância (mas que não se restringe a esses), um movimento denominado tecnicismo digital ou cibertecnicismo. De acordo com os dados do Censo da Educação Superior, no ano de 2020 matricularam-se mais estudantes em cursos a distância do que nos cursos presenciais, e a projeção dos dados aponta para uma inversão neste ano de 2022, quando teremos mais estudantes na modalidade a distância do que nos cursos presenciais -- o sistema educacional superior brasileiro se tornará majoritariamente a distância. Nessa modalidade, as/os professoras/es universitárias/os estão sendo substituídas/os por conteúdos online e testes automáticos em plataformas educacionais, com a atuação de tutoras/es sobrecarregadas/os que realizam a supervisão de centenas de estudantes. Seria esta a reconfiguração do ensino superior? Nós, professoras/es que ainda conseguimos espaço para atuar, precisamos estar alertas. Algumas/uns de nós acusamos as/os estudantes pela “falta de interesse” e “falta de dedicação” – não só nos cursos de Computação –; contudo, reconhecendo que é assimétrica a relação de poder-saber entre professor/a-aluno/a, devemos nos questionar o que nós, professoras/es, podemos fazer para valorizar a docência humana, como tornar as nossas aulas mais interessantes para as/os estudantes? Recuso-me a acreditar que uma solução para a “crise de interesse das/os estudantes” seja retirar o/a professor/a do sistema educacional. Precisamos é inventar e operacionalizar novas posturas e práticas pedagógicas, bem como repensar o currículo e suas organização disciplinar. Nesta palestra, compartilho algumas iniciativas/movimentos/experiências que venho realizando em um curso de Computação (Bacharelado de Sistemas de Informação) para tentar promover mais interesse das/os estudantes, entre elas destaco: autoria, ludicidade, projetos de aprendizagem, projeto integrador, currículo baseado em projetos, metodologia interativa, formação em humanidades (design/sociedade/cultura/ética) e investimentos na formação de professores. Precisamos mudar o sistema educacional, efetivar mudanças paradigmáticas didático-curriculares, ou então pereceremos.
        </p>
        
        <p style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: 1.5em;">
          <b>Bio:</b> Mariano Pimentel é doutor em Informática e está professor na UNIRIO onde atua nos cursos de Bacharelado em Sistemas de Informação e na Pós-Graduação em Informática. Já lecionou por 10 anos no curso de licenciatura em pedagogia a distância da UNIRIO/CEDERJ/UAB. É autor dos livros: Sistemas Colaborativos (Prêmio Jabuti, 2011), Do email ao Facebook (2014),  Informática na Educação/SBC (2021) e Metodologia de Informática na Educação/SBC (2021). Realiza pesquisas em: Sistemas de Informação, Sistemas Colaborativos, Informática na Educação, Cibercultura e Educação. 
 
        </p>

        <span style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: 1.5em; background-color: rgb(221, 216, 216)">
          Milene Selbach Silveira (PUCRS)<br>
          <b>Mediação</b>
        </span>

    </div>
  </div>