<div id="28-sessao-tecnica-xi-xii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Tópicos Avançados (ST-XI)"
          chair_sessao="Ana Paula Lüdtke Ferreira (UNIPAMPA)" 
          
          artigo1_titulo="Ferramenta interativa para o ensino de compiladores"
          artigo1_autores="Wilson Branco Neto, Wagner Graciano Junior, Iara Grossert, Alex Avila"
          artigo1_recurso_didatico=true
          
          artigo2_titulo="Weasels e a construção de conhecimento em Segurança Ofensiva"
          artigo2_autores="Daniel Dalalana Bertoglio, Henry Nunes, Pedro Filippi, Avelino Zorzo"
          artigo2_relato_experiencia=true

        }}
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Profissão e Learning Analytics (ST-XII)"
          chair_sessao="Pasqueline Dantas (UFPB)"  
          
          artigo1_titulo="Fui contratado para ensinar Computação!: Um olhar sobre a suposta neutralidade político-pedagógica do professor universitário de Computação no Brasil"
          artigo1_autores="Esdras Bispo Jr., Ana Beatriz Carvalho, Sérgio Paulino Abranches, Simone Santos"
          artigo1_ensaio=true
          
          artigo2_titulo="Fingerprints in a computer science course profile: Early results from the IFNMG Data Warehouse"
          artigo2_autores="Igor Alberte Eleutério, Marcos Bedo, Daniel de Oliveira, Luiz Olmes Carvalho, Lucio Fernandes Dutra Santos"
          artigo2_artigo_pesquisa=true
          
        }}

    </div>
  </div>