<div id="28-sessao-tecnica-ix-x" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Abordagens Pedagógicas II (ST-IX)"
          chair_sessao="Patricia Tedesco (UFPE)" 
          
          artigo1_titulo="Use of an Art and Culture Space, as an Interaction Metaphor, for the Study of UX Design"
          artigo1_autores="Elizabeth Furtado"
          artigo1_relato_experiencia=true
          
          artigo2_titulo="Os Pequenos Inventores: Um Recurso para o Ensino de Computação para Crianças"
          artigo2_autores="Aline de S. M. dos Santos, Wellington Pereira, Rozelma França"
          artigo2_recurso_didatico=true

        }}
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Artefatos de Ensino-Aprendizagem II (ST-X)"
          chair_sessao="Ayla Débora Dantas de Souza Rebouças (UFPB)"  
          
          artigo1_titulo="Compreendendo as três partes fundamentais dos algoritmos com o auxílio da Computação Desplugada: relato de experiência"
          artigo1_autores="Graziela Guarda, Sérgio Crespo C. S. Pinto, Sandro Rezende"
          artigo1_relato_experiencia=true
          
          artigo2_titulo="Linguagens visuais para o ensino de programação: uma revisão da literatura com foco em paradigmas de programação"
          artigo2_autores="Marina Silva, Ana Paula Ludtke Ferreira"
          artigo2_artigo_pesquisa=true
          
        }}

    </div>
  </div>