<div class="modal fade" id="lab-ideias-i" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Laboratório de Ideias I
          <small style="font-size: 0.7em;">| 18:30 - 19:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true



        titulo_sessao="Tecnologias para a educação em computação"
        chair_sessao="David Brito Ramos (Instituto Federal de Educação, Ciência e Tecnologia do Amazonas)"
        chair_sessao2="Marcos César da Rocha Seruffo (Universidade Federal do Pará)"

        artigo1_titulo="Acesso Compartilhado à Recursos Físicos com Google Colab"
        artigo1_autores="Carlos Sabino (Universidade Federal de Vicosa - Brazil), Ricardo Ferreira (Universidade Federal
        de Vicosa - Brazil), José Augusto Nacif (Universidade Federal de Viçosa - Brazil)"

        artigo2_titulo="Análise dos efeitos do idioma na geração automática de respostas por aplicações de LLM"
        artigo2_autores="Fernando Roberto Delbone (UTFPR - Brazil), Igor Wiese (Universidade Tecnologica Federal do
        Paraná - Brazil), Marco Aurélio Graciotto Silva (Universidade Tecnológica Federal do Paraná - Brazil)"



        }}



      </div>
    </div>
  </div>
</div>