<div class="modal fade" id="sessao-tecnica-i-ii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas I e II
          <small style="font-size: 0.7em;">|  16:30 - 17:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body p-4">

        {{>
        simposio/2024/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-I/1) Concepções e organizações curriculares no ensino superior em Computação"
        chair_sessao="Jean Rosa (ITI/LARSyS)"


        artigo1_titulo="Ensino e Aprendizagem de Programação na Educação 4.0: Um Mapeamento Sistemático da Literatura"
        artigo1_autores="Katyeudo Karlos de Sousa Oliveira (USP), Anderson Marcolino (UFPR), Taciana Pontual Falcão
        (UFRPE), Ellen Francine Barbosa (ICMC-USP)"
        artigo1_curriculo=true


        artigo2_titulo="Conteúdos de Engenharia de Software Verde em Cursos de Graduação em Engenharia de Software"
        artigo2_autores="Matheus Ataíde (PUC Minas), Gustavo Silva (PUC Minas), Cleiton Tavares (PUC Minas), Laerte
        Xavier (PUC Minas), Lucila Ishitani (PUC Minas)"
        artigo2_artigo_pesquisa=true


        artigo3_titulo="Um Farol para Criação e Avaliação de Cursos de Ciência de Dados: Os Referenciais Curriculares da
        SBC"
        artigo3_autores="Angelo Brayner (UFC), André Ponce de Leon F. de Carvalho (ICMC-USP), Duncan Ruiz (PUCRS),
        Eduardo
        Ogasawara (CEFET/RJ)"
        artigo3_curriculo=true


        }}

        {{>
        simposio/2024/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-II) Pensamento computacional"
        chair_sessao="Windson Viana (Universidade Federal do Ceará)"


        artigo1_titulo="Um Recurso Didático de Computação para Crianças Baseado no Estilo de Aprendizagem"
        artigo1_autores="Cláudia Ramos (UFRPE), Rozelma França (UFRPE)"
        artigo1_recurso_didatico=true

        artigo2_titulo="Evidências do Desenvolvimento das Habilidades do Pensamento Computacional em Alunos do Ensino
        Fundamental com Histórias em Quadrinhos"
        artigo2_autores="Márcio Canedo de Oliveira (UNIRIO), Maria Augusta Silveira Netto Nunes (UNIRIO)"
        artigo2_artigo_pesquisa=true

        artigo3_titulo="Uma Proposta de Instrumento Avaliativo para Identificar Habilidades do Pensamento Computacional
        por meio da Computação Física"
        artigo3_autores="Almir de Oliveira Costa Junior (UEA), José Anglada (IFAM)"
        artigo3_recurso_didatico=true

        }}

      </div>
    </div>
  </div>
</div>