  {{> simposio/2021/pt-BR/headerInterno}}

  <header class="bg-default text-dark" 
  style="background-color: #ffbc40"
  >
    <div class="container text-center" >
      <div class="row">
        <div class="col"></div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
          <img src="/img/simposio/2021/esquenta-logo.png" 
          style="width: 100%; margin-top: -8rem; 
          border-color: #f0692a; border-style: solid; border-width: 0.5rem;
          margin-bottom: -4rem" />
        </div>
        <div class="col"></div>
      </div>  
    </div>
  </header>
  
  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead" style="text-align: justify; font-size: 14pt; margin-top: -8rem;">
              O <b>Esquenta EduComp</b> é um evento de preparação para o Simpósio Brasileiro de Educação em Computação (EduComp). O Esquenta acontecerá em dois momentos: um no mês de fevereiro (27) e outro no mês de abril (06). Confira abaixo a programação do nosso primeiro momento no dia 27.
          </p>
          <p class="lead" style="text-align: justify; font-size: 14pt;">
              Se você deseja receber o certificado pela participação do evento, por favor preencha o <a href="https://forms.gle/cG2BdwDN3kkEgKas7" target="_blank">Formulário de Inscrição</a>. A transmissão do evento ocorrerá no <a href="https://www.youtube.com/GIECSBC" target="_blank">canal do Youtube do GIEC</a>. 
          </p>   
          <h2 >Programação</h2>
          <br>
            <ul class="lead" style="text-align: justify; font-size: 14pt;">
                <li>
                    <b>[14h00-14h10] Abertura</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            Prof. Esdras L. Bispo Jr. (UFJ) - Coordenação do Evento
                        </li>
                        <li>
                            Prof. Giovanni Petrucelli - Instituto de Ciências Exatas e Tecnológicas (ICET/UFJ)
                        </li>
                        <li>
                            Momento musical - Nyllo Alves
                        </li>
                    </ul>
                </li>
                <li>
                    <b>[14h10-14h50] Palestra</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>Mediadora: Profa. Mirella Moro (UFMG)</li>
                        <li>
                            <i>Encorajando meninas para as carreiras de computação</i><br>
                            - Prof. Luciana Frigo (UFSC)
                        </li>
                    </ul>
                </li>
                <li>
                    <b>[14h50-15h00] Break</b>
                </li>
                <li>
                    <b>[15h00-15h40] Sessão Técnica</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>Chair: Prof. Rodrigo Duran (IFMS)</li>
                        <li>
                            <i>Towards a Human-AI Hybrid System for Categorising Programming Problems</i><br>
                            - Filipe Pereira (UFRR)
                        </li>
                        <li>
                            <i>An Experimental Study in the Context of Programming Lessons</i><br>
                            - Wilk Oliveira (USP)
                        </li>
                    </ul>
                </li>
                <li>
                    <b>[15h40-15h50] Fechamento</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            - Profa. Itana Gimenes (UEM) - Sociedade Brasileira de Computação
                        </li>
                        <li>
                            - Prof. Roberto Bittencourt (UEFS) - Coordenação de Programa
                        </li>
                        <li>
                            Momento musical - Nyllo Alves
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>