  {{> simposio/2021/pt-BR/headerInterno}}

  <header class="bg-default text-dark" 
  style="background-color: #bbb8b2"
  >
    <div class="container text-center" >
      <div class="row">
        <div class="col"></div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">
          <img src="/img/esquenta-ii-logo.png" 
          style="width: 100%; margin-top: -8rem; 
          border-color: #f8550a; border-style: solid; border-width: 0.5rem;
          margin-bottom: -4rem" />
        </div>
        <div class="col"></div>
      </div>  
    </div>
  </header>
  
  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead" style="text-align: justify; font-size: 14pt; margin-top: -8rem;">
              O <b>Esquenta EduComp</b> é um evento de preparação para o Simpósio Brasileiro de Educação em Computação (EduComp). O Esquenta acontecerá em dois momentos: um no mês de fevereiro (27) e outro no mês de abril (06). Confira abaixo a programação do nosso segundo momento no dia 06 de abril.
          </p>
          <p class="lead" style="text-align: justify; font-size: 14pt;">
              Se você deseja receber o certificado pela participação do evento, por favor preencha o <a href="https://forms.gle/cG2BdwDN3kkEgKas7" target="_blank">Formulário de Inscrição</a>. A transmissão do evento ocorrerá no <a href="https://www.youtube.com/GIECSBC" target="_blank">canal do Youtube do GIEC</a> e no <a href="https://discord.gg/cZEWYZBp" target="_blank">servidor do Discord do evento</a>. 
          </p>   
          <h2 >Programação</h2>
          <br>
            <ul class="lead" style="text-align: justify; font-size: 14pt;">
                <li>
                    <b>[19h00-19h10] Abertura</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            Prof. Esdras L. Bispo Jr. (UFJ) - Coordenação do Evento
                        </li>
                        <li>
                            Profa. Joslaine Jeske - Bacharelado em Ciências da Computação (UFJ)
                        </li>
                        <li>
                            Profa. Taciana Falcão (UFRPE) - Comitê de Programa
                        </li>
                        <li>
                            Momento musical
                        </li>
                    </ul>
                </li>
                <li>
                    <b>[19h10-19h50] Painel</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>Mediador: Prof. Rodrigo Duran (IFMS)</li>
                        <li>
                            <i>Questões de Gênero</i><br>
                            - Profa. Sílvia ??? (???)
                            <i>Questões Étnicas</i><br>
                            - Prof. Ecivaldo Matos (UFBA)
                        </li>
                    </ul>
                </li>
                <li>
                    <b>[19h50-20h00] Break</b>
                </li>
                <li>
                    <b>[20h00-20h40] Laboratório de Ideias</b>
                    <table class="table table-striped">
                        <tr>
                            <td style="width: 50%;">
                                <b>Sessão 1</b>
                            </td>
                            <td>
                                <b>Sessão 2</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ul class="lead" style="font-size: 14pt;">
                                    <li>
                                        Coordenadores: <br>
                                        Profa. Taciana Falcão (UFRPE)<br>
                                        Prof. Roberto Bittencourt (UEFS)</li>
                                    <li>
                                        <i>Proposta 1</i><br>
                                        - ??? (???)
                                    </li>
                                    <li>
                                        <i>Proposta 2</i><br>
                                        - ??? (???)
                                    </li>
                                </ul>
                            </td>
                            <td>
                                <ul class="lead" style="font-size: 14pt;">
                                    <li>
                                        Coordenadores: <br>
                                        Prof. Adão Cambraia (IFFar)<br>
                                        ??? (???)</li>
                                    <li>
                                        <i>Proposta 3</i><br>
                                        - ??? (???)
                                    </li>
                                    <li>
                                        <i>Proposta 4</i><br>
                                        - ??? (???)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>
                    
                </li>
                <li>
                    <b>[20h40-20h50] Fechamento</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <!--<li>
                            - Profa. Itana Gimenes (UEM) - Sociedade Brasileira de Computação
                        </li>-->
                        <li>
                            - Prof. Roberto Bittencourt (UEFS) - Coordenação de Programa
                        </li>
                        <li>
                            Momento musical
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>