<div id="programacao">

  <section id="abertura">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Abertura</h2>

          <div class="card mb-4">
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 06 de Maio / 09h:00 – 09h:30</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares (Sede) e com Transmissão para Polos</p>
              <p><strong>Boas-vindas:</strong></p>
              <ul>
                <li>Leila Ribeiro (UFRGS/SBC)</li>
                <li><strong>Comitê de Programa:</strong> Aleteia Araujo (UnB) | Rozelma França (UFRPE)</li>
                <li><strong>Coordenação Geral e Sede:</strong> Amaury Antônio de Castro Junior (UFMS) | Anderson Corrêa (UFMS)</li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
