<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            Abaixo, você confere a programação completa das atividades presenciais do <strong>SBC-EB 2026</strong> no polo de Campo Grande - MS.
          </p>
          <p>
            O <strong>credenciamento</strong> dos participantes será realizado durante todo o período do evento no <strong>foyer</strong> (Saguão do Multiuso).
            Os <strong>coffee breaks</strong> ocorrerão diariamente em dois horários: das <strong>10:30 às 11:00</strong> e das <strong>16:00 às 16:30</strong>.
          </p>
          <div class="alert alert-warning" role="alert">
            <strong>Atenção ao fuso horário:</strong> a programação oficial do SBC-EB 2026 segue o horário local de Campo Grande - MS (<strong>GMT-4</strong>), uma hora a menos que o horário de Brasília.
          </div>
          <p>
            A programação está integrada ao Google Agenda. Ao clicar em cada atividade, você terá acesso a detalhes extras na descrição do evento.
          </p>
          <p>
            Você também pode assinar esta agenda pública para acompanhar os horários e locais das atividades diretamente no celular ou computador.
          </p>
          <div class="container-calendario">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=America%2FCampo_Grande&title=Programa%C3%A7%C3%A3o%20Presencial%20Educomp%20e%20SBC-EB&showCalendars=0&mode=AGENDA&hl=pt_BR&showPrint=0&src=Y19kZGIyM2IxMTMzNTZiYjU5NTMxZjcyOGM1NmMxNmIxNmY4ZWYyMmMwZTYyM2FjODc5YmRiZTE5ZmRhMTdjNTU0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23c0ca33" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>Observe que a programação está disponível como uma agenda pública no Google Agenda. Ao selecionar um evento, você poderá visualizar mais detalhes na descrição. É possível adicionar essa agenda ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.</i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>