<div id="programacao">

  <section id="oficinas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Oficinas de Computação</h2>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0"><strong>Oficina 01:</strong> Hora do Código para Estudantes</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 06 de Maio / 14:00h – 16h:00</p>
              <p><strong>Local:</strong> Laboratório 1 – 75 máquinas</p>
              <p><strong>Convidadas:</strong> Ramayane Bonacin Braga (IF Goiano), Thalia Santana (IF Goiano), Isadora de Souza (UFJF), Maria Clara Ribeiro (UFJF)</p>
              <p><strong>Resumo:</strong> Esta oficina busca sensibilizar o público sobre a importância de aprender Computação, demonstrando que qualquer pessoa pode aprender programação e inspirando o interesse futuro pela área.</p>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0"><strong>Oficina 02:</strong> Para quem ensinamos Computação? Repensando práticas formativas com Design Thinking e uma lente interseccional</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 06 de Maio / 14:00h – 16h:00</p>
              <p><strong>Local:</strong> Laboratório 2 – 50 máquinas</p>
              <p><strong>Convidada:</strong> Anna Beatriz Marques (UFC)</p>
              <p><strong>Resumo:</strong> Esta oficina apresenta o Design Thinking como estratégia para apoiar a (re)criação de práticas formativas em Computação sob uma perspectiva interseccional de gênero. Considerando desigualdades relacionadas a acesso, contexto social e trajetórias educacionais, iremos trabalhar com personas interseccionais para refletir sobre barreiras e oportunidades no ensino. A partir das etapas de empatia, definição, ideação e prototipagem, serão desenvolvidas propostas de atividades ou planos de aula mais inclusivas e contextualizadas. A oficina busca fomentar a reflexão crítica sobre a prática docente e apoiar a construção de estratégias pedagógicas mais equitativas na educação em computação.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
