<div id="programacao">

  <section id="paineis">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Painéis</h2>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0"><strong>Painel 1:</strong> Educação em Computação nas escolas do Brasil: Experiências, Desafios, Alianças e Novos Horizontes</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 06 de Maio / 09:30h – 10h:30</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares (Sede) e com Transmissão para Polos</p>
              <p><strong>Convidados:</strong></p>
              <ul>
                <li>José Flávio Rodrigues Siqueira (Coordenadoria de Tecnologia Educacional – COTED/SITEC, Secretaria de Estado de Educação de Mato Grosso do Sul – SED/MS)</li>
                <li>Carla Aragão (Diretora de Inovação e Tecnologia do Instituto Anísio Teixeira, representante da Secretaria da Educação do Estado da Bahia)</li>
                <li>Edison Ishikawa (UnB)</li>
              </ul>
              <p><strong>Mediação:</strong> Leila Ribeiro (UFRGS/SBC)</p>
              <p><strong>Resumo:</strong> Neste painel, serão compartilhadas experiências de Secretarias Estaduais de Educação em torno do ensino de Computação e políticas de Educação Digital.</p>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0"><strong>Painel 2:</strong> Estratégias Inovadoras e Inclusivas para Computação na Educação Básica</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 07 de Maio / 09h:00 – 10h:30</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares (Sede) e com Transmissão para Polos</p>
              <p><strong>Convidados:</strong></p>
              <ul>
                <li>Leila Ribeiro (UFRGS/SBC)</li>
                <li>Eliana Araújo Fernandes (Secretária Municipal de Educação de Ponta Porã/MS)</li>
                <li>Rubem Saldanha – Amazon Web Services (AWS)</li>
              </ul>
              <p><strong>Mediação:</strong> Rozelma França (UFRPE)</p>
              <p><strong>Resumo:</strong> Neste painel, experiências alinhadas à BNCC Computação, formação de professores e a visão do mercado quanto às competências esperadas para atuação em uma sociedade cada vez mais tecnológica são o foco da discussão, não se limitando a isso, mas podendo orientar as explanações das pessoas painelistas.</p>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0"><strong>Painel de Encerramento:</strong> Inovação, Criatividade e Conectividade nas Redes de Educação Básica Brasileiras</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 08 de Maio / 11h:30 – 13h:00</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares (Sede) e com Transmissão para Polos</p>
              <p><strong>Convidados:</strong></p>
              <ul>
                <li>Andrei Elias Amaral (RNP)</li>
                <li>Paulo Cezar Rodrigues dos Santos (Superintendente da SITEC/Secretaria de Educação de MS)</li>
                <li>Larissa Santa Rosa (Ministério da Educação) <em>[PARTICIPAÇÃO REMOTA]</em></li>
              </ul>
              <p><strong>Mediação:</strong> Aleteia Araujo (UnB)</p>
              <p><strong>Resumo:</strong> Neste painel, serão discutidas políticas públicas para o ensino de Computação na Educação Básica, perpassando aspectos como Conectividade, BNCC Computação, Política Nacional de Educação Digital (PNED) e correlatas.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
