<div id="programacao">

  <section id="palestras">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Palestras</h2>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0">Educar em tempos de respostas instantâneas: o dilema da educação na era do excesso</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 06 de Maio / 11:00h – 12h:30</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares (Sede) e com Transmissão para Polos</p>
              <p><strong>Convidada:</strong> Sheila Reinehr (PUCPR)</p>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0">Educar para o futuro: como a IA pode transformar a educação desde a base?</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 07 de Maio / 11:00h – 12h:00</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares (Sede) e com Transmissão para Polos</p>
              <p><strong>Convidada:</strong> Carla Delgado (UFRJ)</p>
              <p><strong>Resumo:</strong> A palestra "Educar para o futuro: como a IA pode transformar a educação desde a base?" discute os desafios e as oportunidades trazidos pela inteligência artificial no contexto da educação básica. Em um cenário de rápidas transformações tecnológicas e de questionamentos sobre o papel da escola, a palestra propõe uma reflexão sobre como a educação pode se reposicionar em uma sociedade cada vez mais orientada por dados e sistemas inteligentes. Serão exploradas as potencialidades da IA no enfrentamento de problemas da educação, como evasão escolar, dificuldades de aprendizagem e escassez de recursos, sem perder de vista os riscos associados ao uso dessas tecnologias. A palestra convida educadores e gestores a refletirem sobre seu papel na integração responsável e consciente da IA na educação e na construção de uma visão de futuro da educação na "cidade inteligente".</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
