<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades do SBC-EB 2026 no polo de Porto Alegre - RS.
          </p>
          <div class="container-calendario">
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=SBC-EB%20-%20Porto%20Alegre%2FRS&mode=AGENDA&dates=20260506/20260508&hl=pt_BR&src=Y19kYzk1NzFmZmNhZjMxYzI4ZGJmOTA4YjJjMGJkYjFhYjJiMzdjNzk0NjE1MzdjNmE1NjhiZDIzYmQ0YWM5NzAyQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23e67c73" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
