<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades do SBC-EB 2026 no polo de Recife - PE.
          </p>
          <div class="container-calendario">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&mode=AGENDA&src=Y19jMWFlMjc5NGNlYzQwMTYyMjkyY2QxMmFhMGRhYTQxZDFhYTdlMmFlZmQyOTU5YzdlZDg0MzUwYzA5ODZlMWFiQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%237cb342" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="competicao-computacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>💻 Competição de Atividades de Computação</h2>
          <p>
            A <strong>Competição de Atividades de Computação</strong> é uma atividade dinâmica e colaborativa, realizada simultaneamente na sede e nos polos do SBC-EB 2026, conforme os seguintes dias e horários:
          </p>
          <div class="accordion" id="accordion-competicao-main">
            <div class="card">
              <div class="card-header" id="accordion-competicao-dia1">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-competicao-dia1" aria-expanded="true" aria-controls="collapse-competicao-dia1">
                  <h3><strong>7 de Maio:</strong> Competição de Atividades de Computação</h3>
                </button>
              </div>
              <div id="collapse-competicao-dia1" class="collapse" aria-labelledby="accordion-competicao-dia1" data-parent="#accordion-competicao-main">
                <div class="card-body">
                  <p>
                    <strong>Horários:</strong>
                  </p>
                  <ul>
                    <li><strong>Sede:</strong> das 14h:30 às 16:00 e das 16:30 às 18:00</li>
                    <li><strong>Polos:</strong> das 15h:30 às 17:00 e das 17:30 às 19:00</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-competicao-dia2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-competicao-dia2" aria-expanded="false" aria-controls="collapse-competicao-dia2">
                  <h3><strong>8 de Maio:</strong> Apresentação das Atividades da Competição de Computação</h3>
                </button>
              </div>
              <div id="collapse-competicao-dia2" class="collapse" aria-labelledby="accordion-competicao-dia2" data-parent="#accordion-competicao-main">
                <div class="card-body">
                  <p>
                    <strong>Horários:</strong>
                  </p>
                  <ul>
                    <li><strong>Sede:</strong> das 11h:00 às 11h:30</li>
                    <li><strong>Polos:</strong> das 12h:00 às 12h:30</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-competicao-info">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-competicao-info" aria-expanded="false" aria-controls="collapse-competicao-info">
                  <h3><strong>Sobre a Competição</strong></h3>
                </button>
              </div>
              <div id="collapse-competicao-info" class="collapse" aria-labelledby="accordion-competicao-info" data-parent="#accordion-competicao-main">
                <div class="card-body">
                  <p>
                    Nesta atividade, <strong>tutores desafiarão equipes formadas por estudantes</strong> a desenvolverem uma <strong>proposta pedagógica</strong> baseada nas <strong>competências da BNCC Computação</strong>, garantindo sua aplicabilidade em sala de aula.
                  </p>
                  <p>
                    <strong>Organização por polo:</strong>
                  </p>
                  <ul>
                    <li>Cada polo deve ter uma <strong>sala reservada para a competição</strong></li>
                    <li>O material necessário estará disponível para as equipes</li>
                    <li>Ao final, cada equipe deverá apresentar sua proposta</li>
                    <li>As propostas serão avaliadas pela equipe organizadora da competição</li>
                    <li>Os melhores trabalhos serão reconhecidos e apresentados em sessão específica</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
