<div id="programacao">

  <section id="rodas-de-conversa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Rodas de Conversa</h2>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0"><strong>Roda de Conversa 01:</strong> "Formação de professores de Computação na Educação Básica para a diversidade na era da IA"</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 06 de Maio / 16h:30 – 18h:00</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares (Sede)</p>
              <p><strong>Convidados:</strong></p>
              <ul>
                <li>Karen Ribeiro (UFMT)</li>
                <li>Diego Berti Bagestan (ReLic)</li>
                <li>Maria Claudete Schorr (ReLic)</li>
                <li>Moacir Juliani (IFMS Jardim)</li>
              </ul>
              <p><strong>Resumo:</strong> As rodas de conversa do SBC-EB são um espaço de diálogo e troca de experiências em torno de um tema específico. Por meio das experiências e perguntas provocadoras compartilhadas pelas pessoas convidadas, espera-se que o público presente se sinta estimulado a compartilhar suas perspectivas sobre o tema, enriquecendo o diálogo sobre como formar docentes para o ensino de Computação na escola na era da Inteligência Artificial.</p>
            </div>
          </div>

          <div class="card mb-4">
            <div class="card-header">
              <h3 class="mb-0"><strong>Roda de Conversa 02:</strong> "O Futuro da Computação na Escola"</h3>
            </div>
            <div class="card-body">
              <p><strong>Dia e Horário:</strong> 07 de Maio / 16h:30 – 18h:00</p>
              <p><strong>Local:</strong> Auditório Multiuso 2 – 215 lugares</p>
              <p><strong>Convidadas:</strong></p>
              <ul>
                <li>Carla Delgado (UFRJ)</li>
                <li>Alessandreia Marta de Oliveira (UFJF)</li>
                <li>Simone Costa (UFPEL)</li>
              </ul>
              <p><strong>Resumo:</strong> As rodas de conversa do SBC-EB são um espaço de diálogo e troca de experiências em torno de um tema específico. Por meio das experiências e perguntas provocadoras compartilhadas pelas pessoas convidadas, espera-se que o público presente se sinta estimulado a compartilhar suas perspectivas sobre o tema, enriquecendo o diálogo sobre perspectivas para o ensino de computação na educação básica brasileira.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

</div>
