<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação das atividades do SBC-EB 2026 no polo de São Carlos - SP.
          </p>
          <div class="container-calendario">
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?src=c_42282f74dabbd8a5290ad6160c1c5fd4cc4d44a25ac5b47af6663faf22abe466%40group.calendar.google.com&ctz=America%2FSao_Paulo&mode=AGENDA&hl=pt_BR" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?src=c_42282f74dabbd8a5290ad6160c1c5fd4cc4d44a25ac5b47af6663faf22abe466%40group.calendar.google.com&ctz=America%2FSao_Paulo&mode=AGENDA&hl=pt_BR" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
