<div id="27-lab-ideias-iii-iv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Jogos (LI-III)"
          chair_sessao="Jean Hauch (UFSC)" 
          chair_sessao2="Isabelle Maria Lima de Souza (UFCG)"
          
          artigo1_titulo="Boolace: Um Jogo-Curso de Lógica Proposicional"
          artigo1_autores="Marcio Flavio Souza"
          
          artigo2_titulo="Cinéma: Um Jogo para Auxílio no Ensino de Audiovisual em um curso de Computação Gráfica"
          artigo2_autores="Fellipe Silva, Aldair Filho, Samuel Oliveira, Romulo Monteiro, Andressa Ferreira"

          artigo3_titulo="Um Ambiente Gamificado para o Ensino de Teste de Mutação"
          artigo3_autores="Dario Darienço, Pedro Henrique Dias Valle"

        }}

        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Pensamento Computacional II (LI-IV)"
          chair_sessao="Mychelline Souto (UFPE)" 
          chair_sessao2="Dyego Morais (UFPE)"
          
          artigo1_titulo="Como Licenciandos Podem Desenvolver o Pensamento Computacional no Contexto Educacional?"
          artigo1_autores="Lais Baptista, Roberto Bittencourt"
          
          artigo2_titulo="PCLib App: Referatório de Recursos Educacionais para Desenvolvimento do Pensamento Computacional"
          artigo2_autores="Ytalo Paulo Wilian da Silva, Iago Sinésio Ferris Silva, Bruno Barboza dos Santos, Taciana Pontual Falcão"

          artigo3_titulo="Pensamento computacional: abstração, requisitos operacionais e paradigmas de programação"
          artigo3_autores="Ana Paula Ludtke Ferreira"

        }}
        
    </div>
  </div>