<div id="27-lab-ideias-iii-iv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Em breve
        </span>
        
    </div>
  </div>