<div id="27-painel-iii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;"><i>Learning Analytics</i>: Iniciativas e Perspectivas</h1>
         
          {{> 
            simposio/2022/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=W7upC7h2wAA"
          }}

        <span style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: 1.5em;">
            Prof. Cristian Cechinel<br>
            <b>Universidade Federal de Santa Catarina (UFSC)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: 1.5em;">
            Prof. David Braga Fernandes de Oliveira<br>
            <b>Universidade Federal do Amazonas (UFAM)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: 1.5em;">
            Prof. Rafael Ferreira Leite de Mello<br>
            <b>Universidade Federal Rural de Pernambuco (UFRPE)</b>
        </span>

           <p style="font-size: large; display: block; margin-bottom: 0.5em;  margin-top: 1em;">
            <b>Resumo:</b> <i>Learning Analytics</i> (LA) é uma área que vem ganhando cada vez mais destaque no meio científico e acadêmico. O interesse por essa área foi impulsionado pela crescente adoção de sistemas como Ambientes Virtuais de Aprendizagem e Juízes Online, que permitem que uma grande quantidade de dados sejam coletados com altos níveis de granularidade e variedade. Esse volume de dados educacionais possibilita várias análises interessantes sobre a aprendizagem, provendo importantes insights baseados em evidências para tomadas de decisões mais assertivas por parte de professores e gestores. Neste painel, vamos apresentar e discutir iniciativas e perspectivas da utilização prática de LA para dar suporte a uma educação de qualidade em diferentes níveis, que considere as habilidades e competências para estudantes do século 21.
        </p>

        <span style="font-size: large; display: block; margin-bottom: 1.5em; margin-top: 1.5em; background-color: rgb(221, 216, 216)">
          Elaine Harada Teixeira de Oliveira (UFAM)<br>
          <b>Mediação</b>
        </span>
          
          <!--<div class="row">
            <div class="col-4">
              <img src="/img/pessoas/andre.jpg" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. André Souza Lemos <br>
                <b>Instituto Federal do <br>Triângulo Mineiro (IFTM)</b>
              </span>
            </div>          
          </div>

          <div class="row" style="margin-top: -22em;">
            <div class="col-4">
              <img src="/img/pessoas/armando.png" style="width:100%;" class="rounded-circle" />
            </div>
            <div class="col-8">
              <span style="font-size: large;">
                Prof. José Armando Valente <br>
                <b>Universidade de Campinas (Unicamp)</b>
              </span>
            </div>          
          </div>-->

    </div>
  </div>