<div id="27-sessao-tecnica-v-vi" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Diversidade e Acessibilidade (ST-V)"
          chair_sessao="A definir" 
          
          artigo1_titulo="Lack of Diversity: Are you part of the problem or its solution?"
          artigo1_autores="Mirella Moro"
          artigo1_ensaio=true
          
          artigo2_titulo="Estudantes com Deficiência Visual em Computação: participação, perspectivas e desafios enfrentados"
          artigo2_autores="Lais Farias Alves, Larissa Rocha Soares, Claudia Pinto Pereira, Ivan Machado, Windson Viana, Nailton Almeida Junior"
          artigo2_artigo_pesquisa=true

        }}
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Ensino Emergencial Remoto III (ST-VI)"
          chair_sessao="A definir"  
          
          artigo1_titulo="Técnicas e Tecnologias Diversas no Ensino Remoto Emergencial de Engenharia de Software"
          artigo1_autores="Ronney Moreira de Castro, Tadeu Classe, Sean Siqueira"
          artigo1_relato_experiencia=true
          
          artigo2_titulo="Ensino de habilidades socioemocionais: um estudo de caso empregando mídias audiovisuais e conversação online"
          artigo2_autores="Julian Araujo, Laiza Ribeiro, Patricia Jaques"
          artigo2_relato_experiencia=true
          
        }}

    </div>
  </div>