<div id="27-sessao-tecnica-vii-viii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Abordagens Pedagógicas I (ST-VII)"
          chair_sessao="Eleandro Maschio (UTFPR)" 
          
          artigo1_titulo="Roteiros de estudo para aulas invertidas na disciplina de estrutura de dados"
          artigo1_autores="Bianca Souza, Maria Elanne Rodrigues, Necio Veras, Mayara da Silva Olivindo, Windson Viana, Lincoln Rocha"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Playfulness as a Pedagogical Approach to Teaching Sequential and Binary Search Algorithms"
          artigo2_autores="Graziela Guarda, Sérgio Crespo C. S. Pinto, Sandro Rezende"
          artigo2_artigo_pesquisa=true

        }}
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Artefatos de Ensino-Aprendizagem I (ST-VIII)"
          chair_sessao="Maristela Holanda (UnB)"  
          
          artigo1_titulo="Artefatos computacionais são considerados criativos?"
          artigo1_autores="Nathalia Alves, Christiane von Wangenheim, Lúcia Martins-Pacheco, Adriano Borgatto"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="A Utilização do APP Bitmoji na Criação de Personagens de Histórias em Quadrinhos sobre Computação"
          artigo2_autores="Almir de Oliveira Costa Junior, José Anglada, Andrey Guedes, Gabriel Souza"
          artigo2_relato_experiencia=true
          
        }}

    </div>
  </div>