  {{> simposio/2024/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Laboratório de Ideias -  Critérios de Revisão </h2>
          
          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">O processo de revisão das propostas do Laboratório de Ideias do EduComp inova ao solicitar <i>feedback</i> tanto quantitativo como qualitativo para os critérios atendidos (ou não) dos trabalhos. Em termos quantitativos, os revisores devem pontuar cada proposta de acordo com vários critérios em uma escala variando de “Discordo Totalmente” a “Concordo Totalmente” (1 a 4) descritos a seguir. Um <i>feedback</i> qualitativo para a revisão também será solicitado com o objetivo de melhorar a qualidade das revisões e oferecer um <i>feedback</i> construtivo.</p>
        
          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Aderência:</strong> Trata-se de uma proposta em educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Discussão:</strong> A proposta fomenta discussões importantes dentro do EduComp.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Inovação:</strong> A proposta tem potencial inovador na educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Originalidade:</strong> A proposta tem potencial para promover o avanço do conhecimento em educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Apresentação do resumo:</strong> O texto do resumo é escrito adequadamente, considerando estruturação, clareza, coerência, coesão, ortografia, gramática e formatação (incluindo figuras e tabelas).</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Apresentação do vídeo: </strong> O vídeo é produzido adequadamente, considerando clareza, enredo, qualidade da gravação, tempo de duração e uso de recursos multimídia.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Recomendação: </strong> com base nos critérios acima, o resumo deve ser publicado no EduComp.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Familiaridade do(a) avaliador(a) com o tema da proposta: </strong> os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pela proposta.</li>
          </ol>

          
        </div>
      </div>
    </div>
  </section>