  {{> simposio/2024/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Trilha 3 - Artigos sobre Currículos</h2>
          
          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios atendidos ou não pelos artigos. Em termos quantitativos, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir. Além disso, os itens de 1 a 7 (exceção do 3), deverão oferecer <i>feedback</i> qualitativo que justifique a nota dada na escala. O objetivo do <i>feedback</i> qualitativo explícito por item é melhorar a qualidade das revisões a partir da avaliação específica de critérios válidos para o tipo de artigo em avaliação, oferecendo <i>feedback</i> construtivo e evitando confusão entre diferentes tipos de contribuição (e.g., um artigo de pesquisa deve ser avaliado de forma diferente de um relato de experiência).</p>
        
          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Aderência:</strong> O artigo deve abordar a temática sobre currículo em educação em computação, em qualquer nível de ensino. O termo “currículo” não significa necessariamente um currículo inteiro, mas iniciativas pedagógicas implementadas via curricularização (i.e., necessárias para a integralização). Também são aceitos “position papers” com argumentações referentes a currículo, que serão avaliados pelos mesmo critérios descritos a seguir.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Qualidade e organização textual:</strong> O texto (incluindo figuras e tabelas) precisa ter estrutura, clareza, coerência, coesão, bem como cuidados com ortografia, gramática e formatação exigidos pelo modelo do Educomp.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Contexto educacional:</strong> O artigo deve descrever o contexto educacional que motivou a iniciativa/proposta, fundamentado em legislação educacional, diretrizes curriculares e/ou literatura relevante.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Fundamentos pedagógicos:</strong> O artigo deve apresentar os fundamentos pedagógicos que motivaram a iniciativa.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Contribuição e originalidade:</strong> O artigo deve mostrar como a abordagem curricular é inovadora no contexto educacional apresentado e coerente com os fundamentos pedagógicos.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Design e construção: </strong> O trabalho deve descrever como a proposta curricular foi projetada e/ou implementada. Avaliações dos resultados são importantes e devem seguir as boas práticas em termos de ética e de rigor científico na sua condução e na apresentação dos resultados.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Generalidade da proposta: </strong> o trabalho deve descrever como a iniciativa pode ser usada por outras instituições de ensino em seus projetos pedagógicos.</li>
          </ol>

          <br>

          <h3>Diretrizes para Artigos sobre Currículos</h3>

          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">As iniciativas sobre currículo devem propor/analisar temas da legislação, estruturas curriculares, temas transversais, ou outros temas relacionados a cursos ou programas, o contexto que motivou empreender a nova iniciativa, seus fundamentos pedagógicos, o que foi necessário para colocá-la em prática, seu potencial impacto e as recomendações para adoção por outros educadores. Esta trilha também pode incluir documentos de posicionamento, que têm como objetivo gerar discussões acadêmicas frutíferas, apresentando uma opinião defensável sobre currículos na área de Computação.</p>
          <p class="lead" style="text-align: justify; font-size: 14pt">Para um artigo nesta trilha, eis alguns fatores-chave a serem trazidos pelos autores e avaliados pelos revisores:</p>
          
          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt">A <strong>inovação</strong> do currículo está explicitamente declarada? Sugerimos colocá-la no resumo e na primeira seção do artigo.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">A inovação curricular aborda aspectos da educação em computação?</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">A <strong>motivação</strong> para a construção do currículo/componente curricular é claramente descrita no artigo?</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">Trabalhos relacionados:
              <ol type="a">
                <li>Quais <strong>propostas anteriores</strong> foram utilizadas no contexto educacional?</li>
                <li>Os trabalhos e documentos relevantes estão incluídos?</li>
                <li>Os autores descrevem claramente a <strong>relação</strong> entre os trabalhos prévios e a presente inovação curricular? De que forma o trabalho <strong>se baseia</strong> em trabalhos prévios e de que maneira ele <strong>é diferente</strong>?</li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Análise do currículo:</strong>
              <ol type="a">
                <li>De que maneira a inovação curricular aborda o problema ou necessidade de solução?</li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Indicadores de sucesso futuro:</strong>
              <ol type="a">
                <li>Caso o trabalho apresente uma proposta, como a inovação curricular é analisada e faz indicações de possíveis potencialidades? </li>
                <li>Caso o trabalho apresente uma implementação já testada, como ela poderia ser aprimorada?</li>
                <li>Em que contexto a inovação curricular pode ser usada (universidades, faculdades, escolas, entre outros)?</li>
                <li>Quão difícil seria adotar a inovação curricular? Por exemplo, os autores consideram os recursos humanos e financeiros necessários?</li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Impacto na Educação em Computação:</strong> O artigo deve analisar o potencial impacto da iniciativa na Educação em Computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Recomendação:</strong> Com base nos critérios acima, o artigo deve ser publicado no EduComp.</li>            
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Familiaridade do(a) avaliador(a) com o tema do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pelo artigo.</li>            
          </ol>
          
        </div>
      </div>
    </div>
  </section>