 {{> simposio/2024/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Trilha 1 - Artigos de Pesquisa</h2>
          
          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios atendidos ou não pelos artigos. Em termos quantitativos, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir. Além disso, para os itens de 2 a 9, deverão oferecer <i>feedback</i> qualitativo que justifique a nota dada na escala. O objetivo do <i>feedback</i> qualitativo explícito por item é melhorar a qualidade das revisões a partir da avaliação específica de critérios válidos para o tipo de artigo em avaliação, oferecendo <i>feedback</i> construtivo e evitando confusão entre diferentes tipos de contribuição (e.g., um artigo de pesquisa deve ser avaliado de forma diferente de um relato de experiência ou de um artigo sobre recurso educacional).</p>
        
          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Aderência:</strong> Trata-se de um artigo de pesquisa científica em educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Trabalhos Relacionados:</strong> O artigo está fundamentado em trabalhos prévios relevantes.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Teoria:</strong> O artigo baseia-se em teoria(s) quando apropriado.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Metodologia:</strong> O trabalho descreve seus métodos e/ou inovações suficientemente para replicação ou metanálise, para que outros entendam como os dados foram obtidos, analisados e interpretados ou como a inovação funciona.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Consistência e coerência:</strong> Os métodos e/ou inovações utilizados abordam de forma sólida as questões de pesquisa do trabalho.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Impacto:</strong> O artigo promove o avanço do conhecimento em educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Implicações:</strong> O artigo discute os resultados e sumariza de modo claro as contribuições,  implicações e limitações do trabalho.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Apresentação:</strong> O texto do artigo é escrito adequadamente, considerando estruturação, clareza, coerência, coesão, ortografia, gramática e formatação (incluindo figuras e tabelas).</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Recomendação:</strong> Com base nos critérios acima, o artigo deve ser publicado no EduComp.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Familiaridade do(a) avaliador(a) com o tema do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pelo artigo.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Familiaridade do(a) avaliador(a) com os métodos do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre os métodos usados no artigo.</li>
            
          </ol>

          <br>

          <h3>Diretrizes para Artigos de Pesquisa</h3>

          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">Os artigos de pesquisa submetidos devem descrever uma pesquisa de base empírica em educação em computação. Devem seguir padrões rigorosos, descrevendo hipóteses ou questões de pesquisa, métodos e resultados típicos de estudos de pesquisa. Normalmente, concentram-se em tópicos relevantes para a educação em computação, com ênfase em:</p>

          <br>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt">objetivos educacionais e unidades/tópicos de conhecimento relevantes para a educação em computação; </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">métodos ou técnicas em educação em computação; </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">avaliação de abordagens pedagógicas;</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">estudos das diferentes populações envolvidas na educação de computação, incluindo (mas não se limitando a) alunos e professores, além de questões de gênero, diversidade e subrepresentação. </li>
          </ul>

          <p class="lead" style="text-align: justify; font-size: 14pt">São também aceitos artigos de replicação e artigos que apresentem resultados que não confirmam as hipóteses ou mesmo resultados inesperados que atendam aos critérios a seguir.</p>

          <p class="lead" style="text-align: justify; font-size: 14pt">Para um artigo típico desta categoria, eis alguns fatores-chave a serem trazidos pelos autores e avaliados pelos revisores:</p>

          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt">Há uma ou mais <strong>questões de pesquisa</strong> claramente definidas? Já que o artigo será organizado em torno delas, normalmente é bom colocá-las no resumo e na primeira seção do artigo.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">As questões são <strong>de interesse</strong> do público do EduComp?</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Trabalhos relacionados</strong>
              <ol type="a">
                <li>Os trabalhos relevantes estão incluídos? Caso contrário, o(a) revisor(a) deve fornecer referências ao material ausente. Simplesmente dizer “A seção de trabalhos relacionados está incompleta” não é suficiente.</li>
                <li>Os autores descrevem claramente a <strong>relação</strong> entre os trabalhos prévios e as questões de pesquisa do trabalho presente? De que forma o trabalho presente <strong>se baseia</strong> em trabalhos prévios e de que maneira ele <strong>é diferente?</strong></li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Teoria(s):</strong>
              <ol type="a">
                <li>O projeto é baseado em teoria relevante (e.g., educacional, psicológica, sociológica, organizacional)? Se não, deveria ser? E quais são algumas das teorias que os autores deveriam considerar?</li>
                <li>A teoria é descrita com clareza, com citações apropriadas?</li>
                <li>A relação da teoria com o projeto atual está claramente descrita?</li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">A coleta de dados está descrita de forma suficientemente clara para que o(a) leitor(a) possa reproduzi-la? As dicas de relatos do <a href="https://csedresearch.org/conducting-research/" target="_blank">CSEd Research</a> têm ótimas recomendações sobre quais dados coletar, analisar e relatar. Algumas informações importantes a serem incluídas:
              <ol type="a">
                <li>Sobre os dados: por que este tipo específico de dado é relevante para suas questões de pesquisa?</li>
                <li>Sobre os participantes: quantos, qual a sua formação (são professores, alunos, egressos, etc.); e se eles tiveram alguma experiência prévia formal em computação; gênero, idade e quaisquer outros fatores que sejam relevantes para o projeto dos autores.</li>
                <li>Sobre a(s) pessoa(s) que coletam os dados: Qual é a sua relação com os participantes? Por exemplo, se os dados foram coletados de alunos em uma aula, o professor era observador não-participante ou participante?</li>
                <li>Sobre o processo de coleta de dados: o projeto utilizou questionários, entrevistas, amostras de trabalhos dos alunos, outros? No caso de questionários ou entrevistas, exatamente quais perguntas foram feitas?</li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">O processo/método de <strong>análise de dados</strong> está suficientemente descrito para que o(a) leitor(a) possa reproduzi-lo?
              <ol type="a">
                <li>Qual método foi usado?</li>
                <li>O método é descrito com uma citação adequada?</li>
                <li>A implementação do método está descrita com clareza suficiente? Quantas pessoas estiveram envolvidas? Qual processo foi usado para resolver quaisquer divergências?</li>
                <li>O processo/método de análise é apropriado para responder às questões de pesquisa?</li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">Os <strong>resultados</strong> da análise estão claramente <strong>sumarizados?</strong></li>
            <li class="lead" style="text-align: justify; font-size: 14pt">Os <strong>resultados</strong> são amplamente <strong>discutidos</strong>, incluindo:
              <ol type="a">
                <li>Sua relação com as questões de pesquisa?</li>
                <li>Sua relação com trabalhos prévios?</li>
                <li>As implicações dos resultados para o ensino?</li>
                <li>As implicações dos resultados para pesquisas futuras?</li>
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">As <strong>ameaças à validade</strong>, no caso de trabalhos <strong>quantitativos</strong>, ou as questões de <strong>validade e confiabilidade</strong>, no caso de trabalhos <strong>qualitativos</strong>, são discutidas?</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">A avaliação dos revisores deve respeitar a perspectiva de pesquisa (qualitativa, quantitativa ou de métodos mistos) dos autores.</li>
          </ol>

          <br>

          
        </div>
      </div>
    </div>
  </section>