  {{> simposio/2024/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Trilha 4 -  Recursos e Ambientes Educacionais</h2>
          
          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios atendidos ou não pelos artigos. Em termos quantitativos, os revisores devem pontuar cada artigo de acordo com os critérios descritos a seguir (em uma escala de 1 a 4). Além disso, para os itens de 2 a 8, deverão oferecer <i>feedback</i> qualitativo que justifique a nota dada na escala. O objetivo do <i>feedback</i> qualitativo explícito por item é melhorar a qualidade das revisões a partir da avaliação específica de critérios válidos para o tipo de artigo em avaliação, oferecendo <i>feedback</i> construtivo e evitando confusão entre diferentes tipos de contribuição (e.g., um artigo de pesquisa deve ser avaliado de forma diferente de um relato de experiência ou de um artigo sobre recurso educacional).</p>
        
          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Aderência:</strong> trata-se de um artigo sobre recursos didáticos ou sobre ambientes ou plataformas para educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Contribuição:</strong> o recurso, ambiente ou plataforma tem potencial de impacto na educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Apresentação do artefato:</strong> a descrição do recurso, ambiente ou plataforma contempla motivação, objetivos, conteúdos, principais componentes e telas, e cenários de uso.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Artefatos similares:</strong> o trabalho é comparado com artefatos similares.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Fundamentos teóricos e/ou pedagógicos:</strong> o artigo baseia-se em teoria(s) quando apropriado.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Replicabilidade: </strong> a partir das informações do artigo, o artefato pode ser usado por terceiros em contextos educacionais.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Qualidade textual: </strong> o texto do artigo é escrito adequadamente, considerando estruturação, clareza, coerência, coesão, ortografia, gramática e formatação, em conformidade com o modelo do EduComp.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Recomendação: </strong> com base nos critérios acima, o artigo deve ser publicado no EduComp.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Familiaridade do(a) avaliador(a) com o tema do artigo: </strong> os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pelo artigo.</li>
          </ol>

          <br>

          <h3>Diretrizes para Recursos e Ambientes Educacionais</h3>

          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">Os artigos sobre recursos didáticos ou sobre ambientes ou plataformas para educação em computação devem descrever cuidadosamente um recurso ou ambiente educacional e seu contexto, e fornecer uma rica reflexão sobre a sua aplicação. Todos os artigos nesta trilha devem fornecer detalhes suficientes para que outros possam adotar a inovação descrita no artigo.</p>
          <p class="lead" style="text-align: justify; font-size: 14pt">Para um artigo nesta trilha, eis alguns fatores-chave a serem trazidos pelos autores e avaliados pelos revisores:</p>
          
          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt">O artefato apresentado é <strong>de interesse</strong> para o público do EduComp? Deve ficar claro como o artefato pode ser usado em processos de ensino e aprendizagem em Computação, com informações sobre como adotar ou adaptar o artefato em outros contextos e instituições.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">O artefato é fundamentado em teorias de aprendizagem? Deve-se explicar os <strong>fundamentos pedagógicos</strong> que orientam as decisões de design, interação e apresentação dos conteúdos.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">O artefato é apresentado em detalhes que <strong>ilustrem seu uso e sua aplicação educacional?</strong> Devem ser incluídos: objetivo, motivação, funcionalidades ilustradas por telas, contexto de uso, público-alvo, tecnologias utilizadas, licença.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt">Artefatos similares:
              <ol type="a">
                <li>São citados artefatos similares (protótipos ou produtos prontos) que tenham objetivos similares e/ou abordem temas similares? Caso contrário, uma boa revisão deve indicar artefatos similares não mencionados. Simplesmente dizer “A seção de trabalhos relacionados está incompleta” não é suficiente.</li>
                <li>Os autores descrevem claramente a <strong>relação</strong> entre os artefatos similares e o artefato apresentado? Deve-se descrever de que forma o artefato apresentado <strong>se baseia</strong> em trabalhos prévios e de que maneira ele <strong>é diferente</strong>, ou seja, traz uma nova contribuição.</li>
                
              </ol>
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">As <strong>observações e/ou descobertas relacionadas ao uso do artefato</strong> estão claramente <strong>apresentadas</strong>? Essas <strong>descobertas</strong> devem ser <strong>discutidas</strong>, incluindo:
              <ol type="a">
                <li>Relação / comparação com trabalhos prévios;</li>
                <li>Implicações dos resultados para uso futuro;</li>
                <li>Implicações dos resultados para o ensino e aprendizagem;</li>
                <li>Limitações do artefato.</li>
              </ol>
            </li>            
          
        </div>
      </div>
    </div>
  </section>