  {{> simposio/2024/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Trilha 5 - Ensaios</h2>
          
          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios atendidos ou não pelos artigos. Em termos quantitativos, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir. Além disso, para os itens de 2 a 9, deverão oferecer <i>feedback</i> qualitativo que justifique a nota dada na escala. O objetivo do <i>feedback</i> qualitativo explícito por item é melhorar a qualidade das revisões a partir da avaliação específica de critérios válidos para o tipo de artigo em avaliação, oferecendo <i>feedback</i> construtivo e evitando confusão entre diferentes tipos de contribuição (e.g., um artigo de pesquisa deve ser avaliado de forma diferente de um relato de experiência ou de um artigo sobre recurso educacional).</p>
        
          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Aderência:</strong> Trata-se de um ensaio em educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Trabalhos Relacionados:</strong> O artigo está fundamentado em trabalhos prévios relevantes.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Teoria:</strong> O artigo baseia-se em teoria(s) quando apropriado.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Argumentação:</strong> O trabalho provê argumentação de natureza crítica e/ou reflexiva.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Consistência e coerência:</strong> As conclusões são derivadas de forma consistente a partir da argumentação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Impacto:</strong> O artigo promove o avanço do conhecimento em educação em computação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Implicações:</strong> O artigo sumariza de modo claro as contribuições e implicações do trabalho.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Apresentação:</strong> O texto do artigo é escrito adequadamente, considerando estruturação, clareza, coerência, coesão, ortografia, gramática e formatação (incluindo figuras e tabelas).</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Recomendação:</strong> Com base nos critérios acima, o artigo deve ser publicado no EduComp.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Familiaridade do(a) avaliador(a) com o tema do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pelo artigo.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Familiaridade do(a) avaliador(a) com os métodos do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre os métodos usados no artigo.</li>
          </ol>

          <br>

          <h3>Diretrizes para Ensaios</h3>

          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">Um bom ensaio possui algumas características importantes:</p>

          <br>

          <ol>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Crítica e/ou Reflexão:</strong> A partir da análise de um contexto, o(a) autor(a) critica e/ou reflete sobre ele com o objetivo de motivar o ensaio e engajar os leitores. </li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Tese:</strong> o(a) autor(a) tem uma tese principal que o levou a escrever o ensaio. Geralmente, a tese é enunciada na introdução do ensaio.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Argumentação:</strong> o(a) autor(a) sabe o que quer dizer e por quê. Vai além de apontar comparações, enriquecendo a compreensão e provocando reflexões do(a) leitor(a) sobre o tema.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Organização:</strong> Cada argumento apoia o argumento principal de maneira coerente. Transições claras indicam porque cada novo argumento segue o anterior.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Evidências:</strong> Exemplos concretos sustentam ideias gerais do ensaio. O artigo fornece a fonte e a significância de cada evidência apresentada.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Consistência:</strong> As conclusões do ensaio são derivadas de forma consistente a partir da argumentação.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"><strong>Apresentação:</strong> o artigo exibe um bom domínio da prosa acadêmica.</li>
          </ol>

          <br>

          <p class="lead" style="text-align: justify; font-size: 14pt">Observe que essas categorias são interdependentes. Por exemplo, se suas evidências forem fracas, isso quase certamente afetará a qualidade de sua argumentação e organização. Da mesma forma, se você tiver dificuldade com a clareza textual, é de se esperar que suas transições sejam prejudicadas. É recomendável adotar uma abordagem holística para melhorar seu ensaio, em vez de focar exclusivamente em um aspecto específico. </p>
        </div>
      </div>
    </div>
  </section>