{{> simposio/2023/pt-BR/inside-header}}

   <section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
      <div class="row">
        <div class="col-lg-8 mx-auto">

          <div class="accordion mb-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="trilha1-acordeao">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4>Trilha 1: Artigos de Pesquisa</h4>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="trilha1-acordeao" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>An open list of computer programming students common problems, and its leverage in teaching practice</b> <br>   
                                Renato Cortinovis, Pablo Frank-Bolton, Ricardo Caceffo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Análise da inferência da Lógica Fuzzy no jogo The Sims</b> <br>   
                                Tatiana Santos, Francielli Moro, Eliane Pozzebon
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Análise do desempenho de aprendizagem de Machine Learning na Educação Básica aplicando a Teoria de Resposta ao Item</b> <br>   
                                Marcelo Rauber, Christiane Gresse von Wangenheim, Adriano Borgatto, Ramon Martins
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Association of Sleep Quality with Anxiety and Depression Symptoms among Computer Science Students</b> <br>   
                                Lígia Maria Soares Passos, Christian Murphy, Rita Zhen Chen, Marcos Gonçalves Santana, Giselle Soares Passos
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Correlação Entre Complexidade e Dificuldade de Questões de Programação em Juízes Online</b> <br>   
                                Jackson Fernandes, Leandro Silva Galvão de Carvalho, David Fernandes, Elaine Oliveira, Filipe Dwan Pereira, Tanara Lauschner
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensino de Programação Paralela na Educação Básica: Uma Revisão Sistemática da Literatura, Análise Bibliométrica e Agenda para Estudos Futuros</b> <br>   
                                Felipe Perez, Wilk Oliveira, Anderson Corrêa de Lima, Amaury Castro Jr., Graziela Araújo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensino, Aprendizagem e Uso Profissional da UML em Belo Horizonte e Região</b> <br>   
                                Ian Guelman, Edson Oliveira Jr., Laerte Xavier
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Estudo sobre Evasão nos Cursos de Computação da Universidade Estadual de Maringá</b> <br>   
                                Amanda Tiemi Fukao, Luciana Martimiano, Valéria Feltrim, Thelma Colanzi
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>O sucesso não é apenas uma questão de sorte: um mapeamento sistemático sobre técnicas de análise do Enade da área de Computação</b> <br>   
                                Pedro Luis Saraiva Barbosa, Gabriela Nayara Duarte, Windson Viana, Rafael Carmo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Panorama da diversidade nos cursos presenciais de Computação e Tecnologias da Informação e Comunicação das universidade públicas de Santa Catarina</b> <br>   
                                Maria Teresa Santos, Laís Pisetta Van Vossen, Daniella Vasconcellos, Guilherme Tomaselli Borchardt, Roger Junior, Eric Carvalho da Silveira, Marily Silva, Isabela Gasparini
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Passar nos casos de teste é suficiente? Identificação e análise de problemas de compreensão em códigos corretos</b> <br>   
                                Eryck Silva, Ricardo Caceffo, Rodolfo Azevedo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Tradução e Validação de um Instrumento para Mensurar Atitudes em Relação à Robótica</b> <br>   
                                João Pedro Moraes, Roberto Bittencourt
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Um Mapeamento Sistemático da Literatura sobre Pensamento Computacional na Perspectiva dos Fundamentos Teóricos de Aprendizagem</b> <br>   
                                Julian Mubarack Garcia, Roberto Bittencourt
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma Análise em Larga-Escala das Funcionalidades de Aplicativos criados com App Inventor</b> <br>   
                                Nathalia Alves, Christiane Gresse von Wangenheim
                            </td>
                            </tr>

                        </table>
                         
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#membrosComunidade" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 2: Relatos de Experiência</h4>
                        </button>
                    </h2>
                </div>

                <div id="membrosComunidade" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>A Liga do Pensamento Computacional: uma narrativa distópica para gamificar uma disciplina introdutória de computação</b> <br>   
                                Roberto Pereira, Rachel Reis, Leonam Oliveira, Guilherme Derenievicz, Leticia Peres, Fabiano Silva
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>An Experience Report of Remote Teaching about the IT Leadership Course - A Practical Approach</b> <br>   
                                Marina Rocha, Gabriela Dias, Gilberto Junior de Oliveira, Jorge Luiz, Mateus Andrade, Jacilane Rabelo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Applying Remotely the Challenge Based Learning Methodology in Undergraduate and Postgraduate Disciplines</b> <br>   
                                Andrew Costa, Carlos Lucena, Gustavo Carvalho
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Computação Criativa Online: relato de experiência da adaptação de uma oficina de desenvolvimento do Pensamento Computacional para crianças</b> <br>   
                                Thiago Barcelos, Leticia Rejane Vidal Souza, Ana Kirchoff, Giselle Silva
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Eficácia das Metodologias Ativas e do Suporte Tecnológico no Ensino de Machine Learning na Educação Básica</b> <br>   
                                Ramon Martins, Christiane Gresse von Wangenheim, Marcelo Rauber, Jean Hauck
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensino Remoto de Programação em Java para Estudantes do Ensino Técnico Utilizando Tablets: Um Relato de Experiência</b> <br>   
                                Claudiano Oliveira, Carla Ilane Moreira Bezerra, Emanuel Coutinho
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Gamificando Aulas Invertidas no Ensino de Engenharia de Requisitos: Um Relato de Experiência</b> <br>   
                                Maria Elanne Rodrigues, Gabriela Nayara Duarte, Windson Viana, Anna Beatriz Marques, Necio Veras
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Girls! programming of computers with arts, sciences, games and mathematics</b> <br>   
                                Andreia Marini, Isa Muller, Heloise Tives, Gricel Oliveira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>O Desenvolvimento de Tecnologias Cívicas Como Forma de Exercício da Cidadania</b> <br>   
                                Vinicius Hartmann Ferreira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Pensamento Computacional e Scratch: Um relato de Experiências com Estudantes do Ensino Médio Público no Distrito Federal</b> <br>   
                                Vinicius Monteiro, Maristela Holanda
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>PIBID em Computação: desafios, estratégias e resultados para formação docente em um contexto pandêmico</b> <br>   
                                Ariane Rodrigues, Cleyton Rodrigues
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Robótica Educacional e Habilidades do Século XXI: Um estudo de caso com estudantes do ensino médio</b> <br>   
                                João Pedro Moraes, Roberto Bittencourt, Rodrigo Duran
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Um Relato de Experiência sobre a Oferta da Disciplina “Desenvolvimento de Software Livre” para os Cursos de Ciência da Computação e Sistemas de Informação</b> <br>   
                                Paulo Parreira Júnior, Julio Alves, Heitor Costa, Andre Freire, Igor Wiese
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma contribuição na inserção da Computação nas escolas rurais por meio de computação desplugada</b> <br>   
                                Natália Santana dos Santos, Andressa Medeiros, Nildo Pereira da Silva Junior, Julio Herculani, Simone Tonhão, William de Araujo Cadette, Jorge Prates
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaCurriculo" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 3: Currículos</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaCurriculo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Curricularização da Extensão Universitária em Cursos de Computação: experiências e possibilidades</b> <br>   
                                Amanda Melo, Aline Mello, Diego Kreutz, Maicon Bernardino
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Currículo Paulista e do Projeto Inova Educação: como as tecnologias se inserem nas novas diretrizes curriculares do Estado de São Paulo</b> <br>   
                                Ayana Cristina Anselmo Pereira, Henrique Fonseca, Flávia Linhalis
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Pensamento Computacional e Tecnologias Digitais na Formação de Professores: uma Análise Curricular de Cursos de Licenciatura</b> <br>   
                                Bruno Barboza dos Santos, Taciana Pontual Falcão
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma Análise da Curricularização da Extensão na Graduação em Computação: Possibilidades e Desafios</b> <br>   
                                Andrea Bordin
                            </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaRecursos" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 4: Recursos e Ambientes Educacionais</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaRecursos" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Coleta de evidências do exercício do Pensamento Computacional: um artefato de apoio</b> <br>   
                                Carolina Moreira Oliveira, Roberto Pereira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Cyberbullying na Escola: Entendendo e Lidando com a Crueldade Online</b> <br>   
                                Wellington Pereira, Rozelma França
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensinando Pensamento Computacional para Alunas de Disciplinas Introdutórias de Programação no Ensino Técnico através de um MOOC</b> <br>   
                                Cynthia Santiago, José Roberto Carvalho Lima, Thainara Costa
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Joanimath Robot: Uma Plataforma Robótica Para o Auxílio no Ensino-aprendizagem da Matemática</b> <br>   
                                Iago Oliveira, Glaucia Campos, Anderson Souza, Felipe Oliveira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Normas, Diretrizes e Material Didático para o Ensino de Computação na Educação Básica Brasileira</b> <br>   
                                Marcia Jochims Kniphoff da Cruz, Tainã Tavares, Gustavo Baumgarten, Samanta Marques, Wilk Oliveira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Um recurso educacional para desenvolver a habilidade da percepção de padrões de equívocos com aprendizes de programação</b> <br>   
                                Gabriel Silverson Gomes, Ygor Nishi, Paula Bosse Ramos, Leonardo Silva, Eduardo Guerra, Igor Wiese, Yorah Bosse
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma Ferramenta para Auxiliar o Desenvolvimento do Pensamento Computacional em Crianças</b> <br>   
                                Arthur Santos, Felipe Oliveira, Glaucia Campos
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaEnsaios" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 5: Ensaios</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaEnsaios" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Juízes Online são suficientes ou precisamos de um "VAR"?</b> <br>   
                                Alexandre Barbosa, Evandro de Barros Costa, Patrick Brito
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Reflexões sobre tecnologias digitais da informação e comunicação sob a perspectiva da educação hacker</b> <br>   
                                Aletheia Machado de Oliveira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma possível abordagem para o ensino introdutório de algoritmos em cursos de Computação</b> <br>   
                                Marcos Castilho, Fabiano Silva, Daniel Weingaertner
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaMinicursos" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Minicursos</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaMinicursos" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Google Colab para Ensino de Computação</b> <br>   
                                Ricardo Ferreira, Michael Canesche, Jeronimo Penha
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Recursos Educacionais Abertos para Apoio ao Ensino de Computação na Educação Básica</b> <br>   
                                Fernando Cesar Balbino, William Simão de Deus, Ellen Francine Barbosa
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <!--<div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaWTD" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Workshop de Teses e Dissertações (WTD)</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaWTD" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Boolace: Um Jogo-Curso de Lógica Proposicional</b> <br>   
                                Marcio Flavio Souza
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>CAT (<i>Custom Assessment Tool</i>): Assistindo Professores na Avaliação da Aprendizagem do Pensamento Computacional</b> <br>   
                                Eder Jacques Farias, Windson Viana, Alysson Diniz dos Santos, Jacqueline Ramos Macedo Antunes de Souza
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>CollabProg: Um Repositório Colaborativo Aberto para Apoiar na Adoção de Metodologias Ativas no Ensino de Programação</b> <br>   
                                Ivanilse Calderon, Williamson Silva, Eduardo Feitosa
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Jogos para o aprendizado de programação: como as modalidades mono e multijogadores afetam a motivação dos alunos?</b> <br>   
                                Rodrigo da Silva, Edward Hermann Haeusler, Jefferson Santos
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Percepções do ensino de IHC: análises e aplicação prática</b> <br>   
                                Danilo Silveira Martins, Maria Villela
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Proposta de Um Modelo Gamificado Com Elementos de RPG de Mesa para o Desenvolvimento do Pensamento Computacional</b> <br>   
                                Felipe Túlio de Castro, Caroline Queiroz Santos, Maria Villela
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Revelando Competências no PBL Aplicado ao Ensino de Computação: Uma Solução Baseada em IA para Alinhamento Construtivo entre Objetivos Educacionais e <i>Feedbacks</i> dos Estudantes</b> <br>   
                                Davi Mendes Maia, Simone Santos
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Usando sistemas colaborativos em recursos educacionais: um estudo de caso na educação superior em computação</b> <br>   
                                Fernando Tiosso, Sarita Bruschi
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaLabIdeias" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Laboratório de Ideias</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaLabIdeias" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <b>Boas Práticas em Ambientes de Ensino de Computação: uma Proposta de Oficina</b> <br>   
                                    Silvia Amelia Bim, Taciana Pontual Falcão
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Boolace: Um Jogo-Curso de Lógica Proposicional</b> <br>   
                                    Marcio Flavio Souza
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Cinéma: Um Jogo para Auxílio no Ensino de Audiovisual em um curso de Computação Gráfica</b> <br>   
                                    Fellipe Silva, Aldair Filho, Samuel Oliveira, Romulo Monteiro, Andressa Ferreira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Codecasts e Codelibras para o Ensino de Programação em Moocs</b> <br>   
                                    Márcia Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Como Licenciandos Podem Desenvolver o Pensamento Computacional no Contexto Educacional?</b> <br>   
                                    Lais Baptista, Roberto Bittencourt
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Como Professores da Educação Básica Podem Ensinar o Pensamento Computacional de Forma Interdisciplinar?</b> <br>   
                                    Lais Baptista, Roberto Bittencourt
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Conexões entre o Pensamento Computacional e o Pensamento Algébrico em Design de Jogos na Plataforma Scratch para o Ensino da Matemática nos Anos Finais da Educação Básica</b> <br>   
                                    Jairo Da Silva, Taciana Pontual Falcão
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Laboratório de Pensamento Computacional na Perspectiva da Educação Científica para Formação de Professores</b> <br>   
                                    Jadson Rafalski, Maria Aparecida de Faria da Silva, Kenia Luiza Oliveira, Márcia Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Monitoria na Disciplina da Primeira Linguagem de Programação</b> <br>   
                                    Maristela Holanda, Carla Castanho, Ian Bandeira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>PCLib App: Referatório de Recursos Educacionais para Desenvolvimento do Pensamento Computacional</b> <br>   
                                    Ytalo Paulo Wilian da Silva, Iago Sinésio Ferris Silva, Bruno Barboza dos Santos, Taciana Pontual Falcão
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Pensamento computacional: abstração, requisitos operacionais e paradigmas de programação</b> <br>   
                                    Ana Paula Ludtke Ferreira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Produção de Material Didático Adaptado a Alunos com Deficiência Visual para Curso de Computação</b> <br>   
                                    Wendell Bento Geraldes, Agenor Freitas Andrade, Ulisses Rodrigues Afonseca, Cicero Batista dos Santos Lima, Raquel Ribeiro Riclizek
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Repensando o ensino de computação</b> <br>   
                                    José Palazzo Moreira de Oliveira, Elaine Oliveira, Isabela Gasparini, Leandro Wives
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Robótica educacional para formação técnica em agropecuária</b> <br>   
                                    Dalva Ferraz, Márcia Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Um Ambiente Gamificado para o Ensino de Teste de Mutação</b> <br>   
                                    Dario Darienço, Pedro Henrique Dias Valle
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Uma Estratégia de Avaliação de um Code Puzzle Game</b> <br>   
                                    Luis Gustavo Araújo, Antonio Passos
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Uma proposta de Avaliação Multidimensional da aprendizagem de programação na Formação Profissional</b> <br>   
                                    Evandro Scarpati, Márcia Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Uma proposta para utilização da metodologia POGIL no ensino de programação: estudo piloto</b> <br>   
                                    Marcos Augusto de Souza Pinto, Elaine Oliveira, Thiago Lopes Costa, Alexandre Passito, Leandro Silva Galvão de Carvalho, David Fernandes
                                </td>
                            </tr>
                            
                        </table>

                    </div>
                </div>
            </div>-->
        </div>
        
        </div>
      </div>
    </div>
  </section>