  {{> simposio/2023/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
      <div class="row">
        <div class="col-lg-8 mx-auto">

        <h2 style="margin-bottom: 1em;">Painéis</h1>

        <div style="margin: 2em;">
            <strong>Coordenação:</strong> Bruno Gadelha (UFAM)<br>
            <strong>Contato:</strong> bruno@icomp.ufam.edu.br
        </div>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            Em 2023, o EduComp trará uma chamada específica para painéis da conferência. Essa ação é motivada pela necessidade da ampliação do diálogo com a comunidade interessada em Educação em Computação visando trazer para o evento tópicos de interesse da comunidade. As sessões de painel oferecem uma oportunidade para os painelistas especialistas da área de Educação em Computação apresentarem seus pontos de vista sobre um tópico específico e, em seguida, discutirem esses pontos de vista entre si e com o público. Normalmente, uma sessão de painel começa com uma breve introdução do tema do painel e dos participantes, seguida de breves apresentações dos painelistas dando suas opiniões. Eles são agendados em espaços de conferência padrão. A sessão deve permitir oportunidade suficiente para um período interativo de perguntas e respostas envolvendo tanto os painelistas quanto o público.
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
            Um painel típico será composto por até quatro participantes, incluindo o moderador. Limitar um painel a quatro participantes permite tempo suficiente para perguntas do público. Propostas com mais de quatro painelistas devem mostrar de forma convincente que todos os painelistas serão capazes de falar e o público poderá responder dentro do tempo da sessão.
        </p>

        <h3>Formato e Submissão</h3>
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
            As propostas devem se limitar a duas páginas, em português ou inglês, e devem seguir o formato do EduComp (disponível em template do Overleaf <a href="https://www.overleaf.com/latex/templates/educomp2023-template-versao-final/cnjxnyjrjkry" target="_blank">aqui</a> e no formato Word <a href="https://drive.google.com/file/d/15WAUZEbj-1zUajWso4dMEKi-WH8FNx40/view?usp=sharing" target="_blank">aqui</a>)
            plataforma JEMS. <a href="https://jems.sbc.org.br/home.cgi?c=4214" target="_blank">JEMS</a>.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            Ao fornecer informações sobres os autores, indique qual dos painelistas é o moderador colocando a palavra “Moderador” entre parênteses após seu nome.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            Os autores que submetem à trilha de painéis devem usar os nomes das seções padronizadas e informações adicionais de formatação ao preparar suas propostas, conforme instruções a seguir:
        </p>

        <ul class="lead" style="text-align: justify; font-size: 14pt">
            <li>
                <b>Abstract:</b> Deve fornecer um breve resumo (até 250 palavras) do seu painel.
            </li>
            <li>
                <b>Visão Geral:</b> A primeira seção deve ser intitulada Visão Geral e deve fornecer um resumo expandido dos objetivos do painel, público-alvo e relevância para a comunidade do Educomp 2023.
            </li>
            <li>
                <b>Estrutura do painel:</b> As seções subsequentes devem conter o posicionamento de cada painelista acerca do tema do painel, além de uma breve descrição de sua experiência profissional e experiência em relação ao tema do painel. Dê um título a cada seção identificando o painelista.
            </li>
            <li>
                <b>Posicionamento dos painelistas:</b> A primeira seção deve ser intitulada Visão Geral e deve fornecer um resumo expandido dos objetivos do painel, público-alvo e relevância para a comunidade do Educomp 2023.
            </li>
            <li>
                <b>Referências:</b> A citação de trabalhos relevantes, quando apropriado, é encorajada, mas não obrigatória. Se as referências forem incluídas, elas devem ser colocadas em uma seção separada intitulada Referências e devem seguir as diretrizes de formatação do template utilizado.
            </li>
        </ul>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            As propostas de painéis devem ser submetidas eletronicamente, em formato PDF, por meio da plataforma <a href="https://jems.sbc.org.br/home.cgi?c=4216" target="_blank">JEMS</a>. A revisão da proposta do painel NÃO é anônima. As propostas serão analisadas pelo comitê de seleção de painéis, considerando o nível provável de interesse no tema, a inclusão de membros do painel com múltiplas perspectivas sobre o tema e a probabilidade de o painel deixar tempo suficiente para a participação do público.
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
             Como a chamada de painéis é uma novidade no Educomp 2023, os proponentes de painéis podem inspirar-se em alguns exemplos de propostas de painéis apresentados no SIGCSE 2022: <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499226" target="_blank">Belonging in Computing</a>, <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499225" target="_blank">The Case for Acknowledging Subjectivity in CS Education Research Data</a>, e <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499230" target="_blank">Should the AP Computer Science A Exam Switch to Using Python?</a>.
        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
      </div>
    </div>
  </section>