<footer class="text-white educomp-footer">
  <div class="container">
    <div class="row m-0 text-white">

      <div class="col-md-3 text-center align-items-center justify-content-center">
        <a href="/simposio/2025/educomp/inscricoes" class="btn btn-incricoes">Inscrições</a>
        <a href="/simposio/2025/educomp/programacao" class="btn btn-programacao disabled">Programação</a>
      </div>

      <div class="col-md-5 mt-2 d-flex align-items-center">
        <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
          <li class="d-flex align-items-center"><i class="fab fa-facebook-f text-color-secondary" aria-hidden="true"></i>
            <p class="m-0"><a class="text-white" href="https://facebook.com/educompbr">/educompbr</a></p>
          </li>
          <li class="d-flex align-items-center"><i class="fab fa-instagram text-color-secondary" aria-hidden="true"></i>
            <p class="m-0"><a class="text-white" href="https://instagram.com/educompbr">@educompbr</a></p>
          </li>
          <li class="d-flex align-items-center"><i class="fab fa-youtube text-color-secondary" aria-hidden="true"></i>
            <p class="m-0"><a class="text-white" href="https://youtube.com/giecsbc">@giecsbc</a></p>
          </li>
          <li class="d-flex align-items-center"><i class="far fa-envelope text-color-secondary" aria-hidden="true"></i>
            <p class="m-0"><a class="text-white" href="mailto:educomp2025@gmail.com">educomp2025@gmail.com</a></p>
          </li>
        </ul>
      </div>

      <div class="col-md-4 d-flex align-items-center justify-content-center">
        <a href="/simposio/2025/educomp">
          <img id="logo-educomp" src="/img/simposio/2025/logos/edc25_texto_branco.png" alt="Logo EduComp 2025" />
        </a>
      </div>
      
    </div>
  </div>
</footer>