<footer class="text-white educomp-footer">
  <div class="container">
    <div class="row m-0 text-white">

      <div class="col-md-4 text-center align-items-center justify-content-center">
        <h5>Contato</h5>
        <a data-mdb-ripple-init class="btn btn-light btn-floating m-1" href="https://www.facebook.com/educompbr" target="_blank" role="button">
          <i class="fab fa-facebook-f icon"></i>
        </a>
        <a data-mdb-ripple-init class="btn btn-light btn-floating m-1" href="https://www.instagram.com/educompbr" target="_blank" role="button">
          <i class="fab fa-instagram icon"></i>
        </a>
        <a data-mdb-ripple-init class="btn btn-light btn-floating m-1" href="https://www.youtube.com/@GIECSBC" target="_blank" role="button">
          <i class="fab fa-youtube icon"></i>
        </a>
        </br>
        <a id="email" href="mailto:educomp2025@gmail.com">educomp2025@gmail.com</a>
      </div>

      <div class="col-md-4 text-center align-items-center justify-content-center">
        <h5>Realização</h5>
        <a class="imagelink" href="http://www.sbc.org.br" target="_blank">
          <img src="/img/simposio/2025/logos/sbc.png" style="height: 5rem; padding-right: 1em;" />
        </a>
        <a class="imagelink" href="/" target="_blank">
          <img src="/img/simposio/2025/logos/ceducomp.png" style="height: 4rem; padding-left: 1em;" />
        </a>
      </div>

      <div class="col-md-4 text-center">
        <h5>Apoio</h5>
        <a class="imagelink" href="https://institucional.caeddigital.net/index.html" >
          <img class="logocaed" src="/img/simposio/2025/eb/logocaed.png" style="width: 150px; height: 50px"/>
        </a>
      </div>

      <div class="col-md-4 text-center align-items-center justify-content-center">
        <h5>Organização</h5>
        <a class="imagelink" href="https://www.ufjf.br/" target="_blank">
          <img src="/img/simposio/2025/logos/ufjf.png" style="height: 5rem;" />
        </a>
      </div>

      <div class="col-md-4 text-center">
        <h5>Patrocínio</h5>
        <a class="imagelink" href="https://www.gov.br/capes/pt-br" target="_blank">
          <img src="/img/simposio/2025/logos/logocapes.png" style="height: 5rem;" />
        </a>
      </div>

      <div class="col-md-4 text-center">
        <h5>Apoio de Mídias e Web</h5>
        <a class="imagelink" href="https://thinktedlab.org"  target="_blank">
          <img src="/img/simposio/2025/eb/logos/thinkted.png" style="height: 5rem;" />
        </a>
        <a class="imagelink" href="https://www2.ufjf.br/getcomp/"  target="_blank">
          <img src="/img/simposio/2025/eb/logos/logogetcomp.png" style="height: 5rem;" />
        </a>
      </div>
    </div>
 </div>
</footer>

