<div id="educomp-home">
  <section id="carrossel" class="carousel-section">
    <div id="carousel-controls" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carousel-controls" data-slide-to="0" class="active"></li>
        <!-- <li data-target="#carousel-controls" data-slide-to="1"></li> -->
      </ol>
      <div class="carousel-inner carousel-container">
                
        <div class="carousel-item active">
          <img src="/img/simposio/2025/educomp/carrossel/carrossel-2.png" class="d-block w-100"/>
          <div class="carousel-caption d-none d-md-block"></div>
        </div>

        <!-- <div class="carousel-item">
          <img src="/img/simposio/2025/educomp/carrossel/carrossel-1.png" class="d-block w-100"/>
          <div class="carousel-caption d-none d-md-block"></div>
        </div> -->
      
      </div>
      <a class="carousel-control-prev" href="#carousel-controls" role="button" data-slide="prev">
        <i class="fa fa-angle-left" alt="Anterior"></i>
      </a>
      <a class="carousel-control-next" href="#carousel-controls" role="button" data-slide="next">
        <i class="fa fa-angle-right" alt="Próximo"></i>
      </a>
    </div>
  </section>

  <section id="sobre-educomp">
    <div class="container">
      <div class="row d-flex flex-column flex-md-row justify-content-around">
        <div class="col-md-10 col-lg-5 mb-5">
          <h2>Sobre o EduComp</h2>
          <p>
            O Simpósio Brasileiro de Educação em Computação (EduComp), realizado pela Sociedade Brasileira de Computação (SBC), é um evento anual congregando pesquisadores e educadores da área de Educação em Computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.
          </p>
        </div>
        <div class="col-md-10 col-lg-5 d-flex justify-content-center align-items-end">
          <img src="/img/simposio/2025/educomp/menina-educomp.png" class="img-fluid w-100" alt="Imagem ilustrativa da seção sobre o EduComp" />
        </div>
      </div>
    </div>
  </section>

  <section id="chamadas">
    <div class="container text-center">
      <h2>Chamadas de <span class="text-red">trabalhos</span></h2>
      <div class="row">

        <div class="col-md-6 col-lg-4 mb-5">
          <div class="card chamada-card card-1 d-flex flex-column">
            <div class="icon-circle">
              <i class="fa fa-pen-to-square"></i>
            </div>
            <div class="card-title">
              <h3>Artigos completos</h3>
            </div>
            <div class="card-body">
              <p>
                Artigos completos de pesquisa, relatos de experiência, currículos, recursos e ambientes educacionais e ensaios na área de Educação em Computação.
              </p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp/chamadas/artigos-completos">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <div class="card chamada-card card-2 d-flex flex-column">
            <div class="icon-circle">
              <i class="fa fa-lightbulb"></i>
            </div>
            <div class="card-title">
              <h3>Laboratório de ideias</h3>
            </div>
            <div class="card-body">
              <p>
                Espaço para divulgação de trabalhos em andamento, ideias novas e não-testadas e/ou oportunidades de colaboração na área de Educação em Computação.
              </p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp/chamadas/laboratorio-ideias">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <div class="card chamada-card card-3 d-flex flex-column">
            <div class="icon-circle">
              <i class="fa fa-comments"></i>
            </div>
            <div class="card-title">
              <h3>Mesas temáticas</h3>
            </div>
            <div class="card-body">
              <p>
                Encontros para discussões, questionamentos e estabelecimento de agendas pela comunidade interessada em Educação em Computação.
              </p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp/chamadas/mesas-tematicas">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <div class="card chamada-card card-4 d-flex flex-column">
            <div class="icon-circle">
              <i class="fa fa-chalkboard-user"></i>
            </div>
            <div class="card-title">
              <h3>Minicursos</h3>
            </div>
            <div class="card-body">
              <p>
                Cursos de curta duração para introdução ou aprofundamento em tópicos de interesse no âmbito de Educação em Computação.
              </p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp/chamadas/minicursos">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <div class="card chamada-card card-5 d-flex flex-column">
            <div class="icon-circle">
              <i class="fa fa-award"></i>
            </div>
            <div class="card-title">
              <h3>Concurso de teses e dissertações</h3>
            </div>
            <div class="card-body">
              <p>
                Concurso de trabalhos defendidos em programas de pós-graduação stricto sensu em temas relacionados à área de Educação em Computação.
              </p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp/chamadas/ctd">Saiba mais</a>
            </div>
          </div>
        </div>

        <div class="col-md-6 col-lg-4 mb-5">
          <div class="card chamada-card card-6 d-flex flex-column">
            <div class="icon-circle">
              <i class="fa fa-graduation-cap"></i>
            </div>
            <div class="card-title">
              <h3>Workshop de teses e dissertações</h3>
            </div>
            <div class="card-body">
              <p>
                Fórum para apresentação e discussão de trabalhos de mestrado e de doutorado em desenvolvimento na área de Educação em Computação.
              </p>
            </div>
            <div class="card-footer text-center">
              <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp/chamadas/wtd">Saiba mais</a>
            </div>
          </div>
        </div>

      </div>  
    </div>
  </section>

  <section id="presencial">
    <div class="container">
      <h2>1ª edição presencial</h2>
      <p>
        Em 2025, a <a href="https://www2.ufjf.br/" target="_blank">Universidade Federal de Juiz de Fora (UFJF)</a> organizará a 5ª edição do EduComp, que será realizada pela primeira vez em <strong>formato presencial</strong>, no período de <strong>7 a 10 de abril de 2025</strong>, na cidade de <strong>Juiz de Fora - MG</strong>.
        Em sua programação, o EduComp 2025 contará com palestras, minicursos, sessões técnicas, mesas temáticas, laboratório de ideias, bem como o <i>workshop</i> e o concurso de teses e dissertações.
        O EduComp 2025 será co-locado com o II Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2025).
      </p>

      <div class="row justify-content-around mt-5">
        <div class="col-md-10 col-lg-6 mb-5">
          <div class="card d-flex flex-column card-jf">
            <div class="card-title">
              <h3>Conheça Juiz de Fora</h3>
            </div>
            <div class="card-body">
              <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp/local/conheca-juiz-de-fora">Clique aqui</a>
            </div>
            <div class="card-footer">
              <a href="https://commons.wikimedia.org/wiki/File:Vista_do_centro_de_Juiz_de_Fora-MG.JPG?uselang=pt-br" target="_blank">Imagem: André Ribeiro</a>
            </div>
          </div>
        </div>

        <div class="col-md-10 col-lg-6 mb-5">
          <div class="card d-flex flex-column card-ufjf">
            <div class="card-title">
              <h3>Programação</h3>
            </div>
            <div class="card-body">
              <a class="btn btn-primary btn-sm mt-auto disabled" href="#">Em breve</a>
            </div>
            <div class="card-footer">
              <a href="https://www.flickr.com/photos/ufjf/23104913929/" target="_blank">Imagem: Caique Cahon / UFJF</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="row call-to-action justify-content-center align-items-center">
            <div class="col-lg-9 text-center text-lg-left">
              <p class="titulo">As inscrições para o evento já estão abertas!</p>
              <p class="subtitulo">Faça já a sua inscrição e aproveite os valores reduzidos dos primeiros lotes.</p>
            </div>
            <div class="col-lg-3 text-center">
              <a href="/simposio/2025/sbc-eb/inscricoes/" target="_blank" class="btn btn-action">Saiba mais</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sbc-eb">
    <div class="container">
      <h2>Já conhece o <span class="text-yellow">SBC-EB</span>?</h2>
      <p>
        O EduComp 2025 será co-locado com o <strong>II Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2025)</strong>, fortalecendo a Educação em Computação, promovendo mais conexões, debates e oportunidades para todos os níveis de ensino.
      </p>
      <div class="row d-flex flex-column flex-md-row justify-content-around mt-5">
        <div class="col-md-8 col-lg-7">
          <img class="w-100" src="/img/simposio/2025/sbc-eb/logos/logo-brasil.png" alt="Logotipo do SBC-EB 2025" />
        </div>
        <div class="col-md-10 col-lg-5">
          <h3>Computação na <span class="text-green">Educação Básica</span></h3>
          <p>
            O SBC-EB irá reunir docentes e discentes de cursos de licenciatura, gestores de escolas e gestores públicos da área de Educação com especialistas no ensino de Computação, criando um fórum de discussão, aprendizado e troca de experiências, integrando a comunidade nacional com interesse em Computação na Educação Básica.
          </p>
          <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/sbc-eb">Acesse o site</a>
        </div>
      </div>
    </div>
  </section>

  <section id="sobre-sbc">
    <div class="container">
      <div class="row d-flex flex-column flex-md-row justify-content-around">
        <div class="col-md-12 col-lg-7">
          <h2>Sobre a SBC</h2>
          <p>
            A Sociedade Brasileira de Computação - SBC é uma Sociedade Científica sem fins lucrativos, fundada em julho de 1978, que reúne estudantes, professores, profissionais, pesquisadores e entusiastas da área da Computação e Informática de todo o país.
          </p>
          <p>
            A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão digital, incentivar a pesquisa e o ensino em computação no Brasil, e contribuir para a formação do profissional da computação com responsabilidade social.
          </p>
          <p>
            Para organização e divulgação de atividades, ações e eventos científicos, técnicos, educacionais e políticos, a SBC mantém uma estrutura de três tipos de Grupos Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns em subáreas da computação.
          </p>
          <p>
            Aqui, você está acessando o site do evento de uma das Comissões Especiais (CE) da SBC, que representa um grupo de associados da SBC que compartilham dos interesses e valores em determinada área da Computação. Associados vigentes podem se inscrever nas <a href="https://www.sbc.org.br/comissoes-especiasis/" target="_blank">listas de e-mail das Comissões Especiais (CE)</a> da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a> e venha fazer parte da maior e mais importante sociedade científica na área de computação da América Latina!
          </p>
        </div>
        <div class="col-md-7 col-lg-5 d-flex align-items-center justify-content-center">
          <div class="card-sbc">
            <a class="imagelink" href="https://centraldesistemas.sbc.org.br/mom">
              <img class="img-fluid card-sbc-frente" src="/img/simposio/2025/comum/card-sbc-frente.png" />
            </a>
            <a class="imagelink" href="https://www.sbc.org.br/comissoes-especiasis/">
              <img class="img-fluid card-sbc-verso" src="/img/simposio/2025/comum/card-sbc-verso.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> simposio/2025/comum/pt-BR/parceiros}}
</div>
