<style>
  td {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

{{> simposio/2024/pt-BR/inside-header}}

<section id="datas" style="background-color:white;">
  <div class="container" style="font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-10 mx-auto">

        <div class="container  mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação Geral do Comitê de Programa</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Marco Aurélio Graciotto Silva</td>
                    <td>UTFPR</td>
                    <td>magsilva@utfpr.edu.br</td>
                  </tr>

                </tbody>
              </table>
            </div>


          </div>
        </div>


        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação Geral das Trilhas Formativas</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Adão Caron Cambraia</td>
                    <td>IFFarroupilha</td>
                    <td>adao.cambraia@iffarroupilha.edu.br</td>
                  </tr>





                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Trilha 1 – Artigos de Pesquisa</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>

                  <tr>
                    <td>Jean Carlo Rossa Hauck</td>
                    <td>UFSC</td>
                    <td>jean.hauck@ufsc.br</td>
                  </tr>
                  <tr>
                    <td>Ricardo Edgard Caceffo</td>
                    <td>Unicamp/Univesp</td>
                    <td>caceffo@ic.unicamp.br</td>
                  </tr>




                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Trilha 2 – Relatos de Experiência</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Kiev Santos da Gama </td>
                    <td>UFPE</td>
                    <td>kiev@cin.ufpe.br</td>
                  </tr>
                  <tr>
                    <td>Emanuel Ferreira Coutinho</td>
                    <td>UFC</td>
                    <td>emanuel.coutinho@ufc.br</td>
                  </tr>


                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Trilha 3 – Currículos</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Ana Paula Lüdtke Ferreira</td>
                    <td>UNIPAMPA</td>
                    <td>anaferreira@unipampa.edu.br</td>
                  </tr>
                  <tr>
                    <td>Ana Liz Souto Oliveira</td>
                    <td>UFPB</td>
                    <td>analiz@dcx.ufpb.br</td>
                  </tr>


                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Trilha 4 – Recursos e Ambientes Educacionais</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Rafaela Vilela da Rocha</td>
                    <td>UFABC</td>
                    <td>rafaela.vilela@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Eduardo Figueiredo</td>
                    <td>UFMG</td>
                    <td>figueiredo@dcc.ufmg.br</td>
                  </tr>






                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container  mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Trilha 5 – Ensaios</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>João Henrique Berssanette</td>
                    <td>IFPR</td>
                    <td>joao.berssanette@ifpr.edu.br</td>
                  </tr>
                  <tr>
                    <td>Mirella Moura Moro</td>
                    <td>UFMG</td>
                    <td>mirella@dcc.ufmg.br</td>
                  </tr>






                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Laboratório de Ideias</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Nathalia da Cruz Alves</td>
                    <td>UFSC</td>
                    <td>nathalia.alves@posgrad.ufsc.br</td>
                  </tr>






                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">WTD-EduComp - Workshop de Teses e Dissertações em Educação em Computação
                      </h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Sheila Reinehr</td>
                    <td>PUC-PR</td>
                    <td>sheila.reinehr@pucpr.br</td>
                  </tr>






                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">CTD-EduComp - Concurso de Teses e Dissertações em Educação em Computação
                      </h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Windson Viana de Carvalho </td>
                    <td>UFC</td>
                    <td>windson@virtual.ufc.br</td>
                  </tr>
                  <tr>
                    <td>Ellen Francine Barbosa</td>
                    <td>ICMC-USP</td>
                    <td>francine@icmc.usp.br</td>
                  </tr>






                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação de Minicursos</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Yorah Bosse</td>
                    <td>UFMS</td>
                    <td>yorah.bosse@ufms.br</td>
                  </tr>
                  <tr>
                    <td>Amaury Antonio de Castro Junior</td>
                    <td>UFMS</td>
                    <td>amaury.junior@ufms.br</td>
                  </tr>






                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação de Mesas Temáticas</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Ecivaldo de Souza Matos</td>
                    <td>USP</td>
                    <td>ecivaldo@usp.br</td>
                  </tr>







                </tbody>
              </table>
            </div>


          </div>
        </div>


        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">ForLic - Fórum de Licenciatura em Computação</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Marcia Elena Jochims Kniphoff da Cruz</td>
                    <td>UNISC</td>
                    <td>mcruz@unisc.br</td>
                  </tr>

                  <tr>
                    <td>Maria Claudete Schorr</td>
                    <td>Univates</td>
                    <td>mclaudetesw@univates.br</td>
                  </tr>

                  <tr>
                    <td>Diego Berti Bagestan</td>
                    <td>UNIVATES</td>
                    <td>diego.bagestan@educteutonia.com.br</td>
                  </tr>

                  <tr>
                    <td>Samanta Ghisleni Marques</td>
                    <td>Colégio Dom Alberto</td>
                    <td>samanta.marques@domalberto.edu.br</td>
                  </tr>







                </tbody>
              </table>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
</section>