<style>
  td {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

{{> simposio/2024/pt-BR/inside-header}}

<section style="background-color:white;">
  <div class="container" style=" font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-10 mx-auto">

        <div class="container">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Rodrigo Duran</td>
                    <td>IFMS</td>
                    <td>rodrigo.duran@ifms.edu.br</td>
                  </tr>

                  <tr>
                    <td>Rozelma Soares de França</td>
                    <td>UFRPE</td>
                    <td>rozelma.franca@ufrpe.br</td>
                  </tr>





                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Comitê Gestor</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Rodrigo Duran</td>
                    <td>IFMS</td>
                    <td>rodrigo.duran@ifms.edu.br</td>
                  </tr>

                  <tr>
                    <td>Rozelma Soares de França</td>
                    <td>UFRPE</td>
                    <td>rozelma.franca@ufrpe.br</td>
                  </tr>

                  <tr>
                    <td>Johnny Cardoso Marques</td>
                    <td>ITA</td>
                    <td>johnny@ita.br</td>
                  </tr>

                  <tr>
                    <td>Pedro Henrique Dias Valle</td>
                    <td>UFJF</td>
                    <td>pedrovalle@ice.ufjf.br</td>
                  </tr>

                  <tr>
                    <td>Sheila Reinehr</td>
                    <td>PUC-PR</td>
                    <td>sheila.reinehr@pucpr.br</td>
                  </tr>

                  <tr>
                    <td>Graziela Guarda</td>
                    <td>Mackenzie</td>
                    <td>graziela.guarda@mackenzie.br</td>
                  </tr>

                  <tr>
                    <td>Marcia Elena Jochims Kniphoff da Cruz</td>
                    <td>UNISC</td>
                    <td>marciakniphoff@gmail.com</td>
                  </tr>



                </tbody>
              </table>
            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
</section>