<style>
  td {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

{{> simposio/2024/pt-BR/inside-header}}

<section style="background-color:white;">
  <div class="container" style="font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-10 mx-auto">

        <div class="container">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação Geral do Comitê Diretivo</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Rodrigo Duran</td>
                    <td>IFMS</td>
                    <td>rodrigo.duran@ifms.edu.br</td>
                  </tr>
                  <tr>
                    <td>Windson Viana de Carvalho</td>
                    <td>UFC</td>
                    <td>windson@virtual.ufc.br</td>
                  </tr>
                  <tr>
                    <td>Marco Aurélio Graciotto Silva</td>
                    <td>UTFPR</td>
                    <td>magsilva@utfpr.edu.br</td>
                  </tr>
                  <tr>
                    <td>Mirella Moro</td>
                    <td>UFMG</td>
                    <td>mirella@dcc.ufmg.br</td>
                  </tr>
                  <tr>
                    <td>Ellen Francine Barbosa</td>
                    <td>ICMC-USP</td>
                    <td>francine@icmc.usp.br</td>
                  </tr>





                </tbody>
              </table>
            </div>


          </div>
        </div>
      </div>
    </div>
  </div>
</section>