<style>
  td {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

{{> simposio/2024/pt-BR/inside-header}}

<section id="datas" style="background-color:white;">
  <div class="container" style=" font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-10 mx-auto">


        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Coordenação Geral</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Graziela Guarda</td>
                    <td>Mackenzie</td>
                    <td>graziela.guarda@mackenzie.br</td>
                  </tr>
                  <tr>
                    <td>Ismar Frango Silveira</td>
                    <td>Mackenzie</td>
                    <td>ismar.silveira@mackenzie.br</td>
                  </tr>


                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Articulação Cultural</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Daniela Vieira Cunha</td>
                    <td>Mackenzie</td>
                    <td>daniela.cunha@mackenzie.br</td>
                  </tr>
                  <tr>
                    <td>Graziela Guarda</td>
                    <td>Mackenzie</td>
                    <td>graziela.guarda@mackenzie.br</td>
                  </tr>
                  <tr>
                    <td>Ismar Frango Silveira</td>
                    <td>Mackenzie</td>
                    <td>ismar.silveira@mackenzie.br</td>
                  </tr>

                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Conexão com a Educação Básica</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>

                  <tr>
                    <td>Débora Bezerra Linhares Libório</td>
                    <td>Mackenzie</td>
                    <td>debora.liborio@mackenzie.br</td>
                  </tr>


                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Dados e Programação</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>André Rodrigues Oliveira</td>
                    <td>Mackenzie</td>
                    <td>andre.rodrigues@mackenzie.br</td>
                  </tr>



                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Editoração e Publicação dos Anais</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Williamson Silva</td>
                    <td>UNIPAMPA</td>
                    <td>williamsonsilva@unipampa.edu.br</td>
                  </tr>
                  <tr>
                    <td>Pedro Henrique Dias Valle</td>
                    <td>UFJF</td>
                    <td>pedrovalle@ice.ufjf.br</td>
                  </tr>
                  <tr>
                    <td>Newarney Torrezão da Costa</td>
                    <td>IF-Goiano</td>
                    <td>newarney.costa@ifgoiano.edu.br</td>
                  </tr>
                  <tr>
                    <td>Ricardo Ferreira Vilela</td>
                    <td>UFCA</td>
                    <td>ricardo.ferreira@ufca.edu.br</td>
                  </tr>




                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Ferramental Online e
                        Equipe de Apoio Técnico</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Ana Grasielle Dionisio Correa</td>
                    <td>Mackenzie</td>
                    <td>ana.correa@mackenzie.br</td>
                  </tr>
                  <tr>
                    <td>Thiago Donizetti</td>
                    <td>Mackenzie</td>
                    <td>thiagodonizetti.santos@mackenzie.br</td>
                  </tr>
                  <tr>
                    <td>Jussara Pimenta</td>
                    <td>IFSP</td>
                    <td>jussara.pimenta@ifsp.edu.br</td>
                  </tr>
                  <tr>
                    <td>Teresa Buscato</td>
                    <td>IFSP</td>
                    <td>teresahbmartins@ifsp.edu.br</td>
                  </tr>


                  <tr>
                    <td>Ariovaldo José de Almeida</td>
                    <td>Mackenzie</td>
                    <td>ariovaldojose.almeida@mackenzie.br</td>
                  </tr>
                  <tr>
                    <td>Alessandreia Oliveira</td>
                    <td>UFJF</td>
                    <td>alessandreia.oliveira@ufjf.br</td>
                  </tr>
                  </tr>
                  <tr>
                    <td>Ronney Castro</td>
                    <td>UFJF</td>
                    <td>ronney.castro@ufjf.br</td>
                  </tr>
                  </tr>
                  <tr>
                    <td>Victor Stroele</td>
                    <td>UFJF</td>
                    <td>victor.stroele@ice.ufjf.br</td>
                  </tr>
                  <tr>
                    <td>Edmar Oliveira</td>
                    <td>UFJF</td>
                    <td>oliveira.edmar@ufjf.br</td>
                  </tr>

                  <tr>
                    <td>Liamara Scortegagna</td>
                    <td>UFJF </td>
                    <td>liamara@ice.ufjf.br</td>
                  </tr>

                  <tr>
                    <td>José Maria David</td>
                    <td>UFJF </td>
                    <td>jmndavid@gmail.com</td>
                  </tr>

                  <tr>
                    <td>Pedro Henrique Dias Valle</td>
                    <td>UFJF </td>
                    <td>pedrovalle@ice.ufjf.br</td>
                  </tr>





                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Financeiro</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>André Rodrigues Oliveira</td>
                    <td>Mackenzie</td>
                    <td>andre.rodrigues@mackenzie.br</td>
                  </tr>





                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Inscrições e Certificados</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Yorah Bosse</td>
                    <td>UFMS</td>
                    <td>yorah.bosse@ufms.br</td>
                  </tr>
                  <tr>
                    <td>Cleon Xavier Pereira Júnior </td>
                    <td>IF-Goiano</td>
                    <td>cleon.junior@ifgoiano.edu.br</td>
                  </tr>
                  <tr>
                    <td>Esdras Bispo Jr.</td>
                    <td>UFJ</td>
                    <td>bispojr@ufj.edu.br</td>
                  </tr>




                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Promoção da Inclusão e Acessibilidade</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>Jeane Melo </td>
                    <td>UFRPE</td>
                    <td>jeane.bmelo@ufrpe.br</td>
                  </tr>
                  <tr>
                    <td>Claudia Pereira</td>
                    <td>UEFS</td>
                    <td>claudiap@uefs.br</td>
                  </tr>
                  <tr>
                    <td>Laís Farias</td>
                    <td>UEFS</td>
                    <td>laisfariasalvessi@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Luciana Goudinho</td>
                    <td>UFF</td>
                    <td>lucianagoudinho@id.uff.br</td>
                  </tr>




                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Publicidade e Mídias Sociais</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>
                  <tr>
                    <td>João Bernardo</td>
                    <td>UEA</td>
                    <td>jrsb@icomp.ufam.edu.br</td>
                  </tr>
                  <tr>
                    <td>Fabrizio Honda</td>
                    <td>UEA</td>
                    <td>fabrizio.honda@icomp.ufam.edu.br</td>
                  </tr>
                  <tr>
                    <td>Fernanda Pires</td>
                    <td>UEA</td>
                    <td>fpires@uea.edu.br</td>
                  </tr>
                  <tr>
                    <td>Jennifer Macena</td>
                    <td>UEA</td>
                    <td>macenajeniffer@gmail.com</td>
                  </tr>
                  <tr>
                    <td>Raquel Lais</td>
                    <td>UEA</td>
                    <td>llaisdessouza15@gmail.com</td>
                  </tr>




                </tbody>
              </table>
            </div>


          </div>
        </div>

        <div class="container mb-5">
          <div class="row">
            <div class="col-sm">

              <table class="table table-striped">

                <thead>
                  <tr>
                    <td colspan="3">
                      <h3 class="text-center">Web Site do Evento e Redes Sociais</h3>
                    </td>
                  </tr>

                </thead>
                <tbody class="text-center">
                  <tr class="text-uppercase font-weight-bold">
                    <td>Nomes</td>
                    <td>Instituição</td>
                    <td>E-mail</td>
                  </tr>

                  <tr>
                    <td>Mateus Barros Macedo</td>
                    <td>IF-Goiano</td>
                    <td>mateus.barros@estudante.ifgoiano.edu.br</td>
                  </tr>

                  <tr>
                    <td>Graziela Guarda</td>
                    <td>Mackenzie</td>
                    <td>graziela.guarda@mackenzie.br</td>
                  </tr>

                  <tr>
                    <td>Esdras Bispo Jr.</td>
                    <td>UFJ</td>
                    <td>bispojr@ufj.edu.br</td>
                  </tr>


                  <tr>

                    <td>Renan Vinícius Aranha</td>
                    <td>UFMT</td>
                    <td>renan.aranha@ufmt.br</td>
                  </tr>


                  <tr>
                    <td>Marina Lucas Martins</td>
                    <td>Mackenzie</td>
                    <td>marinalucas.martins@mackenzista.com.br</td>
                  </tr>




                </tbody>
              </table>
            </div>


          </div>
        </div>


        <!--
        <table class="table table-striped">
          <tr>
            <td>
              <h4>Coordenação Geral</h4>
            </td>

            
           


            <td>
              <ul>
                <li>Graziela Guarda (Mackenzie)</li>
                <li>Ismar Frango Silveira (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>graziela.guarda@mackenzie.br</li>
              <li>ismar.silveira@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Articulação Cultural</h5>
            </td>
            <td>
              <ul>
                <li>Daniela Vieira Cunha (Mackenzie)</li>
                <li>Graziela Guarda (Mackenzie)</li>
                <li>Ismar Frango Silveira (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>daniela.cunha@mackenzie.br</li>
              <li>graziela.guarda@mackenzie.br</li>
              <li>ismar.silveira@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Conexão com a Educação Básica</h5>
            </td>
            <td>
              <ul>
                <li>Patrícia Bonezzi (Mackenzie)</li>
                <li>Débora Bezerra Linhares Libório (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>patricia.mota@mackenzie.br</li>
              <li>debora.liborio@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Dados e Programação</h5>
            </td>
            <td>
              <ul>
                <li>André Rodrigues Oliveira (Mackenzie)</li>
                <li>Murilo Gleyson Gazzola (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>andre.rodrigues@mackenzie.br</li>
              <li>murilo.gazzola@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Editoração e Publicação dos Anais</h5>
            </td>
            <td>
              <ul>
                <li>Williamson Silva (UNIPAMPA)</li>
                <li>Pedro Henrique Dias Valle (UFJF)</li>
                <li>Newarney Torrezão da Costa (IF-Goiano)</li>
                <li>Ricardo Ferreira Vilela (UFCA)</li>
              </ul>
            </td>
            <td>
              <li>williamsonsilva@unipampa.edu.br</li>
              <li>pedrovalle@ice.ufjf.br</li>
              <li>newarney.costa@ifgoiano.edu.br</li>
              <li>ricardo.ferreira@ufca.edu.br</li>

            </td>
          </tr>

          <tr>
            <td>
              <h5>Ferramental Online e <br>Equipe de Apoio Técnico</h5>
            </td>
            <td>
              <ul>
                <li>Ana Grasielle Dionisio Correa (Mackenzie)</li>
                <li>Thiago Donizetti (Mackenzie)</li>
                <li>Jussara Pimenta (IFSP)</li>
                <li>Teresa Buscato (IFSP)</li>
                <li>Cristiane Freire (IFSP)</li>
                <li>Vinícius Aguiar Monteiro (UFSC)</li>
                <li>Ariovaldo José de Almeida (Mackenzie)</li>
                <li>Alessandreia Oliveira (UFJF)</li>
                <li>Ronney Castro (UFJF)</li>
                <li>Victor Stroele (UFJF)</li>
                <li>Edmar Oliveira (UFJF)</li>

              </ul>
            </td>
            <td>
              <li>ana.correa@mackenzie.br</li>
              <li>thiagodonizetti.santos@mackenzie.br</li>
              <li>jussara.pimenta@ifsp.edu.br</li>
              <li>teresahbmartins@ifsp.edu.br</li>
              <li>crisfreire@ifsp.edu.br</li>
              <li>vinicius.monteiro@posgrad.ufsc.br</li>
              <li>ariovaldojose.almeida@mackenzie.br</li>
              <li>alessandreia.oliveira@ufjf.br</li>
              <li>ronney.castro@ufjf.br</li>
              <li>victor.stroele@ice.ufjf.br</li>
              <li>oliveira.edmar@ufjf.br</li>

            </td>
          </tr>

          <tr>
            <td>
              <h5>Financeiro</h5>
            </td>
            <td>
              <ul>
                <li>Marcelo Teixeira de Azevedo (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>marcelo.teixeira@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Inscrições e Certificados</h5>
            </td>
            <td>
              <ul>
                <li>Yorah Bosse (UFMS)</li>
                <li>Cleon Xavier Pereira Júnior (IF-Goiano)</li>
              </ul>
            </td>
            <td>
              <li>yorah.bosse@ufms.br</li>
              <li>cleon.junior@ifgoiano.edu.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Promoção da Inclusão e Acessibilidade</h5>
            </td>
            <td>
              <ul>
                <li>Jeane Melo (UFRPE)</li>
                <li>Claudia Pereira (UEFS)</li>
                <li>Laís Farias (UEFS)</li>
                <li>Luciana Goudinho (UFF)</li>
              </ul>
            </td>
            <td>
              <li>jeane.bmelo@ufrpe.br</li>
              <li>claudiap@uefs.br</li>
              <li>laisfariasalvessi@gmail.com</li>
              <li>lucianagoudinho@id.uff.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publicidade e Mídias Sociais</h5>
            </td>
            <td>
              <ul>
                <li>João Bernardo (UEA)</li>
                <li>Fabrizio Honda (UEA)</li>
                <li>Fernanda Pires (UEA)</li>
                <li>Jennifer Macena (UEA)</li>
                <li>Raquel Lais (UEA)</li>
              </ul>
            </td>
            <td>
              <li>jrsb@icomp.ufam.edu.br</li>
              <li>fabrizio.honda@icomp.ufam.edu.br</li>
              <li>fpires@uea.edu.br</li>
              <li>macenajeniffer@gmail.com</li>
              <li>llaisdessouza15@gmail.com</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Web Site do Evento e Redes Sociais</h5>
            </td>
            <td>
              <ul>
                <li>Renan Vinícius Aranha (UFMT)</li>
                <li>Mateus Barros Macedo (IF-Goiano)</li>
                <li>Graziela Guarda (Mackenzie)</li>
                <li>Marina Lucas Martins (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>renan.aranha@ufmt.br</li>
                <li>mateus.barros@estudante.ifgoiano.edu.br</li>
                <li>graziela.guarda@mackenzie.br</li>
                <li>marinalucas.martins@mackenzista.com.br</li>
              </ul>



            </td>
          </tr>
        </table>
 -->

      </div>
    </div>
  </div>
</section>