<style>
  td {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

{{> simposio/2024/pt-BR/inside-header}}

<section id="datas" style="background-color:white;">
  <div class="container" style="margin-top: -9em; font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-8 mx-auto">

        <table class="table table-striped">
          <tr>
            <td>
              <h4>Coordenação Geral</h4>
            </td>

            <!-- mudanças para novo modelo dos nomes e email - Mateus-->
            <!--
            
            <td colspan="2">
              <table>
                <tr>
                  <td>Graziela Guarda (Mackenzie)</td>
                  <td>graziela.guarda@mackenzie.br</td>
                </tr>

                <tr>
                  <td>Ismar Frango Silveira (Mackenzie)</td>
                  <td>ismar.silveira@mackenzie.br</td>
                </tr>
              </table>
            </td>
            
            -->



            <td>
              <ul>
                <li>Graziela Guarda (Mackenzie)</li>
                <li>Ismar Frango Silveira (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>graziela.guarda@mackenzie.br</li>
              <li>ismar.silveira@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Articulação Cultural</h5>
            </td>
            <td>
              <ul>
                <li>Daniela Vieira Cunha (Mackenzie)</li>
                <li>Graziela Guarda (Mackenzie)</li>
                <li>Ismar Frango Silveira (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>daniela.cunha@mackenzie.br</li>
              <li>graziela.guarda@mackenzie.br</li>
              <li>ismar.silveira@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Conexão com a Educação Básica</h5>
            </td>
            <td>
              <ul>
                <li>Patrícia Bonezzi (Mackenzie)</li>
                <li>Débora Bezerra Linhares Libório (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>patricia.mota@mackenzie.br</li>
              <li>debora.liborio@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Dados e Programação</h5>
            </td>
            <td>
              <ul>
                <li>André Rodrigues Oliveira (Mackenzie)</li>
                <li>Murilo Gleyson Gazzola (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>andre.rodrigues@mackenzie.br</li>
              <li>murilo.gazzola@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Editoração e Publicação dos Anais</h5>
            </td>
            <td>
              <ul>
                <li>Williamson Silva (UNIPAMPA)</li>
                <li>Pedro Henrique Dias Valle (UFJF)</li>
                <li>Newarney Torrezão da Costa (IF-Goiano)</li>
                <li>Ricardo Ferreira Vilela (UFCA)</li>
              </ul>
            </td>
            <td>
              <li>williamsonsilva@unipampa.edu.br</li>
              <li>pedrovalle@ice.ufjf.br</li>
              <li>newarney.costa@ifgoiano.edu.br</li>
              <li>ricardo.ferreira@ufca.edu.br</li>

            </td>
          </tr>

          <tr>
            <td>
              <h5>Ferramental Online e <br>Equipe de Apoio Técnico</h5>
            </td>
            <td>
              <ul>
                <li>Ana Grasielle Dionisio Correa (Mackenzie)</li>
                <li>Thiago Donizetti (Mackenzie)</li>
                <li>Jussara Pimenta (IFSP)</li>
                <li>Teresa Buscato (IFSP)</li>
                <li>Cristiane Freire (IFSP)</li>
                <li>Vinícius Aguiar Monteiro (UFSC)</li>
              </ul>
            </td>
            <td>
              <li>ana.correa@mackenzie.br</li>
              <li>thiagodonizetti.santos@mackenzie.br</li>
              <li>jussara.pimenta@ifsp.edu.br</li>
              <li>teresahbmartins@ifsp.edu.br</li>
              <li>crisfreire@ifsp.edu.br</li>
              <li>vinicius.monteiro@posgrad.ufsc.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Financeiro</h5>
            </td>
            <td>
              <ul>
                <li>Marcelo Teixeira de Azevedo (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <li>marcelo.teixeira@mackenzie.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Inscrições e Certificados</h5>
            </td>
            <td>
              <ul>
                <li>Yorah Bosse (UFMS)</li>
                <li>Cleon Xavier Pereira Júnior (IF-Goiano)</li>
              </ul>
            </td>
            <td>
              <li>yorah.bosse@ufms.br</li>
              <li>cleon.junior@ifgoiano.edu.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Promoção da Inclusão e Acessibilidade</h5>
            </td>
            <td>
              <ul>
                <li>Jeane Melo (UFRPE)</li>
                <li>Claudia Pereira (UEFS)</li>
                <li>Laís Farias (UEFS)</li>
                <li>Luciana Goudinho (UFF)</li>
              </ul>
            </td>
            <td>
              <li>jeane.bmelo@ufrpe.br</li>
              <li>claudiap@uefs.br</li>
              <li>laisfariasalvessi@gmail.com</li>
              <li>lucianagoudinho@id.uff.br</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publicidade e Mídias Sociais</h5>
            </td>
            <td>
              <ul>
                <li>João Bernardo (UEA)</li>
                <li>Fabrizio Honda (UEA)</li>
                <li>Fernanda Pires (UEA)</li>
                <li>Jennifer Macena (UEA)</li>
                <li>Raquel Lais (UEA)</li>
              </ul>
            </td>
            <td>
              <li>jrsb@icomp.ufam.edu.br</li>
              <li>fabrizio.honda@icomp.ufam.edu.br</li>
              <li>fpires@uea.edu.br</li>
              <li>macenajeniffer@gmail.com</li>
              <li>llaisdessouza15@gmail.com</li>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Web Site do Evento e Redes Sociais</h5>
            </td>
            <td>
              <ul>
                <li>Renan Vinícius Aranha (UFMT)</li>
                <li>Mateus Barros Macedo (IF-Goiano)</li>
                <li>Graziela Guarda (Mackenzie)</li>
                <li>Marina Lucas Martins (Mackenzie)</li>
              </ul>
            </td>
            <td>
              <ul>
                <li>renan.aranha@ufmt.br</li>
                <li>mateus.barros@estudante.ifgoiano.edu.br</li>
                <li>graziela.guarda@mackenzie.br</li>
                <li>marinalucas.martins@mackenzista.com.br</li>
              </ul>



            </td>
          </tr>
        </table>

      </div>
    </div>
  </div>
</section>