<div id="inscricoes">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            O <strong>VI Simpósio Brasileiro de Educação em Computação (EduComp 2026)</strong> e o <strong>III Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2026)</strong> são eventos realizados pela <a href="https://www.sbc.org.br/" target="_blank">Sociedade Brasileira de Computação (SBC)</a>.
            A SBC é uma associação civil, sem fins lucrativos, que estimula o desenvolvimento tecnológico e científico do país e é a maior sociedade de computação da América do Sul.
          </p>
          <p>
            Em 2026, os dois eventos (EduComp e SBC-EB) serão realizados em conjunto, sob organização da <a href="http://www.ufms.br" target="_blank">Universidade Federal de Mato Grosso do Sul(UFMS)</a>.
            O participante pode se inscrever separadamente em um dos eventos, ou pode se inscrever nos dois eventos e aproveitar os valores promocionais.
            O participante terá acesso a todas as sessões do(s) evento(s) em que estiver inscrito, bem como acesso aos anais e também ao certificado(s) de participação.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="inscreva-se">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="row call-to-action justify-content-center align-items-center">
            <div class="col-lg-9 text-center text-lg-left">
              <p class="titulo">Faça agora a sua inscrição!</p>
              <p class="subtitulo">As inscrições são realizadas por meio do ECOS da SBC</p>
            </div>
            <div class="col-lg-3 text-center">
              <a href="https://centraldesistemas.sbc.org.br/ecos/EduComp_SBC-EB%202026" target="_blank" class="btn btn-action">Inscreva-se aqui!</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="promocional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Inscrição promocional</h2>
          <img class="banner-inscricao img-fluid" src="/img/simposio/2025/comum/banner-inscricoes-combo.png" alt="Banner com informações sobre a inscrição promocional">
          <p>
            Participantes não associados à SBC ou associados com anuidade próxima do vencimento podem se associar ou renovar a associação junto com a inscrição, escolhendo as categorias COMBO com um desconto no valor da inscrição.
            As categorias COMBO são a opção mais vantajosa para os não associados à SBC, pois os valores de inscrições são menores do que as categorias sem combo e incluem a associação à SBC.
          </p>
          <p>
            Associar-se à SBC é uma forma de tornar a SBC ainda mais forte para representar a nossa área de atuação junto aos diversos setores. Que tal fazer parte da nossa Comunidade?
            Acesse o <a href="https://www.sbc.org.br/" target="_blank">site da SBC</a> e confira os benefícios de ser um associado.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="valores">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Valores de inscrição</h2>
          <p>
            Os valores de inscrição para o EduComp 2026 e SBC-EB 2026 podem ser acessados abaixo, com <strong>valores promocionais para inscrição nos dois eventos</strong>.
          </p>
          <p>
            No momento da inscrição no sistema ECOS, para categorias que necessitam de algum tipo de comprovação, será necessário o upload que atesta a categoria escolhida. 
            A verificação deste documento pode levar até <strong>2 (dois) dias úteis</strong>. 
            Assim, sugerimos que, para evitar qualquer inconveniente, os participantes evitem inscrições de última hora. 
            Somente após validação pela equipe da SBC as formas de pagamento serão liberadas no simpósio.
          </p>
          <p>
            Inscrições sem desconto poderão ser feitas até o último dia do evento.
          </p>

          <div class="accordion" id="accordion-valores">
            <div class="card">
              <div class="card-header" id="accordion-combo">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-combo" aria-expanded="true" aria-controls="collapse-combo">
                    <h3>Valores para EduComp 2026 + SBC-EB 2026 (com desconto)</h3>
                  </button>
              </div>
              <div id="collapse-combo" class="collapse" aria-labelledby="accordion-combo" data-parent="#accordion-valores">
                <div class="card-body">
                  <h4>Valores para atividades presenciais e online</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Estudantes de graduação</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Estudante associado à SBC com anuidade vigente</td>
                          <td>R$ 160,00</td>
                          <td>R$ 172,00</td>
                          <td>R$ 188,00</td>
                        </tr>
                        <tr>
                          <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 195,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 195,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 211,00</td>
                          <td>R$ 225,00</td>
                          <td>R$ 242,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Estudantes de pós-graduação</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                            <td>R$ 224,00</td>
                            <td>R$ 248,00</td>
                            <td>R$ 276,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 366,00</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 366,00</td>
                            <td>-</td>
                            <td>-</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado à SBC (somente inscrição no evento)</td>
                            <td>R$ 389,00</td>
                            <td>R$ 415,00</td>
                            <td>R$ 446,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Professor de educação básica municipal/estadual</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Professor de educação básica municipal/estadual associado à SBC com anuidade vigente</td>
                          <td>R$ 208,00</td>
                          <td>R$ 232,00</td>
                          <td>R$ 252,00</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 350,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 350,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 371,00</td>
                          <td>R$ 398,00</td>
                          <td>R$ 420,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Professor de educação básica federal</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Professor de educação básica federal associado à SBC com anuidade vigente</td>
                          <td>R$ 408,00</td>
                          <td>R$ 452,00</td>
                          <td>R$ 504,00</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 802,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 802,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 819,00</td>
                          <td>R$ 868,00</td>
                          <td>R$ 925,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Profissional</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Profissional associado à SBC com anuidade vigente</td>
                          <td>R$ 416,00</td>
                          <td>R$ 460,00</td>
                          <td>R$ 512,00</td>
                        </tr>
                        <tr>
                          <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 804,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Profissional não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 803,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Profissional não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 846,00</td>
                          <td>R$ 894,00</td>
                          <td>R$ 952,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-educomp">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-educomp" aria-expanded="true" aria-controls="collapse-educomp">
                  <h3>Valores para EduComp 2026</h3>
                </button>
              </div>
              <div id="collapse-educomp" class="collapse" aria-labelledby="accordion-educomp" data-parent="#accordion-valores">
                <div class="card-body">
                  <h4>Valores para atividades presenciais e online</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Estudantes de graduação</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Estudante associado à SBC com anuidade vigente</td>
                          <td>R$ 115,00</td>
                          <td>R$ 125,00</td>
                          <td>R$ 140,00</td>
                        </tr>
                        <tr>
                          <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 150,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 150,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 162,00</td>
                          <td>R$ 173,00</td>
                          <td>R$ 189,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Estudantes de pós-graduação</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                          <td>R$ 160,00</td>
                          <td>R$ 175,00</td>
                          <td>R$ 195,00</td>
                        </tr>
                        <tr>
                          <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 302,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 302,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante de pós-graduação não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 318,00</td>
                          <td>R$ 335,00</td>
                          <td>R$ 357,00</td>  
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Professor de educação básica municipal/estadual</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Professor de educação básica municipal/estadual associado à SBC com anuidade vigente</td>
                          <td>R$ 150,00</td>
                          <td>R$ 165,00</td>
                          <td>R$ 180,00</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 292,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 292,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 307,00</td>
                          <td>R$ 324,00</td>
                          <td>R$ 340,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Professor de educação básica federal</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Professor de educação básica federal associado à SBC com anuidade vigente</td>
                          <td>R$ 295,00</td>
                          <td>R$ 325,00</td>
                          <td>R$ 365,00</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 689,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 689,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 695,00</td>
                          <td>R$ 728,00</td>
                          <td>R$ 772,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Profissional</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Profissional associado à SBC com anuidade vigente</td>
                          <td>R$ 300,00</td>
                          <td>R$ 330,00</td>
                          <td>R$ 370,00</td>
                        </tr>
                        <tr>
                          <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 688,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Profissional não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 688,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Profissional não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 718,00</td>
                          <td>R$ 751,00</td>
                          <td>R$ 795,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-sbc-eb">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-sbc-eb" aria-expanded="true" aria-controls="collapse-sbc-eb">
                  <h3>Valores para SBC-EB 2026</h3>
                </button>
              </div>
              <div id="collapse-sbc-eb" class="collapse" aria-labelledby="accordion-sbc-eb" data-parent="#accordion-valores">
                <div class="card-body">
                  <h4>Valores para atividades presenciais em Campo Grande/MS</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Estudantes de graduação</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Estudante associado à SBC com anuidade vigente</td>
                          <td>R$ 85,00</td>
                          <td>R$ 90,00</td>
                          <td>R$ 95,00</td>
                        </tr>
                        <tr>
                          <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 120,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 120,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 129,00</td>
                          <td>R$ 134,00</td>
                          <td>R$ 140,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Estudantes de pós-graduação</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                          <td>R$ 120,00</td>
                          <td>R$ 135,00</td>
                          <td>R$ 150,00</td>
                        </tr>
                        <tr>
                          <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 262,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 262,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Estudante de pós-graduação não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 274,00</td>
                          <td>R$ 291,00</td>
                          <td>R$ 307,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Professor de educação básica municipal/estadual</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Professor de educação básica municipal/estadual associado à SBC com anuidade vigente</td>
                          <td>R$ 110,00</td>
                          <td>R$ 125,00</td>
                          <td>R$ 135,00</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 252,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 252,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica municipal/estadual não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 263,00</td>
                          <td>R$ 280,00</td>
                          <td>R$ 291,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Professor de educação básica federal</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Professor de educação básica federal associado à SBC com anuidade vigente</td>
                          <td>R$ 215,00</td>
                          <td>R$ 240,00</td>
                          <td>R$ 265,00</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 609,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 609,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Professor de educação básica federal não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 607,00</td>
                          <td>R$ 634,00</td>
                          <td>R$ 662,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Profissional</th>
                          <th class="prazo lote-1"><span class="lote">1º lote</span><span class="data">(03/02 a 06/03)</span></th>
                          <th class="prazo lote-2"><span class="lote">2º lote</span><span class="data">(07/03 a 10/04)</span></th>
                          <th class="prazo lote-3"><span class="lote">3º lote</span><span class="data">(11/04 a 08/05)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Profissional associado à SBC com anuidade vigente</td>
                          <td>R$ 220,00</td>
                          <td>R$ 245,00</td>
                          <td>R$ 270,00</td>
                        </tr>
                        <tr>
                          <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                          <td>R$ 608,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Profissional não associado ou com associação não vigente à SBC (melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                          <td>R$ 608,00</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                        <tr>
                          <td>Profissional não associado à SBC (somente inscrição no evento)</td>
                          <td>R$ 630,00</td>
                          <td>R$ 658,00</td>
                          <td>R$ 685,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>

                  <h4>Valores para atividades presenciais nos demais polos</h4>
                  <div class="table-responsive">
                    <table class="table table-striped">
                      <thead>
                        <tr class="datas">
                          <th class="categoria">Estudantes, professores e profissionais</th>
                          <th class="prazo lote-unico"><span class="lote">Lote único</span><span class="data">(até 04/04)</span></th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Participante associado à SBC com anuidade vigente</td>
                          <td class="text-center">R$ 150,00</td>
                        </tr>
                        <tr>
                          <td>Participante não associado à SBC (somente inscrição no evento)</td>
                          <td class="text-center">R$ 200,00</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section id="autores">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Inscrições para autores</h2>
          <p>
            Todos os autores que irão apresentar seus trabalhos precisam estar inscritos no evento.
            Para publicações aceitas no EduComp, será cobrado adicionalmente uma <strong>taxa de publicação de R$ 80,00</strong> por artigo a ser publicado.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="institucional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Inscrições institucionais</h2>
          <p>
            Instituições associadas à SBC (associação institucional) possuem cinco inscrições gratuitas e 50% de desconto para outras cinco inscrições, a escolher, de qualquer evento realizado pela SBC, exceto o Congresso da SBC. 
            Entretanto, a categoria de inscrição com Combo (inscrever-se no evento + associação à SBC) não pode ser usada para isenção ou desconto. 
            O associado institucional tem, no período de 365 dias, o direito de utilizar o benefício em 10 inscrições distintas, sendo limitado a 5 participantes por evento. 
            Isso significa que não é possível usar 10 inscrições em um mesmo evento, devendo ser distribuídas em pelo menos 2 eventos. 
            O benefício da isenção institucional não se aplica à taxa de publicação cobrada para os trabalhos do EduComp, sendo necessário que um dos autores efetue o pagamento da taxa para a publicação do trabalho nos anais do evento.
        </p>
        </div>
      </div>
    </div>
  </section>

  <section id="pagamento">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Formas de pagamento</h2>
          <p>
            O pagamento das inscrições poderá ser realizado por meio de boleto bancário, cartão de crédito, débito em conta do Banco do Brasil, nota de empenho e faturamento, de acordo com a opção escolhida no sistema de inscrições da SBC. 
            Os pagamentos por débito e boleto serão fechados dia <strong>24/04/2026</strong>. 
            Os pagamentos por cartão de crédito, nota de empenho e faturamento pelo sistema de inscrições serão fechados dia <strong>01/05/2026</strong>.
          </p>
          <p>
            <strong>Inscrições por nota de empenho e faturamento:</strong> O participante deverá acessar o sistema ECOS e realizar a inscrição, selecionando a forma de pagamento "nota de empenho" ou "faturamento" e clicar em pagar.
            O sistema fornecerá as informações necessárias que devem constar na nota de empenho ou no pedido de faturamento.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="cancelamento">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Política de cancelamento</h2>
          <p>
            Até o dia <strong>17/04/2026</strong> poderá ser feito o reembolso de <strong>80%</strong> do valor pago pela inscrição. 
            Após esta data não haverá devolução de qualquer valor pago. A política se aplica tanto ao cancelamento de registro quanto ao cancelamento de 
            qualquer atividade adicional. Para solicitar o cancelamento, envie um e-mail para <a href="mailto:faturamento@sbc.org.br">faturamento@sbc.org.br</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>