<div class="modal fade" id="25-lab-ideias-i-ii" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Laboratório de Ideias
          <small style="font-size: 0.7em;">| 18:00 - 19:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Lab Ideias I (LI-I)"
          chair_sessao="David Oliveira (UFAM)" 
          chair_sessao2="Filipe Dwan (UFRR)"
          
          artigo1_titulo="Proposta de introdução ao Machine Learning no ensino médio"
          artigo1_autores="Ana Paula Boaventura, Pedro Henrique Franco, Thiago Oliveira,
Eduardo Elias Pereira da Silveira Filho, Gustavo Costa"
          
          artigo2_titulo="Sistema Analítico de Progressão Universitária"
          artigo2_autores="Rafael Riegel, Marcos Mantovani, Luiz Afonso Silva Costa, Marco Antônio Santos Souza, Regina Paiva Melo Marin, Djonata Schiessl"	

          artigo3_titulo="Em direção ao desenvolvimento de um chatbot baseado em exemplos para prática de conteúdos de programação"
          artigo3_autores="Renato Garcia, Pedro Henrique Dias Valle, Fábio Basso, Williamson Silva"

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Lab Ideias II (LI-II)"
          chair_sessao="Walter Nakamura (UTFPR)" 
          chair_sessao2="Ana Carolina Oran (UFAM/SIDI)"
          
          artigo1_titulo="Em Direção a uma Ferramenta de Recomendação de Código para Apoiar o Aprendizado de Programação"
          artigo1_autores="Guilherme de Moura, Williamson Silva, Gabriel Lunardi"
          
          artigo2_titulo="Desenvolvimento de uma plataforma de testes automatizados como forma de apoiar a aprendizagem de testes"
          artigo2_autores="Rafaela Melo, Fernanda Pires, Ramayana Menezes, Rodrigo de Freitas"	

        }}
        
      </div>
    </div>
  </div>
</div>