<div class="modal fade" id="25-painel" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Painel I
          <small style="font-size: 0.7em;">| 14:00 - 16:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>Ética em Ensino, Pesquisa e Extensão em Computação</h5>
          
          <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">
          
              <a class="btn btn-info" href="https://www.youtube.com/watch?v=MYYc-lg-pMM" target="_blank" style="background-color: red; color:white; border: 0px; ">
                  <span style="padding-right:0.5em;">
                      <i class="fab fa-youtube" aria-hidden="true"></i>
                  </span>
                  Transmissão pelo YouTube 
              </a>
          </span>

          <hr>
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Ecivaldo de Souza Matos (UFBA)<br>
            Profa. Elaine Harada Teixeira de Oliveira (UFAM)<br>
            Prof. Luiz Paulo Carvalho (UFRJ)<br>
            Profa. Silvia Amélia Bim (UTFPR)<br>
            <b>Painelistas</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Roberto Pereira (UFPR)<br>
            Prof. Windson Viana de Carvalho (UFC)<br>
            <b>Mediação</b>
          </span>
      </div>
    </div>
  </div>
</div>