<div class="modal fade" id="25-sessao-tecnica-iii-iv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas III e IV
          <small style="font-size: 0.7em;">| 16:30 - 17:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Pensamento Computacional II (ST-III)"
          chair_sessao="Adão Cambraia (IFFAR)" 	

          artigo1_titulo="Uma Ferramenta para Auxiliar o Desenvolvimento do Pensamento Computacional em Crianças"
          artigo1_autores="Arthur Santos, Felipe Oliveira, Glaucia Campos"
          artigo1_recurso_didatico=true
          
          artigo2_titulo="Computação Criativa Online: relato de experiência da adaptação de uma oficina de desenvolvimento do Pensamento Computacional para crianças"
          artigo2_autores="Thiago Barcelos, Leticia Rejane Vidal Souza, Ana Kirchoff, Giselle Silva"
          artigo2_relato_experiencia=true
	
          artigo3_titulo="Um recurso educacional para desenvolver a habilidade da percepção de padrões de equívocos com aprendizes de programação"
          artigo3_autores="Gabriel Silverson Gomes, Ygor Nishi, Paula Bosse Ramos, Leonardo Silva, Eduardo Guerra, Igor Wiese, Yorah Bosse"
          artigo3_recurso_didatico=true	

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="ENADE, PIBID e Educação Hacker (ST-IV)"
          chair_sessao="Maici Duarte Leite (UTFPR)"
          
          artigo1_titulo="O sucesso não é apenas uma questão de sorte: uma revisão sistemática sobre técnicas de análise do Enade da área de Computação"
          artigo1_autores="Pedro Luis Saraiva Barbosa, Gabriela Nayara Duarte, Windson Viana, Rafael Carmo"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="PIBID em Computação: desafios, estratégias e resultados para formação docente em um contexto pandêmico"
          artigo2_autores="Ariane Rodrigues, Cleyton Rodrigues"
          artigo2_relato_experiencia=true
		
          artigo3_titulo="Reflexões sobre tecnologias digitais da informação e comunicação sob a perspectiva da educação hacker"
          artigo3_autores="Aletheia Machado de Oliveira"
          artigo3_ensaio=true

        }}
        
      </div>
    </div>
  </div>
</div>