<div class="modal fade" id="26-palestra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Palestra I
          <small style="font-size: 0.7em;">| 17:00 - 18:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>Integração de computação à aprendizagem de ciências na educação básica</h5>
          
          <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">
          
              <a class="btn btn-info" href="https://www.youtube.com/watch?v=DjxuV4B_ES0" target="_blank" style="background-color: red; color:white; border: 0px; ">
                  <span style="padding-right:0.5em;">
                      <i class="fab fa-youtube" aria-hidden="true"></i>
                  </span>
                  Transmissão pelo YouTube 
              </a>
          </span>

          <hr>
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Paulo Blikstein<br>
            Profa. Tatiana Hochgreb-Haegele <br>
            Profa. Cassia Fernandez<br>
            <strong>Transformative Learning Technologies Lab</strong>
         </span>
         <span class="mb-3" style="font-size: large; display: block;">
            Francisco Herbert Lima Vasconcelos<br>
            <b>Secretário de Educação de Sobral-CE</b>
         </span>
         <span class="mb-3" style="font-size: large; display: block;">
            Prof. Windson Viana de Carvalho (UFC)<br>
            <b>Mediação</b>
          </span>
      </div>
    </div>
  </div>
</div>