<div class="modal fade" id="26-sessao-tecnica-v-vi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas V e VI
          <small style="font-size: 0.7em;">| 13:00 - 14:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Computação no Ensino Médio (ST-V)"
          chair_sessao="Ana Paula Ferreira (UNIPAMPA)" 
          	
          artigo1_titulo="O Desenvolvimento de Tecnologias Cívicas Como Forma de Exercício da Cidadania"
          artigo1_autores="Vinicius Hartmann Ferreira"
          artigo1_relato_experiencia=true
          		
          artigo2_titulo="Currículo Paulista e do Projeto Inova Educação: como as tecnologias se inserem nas novas diretrizes curriculares do Estado de São Paulo"
          artigo2_autores="Ayana Cristina Anselmo Pereira, Henrique Fonseca, Flávia Linhalis"
          artigo2_curriculo=true
		
          artigo3_titulo="Pensamento Computacional e Scratch: Um relato de Experiências com Estudantes do Ensino Médio Público no Distrito Federal"
          artigo3_autores="Vinicius Monteiro, Maristela Holanda"
          artigo3_relato_experiencia=true

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Avaliação da Aprendizagem em Computação (ST-VI)"
          chair_sessao="Nathalia da Cruz Alves (UFSC)" 
          
          artigo1_titulo="Análise do desempenho de aprendizagem de Machine Learning na Educação Básica aplicando a Teoria de Resposta ao Item"
          artigo1_autores="Marcelo Rauber, Christiane Gresse von Wangenheim, Adriano Borgatto, Ramon Martins"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Coleta de evidências do exercício do Pensamento Computacional: um artefato de apoio"
          artigo2_autores="Carolina Moreira Oliveira, Roberto Pereira"
          artigo2_recurso_didatico=true
		
          artigo3_titulo="Passar nos casos de teste é suficiente? Identificação e análise de problemas de compreensão em códigos corretos"
          artigo3_autores="Eryck Silva, Ricardo Caceffo, Rodolfo Azevedo"
          artigo3_artigo_pesquisa=true

        }}
        
      </div>
    </div>
  </div>
</div>