
<div class="content-container">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Inscrições para o EduComp 2025 e SBC-EB 2025</h1>
  </div>
        <section class="section">
            <p>
                O <strong>Simpósio Brasileiro de Educação em Computação (EduComp)</strong> e o <strong>Simpósio Brasileiro de Computação na Educação Básica (SBC-EB)</strong> são eventos realizados pela <a href="https://www.sbc.org.br/" target="_blank">Sociedade Brasileira de Computação (SBC)</a>. 
                A SBC é uma associação civil, sem fins lucrativos, que estimula o desenvolvimento tecnológico e científico do país e é 
                a maior sociedade de computação da América do Sul. Os valores de inscrição para o EduComp 2025 e SBC-EB 2025 podem ser 
                acessados ao clicar nos ícones abaixo, com valores promocionais para inscrição em mais de um evento.
            </p>
            <p>
                Destacamos que estudantes e profissionais não-associados à SBC podem se associar (ou renovar a associação) no processo de inscrição.
                Inscrever-se com associação à SBC é a opção mais vantajosa para os não associados à SBC. Confira os benefícios de se associar à SBC.
            </p>
            <p>
                Os participantes inscritos terão acesso a todas as sessões do evento, aos anais da conferência e também receberão certificado de participação.
            </p>
      

            <div class="caixalogos">
                <a class="imagelink" href="{{~#if isEducomp}} /simposio/2025/educomp/inscricoes/valores-educomp {{~else}} {{~#if isSbceb}} /simposio/2025/sbc-eb/inscricoes/valores-educomp {{~/if}}{{~/if}}"><img class="imglogos" src="/img/simposio/2025/logos/edc25_texto_colorido.png"/></a>
                <a class="imagelink" href="{{~#if isEducomp}} /simposio/2025/educomp/inscricoes/valores-combo {{~else}} {{~#if isSbceb}} /simposio/2025/sbc-eb/inscricoes/valores-combo {{~/if}}{{~/if}}"><img class="imglogos" src="/img/simposio/2025/logos/sbcedu.png" /></a>
                <a class="imagelink" href="{{~#if isEducomp}} /simposio/2025/educomp/inscricoes/valores-sbc-eb {{~else}} {{~#if isSbceb}} /simposio/2025/sbc-eb/inscricoes/valores-sbc-eb {{~/if}}{{~/if}}"><img class="imglogos" src="/img/simposio/2025/eb/logos/eblogo22.png" /></a>
            </div>
            <div class="button-container btn-disabled">
                <a class="imagelink" href="https://centraldesistemas.sbc.org.br/ecos/EduComp_SBC-EB%202025"><button class="botaoinscricao">FAÇA AQUI SUA INSCRIÇÃO</button></a>
            </div>
       </section>
    

        <!-- <section class="section">
            <h2>Benefícios de Registro</h2>
            <p>
                Os participantes inscritos receberão um certificado e também terão acesso a todas as sessões do evento e aos anais da conferência.
            </p>
        </section> -->

        <section class="section">
            <h2>Verificando a Categoria Escolhida</h2>
            <p>
                No momento da inscrição no sistema ECOS, para categorias que necessitam de algum tipo de comprovação, será necessário o upload que
                atesta a categoria escolhida. A verificação deste documento pode levar até <span class="highlight">2 (dois) dias úteis</span>. 
                Assim, sugerimos que, para evitar qualquer inconveniente, os participantes evitem inscrições de última hora. Somente após validação 
                pela equipe da SBC as formas de pagamento serão liberadas. O inscrito receberá e-mails informativos em todas as etapas do cadastro no SBGames.
            </p>
            <p>
                Instituições associadas à SBC (associação institucional) possuem cinco inscrições gratuitas e 50% de desconto para outras cinco inscrições, a escolher, de qualquer evento realizado pela SBC, exceto o Congresso da SBC. Entretanto, a categoria de inscrição com Combo (inscrever-se no evento + associação à SBC) não pode ser usada para isenção ou desconto. O associado institucional tem, no período de 365 dias, o direito de utilizar o benefício em 10 inscrições distintas, sendo limitado a 5 participantes por evento. Isso quer dizer que não é possível usar 10 inscrições em um mesmo evento, devendo ser distribuídas em pelo menos 2 eventos. O benefício da isenção institucional não se aplica à taxa de publicação cobrada para os trabalhos do EduComp, sendo necessário que um dos autores efetue o pagamento da taxa para a publicação do trabalho nos anais do evento.
            </p>
            <p>
                Inscrições sem desconto poderão ser feitas até o último dia do evento.
            </p>
        </section>

        <section>
            <h2>Inscrições para Autores</h2>
            <p>
                Todos os autores que serão apresentadores precisam estar inscritos na conferência.
                Para publicações aceitas no EduComp, será cobrado adicionalmente uma <span class="highlight">taxa de publicação de R$ 80,00</span> para cada artigo a ser publicado.
            </p>
        </section>

        <section id="section">
            <h2>Formas de Pagamento</h2>
            <p>
                O pagamento das inscrições poderá ser realizado por meio de boleto bancário, cartão de crédito, débito em conta do Banco do Brasil, 
                nota de empenho e faturamento, através do sistema de inscrições da SBC, porém os pagamentos por débito e boleto serão fechados dia 
                <span class="highlight">02/04/2025</span>. Após essa data será possível pagar por cartão de crédito, nota de empenho e faturamento pelo 
                sistema de inscrições.
            </p>
            <p>
                Inscrições por Nota de Empenho e Faturamento: O participante deverá acessar o sistema ECOS e realizar a inscrição, selecionando a forma 
                de pagamento "nota de empenho" ou "faturamento" e clicar em pagar. O sistema fornecerá as informações necessárias que devem constar na 
                nota de empenho ou no pedido de faturamento.
            </p>
            <p>
                <strong>Observação:</strong> Os pagamentos por cartão de crédito, nota de empenho e faturamento ficarão abertos até o último dia do evento.
            </p>
        </section>

        <section class="section">
            <h2>Política de Cancelamento</h2>
            <p>
                Até o dia <span class="highlight">10/03/2025</span> poderá ser feito o reembolso de <span class="highlight">80%</span> do valor pago pela inscrição. 
                Após esta data não haverá devolução de qualquer valor pago. A política se aplica tanto ao cancelamento de registro quanto ao cancelamento de 
                qualquer atividade adicional. Para solicitar o cancelamento, envie um e-mail para <a href="mailto:faturamento@sbc.org.br">faturamento@sbc.org.br</a>.
            </p>
        </section>

</div>
