<div id="inscricoes">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            O <strong>V Simpósio Brasileiro de Educação em Computação (EduComp 2025)</strong> e o <strong>II Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2025)</strong> são eventos realizados pela <a href="https://www.sbc.org.br/" target="_blank">Sociedade Brasileira de Computação (SBC)</a>.
            A SBC é uma associação civil, sem fins lucrativos, que estimula o desenvolvimento tecnológico e científico do país e é a maior sociedade de computação da América do Sul.
          </p>
          <p>
            Os participantes inscritos terão acesso a todas as sessões do evento, aos anais do evento e também receberão certificado de participação.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="promocional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Inscrição promocional</h2>
          <img class="banner-inscricao img-fluid" src="/img/simposio/2025/comum/banner-inscricoes-combo.png" alt="Banner com informações sobre a inscrição promocional">
          <p>
            Participantes não associados à SBC ou associados com anuidade próxima do vencimento podem se associar ou renovar a associação junto com a inscrição, escolhendo as categorias COMBO com um desconto no valor da inscrição.
            As categorias COMBO são a opção mais vantajosa para os não associados à SBC, pois os valores de inscrições são menores do que as categorias sem combo e incluem a associação à SBC.
          </p>
          <p>
            Associar-se à SBC é uma forma de tornar a SBC ainda mais forte para representar a nossa área de atuação junto aos diversos setores. Que tal fazer parte da nossa Comunidade?
            Acesse o <a href="https://www.sbc.org.br/" target="_blank">site da SBC</a> e confira os benefícios de ser um associado.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="valores">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Valores de inscrição</h2>
          <p>
            Os valores de inscrição para o EduComp 2025 e SBC-EB 2025 podem ser acessados abaixo, com <strong>valores promocionais para inscrição nos dois eventos</strong>.
          </p>
          <p>
            No momento da inscrição no sistema ECOS, para categorias que necessitam de algum tipo de comprovação, será necessário o upload que atesta a categoria escolhida. 
            A verificação deste documento pode levar até <strong>2 (dois) dias úteis</strong>. 
            Assim, sugerimos que, para evitar qualquer inconveniente, os participantes evitem inscrições de última hora. 
            Somente após validação pela equipe da SBC as formas de pagamento serão liberadas no simpósio.
          </p>
          <p>
            Inscrições sem desconto poderão ser feitas até o último dia do evento.
          </p>

          <div class="accordion" id="accordion-valores">
            <div class="card">
              <div class="card-header" id="accordion-combo">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-combo" aria-expanded="true" aria-controls="collapse-combo">
                    <h3>Valores para Educomp 2025 + SBC-EB 2025 (com desconto)</h3>
                  </button>
              </div>
              <div id="collapse-combo" class="collapse" aria-labelledby="accordion-combo" data-parent="#accordion-valores">
                <div class="card-body">
                  Lorem ipsum
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-educomp">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-educomp" aria-expanded="true" aria-controls="collapse-educomp">
                  <h3>Valores para o Educomp 2025</h3>
                </button>
              </div>
              <div id="collapse-educomp" class="collapse" aria-labelledby="accordion-educomp" data-parent="#accordion-valores">
                <div class="card-body">
                  Lorem ipsum
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-sbc-eb">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-sbc-eb" aria-expanded="true" aria-controls="collapse-sbc-eb">
                  <h3>Valores para o SBC-EB 2025</h3>
                </button>
              </div>
              <div id="collapse-sbc-eb" class="collapse" aria-labelledby="accordion-sbc-eb" data-parent="#accordion-valores">
                <div class="card-body">
                  Lorem ipsum
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

  <section id="autores">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Inscrições para autores</h2>
          <p>
            Todos os autores que irão apresentar seus trabalhos precisam estar inscritos no evento.
            Para publicações aceitas no EduComp, será cobrado adicionalmente uma <strong>taxa de publicação de R$ 80,00</strong> para cada artigo a ser publicado.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="institucional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Inscrições institucionais</h2>
          <p>
            Instituições associadas à SBC (associação institucional) possuem cinco inscrições gratuitas e 50% de desconto para outras cinco inscrições, a escolher, de qualquer evento realizado pela SBC, exceto o Congresso da SBC. 
            Entretanto, a categoria de inscrição com Combo (inscrever-se no evento + associação à SBC) não pode ser usada para isenção ou desconto. 
            O associado institucional tem, no período de 365 dias, o direito de utilizar o benefício em 10 inscrições distintas, sendo limitado a 5 participantes por evento. 
            Isso quer dizer que não é possível usar 10 inscrições em um mesmo evento, devendo ser distribuídas em pelo menos 2 eventos. 
            O benefício da isenção institucional não se aplica à taxa de publicação cobrada para os trabalhos do EduComp, sendo necessário que um dos autores efetue o pagamento da taxa para a publicação do trabalho nos anais do evento.
        </p>
        </div>
      </div>
    </div>
  </section>

  <section id="pagamento">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Formas de pagamento</h2>
          <p>
            O pagamento das inscrições poderá ser realizado por meio de boleto bancário, cartão de crédito, débito em conta do Banco do Brasil, nota de empenho e faturamento, de acordo com a opção escolhida no sistema de inscrições da SBC. 
            Os pagamentos por débito e boleto serão fechados dia <strong>02/04/2025</strong>. 
            Após essa data somente será possível pagar por cartão de crédito, nota de empenho e faturamento pelo sistema de inscrições.
          </p>
          <p>
            <strong>Inscrições por nota de empenho e faturamento:</strong> O participante deverá acessar o sistema ECOS e realizar a inscrição, selecionando a forma de pagamento "nota de empenho" ou "faturamento" e clicar em pagar.
            O sistema fornecerá as informações necessárias que devem constar na nota de empenho ou no pedido de faturamento.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="cancelamento">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Política de cancelamento</h2>
          <p>
            Até o dia <strong>10/03/2025</strong> poderá ser feito o reembolso de <strong>80%</strong> do valor pago pela inscrição. 
            Após esta data não haverá devolução de qualquer valor pago. A política se aplica tanto ao cancelamento de registro quanto ao cancelamento de 
            qualquer atividade adicional. Para solicitar o cancelamento, envie um e-mail para <a href="mailto:faturamento@sbc.org.br">faturamento@sbc.org.br</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

    <!-- <div class="content-container">
    <div class="d-flex justify-content-center align-items-center">
        <h1>Inscrições para o EduComp 2025 e SBC-EB 2025</h1>
    </div>
            <section class="section">
                <p>
                    O <strong>Simpósio Brasileiro de Educação em Computação (EduComp)</strong> e o <strong>Simpósio Brasileiro de Computação na Educação Básica (SBC-EB)</strong> são eventos realizados pela <a href="https://www.sbc.org.br/" target="_blank">Sociedade Brasileira de Computação (SBC)</a>. 
                    A SBC é uma associação civil, sem fins lucrativos, que estimula o desenvolvimento tecnológico e científico do país e é 
                    a maior sociedade de computação da América do Sul. Os valores de inscrição para o EduComp 2025 e SBC-EB 2025 podem ser 
                    acessados ao clicar nos ícones abaixo, com valores promocionais para inscrição em mais de um evento.
                </p>
                <p>
                    Destacamos que estudantes e profissionais não-associados à SBC podem se associar (ou renovar a associação) no processo de inscrição.
                    Inscrever-se com associação à SBC é a opção mais vantajosa para os não associados à SBC. Confira os benefícios de se associar à SBC.
                </p>
                <p>
                    Os participantes inscritos terão acesso a todas as sessões do evento, aos anais da conferência e também receberão certificado de participação.
                </p>
        

                <div class="caixalogos">
                    <a class="imagelink" href="{{~#if isEducomp}} /simposio/2025/educomp/inscricoes/valores-educomp {{~else}} {{~#if isSbceb}} /simposio/2025/sbc-eb/inscricoes/valores-educomp {{~/if}}{{~/if}}"><img class="imglogos" src="/img/simposio/2025/logos/edc25_texto_colorido.png"/></a>
                    <a class="imagelink" href="{{~#if isEducomp}} /simposio/2025/educomp/inscricoes/valores-combo {{~else}} {{~#if isSbceb}} /simposio/2025/sbc-eb/inscricoes/valores-combo {{~/if}}{{~/if}}"><img class="imglogos" src="/img/simposio/2025/logos/sbcedu.png" /></a>
                    <a class="imagelink" href="{{~#if isEducomp}} /simposio/2025/educomp/inscricoes/valores-sbc-eb {{~else}} {{~#if isSbceb}} /simposio/2025/sbc-eb/inscricoes/valores-sbc-eb {{~/if}}{{~/if}}"><img class="imglogos" src="/img/simposio/2025/eb/logos/eblogo22.png" /></a>
                </div>
                <div class="button-container btn-disabled">
                    <a class="imagelink" href="https://centraldesistemas.sbc.org.br/ecos/EduComp_SBC-EB%202025"><button class="botaoinscricao">FAÇA AQUI SUA INSCRIÇÃO</button></a>
                </div>
        </section>
        
    </div> -->

</div>