
<div class="edc-font"></div>
    <div class="d-flex justify-content-center align-items-center">
      <h1>INSCREVA-SE PARA O EDUCOMP + SBC-EB</h1>
    </div>


<section id="inscricoes-presenciais"></section>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h2 class="mb-10 d-block">Valores para o evento presencial</h3>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Estudantes de Graduação</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudante associado à SBC com anuidade vigente</td>
                            <td>R$ 140,00</td>
                            <td>R$ 151,00</td>
                            <td>R$ 165,00</td>
                        </tr>
                        <tr>
                            <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 173,00</td>
                            <td>R$ 184,00</td>
                            <td>R$ 198,00</td>
                        </tr>
                        <tr>
                            <td>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 173,00</td>
                            <td>R$ 184,00</td>
                            <td>R$ 198,00</td>
                        </tr>
                        <tr>
                            <td>Estudante não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 187,00</td>
                            <td>R$ 200,00</td>
                            <td>R$ 215,00</td>
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Estudantes de Pós-Graduação</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                            <td>R$ 196,00</td>
                            <td>R$ 217,00</td>
                            <td>R$ 242,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 331,00</td>
                            <td>R$ 352,00</td>
                            <td>R$ 377,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 331,00</td>
                            <td>R$ 352,00</td>
                            <td>R$ 377,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 351,00</td>
                            <td>R$ 374,00</td>
                            <td>R$ 402,00</td>
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Professor de Educação Básica Municipal/Estadual</th>
                        </tr>
                       <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                            <td>R$ 182,00</td>
                            <td>R$ 203,00</td>
                            <td>R$ 224,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 317,00</td>
                            <td>R$ 338,00</td>
                            <td>R$ 359,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 317,00</td>
                            <td>R$ 338,00</td>
                            <td>R$ 359,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 336,00</td>
                            <td>R$ 359,00</td>
                            <td>R$ 382,00</td>
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Professor de Educação Básica Federal</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
                            <td>R$ 383,00</td>
                            <td>R$ -</td>
                            <td>R$ -</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 753,00</td>
                            <td>R$ 370,00</td>
                            <td>R$ 370,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 753,00</td>
                            <td>R$ 370,00</td>
                            <td>R$ 370,00</td>
                        </tr>
                        <tr>
                            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 792,00</td>
                            <td>R$ 370,00</td>
                            <td>R$ 370,00</td>
                        </tr>
                    </tbody>
                </table>

                <table border="1">
                    <thead>
                        <tr>
                            <th colspan="4" class="tabletitle">Profissionais</th>
                        </tr>
                        <tr>
                            <th class="tableheader">Deadlines</th>
                            <th class="tableheader">até 09/02/2025</th>
                            <th class="tableheader">até 10/03/2025</th>
                            <th class="tableheader">até 11/04/2025</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Profissional associado à SBC com anuidade vigente</td>
                            <td>R$ 364,00</td>
                            <td>R$ 403,00</td>
                            <td>R$ 448,00</td>
                        </tr>
                        <tr>
                            <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
                            <td>R$ 739,00</td>
                            <td>R$ 778,00</td>
                            <td>R$ 823,00</td>
                        </tr>
                        <tr>
                            <td>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
                            <td>R$ 739,00</td>
                            <td>R$ 778,00</td>
                            <td>R$ 823,00</td>
                        </tr>
                        <tr>
                            <td>Profissional não associado à SBC (Somente inscrição no evento)</td>
                            <td>R$ 776,00</td>
                            <td>R$ 819,00</td>
                            <td>R$ 868,00</td>
                        </tr>
                    </tbody>
                </table>
</div>
        </div>
      </div>
    </section>
    </div>