  {{> simposio/2022/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
                Datas Importantes (Artigos) 
                
                <br><span style="background-color: rgb(127, 197, 255); padding-left: 0.3em; padding-right: 0.3em;">prazo final</span>
                
          </h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Envio de abstract</strong>: até
                <span style="background-color: rgb(127, 197, 255);">
                  17 de outubro de 2021
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Envio de artigo completo</strong>: até
                <span style="background-color: rgb(127, 197, 255);">
                  24 de outubro de 2021
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>: até
                <span style="background-color: rgb(228, 252, 164);">
                  23 de dezembro de 2021
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>: até
                <span style="background-color: rgb(228, 252, 164);">
                  21 de janeiro de 2022
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
          </ul>

          <h2>
                Datas Importantes (Laboratório de Ideias) 
                <!--
                <br><span style="background-color: rgb(127, 197, 255); padding-left: 0.3em; padding-right: 0.3em;">prazo final</span>
                -->
          </h2> 
          
          <ul>
            <li class="lead" style="font-size: 14pt">
                <strong>Abertura do sistema para receber trabalhos</strong>:
                <span style="background-color: rgb(127, 197, 255);">
                  06 de outubro de 2021
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Registro e submissão de trabalhos</strong>: até
                <span style="background-color: rgb(127, 197, 255);">
                  06 de dezembro de 2021
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Notificação de aceitação</strong>: até
                <span style="background-color: rgb(228, 252, 164);">
                  14 de fevereiro de 2022
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
            <li class="lead" style="font-size: 14pt">
                <strong>Submissão da versão final</strong>: até
                <span style="background-color: rgb(228, 252, 164);">
                  07 de março de 2022
                  </span>
                <!--
                 | <s>26/09/2020</s>
                 | <span style="background-color: rgb(127, 197, 255);">
                     18 de outubro de 2020
                </span>
                -->
            </li>
          </ul>

        </div>
      </div>
    </div>
  </section>