  {{> simposio/2022/pt-BR/inside-header}}

 <section id="inscricoes" style="background-color:rgb(221, 232, 243);" >
    <div class="container" style="margin-top: -8em; margin-bottom: 2em; ">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          
          <p class="lead" style="text-align: justify; font-size: 14pt">
              Desde o surgimento do Workshop da Licenciatura em Computação (WLIC), em 2006, algumas questões sobre o curso da Licenciatura em Computação e a atuação do egresso são discutidas. Dentre os estudos recentes sobre a Licenciatura em Computação, alguns visam identificar os desafios mais complexos inerentes ao curso. Nota-se, nesses estudos, inúmeros desafios como a inserção em espaços de trabalho, posicionamento perante à comunidade acadêmica e realização de estágios. Percebe-se que estes temas ainda não se esgotaram e a cada dia necessitamos de mais espaços de discussões para o amadurecimento do curso. 
          </p>

          <p class="lead" style="text-align: justify; font-size: 14pt">
              Com a primeira edição do Simpósio Brasileiro de Educação em Computação (EduComp), o formato do WLIC foi rediscutido, passando a se chamar ForLic (Fórum das Licenciaturas em Computação). Em sua primeira edição, o ForLic trouxe discussões acerca das perspectivas e desafios na formação do Licenciado em Computação; a apresentação da Rede de Licenciatura em Computação (ReLic); e as Políticas para a inclusão da Computação na Educação Básica.  
          </p>

          <p class="lead" style="text-align: justify; font-size: 14pt">
              A segunda edição do EduComp traz consigo o II ForLic. Esta edição do ForLic visa aprofundar as discussões iniciais realizadas na edição anterior. O II ForLic trará a apresentação de representantes da ReLic, a discussão sobre a  inclusão da Computação na Educação Básica, os passos realizados pelos Grupos de Trabalho até a aprovação pelo CNE/MEC (Conselho Nacional de Educação), além de pontuar as ações futuras e os impactos desse movimento. O Fórum ainda discutirá sobre a atuação dos egressos a partir de diversos pontos de vista: egresso, universidade e gestão educacional.  
          </p>

          <p class="lead" style="text-align: justify; font-size: 14pt">
              Aproveite para conferir a programação do II ForLic e programe-se para participar deste importante evento para os professores e licenciandos em Computação.  
          </p>
        </div>
      </div>
    </div>
  </section>