<div id="programacao">
  <section id="informacoes-minicursos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Minicurso 1 - Construção de Circuitos Eletrônicos em Papel para a Aprendizagem de Computação na Educação Básica</h2>
          <div class="row mb-5">
            <div class="col-md-8 palestra-desc">
              <p>

              </p>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="informacoes-minicursos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2></h2>
          <div class="row mb-5">
            <div class="col-md-8 palestra-desc">
              <p>

              </p>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="informacoes-minicursos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2></h2>
          <div class="row mb-5">
            <div class="col-md-8 palestra-desc">
              <p>

              </p>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="informacoes-minicursos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2></h2>
          <div class="row mb-5">
            <div class="col-md-8 palestra-desc">
              <p>

              </p>
              <p>
                
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  
</div>