<div id="programacao">
  <section id="keynote">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="palestra-titulo">Achieving CSforALL through the Beauty and Joy of Computing (BJC)</h2>
          <h3 class="palestra-horario">Segunda-feira, 07 de abril de 2025, às 11:30, no Auditório Murilo Mendes</h3>
          <div class="row mb-3 row-vertical-center">
            <div class="col-md-4 palestra-foto-container">
              <img class="img-fluid palestra-autor-foto" alt="Foto Dan Garcia" src="/img/simposio/2025/comum/pessoas/dan-garcia.jpg"/>
              <p class="palestra-autor-nome">Prof. Dr. Dan Garcia</p>
              <p class="palestra-autor-filiacao">UC Berkeley</p>
            </div>
            <div class="col-md-8 palestra-desc">
              <p>
                <strong>Abstract:</strong> 
                At a time when computing is so much a part of all of our lives, has incredible job opportunities, and is so empowering, most students graduate high school without having had any introduction to computer science. 
                A decade ago in the United States, the CSforALL movement was launched to broaden participation in computing to those traditionally underrepresented. 
                This talk will reflect on the current state of that initiative, and introduce the "Beauty and Joy of Computing (BJC)" course, which has received worldwide attention and currently has 65% female enrollment at UC Berkeley, among the highest in the nation.
              </p>
              <p>
                <strong>Short bio:</strong> 
                Dan Garcia (UC Berkeley MS 1995, PhD 2000) is a Teaching Professor in the Electrical Engineering and Computer Science department at UC Berkeley. 
                Selected as an ACM Distinguished Educator in 2012, he has won all four of the department's computer science teaching awards, and holds the record for the highest teaching effectiveness ratings (6.7/7) in the history of the department's introductory courses.
                He is a national leader in the "CSforALL" movement, bringing engaging computer science to students normally underrepresented in the field. 
                Thanks to four National Science Foundation grants, the "Beauty and Joy of Computing (BJC)" non-majors course he co-developed has been shared with over 500 high school teachers. 
                He is delighted to regularly have more than 50% female enrollment in BJC, with a high mark of 65% in the Spring of 2018, shattering the record at UC Berkeley for an intro computing course, and is among the highest in the nation! 
                He is humbled by the national exposure he and the course have received in the New York Times, PBS NewsHour, NPR's All Things Considered, USA Today, and the front pages of the San Jose Mercury News and San Francisco Chronicle.
                He has won the NCWIT Undergraduate Research Mentoring award, the UC Berkeley Unsung Hero award, the LPFI Lux award, the SAP Visionary Member award, and was chosen as a Google CS4HS Ambassador for his work to support teachers and diversify computing. 
                He has served on the ACM Education Board, the College Board Computer Science Principles Development Committee, and was the SIGCSE Symposium co-chair in 2018. 
                In 2019 it was announced he was the most frequent SIGCSE author in their 50-year history, with 61 submissions of all kinds: papers, panels, workshops, posters, etc.; second place had 42.
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

</div>