<div id="programacao">

  <section id="mesa-tematica">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Desafios da Extensão como geradora de tecnologias sociais em projetos na área de Computação</h2>
          <h3 class="horario">Segunda-feira, 31 de março de 2025, às 10h30, online.</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autores:</strong> 
                Pablo Vieira Florentino (IFBA), Débora Abdalla (UFBA), Bárbara Pimenta Caetano (URFJ) e Melise Maria Veiga de Paula (UNIFEI).
              </p>
              <p>
                <strong>Resumo:</strong> 
                Na área tecnológica, o desafio de integrar a extensão ao ambiente acadêmico tem sido particularmente perceptível, com iniciativas extensionistas recebendo menor atenção, historicamente, em comparação às outras atividades. 
                Contudo, projetos bem-sucedidos têm demonstrado o potencial transformador da extensão universitária ao promover trocas de saberes e serviços relevantes à sociedade, especialmente junto aos grupos em situação de maior vulnerabilidade social. 
                Essas experiências, frequentemente construídas com base em diálogos colaborativos e interdisciplinares, geram desdobramentos positivos tanto para as comunidades envolvidas quanto para as instituições acadêmicas. 
                Levando em conta a relevância da extensão como um dos tripés da universidade e o processo de curricularização da extensão nos cursos superiores, a proposta dessa mesa busca trazer mais questionamentos do que respostas, formulando projetos que engendrem transformações sociais de maior impacto com ações e resultados ainda mais afirmativos.
                Nessa seara, a ideia de Tecnologia Social é um caminho possível para estruturar o fazer extensionista focando no desenvolvimento de produtos e serviços que sejam fundamentados na interação com a sociedade civil e como soluções efetivas e de impacto para estes grupos sociais.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mesa-tematica">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Educação em Computação sem Padrões Limitantes: Caminhos para Diversidade de Gênero no Ensino Superior</h2>
          <h3 class="horario">Quarta-feira, 9 de abril de 2025, às 11h, no Auditório Pedro Nava.</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autoras:</strong> 
                Renata Viegas de Figueiredo (UFPB), Alessandreia Marta de Oliveira (UFJF), Luciana Cardoso de Castro Salgado (UFF) e Mirella M. Moro (UFMG).
              </p>
              <p>
                <strong>Resumo:</strong> 
                Um dos principais desafios da Educação em Computação é transformar uma área historicamente dominada por homens em um espaço mais diverso e acolhedor. 
                A baixa representatividade feminina na Computação tem raízes na Educação Básica e se perpetua até o Ensino Superior, onde poucas mulheres ingressam nos cursos, e muitas desistem ainda no primeiro ano. 
                Além disso, mesmo entre aquelas que concluem a graduação, uma parcela significativa não segue carreira na área. 
                Ampliar a participação feminina não é apenas uma questão de equidade, mas também essencial para impulsionar a inovação, elevar a qualidade da educação e promover um desenvolvimento sustentável no campo da Computação. 
                Diante desse cenário, a proposta desta mesa temática é discutir a importância da diversidade de gênero na Educação em Computação no Ensino Superior, abordando desafios e estratégias para tornar o ensino mais diverso.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mesa-tematica">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Impactos da IA em cursos de graduação em computação: ameaças e oportunidades</h2>
          <h3 class="horario">Quarta-feira, 9 de abril de 2025, às 14h30, no Auditório Pedro Nava.</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autoras:</strong> 
                Carla Amor Divino Moreira Delgado (UFRJ), Silvana Rossetto (UFRJ) e Laura O. Moraes (UNIRIO).
              </p>
              <p>
                <strong>Resumo:</strong> 
                As tecnologias computacionais inteligentes já fazem parte do acervo e instrumentos usados pelos estudantes universitários na realização de suas atividades acadêmicas. 
                Considerando os estudantes de computação, além dos impactos da Inteligência Artificial (IA) na rotina acadêmica, outras questões relativas à formação do jovem cientista, engenheiro ou licenciado em computação se colocam, como por exemplo: o desenvolvimento da competência técnica em IA adequada ao tempo atual, a ética no uso, implantação e desenho de tecnologias inteligentes, o seu impacto social, e seu papel no fazer científico. 
                Essa mesa visa abordar os desafios e oportunidades trazidos pela IA aos cursos de graduação em computação.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>