<div id="programacao">

  <section id="minicurso">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Construção de Circuitos Eletrônicos em Papel para a Aprendizagem de Computação na Educação Básica</h2>
          <h3 class="horario">Segunda-feira, 7 de abril de 2025, às 16h30, na Auditório Pedro Nava (auditório amarelo).</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autora:</strong> 
                Rozelma Soares de França (UFRPE).
              </p>
              <p>
                <strong>Resumo:</strong> 
                O ensino de Computação na Educação Básica é uma necessidade premente, impulsionado pela BNCC Computação e pela Política Nacional de Educação Digital. 
                Nesse contexto, competências e habilidades da área devem perfazer a formação dos estudantes, da Educação Infantil ao Ensino Médio, sendo requeridas estratégias didáticas que potencializem as aprendizagens previstas. 
                Assim, este minicurso busca favorecer práticas de criação de circuitos eletrônicos em papel em articulação com elementos culturais com vistas ao desenvolvimento de habilidades previstas na BNCC Computação. 
                As experiências compartilhadas atreladas às vivenciadas do minicurso poderão favorecer a percepção dos participantes quanto ao potencial de atividades criativas e desplugadas no ensino de Computação, fomentando práticas pedagógicas significativas e socialmente relevantes na educação básica.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="minicurso">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Realidade Virtual para o Ensino de Programação na Educação Básica: Fundamentos, Explorações e o aplicativo SSPOT-VR</h2>
          <h3 class="horario">Segunda-feira, 7 de abril de 2025, às 16h30, na Sala ângelo Bigi (laboratório L.107).</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autores:</strong> 
                Gustavo Martins Nunes Avellar (USP), Paulo André Pimenta Aragão (USP) e Ellen Francine Barbosa (USP).
              </p>
              <p>
                <strong>Resumo:</strong> 
                A programação de computadores e o Pensamento Computacional (PC) se tornaram competências fundamentais para o desenvolvimento acadêmico e profissional no século XXI, sendo gradativamente incorporados aos currículos da Educação Básica.
                Tecnologias imersivas, como a Realidade Virtual (RV), Realidade Aumentada (RA) e outras configurações de Realidade Estendida (XR), vêm sendo exploradas para potencializar o ensino de programação e PC, mesmo que desafios ainda persistam quanto à implementação de soluções de amplo acesso e de baixo custo.
                Diante desse cenário, este minicurso tem como objetivo capacitar profissionais da Educação para a aplicação da RV no ensino de programação e PC.
                A atividade abordará os fundamentos teóricos da RV, RA e XR, destacando suas aplicações pedagógicas e demonstrando como essas tecnologias podem tornar o ensino mais interativo e envolvente.
                Além da fundamentação teórica, será realizada uma exploração prática do SSPOT-VR, um aplicativo móvel, de baixo custo e desenvolvido para apoiar o ensino de conceitos de programação de computadores na Educação Básica. 
                Os participantes serão introduzidos a estratégias para implementar tecnologias imersivas em sala de aula, promovendo o desenvolvimento de habilidades computacionais e ampliando o engajamento dos estudantes.
                Ao combinar teoria e prática, o minicurso proporcionará uma visão abrangente sobre o impacto e as possibilidades da RV, RA e XR na Educação, preparando os participantes para integrar essas tecnologias de forma eficaz no ensino de programação e PC. 
                Dessa forma, nossa iniciativa contribui para a disseminação do conhecimento sobre tecnologias imersivas e para o fortalecimento da Computação na Educação Básica.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="minicurso">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Introdução à Computação Musical: Potencializando as habilidades de programação através da música no Scratch</h2>
          <h3 class="horario">Segunda-feira, 7 de abril de 2025, às 16h30, na Sala Nancy de Carvalho (laboratório L.205).</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autores:</strong> 
                Graziela Ferreira Guarda (UFF) e Leila Weitzel (UFF).
              </p>
              <p>
                <strong>Resumo:</strong> 
                O objetivo deste minicurso é explorar uma abordagem de ensinoaprendizado alternativa para o ensino da programação através da música no Scratch. 
                Além disso, temos a intenção de divulgar a área da Computação Musical de modo que a comunidade geral possa tomar um primeiro contato com as diferentes formas pelas quais a tecnologia e a música podem ser correlacionadas.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="minicurso">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Programação sem Sobrecarga: Otimizando o Ensino através da Teoria da Carga Cognitiva</h2>
          <h3 class="horario">Terça-feira, 8 de abril de 2025, às 16h30, na Sala ângelo Bigi (laboratório L.107).</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autor:</strong>
                João Henrique Berssanette (IFPR).
              </p>
              <p>
                <strong>Resumo:</strong> 
                Este minicurso apresenta uma abordagem fundamentada na Teoria da Carga Cognitiva (TCC) para otimização do processo de ensino e aprendizagem de programação de computadores. 
                Estruturado em quatro momentos que integram teoria e prática, destina-se a docentes que atuam no ensino de programação em diferentes níveis educacionais. 
                A proposta integra aspectos teóricos da TCC e sua aplicação prática no ensino de programação, oferecendo diretrizes baseadas em evidências e estratégias práticas para o gerenciamento efetivo da carga cognitiva durante o desenvolvimento dos conteúdos de programação.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="minicurso">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Pensamento Computacional e o Brincar na Educação Infantil: Desafios e Possibilidades</h2>
          <h3 class="horario">Terça-feira, 8 de abril de 2025, às 16h30, na Sala Nancy de Carvalho (laboratório L.205).</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Autores:</strong> 
                Aline Pereira (Colégio Pedro II), Angélica Lima de Moraes (Colégio Pedro II), Anne Caroline de Oliveira Barros (Colégio Pedro II) e Liliana Cristina Pery de Oliveira (Colégio Pedro II).
              </p>
              <p>
                <strong>Resumo:</strong> 
                Este minicurso propõe a integração do Pensamento Computacional com o brincar na Educação Infantil, visando o desenvolvimento cognitivo, social e emocional das crianças. 
                Serão exploradas práticas lúdicas que estimulam habilidades como resolução de problemas, lógica e criatividade, por meio de atividades plugadas e desplugadas. 
                A proposta é capacitar os educadores a aplicar o Pensamento Computacional de forma equilibrada, promovendo ambientes de aprendizagem dinâmicos e interativos, estimulando o pensamento crítico e a colaboração, preparando as crianças para os desafios da sociedade digital de maneira contextualizada e alinhada às diretrizes educacionais.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>