<div id="programacao-online">
  <section id="apresentacao-online">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            Em 2025, o EduComp realizará sua primeira edição presencial, marcando um novo momento para o evento. 
            No entanto, nos dias 31/03 e 01/04, também contaremos com uma programação online, trazendo atividades das trilhas formativas WTC, CTD e Laboratório de Ideias.
            Interessados em participar unicamente das atividades online podem se inscrever nessa categoria específica, com valores reduzidos conforme indicado na <a href="/simposio/2025/educomp/inscricoes">página de inscrições</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="tabela-programacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Programação das atividades online</h2>
          <table class="table text-center table-striped">
            <thead>
              <tr>
                <th class="col-horario">Horário</th>
                <th>Segunda-feira, 31/03/25</th>
                <th>Terça-feira, 01/04/25</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="time-cell">
                  <span>09:00</span>
                  <span>-</span>
                  <span>10:30</span>
                </td>
                <td>WTD</td>
                <td>-</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>10:30</span>
                  <span>-</span>
                  <span>12:00</span>
                </td>
                <td>WTD</td>
                <td>Laboratório de Ideias</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>14:00</span>
                  <span>-</span>
                  <span>17:00</span>
                </td>
                <td>CTD</td>
                <td>CTD</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="wtd">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Workshop de Teses e Dissertações - WTD</h2>
          <p>
            O Workshop de Teses e Dissertações (WTD) do EduComp é um fórum dedicado à apresentação e discussão de trabalhos de Mestrado e de Doutorado em Educação em Computação em desenvolvimento no Brasil.
            Seu objetivo é propiciar um ambiente construtivo para discussões, dando oportunidade aos estudantes de obterem feedback sobre os trabalhos em desenvolvimento e um posicionamento em relação à pesquisa em Educação em Computação.
          </p>
          <p>
            Em 2025, o WTD será realizado em formato online, na manhã do dia 31 de março, com a seguinte programação:
          </p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th class="col-horario">Horário</th>
                <th class="col-descricao">Descrição das atividades</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="time-cell">
                  <span>09:00</span>
                  <span>-</span>
                  <span>09:15</span>
                </td>
                <td class="col-descricao">Abertura do evento</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>09:15</span>
                  <span>-</span>
                  <span>09:45</span>
                </td>
                <td class="col-descricao">Apresentações para o grande grupo, onde cada estudante destaca os desafios de sua pesquisa (5 minutos por estudante).</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>09:45</span>
                  <span>-</span>
                  <span>10:00</span>
                </td>
                <td class="col-descricao">Intervalo</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>10:00</span>
                  <span>-</span>
                  <span>11:00</span>
                </td>
                <td class="col-descricao">Discussão nos grupos com os mentores, onde os estudantes levam dúvidas e pontos de discussão, e os mentores oferecem feedback.</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>11:00</span>
                  <span>-</span>
                  <span>11:15</span>
                </td>
                <td class="col-descricao">Intervalo</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>11:15</span>
                  <span>-</span>
                  <span>11:45</span>
                </td>
                <td class="col-descricao">Devolutivas no grande grupo, onde os mentores apresentam uma visão geral da discussão (15 minutos por grupo).</td>
              </tr>
              <tr>
                <td class="time-cell">
                  <span>11:45</span>
                  <span>-</span>
                  <span>12:00</span>
                </td>
                <td class="col-descricao">Encerramento e feedback</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
      
  <section id="ctd">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Concurso de Teses e Dissertações - CTD</h2>
          <p>
            O Concurso de Teses e Dissertações (CTD) do EduComp tem como objetivo destacar e divulgar as pesquisas defendidas em programas de pós-graduação stricto sensu em temas relacionados à área de Educação em Computação. 
            Na edição de 2025, serão premiadas as melhores Teses e Dissertações defendidas e aprovadas no Brasil no ano de 2024.
          </p>
          <p>
            Em 2025, o CTD será realizado em formato online, nas tardes dos dias 31 de março e 1º de abril.
            A programação detalhada será divulgada em breve aqui.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="lab-ideias">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Laboratório de Ideias</h2>
          <p>
            O Laboratório de Ideias é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas e/ou oportunidades de colaboração na área de Educação em Computação.
            O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores e/ou receber feedback qualificado para aquela ideia.
          </p>
          <p>
            Em 2025, o Laboratório de Ideias será realizado em dois momentos distintos: online, na manhã do dia 1º de abril; e presencial, na tarde do dia 8 de abril.
            A programação detalhada do evento online será divulgada em breve aqui.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>