<div id="programacao">
    <section id="tabela-programacao">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-12">
                <h2>Programação Geral</h2>
                <table class="table table-bordered">
                <thead>
                    <tr>
                    <th>Horário</th>
                    <th>31/03</th>
                    <th>01/04</th>
                    <th>Atividades</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>09:00 - 10:30</td>
                    <td>WTD</td>
                    <td>-</td>
                    <td>WTD</td>
                    </tr>
                    <tr>
                    <td>10:30 - 12:00</td>
                    <td>WTD</td>
                    <td>Laboratório de Ideias</td>
                    <td>CTD</td>
                    </tr>
                    <tr>
                    <td>14:00 - 17:00</td>
                    <td>CTD</td>
                    <td>CTD</td>
                    <td>Laboratório de Ideias</td>
                    </tr>
                </tbody>
                </table>
            </div>
            </div>
        </div>
        </section>

        <section id="wtd">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-12">
                <h2>WTD - Workshop de Teses e Dissertações</h2>
                <div class="row mb-5">
                <div class="col-md-12">
                    <p>
                    O IV Workshop de Teses e Dissertações em Educação em Computação (IV WTD-EduComp), evento do V Simpósio Brasileiro de Educação em Computação (EduComp 2025), é um fórum dedicado à apresentação e discussão de trabalhos de Mestrado e de Doutorado em Educação em Computação em desenvolvimento no Brasil. Seu objetivo é propiciar um ambiente construtivo para discussões, dando oportunidade aos estudantes de obterem feedback sobre os trabalhos em desenvolvimento e um posicionamento em relação à pesquisa em Educação em Computação.  O evento será remoto, no dia 31 de março pela manhã, e segue a programação detalhada abaixo:
                    </p>
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                        <th>Horário</th>
                        <th>Atividade</th>
                        <th>Descrição</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <td>9h-9h15</td>
                        <td>Abertura do evento</td>
                        <td>-</td>
                        </tr>
                        <tr>
                        <td>9h15-9h45</td>
                        <td>Apresentação para o grande grupo</td>
                        <td>Cada estudante terá 5 minutos para destacar os desafios de sua pesquisa.</td>
                        </tr>
                        <tr>
                        <td>9h45-10h</td>
                        <td>Intervalo</td>
                        <td>Breve pausa.</td>
                        </tr>
                        <tr>
                        <td>10h-11h</td>
                        <td>Discussão nos grupos com os mentores</td>
                        <td>Os estudantes devem levar dúvidas e pontos de discussão. Mentores trarão feedback.</td>
                        </tr>
                        <tr>
                        <td>11h-11h15</td>
                        <td>Intervalo</td>
                        <td>Breve pausa.</td>
                        </tr>
                        <tr>
                        <td>11h15-11h45</td>
                        <td>Devolutivas no grande grupo</td>
                        <td>Mentores trazem uma visão geral da discussão. Cada grupo tem 15 minutos.</td>
                        </tr>
                        <tr>
                        <td>11h45-12h</td>
                        <td>Encerramento e feedback</td>
                        <td>-</td>
                        </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

        
        <section id="ctd">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-12">
                <h2>CTD - Concurso de Teses e Dissertações</h2>
                <div class="row mb-5">
                <div class="col-md-12 palestra-desc">
                    <p>
                    O Concurso de Teses e Dissertações (CTD) do EduComp tem como objetivo destacar e divulgar as pesquisas defendidas em programas de pós-graduação stricto sensu em temas relacionados à área de Educação em Computação. Submissões podem tratar de dissertações e teses concluídas que abordem todos os aspectos da Educação em Computação, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino. Na edição de 2025, serão premiadas as melhores Teses e Dissertações defendidas e aprovadas no Brasil no ano de 2024.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
        </section>

        <section id="lab-ideias">
        <div class="container">
            <div class="row justify-content-center">
            <div class="col-12">
                <h2>Laboratório de Ideias</h2>
                <div class="row mb-5">
                <div class="col-md-12 palestra-desc">
                    <p>
                    O Laboratório de Ideias é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas e/ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores e/ou receber feedback qualificado para aquela ideia.
                    </p>
                </div>
                </div>
            </div>
            </div>
        </div>
    </section>
</div>