<div id="programacao-online">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            Em 2025, o EduComp realizará sua primeira edição presencial, marcando um novo momento para o evento. 
            No entanto, nos dias 31/03 e 01/04, contaremos com um pré-evento online cuja programação está bastante diversificada.
            A <strong>participação neste momento online é aberta aos inscritos no evento</strong> em qualquer uma das categorias (<i>interessados em participar unicamente das atividades online podem se inscrever nessa categoria específica, com valores reduzidos conforme indicado na <a href="/simposio/2025/educomp/inscricoes">página de inscrições</a></i>).
          </p>
          <p>
            A seguir está a programação das atividades online do EduComp 2025.
            Essas atividades serão transmitidas via Google Meet, e <strong>os links para acesso às salas serão divulgados por e-mail</strong> aos inscritos no evento.
          </p>
          <div class="container-calendario">
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&mode=WEEK&dates=20250331/20250401&src=ZmZlYWM0MTgzM2IzNjBhMDViZmI0YTViNzUzY2ZjMzc0MTY5NDg4ODM2ZDIxZDE5MzE1MTk0OGE5ZmVlY2VlOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&mode=AGENDA&dates=20250331/20250401&src=ZmZlYWM0MTgzM2IzNjBhMDViZmI0YTViNzUzY2ZjMzc0MTY5NDg4ODM2ZDIxZDE5MzE1MTk0OGE5ZmVlY2VlOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              Observe que a programação está disponível como uma agenda pública no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essa agenda de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="wtd">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Workshop de Teses e Dissertações (WTD)</h2>
          <p>
            O Workshop de Teses e Dissertações (WTD) do EduComp é um fórum para a apresentação e discussão de pesquisas em Educação em Computação, oferecendo um ambiente construtivo para feedback e posicionamento dos estudantes na área.
            Em 2025, o WTD será realizado em formato online, na manhã do dia 31 de março.
          </p>
          <p>
            Abaixo está detalhada a programação do evento seguida da lista completa de trabalhos que serão apresentados no WTD.
          </p>
          <div class="accordion" id="accordion-wtd-main">
            <div class="card">
              <div class="card-header" id="accordion-wtd-prog">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-wtd-prog" aria-expanded="true" aria-controls="collapse-wtd-prog">
                  <h3>Programação do WTD EduComp</h3>
                </button>
              </div>
              <div id="collapse-wtd-prog" class="collapse" aria-labelledby="accordion-wtd-prog" data-parent="#accordion-wtd-main">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th class="col-horario">Horário</th>
                        <th class="col-descricao">Descrição das atividades</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="time-cell">
                          <span>09:00</span>
                          <span>-</span>
                          <span>09:15</span>
                        </td>
                        <td class="col-descricao">Abertura do evento</td>
                      </tr>
                      <tr>
                        <td class="time-cell">
                          <span>09:15</span>
                          <span>-</span>
                          <span>09:45</span>
                        </td>
                        <td class="col-descricao">Apresentações para o grande grupo, onde cada estudante destaca os desafios de sua pesquisa (5 minutos por estudante).</td>
                      </tr>
                      <tr>
                        <td class="time-cell">
                          <span>09:45</span>
                          <span>-</span>
                          <span>10:00</span>
                        </td>
                        <td class="col-descricao">Intervalo</td>
                      </tr>
                      <tr>
                        <td class="time-cell">
                          <span>10:00</span>
                          <span>-</span>
                          <span>11:00</span>
                        </td>
                        <td class="col-descricao">Discussão nos grupos com os mentores, onde os estudantes levam dúvidas e pontos de discussão, e os mentores oferecem feedback.</td>
                      </tr>
                      <tr>
                        <td class="time-cell">
                          <span>11:00</span>
                          <span>-</span>
                          <span>11:15</span>
                        </td>
                        <td class="col-descricao">Intervalo</td>
                      </tr>
                      <tr>
                        <td class="time-cell">
                          <span>11:15</span>
                          <span>-</span>
                          <span>11:45</span>
                        </td>
                        <td class="col-descricao">Devolutivas no grande grupo, onde os mentores apresentam uma visão geral da discussão (15 minutos por grupo).</td>
                      </tr>
                      <tr>
                        <td class="time-cell">
                          <span>11:45</span>
                          <span>-</span>
                          <span>12:00</span>
                        </td>
                        <td class="col-descricao">Encerramento e feedback</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-wtd">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-wtd" aria-expanded="true" aria-controls="collapse-wtd">
                  <h3>Trabalhos do WTD EduComp</h3>
                </button>
              </div>
              <div id="collapse-wtd" class="collapse" aria-labelledby="accordion-wtd" data-parent="#accordion-wtd-main">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          <strong>Workshop de Teses e Dissertações</strong><br/>
                          Segunda-feira, 31 de março, de 09:00 às 12:00
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação de Profissionais de Computação para Ciência Aberta</h4>
                          <ul class="autores-artigo">
                            <li>Beatriz Brito do Rêgo (UFBA)</li>
                            <li>Jean Rosa (ITI)</li>
                            <li>Christina von Flach G. Chavez (UFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Robótica e Prototipagem para Professores: uma proposta com Ensino por Investigação e Resolução de Problemas</h4>
                          <ul class="autores-artigo">
                            <li>Daniel Moreira dos Santos (Prefeitura Municipal de Vitória)</li>
                            <li>Márcia Gonçalves Oliveira (IFES)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvendo o Pensamento Computacional em Sala de Aula</h4>
                          <ul class="autores-artigo">
                            <li>Henrique Martins (UNESP)</li>
                            <li>Roberta Spolon (UNESP)</li>
                            <li>Wilson Massashiro Yonezawa (UNESP)</li>
                            <li>Gabrielly Del Carlo Richene (UNESP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Investigação de distrações em cursos de introdução à programação com técnicas de Learning Analytics</h4>
                          <ul class="autores-artigo">
                            <li>Thyago Luis Borges E Silva (UFU)</li>
                            <li>Rafael D. Araújo (UFU)</li>
                            <li>Cleon Xavier (IF Goiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">LLMs na Educação em Programação: Estratégias para Avaliação e Feedback Formativo</h4>
                          <ul class="autores-artigo">
                            <li>Francisco Silva (UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Automatic Generation of Programming Questions Based on Multi-Layer Templates</h4>
                          <ul class="autores-artigo">
                            <li>Abner Santana (Dimap/UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      
  <section id="ctd">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Concurso de Teses e Dissertações (CTD)</h2>
          <p>
            O Concurso de Teses e Dissertações (CTD) do EduComp premia os as melhores Teses e Dissertações em temas relacionados à área de Educação em Computação defendidas e aprovadas em programas de pós-graduação stricto sensu no Brasil durante o ano anterior.
            Em 2025, o CTD será realizado em formato online, nas tardes dos dias 31 de março (dissertações de mestrado) e 1º de abril (teses de doutorado).
          </p>
          <p>
            A seguir estão listados os trabalhos que serão apresentados no CTD.
            Cada autor terá até <strong>20 minutos para apresentar</strong> seu trabalho, seguido de até <strong>30 minutos de arguição</strong> pelos avaliadores. 
            Após as três apresentações, os avaliadores classificarão os trabalhos em 1º, 2º e 3º lugares. 
            Essa classificação será enviada aos organizadores do EduComp para divulgação durante a semana do evento.
          </p>
          
          <div class="accordion" id="accordion-ctd-main">
            <div class="card">
              <div class="card-header" id="accordion-ctd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-ctd" aria-expanded="true" aria-controls="collapse-ctd">
                    <h3>Trabalhos do CTD EduComp</h3>
                  </button>
              </div>
              <div id="collapse-ctd" class="collapse" aria-labelledby="accordion-ctd" data-parent="#accordion-ctd-main">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          <strong>Concurso de dissertações de mestrado</strong><br/>
                          Segunda-feira, 31 de março, de 14:00 às 17:00
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">CoderBot: Um Assistente Virtual Para Apoiar a Aprendizagem de Programação por meio de Worked Examples</h4>
                          <ul class="autores-artigo">
                            <li>Renato Garcia (UNIPAMPA)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Williamson Silva (UNIPAMPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Framework para auxílio no desenvolvimento de soft skills em estudantes de Engenharia de Software</h4>
                          <ul class="autores-artigo">
                            <li>Giovana Giardini Borges (UNESP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">NetVerse Edu - Um Laboratório Imersivo de Redes de Computadores no Metaverso como Ferramenta de Apoio às Práticas de Ensino</h4>
                          <ul class="autores-artigo">
                            <li>Erberson Vieira (IFPB)</li>
                            <li>Francisco Petrônio Alencar de Medeiros (IFPB)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          <strong>Concurso de teses de doutorado</strong><br/>
                          Terça-feira, 1º de abril, de 14:00 às 17:00
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Estratégias para o Ensino de Machine Learning para Estudantes em Vulnerabilidade Social no Ensino Fundamental e Médio</h4>
                          <ul class="autores-artigo">
                            <li>Ramon Mayor Martins (IFSC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Exploring Equity and Self-Directed Learning in Computing Undergraduates: A Capability Analysis from the Global South</h4>
                          <ul class="autores-artigo">
                            <li>Esdras Bispo Jr. (UFJ)</li>
                            <li>Simone Santos (UFPE)</li>
                            <li>Marcus Vinicius De Matos (Brunel University)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Problemas de Compreensão em Códigos Corretos: Auxiliando Instrutores e Alunos ao Iluminar o que é Potencialmente Ofuscado pela Correção Automática</h4>
                          <ul class="autores-artigo">
                            <li>Eryck Silva (UNICAMP)</li>
                            <li>Rodolfo Jardim de Azevedo (UNICAMP)</li>
                            <li>Ricardo Caceffo (UNIVESP)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="lab-ideias">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Laboratório de Ideias</h2>
          <p>
            O Laboratório de Ideias do EduComp é um espaço para compartilhar e discutir sobre trabalhos em andamento, ideias novas e não-testadas e/ou oportunidades de colaboração na área de Educação em Computação.
            Em 2025, o Laboratório de Ideias será realizado em dois momentos distintos: online, na tarde do dia 31 de março; e presencial, entre os dias 7 e 10 de abril.
          </p>
          <p>
            A seguir estão listados os trabalhos que serão apresentados no momento online do Laboratório de Ideias.
            <!-- Cada autor terá até <strong>20 minutos para apresentar</strong> seu trabalho, seguido de até <strong>30 minutos de arguição</strong> pelos avaliadores.  -->
          </p>
          <div class="accordion" id="accordion-li-main">
            <div class="card">
              <div class="card-header" id="accordion-lab-ideias">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-lab-ideias" aria-expanded="true" aria-controls="collapse-lab-ideias">
                    <h3>Trabalhos do Laboratório de Ideias</h3>
                  </button>
              </div>
              <div id="collapse-lab-ideias" class="collapse" aria-labelledby="accordion-lab-ideias" data-parent="#accordion-li-main">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          <strong>Laboratório de Ideias 1 - Diversidade e Inclusão</strong><br/>
                          Segunda-feira, 31 de março, de 14:00 às 15:10
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Oi!: Caixa luminosa para comunicação com estudantes surdos</h4>
                          <ul class="autores-artigo">
                            <li>João Moraes (IFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">MapEdu+: Uma plataforma para apoiar a inclusão educacional de pessoas com deficiência e neurodivergentes em escolas públicas</h4>
                          <ul class="autores-artigo">
                            <li>Nataniel Wilson Andrade</li>
                            <li>João Vitor de Melo Dobre</li>
                            <li>Lucy Mara Camacho</li>
                            <li>Marcel Rios (IFRO)</li>
                            <li>Mariela Mizota Tamada (IFRO)</li>
                            <li>Maria Ivanilse Calderon Ribeiro (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Criação de Jogos Digitais por Pessoa Surda: Um Relato de Experiência</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Rocha Rezende (UFJ)</li>
                            <li>Cleria Martins Lino e Silva (UFJ)</li>
                            <li>Marco Antônio Mariano (UFJ)</li>
                            <li>Ana Paula Boaventura (UFJ)</li> 
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          <strong>Laboratório de Ideias 2 - Tecnologias na Educação em Computação</strong><br/>
                          Segunda-feira, 31 de março, de 15:20 às 16:30
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Proposição de um Repositório de Ferramentas Tecnológicas para o Ensino de Programação de Estudantes com TEA</h4>
                          <ul class="autores-artigo">
                            <li>Andre Avelino (UNIPAMPA)</li>
                            <li>Emilene Coco dos Santos (IFES)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Williamson Silva (UNIPAMPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">IFG Truck: Laboratorio Maker Itinerante</h4>
                          <ul class="autores-artigo">
                            <li>Wendell Bento Geraldes (IFG)</li>
                            <li>Alec Kawam Seixas Fonseca (IFG)</li>
                            <li>Sávio Augusto De Queiroz Gonçalves Rocha</li> 
                            <li>Anna Clara Valeriano Diniz (IFG)</li>
                            <li>Karen Cristine Lins Simões (IFG)</li>
                            <li>Carlos Roberto da Silveira Junior (IFG)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="mesa-tematica">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Mesa temática</h2>
          <p>
            As mesas temáticas do EduComp são espaços para discussão de questões epistêmicas ou metodológicas em Educação em Computação, promovendo diálogos e a construção de agendas a partir do interesse da comunidade.
            Em 2025, teremos uma mesa temática online, na manhã do dia 31 de março, e outras duas mesas temáticas presenciais, entre os dias 7 e 10 de abril.
          </p>
          <p>
            A seguir estão os detalhes sobre a mesa temática online.
          </p>
          <div class="accordion" id="accordion-mt-main">
            <div class="card">
              <div class="card-header" id="accordion-mesas">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-mesas" aria-expanded="true" aria-controls="collapse-mesas">
                  <h3>Mesa temática: Desafios da Extensão como geradora de Tecnologias sociais em projetos na área de Computação</h3>
                </button>
              </div>
              <div id="collapse-mesas" class="collapse" aria-labelledby="accordion-mesas" data-parent="#accordion-mt-main">
                <div class="card-body">
                  <p>
                    <strong>Autores:</strong>
                    Pablo Vieira Florentino (IFBA), Débora Abdalla (UFBA), Bárbara Pimenta Caetano (URFJ) e Melise Maria Veiga de Paula (UNIFEI) 
                  </p>
                  <p>
                    <strong>Horário:</strong>
                    Segunda-feira, 31 de março, de 10:30 às 12:00
                  </p>
                  <p>
                    <strong>Resumo:</strong>
                    Na área tecnológica, o desafio de integrar a extensão ao ambiente acadêmico tem sido particularmente perceptível, com iniciativas extensionistas recebendo menor atenção, historicamente, em comparação às outras atividades. 
                    Contudo, projetos bem-sucedidos têm demonstrado o potencial transformador da extensão universitária ao promover trocas de saberes e serviços relevantes à sociedade, especialmente junto aos grupos em situação de maior vulnerabilidade social. 
                    Essas experiências, frequentemente construídas com base em diálogos colaborativos e interdisciplinares, geram desdobramentos positivos tanto para as comunidades envolvidas quanto para as instituições acadêmicas. 
                    Levando em conta a relevância da extensão como um dos tripés da universidade e o processo de curricularização da extensão nos cursos superiores, a proposta dessa mesa busca trazer mais questionamentos do que respostas, formulando projetos que engendrem transformações sociais de maior impacto com ações e resultados ainda mais afirmativos.
                    Nessa seara, a ideia de Tecnologia Social é um caminho possível para estruturar o fazer extensionista focando no desenvolvimento de produtos e serviços que sejam fundamentados na interação com a sociedade civil e como soluções efetivas e de impacto para estes grupos sociais.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sessao-tecnica">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Sessão Técnica</h2>
          <p>
            As sessões técnicas do EduComp são espaços para a apresentação e discussão de artigos completos, promovendo o compartilhamento de pesquisas e avanços na área de Educação em Computação.
            Em 2025, teremos uma única sessão técnica online, na manhã do dia 1º de abril.
            Outras <a href="/simposio/2025/educomp/programacao/sessoes-tecnicas" target="_blank">16 sessões técnicas</a>, abordando diversos temas, acontecerão presencialmente entre os dias 7 e 10 de abril.
          </p>
          <p>
            A seguir estão listados os trabalhos que serão apresentados na sessão técnica online.
            Cada autor terá <strong>15 minutos para sua apresentação</strong> e, ao final de todas as exposições, haverá um tempo dedicado a discussões e perguntas.
            Recomenda-se que os autores estejam cientes das <a href="/simposio/2025/educomp/chamadas/orientacoes-apresentacao" target="_blank">orientações para apresentação</a> previamente divulgadas pela organização do evento.
          </p>
          <div class="accordion" id="accordion-st-main">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t1" aria-expanded="true" aria-controls="collapse-t1">
                  <h3>Trabalhos da Sessão Técnica</h3>
                </button>
              </div>
              <div id="collapse-t1" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-st-main">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          <strong> Sessão Técnica online</strong><br/>
                          Terça-feira, 1º de abril, de 09:00 às 10:30
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação Docente para a Diversidade e Inclusão: Uma Análise dos Currículos de Licenciatura em Computação de Instituições Públicas da Bahia</h4>
                          <ul class="autores-artigo">
                            <li>Danyele de Oliveira Santana (IF Baiano)</li>
                            <li>Naiara Silva Santos (UESB)</li>
                            <li>Claudia Pinto Pereira (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A reference model for presentation of studies in competency-based education in engineering and computing</h4>
                          <ul class="autores-artigo">
                            <li>Leandro Santos da Cruz (UFBA)</li>
                            <li>José Amancio Macedo Santos (UEFS)</li>
                            <li>Lucca de Almeida Hora Coutinho (UEFS)</li>
                            <li>Lais do Nascimento Salvador (UFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Inteligência Artificial e Acessibilidade: Uma Experiência de Inclusão para Programadores Cegos em Ambientes de Desenvolvimento</h4>
                          <ul class="autores-artigo">
                            <li>Naiara Silva Santos (UESB)</li>
                            <li>Danyele de Oliveira Santana (IF Baiano)</li>
                            <li>Claudia Pinto Pereira (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>