<div id="programacao">
  <section id="palestra-nacional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Programação na Era da IA Gerativa: Reflexões sobre Aprendizagem e Avaliação</h2>
          <div class="row mb-5">
            <div class="col-md-4 palestra-foto-container">
              <img class="img-fluid palestra-foto" alt="Foto Elaine Harada" src="/img/simposio/2025/comum/pessoas/elaine-harada.webp"/>
              <p class="palestra-autor">Elaine Harada</p>
            </div>
            <div class="col-md-8 palestra-desc">
              <p>
                O uso massivo da IA gerativa e dos modelos de linguagem de grande escala (LLMs) está transformando a forma como interagimos com o conhecimento, levantando questões essenciais sobre o papel da programação e da avaliação educacional.
                Esta palestra propõe uma reflexão crítica sobre como essas tecnologias impactam a avaliação da aprendizagem e se a programação, hoje uma habilidade central, continuará sendo essencial.
                O objetivo é abrir um diálogo sobre as implicações dessas ferramentas no contexto educacional, focando nas mudanças em curso, sem previsões especulativas.
              </p>
              <p>
                Elaine Harada é professora no Instituto de Computação da Universidade Federal do Amazonas desde 2002. 
                Possui graduação em Ciências de Computação pela Universidade de São Paulo e doutorado em Informática na Educação pela Universidade Federal do Rio Grande do Sul. 
                De 2019 a 2021, atuou como editora associada da Revista Brasileira de Informática na Educação. 
                Desde 2021, é bolsista de produtividade em Desenvolvimento Tecnológico e Extensão Inovadora do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq). 
                Atuou por vários anos como coordenadora da disciplina de Introdução à Programação de Computadores em sua instituição. 
                Atualmente, sua pesquisa se concentra na análise do comportamento de estudantes em ambientes de aprendizagem de programação, utilizando trilhas de aprendizagem e métodos baseados em dados, com o objetivo de prever resultados educacionais e viabilizar o aprendizado adaptativo por meio de Learning Analytics.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="palestra-nacional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2>Lack of Diversity: ainda estamos aqui</h2>
          <div class="row mb-5">
            <div class="col-md-4 palestra-foto-container">
              <img class="img-fluid palestra-foto" alt="Foto Mirella M. Moro" src="/img/simposio/2025/comum/pessoas/mirella-moro.jpg"/>
              <p class="palestra-autor">Mirella M. Moro</p>
            </div>
            <div class="col-md-8 palestra-desc">
              <p>
                "Cursos de Computação preparam seus estudantes para lidar com diversidade, equidade e inclusão?" -- assim começou o meu Ensaio publicado no EduComp de 2022.
                De lá para cá, a Sociedade Brasileira de Computação tem criado e mantido boas iniciativas, mas ainda estamos aqui, precisando conversar mais sobre o assunto.
                O chamado à ação continua e, em 2025, é mais crítico do que antes, porque ao lidar com esses assuntos, não há como estar em cima do muro: uma pessoa é parte do problema ou trabalha para sua solução.
              </p>
              <p>
                Mirella M. Moro atua no Departamento de Ciência da Computação (DCC) da Universidade Federal de Minas Gerais (UFMG).
                Possui graduação, mestrado e doutorado em Ciência da Computação. 
                Foi membro do Education Council da ACM (Association for Computing Machinery) e do seu Education Board. 
                Na Sociedade Brasileira de Computação (SBC), é uma das coordenadoras do Programa Meninas Digitais, foi sua conselheira (2019-2023), Diretora de Educação (2009-2015), editora-chefe da revista eletrônica SBC Horizontes (2008-2012), e editora associada do JIDM (Journal of Information and Data Management, 2010-2012). 
                Seus interesses de pesquisa incluem ciência de dados, diversidade de gênero, computação e cultura (música e literatura), e educação em Computação. 
                É feminista e tem trabalhado com questões de diversidade de gênero na Computação e no Mercado de TIC desde 2008.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>