<div id="programacao">
  <section id="palestra-nacional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="palestra-titulo">Programação na Era da IA Gerativa: Reflexões sobre Aprendizagem e Avaliação</h2>
          <h3 class="palestra-horario">Terça-feira, 08 de abril de 2025, às 11:00, no Auditório Murilo Mendes</h3>
          <div class="row mb-3">
            <div class="col-md-4 palestra-foto-container">
              <img class="img-fluid palestra-autor-foto" alt="Foto Elaine Harada" src="/img/simposio/2025/comum/pessoas/elaine-harada.webp"/>
              <p class="palestra-autor-nome">Profª. Drª Elaine Harada</p>
              <p class="palestra-autor-filiacao">Universidade Federal do Amazonas (UFAM)</p>
            </div>
            <div class="col-md-8 palestra-desc">
              <p>
                <strong>Resumo:</strong> 
                O uso massivo da IA gerativa e dos modelos de linguagem de grande escala (LLMs) está transformando a forma como interagimos com o conhecimento, levantando questões essenciais sobre o papel da programação e da avaliação educacional.
                Esta palestra propõe uma reflexão crítica sobre como essas tecnologias impactam a avaliação da aprendizagem e se a programação, hoje uma habilidade central, continuará sendo essencial.
                O objetivo é abrir um diálogo sobre as implicações dessas ferramentas no contexto educacional, focando nas mudanças em curso, sem previsões especulativas.
              </p>
              <p>
                <strong>Mini currículo:</strong> 
                Elaine Harada é professora no Instituto de Computação da Universidade Federal do Amazonas desde 2002. 
                Possui graduação em Ciências de Computação pela Universidade de São Paulo e doutorado em Informática na Educação pela Universidade Federal do Rio Grande do Sul. 
                De 2019 a 2021, atuou como editora associada da Revista Brasileira de Informática na Educação. 
                Desde 2021, é bolsista de produtividade em Desenvolvimento Tecnológico e Extensão Inovadora do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq). 
                Atuou por vários anos como coordenadora da disciplina de Introdução à Programação de Computadores em sua instituição. 
                Atualmente, sua pesquisa se concentra na análise do comportamento de estudantes em ambientes de aprendizagem de programação, utilizando trilhas de aprendizagem e métodos baseados em dados, com o objetivo de prever resultados educacionais e viabilizar o aprendizado adaptativo por meio de Learning Analytics.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="palestra-nacional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="palestra-titulo">Lack of Diversity: ainda estamos aqui</h2>
          <h3 class="palestra-horario">Terça-feira, 08 de abril de 2025, às 14:30, no Auditório Murilo Mendes</h3>
          <div class="row mb-3">
            <div class="col-md-4 palestra-foto-container">
              <img class="img-fluid palestra-autor-foto" alt="Foto Mirella M. Moro" src="/img/simposio/2025/comum/pessoas/mirella-moro.jpg"/>
              <p class="palestra-autor-nome">Profª. Drª Mirella M. Moro</p>
              <p class="palestra-autor-filiacao">Universidade Federal de Minas Gerais (UFMG)</p>
            </div>
            <div class="col-md-8 palestra-desc">
              <p>
                <strong>Resumo:</strong> 
                "Cursos de Computação preparam seus estudantes para lidar com diversidade, equidade e inclusão?" -- assim começou o meu Ensaio publicado no EduComp de 2022.
                De lá para cá, a Sociedade Brasileira de Computação tem criado e mantido boas iniciativas, mas ainda estamos aqui, precisando conversar mais sobre o assunto.
                O chamado à ação continua e, em 2025, é mais crítico do que antes, porque ao lidar com esses assuntos, não há como estar em cima do muro: uma pessoa é parte do problema ou trabalha para sua solução.
              </p>
              <p>
                <strong>Mini currículo:</strong> 
                Mirella M. Moro atua no Departamento de Ciência da Computação (DCC) da Universidade Federal de Minas Gerais (UFMG).
                Possui graduação, mestrado e doutorado em Ciência da Computação. 
                Foi membro do Education Council da ACM (Association for Computing Machinery) e do seu Education Board. 
                Na Sociedade Brasileira de Computação (SBC), é uma das coordenadoras do Programa Meninas Digitais, foi sua conselheira (2019-2023), Diretora de Educação (2009-2015), editora-chefe da revista eletrônica SBC Horizontes (2008-2012), e editora associada do JIDM (Journal of Information and Data Management, 2010-2012). 
                Seus interesses de pesquisa incluem ciência de dados, diversidade de gênero, computação e cultura (música e literatura), e educação em Computação. 
                É feminista e tem trabalhado com questões de diversidade de gênero na Computação e no Mercado de TIC desde 2008.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="palestra-nacional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="palestra-titulo">Computação na Educação Básica: possibilidades e desafios no currículo escolar</h2>
          <h3 class="palestra-horario">Quarta-feira, 09 de abril de 2025, às 09:30, no Auditório Murilo Mendes</h3>
          <div class="row mb-3">
            <div class="col-md-4 palestra-foto-container">
              <img class="img-fluid palestra-autor-foto" alt="Foto Leila Ribeiro" src="/img/simposio/2025/comum/pessoas/leila-ribeiro.jpg"/>
              <p class="palestra-autor-nome">Profª. Drª Leila Ribeiro</p>
              <p class="palestra-autor-filiacao">Universidade Federal do Rio Grande do Sul (UFRGS)</p>
            </div>
            <div class="col-md-8 palestra-desc">
              <p>
                <strong>Resumo:</strong> 
                Nesta palestra, serão discutidas a importância do ensino de Computação na Educação Básica e as políticas públicas da área, como a BNCC Computação. 
                Possibilidades e desafios à atualização curricular, à formação docente e aos materiais didáticos também serão abordados.
              </p>
              <p>
                <strong>Mini currículo:</strong> 
                Leila Ribeiro é professora titular do Instituto de Informática da Universidade Federal do Rio Grande do Sul. 
                Possui graduação em Ciências da Computação pela Universidade Federal do Rio Grande do Sul (1988), mestrado em Ciências da Computação pela Universidade Federal do Rio Grande do Sul (1991) e doutorado em Informática pela Universidade Técnica de Berlim/Alemanha (1996) com tese na área de modelos semânticos para Computação. 
                Fez estágio de pós-doutorado na Universidade de York, Inglaterra (2008/2009). 
                Sua pesquisa tem foco nos Fundamentos da Computação, e atua principalmente nas seguintes áreas da Computação: engenharia de software (em especial especificação e verificação formal), bioinformática, modelos de computação e ensino de Computação (com ênfase em pensamento computacional). 
                Em 1999, recebeu o Prêmio Santista Juventude na área de Computação. Já coordenou diversos projetos nacionais e internacionais, bem como publicou mais de 100 artigos em revistas e eventos científicos. 
                É reconhecida internacionalmente em sua área, tendo sido coordenadora dos comitês de programa dos mais importantes simpósios nacionais de sua área, bem como de eventos internacionais. 
                É a representante brasileira no IFIP Technical Committee 1 (Foundations of Computer Science) e membro efetivo da Sociedade Brasileira de Computação (SBC). 
                Atualmente é Diretora de Ensino de Computação na Educação Básica da SBC (Sociedade Brasileira de Computação).
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>