<div id="programacao">
  <section id="palestra-nacional">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row mb-5">
            <div class="col-md-4 palestra-foto-container">
              <img class="img-fluid palestra-foto" alt="Foto Elaine Harada" src="/img/simposio/2025/comum/jf/hoteis/trade.jpg"/>
            </div>
            <div class="col-md-8 palestra-desc">
              <h3 class="palestra-titulo">Programação na Era da IA Gerativa: Reflexões sobre Aprendizagem e Avaliação</h3>
              <p class="palestra-autor">Elaine Harada</p>
              <p>
                O uso massivo da IA gerativa e dos modelos de linguagem de grande escala (LLMs) está transformando a forma como interagimos com o conhecimento, levantando questões essenciais sobre o papel da programação e da avaliação educacional. Esta palestra propõe uma reflexão crítica sobre como essas tecnologias impactam a avaliação da aprendizagem e se a programação, hoje uma habilidade central, continuará sendo essencial. O objetivo é abrir um diálogo sobre as implicações dessas ferramentas no contexto educacional, focando nas mudanças em curso, sem previsões especulativas.
              </p>
              <p>Elaine Harada é professora no Instituto de Computação da Universidade Federal do Amazonas desde 2002. Possui graduação em Ciências de Computação pela Universidade de São Paulo e doutorado em Informática na Educação pela Universidade Federal do Rio Grande do Sul. De 2019 a 2021, atuou como editora associada da Revista Brasileira de Informática na Educação. Desde 2021, é bolsista de produtividade em Desenvolvimento Tecnológico e Extensão Inovadora do Conselho Nacional de Desenvolvimento Científico e Tecnológico (CNPq). Atuou por vários anos como coordenadora da disciplina de Introdução à Programação de Computadores em sua instituição. Atualmente, sua pesquisa se concentra na análise do comportamento de estudantes em ambientes de aprendizagem de programação, utilizando trilhas de aprendizagem e métodos baseados em dados, com o objetivo de prever resultados educacionais e viabilizar o aprendizado adaptativo por meio de Learning Analytics.</p>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>