<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação completa das atividades presenciais do EduComp 2025.
            O <strong>credenciamento de participantes</strong> acontecerá durante todo o período no <i>foyer</i> do evento.
            Os intervalos para <i>coffee break</i> ocorrerão entre 10:30 e 11:00 e entre 16:00 e 16:30.
          </p>
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
            <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=EduComp%20-%20Atividades%20presenciais&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=MGVhNGI2MmY4ZmNlNmM5NmQ2YjJjMjllMzgwYTA4MjdiNTZhYjk4ZDhkZmZmN2UzMzE4OGMwMjYzMjdmMmIyOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=M2JhODVkNTYzMjJhMjY0MzI5MTQ4YjZmZjk1ZTNkNzk4NjI1NWNmMDEyZGVmMGQyYjg0MmU5ZWI5ZWU2ZDI1ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZmRjYmRhMzIxZjI2M2M4MjAyMDZhMDk5MTU1MDY0YTU2MzdlMTFlNjhkN2Q5OTUzYWE2NDQ4M2ZiNzRkMDg0Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5&color=%237986CB&color=%234285F4" frameborder="0" scrolling="no"></iframe>
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=EduComp%20-%20Atividades%20presenciais&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=MGVhNGI2MmY4ZmNlNmM5NmQ2YjJjMjllMzgwYTA4MjdiNTZhYjk4ZDhkZmZmN2UzMzE4OGMwMjYzMjdmMmIyOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=M2JhODVkNTYzMjJhMjY0MzI5MTQ4YjZmZjk1ZTNkNzk4NjI1NWNmMDEyZGVmMGQyYjg0MmU5ZWI5ZWU2ZDI1ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZmRjYmRhMzIxZjI2M2M4MjAyMDZhMDk5MTU1MDY0YTU2MzdlMTFlNjhkN2Q5OTUzYWE2NDQ4M2ZiNzRkMDg0Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5&color=%237986CB&color=%234285F4" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>
              Observe que a programação está disponível como três agendas públicas no Google Agenda.
              Ao selecionar um evento, você poderá visualizar mais detalhes na descrição.
              É possível adicionar essas agendas de programação ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.
            </i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>