

.edc-2024 p{
    text-align: justify; font-size: 14pt; font-family: 'Inter var', sans-serif;
}


.edc-2024 .main-image {
    background-color: rgba(26, 28, 58, 1);
    box-sizing: border-box;

    display: flex;
    position: relative;
}

.edc-2024 .main-image a {
    width: 100%;
}

.edc-2024 .buttons {
    position: absolute;
    width: 40%;
    top: 60%;
    left: 40%;

}

.edc-2024 .buttons .button-group {
    display: flex;

}



.edc-2024 .buttons .btn,
.edc-2024 .buttons .btn-lg {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10em;
    max-width: 50%;

}

.edc-2024 .btn.btn-primary,
.btn-lg.btn-primary {
    background-color: rgba(149, 193, 31, 1);
    border: none;
    border-radius: 1em;
    margin-right: 0.5em;

}

.edc-2024 .btn.btn-outline-secondary,
.btn-lg.btn-outline-secondary {

    border: 0.17em solid white;
    border-radius: 1em;
}

@media screen and (max-width: 991px) {
    .edc-2024 .buttons {
        position: relative;
        box-sizing: border-box;
        max-width: 100%;
        width: auto;
        left: 0;
        bottom: 0;
    }

    .edc-2024 .buttons .button-group {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 1em;
    }

    .edc-2024 .buttons .btn,
    .edc-2024 .buttons .btn-lg {

        width: 40%;
        font-size: 1em;
    }





}