
  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> simposio/2021/pt-BR/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Equipe</h2>
          
          <br>
          <h3>Comissão Organizadora </h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral</h4>
              </td>
              <td>
                <ul>
                  <li>Esdras Bispo Jr (UFJ)</li>
                </ul>
              </td>
              <td>bispojr@ufg.br</td>
            </tr>

            <tr>
              <td>
                <h4>Conselho Consultivo</h4>
              </td>
              <td colspan="2">
                <ul>
                  <li>Avelino Zorzo (PUC-RS)</li>
                  <li>Jair Leite (UFRN)</li>
                  <li>Maria de Fátima Brandão (UnB)</li>
                  <li>Mirella Moro (UFMG)</li>
                  <li>Renata Araújo (Mackenzie)</li>
                </ul>
              </td>
            </tr>
          <tr>
            <td>
              <h5>Web Site do Evento</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Harley Mello (IFCE)</li>
                <li>Esdras Bispo Jr (UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Ferramental Online e <br>Equipe de Apoio Técnico</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Dyego Morais (UFRPE)</li>
                <li>Hugo Medeiros (UFJ)</li>
                <li>Gustavo Guimarães (UFJ)</li>
                <li>Júlia Ortiz (UFPR)</li>
                <li>Lidiane Monteiro (UFRPE)</li>
                <li>Tainã Tavares (UNISC)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publicação dos Anais</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Ana Liz Oliveira (UFPB)</li>
                <li>Elaine de Oliveira (UFAM)</li>
                <li>Filipe Pereira (UFRR)</li>
                <li>Rafael Araújo (UFU)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publicidade e Mídias Sociais</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Franciny Barreto (UFJ)</li>
                <li>Aruquia Peixoto (CEFET-RJ)</li>
                <li>João Pedro Góes (UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Financeiro e Inscrições</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Wilkerson Andrade (UFCG)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Conexão com a Educação Básica</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Marcia Elena Kniphoff (UNISC)</li>
                <li>Tainã Tavares (UNISC)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Interação com Sociedades Científicas</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Mirella Moro (UFMG)</li>
                <li>Rodrigo Duran (IFMS)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Articulação Cultural</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Marcelo Freitas (UFJ)</li>
                <li>Nyllo Alves (<a href="https://www.youtube.com/channel/UC7fmeliEET7EjGQ-MPLoApA">Canal YouTube</a>)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Promoção da Inclusão e Acessibilidade</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Angelita Barbosa Martins (NAI-UFJ)</li>
                <li>Celeida Dias Sousa (NAI-UFJ)</li>
                <li>Cristiane de Fátima Lemes Domingos (NAI-UFJ)</li>
                <li>Cristiane Souza Borzuk (UFJ)</li>
                <li>Fernando da Rocha Silva (NAI-UFJ)</li>
                <li>Flávia Ferreira Rodrigues (NAI-UFJ)</li>
                <!--<li>Kamila Rodrigues Coelho (UFJ)</li>-->
                <li>Maria de Fátima Brandão (UnB)</li>
                <li>Nilza Aparecida Lopes Alves (NAI-UFJ)</li>
                <li>Simone Machado da Silva (NAI-UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Estudantes Voluntários</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Carolina Oliveira (UFPR)</li>
              </ul>
            </td>
          </tr>
        </table>

        </div>
      </div>
    </div>
  </section>