<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral do comitê de programa</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Rozelma França</td>
                <td data-label="Instituição">UFRPE</td>
                <td data-label="E-mail">rozelma.franca@ufrpe.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Flavia Santoro</td>
                <td data-label="Instituição">UERJ</td>
                <td data-label="E-mail">flavia@ime.uerj.br</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
