<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral do polo sede (Juiz de Fora - MG)</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">alessandreia.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Edmar Welington Oliveira</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">edmar.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">jairo.souza@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Jerez Chaves</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">luciano.chaves@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
                <td data-label="E-mail">pedrohenriquevalle@usp.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Coordenação dos polos regionais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Amaury Antonio De Castro Junior</td>
                <td data-label="Instituição">UFMS</td>
                <td data-label="E-mail"></td>
              </tr>
              <tr>
                <td data-label="Nome">Lais Do Nascimento Salvador</td>
                <td data-label="Instituição">UFBA</td>
                <td data-label="E-mail"></td>
              </tr>
              <tr>
                <td data-label="Nome">João Da Mata Libório Filho</td>
                <td data-label="Instituição"></td>
                <td data-label="E-mail"></td>
              </tr>
              <tr>
                <td data-label="Nome">Thiago Adriano Coleti</td>
                <td data-label="Instituição">UENP</td>
                <td data-label="E-mail"></td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Editoração e publicação dos anais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Ivanilse Calderon</td>
                <td data-label="Instituição">IFRO</td>
                <td data-label="E-mail">ivanilse.calderon@ifro.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Renato de Souza Garcia</td>
                <td data-label="Instituição">IFMS</td>
                <td data-label="E-mail">renato.garcia@ifms.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Ricardo Ferreira Vilela</td>
                <td data-label="Instituição">UFCA</td>
                <td data-label="E-mail">ricardovilela91@gmail.com</td>
              </tr>
              <tr>
                <td data-label="Nome">Williamson Silva</td>
                <td data-label="Instituição">UNIPAMPA</td>
                <td data-label="E-mail">williamsonsilva@unipampa.edu.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Financeiro</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">alessandreia.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">jairo.souza@ufjf.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Inscrições e certificados</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Cleon Xavier Pereira Júnior</td>
                <td data-label="Instituição">IF-Goiano</td>
                <td data-label="E-mail">cleon.junior@ifgoiano.edu.br</td>
              </tr>
              <tr>
                <td>Esdras Bispo Jr.</td>
                <td>UFJ</td>
                <td>bispojr@ufj.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
                <td data-label="E-mail">pedrohenriquevalle@usp.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Yorah Bosse</td>
                <td data-label="Instituição">University at Buffalo</td>
                <td data-label="E-mail">yorah.bosse@gmail.com</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Publicidade e mídias sociais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">alessandreia.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Luiza Mello</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">analuiza.mello@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Luiza Miscoli</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">analuiza.miscoli@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Edmar Welington Oliveira</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">edmar.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">João Ricardo Bernardo</td>
                <td data-label="Instituição">UFAM</td>
                <td data-label="E-mail">jrsb@icomp.ufam.edu.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
                <td data-label="E-mail">pedrohenriquevalle@usp.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Web Site</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Helena Lannes</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">helena.lannes@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">jairo.souza@ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Leonardo Prata</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">leo.prata@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Jerez Chaves</td>
                <td data-label="Instituição">UFJF</td>
                <td data-label="E-mail">luciano.chaves@ufjf.br</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
