<div class="modal fade" id="24-painel-forlic" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Painel ForLic
          <small style="font-size: 0.7em;">| 16:30 - 18:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>Casos de Sucesso: Experiências sobre o Ensino de Computação na Educação Básica Brasileira</h5>
          
          <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">
          
              <a class="btn btn-info" href="https://www.youtube.com/watch?v=tgkg6VBUxVY" target="_blank" style="background-color: red; color:white; border: 0px; ">
                  <span style="padding-right:0.5em;">
                      <i class="fab fa-youtube" aria-hidden="true"></i>
                  </span>
                  Transmissão pelo YouTube 
              </a>
          </span>

          <hr>
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Luis Gustavo de Jesus Araujo<br>
            <b>Professor de Computação (UNIFACS)</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Gilvan Vilarim<br>
            <b>Professor de Computação (IFRJ)</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Profa. Simone Rodrigues Laureano<br>
            <b>Chefe de Divisão de Inovação na Educação | Secretaria Executiva de Projetos, Tecnologia e Inovação | Prefeitura do Recife</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Diego Berti Bagestan<br>
            <b>Professor de Computação | Prefeitura Municipal de Teutônia</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Profa. Maurice Guterres Brandão<br>
            <b>Chefe de Divisão de Gestão Profissional | Prefeitura Municipal de Santa Cruz do Sul</b>
          </span>
          <div class="mb-3" style="font-size: large; display: block;">
            Profa. Marcia Kniphoff da Cruz (UNISC)<br>
            Profa. Rozelma Soares de França (UFRPE)<br>
            <b>Chefe de Divisão de Gestão Profissional | Prefeitura Municipal de Santa Cruz do Sul</b>
          </div>
      </div>
    </div>
  </div>
</div>