<div id="criterios">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilha 3 - Currículos</h2>
          
          <h3>Diretrizes para avaliar anonimização</h3>
          <p>
          O EduComp adota um processo de revisão com <strong>anonimização dupla</strong>. Nestes casos, os artigos submetidos devem omitir qualquer informação que permita a identificação de seus autores, tais como:
          </p>
          <ul>
          <li><strong>Informações de autoria.</strong> O artigo não deve incluir nome e filiação dos autores, nem outras informações que permitam a identificação dos autores, tais como nome do local da intervenção, identificação de projetos ou informações sobre financiamento;</li>
          <li><strong>Referências a trabalhos anteriores dos autores.</strong> Trabalhos anteriores devem ser apresentadas em terceira pessoa (por exemplo, usar "no trabalho de Fulano et al.” em vez de "em nosso trabalho"), ou de forma anonimizada (por exemplo, [referência omitida]);</li>
          <li><strong>Links para artefatos relacionados ao trabalho.</strong> O artigo deve apontar para repositórios ou websites que não permitam a identificação do nome ou da instituição dos autores. Sugestão: serviço <a href="https://anonymous.4open.science/">Anonymous GitHub</a>.</li>
          </ul>
          <p>Todas as informações de autoria devem ser <strong>omitidas do texto</strong>. Apresentar as informações de autoria e mascará-las com formatação diferente da SBC (por exemplo, letra preta em fundo preto, ou letra branca em fundo branco) não é o mesmo que omitir, pois diferentes aplicativos de visualização de PDF podem apresentar essas informações em formatos mais explícitos; ou as pessoas revisoras podem ver as informações pessoais ao copiar e colar trechos do artigo para verificação de fatos no momento da revisão.</p>

          <h3>Diretrizes para avaliar escopo e aderência</h3>
          <p>
            Como a Educação em Computação é uma área interdisciplinar, em alguns casos, classificar a aderência de artigos pode levar a certas dúvidas. De regra geral, o manuscrito deve apresentar uma contribuição para a formação de pessoas na área de Computação. Dessa forma, ficam <strong>fora do escopo</strong> do EduComp:
          </p>
          <ul>
            <li>Artigos que enfocam mais no desenvolvimento de <strong>ferramentas computacionais educativas</strong> (Informática na Educação) do que na formação do ser humano em uma área da Computação.</li>
            <li>Artigos que enfocam na formação em <strong>outras áreas do conhecimento</strong>, tais como Geografia, Matemática, Letramento Digital, etc. Por outro lado, podem fazer parte do escopo, artigos que relatam projetos de pesquisa e extensão executados por estudantes de Computação atuando na educação de outras áreas de conhecimento, mas desde que o trabalho enfoque como o projeto promoveu uma melhor formação dos estudantes de Computação, e não do público que recebeu formação sobre outra área de conhecimento.</li>
          </ul>

          <h3>Diretrizes sobre os critérios do formulário de avaliação</h3>
          <p>
            O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios de revisão:
          </p>
          <ul>
            <li>Em termos <strong>quantitativos</strong>, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir.</li>
            <li>Para os itens de 2 a 7, os revisores deverão oferecer <strong><i>feedback</i> qualitativo</strong> que justifique a nota atribuída ao respectivo critério. Esse feedback visa melhorar a qualidade das revisões, provendo avaliação específica aos critérios próprios para cada um dos cinco tipos de artigos esperados pelo EduComp.</li>
          </ul>
          <p>
            Os <strong>trabalhos de currículo</strong> (Trilha 3) deverão ser avaliados conforme os seguintes critérios, em formulário via JEMS3:
          </p>
          <ol>
            <li><strong>Aderência:</strong> O artigo deve abordar a temática sobre currículo em educação em computação, em qualquer nível de ensino. Note-se que o termo “currículo” não significa necessariamente um currículo inteiro, mas iniciativas pedagógicas implementadas ou sugeridas via curricularização (i.e., necessárias para a integralização). Também são aceitos “position papers” com argumentações referentes a currículo, que serão avaliados pelos mesmo critérios descritos a seguir.</li>
            <li><strong>Qualidade e organização textual:</strong>O texto (incluindo figuras e tabelas) possui estrutura, clareza, coerência, coesão, bem como cuidados com ortografia, gramática e formatação exigidos pelo modelo SBC.</li>
            <li><strong>Contexto educacional:</strong> O artigo deve descrever o contexto educacional que motivou a iniciativa/proposta, fundamentado em legislação educacional, diretrizes curriculares e/ou literatura relevante.</li>
            <li><strong>Fundamentos pedagógicos:</strong> O manuscrito deve apresentar e discute os fundamentos pedagógicos que motivaram a iniciativa, com base na literatura relevante da área.</li>
            <li><strong>Contribuição e originalidade:</strong> O manuscrito deve mostrar como a abordagem curricular é inovadora no contexto educacional apresentado e coerente com os fundamentos pedagógicos discutidos.</li>
            <li><strong>Design e construção: </strong> O trabalho deve descrever o projeto ou implementação da proposta curricular de forma que possa ser reproduzida. Se existe implementação, os resultados devem ser discutidos. As avaliações dos resultados devem seguir boas práticas em termos de ética e de rigor científico na sua condução e na apresentação dos resultados. Se o trabalho é uma proposta, os autores devem argumentar sobre sua viabilidade e resultados esperados.</li>
            <li><strong>Generalidade da proposta: </strong> O trabalho deve descrever se e como a iniciativa pode ser usada por outras instituições de ensino em seus projetos pedagógicos.</li>
          </ol>
        </div>
      </div>
    </div>
  </section>
</div>