  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color: darkcyan">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">GIEC</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#page-top">Principal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#destaque">Sobre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#grupo">Quem Somos?</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#eventos">Documentos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contato">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div style="background-color: rgb(174, 235, 236)">
    <div class="container" >
          <img src='/img/giec-land.png' 
          style="
            width: 100%; height: 100%; 
            padding-left: 20%; padding-right: 20%; 
            padding-bottom: 5%; padding-top: 10%;"/>
    </div>
  </div>

  <section id="destaque">
    <div class="container">
      <div class="row">
          <div class="col-lg-8 mx-auto">
            <h2 >Destaque</h2>            
            <div class="jumbotron">
                <h1 class="display-4">EduComp 2021</h1>
                <p>Este evento...</p>
                <hr class="my-4">
                <p>Programação e demais informaçõe no link abixo.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="/simposio/2021" role="button">Ver mais</a>
                </p>
            </div>
          </div>
      </div>
      
    </div>
  </section>

  <section id="grupo" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>O Grupo</h2>
          <img src='/img/logo-giec.jpeg' style="height: 100px; width: 100px" />
          <p class="lead">O grupo de pesquisa...</p>
          <ul>
            <li>Dados necessários</li>   
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="eventos">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Eventos</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="pesquisas" class="bg-light">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Pesquisas</h2>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero odio fugiat voluptatem dolor, provident officiis, id iusto! Obcaecati incidunt, qui nihil beatae magnam et repudiandae ipsa exercitationem, in, quo totam.</p>
        </div>
      </div>
    </div>
  </section>

  <section id="contato" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>Contato</h2>
          <p>Email:</p>
          <p>Fone:</p>
          <p>Social:</p>
          <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut optio velit inventore, expedita quo laboriosam possimus ea consequatur vitae, doloribus consequuntur ex. Nemo assumenda laborum vel, labore ut velit dignissimos.</p>
        </div>
      </div>
    </div>
  </section>

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Mantido e desenvolvido por: Equipe EduCompBR 2020</p>
    </div>
    <!-- /.container -->
  </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    <script src="/js/scrolling-nav.js"></script>
