<div style="background-color: rgb(174, 235, 236)">
  <div class="container">
    <img src='/img/CEduComp.png' style="
            width: 100%; height: 100%; 
            padding-left: 20%; padding-right: 20%; 
            padding-bottom: 5%; padding-top: 5%;" />
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <p class="lead text-justify">

        A Comissão Especial de Educação em Computação (CEduComp) é uma comissão especial da <a
          href="http://www.sbc.org.br" target="_blank">Sociedade Brasileira de Computação</a> que reúne pesquisadores e
        profissionais que atuam diretamente na área de Educação em Computação. A CEduComp tem como foco os processos de
        ensino-aprendizagem da computação e de suas subdisciplinas, além de uma preocupação especial com a formação de
        profissionais da área de computação, inclusive professores. Uma das principais ações desta comissão é a
        realização anual do <a href="https://www.educompbrasil.org/simposio/2024/" target="_blank">Simpósio Brasileiro
          de Educação em Computação (EduComp)</a>, onde são apresentados e publicados tanto artigos completos como
        trabalhos em andamento, além de viabilizar a formação e discussão sobre temáticas relevantes da área.


      </p>
      <div class="text-center">
        <a href="https://groups.google.com/g/pesquisadores-educacao-computacao-brasil" target="_blank">
          <span style="font-size: 3em; color: rgb(9, 102, 102)">
            <i class="fas fa-envelope-square"></i>
          </span>
        </a>
        <a href="https://www.facebook.com/giec.sbc" target="_blank">
          <span style="font-size: 3em; color: rgb(9, 102, 102)">
            <i class="fab fa-facebook-square"></i>
          </span>
        </a>
        <a href="https://www.youtube.com/GIECSBC" target="_blank">
          <span style="font-size: 3em; color: rgb(9, 102, 102)">
            <i class="fab fa-youtube-square"></i>
          </span>
        </a>
      </div>
    </div>
  </div>
</div>