  <div style="background-color: rgb(174, 235, 236)">
    <div class="container" >
          <img src='/img/giec-land.png' 
          style="
            width: 100%; height: 100%; 
            padding-left: 20%; padding-right: 20%; 
            padding-bottom: 5%; padding-top: 5%;"/>
    </div>
  </div>

  <div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <p class="lead">
          O Grupo de Interesse em Educação em Computação (GIEC) é um grupo que reúne pesquisadores e profissionais que atuam diretamente na área de Educação em Computação. O GIEC é um grupo da Sociedade Brasileira de Computação, vinculado à Comissão Especial de Informática na Educação (CEIE).
        </p>
      </div>
    </div>
  </div>