<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1>Sobre o GIEC</h1>
        <p class="lead">
          O Grupo de Interesse em Educação em Computação (GIEC) é um grupo que reúne pesquisadores e profissionais que atuam diretamente na área de Educação em Computação. O GIEC é um grupo da Sociedade Brasileira de Computação, vinculado à Comissão Especial de Informática na Educação (CEIE).
        </p>
      </div>
    </div>
  </div>