<header class="bg-default text-dark" style="height: 4rem; margin-top: -4rem">
    <div class="container">
      <div class="row">
        <div class="col-3 text-right">
          <img src="/img/chamada.png" style="height: 4rem; width: 8rem"/>
        </div>
        <div class="col-9 text-left" style="padding-left: 2.5em;">
          <h3>Simpósio Brasileiro de Educação em Computação</h3>
        </div>
      </div>
      
    </div>
  </header>