<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A programação geral do <strong>EduComp 2026</strong> reúne as principais atividades do evento e os respectivos calendários públicos do Google Agenda.
          </p>
          <p>
            Para consultar a agenda completa das atividades presenciais, acesse a página de <a href="/simposio/2026/educomp/programacao/presencial">programação presencial</a>.
          </p>
          <p>
            Ao clicar em cada atividade, você poderá visualizar mais detalhes na descrição. Também é possível adicionar a agenda ao seu Google Agenda e acompanhar os horários diretamente no celular ou computador.
          </p>
          <div class="container-calendario">
            <iframe src="https://calendar.google.com/calendar/embed?src=c_ddb23b113356bb59531f728c56c16b16f8ef22c0e623ac879bdbe19fda17c554%40group.calendar.google.com&ctz=America%2FCampo_Grande" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>Observe que a programação está disponível como uma agenda pública no Google Agenda. Ao selecionar um evento, você poderá visualizar mais detalhes na descrição. É possível adicionar essa agenda ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.</i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>