<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A programação geral do <strong>EduComp 2026</strong> reúne as principais atividades do evento e os respectivos calendários públicos do Google Agenda.
          </p>
          <p>
            Para consultar a agenda completa das atividades presenciais, acesse a página de <a href="/simposio/2026/educomp/programacao/presencial">programação presencial</a>.
          </p>
          <p>
            Ao clicar em cada atividade, você poderá visualizar mais detalhes na descrição. Também é possível adicionar a agenda ao seu Google Agenda e acompanhar os horários diretamente no celular ou computador.
          </p>
          <div class="container-calendario">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=2&ctz=America%2FCampo_Grande&title=Programa%C3%A7%C3%A3o%20Presencial%20Educomp%20e%20SBC-EB&showCalendars=0&mode=AGENDA&hl=pt_BR&showPrint=0&src=Y19kZGIyM2IxMTMzNTZiYjU5NTMxZjcyOGM1NmMxNmIxNmY4ZWYyMmMwZTYyM2FjODc5YmRiZTE5ZmRhMTdjNTU0QGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%23c0ca33" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>
          </div>
          <p>
            <i>Observe que a programação está disponível como uma agenda pública no Google Agenda. Ao selecionar um evento, você poderá visualizar mais detalhes na descrição. É possível adicionar essa agenda ao seu Google Agenda, facilitando a visualização das atividades em seu celular ou computador.</i>
          </p>
        </div>
      </div>
    </div>
  </section>
</div>