<div id="chamadas">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            O EduComp 2026, com grande satisfação, apresenta uma nova modalidade em seus concursos: <strong>O Concurso de Trabalhos de Conclusão de Curso (CTCC)</strong>! Apesar do tempo enxuto, convidamos todos os membros da comunidade a submeter seus trabalhos para o CTCC 2026, que ocorrerá de forma online antes do EduComp 2026.
          </p>
          <p>
            <strong>Vamos prestigiar e reconhecer os trabalhos de graduação na área de Educação em Computação!</strong>
          </p>
          <hr>
          <div class="coordenacao">
            <strong>Coordenação:</strong> Rodrigo Duran (IFB)<br>
            <strong>Contato:</strong> rodrigo.duran@ifb.edu.br
          </div>
          <p>
            O Concurso de Trabalhos de Conclusão de Curso (CTCC) do EduComp 2026 tem como objetivo destacar e divulgar as pesquisas em <strong>Educação em Computação</strong> defendidas até <strong>31 de janeiro de 2026</strong> em programas de graduação (bacharelado, licenciatura e tecnólogos) na área de Computação no Brasil. As submissões devem tratar trabalhos de conclusão de curso concluídos que abordem <a href="https://www.educompbrasil.org/simposio/2026/educomp/chamadas/topicos-de-interesse" target="_blank">todos os aspectos da Educação em Computação</a> em qualquer nível de ensino. 
          </p>
        </hr>
      </div>
    </div>
  </section>

  <section id="datas-importantes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Datas importantes</h2>
          <div class="row justify-content-center">
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">26</span>
                  <span class="mes">fevereiro</span>
                  <span class="ano">2026</span>
                  <span class="prazo-firme">Prazo firme!</span>
                </div>
                <div class="card-body align-bottom">
                  <p class="card-text data-riscada">18/02/2026</p>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio dos trabalhos</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">04</span>
                  <span class="mes">março</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Notificação de aceite</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">13</span>
                  <span class="mes">março</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio da versão final</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">29<span style="font-size: 0.5em;"> e 30</span></span>
                  <span class="mes">abril</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Webinar</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Instruções para autores</h2>
          <h3>Critérios para participação</h3>  
          <p>
            Podem submeter trabalhos para o CTCC EduComp 2026 graduados que tenham desenvolvido sua pesquisa com <a href="https://www.educompbrasil.org/simposio/2026/educomp/chamadas/topicos-de-interesse" target="_blank">temas relacionados aos tópicos de interesse do EduComp</a> e que tenham defendido seus Trabalhos de Conclusão de Curso em Instituições de Ensino Superior (IES) brasileiras no período de 1 de janeiro de 2025 a 31 de janeiro de 2026 e que não possuam conflitos de interesse com a coordenação do CTD.
          </p>
          <h3>Submissão de Trabalhos</h3>
          <p>
            Para participar do concurso, as pessoas deverão preencher e enviar uma ficha de pesquisa (<a href="https://docs.google.com/document/d/e/2PACX-1vS6-ofnUn3jeN7583lZJTXC_LwVktvDURW7pPfqzusyyiAsNlNmMYAnx8tTFlUq6A/pub" target="_blank">template disponível no link</a>) que descreve o trabalho de conclusão de curso e destacar as principais contribuições para o estado da arte de seu trabalho na Educação em Computação. Essa ficha deve ser preenchida em, no máximo, duas páginas, ser escrita em português e ter como autores a pessoa candidata e a(s) pessoa(s) responsável(is) pela orientação. A ficha deve ser enviada em formato PDF até a data de envio dos trabalhos.
          </p>
          <p>
            Além da ficha de pesquisa, as pessoas candidatas devem enviar a versão final da tese ou da dissertação e uma carta assinada pela pessoa orientadora, destacando os aspectos pelos quais acredita que merece o prêmio, em formato PDF.
          </p>
          <p>
            Cada submissão deverá conter quatro arquivos, todos em formato PDF:
          </p>
          <ul>
            <li>Ficha de pesquisa de até duas páginas (<a href="https://docs.google.com/document/d/e/2PACX-1vS6-ofnUn3jeN7583lZJTXC_LwVktvDURW7pPfqzusyyiAsNlNmMYAnx8tTFlUq6A/pub" target="_blank">template</a>);</li>
            <li>Arquivo do documento final do trabalho de conclusão de curso;</li>
            <li>Cópia da ata de defesa do trabalho;</li>
            <li>Carta do(a) orientador(a) assinada destacando os aspectos pelos quais acredita que merece o prêmio.</li>
          </ul>
          <p>
            Obs.: Na Ata de Defesa, deverá constar explicitamente que a pessoa candidata teve seu trabalho aprovado e defendido até 31 de janeiro de 2026 e deverá informar o local, a data de defesa, o nome da instituição, o nome da(s) pessoa(s) orientadora(s) e o nome dos participantes da banca avaliadora.
          </p>
          <p>
            As pessoas candidatas deverão submeter seus trabalhos eletronicamente pelo <a href="https://jems3.sbc.org.br/events/501" target="_blank">Sistema JEMS3</a>.
          </p>
          <h3>Seleção, apresentação e premiação</h3>
          <p>
            A seleção ocorrerá em três etapas:
          </p>
          <ol>
            <li>Todos os trabalhos submetidos passarão por avaliação de pelo menos 2 (duas) pessoas revisoras/avaliadoras. Serão selecionados até 3 (três) trabalhos para apresentação em nosso Webinar.</li>
            <li>As pessoas autoras dos trabalhos selecionados na etapa 1 deverão apresentar a pesquisa desenvolvida em um Webinar a ser realizado nos dias 29 ou 30 de abril de 2026. A confirmação das datas e dos horários de apresentação será feita após o encerramento da Etapa 1. As apresentações também serão avaliadas por, pelo menos, 2 (duas) pessoas revisoras/avaliadoras.</li>
            <li>Com base na avaliação da Etapa 2, serão classificadas os melhores trabalhos de conclusão de curso do EduComp 2026, cujos resultados serão divulgados em uma sessão especial.</li>
            <li>Os três trabalhos finalistas serão publicados (um artigo <strong>resumo de três páginas + referências</strong> deve ser enviado) nos anais estendidos do evento no Portal de Publicações e Conteúdos Digitais da SBC - <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>, condicionado ao pagamento da taxa de publicação de R$ 80,00 (oitenta reais) e ao preenchimento pelo autores do <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC.</li>
          </ol>
          <h3>Inscrição no evento</h3>
          <p>
            A pessoa autora principal do trabalho selecionado (pessoa candidata à premiação) deverá estar inscrita no evento, <strong>com inscrição englobando a categoria online</strong>. A inscrição deve ser confirmada até a data do Webinar.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>