<div id="chamadas">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="coordenacao">
            <strong>Coordenação:</strong> Maria Ivanilse Calderon Ribeiro (IFRO)<br>
            <strong>Contato:</strong> ivanilse.calderon@ifro.edu.br
          </div>
          <p>
          Os minicursos têm como finalidade introduzir ou aprofundar tópicos de interesse na área de Educação em Computação, proporcionando aos participantes contato com materiais, ideias, 
          tecnologias e metodologias que possam ser aplicadas de forma imediata em suas práticas acadêmicas ou profissionais. O público-alvo abrange estudantes de graduação e pós-graduação, 
          profissionais do setor, pesquisadores e docentes. Cada minicurso poderá receber até 50 participantes. A duração prevista é de 3 (três) horas, com apresentação em português ou inglês. 
          A realização do minicurso estará condicionada à inscrição mínima de 5 participantes ou à avaliação da comissão organizadora quanto à viabilidade de oferecê-lo para um grupo menor.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="datas-importantes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Datas importantes</h2>
          <div class="row justify-content-center">
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card">
                <div class="card-title">
                  <span class="dia">02</span>
                  <span class="mes">feverero</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio do resumo</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card">
                <div class="card-title">
                  <span class="dia">11</span>
                  <span class="mes">fevereiro</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-footer text-center">Envio da proposta completa</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card">
                <div class="card-title">
                  <span class="dia">10</span>
                  <span class="mes">março</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-footer text-center">Notificação de aceite</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card">
                <div class="card-title">
                  <span class="dia">17</span>
                  <span class="mes">março</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-footer text-center">Envio da versão final</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Instruções para autores</h2>
          <h3>Submissão e seleção de propostas</h3>
          <p>
            As propostas devem se limitar a 5 (cinco) páginas, em português ou inglês, e devem seguir o <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/modelosparapublicaodeartigos.zip" target="_blank">modelo para publicação de artigos da SBC</a>. 
            As submissões devem, obrigatoriamente, conter as seguintes seções:
          </p>
          <ul>
            <li>Título, autores(as) e filiação (a submissão de minicursos não deve ser anônima);</li>
            <li>Indicação se é um minicurso teórico, prático ou teórico-prático;</li>
            <li>Justificativa (síntese da importância da temática em questão);</li>
            <li>Sumário estendido (explicação resumida do que será coberto em cada tópico);</li>
            <li>Público-alvo (especificar o perfil desejado dos participantes e sinalizar por que o minicurso proposto deve atrair a atenção desse público. Caso existam pré-requisitos, explicitar e justificar os mesmos);</li>
            <li>Biografia dos(as) autores(as) (apresentar cada autor(a) brevemente);</li>
            <li>Organização do minicurso: como as 3 horas de duração estarão divididas e a metodologia de ensino que será adotada (e.g. X minutos para apresentação inicial; X minutos para cada tópico teórico, intercalados com X minutos para a parte prática, tempo de intervalo, etc.);</li>
            <li>Idioma em que será ministrado (português ou inglês);</li>
            <li>Infraestrutura e materiais necessários, principalmente quais programas (se for o caso) os participantes deverão ter previamente instalados (especificar versão e sistema operacional);</li>
            <li>Referências bibliográficas.</li>
          </ul>
          <p>
            Os autores devem ficar atentos ao formato das referências, de acordo com o template requerido. 
            As propostas de minicurso devem ser submetidas eletronicamente, em formato PDF, por meio do sistema <a href="https://jems3.sbc.org.br/events/202" target="_blank">JEMS3</a> da SBC.
          </p>
          <p>
            As submissões serão revisadas e avaliadas com o objetivo de analisar a interseção da proposta de minicurso com temas ligados à área e que sejam de interesse da comunidade. 
            As submissões NÃO são anônimas, ou seja, os nomes dos autores deverão estar visíveis nas submissões.
          </p>
          <h3>Minicursos selecionados</h3>
          <p>
            Os autores dos minicursos selecionados deverão enviar como versão final um resumo de 5 (cinco) páginas, seguindo o mesmo template, para publicação nos anais estendidos do EduComp 2025.
            Além disso, os autores devem disponibilizar recursos de apoio, como notas ou slides de curso, substanciais e autocontidos, acompanhados de uma bibliografia, aos participantes do evento, para aprofundamento dos tópicos abordados no curso, e autorizar a publicação do resumo e das notas do minicurso no website do evento. 
            O evento será realizado nos dias 31/03 e 01/04 (online) e entre 07/04 e 10/04 (presencial).
          </p>
          <p>
            Os minicursos selecionados serão publicados nos anais estendidos do evento no Portal de Publicações e Conteúdos Digitais da SBC - <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>, condicionado à inscrição de pelo menos um dos autores no evento, ao pagamento da taxa de publicação de R$ 80,00 (oitenta reais) e ao preenchimento pelos autores do <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>