<div id="chamadas">

 <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Abaixo estão listados os trabalhos aceitos. A publicação de cada trabalho nos anais do evento está condicionado à inscrição de pelo menos um dos autores no EduComp 2026, bem como a apresentação oral do artigo durante o evento e o pagamento da taxa de publicação de R$ 80,00 (oitenta reais).
            Em todos os casos, os autores deverão preencher o <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC. 
          </p>
        </div>
      </div>
    </div>
  </section>

 <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Artigos completos</h2>
          <p><strong></strong></p>
          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t1" aria-expanded="true" aria-controls="collapse-t1">
                    <h3>Trilha 1: Artigos de pesquisa</h3>
                  </button>
              </div>
              <div id="collapse-t1" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A Brazilian Perspective on Quality and Sustainability Aspects of Open Educational Resources in Computing Education</h4>
                          <ul class="autores-artigo">
                            <li>Ágata Meireles Carvalho (UFJF)</li>
                            <li>Williamson Silva (UFCA)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP) </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Análise da Acessibilidade aos Materiais para Preparação de Crianças e Adolescentes com Deficiência Visual para a Olimpíada Brasileira de Informática</h4>
                          <ul class="autores-artigo">
                          <li>Lisieux Marie M. dos S. Andrade (UFC)</li>
                          <li>João Paulo Calixto (Instituto Federal de Educação, Ciência e Tecnologia do Ceará, Campus Maracanaú)</li>
                          <li>Allan George de Sousa Bezerra (UFC)</li>
                          <li>Erivan Pereira Lima (UFC)</li>
                          <li>Agebson Rocha Façanha (Instituto Federal de Educação, Ciência e Tecnologia do Ceará)</li>
                          <li>Necio de Lima Veras (Instituto Federal de Educação, Ciência e Tecnologia do Ceará)</li>
                          <li>Paulo Duarte (UFC)</li>
                          <li>Windson Viana (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Análise do Ingresso, Permanência e Evasão em Cursos de Computação: Um Estudo de Caso [em um Campus de uma Instituição de Ensino] (2017-2024)</h4>
                          <ul class="autores-artigo">
                          <li>Igor Moraes Sampaio (IFSP)</li>
                          <li>Andre Evandro Lourenco (IFSP)</li>
                          <li>Daniela Santos Santana (Instituto Federal de Educação, Ciência e Tecnologia de São Paulo)</li>
                          <li>Leonardo Andrade Motta Lima (IFSP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Can data reveal learning in computing? Insights from an empirical study in Game Learning Analytics</h4>
                          <ul class="autores-artigo">
                          <li>Waldecir da Silva Martins (Uea)</li>
                          <li>Fabrizio Honda (IComp/ UFAM)</li>
                          <li>David Fernandes (Federal University of Amazonas)</li>
                          <li>Fernanda Pires (Uea)</li>
                          <li>Marcela Pessoa (Uea)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Cinco Anos de EduComp: Uma Análise Bibliométrica de Autores e Instituições (2021-2025)</h4>
                          <ul class="autores-artigo">
                          <li>Gabriel Victor Vieira Nunes (IFB)</li>
                          <li>Gabriel Azevedo (IFB)</li>
                          <li>Samuel Souza (IFB)</li>
                          <li>Samuel O. S. Bianch (UFSJ)</li>
                          <li>Fábio Henrique Oliveira (IFB)</li>
                          <li>João Gabriel Rocha Silva (IFB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Classificação de Questões da Olimpíada Brasileira de Informática Modalidade Iniciação com Inteligência Artificial e Chain of Thought</h4>
                          <ul class="autores-artigo">
                          <li>Thiago Gonçalves de Almeida (UFMS)</li>
                          <li>Esteic Janaina Santos Batista (Universidade Federal de Mato Grosso do Sul)</li>
                          <li>Anderson Correa de Lima (UFMS)</li>
                          <li>Amaury Antonio de Castro Junior (UFMS)</li>
                          </ul>
                        </td>
                        </tr>
                        <td>
                          <h4 class="titulo-artigo">Desafios da Avaliação da Aprendizagem em Robótica Educacional na Educação Básica: Um mapeamento sistemático da literatura</h4>
                          <ul class="autores-artigo">
                          <li>Ana Flávia de Jesus Santos (UFBA)</li>
                          <li>Luma da Rocha Seixas (UFBA)</li> 
                          </ul>
                        </td>
                        </tr> 
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desistência acadêmica em cursos de Tecnologia da Informação no IFPE: Uma Análise de Sobrevivência</h4>
                          <ul class="autores-artigo">
                           <li>Verlaynne Kelley da Hora Rocha Araujo (IFPE-Palmares)</li> 
                           <li>Maria Fernanda De Lima Oliveira Sales (IFPE)</li> 
                           <li>Yanka Ayala (IFPE/Instituto Federal de Educação, Ciência e Tecnologia de Pernambuco)</li> 
                           <li>Diogo Lopes da Silva (IFPE)</li> 
                           <li>Thiago Valentim Bezerra (Instituto Federal de Educação, Ciências e Tecnologia de Pernambuco / Universidade Federal de Pernambuco)</li> 
                           <li>Lara Andrade (IFPE)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">EscaloMania: Um jogo digital educacional para o estudo de Escalonamento de Processos em Sistemas Operacionais</h4>
                          <ul class="autores-artigo">
                          <li>Ronald Vieira Cardoso da Silva (Ufam)</li> 
                          <li>Airton Nascimento Silveira Filho (Universidade Federal do Amazonas UFAM)</li> 
                          <li>Pedro Vieira (Ufam)</li> 
                          <li>André Filho (Ufam)</li> 
                          <li>Lílian Alves de Santana (IComp/UFAM)</li> 
                          <li>Beatriz Jacaúna Martins (IComp/UFAM)</li> 
                          <li>Luiz Barbosa (Ufam)</li> 
                          <li>João Rodrigues (IComp/UFAM)</li> 
                          <li>André Carvalho (Ufam)</li> 
                          <li>José Luiz de Souza Pio (Ufam)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Estudantes indígenas em Computação: caracterização quantitativa com base no Censo da Educação Superior</h4>
                          <ul class="autores-artigo">
                          <li>Leandro Silva Galvão de Carvalho (Federal University of Amazonas)</li> 
                          <li>David Fernandes (Federal University of Amazonas)</li> 
                          <li>Elaine Harada (Ufam)</li> 
                          <li>Maristela Holanda (UnB)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Intersectional Gender Dynamics in Junior Scientific Research in Computing: Race, Income, and Territorial Dimensions Among Brazilian Girls</h4>
                          <ul class="autores-artigo">
                          <li>Anna Beatriz Marques (UFC)</li> 
                          <li>Luciana Cardoso de Castro Salgado (UFF)</li> 
                          <li>Mirella M. Moro (UFMG)</li>
                          <li>Aleteia de Araujo (UnB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Jogos educacionais para o Ensino de Teoria dos Grafos: Um Mapeamento Sistemático da Literatura e Estudo de Caso</h4>
                          <ul class="autores-artigo">
                          <li>Yasmin Lopes da Cunha (IComp/UFAM)</li> 
                          <li>Airton Nascimento Silveira Filho (Universidade Federal do Amazonas UFAM)</li> 
                          <li>Lílian Alves de Santana (IComp/UFAM)</li> 
                          <li>Beatriz Jacaúna Martins (IComp/UFAM)</li> 
                          <li>Marcus Phablo Pereira de Oliveira (Ufam)</li> 
                          <li>Ana Carla de Araújo Fernandes (IComp)</li> 
                          <li>Fabíola Guerra Nakamura (Ufam)</li> 
                          <li>José Francisco Magalhães Netto (Ufam)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Mapeamento Sistemático sobre Métodos Computacionais para Análise das Trajetórias Profissionais de Egressos em Cursos de Computação e Áreas Correlatas</h4>
                          <ul class="autores-artigo">
                          <li>Camilla Borchhardt Quincozes (UFU)</li>
                          <li>Alice Finger (UNIPAMPA)</li>
                          <li>Aline Mello (UNIPAMPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Modelagem Preditiva Explicável para Apoio à Prevenção da Evasão em Cursos de Graduação</h4>
                          <ul class="autores-artigo">
                          <li>Ronald Cesar (UFMA)</li>
                          <li>Francisco Glaubos Nunes Clímaco (UFMA)</li>
                          <li>Tiago Bonini Borchartt (UFMA)</li>
                          <li>Jaiver Figueroa (Universidade Federal do Maranhão UFMA)</li>
                          <li>Raphaella Moreira (Universidade Federal do Maranhão, Departamento de Informática)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Prompting LLMs for Game Learning Analytics: A Case Study with Computer Science Students</h4>
                          <ul class="autores-artigo">
                          <li>Fabrizio Honda (IComp/ UFAM)</li> 
                          <li>Fernanda Pires (Uea)</li> 
                          <li>Elaine Harada (Ufam)</li> 
                          <li>Marcela Pessoa (Uea)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Proposta de um Grau de Uso da Inteligência Artificial no Contexto Educacional: Critérios Éticos e Pedagógicos para Orientar a Prática Docente</h4>
                          <ul class="autores-artigo">
                          <li>Alana Oliveira (UFMA)</li>
                          <li>Mario Meireles Teixeira (UFMA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Recursos Educacionais sobre o Mundo Digital para a Educação Básica</h4>
                          <ul class="autores-artigo">
                          <li>Nahri Balesdent Moreano (Universidade Federal de Mato Grosso do Sul)</li>
                          <li>Lucas Holsback Menegucci (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Tem um Elefante na Minha Sala de Aula! Barreiras de Gênero e Inclusão sob uma perspectiva Interseccional em Cursos de Computação</h4>
                          <ul class="autores-artigo">
                          <li>Pietra Soares (Unipampa/Campus de Alegrete)</li>
                          <li>Maria Luiza Rocha (UNIPAMPA)</li>
                          <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          <li>Pedro Henrique Dias Valle (USP)</li>
                          <li>Williamson Silva (UFCA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Use of Large Language Models in the Teaching of Computational Thinking: A Systematic Mapping Study</h4>
                          <ul class="autores-artigo">
                          <li>João Antônio Milhorim (Universidade de São Paulo/ICMC)</li> 
                          <li>Diego Gomes de Santana (USP)</li> 
                          <li>Diego Fernandes Lemos (USP/ICMC)</li>
                          <li>Lina Garcés (ICMC / University of São Paulo)</li> 
                          </ul>
                        </td>
                          <tr>
                          <td>
                            <h4 class="titulo-artigo">Uso de LLMs para correção de atividades de programação: uma análise comparativa no contexto de orientação a objetos</h4>
                            <ul class="autores-artigo">
                            <li>Marcel da Silva Melo (IF Goiano)</li>
                            <li>Fernando Barbosa Matos (IF Goiano)</li>
                            <li>Rodrigo Elias Francisco (IF Goiano)</li>
                            <li>Cleon Xavier (IF Goiano)</li>
                            <li>Rafael D. Araújo (UFU)</li>
                            </ul>
                          </td>
                          </tr>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t2" aria-expanded="true" aria-controls="collapse-t2">
                  <h3>Trilha 2: Relatos de experiência</h3>
                </button>
              </div>
              <div id="collapse-t2" class="collapse" aria-labelledby="accordion-t2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uso da Programação em Pares como Estratégia para o Ensino de Fundamentos de Programação com Python</h4>
                          <ul class="autores-artigo">
                            <li>Maria Julia Siqueira de Souza (UFC)</li>
                            <li>Paulo Arthur Félix Lemes (UFC)</li>
                            <li>Gabriel Lucas Silva Rodrigues (UFC)</li>
                            <li>Antônio Kawan Freitas</li>
                            <li>Patrícia Freitas Campos de Vasconcelos (UFC)</li>
                            <li>Edvan Cordeiro de Miranda (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Sistema Abrangente de Avaliação para Projetos Capstone</h4>
                          <ul class="autores-artigo">
                            <li>Luciano Pereira Soares (Insper)</li>
                            <li>Rafael Ferrao (Insper Instituto de Ensino e Pesquisa)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Transformando o Ensino de Verificação e Validação com Gamificação e Monitoria: Lições de uma Experiência Prática</h4>
                          <ul class="autores-artigo">
                            <li>Anny Oliveira (UFC)</li>
                            <li>Áquilas Jucá (UFC)</li>
                            <li>Eriky Ryan Gonçalves (UFC)</li>
                            <li>Jacilane Rabelo (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Relato de experiência sobre a Aprendizagem Baseada em Problemas no ensino de IoT e Computação em Nuvem no ensino superior</h4>
                          <ul class="autores-artigo">
                            <li>Thiago Valentim Bezerra (Instituto Federal de Educação, Ciências e Tecnologia de Pernambuco / Universidade Federal de Pernambuco)</li>
                            <li>Thaise Neri</li>
                            <li>Diogo Lopes da Silva (IFPE)</li>
                            <li>Josiel silva (IFPE)</li>
                            <li>Verlaynne Kelley da Hora Rocha Araujo (IFPE-Palmares)</li>
                            <li>Filipe Valentim (IFPE Instituto Federal de Pernambuco)</li>
                            <li>Gustavo Rau de Almeida Callou (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional e Computação Física: Um Relato de Experiência sobre o Ensino de Operadores Lógicos na Licenciatura em Física</h4>
                          <ul class="autores-artigo">
                            <li>Almir de Oliveira Costa Junior (Uea)</li>
                            <li>José Anglada-Rivera (Ifam)</li>
                            <li>Julian C. Bentes (Uea)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lógica Proposicional em Movimento: Avaliação de uma Metodologia Ativa com Tabuleiro Humano</h4>
                          <ul class="autores-artigo">
                            <li>Kaiky Verissimo (Universidade de Pernambuco)</li>
                            <li>Elvis Melo (Universidade de Pernambuco)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Liga de Mentoria: um relato de experiência com aprendizagem entre pares e gamificação no ensino introdutório de programação</h4>
                          <ul class="autores-artigo">
                            <li>Bruno Neiva Moreno (IFPB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Integration of Community Outreach into the Teaching of Ethics and Legislation in Computing: An Experience Report</h4>
                          <ul class="autores-artigo">
                            <li>Samira Santos Silva (UFLA)</li>
                            <li>Sincler Peixoto de Meireles (UEMG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Identificando Problemas e Projetando Soluções: Relato de Experiência de uma Trilha de Conhecimento em Pensamento Computacional</h4>
                          <ul class="autores-artigo">
                            <li>Deusiane Kaylane Moreira (UFC)</li>
                            <li>Sofia Desidério (UFC, Universidade Federal do Ceará)</li>
                            <li>Ylana Torres (UFC)</li>
                            <li>Ranya Duran Greco (UFC)</li>
                            <li>Anna Beatriz Marques (UFC)</li>
                            <li>Valéria M. Pinheiro (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Experience Report on the Internship of the Technical Computer Science Program: Observation of the Technical Development Process</h4>
                          <ul class="autores-artigo">
                            <li>Daniela Santos Santana (Instituto Federal de Educação, Ciência e Tecnologia de São Paulo)</li>
                            <li>Leonardo Andrade Motta Lima (IFSP)</li>
                            <li>Andre Evandro Lourenco (IFSP)</li>
                            <li>Igor Moraes Sampaio (IFSP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino Integrado de Matemática e Programação Web: Relato de Uma Intervenção com Desenvolvimento de Ferramentas Algorítmicas</h4>
                          <ul class="autores-artigo">
                            <li>Ianne Lima Nogueira (IFF)</li>
                            <li>Anderson Veiga da Silva (IFFluminense)</li>
                            <li>Wesley Folly Volotão de Souza (IFF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino de robótica básica no ensino médio profissionalizante: um relato de experiência do PIBID</h4>
                          <ul class="autores-artigo">
                            <li>Sergio Vinícius Neris da Silva (IF Baiano)</li>
                            <li>Bruna Azevedo L. Reis (IF Baiano)</li>
                            <li>Mário Lúcio Gomes de Quei Pierre Júnior (IFBAIANO INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA BAIANO)</li>
                            <li>Diêgo Conceição (IF Baiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino de Física e Computação: Relato de um Projeto Integrador no Desenvolvimento do Pensamento Computacional e Letramento Científico no Ensino Médio</h4>
                          <ul class="autores-artigo">
                            <li>Leila Maria Salomão de Souza (Universidade Estadual de Feria de Santana)</li>
                            <li>Marcos Martins (UEFS)</li>
                            <li>Débora Gomes Gonçalves</li>
                            <li>Álvaro Santos Alves (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvendo o Pensamento Computacional Desplugado no Ensino Fundamental I: uma abordagem interdisciplinar por meio da leitura instrucional</h4>
                          <ul class="autores-artigo">
                            <li>Luciene Mára de Lima (UNICAMP)</li>
                            <li>Telma Aparecida Alves Conti (UNICAMP)</li>
                            <li>Sergio Santos Silva Filho (UNEMAT)</li>
                            <li>Marcos Augusto Francisco Borges (UNICAMP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Criação de Histórias Digitalizadas a partir de Desenhos Autorais: uma Experiência com Crianças do Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Ítallo de Santana Guimarães (UEFS)</li>
                            <li>Kauan Farias (UEFS)</li>
                            <li>Gabriel Silva (UEFS)</li>
                            <li>Laiza Araujo Gordiano Oliveira (UEFS)</li>
                            <li>Brenda Araújo Trindade Oliveira (UEFS)</li>
                            <li>Claudia Pinto Pereira (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Corrida do Pensamento Computacional: Relato de Experiência sobre uma Intervenção Gamificada.</h4>
                          <ul class="autores-artigo">
                            <li>Geovanna Vittória de Jesus Assis (UFSJ)</li>
                            <li>Alexandre Bittencourt Pigozzo (UFSJ)</li>
                            <li>Michelli Marlane Silva Loureiro (UFSJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Computação nos Anos Iniciais: Um Diálogo Pedagógico Fundamentado na BNCC</h4>
                          <ul class="autores-artigo">
                            <li>Isaque Pontes Romualdo (IF Goiano Câmpus Ceres)</li>
                            <li>Thalia Santos de Santana (IF Goiano)</li>
                            <li>Ramayane Bonacin Braga (IF Goiano Câmpus Ceres)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Computação Física e Circuitos de Papel na Formação Continuada de Professores: um Relato de Experiência</h4>
                          <ul class="autores-artigo">
                            <li>Almir de Oliveira Costa Junior (Uea)</li>
                            <li>José Anglada-Rivera (Ifam)</li>
                            <li>Andrey Guedes (Uea)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Carro Ed: um quiz gamificado com robótica</h4>
                          <ul class="autores-artigo">
                            <li>Joao Moraes (SENAC-BA)</li>
                            <li>Maurício Luiz Farias (SENAC-BA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendizagem ativa de Engenharia de Software Experimental: uma análise sobre autoconfiança e aprendizado</h4>
                          <ul class="autores-artigo">
                            <li>Caio César Sousa Bandeira (UFC)</li>
                            <li>Ranya Duran Greco (UFC)</li>
                            <li>Carlos Augusto Carneiro de Freitas Filho (UFC)</li>
                            <li>Júlia Freitas Santos (UFC)</li>
                            <li>Anna Beatriz Marques (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendizagem Ativa de Cinemática por Meio da Robótica Educacional</h4>
                          <ul class="autores-artigo">
                            <li>Joana Felizardo (IFF)</li>
                            <li>Rafael Pinheiro (IFF)</li>
                            <li>Gustavo Gabriel Santos Silva (IFF)</li>
                            <li>Ianne Lima Nogueira (IFF)</li>
                            <li>Ana Cecilia Soja (IFF)</li>
                            <li>Anderson Veiga da Silva (IFFluminense)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendendo a Voar (e a Programar): Um Relato de Experiência sobre o Ensino de Programação Esportiva com o Uso de Metodologias Ativas e Gamificação</h4>
                          <ul class="autores-artigo">
                            <li>Matheus Rodrigues (Instituto Federal Goiano Campus Ceres)</li>
                            <li>Thalia Santos de Santana (IF Goiano)</li>
                            <li>Adriano Honorato Braga (IF Goiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aplicação de atividades práticas para o ensino de conceitos de Engenharia de Software com o uso de ferramentas empregadas na indústria</h4>
                          <ul class="autores-artigo">
                            <li>Jean Silva (IFSULDEMINAS)</li>
                            <li>Vinícius Alves Silva (IFSULDEMINAS)</li>
                            <li>Hiran Nonato Macedo Ferreira (IFSULDEMINAS)</li>
                            <li>Wedson Gomes da Silveira Junior (IFSULDEMINAS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ampliando Horizontes na Análise de Requisitos via Prototipagem Ágil com uma Agenda Social</h4>
                          <ul class="autores-artigo">
                            <li>Karen Ribeiro (Universidade Ferderal de Mato Grosso)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">LLGirls em Ação: Rompendo Barreiras para Promover a Participação, Permanência e Formação Feminina nos Cursos de Computação do Interior Cearense</h4>
                          <ul class="autores-artigo">
                            <li>Anny Oliveira (UFC)</li>
                            <li>Rachel Liberato (UFC)</li>
                            <li>Cecília Oliveira (UFC)</li>
                            <li>Israely Lima (UFC)</li>
                            <li>Jacilane Rabelo (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t3">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t3" aria-expanded="true" aria-controls="collapse-t3">
                  <h3>Trilha 3: Currículos</h3>
                </button>
              </div>
              <div id="collapse-t3" class="collapse" aria-labelledby="accordion-t3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Construção de um Currículo de Computação na Educação Básica em Contextos de Ressocialização Infantojuvenil com Foco em Habilidades Socioemocionais</h4>
                          <ul class="autores-artigo">
                            <li>Pâmella Freitas</li>
                            <li>Rafael Mathias</li>
                            <li>Thalisson Oliveira</li>
                            <li>Flávio Borges (Universidade Federal de Jataí)</li>
                            <li>Juliana Santos (UFBA)</li>
                            <li>Esdras Bispo Jr. (Universidade Federal de Jataí)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Mapeamento de Oportunidades para Desenvolvimento de Habilidades Computacionais na BNCC-EM</h4>
                          <ul class="autores-artigo">
                            <li>Danielly Egito de Moura (UFRPE)</li>
                            <li>Taciana Pontual Falcão (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Seis anos do currículo de Computação no estado de São Paulo</h4>
                          <ul class="autores-artigo">
                            <li>Walter Rubens Bolitto Carvalho (UFABC)</li>
                            <li>Carla Lopes Rodriguez (UNICAMP)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t4">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t4" aria-expanded="true" aria-controls="collapse-t4">
                  <h3>Trilha 4: Recursos e ambientes educacionais</h3>
                </button>
              </div>
              <div id="collapse-t4" class="collapse" aria-labelledby="accordion-t4" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A Card Game for Architectural Patterns Education</h4>
                          <ul class="autores-artigo">
                            <li>Maria Clara Ribeiro de Menezes (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aplicação e Avaliação de um Sistema Adaptativo Baseado em Lógica Fuzzy para o Ensino de Robótica com Arduino</h4>
                          <ul class="autores-artigo">
                            <li>Renan Grion (UNIRIO)</li>
                            <li>Laura O. Moraes (UNIRIO)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aventuras no Mangue Digital: uma proposta lúdica e desplugada para o ensino de Inteligência Artificial no Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Thomas Jefferson (UFRPE)</li>
                            <li>Rozelma Soares de França (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvendo o Pensamento Computacional por Meio de um Jogo Interativo de Lógica de Programação</h4>
                          <ul class="autores-artigo">
                            <li>Anderson Lima (UEFS)</li>
                            <li>Claudia Pinto Pereira (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Enhancing the Mutation Testing Education through a Gamified Environment</h4>
                          <ul class="autores-artigo">
                            <li>Dario Darienço</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                            <li>Ricardo Vilela (UNICAMP)</li>
                            <li>Williamson Silva (UFCA)</li>
                            <li>Mauricio Arimoto</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Expedição Lógica: Jogando e Aprendendo Lógica Proposicional e de Predicados</h4>
                          <ul class="autores-artigo">
                            <li>Thalia Santos de Santana (IF Goiano)</li>
                            <li>Ramayane Bonacin Braga (IF Goiano Câmpus Ceres)</li>
                            <li>Rangel Rigo (IFGoiano)</li>
                            <li>Rafael D. Araújo (UFU)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Integração de Inteligência Artificial e Ferramentas de Autoria em um Sistema Tutor Inteligente de Código Aberto</h4>
                          <ul class="autores-artigo">
                            <li>Alexandre Bittencourt Pigozzo (UFSJ)</li>
                            <li>Davi Jannotti Coelho Pinheiro</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">MotorAccessGamePack: Um Pacote ara Aplicação de Diretrizes de Acessibilidade Motora em Jogos Unity</h4>
                          <ul class="autores-artigo">
                            <li>Matheus William Pereira Rodrigues (Uea)</li>
                            <li>Andreza Bastos Mourão (Uea)</li>
                            <li>Luis Cuevas Rodríguez (Uea)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">My Trace Table e My Trace Table Manager: Sistemas para Apoiar a Compreensão de Códigos em Disciplinas Introdutórias de Programação</h4>
                          <ul class="autores-artigo">
                            <li>Anna Souza (UFPB)</li>
                            <li>José Elksandro Silva (UFPB)</li>
                            <li>Ayla Débora Dantas de Souza Rebouças (UFPB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">PlayData: Programação em blocos para visualização de dados</h4>
                          <ul class="autores-artigo">
                            <li>Cassia de Oliveira Fernandez (Insper Instituto de Ensino e Pesquisa)</li>
                            <li>João Adriano Freitas (RBAC)</li>
                            <li>Roseli de Deus Lopes (Escola Politécnica da USP)</li>
                            <li>Paulo Blikstein</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Projeto de Interface Assistiva para brinquedo de programar</h4>
                          <ul class="autores-artigo">
                            <li>claudio rhenns (UNIVALI)</li>
                            <li>André Raabe (UNIVALI)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t5">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t5" aria-expanded="true" aria-controls="collapse-t5">
                    <h3>Trilha 5: Ensaios</h3>
                  </button>
              </div>
              <div id="collapse-t5" class="collapse" aria-labelledby="accordion-t5" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Avaliação Formativa e Compartilhada em disciplinas de Banco de Dados para viabilizar a autorregulação</h4>
                          <ul class="autores-artigo">
                            <li>Graziela Ferreira Guarda (Universidade Federal Fluminense UFF)</li>
                            <li>Maise Dantas da Silva (UFF)</li>
                            <li>Carlos Bazilio (UFF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desprogramando o Patriarcado: Mulheres, Docência e Disputas de Poder na Computação</h4>
                          <ul class="autores-artigo">
                            <li>Luana Neves (IFBAIANO INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA BAIANO)</li>
                            <li>Maria Pinheiro (IFBAIANO INSTITUTO FEDERAL DE EDUCAÇÃO, CIÊNCIA E TECNOLOGIA BAIANO)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação Docente na Era da IA e da Privacidade: Superando a Pirâmide Invertida da Educação Brasileira</h4>
                          <ul class="autores-artigo">
                            <li>Juliana de Albuquerque Gonç Saraiva (Federal University of Paraíba)</li>
                            <li>Kate Surini (OABRN)</li>
                            <li>Vanessa Farias Dantas (UFPB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Prompt Is Not a Spell: The Active Remediation Cycle as an Epistemological Approach to Algorithmic Formation in the Age of Generative AI</h4>
                          <ul class="autores-artigo">
                            <li>Marcelo Magalhaes Foohs (UFRGS)</li>
                            <li>Simone Rosanelli Dullius (PGIE/UFRGS)</li>
                            <li>Patrícia da Silva Campelo Costa Barcellos (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Reflexões em prol do acesso pleno e da permanência de estudantes surdos em cursos de Computação</h4>
                          <ul class="autores-artigo">
                            <li>Bárbara Milena De Oliveira Conceição (UFPR)</li>
                            <li>Laura Sánchez García (UFPR)</li>
                            <li>Tanya Amara Felipe (INES)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Reflexões Epistemológicas sobre um Framework para IA na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Edison Ishikawa (Universidade de Brasilia, UnB)</li>
                            <li>Maria de Fátima Ramos Brandão (UnB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ser Negra e Professora de Computação: Epistemologias Insurgentes</h4>
                          <ul class="autores-artigo">
                            <li>Andreia Pinheiro (UFBA)</li>
                            <li>Ecivaldo Matos (USP)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> 

  <section id="aceitos-formativas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilhas formativas</h2>
            
          <div class="accordion" id="accordion-formativas">
           <div class="card">
              <div class="card-header" id="accordion-lab-ideias">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-lab-ideias" aria-expanded="true" aria-controls="collapse-lab-ideias">
                    <h3>Laboratório de ideias</h3>
                  </button>
              </div>
              <div id="collapse-lab-ideias" class="collapse" aria-labelledby="accordion-lab-ideias" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <!--
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Título do trabalho (exemplo)</h4>
                          <ul class="autores-artigo">
                            <li>Nome do autor (Instituição)</li>
                          </ul>
                        </td>
                      </tr>
                      -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 

            <div class="card">
              <div class="card-header" id="accordion-mesas">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-mesas" aria-expanded="true" aria-controls="collapse-mesas">
                    <h3>Mesas temáticas</h3>
                  </button>
              </div>
              <div id="collapse-mesas" class="collapse" aria-labelledby="accordion-mesas" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <!--
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Título do trabalho (exemplo)</h4>
                          <ul class="autores-artigo">
                            <li>Nome do autor (Instituição)</li>
                          </ul>
                        </td>
                      </tr>
                      -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-minicursos">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-minicursos" aria-expanded="true" aria-controls="collapse-minicursos">
                    <h3>Minicursos</h3>
                  </button>
              </div>
              <div id="collapse-minicursos" class="collapse" aria-labelledby="accordion-minicursos" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <!--
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Título do trabalho (exemplo)</h4>
                          <ul class="autores-artigo">
                            <li>Nome do autor (Instituição)</li>
                          </ul>
                        </td>
                      </tr>
                      -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-ctd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-ctd" aria-expanded="true" aria-controls="collapse-ctd">
                    <h3>Concurso de Teses e Dissertações</h3>
                  </button>
              </div>

              <div id="collapse-ctd" class="collapse" aria-labelledby="accordion-ctd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-uppercase font-weight-bold text-center">
                        <td>
                          Mestrado
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <!--
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Título do trabalho (exemplo)</h4>
                          <ul class="autores-artigo">
                            <li>Nome do autor (Instituição)</li>
                          </ul>
                        </td>
                      </tr>
                      -->
                    </tbody>
                  </table>
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-uppercase font-weight-bold text-center">
                        <td>
                          Doutorado
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <!--
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Título do trabalho (exemplo)</h4>
                          <ul class="autores-artigo">
                            <li>Nome do autor (Instituição)</li>
                          </ul>
                        </td>
                      </tr>
                      -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-wtd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-wtd" aria-expanded="true" aria-controls="collapse-wtd">
                    <h3>Workshop de Teses e Dissertações</h3>
                  </button>
              </div>
              <div id="collapse-wtd" class="collapse" aria-labelledby="accordion-wtd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <!--
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Título do trabalho (exemplo)</h4>
                          <ul class="autores-artigo">
                            <li>Nome do autor (Instituição)</li>
                          </ul>
                        </td>
                      </tr>
                      -->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
