<div id="chamadas">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="coordenacao">
            <strong>Coordenação:</strong> Johnny Marques (ITA)<br>
            <strong>Contato:</strong> johnny.marques@gp.ita.br
          </div>
          <p>
            O V Workshop de Teses e Dissertações em Educação em Computação (V WTD-EduComp), evento do VI Simpósio Brasileiro de Educação em Computação (EduComp 2026), é um fórum dedicado à apresentação e discussão de trabalhos de Mestrado e de Doutorado em Educação em Computação em desenvolvimento no Brasil. 
            Seu objetivo é propiciar um ambiente construtivo para discussões, dando oportunidade aos estudantes de obterem feedback sobre os trabalhos em desenvolvimento e um posicionamento em relação à pesquisa em Educação em Computação. 
            Além disso, pretende-se estimular a integração e a cooperação de pesquisadores da área e oferecer maior visibilidade às pesquisas em andamento para a comunidade acadêmica.
            Os trabalhos podem tratar de quaisquer aspectos da Educação em Computação, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
            Se necessário, consulte nossa lista de <a href="/simposio/2026/educomp/chamadas/topicos-de-interesse">tópicos de interese</a>.
          </p>        
        </div>
      </div>
    </div>
  </section>

  <section id="datas-importantes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Datas importantes</h2>
          <div class="row justify-content-center">
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">02</span>
                  <span class="mes">fevereiro</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio dos trabalhos</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">10</span>
                  <span class="mes">março</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Notificação de aceite</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">17</span>
                  <span class="mes">março</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio da versão final</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Instruções para autores</h2>
          <h3>Sumissão de trabalhos</h3>  
          <p>
            As submissões devem ser feitas pelo sistema <a href="https://jems3.sbc.org.br/wtdeducomp2026" target="_blank">JEMS3</a> da SBC, contendo um artigo descrevendo a pesquisa, e uma carta do(a) orientador(a) dando ciência e concordância com a submissão.
            Os artigos podem ser escritos em português ou inglês e devem seguir o <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/modelosparapublicaodeartigos.zip" target="_blank">modelo para publicação de artigos da SBC</a>, contendo no mínimo 4 e no máximo 6 páginas (as referências bibliográficas não contam para o limite de páginas).
          </p>
          <p>
            Os artigos devem conter:
          </p>
          <ul>
            <li>Título do trabalho</li>
            <li>Autores, e-mail e afiliação</li>
            <li>Resumo</li>
          </ul>
          <p>
            A pesquisa deve ser descrita de forma clara e objetiva, incluindo os seguintes conteúdos:
          </p>
          <ul>
            <li>Caracterização do problema;</li>
            <li>Contextualização e Objetivos;</li>
            <li>Pequena síntese de trabalhos relacionados;</li>
            <li>Método de pesquisa;</li>
            <li>Resultados parciais obtidos até o momento;</li>
            <li>Contribuições futuras esperadas;</li>
            <li>Dificuldades, limitações e desafios da pesquisa já identificados;</li>
            <li>Data de conclusão da pesquisa. Em caso de doutorado, incluir também a data de qualificação já realizada ou prevista; e</li>
            <li>Referências</li>
          </ul>
          <p>
            Artigos que violem as instruções de formato ou estejam fora do escopo do V WTD-EduComp serão rejeitados sem revisão. 
          </p>
          <h3>Avaliação dos trabalhos</h3>
          <p>
            Os trabalhos submetidos serão avaliados por, pelo menos, dois membros do Comitê de Programa. 
            Cada trabalho receberá parecer do Comitê de Programa com questionamentos e sugestões sobre o seu conteúdo. 
            Esses comentários devem ser utilizados pelo(a) autor(a) na preparação da versão final do artigo. 
            O(A) primeiro(a) autor(a) deve ser estudante de Pós-graduação responsável pelo desenvolvimento da tese de Doutorado ou dissertação de Mestrado. 
            Os demais autores devem ser orientador(a) e coorientador(a), se for o caso. 
            Durante o V WTD-EduComp, os trabalhos selecionados devem ser apresentados exclusivamente pelo(a) estudante. 
            A prioridade de participação no WTD é para trabalhos que estejam no momento adequado para receber feedback, ou seja, não estejam em estágio muito inicial nem muito avançado de conclusão.
          </p>
          <h3>Publicação dos trabalhos</h3>
          <p>
            Os trabalhos selecionados para o V WTD-EduComp serão publicados nos Anais estendidos do EduComp 2026, no Portal de Publicações e Conteúdos Digitais da SBC - <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>.
            A publicação do artigo está condicionada à inscrição do(a) estudante no EduComp 2026 e participação no V WTD-EduComp e ao pagamento da taxa de publicação.
            Para tanto, os autores deverão preencher o <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC. 
          </p>
        </div>
      </div>
    </div>
  </section>
</div>