<div id="programacao">
  <section id="keynote">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Educar em tempos de respostas instantâneas: o dilema da educação na era do excesso</h2>
          <h3 class="horario">Quarta-feira, 06/05, das 11h às 12h30, no Auditório 1 da FACOM.</h3>
          <div class="row mb-3 row-vertical-center justify-content-center">
            <div class="col-md-4 col-8 foto-container">
               <img class="img-fluid autor-foto keynote-foto" alt="Foto Sheila Reinehr" src="/img/simposio/2026/comum/pessoas/Sheila Reinehr.jpeg"/>
              <p class="autor-nome">Profa. Dra. Sheila Reinehr</p>
              <p class="autor-filiacao">PUCPR</p>
            </div>
            <div class="col-md-8">
              <p>
                <strong>Resumo:</strong>
                Em um mundo em que tudo é acessível, ainda estamos de fato aprendendo? Entre estímulos constantes, respostas instantâneas fornecidas por ferramentas de IA e múltiplas interfaces, o que acontece com a atenção, o pensamento crítico e o significado do aprender? A apresentação convida a repensar o equilíbrio entre tecnologia, experiência e presença, explorando como novas tecnologias podem engajar e como o desplugado pode resgatar a reflexão. Afinal, estamos formando estudantes capazes de pensar… ou apenas de acessar respostas?
              </p>
              <p>
                <strong>Mini currículo:</strong>
                Possui doutorado em Engenharia pela Escola Politécnica da USP (2008), mestrado em Informática pela Pontifícia Universidade Católica do Paraná (2001) e graduação em Engenharia Mecânica pela Universidade Federal do Paraná (1986). Atualmente é professora titular da PUCPR e pesquisadora do PPGIa/PUCPR, na qual é líder do grupo de pesquisa em Engenharia de Software. É bolsista Produtividade do CNPq PQ-C e membro do Comitê Gestor da Comissão Especial de Educação em Computação (CE-Educomp) da SBC desde 2023. É consultora em melhoria de processos e qualidade de software e serviços. Foi Diretora de Educação Continuada na PUCPR no período 2012-2013 e Diretora de Cultura e Esporte na PUCPR no período de 2014-2018. Tem experiência na área de Engenharia de Software, atuando principalmente nos seguintes temas: Engenharia de Software, Qualidade de Software, Fatores Humanos na Engenharia de Software, Educação em Engenharia de Software, Uso de IA na Engenharia de Software e Educação em Ambientes Imersivos. Já conduziu mais de 40 avaliações MPS.BR em empresas.
              </p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </section>

</div>