<div id="chamadas">
  <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            Os trabalhos do laboratório de ideias selecionados para o evento foram agrupados por tema em 8 sessões.
            Cada sessão reúne trabalhos com abordagens complementares, proporcionando discussões aprofundadas sobre diversos tópicos da computação.
            Recomenda-se que os autores estejam cientes das <a href="/simposio/2026/educomp/chamadas/orientacoes-apresentacao" target="_blank">orientações para apresentação</a> previamente divulgadas pela organização do evento.
          </p>
          <div class="accordion" id="accordion-lis">

            <div class="card">
              <div class="card-header" id="accordion-li1-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li1" aria-expanded="true" aria-controls="collapse-li1">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 1</strong>: Educação, Inclusão e Conscientização Digital</h3>
                  Segunda-feira, 13 de abril de 2026, a partir das 19:00, online (Microsoft Teams)
                </button>
              </div>
              <div id="collapse-li1" class="collapse" aria-labelledby="accordion-li1-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Adaptação dos Modelos de Entidade Relacionamento para estudantes com deficiência visual no ensino de banco de dados</h4>
                          <ul class="autores-artigo">
                            <li>Wendell Bento Geraldes (IFG)</li>
                            <li>Angela Cristina Mendes Rodrigues</li>
                            <li>Luiz Gustavo de Paiva Brilhante</li>
                            <li>Endrio Guimarães Mendes</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Análise da integração de tecnologias educacionais em uma rede municipal: Caminhos percorridos pelo Plano local de inovação e tecnologia educacional</h4>
                          <ul class="autores-artigo">
                            <li>Vera Lúcia Paslauski Hataoka (UFPR)</li>
                            <li>Anderson da Silva Marcolino (UFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ciberconscientizar sem Telas: Jogos Analógicos como Estratégia Educacional para Segurança Digital</h4>
                          <ul class="autores-artigo">
                            <li>Ricardo M. G. de Vasconcellos</li>
                            <li>Maristela Holanda (UnB)</li>
                            <li>Rafael Rabelo Nunes (UnB)</li>
                            <li>Isaque E. Marques</li>
                            <li>Leticia Monteiro</li>
                            <li>Cristiana R. da C. Castro</li>
                            <li>Edward Lima M. de Melo</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino de Segurança Cibernética para Alunas do Ensino Médio: Relato de Experiência do Projeto Meninas.comp</h4>
                          <ul class="autores-artigo">
                            <li>Maristela Holanda (UnB)</li>
                            <li>Olívia H. G. Martins (UnB)</li>
                            <li>Gisele C. R. de Carvalho</li>
                            <li>Camila de Sousa Oliveira (UnB)</li>
                            <li>João Gondim (UnB)</li>
                            <li>Roberto Rodrigues-Filho (UnB)</li>
                            <li>Ana Beatriz Goulart Lima (UnB)</li>
                            <li>Lorena S. Bezerra Borges</li>
                            <li>Leticia Lopes Leite (UnB)</li>
                            <li>Carla Maria Chagas e Cavalcante Koike (UnB)</li>
                            <li>Maria Emilia Machado Telles Walter (UnB)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-li2-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li2" aria-expanded="true" aria-controls="collapse-li2">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 2</strong>: Inteligência Artificial e Inovação no Ensino Superior</h3>
                  Segunda-feira, 13 de abril de 2026, a partir das 20:00, online (Microsoft Teams)
                </button>
              </div>
              <div id="collapse-li2" class="collapse" aria-labelledby="accordion-li2-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">EXEMPLIFY-SEE: Um Portal para Apoiar Educadores na Adoção da Aprendizagem Baseada em Exemplos em Engenharia de Software</h4>
                          <ul class="autores-artigo">
                            <li>Tiago Piperno Bonetti (UEM)</li>
                            <li>Williamson Silva (UFCA)</li>
                            <li>Thelma Elita Colanzi (UEM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Integrando IA Generativa à Sala de Aula Invertida: Uma Proposta de Arquitetura Multimodal para o Ensino Superior</h4>
                          <ul class="autores-artigo">
                            <li>Wesley Barbosa Thereza (UNEMAT)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Machine Learning para a identificação de barreiras cognitivas em estudantes de Engenharia de Software</h4>
                          <ul class="autores-artigo">
                            <li>Denise Rísia (UFC)</li>
                            <li>Rossana Maria de Castro Andrade (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Modelagem Preditiva da Permanência Acadêmica de Mães Universitárias com Aprendizado de Máquina</h4>
                          <ul class="autores-artigo">
                            <li>Ana Gabrielle Brandão de Lima (IFCE campus Aracati)</li>
                            <li>Andressa Ferreira (IFCE)</li>
                            <li>Gabriel Duarte (UFC, IFCE e UECE)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-li3-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li3" aria-expanded="true" aria-controls="collapse-li3">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 3</strong>: Inteligência Artificial, Formação Docente e Inclusão no Ensino de Computação</h3>
                  Terça-feira, 14 de abril de 2026, a partir das 19:00, online (Microsoft Teams)
                </button>
              </div>
              <div id="collapse-li3" class="collapse" aria-labelledby="accordion-li3-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">NLAB – Programação de Software, Neurodiversidade e Soft Skills</h4>
                          <ul class="autores-artigo">
                            <li>André Ribeiro (UFPE)</li>
                            <li>Simone C. dos Santos (C.E.S.A.R)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Percurso Formativo de Professores com a Robótica Educacional por Investigação de Problemas</h4>
                          <ul class="autores-artigo">
                            <li>Daniel Moreira dos Santos (Prefeitura Municipal de Vitória)</li>
                            <li>Márcia Gonçalves Oliveira (IFES)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Plataforma de Conversação Baseada em Inteligência Artificial para Aprendizagem e Avaliação de Lógica de Programação</h4>
                          <ul class="autores-artigo">
                            <li>Marcus Vinicius Rangel Coelho (UNIFESSPA)</li>
                            <li>Vitória Leda Nogueira (UNIFESSPA)</li>
                            <li>Ramon Castro Barbosa (UNIFESSPA)</li>
                            <li>Igor Santos Souza Correa (UNIFESSPA)</li>
                            <li>Aline Valente (UnB)</li>
                            <li>Warley M. Valente Junior (UNIFESSPA)</li>
                            <li>Elton Alves (UNIFESSPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Proposta para a Construção de Diretrizes para o Uso Ético de IA Generativa: Um Guia Prático para Cursos Superiores de Computação</h4>
                          <ul class="autores-artigo">
                            <li>Samara Sampaio (UFCG)</li>
                            <li>Livia Sampaio (UFCG)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-li4-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li4" aria-expanded="true" aria-controls="collapse-li4">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 4</strong>: Abordagens Práticas e Lúdicas para o Ensino de Programação e Sistemas Computacionais</h3>
                  Terça-feira, 14 de abril de 2026, a partir das 20:00, online (Microsoft Teams)
                </button>
              </div>
              <div id="collapse-li4" class="collapse" aria-labelledby="accordion-li4-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Jogo Educacional Digital para Apoiar o Ensino de Lógica de Programação para Adolescentes Refugiados em São Paulo</h4>
                          <ul class="autores-artigo">
                            <li>Lorenzo Bernardo (IFUSP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Abordagem Baseada em Jogo Educacional Digital para o Ensino de Programação Orientada a Objetos</h4>
                          <ul class="autores-artigo">
                            <li>Bruno Moraes (UFJF)</li>
                            <li>Allan Rodrigues (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Placa de Desenvolvimento Educacional para o Estudo de Sistemas Embarcados</h4>
                          <ul class="autores-artigo">
                            <li>Marcos Vinícius Maldonado Arevalo (UFGD)</li>
                            <li>Felipe José Carbone (UFGD)</li>
                            <li>Adailton Cruz (UFGD)</li>
                            <li>Rodrigo Yoshikawa Oeiras (UFGD)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-li5-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li5" aria-expanded="true" aria-controls="collapse-li5">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 5</strong>: Inovação, Acessibilidade e Permanência no Ensino de Computação com Apoio de IA</h3>
                  Terça-feira, 5 de maio de 2026, a partir das 14:30, presencial
                </button>
              </div>
              <div id="collapse-li5" class="collapse" aria-labelledby="accordion-li5-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A Robótica Universitária como Estratégia de Enfrentamento da Evasão Acadêmica no IFMS - Campus Corumbá</h4>
                          <ul class="autores-artigo">
                            <li>Joelton Penha Campos (IFMS)</li>
                            <li>Leandro Bomkoski Feuser (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Arquitetura Human-in-the-loop Baseada em RAG e LLMs para Geração e Correção de Avaliações Formativas</h4>
                          <ul class="autores-artigo">
                            <li>Vinicius Bertuol (UNIOESTE)</li>
                            <li>Anderson da Silva Marcolino (UFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Diretrizes para o Ensino de Modelagem de Software Acessível: Uma Investigação Colaborativa</h4>
                          <ul class="autores-artigo">
                            <li>Esteic Janaina Santos Batista (UFMS)</li>
                            <li>Leandro Soares Guedes (IFMS)</li>
                            <li>Amaury Antonio de Castro Junior (UFMS)</li>
                            <li>Debora Maria Barroso Paiva (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-li6-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li6" aria-expanded="true" aria-controls="collapse-li6">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 6</strong>: Métodos, Métricas e Design Pedagógico no Ensino de Engenharia de Software e Computação</h3>
                  Terça-feira, 5 de maio de 2026, a partir das 15:15, presencial
                </button>
              </div>
              <div id="collapse-li6" class="collapse" aria-labelledby="accordion-li6-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Em direção a uma Taxonomia de Métricas e Observabilidade para Chatbots no Ensino de Programação</h4>
                          <ul class="autores-artigo">
                            <li>Renato Garcia (IME USP)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Williamson Silva (UFCA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Exploração de Estados Implícitos em Requisitos de Software como Estratégia Pedagógica no Ensino de Engenharia de Requisitos e Testes</h4>
                          <ul class="autores-artigo">
                            <li>Christopher Ric Coelho Saar (UFAC)</li>
                            <li>Daricélio Moreira Soares (UFAC)</li>
                            <li>Manoel Limeira de Lima Júnior (UFAC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Framework para o Co-design de Jogos Sérios no Ensino de Computação para Estudantes com TEA</h4>
                          <ul class="autores-artigo">
                            <li>Kennedy Silva (UFMS)</li>
                            <li>Debora Maria Barroso Paiva (UFMS)</li>
                            <li>Amaury Antonio de Castro Junior (UFMS)</li>
                            <li>Leandro Soares Guedes (IFMS)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-li7-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li7" aria-expanded="true" aria-controls="collapse-li7">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 7</strong>: Inclusão, Inovação e Abordagens Socioculturais no Ensino de Computação</h3>
                  Terça-feira, 5 de maio de 2026, a partir das 16:30, presencial
                </button>
              </div>
              <div id="collapse-li7" class="collapse" aria-labelledby="accordion-li7-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Indi-Duino: inovação aberta e acessível em robótica educacional para a Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Mary Grace Pereira Andrioli (IFSP - São Carlos)</li>
                            <li>Amaury Antonio de Castro Junior (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">O Design Socialmente Consciente como Ferramenta de Ensino em Computação</h4>
                          <ul class="autores-artigo">
                            <li>Flávia Belintani Blum Haddad (UTFPR)</li>
                            <li>Cleber Gimenez Correa (UTFPR)</li>
                            <li>Leticia Mara Peres (UFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pioneiras da Computação como Inspiração para o Desenvolvimento de Competências em Programação no Ensino Médio por Meio de Jogo Educacional Digital</h4>
                          <ul class="autores-artigo">
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                            <li>Isadora de Souza (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-li8-header">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li8" aria-expanded="true" aria-controls="collapse-li8">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 8</strong>: Tecnologias Inteligentes e Metodologias Ativas na Formação em Computação</h3>
                  Terça-feira, 5 de maio de 2026, a partir das 17:15, presencial
                </button>
              </div>
              <div id="collapse-li8" class="collapse" aria-labelledby="accordion-li8-header" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">SABIÁ: Sistema Integrado Baseado em Computação Afetiva para Apoio à Tomada de Decisão Docente</h4>
                          <ul class="autores-artigo">
                            <li>Helena Macedo Reis (UFPR)</li>
                            <li>Anderson da Silva Marcolino (UFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Repensando o Estágio Obrigatório em Cursos de Bacharelado em Computação: Uma Proposta baseada em Metodologias Ativas e Práticas Ágeis</h4>
                          <ul class="autores-artigo">
                            <li>Daricélio Moreira Soares (UFAC)</li>
                            <li>Christopher Saar (UFAC)</li>
                            <li>Manoel Limeira (UFAC)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
