<div id="chamadas">
  <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            Os trabalhos do laboratório de ideias selecionados para o evento foram agrupados por tema em 6 sessões.
            Cada sessão reúne trabalhos com abordagens complementares, proporcionando discussões aprofundadas sobre diversos tópicos da computação.
            Recomenda-se que os autores estejam cientes das <a href="/simposio/2025/educomp/chamadas/orientacoes-apresentacao" target="_blank">orientações para apresentação</a> previamente divulgadas pela organização do evento.
          </p>
          <div class="accordion" id="accordion-lis">
            <div class="card">
              <div class="card-header" id="accordion-lis">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li1" aria-expanded="true" aria-controls="collapse-li1">
                  <h3 class="text-bold"><strong>Laboratorio de Ideias 1</strong>: Diversidade e Inclusão</h3>
                  Segunda-feira, 31 de março, de 14:00 às 15:10, no Google Meet (online)
                </button>
              </div>
              <div id="collapse-li1" class="collapse" aria-labelledby="accordion-li1" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenadores: Aladir Silva Jr. (IFG) e Esdras Bispo Jr. (UFJ)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Oi!: Caixa luminosa para comunicação com estudantes surdos</h4>
                          <ul class="autores-artigo">
                            <li>João Moraes (IFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">MapEdu+: Uma plataforma para apoiar a inclusão educacional de pessoas com deficiência e neurodivergentes em escolas públicas</h4>
                          <ul class="autores-artigo">
                            <li>Nataniel Wilson Andrade</li>
                            <li>João Vitor de Melo Dobre</li>
                            <li>Lucy Mara Camacho</li>
                            <li>Marcel Rios (IFRO)</li>
                            <li>Mariela Mizota Tamada (IFRO)</li>
                            <li>Maria Ivanilse Calderon Ribeiro (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Criação de Jogos Digitais por Pessoa Surda: Um Relato de Experiência</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Rocha Rezende (UFJ)</li>
                            <li>Cleria Martins Lino e Silva (UFJ)</li>
                            <li>Marco Antônio Mariano (UFJ)</li>
                            <li>Ana Paula Boaventura (UFJ)</li> 
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-lis">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li2" aria-expanded="true" aria-controls="collapse-li2">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 2</strong>: Tecnologias na Educação em Computação</h3>
                  Segunda-feira, 31 de março, de 15:20 às 16:30, no Google Meet (online)
                </button>
              </div>
              <div id="collapse-li2" class="collapse" aria-labelledby="accordion-li2" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenadores: Robson Feitosa (IFCE) e Vinicius Silva (UFRJ)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Proposição de um Repositório de Ferramentas Tecnológicas para o Ensino de Programação de Estudantes com TEA</h4>
                          <ul class="autores-artigo">
                            <li>Andre Avelino (UNIPAMPA)</li>
                            <li>Emilene Coco dos Santos (IFES)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Williamson Silva (UNIPAMPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">IFG Truck: Laboratorio Maker Itinerante</h4>
                          <ul class="autores-artigo">
                            <li>Wendell Bento Geraldes (IFG)</li>
                            <li>Alec Kawam Seixas Fonseca (IFG)</li>
                            <li>Sávio Augusto De Queiroz Gonçalves Rocha</li> 
                            <li>Anna Clara Valeriano Diniz (IFG)</li>
                            <li>Karen Cristine Lins Simões (IFG)</li>
                            <li>Carlos Roberto da Silveira Junior (IFG)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header" id="accordion-lis">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li3" aria-expanded="true" aria-controls="collapse-li3">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 3</strong>: Tecnologias na Educação em Computação</h3>
                  Segunda-feira, 7 de abril, de 16:30 às 17:40, na Sala Belmiro Braga (sala S.404) (presencial)
                </button>
              </div>
              <div id="collapse-li3" class="collapse" aria-labelledby="accordion-li3" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenadores: Eryck Silva (UNICAMP) e Sérgio Crespo (UFF)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">PseudocodeLab: Uma Ferramenta Educacional Open Source e Gentil para o Ensino de Programação com Pseudocódigos</h4>
                          <ul class="autores-artigo">
                            <li>Ramon Mayor Martins (IFSC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Jogando para o Amanhã: Um Jogo Educacional Digital para a inclusão de meninas refugiadas na Computação</h4>
                          <ul class="autores-artigo">
                            <li>Alexya Jesus (UFJF)</li>
                            <li>Ana Clara Laredo (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Java-Judge-OO: Uma Ferramenta Educacional para Avaliação Automatizada de Programação Orientada a Objetos em Java</h4>
                          <ul class="autores-artigo">
                            <li>Ramon Mayor Martins (IFSC)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          
            <div class="card">
              <div class="card-header" id="accordion-lis">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li4" aria-expanded="true" aria-controls="collapse-li4">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 4</strong>: Inteligência Artificial na Educação em Computação</h3>
                  Segunda-feira, 7 de abril, de 17:50 às 19:00, na Sala Belmiro Braga (sala S.404) (presencial)
                </button>
              </div>
              <div id="collapse-li4" class="collapse" aria-labelledby="accordion-li4" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenadores: Fabrizio Honda (UEA) e Amaury Castro Jr. (UFMS)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Programação de Jogos com Google Colab e Chatgpt</h4>
                          <ul class="autores-artigo">
                            <li>Isabela de Castro Freitas (UFV)</li>
                            <li>Pedro Henrique Coura Pereira (UFV)</li>
                            <li>Hugo Costa Araújo (UFV)</li>
                            <li>José Augusto Miranda Nacif (UFV)</li>
                            <li>Ricardo dos Santos Ferreira (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Geração de Dicas de Próximo Passo utilizando Large Language Models (LLMs)</h4>
                          <ul class="autores-artigo">
                            <li>Luis Gustavo Araújo (IFBA)</li>
                            <li>Ketlly Araujo (IFBA)</li>
                            <li>Endrik Reis (IFBA)</li>
                            <li>Mirelee Oliveira da Silva (IFBA)</li>
                            <li>Andreia Pinheiro (IFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desmistificando o Ensino de Inteligência Artificial e Aprendizado de Máquina</h4>
                          <ul class="autores-artigo">
                            <li>Pedro Henrique Coura Pereira (UFV)</li>
                            <li>Isabela de Castro Freitas (UFV)</li>
                            <li>Hugo Costa Araújo (UFV)</li>
                            <li>José Augusto Miranda Nacif (UFV)</li>
                            <li>Ricardo dos Santos Ferreira (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-lis">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li5" aria-expanded="true" aria-controls="collapse-li5">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 5</strong>: Ensino de Engenharia de Software e Programação Introdutória</h3>
                  Terça-feira, 8 de abril, de 16:30 às 17:40, na Sala Belmiro Braga (sala S.404) (presencial)
                </button>
              </div>
              <div id="collapse-li5" class="collapse" aria-labelledby="accordion-li5" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenadores: Ayla Rebouças (UFPB) e Ricardo Caceffo (UNIVESP)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Repositório Aberto de Exercícios de Programação Introdutória em Português</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Medrado Sena (UFV)</li>
                            <li>Julio C. S. Reis (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendizado Prático de Engenharia de Requisitos com Lego Serious Play</h4>
                          <ul class="autores-artigo">
                            <li>Johnny Cardoso Marques (ITA)</li>
                            <li>Karla Donato Fook (ITA)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Abordagem Arquitetural para o Desenvolvimento de Jogos Educacionais Digitais na Educação em Computação</h4>
                          <ul class="autores-artigo">
                            <li>Nikolas Genesio (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-lis">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-li6" aria-expanded="true" aria-controls="collapse-li6">
                  <h3 class="text-bold"><strong>Laboratório de Ideias 6</strong>: Inclusão, Diversidade, Equidade e Acessibilidade (IDEA)</h3>
                  Terça-feira, 8 de abril, de 17:50 às 19:00, na Sala Belmiro Braga (sala S.404) (presencial)
                </button>
              </div>
              <div id="collapse-li6" class="collapse" aria-labelledby="accordion-li6" data-parent="#accordion-lis">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td>
                          Coordenadores: Williamson Silva (UNIPAMPA) e Ramon Martins (IFSC)
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Jogos Desplugados no Desenvolvimento do Pensamento Computacional de Crianças Refugiadas</h4>
                          <ul class="autores-artigo">
                            <li>Luiz Miguel Silva (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Meninas Digitais UFJF: Oficinas Desplugadas de Computação</h4>
                          <ul class="autores-artigo">
                            <li>Barbara Quintela (UFJF)</li>
                            <li>Lara Esteves (UFJF)</li> 
                            <li>Ana Clara Verly (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">TechSisters: Conectando Mulheres na Computação</h4>
                          <ul class="autores-artigo">
                            <li>Jennifer Diniz dos Santos (IFRO) </li>
                            <li>Cheuri Magalhães</li>
                            <li>Felipe Maia (UEL)</li>
                            <li>Ivanilse Calderon Ribeiro (UFAM) </li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>