<div id="programacao">
  <section id="mesas-tematicas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>MT1</strong>: Uso de juízes online no ensino de programação: desafios e oportunidades</h3>
              Terça-feira, 5 de maio de 2026, das 11:00 às 12:30, Sala Multiuso 03
            </div>
            <div class="card-body">
              <p><strong>Mediadores:</strong> Carla Amor Divino Moreira Delgado (UFRJ), Leandro Silva Galvão de Carvalho (Federal University of Amazonas) e Reinaldo Silva Fortes (UFOP)</p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>MT2</strong>: Encruzilhadas e interações decoloniais na Educação em Computação</h3>
              Terça-feira, 5 de maio de 2026, das 11:00 às 12:30, Sala Multiuso 06
            </div>
            <div class="card-body">
              <p><strong>Mediadores:</strong> Ecivaldo Matos (USP), Fernanda Pires (UEA), Leander Cordeiro de Oliveira (UTFPR) e Silvia Amelia Bim (UTFPR)</p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>MT3</strong>: Projetos de graduação com empresas</h3>
              Quarta-feira, 6 de maio de 2026, das 09:00 às 10:30, Sala Multiuso 03
            </div>
            <div class="card-body">
              <p><strong>Mediadores:</strong> Rafael Ferrao (Insper Instituto de Ensino e Pesquisa), Luciano Pereira Soares (Insper), Afonso Sales (PUCRS) e Marcelo Hideki Yamaguti (PUCRS)</p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>MT4</strong>: Quando uma menina entra na Computação, o que precisa mudar para que ela permaneça?</h3>
              Quarta-feira, 6 de maio de 2026, das 09:00 às 10:30, Sala Multiuso 06
            </div>
            <div class="card-body">
              <p><strong>Mediadoras:</strong> Alessandreia Marta de Oliveira (UFJF), Anna Beatriz Marques (UFC), Thalia Santos de Santana (IF Goiano), Ramayane Bonacin Braga (IF Goiano Câmpus Ceres) e Aleteia de Araujo (UnB)</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
