<div id="chamadas">
  <section id="minicursos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            Os minicursos do EduComp 2026 são atividades práticas com duração de dois blocos de 1h30, realizadas de forma presencial.
            Recomenda-se que os participantes estejam cientes das <a href="/simposio/2026/educomp/chamadas/orientacoes-apresentacao" target="_blank">orientações para apresentação</a> previamente divulgadas pela organização do evento.
          </p>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>Minicurso 1</strong>: Criando visualizações de dados com programação em blocos usando o PlayData</h3>
              Segunda-feira, 4 de maio de 2026, das 11:00 às 12:30 e das 14:30 às 16:00, Laboratório 0
            </div>
            <div class="card-body">
              <p><strong>Instrutora:</strong> Cassia de Oliveira Fernandez (Insper Instituto de Ensino e Pesquisa)</p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>Minicurso 2</strong>: Como Investigar a Motivação e a Aprendizagem Autorregulada em Computação: Teoria, Aplicação e Análise de Dados com o MSLQ</h3>
              Segunda-feira, 4 de maio de 2026, das 11:00 às 12:30 e das 14:30 às 16:00, Laboratório 0
            </div>
            <div class="card-body">
              <p><strong>Instrutor:</strong> Carlos Alberto Dainese (UFOP)</p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>Minicurso 3</strong>: Soldagem e Dessoldagem de Componentes Eletrônicos: Fundamentos, Técnicas e Prática Segura</h3>
              Terça-feira, 5 de maio de 2026, das 14:30 às 16:00 e das 16:30 às 18:00, Laboratório de Eletrônica
            </div>
            <div class="card-body">
              <p><strong>Instrutores:</strong> Eduardo Gabriel Nascimento Souza (UFMS), Maria Istela Cagnin (UFMS) e Amanda Beatriz Matos Palacio Ribeiro (UFMS)</p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>Minicurso 4</strong>: Criação de jogos não digitais (e outras atividades desplugadas) na Educação em Computação</h3>
              Quarta-feira, 6 de maio de 2026, das 14:30 às 16:00 e das 16:30 às 18:00, Sala Multiuso 16
            </div>
            <div class="card-body">
              <p><strong>Instrutora:</strong> Milene Silveira (PUCRS)</p>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-header">
              <h3 class="text-bold"><strong>Minicurso 5</strong>: Ensino de Programação para Crianças de 4 e 5 Anos</h3>
              Quarta-feira, 6 de maio de 2026, das 14:30 às 16:00 e das 16:30 às 18:00, Laboratório 0
            </div>
            <div class="card-body">
              <p><strong>Instrutores:</strong> Alessandro de Castro Borges (IFSULDEMINAS) e Vania Neris (UFSCAR)</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
