<div id="programacao">
  <section id="painel">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">Experiências de Aprendizagem na Educação Profissional e Tecnológica: Práticas para uma Formação Humana e Integral</h2>
          <h3 class="horario">Segunda-feira, 7 de abril de 2025, às 16h30, no Auditório Murilo Mendes (auditório azul).</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Resumo:</strong> 
                A Educação Profissional e Tecnológica (EPT) tem sido constantemente desafiada a garantir uma formação humana e integral que articula conhecimento técnico, científico e cultural, formando cidadãos críticos para a sociedade e o mundo do trabalho. 
                Nesta mesa redonda, serão apresentadas experiências concretas por meio de casos como: a reformulação do Projeto Pedagógico de Curso (PPC) de um curso técnico profissionalizante em Informática para Internet, que incorporou aspectos da formação humana e integral de forma longitudinal em sua concepção curricular; o Mestrado ProfEPT, com a apresentação de produtos educacionais universitários para a Educação Profissional, desenvolvido a partir das pesquisas dos alunos. 
                Por fim, discutiremos as novas propostas do INEP/MEC para a avaliação dos cursos técnicos profissionalizantes, disposições para serem implantadas em breve. 
                A proposta é compartilhar práticas e reflexões que possam inspirar novos caminhos para a Educação Profissional e Tecnológica.
              </p>
            </div>
          </div>
          <div class="row mb-3 align-content-around justify-content-center">
            <div class="col-md-12">
              <p class="text-center">
                <strong>Convidados</strong> 
              </p>
            </div>
            <div class="col-xl-3 col-md-4 col-8 convidado-container">
              <img class="img-fluid convidado-foto" alt="Foto Patricia Grasel" src="/img/simposio/2025/comum/pessoas/patricia-grasel.jpg"/>
              <p class="convidado-nome">Profª. Drª. Patrícia Grasel</p>
              <p class="convidado-filiacao">IFRJ</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#patricia-grase">
                Mini currículo
              </button>
              <div class="modal fade" id="patricia-grase" tabindex="-1" aria-labelledby="patricia-grase-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profª. Drª. Patrícia Grase</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        Pedagoga, especialista em Multimeios e Informática Educativa pela Pontifícia Universidade Católica do Rio Grande do Sul (PUCRS).Mestre em Educação pela Universidade Federal do Rio Grande do Sul (PPGEDU/UFRGS). 
                        Doutora em Informática na Educação pelo Programa de Informática na Educação da Universidade Federal do Rio Grande do Sul (PGIE/UFRGS). 
                        Atua como docente desde 2003, com experiência na educação básica, desde a educação infantil até o ensino médio e também no ensino superior com ênfase em formação de professores. 
                        Atualmente é professora de Informática Educativa e Tecnologias Educacionais do Instituto Federal de Rio de Janeiro, coordenadora do grupo de pesquisa Tecnologias Educacionais e Educação a Distância - TEEaD. 
                        Professora e Vice-Coordenadora do Programa de Pós Graduação, do Mestrado Profissional em Educação Profissional Tecnológica da Rede dos Institutos Federais (PROFEPT). 
                        Avaliadora de Curso de Graduação duplo perfil (presencial e EaD) do INEP/MEC. 
                        Consultora Pedagógica com foco em ensino e aprendizagem, com pesquisas na área de virtualização do conhecimento, cultura digital e objetos de aprendizagens, entre outros.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 col-8 convidado-container">
              <img class="img-fluid convidado-foto" alt="Foto Patricia Grasel" src="/img/simposio/2025/comum/pessoas/rodrigo-duran.jpg"/>
              <p class="convidado-nome">Prof. Dr. Rodrigo Duran</p>
              <p class="convidado-filiacao">IFB</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rodrigo-duran">
                Mini currículo
              </button>
              <div class="modal fade" id="rodrigo-duran" tabindex="-1" aria-labelledby="rodrigo-duran-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Prof. Dr. Rodrigo Duran</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        Possui graduação em Ciência da Computação pela Universidade Estadual de Londrina (2002), mestrado em Ciências da Computação e Matemática Computacional pela Universidade de São Paulo (2005) e doutorado em Computer Science pela Aalto University na Finlândia em 2020. 
                        Atualmente é professor do Instituto Federal de Brasília (IFB). 
                        Tem experiência na área de ensino de programação, com ênfase em avaliação da complexidade cognitiva de programas, avaliação de conhecimento em programação usando ferramentas de autoavaliação, ensino de cursos introdutórios de programação e feiras de ciências.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="painel">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <h2 class="titulo">PROFCOMP: O que esperar do Mestrado Profissional para Docentes da Educação Básica?</h2>
          <h3 class="horario">Quinta-feira, 10 de abril de 2025, às 11h, no Auditório Pedro Nava (auditório amarelo).</h3>
          <div class="row mb-3">
            <div class="col-md-12">
              <p>
                <strong>Resumo:</strong> 
                Neste painel, será discutido o Programa de Mestrado Profissional em Ensino de Computação em Rede Nacional (PROFCOMP), uma iniciativa da Sociedade Brasileira de Computação (SBC), em cooperação com instituições associadas de todas as regiões do pais, para criar e manter um programa de mestrado profissional em rede para qualificação de profissionais da Educação Básica na área de Ensino de Computação.
              </p>
            </div>
          </div>
          <div class="row mb-3 align-content-around justify-content-center">
            <div class="col-md-12">
              <p class="text-center">
                <strong>Convidados</strong> 
              </p>
            </div>
            <div class="col-xl-3 col-md-4 col-8 convidado-container">
              <img class="img-fluid convidado-foto" alt="Foto Luiz Alberto Lira" src="/img/simposio/2025/comum/pessoas/luiz-alberto-lira.jpg"/>
              <p class="convidado-nome">Dr. Luiz Alberto R. de Lira</p>
              <p class="convidado-filiacao">Capes</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#leila-ribeiro">
                Mini currículo
              </button>
              <div class="modal fade" id="leila-ribeiro" tabindex="-1" aria-labelledby="leila-ribeiro-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Dr. Luiz Alberto Rocha de Lira</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        Possui graduação em Administração pela Associação de Ensino Unificado do DF (1987).
                        Especialização em Administração Financeira do Setor Público e Privado (AEUDF). 
                        Especialização em Educação,Ciência e Tecnologia (PAI/CAPES). 
                        Mestrado em Gestão Empresarial pela Fundação Getúlio Vargas (2003) e Doutorado em Educação pela Universidade Metodista de Piracicaba (2009). 
                        Pós-doutorado pela Universidade Aberta de Portugal (2022).
                        Diretor Acadêmico da Faculdade Serrana de Ensino Superior (2004-2012). 
                        Professor Titular da Faculdade Serrana/DF (2004-2012). 
                        Professor da UNIP/DF. 
                        Professor da FIPLAC/DF. 
                        Professor da FTB/DF. 
                        Coordenador de Programas Especiais da CAPES/MEC (1990 -1996). 
                        Coordenador do Programa de Apoio ao Desenvolvimento Científico e Tecnológico/PADCT/CAPES (1989-1996).
                        Coordenador do Programa de Educação para Ciências/SPEC/PADCT/CAPES e Prociências/CAPES (1996-2001). 
                        Auditoria Interna da CAPES (2002-2003). 
                        Chefe da Seção de Execução Financeira e Orçamentaria da CAPES (1982-1989).
                        Chefe da Divisão de Prestação de Contas da CAPES (2003-2005).
                        Coordenador de Supervisão e Fomento da UAB/CAPES (2012). 
                        Coordenador de Programas e Cursos em Educação a Distância da CAPES/MEC (2013). 
                        Diretor substituto da Diretoria de Educação a Distância da CAPES (2017-2022). 
                        Consultor Científico do IDLT-MA (2008). 
                        Membro da Diretoria do Centro de Gestão em Educação Continuada (CEGECON). 
                        Analista em Ciência e Tecnologia do Quadro Permanente da CAPES/MEC desde 1982. 
                        Professor e Coordenador de Curso da Faculdade Ideal de Brasília (2013). 
                        Professor Titular e Coordenador de Curso da Faculdade Horizonte - DF (2015). 
                        Diretor de Graduação e Pós-graduação da Faculdade Horizonte (2019). 
                        Tem experiência na área de Administração e Política e Gestão da Educação.
                        Avaliador do BASIS/MEC (2006). 
                        Pesquisador e Consultor na área de Educação, Ciência e Tecnologia. 
                        Política, Gestão e Financiamento de Programas de Educação. 
                        Accountability nas áreas de Ciência e Tecnologia. 
                        Primeiro Presidente da Associação de Servidores da CAPES por 02 mandatos (1991-1995). 
                        Presidente do Conselho Deliberativo da ASCAPES (2021-2024).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 col-8 convidado-container">
              <img class="img-fluid convidado-foto" alt="Foto Leila Ribeiro" src="/img/simposio/2025/comum/pessoas/leila-ribeiro.jpg"/>
              <p class="convidado-nome">Profª. Drª. Leila Ribeiro</p>
              <p class="convidado-filiacao">UFRGS</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#leila-ribeiro">
                Mini currículo
              </button>
              <div class="modal fade" id="leila-ribeiro" tabindex="-1" aria-labelledby="leila-ribeiro-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profª. Drª. Leila Ribeiro</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        Leila Ribeiro é professora titular do Instituto de Informática da Universidade Federal do Rio Grande do Sul. 
                        Possui graduação em Ciências da Computação pela Universidade Federal do Rio Grande do Sul (1988), mestrado em Ciências da Computação pela Universidade Federal do Rio Grande do Sul (1991) e doutorado em Informática pela Universidade Técnica de Berlim/Alemanha (1996) com tese na área de modelos semânticos para Computação. 
                        Fez estágio de pós-doutorado na Universidade de York, Inglaterra (2008/2009). 
                        Sua pesquisa tem foco nos Fundamentos da Computação, e atua principalmente nas seguintes áreas da Computação: engenharia de software (em especial especificação e verificação formal), bioinformática, modelos de computação e ensino de Computação (com ênfase em pensamento computacional). 
                        Em 1999, recebeu o Prêmio Santista Juventude na área de Computação. Já coordenou diversos projetos nacionais e internacionais, bem como publicou mais de 100 artigos em revistas e eventos científicos. 
                        É reconhecida internacionalmente em sua área, tendo sido coordenadora dos comitês de programa dos mais importantes simpósios nacionais de sua área, bem como de eventos internacionais. 
                        É a representante brasileira no IFIP Technical Committee 1 (Foundations of Computer Science) e membro efetivo da Sociedade Brasileira de Computação (SBC). 
                        Atualmente é Diretora de Ensino de Computação na Educação Básica da SBC (Sociedade Brasileira de Computação).
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 col-8 convidado-container">
              <img class="img-fluid convidado-foto" alt="Foto Patricia Grasel" src="/img/simposio/2025/comum/pessoas/rodrigo-duran.jpg"/>
              <p class="convidado-nome">Prof. Dr. Rodrigo Duran</p>
              <p class="convidado-filiacao">IFB</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#rodrigo-duran">
                Mini currículo
              </button>
              <div class="modal fade" id="rodrigo-duran" tabindex="-1" aria-labelledby="rodrigo-duran-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Prof. Dr. Rodrigo Duran</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        Possui graduação em Ciência da Computação pela Universidade Estadual de Londrina (2002), mestrado em Ciências da Computação e Matemática Computacional pela Universidade de São Paulo (2005) e doutorado em Computer Science pela Aalto University na Finlândia em 2020. 
                        Atualmente é professor do Instituto Federal de Brasília (IFB). 
                        Tem experiência na área de ensino de programação, com ênfase em avaliação da complexidade cognitiva de programas, avaliação de conhecimento em programação usando ferramentas de autoavaliação, ensino de cursos introdutórios de programação e feiras de ciências.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xl-3 col-md-4 col-8 convidado-container">
              <img class="img-fluid convidado-foto" alt="Foto Patricia Grasel" src="/img/simposio/2025/comum/pessoas/claudia-motta.jpg"/>
              <p class="convidado-nome">Profª. Drª. Cláudia Motta</p>
              <p class="convidado-filiacao">UFRJ</p>
              <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#claudia-motta">
                Mini currículo
              </button>
              <div class="modal fade" id="claudia-motta" tabindex="-1" aria-labelledby="claudia-motta-label" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Profª. Drª. Cláudia Motta</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <p>
                        Sou graduada em Informática (IM/UFRJ, 1984), com mestrado em Inteligência Artificial (1989) e doutorado em Engenharia de Software pela COPPE/SISTEMAS da UFRJ (1999). 
                        Ao longo da minha carreira, busquei integrar o conhecimento em Computação com a Educação, com o objetivo de ampliar as formas de aquisição e construção do conhecimento. 
                        Tive a oportunidade de atuar como Coordenadora do Núcleo de Computação Eletrônica (2009-2011) e Diretora do Instituto Tércio Pacitti de Aplicações e Pesquisas (2011-2015), ambos na UFRJ, com forte envolvimento em projetos inovadores voltados para o ensino da Computação. 
                        Também fui Diretora de Planejamento e Projetos Estratégicos da Sociedade Brasileira de Computação (SBC) entre 2013 e 2019, onde contribuí para a criação da Chancela da SBC, do Selo de Inovação e do Prêmio Tércio Pacitti, reconhecendo a excelência em Educação em Computação.
                        Atualmente, sou docente no Programa de Pós-Graduação em Informática (PPGI/UFRJ), com pesquisas que exploram a interseção entre design de interfaces digitais, educação e cognição, com foco em como modelos metacognitivos podem mediar a construção do conhecimento. 
                        Como Diretora de Educação da SBC (2023-2025), pude ampliar minha visão sobre os Grandes Desafios da Computação na Educação. 
                        Sou também co-fundadora do SuPyGirls, um projeto que visa o empoderamento feminino por meio da tecnologia, e vice-líder do Grupo de Pesquisa Ábaco da Universidade de Brasília. 
                        Minha atuação abrange ainda a divulgação científica e a capacitação de educadores, com ênfase no uso de tecnologias para promover a inclusão e o aprendizado eficaz nas escolas.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>