<div id="criterios-t2" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Critérios e diretivas para revisão</h1>
  </div>

  <section id="criterios">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilha 2 -  Relatos de experiência</h2>
          
          <h3>Diretrizes para avaliar anonimização</h3>
          <p>
          O EduComp adota um processo de revisão com <strong>anonimização dupla</strong>. Nestes casos, os artigos submetidos devem omitir qualquer informação que permita a identificação de seus autores, tais como:
          </p>
          <ul>
          <li><strong>Informações de autoria.</strong> O artigo não deve incluir nome e filiação dos autores, nem outras informações que permitam a identificação dos autores, tais como nome do local da intervenção, identificação de projetos ou informações sobre financiamento;</li>
          <li><strong>Referências a trabalhos anteriores dos autores.</strong> Trabalhos anteriores devem ser apresentadas em terceira pessoa (por exemplo, usar "no trabalho de Fulano et al.” em vez de "em nosso trabalho"), ou de forma anonimizada (por exemplo, [referência omitida]);</li>
          <li><strong>Links para artefatos relacionados ao trabalho.</strong> O artigo deve apontar para repositórios ou websites que não permitam a identificação do nome ou da instituição dos autores. Sugestão: serviço <a href="https://anonymous.4open.science/">Anonymous GitHub</a>.</li>
          </ul>
          <p>Todas as informações de autoria devem ser <strong>omitidas do texto</strong>. Apresentar as informações de autoria e mascará-las com formatação diferente da SBC (por exemplo, letra preta em fundo preto, ou letra branca em fundo branco) não é o mesmo que omitir, pois diferentes aplicativos de visualização de PDF podem apresentar essas informações em formatos mais explícitos; ou as pessoas revisoras podem ver as informações pessoais ao copiar e colar trechos do artigo para verificação de fatos no momento da revisão.</p>

          <h3>Diretrizes para avaliar escopo e aderência</h3>
          <p>
            Como a Educação em Computação é uma área interdisciplinar, em alguns casos, classificar a aderência de artigos pode levar a certas dúvidas. De regra geral, o manuscrito deve apresentar uma contribuição para a formação de pessoas na área de Computação. Dessa forma, ficam <strong>fora do escopo</strong> do EduComp:
          </p>
          <ul>
            <li>Artigos que enfocam mais no desenvolvimento de <strong>ferramentas computacionais educativas</strong> (Informática na Educação) do que na formação do ser humano em uma área da Computação.</li>
            <li>Artigos que enfocam na formação em <strong>outras áreas do conhecimento</strong>, tais como Geografia, Matemática, Letramento Digital, etc. Por outro lado, podem fazer parte do escopo, artigos que relatam projetos de pesquisa e extensão executados por estudantes de Computação atuando na educação de outras áreas de conhecimento, mas desde que o trabalho enfoque como o projeto promoveu uma melhor formação dos estudantes de Computação, e não do público que recebeu formação sobre outra área de conhecimento.</li>
          </ul>

          <h3>Diretrizes sobre os critérios do formulário de avaliação</h3>
          <p>
            O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios de revisão:
          </p>
          <ul>
            <li>Em termos <strong>quantitativos</strong>, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir.</li>
            <li>Para os itens de 2 a 7, os revisores deverão oferecer <strong><i>feedback</i> qualitativo</strong> que justifique a nota atribuída ao respectivo critério. Esse feedback visa melhorar a qualidade das revisões, provendo avaliação específica aos critérios próprios para cada um dos cinco tipos de artigos esperados pelo EduComp.</li>
          </ul>
          <p>
            Os <strong>relatos de experiência</strong> (Trilha 2) deverão ser avaliados conforme os seguintes critérios, em formulário via JEMS3:
          </p>
          <ol>
            <li><strong>Aderência:</strong> O artigo deve ser um relato de experiência em Educação em Computação.</li>
            <li><strong>Originalidade:</strong> O artigo deve relatar uma experiência original quanto a algum dos aspectos a seguir: abordagem pedagógica, público-alvo, técnica, ferramenta ou instrumento utilizado.</li>
            <li><strong>Impacto educacional:</strong> O artigo deve analisar o potencial impacto educacional da iniciativa junto ao público-alvo, refletindo sobre os resultados e as lições aprendidas.</li>
            <li><strong>Replicabilidade:</strong> O artigo deve apresentar detalhes suficientes para que outros educadores possam adaptar/replicar a iniciativa em seus contextos educacionais.</li>
            <li><strong>Fundamentos teóricos e/ou pedagógicos:</strong> O relato de experiência apresentado no artigo possui um embasamento teórico e/ou pedagógico sólido.</li>
            <li><strong>Qualidade de escrita, de organização e de detalhamento do relato de experiência: </strong> O texto do artigo está adequado, considerando estruturação, clareza, coerência, coesão, ortografia, gramática e formatação (em conformidade com o modelo SBC, incluindo figuras e tabelas).</li>
            <li><strong>Recomendação:</strong> Com base nos critérios acima, o artigo deve ser publicado no EduComp.</li>
            <li><strong>Familiaridade do(a) avaliador(a) com o tema do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pelo artigo.</li>            
          </ol>
          <h3>Diretrizes para avaliar relatos de experiência</h3>

          <p>Os artigos de relato de experiência devem descrever cuidadosamente uma intervenção de educação em computação e seu contexto, e fornecer uma rica reflexão sobre o que funcionou, o que não funcionou e por quê. Todos os artigos nesta trilha devem fornecer detalhes suficientes para que outros possam adotar a inovação descrita no artigo.</p>
          <p>Um bom relato de experiência deve descrever em detalhes como a atividade foi desenvolvida, quais foram os resultados e como eles foram avaliados ou aferidos.  Entende-se que um relato valoroso tende a explorar uma ideia inovadora e inspirar outros professores a adotarem-na, ou adaptarem-na aos seus contextos.  </p>
          <p>O uso adequado do rigor científico é desejável. Além disso, mostra-se pertinente a descrição dos registros que evidenciam e corroboram as conclusões do trabalho.</p>
          <p>Será interessante ao público desta trilha que os relatos possam apresentar e discutir aspectos relacionados ao ensino de Computação, tais como atividades desenvolvidas em aulas, estratégias de registro, planejamento de atividades, entre outros temas. Espera-se uma discussão rica acerca dos resultados e lições aprendidas.</p>
          <p>Também serão valorizados relatos advindos de professores que não possuem formação específica na área de Computação, para que apresentem suas visões e reflexões acerca de como estão incorporando esses novos conhecimentos ao fazer docente.</p>
          
          <p>É importante observar que este não é um artigo de pesquisa. Relatos de experiência diferem dos artigos de pesquisa em Educação em Computação no sentido de que estruturam suas contribuições para facilitar a adoção por outros profissionais, em vez de se concentrarem na generalização ou transferibilidade dos resultados, ou em ameaças à validade. O principal objetivo dos artigos de Relatos de Experiência é de natureza observacional, e esses artigos devem:</p>
          <ul>
            <li>Descrever cuidadosamente o desenvolvimento e o uso de uma abordagem ou ferramenta de educação em computação;</li>
            <li>Descrever o contexto em que foi utilizada, incluindo os dados formativos coletados;</li>
            <li>Fornecer uma reflexão rica sobre o que funcionou ou não e por quê, explicitando quais foram as lições aprendidas;</li>
            <li>Posicionar as contribuições do relato motivadas pela literatura prévia e destacar a novidade da experiência ou ferramenta apresentada.</li>
          </ul>
          
        </div>
      </div>
    </div>
  </section>
</div>