<div id="criterios-t5" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Critérios e diretivas para revisão</h1>
  </div>

  <section id="criterios">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilha 5 - Ensaios</h2>
          
          <h3>Diretrizes para avaliar anonimização</h3>
          <p>
          O EduComp adota um processo de revisão com <strong>anonimização dupla</strong>. Nestes casos, os artigos submetidos devem omitir qualquer informação que permita a identificação de seus autores, tais como:
          </p>
          <ul>
          <li><strong>Informações de autoria.</strong> O artigo não deve incluir nome e filiação dos autores, nem outras informações que permitam a identificação dos autores, tais como nome do local da intervenção, identificação de projetos ou informações sobre financiamento;</li>
          <li><strong>Referências a trabalhos anteriores dos autores.</strong> Trabalhos anteriores devem ser apresentadas em terceira pessoa (por exemplo, usar "no trabalho de Fulano et al.” em vez de "em nosso trabalho"), ou de forma anonimizada (por exemplo, [referência omitida]);</li>
          <li><strong>Links para artefatos relacionados ao trabalho.</strong> O artigo deve apontar para repositórios ou websites que não permitam a identificação do nome ou da instituição dos autores. Sugestão: serviço <a href="https://anonymous.4open.science/">Anonymous GitHub</a>.</li>
          </ul>
          <p>Todas as informações de autoria devem ser <strong>omitidas do texto</strong>. Apresentar as informações de autoria e mascará-las com formatação diferente da SBC (por exemplo, letra preta em fundo preto, ou letra branca em fundo branco) não é o mesmo que omitir, pois diferentes aplicativos de visualização de PDF podem apresentar essas informações em formatos mais explícitos; ou as pessoas revisoras podem ver as informações pessoais ao copiar e colar trechos do artigo para verificação de fatos no momento da revisão.</p>

          <h3>Diretrizes para avaliar escopo e aderência</h3>
          <p>
            Como a Educação em Computação é uma área interdisciplinar, em alguns casos, classificar a aderência de artigos pode levar a certas dúvidas. De regra geral, o manuscrito deve apresentar uma contribuição para a formação de pessoas na área de Computação. Dessa forma, ficam <strong>fora do escopo</strong> do EduComp:
          </p>
          <ul>
            <li>Artigos que enfocam mais no desenvolvimento de <strong>ferramentas computacionais educativas</strong> (Informática na Educação) do que na formação do ser humano em uma área da Computação.</li>
            <li>Artigos que enfocam na formação em <strong>outras áreas do conhecimento</strong>, tais como Geografia, Matemática, Letramento Digital, etc. Por outro lado, podem fazer parte do escopo, artigos que relatam projetos de pesquisa e extensão executados por estudantes de Computação atuando na educação de outras áreas de conhecimento, mas desde que o trabalho enfoque como o projeto promoveu uma melhor formação dos estudantes de Computação, e não do público que recebeu formação sobre outra área de conhecimento.</li>
          </ul>

          <h3>Diretrizes sobre os critérios do formulário de avaliação</h3>
          <p>
            O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios de revisão:
          </p>
          <ul>
            <li>Em termos <strong>quantitativos</strong>, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir.</li>
            <li>Para os itens de 2 a 9, os revisores deverão oferecer <strong><i>feedback</i> qualitativo</strong> que justifique a nota atribuída ao respectivo critério. Esse feedback visa melhorar a qualidade das revisões, provendo avaliação específica aos critérios próprios para cada um dos cinco tipos de artigos esperados pelo EduComp.</li>
          </ul>
          <p>
            Os <strong>ensaios</strong> (Trilha 5) deverão ser avaliados conforme os seguintes critérios, em formulário via JEMS3:
          </p>
          <ol>
            <li><strong>Aderência:</strong> Aderência ao tema, à trilha e aos tópicos de interesse do EduComp: Trata-se de um ensaio em educação em computação? </li>
            <li><strong>Trabalhos Relacionados:</strong> O manuscrito está embasado em trabalhos prévios relevantes?</li>
            <li><strong>Teoria:</strong> O manuscrito baseia-se em teoria(s) quando apropriado?</li>
            <li><strong>Argumentação:</strong> O trabalho provê argumentação de natureza crítica e/ou reflexiva?</li>
            <li><strong>Consistência e coerência:</strong> As conclusões são derivadas de forma consistente a partir da argumentação?</li>
            <li><strong>Impacto:</strong> O artigo promove o avanço do conhecimento em educação em computação?</li>
            <li><strong>Implicações:</strong> O artigo discute e sumariza de modo claro as contribuições e implicações do trabalho, incluindo considerações sobre questões éticas quando necessário?</li>
            <li><strong>Apresentação:</strong> O texto do artigo é escrito adequadamente, considerando estruturação, clareza, coerência, coesão, ortografia, gramática e formatação (incluindo figuras e tabelas)?</li>
            <li><strong>Recomendação:</strong> Com base nos critérios acima, qual a sua recomendação geral sobre o trabalho?</li>
            <li><strong>Familiaridade do(a) avaliador(a) com o tema do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pelo artigo.</li>
          </ol>

          

          <h3>Diretrizes para avaliar ensaios</h3>

          

          <p>Um bom ensaio possui algumas características importantes:</p>

          

          <ol>
            <li><strong>Crítica e/ou Reflexão:</strong> A partir da análise de um contexto, o(a) autor(a) critica e/ou reflete sobre ele com o objetivo de motivar o ensaio e engajar os leitores. </li>
            <li><strong>Tese:</strong> o(a) autor(a) tem uma tese principal que o levou a escrever o ensaio. Geralmente, a tese é enunciada na introdução do ensaio.</li>
            <li><strong>Argumentação:</strong> o(a) autor(a) sabe o que quer dizer e por quê. Vai além de apontar comparações, enriquecendo a compreensão e provocando reflexões do(a) leitor(a) sobre o tema.</li>
            <li><strong>Organização:</strong> Cada argumento apoia o argumento principal de maneira coerente. Transições claras indicam porque cada novo argumento segue o anterior.</li>
            <li><strong>Evidências:</strong> Exemplos concretos sustentam ideias gerais do ensaio. O artigo fornece a fonte e a significância de cada evidência apresentada.</li>
            <li><strong>Consistência:</strong> As conclusões do ensaio são derivadas de forma consistente a partir da argumentação.</li>
            <li><strong>Apresentação:</strong> o artigo exibe um bom domínio da prosa acadêmica.</li>
          </ol>

          

          <p>Observe que essas categorias são interdependentes. Por exemplo, se suas evidências forem fracas, isso quase certamente afetará a qualidade de sua argumentação e organização. Da mesma forma, se você tiver dificuldade com a clareza textual, é de se esperar que suas transições sejam prejudicadas. É recomendável adotar uma abordagem holística para melhorar seu ensaio, em vez de focar exclusivamente em um aspecto específico. </p>
        </div>
      </div>
    </div>
  </section>
</div>