<div id="chamadas">

 <section id="informacoes-apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Os autores de trabalhos aceitos no SBC-EB 2025 devem seguir as diretrizes abaixo para a apresentação oral.
            Em todos os casos, recomenda-se fortemente o uso do <a href="/downloads/simposio/2025/sbc-eb/template-sbc-eb-2025.pptx"> modelo oficial do evento</a> para a apresentação, mas os autores têm liberdade para escolher outros modelos, se julgarem adequado.
          </p>
          <p>
            O evento fornecerá projetor e computador e, para garantir a pontualidade, não será permitido o uso de computadores pessoais (notebooks) nessas apresentações.
            Para evitar problemas de formatação, sugere-se que a apresentação final esteja em formato PDF.
          </p>
          <p>
            Os apresentadores devem estar na sala pelo menos 10 minutos antes do início da sessão técnica.
            Cada autor terá <strong>7 minutos para sua apresentação</strong>.
            Após a apresentação de todos os trabalhos, o restante da sessão será dedicado a discussão com os presentes. 
          </p>
        </div>
      </div>
    </div>
  </section>

</div>
