<div id="chamadas">

 <section id="informacoes-apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Existe um <a href="/downloads/simposio/2025/sbc-eb/template-sbc-eb-2025.pptx"> modelo oficial do evento</a>, cuja adoção é recomendada para as apresentações orais dos trabalhos aceitos.
            Entretanto, caso não se sinta confortávem em utilizá-lo, é permitido que se utilize outro modelo.
          </p>
          <p>
            Em breve serão disponibilizadas aqui as demais orientações específicas para a apresentação oral dos trabalhos nas sessões técnicas do SBC-EB 2025.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>
