<div id="chamadas">

 <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Abaixo estão listados os trabalhos aceitos no SBC-EB 2025.
            A publicação de cada trabalho nos anais do evento está condicionado à inscrição de pelo menos um dos autores e apresentação oral do trabalho no evento.
            Em todos os casos, os autores deverão preencher o <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC. 
          </p>
        </div>
      </div>
    </div>
  </section>

 
</div>
