<div id="chamadas">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="coordenacao">
            <strong>Coordenação:</strong> Rozelma França (UFRPE) | Flavia Santoro (UERJ)<br>
            <strong>Contato:</strong> <a href="mailto:rozelma.franca@ufrpe.br">rozelma.franca@ufrpe.br</a> | <a href="mailto:flavia@ime.uerj.br">flavia@ime.uerj.br</a>
          </div>
          <p>
            O <strong>II Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2025)</strong> convida docentes da Educação Básica, discentes de cursos de licenciatura e demais pessoas envolvidas no Ensino de Computação na Educação Básica a submeterem propostas de atividades que apoiem o desenvolvimento de habilidades da BNCC Computação.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="datas-importantes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Datas importantes</h2>
          <div class="row justify-content-center">
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card-passado">
                <div class="card-title">
                  <span class="dia">14</span>
                  <span class="mes">fevereiro</span>
                  <span class="ano">2025</span>
                  <span class="prazo-firme">Prazo firme!</span>
                </div>
                <div class="card-body">
                  <p class="card-text data-riscada">07/02/2025</p>
                </div>
                <div class="card-footer text-center">Envio dos trabalhos</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">07</span>
                  <span class="mes">março</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Notificação de aceite</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">14</span>
                  <span class="mes">março</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Inscrição dos autores(as)</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">21</span>
                  <span class="mes">março</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio da versão final</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sobre-evento">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Sobre o evento</h2>
          <p>
            A Computação está cada vez mais presente na sociedade contemporânea, impactando na forma como as pessoas se relacionam com o mundo à sua volta, em esferas como trabalho, educação, lazer e atividades cotidianas. Nesse contexto, desenvolver competências e habilidades da área é essencial para conviver e prosperar neste mundo permeado por tecnologias digitais.
          </p>
          <p>
            A recente inclusão da Computação na Base Nacional Comum Curricular corrobora com a importância dessa formação na Educação Básica. 
            No entanto, diversos desafios permeiam a sua implementação na sala de aula, como a formação docente, currículo, recursos e materiais didáticos que atendam às necessidades e diversidades das escolas brasileiras.
          </p>
          <p>
            Nesse cenário, em sua segunda edição, o SBC-EB 2025 objetiva reunir docentes da Educação Básica, gestores públicos e escolares, docentes e discentes de cursos de licenciaturas, pesquisadores e demais interessados, criando um fórum de discussão, aprendizado e troca de experiências em torno do ensino de Computação na Educação Básica.
          </p>
          <p>
            O SBC-EB 2025 será realizado junto ao V Simpósio Brasileiro de Educação em Computação (EduComp 2025), ampliando os espaços de diálogo e integração da comunidade nacional com interesse em Computação na Educação Básica.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="topicos-interesse">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Tópicos de interesse</h2>
          <ul>
            <li>Atividades do Eixo Pensamento Computacional</li>
            <li>Atividades do Eixo Mundo Digital</li>
            <li>Atividades do Eixo Cultura Digital</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Instruções para autores</h2>
          <p>
            O SBC-EB 2025 aceitará resumos expandidos com propostas originais de atividades ou relatos de aplicação de atividades incluindo uma análise crítica dos resultados.
            As atividades devem ter como público-alvo a Educação Básica e apoiar o desenvolvimento de uma ou mais habilidades previstas nas <a href="/downloads/simposio/2025/sbc-eb/computacao_complemento_bncc.pdf">Normas sobre Computação na Educação Básica - Complemento à Base Nacional Comum Curricular (BNCC)</a>.
          </p>
          <p>
            Os trabalhos deverão contemplar as seguintes seções:
          </p>
            <ul>
              <li>Resumo e Abstract</li>
              <li>Objetivos Geral e Específicos</li>
              <li>Público-Alvo</li>
              <li>Habilidades Exploradas</li>
              <li>Recursos e Materiais Utilizados</li>
              <li>Metodologia Detalhada de Desenvolvimento da Atividade ou de sua Aplicação na Educação Básica</li>
              <li>Avaliação e Referências</li>
            </ul>
            <p>
              Não serão aceitas propostas de trabalhos diferentes do formato descrito.
            </p>
            <p>
              Os resumos deverão conter no mínimo 3 e no máximo 5 páginas, excluindo referências, e ser escritos em português, seguindo o <a href="https://www.sbc.org.br/documentosinstitucionais/#publicacoes" target="_blank">modelo para publicação de artigos da Sociedade Brasileira de Computação</a>.
            </p>
            <p>
              As submissões deverão ser realizadas eletronicamente, em formato PDF, através do sistema <a href="https://jems3.sbc.org.br/sbc-eb2025">JEMS3</a> da SBC. 
              Os trabalhos não são anônimos, portanto os nomes das pessoas autoras devem ser incluídos. 
              Todos os trabalhos submetidos serão avaliados por pelo menos dois integrantes do Comitê de Programa.
            </p>
            <p>
              Os trabalho aceitos serão publicadosnos anais  do evento no Portal de Publicações e Conteúdos Digitais da SBC - <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>, desde que haja:
            </p>
              <ul>
                <li>Inscrição de pelo menos uma das pessoas autoras no SBC-EB 2025</li>
                <li>Envio do <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/Autoriza-o-de-Publica-o-CC-BY-4.0-WICS-2020.pdf">termo de autorização de publicação</a> preenchido e assinado;</li>
                <li>Apresentação presencial do trabalho na sede (Juiz de Fora - MG) ou em um dos polos do evento (Bandeirantes - PR, Campo Grande - MS, Itacoatiara - AM ou Salvador - BA).</li>
              </ul>
        </div>
      </div>
    </div>
  </section>
</div>