
  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> simposio/2022/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Comissão Organizadora</h2>

          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral</h4>
              </td>
              <td>
                <ul>
                  <li>Roberto Bittencourt (UEFS)</li>
                  <li>Mirella Moro (UFMG)</li>
                </ul>
              </td>
              <td>
                  roberto@uefs.br<br>
                  mirella@dcc.ufmg.br
              </td>
            </tr>

          <tr>
            <td>
              <h5>Articulação Cultural</h5>
            </td>
            <td>
              <ul>
                <li>Caroline Santos (UFVJM)</li>
              </ul>
            </td>
            <td>caroline.queiroz@ufvjm.edu.br</td>
          </tr>

          <tr>
            <td>
              <h5>Conexão com a Educação Básica</h5>
            </td>
            <td>
              <ul>
                <li>Rozelma França (UFRPE)</li>
              </ul>
            </td>
            <td>rozelma.franca@ufrpe.br</td>
          </tr>

          <tr>
            <td>
              <h5>Editoração e Publicação dos Anais</h5>
            </td>
            <td>
              <ul>
                <li>Rafael Araújo (UFU)</li>
              </ul>
            </td>
            <td>rafael.araujo@ufu.br</td>
          </tr>

          <tr>
            <td>
              <h5>Ferramental Online e <br>Equipe de Apoio Técnico</h5>
            </td>
            <td>
              <ul>
                <li>Anderson Lima (UFMS)</li>
                <li>Amaury de Castro Jr. (UFMS)</li>
                <!--<li>Pablo Schoeffel (UDESC)</li>-->
              </ul>
            </td>
            <td>
              <ul>
                <li>anderson.lima@ufms.br</li>
                <li>amaury.junior@ufms.br</li>
                <!--<li>pablo.schoeffel@udesc.br</li>-->
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Financeiro</h5>
            </td>
            <td>
              <ul>
                <li>Claudia Pereira (UEFS)</li>
              </ul>
            </td>
            <td>claudiap@uefs.br</td>
          </tr>

          <tr>
            <td>
              <h5>Inscrições e Certificados</h5>
            </td>
            <td>
              <ul>
                <li>Yorah Bosse (UFMS)</li>
              </ul>
            </td>
            <td>yorah.bosse@ufms.br</td>
          </tr>

          <tr>
            <td>
              <h5>Interação com Sociedades Científicas</h5>
            </td>
            <td>
              <ul>
                <li>Tayana Conte (UFAM)</li>
              </ul>
            </td>
            <td>tayana@icomp.ufam.edu.br</td>
          </tr>

          <tr>
            <td>
              <h5>Promoção da Inclusão e Acessibilidade</h5>
            </td>
            <td>
              <ul>
                <li>Maristela Holanda (UnB)</li>
              </ul>
            </td>
            <td>mholanda@unb.br</td>
          </tr>

          <tr>
            <td>
              <h5>Publicidade e Mídias Sociais</h5>
            </td>
            <td>
              <ul>
                <li>Rodrigo Calumby (UEFS)</li>
              </ul>
            </td>
            <td>rtcalumby@uefs.br</td>
          </tr>

          <tr>
            <td>
              <h5>Recepção e Acolhimento</h5>
            </td>
            <td>
              <ul>
                <li>Fernanda Pires (UEA)</li>
              </ul>
            </td>
            <td>fpires@uea.edu.br</td>
          </tr>

          <tr>
            <td>
              <h5>Web Site do Evento</h5>
            </td>
            <td>
              <ul>
                <li>Esdras Bispo Jr. (UFJ)</li>
              </ul>
            </td>
            <td>bispojr@ufj.edu.br</td>
          </tr>
        </table>

        </div>
      </div>
    </div>
  </section>