
  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> simposio/2022/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Comitê de Programa</h2>
          
          <br>
          <h3>Coordenadores do Comitê</h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral do <br>Comitê de Programa</h4>
              </td> 
              <td>
                <ul>
                    <li>Rodrigo Duran (IFMS)</li>
                  </ul>
              </td>
              <td>
                rodrigo.duran@ifms.edu.br                
              </td>
            </tr>

            <tr>
              <td>                
                <h4>Trilha 1 – Artigos de Pesquisa</h4>                
              </td>
              <td>
                  <ul>
                    <li>Rodrigo Duran (IFMS)</li> 
                    <li>Elaine Oliveira (UFAM)</li>
                    <li>Wilkerson Andrade (UFCG)</li>
                  </ul>
              </td>
              <td>
                rodrigo.duran@ifms.edu.br<br> 
                elaine@icomp.ufam.edu.br<br>
                wilkerson@computacao.ufcg.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 2 – Relatos de Experiência</h4>
              </td>
              <td>
                <ul>
                  <li>Windson Carvalho (UFC)</li>
                  <li>Fabiane Benitti (UFSC)</li>
                </ul>
              </td>
              <td>
                windson@virtual.ufc.br <br>
                fabiane.benitti@ufsc.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 3 – Currículos</h4>
              </td>
              <td>
                <ul>
                  <li>Adão Cambraia (IFFAR)</li>
                  <li>Mônica Massa (UNEB)</li>
                </ul>
              </td>
              <td>
                adao.cambraia@iffarroupilha.edu.br <br> 
                monicamassa@gmail.com
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 4 – Recursos e Ambientes Educacionais</h4>
              </td>
              <td>
                <ul>
                  <li>Ellen Francine (USP)</li>
                  <li>Aracele Fassbinder (IFSulDeMinas)</li>
                </ul>
              </td>
              <td>
                francine@icmc.usp.br<br>
                aracele.garcia@muz.ifsuldeminas.edu.br

              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 5 – Ensaios</h4>
              </td>
              <td>
                <ul>
                  <li>Taciana Pontual (UFRPE)</li>
                  <li>André Lemos (IFTM)</li>
                </ul>
              </td>
              <td>
                taciana.pontual@ufrpe.br<br>
                andre.lemos@iftm.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Laboratório de Ideias</h4>
              </td>
              <td>
                <ul>
                  <li>Ana Liz Oliveira (UFPB)</li>
                </ul>
              </td>
              <td>
                analiz@dcx.ufpb.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>WTD-EduComp - Workshop de Teses e Dissertações em Educação em Computação</h4>
              </td>
              <td>
                <ul>
                  <li>Heitor Costa (UFLA)</li>
                </ul>
              </td>
              <td>
                heitor@ufla.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>ForLic - Fórum de Licenciatura em Computação</h4>
              </td>
              <td>
                <ul>
                  <li>Luis Gustavo Araujo (UFBA / UNIFACS)</li>
                  <li>Maici Leite (UTFPR)</li>
                </ul>
              </td>
              <td>
                luisaraujo.ifba@gmail.com <br>
                maicileite@utfpr.edu.br 
              </td>
            </tr>
          </table>

           <br>
          <h3>Metarrevisores</h3>
          <br>

          <hr>


        <table class="table table-striped">
          <tr><td>	Aracele Garcia de Oliveira Fassbinder	</td><td>	IFSuldeMinas	</td></tr>
          <tr><td>	Davi Viana dos Santos	</td><td>	UFMA	</td></tr>
          <tr><td>	Eleandro Maschio Krynski	</td><td>	UTFPR	</td></tr>
          <tr><td>	Isabela Gasparini	</td><td>	UDESC	</td></tr>
          <tr><td>	Ismayle de Sousa Santos	</td><td>	UFC	</td></tr>
          <tr><td>	Jean Carlo Rossa Hauck	</td><td>	UFSC	</td></tr>
          <tr><td>	Kiev Santos da Gama	</td><td>	UFPE	</td></tr>
          <tr><td>	Leandro Silva Galvão de Carvalho	</td><td>	UFAM	</td></tr>
          <tr><td>	Marco Aurélio Graciotto Silva	</td><td>	UTFPR	</td></tr>
          <tr><td>	Milene Selbach Silveira	</td><td>	PUCRS	</td></tr>
          <tr><td>	Rafaela Vilela da Rocha	</td><td>	UFABC	</td></tr>
          <tr><td>	Ricardo Edgard Caceffo	</td><td>	UNICAMP	</td></tr>
          <tr><td>	Roberto Almeida Bittencourt	</td><td>	UEFS	</td></tr>
          <tr><td>	Roberto Franciscatto	</td><td>	UFSM	</td></tr>
          <tr><td>	Rodrigo Silva Duran	</td><td>	IFMS	</td></tr>
          <tr><td>	Rodrigo Pereira dos Santos	</td><td>	UNIRIO	</td></tr>
          <tr><td>	Taciana Pontual da Rocha Falcão	</td><td>	UFRPE	</td></tr>
            
          </table>
          
          <br>
          <h3>Membros do Comitê</h3>
          <br>

          <hr>

         
           
        <table class="table table-striped">
            <tr><td>	Adalberto Bosco Pereira	</td><td>	Infosys	</td></tr>
            <tr><td>	Adão Cambraia	</td><td>	IFFarroupilha	</td></tr>
            <tr><td>	Adilson Wahldick	</td><td>	UDESC	</td></tr>
            <tr><td>	Adolfo Neto	</td><td>	UTFPR	</td></tr>
            <tr><td>	Adriana Damasceno	</td><td>	UFCG	</td></tr>
            <tr><td>	Afonso Sales	</td><td>	PUCRS	</td></tr>
            <tr><td>	Alcides Calsavara	</td><td>	PUCPR	</td></tr>
            <tr><td>	Alessandra Dutra	</td><td>	PUCRS	</td></tr>
            <tr><td>	Alexandra Souza	</td><td>	IFSP	</td></tr>
            <tr><td>	Alexandre L'Erario	</td><td>	UTFPR	</td></tr>
            <tr><td>	Aline Bona	</td><td>	IFRS	</td></tr>
            <tr><td>	Aline Mello	</td><td>	UNIPAMPA	</td></tr>
            <tr><td>	Aline Vasconcelos	</td><td>	IFF	</td></tr>
            <tr><td>	Amaury Castro Jr.	</td><td>	UFMS	</td></tr>
            <tr><td>	Ana Liz Souto Oliveira	</td><td>	UFPB	</td></tr>
            <tr><td>	Ana Paula Ludtke Ferreira	</td><td>	Unipampa	</td></tr>
            <tr><td>	André Lemos	</td><td>	IFTM	</td></tr>
            <tr><td>	Andrea Bordin	</td><td>	UFSC	</td></tr>
            <tr><td>	Andrea Charao	</td><td>	UFSM	</td></tr>
            <tr><td>	Andréa Mendonça	</td><td>	IFAM	</td></tr>
            <tr><td>	Anna Beatriz Marques	</td><td>	UFC	</td></tr>
            <tr><td>	Aracele Fassbinder	</td><td>	IFSuldeMinas	</td></tr>
            <tr><td>	Ayla Débora Dantas de Souza Rebouças	</td><td>	UFPB	</td></tr>
            <tr><td>	Bruno Gadelha	</td><td>	UFAM	</td></tr>
            <tr><td>	Calebe Bianchini	</td><td>	Mackenzie	</td></tr>
            <tr><td>	Carla Odete Silva	</td><td>	IFRS	</td></tr>
            <tr><td>	Carlos Silla	</td><td>	PUCPR	</td></tr>
            <tr><td>	Carlos Soares Neto	</td><td>	UFMA	</td></tr>
            <tr><td>	Carlos Tobar Toledo	</td><td>	PUCCamp	</td></tr>
            <tr><td>	Caroline Queiroz Santos	</td><td>	UFVJM	</td></tr>
            <tr><td>	César França	</td><td>	UFRPE	</td></tr>
            <tr><td>	Christina von Flach	</td><td>	UFBA	</td></tr>
            <tr><td>	Claudia Pinto Pereira	</td><td>	UEFS	</td></tr>
            <tr><td>	Claudia Susie Rodrigues	</td><td>	UFRJ	</td></tr>
            <tr><td>	Clodis Boscarioli	</td><td>	UNIOESTE	</td></tr>
            <tr><td>	Cristiano Maciel	</td><td>	UFMT	</td></tr>
            <tr><td>	Daltro Nunes	</td><td>	UFRGS	</td></tr>
            <tr><td>	Daniel Scherer	</td><td>	UEPB	</td></tr>
            <tr><td>	Danielli Araújo Lima	</td><td>	UFTM	</td></tr>
            <tr><td>	Darlinton Carvalho	</td><td>	UFSJ	</td></tr>
            <tr><td>	Davi Viana	</td><td>	UFMA	</td></tr>
            <tr><td>	David Fernandes	</td><td>	UFAM	</td></tr>
            <tr><td>	Débora Abdalla	</td><td>	UFBA	</td></tr>
            <tr><td>	Deller Ferreira	</td><td>	UFG	</td></tr>
            <tr><td>	Diana Adamatti	</td><td>	FURG	</td></tr>
            <tr><td>	Diego Marczal	</td><td>	UTFPR	</td></tr>
            <tr><td>	Ecivaldo Matos	</td><td>	UFBA	</td></tr>
            <tr><td>	Edson Pimentel	</td><td>	UFABC	</td></tr>
            <tr><td>	Eduardo Aranha	</td><td>	UFRN	</td></tr>
            <tr><td>	Eduardo Barrére	</td><td>	UFJF	</td></tr>
            <tr><td>	Eduardo Figueiredo	</td><td>	UFMG	</td></tr>
            <tr><td>	Elaine Oliveira	</td><td>	UFAM	</td></tr>
            <tr><td>	Eleandro Maschio	</td><td>	UTFPR	</td></tr>
            <tr><td>	Elena Maria Mallmann	</td><td>	UFSM	</td></tr>
            <tr><td>	Eliane Araújo	</td><td>	UFCG	</td></tr>
            <tr><td>	Eliane Pozzebon	</td><td>	UFSC	</td></tr>
            <tr><td>	Ellen Francine	</td><td>	ICMC/USP	</td></tr>
            <tr><td>	Emanuel Coutinho	</td><td>	UFC	</td></tr>
            <tr><td>	Fabiane Benitti	</td><td>	UFSC	</td></tr>
            <tr><td>	Fábio Ferrentini Sampaio	</td><td>	ULISBOA	</td></tr>
            <tr><td>	Fabio Rocha	</td><td>	UNIT	</td></tr>
            <tr><td>	Fabiola Araújo	</td><td>	UFPA	</td></tr>
            <tr><td>	Fernanda Lima	</td><td>	UnB	</td></tr>
            <tr><td>	Fernando Figueira Filho	</td><td>	UFRN	</td></tr>
            <tr><td>	Fernando Osorio	</td><td>	ICMC-USP	</td></tr>
            <tr><td>	Francisco Medeiros	</td><td>	IFPB	</td></tr>
            <tr><td>	Gabriel P. Silva	</td><td>	UFRJ	</td></tr>
            <tr><td>	Giani Petri	</td><td>	UFSM	</td></tr>
            <tr><td>	Gilvan Durães	</td><td>	IFBaiano	</td></tr>
            <tr><td>	Gilvan Vilarim	</td><td>	IFRJ	</td></tr>
            <tr><td>	Givanaldo Souza	</td><td>	IFRN	</td></tr>
            <tr><td>	Gleison Santos	</td><td>	UNIRIO	</td></tr>
            <tr><td>	Guilherme Álvaro Esmeraldo	</td><td>	IFCE	</td></tr>
            <tr><td>	Heitor Costa	</td><td>	UFL	</td></tr>
            <tr><td>	Henrique Cota Freitas	</td><td>	PUCMG	</td></tr>
            <tr><td>	Hiran Ferreira	</td><td>	IFSuldeMinas	</td></tr>
            <tr><td>	Isabela Gasparini	</td><td>	UDESC	</td></tr>
            <tr><td>	Ismayle Sousa Santos	</td><td>	UFC	</td></tr>
            <tr><td>	Jacques Duílio Brancher	</td><td>	UEL	</td></tr>
            <tr><td>	Jair Leite	</td><td>	UFRN	</td></tr>
            <tr><td>	Jean Hauck	</td><td>	UFSC	</td></tr>
            <tr><td>	Jean Rosa	</td><td>	UFBA	</td></tr>
            <tr><td>	João Henrique Berssanette	</td><td>	IFPR	</td></tr>
            <tr><td>	João Pimentel	</td><td>	UFRPE	</td></tr>
            <tr><td>	Jussara Matos	</td><td>	IFSP	</td></tr>
            <tr><td>	Kalinka Castelo Branco	</td><td>	ICMC-USP	</td></tr>
            <tr><td>	Kiev Gama	</td><td>	UFPE	</td></tr>
            <tr><td>	Leandro Silva Galvão de Carvalho	</td><td>	UFAM	</td></tr>
            <tr><td>	Lígia Maria Soares Passos	</td><td>	UFRRJ	</td></tr>
            <tr><td>	Lucia Giraffa	</td><td>	PUCRS	</td></tr>
            <tr><td>	Luciana Martimiano	</td><td>	UEM	</td></tr>
            <tr><td>	Luciano Pansanato	</td><td>	UTFPR	</td></tr>
            <tr><td>	Luiz Begosso	</td><td>	FEMA	</td></tr>
            <tr><td>	Luiz Ricardo Begosso	</td><td>	FEMA	</td></tr>
            <tr><td>	Maici Leite	</td><td>	UTFPR	</td></tr>
            <tr><td>	Marcelo Schots	</td><td>	UERJ	</td></tr>
            <tr><td>	Marcelo Yamaguti	</td><td>	PUCRS	</td></tr>
            <tr><td>	Márcia Oliveira	</td><td>	IFES	</td></tr>
            <tr><td>	Marco Aurélio Graciotto Silva	</td><td>	UTFPR	</td></tr>
            <tr><td>	Marcos Borges	</td><td>	UNICAMP	</td></tr>
            <tr><td>	Marcos Seruffo	</td><td>	UFPA	</td></tr>
            <tr><td>	Mariléia Gollo de Moares	</td><td>	IFFarroupilha	</td></tr>
            <tr><td>	Maristela Holanda	</td><td>	UnB	</td></tr>
            <tr><td>	Matheus Gaudencio	</td><td>	UFCG	</td></tr>
            <tr><td>	Milene Silveira	</td><td>	PUCRS	</td></tr>
            <tr><td>	Mirella Moro	</td><td>	UFMG	</td></tr>
            <tr><td>	Mônica Massa	</td><td>	UNEB	</td></tr>
            <tr><td>	Newton Will	</td><td>	UTFPR	</td></tr>
            <tr><td>	Pablo Schoeffel	</td><td>	UDESC	</td></tr>
            <tr><td>	Pasqueline Dantas </td><td> UFPB </td></tr>
            <tr><td>	Patricia Pitthan Barcelos	</td><td>	UFSM	</td></tr>
            <tr><td>	Patrícia Tedesco	</td><td>	UFPE	</td></tr>
            <tr><td>	Patricia Wazlawick </td><td> FAM	</td></tr>
            <tr><td>	Paulyne Jucá </td><td> UFC </td></tr>
            <tr><td>	Paulo Caetano da Silva	</td><td>	UNIFACS	</td></tr>
            <tr><td>	Paulo Lopes de Souza	</td><td>	ICMC-USP	</td></tr>
            <tr><td>	Pedro Henrique Dias Valle	</td><td>	UFJF	</td></tr>
            <tr><td>	Rafael Prikladnicki	</td><td>	PUCRS	</td></tr>
            <tr><td>	Rafaela Rocha	</td><td>	UFABC	</td></tr>
            <tr><td>	Raul Wazlawick	</td><td>	UFSC	</td></tr>
            <tr><td>	Renata Teles Moreira	</td><td>	UFLA	</td></tr>
            <tr><td>	Ricardo Caceffo	</td><td>	UNICAMP	</td></tr>
            <tr><td>	Ricardo Ferreira	</td><td>	UFV	</td></tr>
            <tr><td>	Roberto Bittencourt	</td><td>	UEFS	</td></tr>
            <tr><td>	Roberto Franciscatto	</td><td>	UFSM	</td></tr>
            <tr><td>	Roberto Pereira	</td><td>	UFPR	</td></tr>
            <tr><td>	Rodrigo Duran	</td><td>	IFMS	</td></tr>
            <tr><td>	Rodrigo Santos	</td><td>	UNIRIO	</td></tr>
            <tr><td>	Rommel Lima	</td><td>	UERN	</td></tr>
            <tr><td>	Ronaldo Correia	</td><td>	UNESP	</td></tr>
            <tr><td>	Ronney Moreira de Castro	</td><td>	UNIRIO	</td></tr>
            <tr><td>	Rozelma França	</td><td>	UFRPE	</td></tr>
            <tr><td>	Sandro Ronaldo Bezerra Oliveira	</td><td>	UFPA	</td></tr>
            <tr><td>	Sarita Bruschi	</td><td>	ICMC-USP	</td></tr>
            <tr><td>	Saul Delabrida	</td><td>	UFOP	</td></tr>
            <tr><td>	Sheila Reinehr	</td><td>	PUCPR	</td></tr>
            <tr><td>	Sidnei Renato Silveira	</td><td>	UFSM	</td></tr>
            <tr><td>	Silvia Amelia Bim	</td><td>	UTFPR	</td></tr>
            <tr><td>	Silvia Bertagnolli	</td><td>	IFRS	</td></tr>
            <tr><td>	Simone Santos	</td><td>	UFPE	</td></tr>
            <tr><td>	Sofia Paiva	</td><td>	UFSJ	</td></tr>
            <tr><td>	Taciana Pontual	</td><td>	UFRPE	</td></tr>
            <tr><td>	Tayana Conte	</td><td>	UFAM	</td></tr>
            <tr><td>	Thiago Coleti	</td><td>	UENP	</td></tr>
            <tr><td>	Tiago Oliveira	</td><td>	UNIFESP	</td></tr>
            <tr><td>	Valdemar Vicente Graciano Neto	</td><td>	UFG	</td></tr>
            <tr><td>	Vandor Rissoli	</td><td>	UnB	</td></tr>
            <tr><td>	Veronica Quandt	</td><td>	Happy Code Curitiba	</td></tr>
            <tr><td>	Vinicius Ramos	</td><td>	UFSC	</td></tr>
            <tr><td>	Wilkerson Andrade	</td><td>	UFCG	</td></tr>
            <tr><td>	Williamson Silva	</td><td>	UNIPAMPA	</td></tr>
            <tr><td>	Windson Carvalho	</td><td>	UFC	</td></tr>
            <tr><td>	Yorah Bosse	</td><td>	UFMS	</td></tr>
          </table>

          <br>
          <h3>Revisores Convidados</h3>
          <br>

          <hr>

            <table class="table table-striped">

              <tr><td>	Adelmo Antonio da Silva Eloy	</td><td>	USP	</td></tr>
              <tr><td>	Alan Henrique Pardo de Carvalho	</td><td>	FATEC	</td></tr>
              <tr><td>	Andressa Ferreira	</td><td>	IFCE	</td></tr>
              <tr><td>	Bianca Santana	</td><td>	UFBA	</td></tr>
              <tr><td>	Dyego Morais	</td><td>	UFPE	</td></tr>
              <tr><td>	Esdras Bispo Jr.	</td><td>	UFJ	</td></tr>
              <tr><td>	Filipe Garrido	</td><td>	UFBA	</td></tr>
              <tr><td>	Haroldo Amaral	</td><td>	UPE	</td></tr>
              <tr><td>	Isaac Elgrably	</td><td>	UFPA	</td></tr>
              <tr><td>	Isabelle Maria Lima de Souza </td><td> UFCG </td></tr>
              <tr><td>	Jucelio Santos	</td><td>	UFCG	</td></tr>
              <tr><td>	Luis Gustavo Araújo	</td><td>	UFBA	</td></tr>
              <tr><td>	Marcela Pessoa	</td><td>	UEA	</td></tr>
              <tr><td>	Maria Lydia Fioravanti	</td><td>	USP	</td></tr>
              <tr><td>	Nathalia da Cruz Alves	</td><td>	UFSC	</td></tr>
              <tr><td>	Paola Ponciano	</td><td>	UTFPR	</td></tr>
              <tr><td>	Priscila Lima	</td><td>	UFG	</td></tr>
              <tr><td>	Rafael Parizi	</td><td>	IFFarroupilha	</td></tr>
              <tr><td>	Raul Andrade </td><td> UFPB </td></tr>
              <tr><td>	Renira Soares	</td><td>	IFFarroupilha	</td></tr>
              <tr><td>	Tânia Pinheiro </td><td> UFCG </td></tr>
              <tr><td>	Thaísa Lacerda	</td><td>	UFSC	</td></tr>
              <tr><td>	Wendell Bento Geraldes	</td><td>	IFG	</td></tr>
              <tr><td>	William Simão de Deus	</td><td>	USP	</td></tr>

            </table>

        </div>
    </div>
    </div>
  </section>
