
  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> simposio/2022/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Comitê de Programa</h2>
          
          <br>
          <h3>Coordenadores do Comitê</h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>Coordenação Geral do <br>Comitê de Programa</h4>
              </td> 
              <td>
                <ul>
                    <li>Rodrigo Duran (IFMS)</li>
                  </ul>
              </td>
              <td>
                rodrigo.duran@ifms.edu.br                
              </td>
            </tr>

            <tr>
              <td>                
                <h4>Trilha 1 – Artigos de Pesquisa</h4>                
              </td>
              <td>
                  <ul>
                    <li>Rodrigo Duran (IFMS)</li> 
                    <li>Elaine Oliveira (UFAM)</li>
                    <li>Wilkerson Andrade (UFCG)</li>
                  </ul>
              </td>
              <td>
                rodrigo.duran@ifms.edu.br<br> 
                elaine@icomp.ufam.edu.br<br>
                wilkerson@computacao.ufcg.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 2 – Relatos de Experiência</h4>
              </td>
              <td>
                <ul>
                  <li>Windson Carvalho (UFC)</li>
                  <li>Fabiane Benitti (UFSC)</li>
                </ul>
              </td>
              <td>
                windson@virtual.ufc.br <br>
                fabiane.benitti@ufsc.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 3 – Currículos</h4>
              </td>
              <td>
                <ul>
                  <li>Adão Cambraia (IFFAR)</li>
                  <li>Mônica Massa (UNEB)</li>
                </ul>
              </td>
              <td>
                adao.cambraia@iffarroupilha.edu.br <br> 
                monicamassa@gmail.com
              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 4 – Recursos e Ambientes Educacionais</h4>
              </td>
              <td>
                <ul>
                  <li>Ellen Francine (USP)</li>
                  <li>Aracele Fassbinder (IFSulDeMinas)</li>
                </ul>
              </td>
              <td>
                francine@icmc.usp.br<br>
                aracele.garcia@muz.ifsuldeminas.edu.br

              </td>
            </tr>

            <tr>
              <td>
                <h4>Trilha 5 – Ensaios</h4>
              </td>
              <td>
                <ul>
                  <li>Taciana Pontual (UFRPE)</li>
                  <li>André Lemos (IFTM)</li>
                </ul>
              </td>
              <td>
                taciana.pontual@ufrpe.br<br>
                andre.lemos@iftm.edu.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>Laboratório de Ideias</h4>
              </td>
              <td>
                <ul>
                  <li>Ana Liz Oliveira (UFPB)</li>
                  <li>Marcia Kniphoff (UNISC)</li>
                </ul>
              </td>
              <td>
                analiz@dcx.ufpb.br<br>
                mcruz@unisc.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>WTD-EduComp - Workshop de Teses e Dissertações em Educação em Computação</h4>
              </td>
              <td>
                <ul>
                  <li>Heitor Costa (UFLA)</li>
                </ul>
              </td>
              <td>
                heitor@ufla.br
              </td>
            </tr>

            <tr>
              <td>
                <h4>WLic - Workshop da Licenciatura em Computação</h4>
              </td>
              <td>
                <ul>
                  <li>Luis Gustavo Araujo (UFBA / UNIFACS)</li>
                  <li>Maici Leite (UTFPR)</li>
                </ul>
              </td>
              <td>
                luisaraujo.ifba@gmail.com <br>
                maicileite@utfpr.edu.br 
              </td>
            </tr>
          </table>
          
          <br>
          <h3>Membros do Comitê</h3>
          <br>

          <hr>

          <p class="lead" style="text-align: justify; font-size: 14pt">
              Em breve!
          </p>
        
        <!--
        <table class="table table-striped">
            <tr>
                <td>Adão Cambraia</td>	<td>	IFFAR</td></tr>
<tr>
                <td>Adilson Vahldick</td>	<td>	UDESC</td></tr>
<tr>
                <td>Adolfo Neto</td>	<td>	UTFPR</td></tr>
<tr>
                <td>Adriana Damasceno</td>	<td>	UFCG</td></tr>
<tr>
                <td>Adriana Soares Pereira</td>	<td>	UFSM</td></tr>
<tr>
                <td>Afonso Sales</td>	<td>	PUCRS</td></tr>
<tr>
                <td>Alcides Calsavara</td>	<td>	PUCPR</td></tr>
<tr>
                <td>Alessandra Smolenaars Dutra</td>	<td>	PUCRS</td></tr>
<tr>
                <td>Alex Sandro Gomes</td>	<td>	UFPE</td></tr>
<tr>
                <td>Alexandra Souza</td>	<td>	IFSP</td></tr>
<tr>
                <td>Alexandre L'Erario</td>	<td>	UTFPR</td></tr>
<tr>
                <td>Aline Vasconcelos</td>	<td>	IFFluminense</td></tr>
<tr>
                <td>Aline Vieira de Mello</td>	<td>	UNIPAMPA</td></tr>
<tr>
                <td>Ana Liz Souto Araujo</td>	<td>	UFPB</td></tr>
<tr>
                <td>Ana Paula Lüdtke Ferreira</td>	<td>	UNIPAMPA</td></tr>
<tr>
                <td>André Raabe</td>	<td>	Univali</td></tr>
<tr>
                <td>Andréa Mendonça</td>	<td>	IFAM</td></tr>
<tr>
                <td>Andréa Sabedra Bordin</td>	<td>	UNIPAMPA</td></tr>
<tr>
                <td>Andrea Schwertner Charão</td>	<td>	UFSM</td></tr>
<tr>
                <td>Andreia Malucelli</td>	<td>	PUCPR</td></tr>
<tr>
                <td>Anna Beatriz Marques</td>	<td>	UFC</td></tr>
<tr>
                <td>Aracele Garcia de Oliveira Fassbinder</td>	<td>	IF Sul de Minas</td></tr>
<tr>
                <td>Bruno Gadelha</td>	<td>	UFAM</td></tr>
<tr>
                <td>Calebe Bianchini</td>	<td>	Mackenzie</td></tr>
<tr>
                <td>Carlos Miguel Tobar Toledo</td>	<td>	PUC-Campinas</td></tr>
<tr>
                <td>Carlos Rodrigues</td>	<td>	UEFS</td></tr>
<tr>
                <td>Carlos Portela</td>	<td>	UFPA</td></tr>
<tr>
                <td>Carlos N. Silla Jr.</td>	<td>	PUCPR</td></tr>
<tr>
                <td>César França</td>	<td>	UFRPE</td></tr>
<tr>
                <td>Charles Madeira</td>	<td>	UFRN</td></tr>
<tr>
                <td>Christian Brackmann</td>	<td>	IFFAR</td></tr>
<tr>
                <td>Christiane Gresse von Wangenheim</td>	<td>	UFSC</td></tr>
<tr>
                <td>Christina von Flach</td>	<td>	UFBA</td></tr>
<tr>
                <td>Claudia Bordin Rodrigues da Silva</td>	<td> 	UTFPR</td></tr>
<tr>
                <td>Claudia Werner</td>	<td>	UFRJ</td></tr>
<tr>
                <td>Claudia Susie C. Rodrigues</td>	<td>	UFRJ</td></tr>
<tr>
                <td>Clodis Boscarioli</td>	<td>	Unioeste</td></tr>
<tr>
                <td>Cristiano Maciel</td>	<td>	UFMT</td></tr>
<tr>
                <td>Dalton Serey</td>	<td>	UFCG</td></tr>
<tr>
                <td>Daltro Nunes</td>	<td>	UFRGS</td></tr>
<tr>
                <td>Daniel Scherer</td>	<td>	UEPB</td></tr>
<tr>
                <td>Danielli Araújo Lima </td>	<td>	IFTM</td></tr>
<tr>
                <td>Dárlinton Barbosa Feres Carvalho</td>	<td>	UFSJ</td></tr>
<tr>
                <td>Davi Viana</td>	<td>	UFMA</td></tr>
<tr>
                <td>Débora Abdalla</td>	<td>	UFBA</td></tr>
<tr>
                <td>Debora Maria Coelho Nascimento</td>	<td>	UFS</td></tr>
<tr>
                <td>Deller James Ferreira</td>	<td>	UFG</td></tr>
<tr>
                <td>Diana Francisca Adamatti</td>	<td>	FURG</td></tr>
<tr>
                <td>Ecivaldo Matos</td>	<td>	UFBA</td></tr>
<tr>
                <td>Edson Pimentel</td>	<td>	UFABC</td></tr>
<tr>
                <td>Eduardo Aranha</td>	<td>	UFRN</td></tr>
<tr>
                <td>Eduardo Juliano Alberti</td>	<td>	UP</td></tr>
<tr>
                <td>Eduardo Figueiredo</td>	<td>	UFMG</td></tr>
<tr>
                <td>Elaine Harada Teixeira de Oliveira</td>	<td>	UFAM</td></tr>
<tr>
                <td>Eleandro Maschio</td>	<td>	UTFPR</td></tr>
<tr>
                <td>Eliane Cristina de Araújo</td>	<td>	UFCG</td></tr>
<tr>
                <td>Eliane Pozzebon</td>	<td>	UFSC</td></tr>
<tr>
                <td>Elizabeth S. Furtado</td>	<td>	UNIFOR</td></tr>
<tr>
                <td>Ellen Francine</td>	<td>	ICMC/USP</td></tr>
<tr>
                <td>Emanuel Ferreira Coutinho</td>	<td>	UFC</td></tr>
<tr>
                <td>Fabiane Barreto Vavassori Benitti</td>	<td>	UFSC</td></tr>
<tr>
                <td>Fábio Ferrentini Sampaio</td>	<td>	IE/UL</td></tr>
<tr>
                <td>Fabio Gomes Rocha</td>	<td>	UNIT</td></tr>
<tr>
                <td>Fabio Vinicius Binder</td>	<td>	PUCPR</td></tr>
<tr>
                <td>Fernanda Lima</td>	<td>	UnB</td></tr>
<tr>
                <td>Fernando Figueira Filho</td>	<td>	UFRN</td></tr>
<tr>
                <td>Fernando Osório</td>	<td>	ICMC/USP</td></tr>
            <tr>
                <td>Francisco Petrônio A Medeiros</td>	<td>IFPB</td>
            </tr>
<tr><td>Gabriel P. Silva</td>	<td>UFRJ</td></tr>
<tr>
                <td>Giani Petri</td>	<td>	UFSM</td></tr>
<tr><td>Gleison dos Santos Souza</td>	<td>UNIRIO</td></tr>
<tr>
                <td>Guilherme Esmeraldo</td>	<td>	IFCE</td></tr>
<tr><td>Heitor Costa</td>	<td>UFLA</td></tr>
<tr><td>Henrique Cota de Freitas</td>	<td>PUC-MG</td></tr>
<tr><td>Ingrid Monteiro</td>	<td>UFC</td></tr>
<tr><td>Isabela Gasparini</td>	<td>UDESC</td></tr>
<tr>
<tr><td>Ismayle de Sousa Santos</td>	<td>UFC</td></tr>
            <tr>
                <td>Jacques Brancher</td>	<td>	UEL</td></tr>
            <tr>
                <td>Jair C Leite</td>	<td>	UFRN</td></tr>
            <tr>
                <td>Jean C. R. Hauck</td>	<td>	UFSC</td></tr>
            <tr>
                <td>João Pimentel</td>	<td>	UFRPE</td></tr>
            <tr>
                <td>Jorge César Abrantes de Figueiredo</td>	<td>	UFCG</td></tr>
            <tr>
                <td>Jussara Pimenta</td>	<td>	IFSP</td></tr>
            <tr>
                <td>Kalinka Branco</td>	<td>	ICMC/USP</td></tr>
            <tr>
                <td>Kiev Gama</td>	<td>	UFPE</td></tr>
            <tr>
                <td>Laís Salvador</td>	<td>	UFBA</td></tr>
            <tr>
                <td>Leandro Galvão</td>	<td>	UFAM</td></tr>
            <tr>
                <td>Lesandro Ponciano</td>	<td>	PUC-MG</td></tr>
            <tr>
                <td>Lucia Giraffa</td>	<td>	PUCRS</td></tr>
            <tr>
                <td>Luciana Andréia Fondazzi Martimiano</td>	<td>	UEM</td></tr>
            <tr>
                <td>Luciano Pansanato</td>	<td>	UTFPR</td></tr>
            <tr>
                <td>Luis Rivero</td>	<td>	UFMA</td></tr>
            <tr>
                <td>Luiz Carlos Begosso</td>	<td>	FEMA</td></tr>
            <tr>
                <td>Luiz Ricardo Begosso</td>	<td>	FEMA</td></tr>
            <tr>
                <td>Marcelo H. Yamaguti</td>	<td>	PUCRS</td></tr>
            <tr>
                <td>Marcelo Schots</td>	<td>	UERJ</td></tr>
            <tr>
                <td>Márcia Gonçalves de Oliveira</td>	<td>	IFES</td></tr>
            <tr>
                <td>Marcia Kniphoff</td>	<td>	UNISC</td></tr>
            <tr>
                <td>Marco Aurélio Graciotto Silva</td>	<td>	UTFPR</td></tr>
            <tr>
                <td>Marcos A. F. Borges</td>	<td>	UNICAMP</td></tr>
            <tr>
                <td>Marcos César da Rocha Seruffo</td>	<td>	UFPA</td></tr>
            <tr>
                <td>Maria Augusta Vieira Nelson</td>	<td>	PUC-MG</td></tr>
            <tr>
                <td>Maria Lencastre</td>	<td>	UPE</td></tr>
            <tr>
                <td>Maristela Holanda</td>	<td>	UnB</td></tr>
            <tr>
                <td>Matheus Gaudencio</td>	<td>	UFCG</td></tr>
            <tr>
                <td>Methanias Colaço Júnior</td>	<td>	UFS</td></tr>
            <tr>
                <td>Milene Selbach Silveira</td>	<td>	PUCRS</td></tr>
            <tr>
                <td>Mirella M. Moro</td>	<td>	UFMG</td></tr>
            <tr>
                <td>Monica Massa</td>	<td>	UNEB</td></tr>
            <tr>
                <td>Natasha Valentim</td>	<td>	UFPR</td></tr>
            <tr>
                <td>Pablo Schoeffel</td>	<td>	UDESC</td></tr>
            <tr>
                <td>Patricia Tedesco</td>	<td>	UFPE</td></tr>
            <tr>
                <td>Patrícia Pitthan Barcelos</td>	<td>	UFSM</td></tr>
            <tr>
                <td>Patrick Letouze</td>	<td>	UFT</td></tr>
            <tr>
                <td>Paulo Caetano da Silva</td>	<td>	UNIFACS</td></tr>
            <tr>
                <td>Paulo Sergio Lopes de Souza</td>	<td>	ICMC/USP</td></tr>
            <tr>
                <td>Rafael Prikladnicki</td>	<td>	PUCRS</td></tr>
            <tr>
                <td>Rafael Aroca</td>	<td>	UFSCar</td></tr>
            <tr>
                <td>Rafaela Vilela da Rocha</td>	<td>	UFABC</td></tr>
            <tr>
                <td>Raquel O. Prates</td>	<td>	UFMG</td></tr>
            <tr>
                <td>Raul Sidnei Wazlawick</td>	<td>	UFSC</td></tr>
            <tr>
                <td>Renata Hax Sander Reiser</td>	<td>	UFPEL</td></tr>
            <tr>
                <td>Renata Teles Moreira</td>	<td>	UFLA</td></tr>
            <tr>
                <td>Ricardo Ferreira</td>	<td>	UFV</td></tr>
            <tr>
                <td>Ricardo Caceffo</td>	<td>	UNICAMP</td></tr>
            <tr>
                <td>Roberto A. Bittencourt</td>	<td>	UEFS</td></tr>
            <tr>
                <td>Roberto Pereira</td>	<td>	UFPR</td></tr>
            <tr>
                <td>Rodrigo Santos</td>	<td>	UNIRIO</td></tr>
            <tr>
                <td>Rodrigo Medeiros</td>	<td>	IFPB</td></tr>
            <tr>
                <td>Rodrigo Duran</td>	<td>	IFMS</td></tr>
            <tr>
                <td>Rommel Lima</td>	<td>	UERN</td></tr>
            <tr>
                <td>Ronaldo Celso Messias Correia</td>	<td>	UNESP</td></tr>
            <tr>
                <td>Ronney Moreira de Castro</td>	<td>	Estácio/td></tr>
            <tr>
                <td>Rosiane de Freitas</td>	<td>	UFAM</td></tr>
            <tr>
                <td>Rozelma França</td>	<td>	UFRPE</td></tr>
            <tr>
                <td>Sandro Neves Soares</td>	<td>	IFRS</td></tr>
            <tr>
                <td>Sandro Ronaldo Bezerra Oliveira</td>	<td>	UFPA</td></tr>
            <tr>
                <td>Sarita Mazzini Bruschi</td>	<td>	ICMC/USP</td></tr>
            <tr>
                <td>Saul Delabrida</td>	<td>	UFOP</td></tr>
            <tr>
                <td>Sheila Reinehr</td>	<td>	PUCPR</td></tr>
            <tr>
                <td>Simone Santos</td>	<td>	UFPE</td></tr>
            <tr>
                <td>Simone Senger Souza</td>	<td>	ICMC/USP</td></tr>
            <tr>
                <td>Simone Vasconcelos Silva</td>	<td>	IFFluminense</td></tr>
            <tr>
                <td>Sofia Costa Paiva</td>	<td>	UFSJ</td></tr>
            <tr>
                <td>Taciana Pontual Falcão</td>	<td>	UFRPE</td></tr>
            <tr>
                <td>Tânia S. M. Pinheiro</td>	<td>	UFC</td></tr>
            <tr>
                <td>Thiago Adriano Coleti</td>	<td>	UENP</td></tr>
            <tr>
                <td>Thiago Schumacher Barcelos</td>	<td>	IFSP</td></tr>
            <tr>
                <td>Tiago de Oliveira</td>	<td>	Unifesp</td></tr>
            <tr>
                <td>Ticianne Darin</td>	<td>	UFC</td></tr>
            <tr>
                <td>Valdemar V. Graciano Neto</td>	<td>	UFG</td></tr>
            <tr>
                <td>Vanessa Borges</td>	<td>	UFMS</td></tr>
            <tr>
                <td>Vânia Neris</td>	<td>	UFSCar</td></tr>
            <tr>
                <td>Verônica Isabela Quandt</td>	<td>	UP</td></tr>
            <tr>
                <td>Vinicius Ramos</td>	<td>	UFSC</td></tr>
            <tr>
                <td>Vitor Bremgartner</td>	<td>	IFAM</td></tr>
            <tr>
                <td>Wilkerson Andrade</td>	<td>	UFCG</td></tr>
            <tr>
                <td>Williamson Silva</td>	<td>	UNESPAR</td></tr>
            <tr>
                <td>Windson Viana de Carvalho</td>	<td>	UFC</td></tr>
            <tr>
                <td>Yorah Bosse</td>	<td>	UFMS</td></tr>
            <tr>
                <td>Yuska Paola Costa Aguiar</td>	<td>	UFPB</td></tr>
          </table>

          <br>
          <h3>Revisores Convidados</h3>
          <br>

          <hr>

            <table class="table table-striped">

            <tr>
                <td>Adalberto Bosco Castro Pereira</td>	<td>SENAC</td></tr>
                <td>Alan Henrique Pardo de Carvalho</td>	<td>FATEC-SCS</td></tr>
                <td>Aléssio Miranda Júnior</td>	<td>	CEFET-MG</td></tr>
                <td>Andressa Bezerra</td>	<td>IFCE</td></tr>
                <td>Bianca Leite Santana</td>	<td>UFBA</td></tr>
                <td>Filipe A. Garrido</td>	<td>UFBA</td></tr>
                <td>Jean Rosa</td>	<td>UFBA</td></tr>
                <td>José Raul Andrade</td>	<td>UFPB</td></tr>
                <td>Leo Natan Paschoal</td>	<td>USP</td></tr>
                <td>Luis Gustavo Araujo</td>	<td>UFBA</td></tr>
                <td>Marcela Pessoa</td>	<td>UEA</td></tr>
                <td>Marcus Vinicius R. de Carvalho</td>	<td>UESPI</td></tr>
                <td>Maria Lydia Fioravanti</td>	<td>ICMC-USP</td></tr>
                <td>Newton Carlos Will</td>	<td>UTFPR</td></tr>
                <td>Priscila da Silva Neves Lima</td>	<td>USP</td></tr>
                <td>Rafael Parizi</td>	<td>IFFAR</td></tr>
                <td>Wendell Bento Geraldes</td>	<td>IFG</td></tr>
                <td>William Simão de Deus</td>	<td>ICMC-USP</td></tr>
            </table>
            -->
        </div>
    </div>
    </div>
  </section>