<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/css/prog_educomp/style.css">
  <title>Schedule Template | CodyHouse</title>
</head>
<body>
  <header class="cd-main-header text-center flex flex-column flex-center">
    <br>
    <h1 class="text-xl">Programação EduComp 2021</h1>
  </header>

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>13:00</span></li>
        <li><span>13:10</span></li>
        <li><span>13:20</span></li>
        <li><span>13:30</span></li>
        <li><span>13:40</span></li>
        <li><span>13:50</span></li>
        <li><span>14:00</span></li>
        <li><span>14:10</span></li>
        <li><span>14:20</span></li>
        <li><span>14:30</span></li>
        <li><span>14:40</span></li>
        <li><span>14:50</span></li>
        <li><span>15:00</span></li>
        <li><span>15:10</span></li>
        <li><span>15:20</span></li>
        <li><span>15:30</span></li>
        <li><span>15:40</span></li>
        <li><span>15:50</span></li>
        <li><span>16:00</span></li>
        <li><span>16:10</span></li>
        <li><span>16:20</span></li>
        <li><span>16:30</span></li>
        <li><span>16:40</span></li>
        <li><span>16:50</span></li>
        <li><span>17:00</span></li>
        <li><span>17:10</span></li>
        <li><span>17:20</span></li>
        <li><span>17:30</span></li>
        <li><span>17:40</span></li>
        <li><span>17:50</span></li>
        <li><span>18:00</span></li>
        <li><span>18:10</span></li>
        <li><span>18:20</span></li>
        <li><span>18:30</span></li>
        <li><span>18:40</span></li>
        <li><span>18:50</span></li>
        <li><span>19:00</span></li>
        <li><span>19:10</span></li>
        <li><span>19:20</span></li>
        <li><span>19:30</span></li>
        <li><span>19:40</span></li>
        <li><span>19:50</span></li>
        <li><span>20:00</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->
  
    <div class="cd-schedule__events">
      <ul>
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Segunda (26)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="13:40"  data-content="26-abertura" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Abertura</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  EduComp/ForLic
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="13:40" data-end="15:20" data-content="26-painel-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">
                  Painel I (ForLic)
                </em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Perspectivas e Desafios da Formação de Professores em Computação
                </em>
                
                
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="15:20" data-end="16:40" data-content="26-painel-ii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Painel II (ForLic)</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Concepções para o Ensino de Computação na Escola
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:40" data-end="17:00"  data-content="26-intervalo" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:00" data-end="18:00" data-content="26-rede" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Lançamento (ForLic)</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Rede da Licenciatura em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:00" data-end="19:40" data-content="26-painel-iii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Painel III (ForLic)</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Políticas para Ensino de Computação na Educação Básica
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="19:40" data-end="20:00"  data-content="26-encerramento" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Encerramento</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  ForLic
                </em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Terça (27)</span></div>
  
          <ul>

            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40" data-content="27-palestra-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Palestra I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  <i>The Prevalence and Relevance of Computer Science Education Research</i>
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="27-intervalo-i" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo I</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="27-sessao-tecnica-i" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica I</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="27-intervalo-ii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo II</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:20"  data-content="27-sessao-tecnica-ii" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica II</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="17:40"  data-content="27-intervalo-iii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo III</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="18:40"  data-content="27-lab-ideias-i" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias I</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:00"  data-content="27-socializacao-i" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização I</em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quarta (28)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40" data-content="28-palestra-ii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Palestra II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Como avaliar a aprendizagem no ensino de computação na Educação Básica?
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="28-intervalo-iv" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo IV</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="28-sessao-tecnica-iii" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica III</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="28-intervalo-v" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo V</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:20"  data-content="28-sessao-tecnica-iv" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica IV</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="17:40"  data-content="28-intervalo-vi" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo VI</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="18:40"  data-content="28-lab-ideias-ii" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias II</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:00"  data-content="28-socializacao-ii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização II</em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quinta (29)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40" data-content="event-abs-circuit" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Painel</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:20"  data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="17:40"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="18:40"  data-content="event-yoga-1" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:00"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização</em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sexta (30)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Assembleia GIEC</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:00"  data-content="event-yoga-1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão Técnica</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:00" data-end="17:20"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="18:20"  data-content="event-yoga-1" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:20" data-end="18:40"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:20"  data-content="event-rowing-workout" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Encerramento</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="19:20" data-end="19:40"  data-content="event-restorative-yoga" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização</em>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>
  
        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

  {{> simposio/2021/pt-BR/programacao/26/abertura}}
  {{> simposio/2021/pt-BR/programacao/26/painel-i}}
  {{> simposio/2021/pt-BR/programacao/26/painel-ii}}
  {{> simposio/2021/pt-BR/programacao/26/intervalo}}
  {{> simposio/2021/pt-BR/programacao/26/rede}}
  {{> simposio/2021/pt-BR/programacao/26/painel-iii}}
  {{> simposio/2021/pt-BR/programacao/26/encerramento}}

  {{> simposio/2021/pt-BR/programacao/27/palestra-i}}
  {{> simposio/2021/pt-BR/programacao/27/intervalo-i}}
  {{> simposio/2021/pt-BR/programacao/27/sessao-tecnica-i}}
  {{> simposio/2021/pt-BR/programacao/27/intervalo-ii}}
  {{> simposio/2021/pt-BR/programacao/27/sessao-tecnica-ii}}
  {{> simposio/2021/pt-BR/programacao/27/intervalo-iii}}
  {{> simposio/2021/pt-BR/programacao/27/lab-ideias-i}}
  {{> simposio/2021/pt-BR/programacao/27/socializacao-i}}

  {{> simposio/2021/pt-BR/programacao/28/palestra-ii}}
  {{> simposio/2021/pt-BR/programacao/28/intervalo-iv}}
  {{> simposio/2021/pt-BR/programacao/28/sessao-tecnica-iii}}
  {{> simposio/2021/pt-BR/programacao/28/intervalo-v}}
  {{> simposio/2021/pt-BR/programacao/28/sessao-tecnica-iv}}
  {{> simposio/2021/pt-BR/programacao/28/intervalo-vi}}
  {{> simposio/2021/pt-BR/programacao/28/lab-ideias-ii}}
  {{> simposio/2021/pt-BR/programacao/28/socializacao-ii}}

  <script src="/js/prog_educomp/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="/js/prog_educomp/main.js"></script>
</body>
</html>