<div id="laboratorio" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Laboratório de ideias</h1>
  </div>

  <section id="convite">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="trilha-coord">
            <strong>Coordenação:</strong> Esdras L. Bispo Jr. (UFJ)<br>
            <strong>Contato:</strong> bispojr@ufj.edu.br
          </div>
          <br/>
          <p>
            O Laboratório de Ideias é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas e/ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores e/ou receber feedback qualificado para aquela ideia.
          </p>
          <p>
            As propostas para o Laboratório de Ideias devem ser limitadas a um resumo simples de duas páginas, com a possibilidade de uma página adicional apenas de referências e/ou agradecimentos. O resumo deve seguir o <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/modelosparapublicaodeartigos.zip" target="_blank">modelo para publicação de artigos da SBC</a>, e submetido em formato PDF. Tanto o resumo quanto o vídeo de apresentação não necessitam ser anonimizados, pois apenas as avaliações serão anônimas. No resumo simples, deve ser inserido adicionalmente o link do vídeo de apresentação da proposta de até cinco minutos de duração. É de responsabilidade dos autores que o vídeo esteja disponível em alguma plataforma na internet (e.g., YouTube) e que o link esteja liberado para acesso. As propostas devem ser submetidas eletronicamente, em formato PDF, por meio do sistema <a href="https://jems3.sbc.org.br/events/201" target="_blank">JEMS3</a> da SBC.
          </p>
          <p>
            Para o resumo simples, os autores devem submeter o arquivo em formato PDF. Os resumos podem ser escritos tanto em português quanto em inglês. Os resumos devem ser submetidos na plataforma JEMS da SBC. Tanto o resumo quanto o vídeo serão avaliados por pelo menos dois revisores.
          </p>
          <p>
            Se a proposta for aceita, será possível que a sua participação seja feita em uma das duas modalidades: presencial (em Juiz de Fora -- MG), ou remota. Em ambos os casos, as atividades do Laboratório de Ideias seguem o seguinte fluxo: 
            <ol>
              <li>o vídeo será apresentado, em paralelo ao evento, nas redes sociais da CEduComp (Facebook, YouTube, e Instagram);</li>
              <li>ao menos um dos autores da proposta aprovada deverá participar em uma das conferências abertas realizadas durante o evento com o propósito de debater as propostas do Laboratório de Ideias;</li>
              <li>o resumo da proposta aprovada será publicado nos anais estendidos do evento no Portal de Publicações e Conteúdos Digitais da SBC – <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a></li>
            </ol>
          </p>
          <p>
            Havendo alguma questão ou dúvida, favor entrar em contato com a coordenação do Laboratório de Ideias (Esdras L. Bispo Jr.) pelo e-mail: bispojr@ufj.edu.br.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="datas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2 class="mb-10 d-block">Datas importantes</h2>
          <div class="row justify-content-center">
              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                  <div class="card w-100">
                      <div class="card-body">
                          <h5 class="card-title text-center">31/01/25</h5>
                          <p class="card-text text-center">Envio dos trabalhos</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                  <div class="card w-100">
                      <div class="card-body">
                          <h5 class="card-title text-center">21/02/25</h5>
                          <p class="card-text text-center">Resultado</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                  <div class="card w-100">
                      <div class="card-body">
                          <h5 class="card-title text-center">27/02/25</h5>
                          <p class="card-text text-center">Envio da versão final</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>


</div>