<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorem dolor voluptatum. Deserunt ducimus eius sapiente distinctio est adipisci accusamus earum, et beatae voluptatum illum atque. Labore odio reprehenderit accusantium!
          </p>
        </div>
      </div>
    </div>
  </section>
</div>

<div id="programacao">
  <section id="jantar">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10">
          <h2>Jantar EduComp e SBC-EB - 09 de abril - 20h</h2>
          <p>
            Os convites para o jantar estão disponíveis no ECOS ou através deste <a href="https://forms.gle/vhLFeFZ1c7GqqAzj6">formulário</a>.
            Além dos itens do cardápio, estão incluídos no valor do convite dois estilos de chopp artesanal, produzidos localmente, bem como música ao vivo.</p>
          </p>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-8">
          <h3>Cardápio</h3>
          <h4>Frios</h4>
          <ul>
            <li>Ouriço de gorgonzola com geleia especial</li>
            <li>Flor de parma com cream cheese</li>
            <li>Tulipa de damasco com crosta de pistache</li>
            <li>Duquesa de mignon</li>
            <li>Quiche de queijo</li>
            <li>Tortilha de brie e camembert com geleia</li>
            <li>Batata recheada</li>
          </ul>
          
          <h4>Quentes</h4>
          <ul>
            <li>Croquete de salmão com molho teriyaki</li>
            <li>Coxinha de tapioca com camarão</li>
            <li>Risoles de camarão</li>
            <li>Mini kafta</li>
            <li>Filé mignon crocante com molho de mel e mostarda</li>
            <li>Tulipa de castanha de caju</li>
            <li>Stick de queijo canastra</li>
          </ul>
          
          <h4>Volantes</h4>
          <ul>
            <li>Camarão empanado</li>
            <li>Ceviche de peixe branco</li>
            <li>Escondidinho de bacalhau</li>
            <li>Aligot com isca de filé e azeite trufado</li>
            <li>Comida japonesa na colher</li>
            <li>Brusquetas variadas</li>
            <li>Barrinha de coalho com mel trufado</li>
          </ul>
          
          <h4>Massas e Risotos</h4>
          <ul>
            <li>Orecchiette ao molho de alho-poró e queijos nobres</li>
            <li>Mini penne ao sugo com lascas de tomate seco, muçarela de búfala e perfume de manjericão</li>
            <li>Risoto siciliano de camarão</li>
            <li>Risoto de funghi com tirinhas de Filé Mignon (opcional azeite trufado)</li>
          </ul>
          
          <h4>Sobremesas</h4>
          <ul>
            <li>Pudim de leite condensado</li>
            <li>Creme de papaia com cassis</li>
          </ul>
          
          <h4>Bebidas</h4>
          <ul>
            <li>Suco de frutas vermelhas</li>
            <li>Suco de abacaxi com hortelã</li>
            <li>Refrigerantes comum e zero</li>
            <li>Água com e sem gás</li>
          </ul>
          
          <p><strong>Café com petit four</strong></p>
        </div>
      </div>
    </div>
  </section>
</div>
