<div id="programacao">
  
  <section id="informacao-jantar">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            O jantar oficial dos eventos EduComp e SBC-EB acontecerá na <strong>quarta-feira, 9 de abril, às 20h</strong>, em um espaço aconchegante e privativo.
            A <strong>participação é por adesão</strong>, e os convites podem ser adquiridos no <a href="https://centraldesistemas.sbc.org.br/ecos/EduComp_SBC-EB%202025" target="_blank">sistema ECOS</a> ou através <a href="https://forms.gle/vhLFeFZ1c7GqqAzj6" target="_blank">deste formulário</a>. 
          </p>
          <p>
            O jantar foi pensado em um formato descontraído para estimular a interação entre os participantes.
            Haverá com uma estação italiana onde serão servidos massas e risotos, além de diversos aperitivos volantes.
            Todas essas delícias serão preparadas pelo renomado <a href="https://www.instagram.com/la_fiesta_buffet/" target="_blank">Buffet La Fiesta</a>, e a noite contará ainda com música ao vivo do cantor <a href="https://www.instagram.com/thiagomirandamusica/" target="_blank">Thiago Miranda</a>.
            Para acompanhar, serão servidos dois estilos de chopp artesanal, produzidos localmente.
            Apreciadores de vinho poderão adquirir, no primeiro dia do evento, rótulos selecionados por um sommelier para harmonizar com o cardápio do jantar (consulte a equipe de apoio para mais informações).
          </p>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jantar/massa.png" alt="Prato com massa">
          <figcaption class="figure-caption text-center">
            Massa na estação italiana (<a href="https://www.instagram.com/p/CwgGIAIq0l5/" target="_blank">Imagem: Buffet La Fiesta</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jantar/risoto.png" alt="Risoto em preparação">
          <figcaption class="figure-caption text-center">
            Preparação de risoto (<a href="https://www.instagram.com/p/CxoPdrBPqGI/" target="_blank">Imagem: Buffet La Fiesta</a>)
          </figcaption>
        </figure>

        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jantar/aperitivo.png" alt="Aperitivos voltantes">
          <figcaption class="figure-caption text-center">
            Aperitivos volantes (<a href="https://www.instagram.com/p/B91x4jShgAH/" target="_blank">Imagem: Buffet La Fiesta</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jantar/local.png" alt="Local do evento">
          <figcaption class="figure-caption text-center">
            Local do evento
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section class="cardapio">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Cardápio</h2>

          <h3>Estação italiana</h3>
          <ul>
            <li>Orecchiette ao molho de alho-poró e queijos nobres</li>
            <li>Mini penne ao sugo com lascas de tomate seco, muçarela de búfala e perfume de manjericão</li>
            <li>Risoto siciliano de camarão</li>
            <li>Risoto de funghi com tirinhas de filé mignon</li>
          </ul>
          
          <h3>Aperitivos volantes</h3>
          <ul>
            <li>Ouriço de gorgonzola com geleia especial</li>
            <li>Flor de parma com cream cheese</li>
            <li>Tulipa de damasco com crosta de pistache</li>
            <li>Duquesa de mignon</li>
            <li>Quiche de queijo</li>
            <li>Tortilha de brie e camembert com geleia</li>
            <li>Batata recheada</li>
            <li>Croquete de salmão com molho teriyaki</li>
            <li>Coxinha de tapioca com camarão</li>
            <li>Risoles de camarão</li>
            <li>Mini kafta</li>
            <li>Filé mignon crocante com molho de mel e mostarda</li>
            <li>Tulipa de castanha de caju</li>
            <li>Stick de queijo canastra</li>
            <li>Camarão empanado</li>
            <li>Ceviche de peixe branco</li>
            <li>Escondidinho de bacalhau</li>
            <li>Aligot com isca de filé e azeite trufado</li>
            <li>Comida japonesa na colher</li>
            <li>Brusquetas variadas</li>
            <li>Barrinha de coalho com mel trufado</li>
          </ul>
          
          <h3>Sobremesas</h3>
          <ul>
            <li>Pudim de leite condensado</li>
            <li>Creme de papaia com cassis</li>
          </ul>
        
          <h3>Bebidas</h3>
          <ul>
            <li>Suco de frutas vermelhas</li>
            <li>Suco de abacaxi com hortelã</li>
            <li>Refrigerantes comum e zero</li>
            <li>Água com e sem gás</li>
            <li>Chopp artenasal em dois estilos (produção local)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>  
</div>