<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam dolorem dolor voluptatum. Deserunt ducimus eius sapiente distinctio est adipisci accusamus earum, et beatae voluptatum illum atque. Labore odio reprehenderit accusantium!
          </p>
        </div>
      </div>
    </div>
  </section>
</div>