<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="container-calendario">
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&mode=WEEK&title=EduComp%202025&src=ZWR1Y29tcDIwMjVAZ21haWwuY29t&src=NmUyYWQzZDk1YTgwZjgzODQ1YmJkNDdlZDliMDcyMThiOWNjYjEwZGY5YzVjNWUyNDkxMzhmMDdlYTk0ZTcwZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23E4C441"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>