<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <p>
            A seguir está a programação preliminar (sujeita o alterações) dos eventos EduComp 2025 e SBC-EB 2025.
            O <strong>credenciamento de participantes</strong> acontecerá ininterruptamente durante todo o período no <i>foyer</i> do evento.
            Os intervalos para <i>coffee break</i> ocorrerão entre 10:30 e 11:00 e entre 16:00 e 16:30.
          </p>
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
             <!-- <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=EduComp%20%2F%20SBC-EB&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=NjExYTkyMDM3NTllMjdhNTA2ZWE0Y2RhMTc0NGM3ODVmOGNmM2U2OWQ0MjUwMjkyOTA1MmZhZjdlY2I4ZmQ3NUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NmY4ZjNkNTRiNjFkYzM3MjgwMDIzZmMwNzU3YzhjMTM0OGRmYzgyMzA4ODc5MjdiMWRhZjY0MThlODQxOGQ3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5&color=%230b8236&color=%23EF6C00" frameborder="0"></iframe> -->
             <!-- <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=EduComp%20%2F%20SBC-EB&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=NjExYTkyMDM3NTllMjdhNTA2ZWE0Y2RhMTc0NGM3ODVmOGNmM2U2OWQ0MjUwMjkyOTA1MmZhZjdlY2I4ZmQ3NUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NmY4ZjNkNTRiNjFkYzM3MjgwMDIzZmMwNzU3YzhjMTM0OGRmYzgyMzA4ODc5MjdiMWRhZjY0MThlODQxOGQ3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5&color=%230b8236&color=%23EF6C00" frameborder="0"></iframe> -->
             <iframe class="programacao programacao-semana" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=EduComp%20%2F%20SBC-EB&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=MGVhNGI2MmY4ZmNlNmM5NmQ2YjJjMjllMzgwYTA4MjdiNTZhYjk4ZDhkZmZmN2UzMzE4OGMwMjYzMjdmMmIyOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=M2JhODVkNTYzMjJhMjY0MzI5MTQ4YjZmZjk1ZTNkNzk4NjI1NWNmMDEyZGVmMGQyYjg0MmU5ZWI5ZWU2ZDI1ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZmRjYmRhMzIxZjI2M2M4MjAyMDZhMDk5MTU1MDY0YTU2MzdlMTFlNjhkN2Q5OTUzYWE2NDQ4M2ZiNzRkMDg0Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NmY4ZjNkNTRiNjFkYzM3MjgwMDIzZmMwNzU3YzhjMTM0OGRmYzgyMzA4ODc5MjdiMWRhZjY0MThlODQxOGQ3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5&color=%237986CB&color=%234285F4&color=%230b8236&color=%23EF6C00" frameborder="0"></iframe>
             <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=EduComp%20%2F%20SBC-EB&mode=AGENDA&dates=20250407/20250411&hl=pt_BR&src=MGVhNGI2MmY4ZmNlNmM5NmQ2YjJjMjllMzgwYTA4MjdiNTZhYjk4ZDhkZmZmN2UzMzE4OGMwMjYzMjdmMmIyOUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=M2JhODVkNTYzMjJhMjY0MzI5MTQ4YjZmZjk1ZTNkNzk4NjI1NWNmMDEyZGVmMGQyYjg0MmU5ZWI5ZWU2ZDI1ZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=ZmRjYmRhMzIxZjI2M2M4MjAyMDZhMDk5MTU1MDY0YTU2MzdlMTFlNjhkN2Q5OTUzYWE2NDQ4M2ZiNzRkMDg0Y0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NmY4ZjNkNTRiNjFkYzM3MjgwMDIzZmMwNzU3YzhjMTM0OGRmYzgyMzA4ODc5MjdiMWRhZjY0MThlODQxOGQ3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%233F51B5&color=%237986CB&color=%234285F4&color=%230b8236&color=%23EF6C00" frameborder="0"></iframe>
          </div>
          <p>
            Observe que a programação está disponível como uma agenda do Google, sendo possível modificar a visualização e filtrar a exibição das atividades por evento (canto superior direito).
            Também é possível adicionar as agendas ao seu Google Agenda (canto inferior esquerdo), facilitando a visualização e o acompanhamento das atividades dos eventos.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>