<div id="programacao">
  <section id="calendario-google">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="container-calendario">
            <!-- &dates=20250407/20250411 -->
            <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&mode=WEEK&dates=20250407/20250411&title=EduComp%202025&src=ZWR1Y29tcDIwMjVAZ21haWwuY29t&src=NmUyYWQzZDk1YTgwZjgzODQ1YmJkNDdlZDliMDcyMThiOWNjYjEwZGY5YzVjNWUyNDkxMzhmMDdlYTk0ZTcwZEBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%23039BE5&color=%23E4C441"></iframe> -->
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=EduComp%20%2F%20SBC-EB%20%2F%20ForLic&mode=WEEK&dates=20250407/20250411&hl=pt_BR&src=NjExYTkyMDM3NTllMjdhNTA2ZWE0Y2RhMTc0NGM3ODVmOGNmM2U2OWQ0MjUwMjkyOTA1MmZhZjdlY2I4ZmQ3NUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=N2FhM2ZiMGFmZjZjNDQxMjhmOWVjZGY5OTZlOTljYjYwNTE0MWM1NTY1MWRiNmQ3OTcwMjc0ZjhhOGQ5YTY3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=NmY4ZjNkNTRiNjFkYzM3MjgwMDIzZmMwNzU3YzhjMTM0OGRmYzgyMzA4ODc5MjdiMWRhZjY0MThlODQxOGQ3N0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&src=YWNiODMxN2I0YWY5YzQyMTQ4ZGU5MTBmMGU3ZjY2OGU0ZmFmNjE1ZWYxYzMxOTg0MjZkMGNlMzg1MzhhZmFjM0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%230b8236&color=%23E67C73&color=%23F6BF26&color=%23b6aea6"></iframe>
            <!-- <iframe id="open-web-calendar"
    style="background:url('https://raw.githubusercontent.com/niccokunzmann/open-web-calendar/master/static/img/loaders/circular-loader.gif') center center no-repeat;"
    src="https://open-web-calendar.hosted.quelltext.eu/calendar.html?css=.CALENDAR-INDEX-0%2C%20.CALENDAR-INDEX-0%20.dhx_body%2C%20.CALENDAR-INDEX-0%20.dhx_title%20%20%7B%20background-color%3A%20%23d99b9b%3B%20%7D%20%0A.CALENDAR-INDEX-1%2C%20.CALENDAR-INDEX-1%20.dhx_body%2C%20.CALENDAR-INDEX-1%20.dhx_title%20%20%7B%20background-color%3A%20%23d6bb71%3B%20%7D%20%0A&amp;date=2025-04-07&amp;event_url_geo=https%3A%2F%2Fwww.google.com%2Fmaps%2F%40%7Blat%7D%2C%7Blon%7D%2C%7Bzoom%7Dz&amp;event_url_location=https%3A%2F%2Fwww.google.com%2Fmaps%2Fsearch%2F%7Blocation%7D&amp;hour_division=2&amp;language=pt&amp;start_of_week=work&amp;starting_hour=8&amp;style-event-status-confirmed=true&amp;tab=week&amp;tabs=week&amp;tabs=day&amp;target=_blank&amp;timezone=America%2FSao_Paulo&amp;title=EduComp%202025%20e%20SBC-EB%202025&amp;url=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Fical%2F611a9203759e27a506ea4cda1744c785f8cf3e69d42502929052faf7ecb8fd75%2540group.calendar.google.com%2Fpublic%2Fbasic.ics&amp;url=https%3A%2F%2Fcalendar.google.com%2Fcalendar%2Fical%2F6f8f3d54b61dc37280023fc0757c8c1348dfc8230887927b1daf6418e8418d77%2540group.calendar.google.com%2Fpublic%2Fbasic.ics"
    sandbox="allow-scripts allow-same-origin allow-popups"
    allowTransparency="true" scrolling="no" 
    frameborder="0" height="600px" width="100%"></iframe> -->
          </div>
        </div>
      </div>
    </div>
  </section>
</div>