<div id="criterios-t2" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Critérios de revisão</h1>
  </div>

  <section id="criterios">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilha 2 -  Relatos de experiência</h2>
          
          <p>O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios atendidos ou não pelos artigos. Em termos quantitativos, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir. Além disso, para os itens de 2 a 6, deverão oferecer <i>feedback</i> qualitativo que justifique a nota dada na escala. O objetivo do <i>feedback</i> qualitativo explícito por item é melhorar a qualidade das revisões a partir da avaliação específica de critérios válidos para o tipo de artigo em avaliação, oferecendo <i>feedback</i> construtivo e evitando confusão entre diferentes tipos de contribuição (e.g., um artigo de pesquisa deve ser avaliado de forma diferente de um relato de experiência ou de um artigo sobre recurso educacional).</p>
        
          
          <ol>
            <li><strong>Aderência:</strong> O artigo deve ser um relato de experiência em Educação em Computação.</li>
            <li><strong>Originalidade:</strong> O artigo deve relatar uma experiência original quanto a algum dos aspectos a seguir: abordagem pedagógica, público-alvo, técnica, ferramenta ou instrumento utilizado.</li>
            <li><strong>Impacto educacional:</strong> O artigo deve analisar o potencial impacto educacional da iniciativa junto ao público-alvo, refletindo sobre os resultados e as lições aprendidas.</li>
            <li><strong>Replicabilidade:</strong> O artigo deve apresentar detalhes suficientes para que outros educadores possam adaptar/replicar a iniciativa em seus contextos educacionais.</li>
            <li><strong>Fundamentos teóricos e/ou pedagógicos:</strong> Grau de embasamento da concepção teórica e/ou pedagógica do relato de experiência.</li>
            <li><strong>Qualidade de escrita, de organização e de detalhamento do relato de experiência: </strong> Qualidade do texto, em termos de estruturação, clareza, coerência, coesão, ortografia, gramática e formatação, em conformidade com o modelo do EduComp.</li>
            <li><strong>Recomendação:</strong> Com base nos critérios acima, o artigo deve ser publicado no EduComp.</li>
            <li><strong>Familiaridade do(a) avaliador(a) com o tema do artigo:</strong> Os revisores descrevem o nível de conhecimento que têm sobre o tema abordado pelo artigo.</li>            
          </ol>

          
          <h3>Diretrizes para relatos de experiência</h3>

          

          <p>Os artigos de relato de experiência devem descrever cuidadosamente uma intervenção de educação em computação e seu contexto, e fornecer uma rica reflexão sobre o que funcionou, o que não funcionou e por quê. Todos os artigos nesta trilha devem fornecer detalhes suficientes para que outros possam adotar a inovação descrita no artigo.</p>
          <p>Um bom relato de experiência deve descrever em detalhes como a atividade foi desenvolvida, quais foram os resultados e como eles foram avaliados ou aferidos.  Entende-se que um relato valoroso tende a explorar uma ideia inovadora e inspirar outros professores a adotarem-na, ou adaptarem-na aos seus contextos.  </p>
          <p>O uso adequado do rigor científico é desejável. Além disso, mostra-se pertinente a descrição dos registros que evidenciam e corroboram as conclusões do trabalho.</p>
          <p>Será interessante ao público desta trilha que os relatos possam apresentar e discutir aspectos relacionados ao ensino de Computação, tais como atividades desenvolvidas em aulas, estratégias de registro, planejamento de atividades, entre outros temas. Espera-se uma discussão rica acerca dos resultados e lições aprendidas.</p>
          <p>Também serão valorizados relatos advindos de professores que não possuem formação específica na área de Computação, para que apresentem suas visões e reflexões acerca de como estão incorporando esses novos conhecimentos ao fazer docente.</p>
          <br>
          
        </div>
      </div>
    </div>
  </section>
</div>