<div id="criterios">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilha 4 -  Recursos e ambientes educacionais</h2>
          
          <h3>Diretrizes para avaliar anonimização</h3>
          <p>
          O EduComp adota um processo de revisão com <strong>anonimização dupla</strong>. Nestes casos, os artigos submetidos devem omitir qualquer informação que permita a identificação de seus autores, tais como:
          </p>
          <ul>
          <li><strong>Informações de autoria.</strong> O artigo não deve incluir nome e filiação dos autores, nem outras informações que permitam a identificação dos autores, tais como nome do local da intervenção, identificação de projetos ou informações sobre financiamento;</li>
          <li><strong>Referências a trabalhos anteriores dos autores.</strong> Trabalhos anteriores devem ser apresentadas em terceira pessoa (por exemplo, usar "no trabalho de Fulano et al.” em vez de "em nosso trabalho"), ou de forma anonimizada (por exemplo, [referência omitida]);</li>
          <li><strong>Links para artefatos relacionados ao trabalho.</strong> O artigo deve apontar para repositórios ou websites que não permitam a identificação do nome ou da instituição dos autores. Sugestão: serviço <a href="https://anonymous.4open.science/">Anonymous GitHub</a>.</li>
          </ul>
          <p>Todas as informações de autoria devem ser <strong>omitidas do texto</strong>. Apresentar as informações de autoria e mascará-las com formatação diferente da SBC (por exemplo, letra preta em fundo preto, ou letra branca em fundo branco) não é o mesmo que omitir, pois diferentes aplicativos de visualização de PDF podem apresentar essas informações em formatos mais explícitos; ou as pessoas revisoras podem ver as informações pessoais ao copiar e colar trechos do artigo para verificação de fatos no momento da revisão.</p>

          <h3>Diretrizes para avaliar escopo e aderência</h3>
          <p>
            Como a Educação em Computação é uma área interdisciplinar, em alguns casos, classificar a aderência de artigos pode levar a certas dúvidas. De regra geral, o manuscrito deve apresentar uma contribuição para a formação de pessoas na área de Computação. Dessa forma, ficam <strong>fora do escopo</strong> do EduComp:
          </p>
          <ul>
            <li>Artigos que enfocam mais no desenvolvimento de <strong>ferramentas computacionais educativas</strong> (Informática na Educação) do que na formação do ser humano em uma área da Computação.</li>
            <li>Artigos que enfocam na formação em <strong>outras áreas do conhecimento</strong>, tais como Geografia, Matemática, Letramento Digital, etc. Por outro lado, podem fazer parte do escopo, artigos que relatam projetos de pesquisa e extensão executados por estudantes de Computação atuando na educação de outras áreas de conhecimento, mas desde que o trabalho enfoque como o projeto promoveu uma melhor formação dos estudantes de Computação, e não do público que recebeu formação sobre outra área de conhecimento.</li>
          </ul>

          <h3>Diretrizes sobre os critérios do formulário de avaliação</h3>
          <p>
            O processo de revisão dos artigos do EduComp inova ao solicitar <i>feedback</i> específico, tanto quantitativo como qualitativo, para diferentes critérios de revisão:
          </p>
          <ul>
            <li>Em termos <strong>quantitativos</strong>, os revisores devem pontuar cada artigo de acordo com vários critérios em uma escala variando de "Discordo Totalmente" a "Concordo Totalmente" (1 a 4) descritos a seguir.</li>
            <li>Para os itens de 2 a 8, os revisores deverão oferecer <strong><i>feedback</i> qualitativo</strong> que justifique a nota atribuída ao respectivo critério. Esse feedback visa melhorar a qualidade das revisões, provendo avaliação específica aos critérios próprios para cada um dos cinco tipos de artigos esperados pelo EduComp.</li>
          </ul>
          <p>
            Os trabalhos sobre <strong>recursos e ambientes educacionais</strong> (Trilha 4) deverão ser avaliados conforme os seguintes critérios, em formulário via JEMS3:
          </p>
          <ol>
            <li><strong>Aderência ao tema, à trilha e aos tópicos de interesse do EduComp:</strong> O artigo apresenta recurso didático, ambiente ou plataforma para educação em computação? Deve ficar claro como o artefato pode ser usado em processos de ensino e aprendizagem em Computação, com informações sobre como adotar ou adaptar o artefato em outros contextos e instituições.</li>
            <li><strong>Contribuição para a área:</strong> Como você avalia a contribuição para a área de educação em computação, considerando o potencial de impacto do recurso ou ambiente?</li>
            <li><strong>Apresentação do recurso / ambiente:</strong> O recurso ou ambiente está bem-apresentado, contemplando a motivação para o seu desenvolvimento, objetivos, conteúdo, principais componentes e funcionalidades ilustradas por telas, contexto de uso, público-alvo, tecnologias utilizadas e licença?</li>
            <li><strong>Análise de similares:</strong> O trabalho é posicionado / comparado com recursos ou ambientes similares?</li>
            <li><strong>Fundamentos teóricos e/ou pedagógicos:</strong> O recurso ou ambiente tem sua concepção embasada em fundamentos teóricos e/ou pedagógicos?</li>
            <li><strong>Replicabilidade: </strong> Como você avalia a possibilidade do uso do recurso ou ambiente por outro(a)s educadores(as)?</li>
            <li><strong>Qualidade e organização textual: </strong> Como você avalia a qualidade do texto (incluindo figuras e tabelas), considerando clareza, coerência, coesão, ortografia, gramática e formatação, conforme o modelo SBC?</li>
            <li><strong>Recomendação para o artigo: </strong> De maneira geral, qual o seu julgamento a respeito do artigo? Com base nos critérios avaliados, ele deve ser publicado?</li>
            <li><strong>Familiaridade do(a) avaliador(a) com o tema do artigo: </strong>Qual é o conhecimento que você tem sobre o tema abordado pelo artigo?</li>
          </ol>

          <h3>Diretrizes para avaliar artigos sobre recursos e ambientes educacionais</h3>

      
          <p>Os artigos sobre recursos didáticos ou sobre ambientes ou plataformas para educação em computação devem descrever cuidadosamente um recurso ou ambiente educacional e seu contexto, e fornecer uma rica reflexão sobre a sua aplicação. Todos os artigos nesta trilha devem fornecer detalhes suficientes para que outros possam adotar a inovação descrita no artigo.</p>
          <p>Para um artigo nesta trilha, eis alguns fatores-chave a serem trazidos pelos autores e avaliados pelos revisores:</p>
          
          

          <ol>
            <li>O artefato apresentado é <strong>de interesse</strong> para o público do EduComp? Deve ficar claro como o artefato pode ser usado em processos de ensino e aprendizagem em Computação, com informações sobre como adotar ou adaptar o artefato em outros contextos e instituições.</li>
            <li>O artefato é fundamentado em teorias de aprendizagem? Deve-se explicar os <strong>fundamentos pedagógicos</strong> que orientam as decisões de design, interação e apresentação dos conteúdos.</li>
            <li>O artefato é apresentado em detalhes que <strong>ilustrem seu uso e sua aplicação educacional?</strong> Devem ser incluídos: objetivo, motivação, funcionalidades ilustradas por telas, contexto de uso, público-alvo, tecnologias utilizadas, licença.</li>
            <li>Artefatos similares:
              <ol type="a">
                <li>São citados artefatos similares (protótipos ou produtos prontos) que tenham objetivos similares e/ou abordem temas similares? Caso contrário, uma boa revisão deve indicar artefatos similares não mencionados. Simplesmente dizer “A seção de trabalhos relacionados está incompleta” não é suficiente.</li>
                <li>Os autores descrevem claramente a <strong>relação</strong> entre os artefatos similares e o artefato apresentado? Deve-se descrever de que forma o artefato apresentado <strong>se baseia</strong> em trabalhos prévios e de que maneira ele <strong>é diferente</strong>, ou seja, traz uma nova contribuição.</li>
                
              </ol>
            </li>
            <li>As <strong>observações e/ou descobertas relacionadas ao uso do artefato</strong> estão claramente <strong>apresentadas</strong>? Essas <strong>descobertas</strong> devem ser <strong>discutidas</strong>, incluindo:
              <ol type="a">
                <li>Relação / comparação com trabalhos prévios;</li>
                <li>Implicações dos resultados para uso futuro;</li>
                <li>Implicações dos resultados para o ensino e aprendizagem;</li>
                <li>Limitações do artefato.</li>
              </ol>
            </li>            
          
        </div>
      </div>
    </div>
  </section>
  </div>