<div id="sbc-eb-home">
  <section id="carrossel-jf" class="logo-bg-effect">
    <div class="container logo-evento">
      <div class="row justify-content-center">
        <div class="col-12">
          <img class="img-fluid w-100 img-logo-evento" src="/img/simposio/2025/sbc-eb/logos/logo-brasil.png" alt="Logotipo do evento SBC-EB">
        </div>
      </div>
    </div>
  </section>

  <section id="sobre-sbc-eb">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-7">
          <h2>Sobre o SBC-EB</h2>
          <p>
            O Simpósio Brasileiro de Computação na Educação Básica (SBC-EB) é um evento sem fins lucrativos, realizado pela Sociedade
            Brasileira de Computação (SBC), com o objetivo de reunir docentes da Educação Básica, gestores públicos e escolares, docentes e discentes de cursos de licenciaturas, pesquisadores e demais interessados, criando um fórum de discussão, aprendizado e troca de experiências em torno do ensino de Computação na Educação Básica.
          </p>
          <p>
            A segunda edição do SBC-EB está sendo organizada pela <a href="https://www2.ufjf.br/" target="_blank">Universidade Federal de Juiz de Fora (UFJF)</a>, e será realizada <strong>presencialmente</strong> entre os dias <strong>09 e 11 de abril de 2025</strong> na cidade sede de <strong>Juiz de Fora - MG</strong>, com polos regionais em <strong>Bandeirantes - PR</strong>, <strong>Campo Grande - MS</strong>, <strong>Salvador - BA</strong> e <strong>Itacoatiara - AM</strong>.
            O SBC-EB 2025 será co-locado com o V Simpósio Brasileiro de Educação em Computação (Educomp 2025).
          </p>
        </div>
        <div class="col-md-5">
          <img class="img-fluid img-icones" src="/img/simposio/2025/sbc-eb/icones.png" alt="Imagem icones">
        </div>
      </div>
    </div>
  </section>

  <section id="locais">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
          <h2>Locais do evento</h2>
          <div class="row justify-content-around">
            <div class="col-7 col-sm-4 col-lg-2">
              <a class="card mb-5" href="#">
                <img class="card-img-top" src="/img/simposio/2025/sbc-eb/am.png" alt="Itacoatiara AM">
                <div class="card-body">
                  <p class="card-cidade">Itacoatiara</p>
                  <p class="card-estado">AM</p>
                  <p class="card-text">POLO REGIONAL</p>
                </div>
              </a>
            </div>
            <div class="col-7 col-sm-4 col-lg-2">
              <a class="card mb-5" href="#">
                <img class="card-img-top" src="/img/simposio/2025/sbc-eb/ba.png" alt="Salvador BA">
                <div class="card-body">
                  <p class="card-cidade">Salvador</p>
                  <p class="card-estado">BA</p>
                  <p class="card-text">POLO REGIONAL</p>
                </div>
              </a>
            </div>
            <div class="col-7 col-sm-4 col-lg-2">
              <a class="card mb-5" href="/simposio/2025/sbc-eb/local/conheca-juiz-de-fora">
                <img class="card-img-top" src="/img/simposio/2025/sbc-eb/mg.png" alt="Salvador BA">
                <div class="card-body">
                  <p class="card-cidade">Juiz de Fora</p>
                  <p class="card-estado">MG</p>
                  <p class="card-text">SEDE</p>
                </div>
              </a>
            </div>
            <div class="col-7 col-sm-4 col-lg-2">
              <a class="card mb-5" href="#">
                <img class="card-img-top" src="/img/simposio/2025/sbc-eb/ms.png" alt="Salvador BA">
                <div class="card-body">
                  <p class="card-cidade">Campo Grande</p>
                  <p class="card-estado">MS</p>
                  <p class="card-text">POLO REGIONAL</p>
                </div>
              </a>
            </div>
            <div class="col-7 col-sm-4 col-lg-2">
              <a class="card mb-5" href="#">
                <img class="card-img-top" src="/img/simposio/2025/sbc-eb/pr.png" alt="Salvador BA">
                <div class="card-body">
                  <p class="card-cidade">Bandeirantes</p>
                  <p class="card-estado">PR</p>
                  <p class="card-text">POLO REGIONAL</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="submeta">
    <div class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-12">
          <h2>Submeta seu <span class="highlight">trabalho</span></h2>
          <p>
            O SBC-EB 2025 aceitará resumos expandidos com propostas originais de atividades ou relatos de aplicação de atividades incluindo uma análise crítica dos resultados.
            As atividades devem ter como público-alvo a Educação Básica e apoiar o desenvolvimento de uma ou mais habilidades previstas nas <a href="/downloads/simposio/2025/sbc-eb/computacao_complemento_bncc.pdf">Normas sobre Computação na Educação Básica - Complemento à Base Nacional Comum Curricular (BNCC)</a>.
          </p>
          <div class="espaco-vertical"></div>
          <div class="row justify-content-center ">
            <div class="col-md-6 col-lg-4 mb-5">
              <div class="card chamada-card card-1 d-flex flex-column">
                <div class="icon-circle icon-1">
                  <i class="fa fa-forward-step"></i>
                </div>
                <div class="card-title">
                  <h3>Pensamento Computacional</h3>
                </div>
                <div class="card-body">
                  <p>
                    Relaciona-se ao desenvolvimento de habilidades para resolver problemas de forma estruturada e lógica, utilizando conceitos e ferramentas da computação.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
              <div class="card chamada-card card-2 d-flex flex-column">
                <div class="icon-circle icon-2">
                  <i class="fa-solid fa-vr-cardboard"></i>
                </div>
                <div class="card-title">
                  <h3>Mundo Digital</h3>
                </div>
                <div class="card-body">
                  <p>
                    Envolve o uso crítico, ético e criativo das tecnologias digitais, promovendo a interação com ambientes virtuais e a produção de conteúdos digitais.
                  </p>
                </div>
              </div>
            </div>

            <div class="col-md-6 col-lg-4 mb-5">
              <div class="card chamada-card card-3 d-flex flex-column">
                <div class="icon-circle icon-3">
                  <i class="fa fa-headset"></i>
                </div>
                <div class="card-title">
                  <h3>Cultura Digital</h3>
                </div>
                <div class="card-body">
                  <p>
                    Reflete sobre as transformações sociais e culturais causadas pelas tecnologias digitais, estimulando a reflexão ética e a participação consciente no mundo digital.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="educomp">
    <div class="container">
      <h2>Já conhece o <span class="text-highlight">Educomp</span>?</h2>
      <p>
        O SBC-EB 2025 será co-locado com o <strong>V Simpósio Brasileiro de Educação em Computação (Educomp 2025)</strong>, fortalecendo a Educação em Computação, promovendo mais conexões, debates e oportunidades para todos os níveis de ensino.
      </p>
      <div class="row d-flex flex-column flex-md-row justify-content-around mt-5">
        <div class="col-md-8 col-lg-5">
          <img class="img-educomp" src="/img/simposio/2025/educomp/logos/logo-imagem-branco.png" alt="Logotipo do Educomp 2025" />
        </div>
        <div class="col-md-10 col-lg-7">
          <h3>Educação em <span class="text-green">Computação</span></h3>
          <p>
            O EduComp é um evento anual congregando pesquisadores e educadores da área de Educação em Computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de computação.
          </p>
          <a class="btn btn-primary btn-sm mt-auto" href="/simposio/2025/educomp">Acesse o site</a>
        </div>
      </div>
    </div>
  </section>

  <section id="sobre-sbc">
    <div class="container">
      <div class="row d-flex flex-column flex-md-row justify-content-around">
        <div class="col-md-12 col-lg-7">
          <h2>Sobre a SBC</h2>
          <p>
            A Sociedade Brasileira de Computação - SBC é uma Sociedade Científica sem fins lucrativos, fundada em julho de 1978, que reúne estudantes, professores, profissionais, pesquisadores e entusiastas da área da Computação e Informática de todo o país.
          </p>
          <p>
            A SBC tem como função fomentar o acesso à informação e cultura por meio da informática, promover a inclusão digital, incentivar a pesquisa e o ensino em computação no Brasil, e contribuir para a formação do profissional da computação com responsabilidade social.
          </p>
          <p>
            Para organização e divulgação de atividades, ações e eventos científicos, técnicos, educacionais e políticos, a SBC mantém uma estrutura de três tipos de Grupos Temáticos (GT), que são as Grandes Áreas (GA), as Comissões Especiais (CE) e os Grupos de Interesses (GI). Estes grupos reúnem associados com interesses comuns em subáreas da computação.
          </p>
          <p>
            Aqui, você está acessando o site do evento de uma das Comissões Especiais (CE) da SBC, que representa um grupo de associados da SBC que compartilham dos interesses e valores em determinada área da Computação. Associados vigentes podem se inscrever nas <a href="https://www.sbc.org.br/comissoes-especiasis/" target="_blank">listas de e-mail das Comissões Especiais (CE)</a> da área que deseja acompanhar. Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a> e venha fazer parte da maior e mais importante sociedade científica na área de computação da América Latina!
          </p>
        </div>
        <div class="col-md-7 col-lg-5 d-flex align-items-center justify-content-center">
          <div class="card-sbc">
            <a class="imagelink" href="https://centraldesistemas.sbc.org.br/mom">
              <img class="img-fluid card-sbc-frente" src="/img/simposio/2025/comum/card-sbc-frente.png" />
            </a>
            <a class="imagelink" href="https://www.sbc.org.br/comissoes-especiasis/">
              <img class="img-fluid card-sbc-verso" src="/img/simposio/2025/comum/card-sbc-verso.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{> simposio/2025/comum/pt-BR/parceiros}}
</div>

