<div id="artigos-completos" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Artigos completos</h1>
  </div>

  <section id="convite">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Convidamos interessados a enviar contribuições para o EduComp na forma de artigos completos de pesquisa, relatos de experiência, currículos, recursos e ambientes educacionais e ensaios, que contribuam para o avanço da área de educação em computação. 
            Submissões para o EduComp podem tratar de todos os aspectos da Educação em Computação, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
            Se necessário, consulte nossa lista de <a href="/simposio/2025/trabalhos/topicos-de-interesse">tópicos de interese</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="datas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2 class="mb-10 d-block">Atenção para as novas datas</h2>
          <div class="row">
              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                  <div class="card w-100">
                      <div class="card-body">
                          <h5 class="card-title text-center">09/12/24</h5>
                          <p class="card-text text-center">Envio do resumo<br/>(<i>prazo firme</i>)</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                  <div class="card w-100">
                      <div class="card-body">
                          <h5 class="card-title text-center">16/12/24</h5>
                          <p class="card-text text-center">Envio do artigo<br/>(<i>prazo firme</i>)</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                  <div class="card w-100">
                      <div class="card-body">
                          <h5 class="card-title text-center">31/01/25</h5>
                          <p class="card-text text-center">Notificação de aceitação</p>
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3 mb-4 d-flex">
                  <div class="card w-100">
                      <div class="card-body">
                          <h5 class="card-title text-center">07/02/25</h5>
                          <p class="card-text text-center">Envio da versão final do artigo</p>
                      </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="trilhas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2 class="mb-10 d-block">Conheça nossas trilhas</h2>
          <p>
            Os artigos devem ser encaminhados para uma das seguintes trilhas:
          </p>
          <div class="accordion mb-5" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                <h2 class="mb-0 w-100">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4>Trilha 1: Artigos de pesquisa</h4>
                  </button>
                </h2>
              </div>

              <div id="collapseOne" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <div class="trilha-coord">
                    <strong>Coordenação:</strong> Jean Carlo Rossa Hauck (UFSC) | Ricardo Edgard Caceffo (Univesp)<br>
                    <strong>Contato:</strong> jean.hauck@ufsc.br | ricardo.caceffo@univesp.br
                  </div>
                  <p>
                    <strong>Artigos de pesquisa</strong> devem seguir padrões científicos rigorosos, descrevendo questões, fundamentos, métodos, resultados, discussões e limitações da pesquisa. 
                    Concentram-se em diversos tópicos relevantes e de interesse atual para a educação em computação com ênfase em objetivos educacionais; métodos ou técnicas e avaliação de abordagens pedagógicas. 
                    Metodologias de pesquisa de todos os tipos são bem-vindas, incluindo métodos empíricos (qualitativos, quantitativos ou mistos), analíticos, críticos, ciência de design e outros.
                  </p>
                  <p>
                    Conheça os <a href="/simposio/2025/trabalhos/criterios/trilha-1" target="_blank"> critérios de revisão da trilha 1.</a>
                  </p>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t2">
                <h2 class="mb-0 w-100">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#membrosComunidade" aria-expanded="true" aria-controls="membrosComunidade">
                    <h4>Trilha 2: Relatos de experiência</h4>
                  </button>
                </h2>
              </div>

              <div id="membrosComunidade" class="collapse" aria-labelledby="accordion-t2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <div class="trilha-coord">
                    <strong>Coordenação:</strong> Kiev Santos da Gama (UFPE) | Luciana Foss (UFPel)<br>
                    <strong>Contato:</strong> kiev@cin.ufpe.br | luciana.foss@ufpel.edu.br
                  </div>
                  <p> 
                    <strong>Artigos com relato de experiência</strong> devem descrever cuidadosamente uma intervenção de educação em computação e seu contexto. 
                    Devem trazer detalhes suficientes que permitam a adoção por terceiros, além de oferecer uma reflexão aprofundada sobre seus aspectos positivos e negativos, assim como as limitações da intervenção realizada. 
                    Apesar de não ser obrigatório para um relato de experiência, é recomendado que haja evidências a respeito da efetividade ou resultados alcançados com a intervenção descrita.
                  </p>
                  <p>
                    Conheça os <a href="/simposio/2025/trabalhos/criterios/trilha-2" target="_blank"> critérios de revisão da trilha 2.</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-t3">
                <h2 class="mb-0 w-100">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#trilhaCurriculo"
                    aria-expanded="true" aria-controls="membrosComunidade">
                    <h4>Trilha 3: Currículos</h4>
                  </button>
                </h2>
              </div>

              <div id="trilhaCurriculo" class="collapse" aria-labelledby="accordion-t3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <div class="trilha-coord">
                    <strong>Coordenação:</strong> Ana Paula Lüdtke Ferreira (UNIPAMPA) | Ana Liz Souto Oliveira (UFPB)<br>
                    <strong>Contato:</strong> anaferreira@unipampa.edu.br | analiz@dcx.ufpb.br
                  </div>
                  <p> 
                    <strong>Artigos sobre currículos</strong> devem discutir legislação, diretrizes, estruturas, abordagens e organizações curriculares para cursos ou programas na área de Computação, em todos os níveis de ensino. 
                    Podem abranger resultados de pesquisas, relatos de experiências ou posicionamentos sobre o tema, descrevendo o contexto, as motivações, os fundamentos pedagógicos, a exigência da legislação, os recursos necessários, seu potencial impacto, avaliação dos resultados e as recomendações para adoção por outros educadores, sempre com discussão a respeito do referencial teórico. 
                    Os artigos submetidos a esta trilha também incluem artigos de posicionamento (<i>position papers</i>), que devem gerar uma discussão acadêmica por meio de uma opinião defensável sobre aspectos curriculares da formação de estudantes na área de computação, substanciado por evidências.
                    </p>
                    <p>
                      Conheça os <a href="/simposio/2025/trabalhos/criterios/trilha-3" target="_blank"> critérios de revisão da trilha 3.</a>
                    </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-t4">
                <h2 class="mb-0 w-100">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#trilhaRecursos"
                    aria-expanded="true" aria-controls="membrosComunidade">
                    <h4>Trilha 4: Recursos e ambientes educacionais</h4>
                  </button>
                </h2>
              </div>

              <div id="trilhaRecursos" class="collapse" aria-labelledby="accordion-t4" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <div class="trilha-coord">
                    <strong>Coordenação:</strong> Rafaela Vilela da Rocha (UFABC) | Eduardo Figueiredo (UFMG)<br>
                    <strong>Contato:</strong> rafaela.vilela@gmail.com | figueiredo@dcc.ufmg.br
                  </div>
                  <p> 
                    <strong>Artigos sobre recursos educacionais</strong> devem apresentar recursos educacionais específicos para a educação em computação em um ou mais níveis da educação formal ou não formal. 
                    Devem descrever: a motivação para a criação do recurso educacional; os fundamentos teóricos e/ou pedagógicos que embasam sua concepção; a organização do material (e.g., objetivos, conteúdo, público, disponibilidade, dentre outros elementos); a dinâmica de uso do recurso, de preferência associada a um cenário real onde ele foi ou será testado, além de detalhes suficientes que permitam a replicação de seu uso por educadores; o tipo de licença (se pertinente); e uma reflexão teórico-crítica sobre o seu potencial ou real impacto. 
                    Todo e qualquer conteúdo que seja utilizado para fins educacionais pode ser considerado um recurso educacional. 
                    Recursos educacionais típicos incluem (mas não estão limitados a) livros didáticos, planos de aula, softwares educacionais, jogos educativos, vídeos, áudios, imagens e até mesmo cursos completos (como MOOCs, por exemplo).
                  </p>
                  <p>
                    <strong>Artigos sobre ambientes e plataformas educacionais</strong> devem apresentar ambientes e plataformas inovadoras de software e/ou hardware para apoiar o ensino ou a aprendizagem de computação. 
                    Devem descrever a motivação para a criação do ambiente/plataforma; fundamentos teóricos e/ou pedagógicos que embasam sua concepção; principais funcionalidades e potenciais usuários; exemplo de uso, possivelmente com uma prova de conceito e telas que ilustram a interface (quando aplicável); arquitetura do ambiente/plataforma com enfoque em seus principais componentes e nas interfaces entre eles; breve comparação com outras plataformas relacionadas existentes; e o tipo de licença (se pertinente).
                  </p>
                  <p>
                    Conheça os <a href="/simposio/2025/trabalhos/criterios/trilha-4" target="_blank"> critérios de revisão da trilha 4.</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-t5">
                <h2 class="mb-0 w-100">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#trilhaEnsaios" aria-expanded="true" aria-controls="membrosComunidade">
                    <h4>Trilha 5: Ensaios</h4>
                  </button>
                </h2>
              </div>

              <div id="trilhaEnsaios" class="collapse" aria-labelledby="accordion-t5" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <div class="trilha-coord">
                    <strong>Coordenação:</strong> João Henrique Berssanette (IFPR) | João Paulo Alres (UTFPR)<br>
                    <strong>Contato:</strong> joao.berssanette@ifpr.edu.br | joao@utfpr.edu.br
                  </div>
                  <p>
                    <strong>Ensaios</strong> têm o propósito de expor ideias, pontos de vista ou posicionamentos sobre determinado tema; revisar e analisar assuntos e interpretações; e debater ideias e opiniões com fundamentação em teorias, pesquisa bibliográfica e/ou evidências empíricas. 
                    Ensaios devem apresentar argumentação de natureza crítico-reflexiva, fundamentada, buscando profundidade e originalidade no enfoque sem, necessariamente, pretender explorar o tema de forma exaustiva.
                  </p>
                  <p>
                    Conheça os <a href="/simposio/2025/trabalhos/criterios/trilha-5" target="_blank"> critérios de revisão da trilha 5.</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2 class="mb-10 d-block">Instruções de submissão</h2>
          <p>
            A submissão de artigos será exclusivamente eletrônica, por meio do sistema <a href="https://jems3.sbc.org.br/events/154" target="_blank">JEMS3</a> da SBC.  
            Os artigos podem ser escritos em português ou em inglês, contendo o mínimo de 6 (seis) e o máximo de 10 (dez) páginas, com a possibilidade de páginas adicionais apenas de referências. 
            Os trabalhos devem ser formatados seguindo o <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/modelosparapublicaodeartigos.zip" target="_blank">modelo para publicação de artigos da SBC</a>, e submetidos em formato <i>Adobe Portable Document Format</i> (PDF).
            Na submissão, os <strong>artigos devem ser anonimizados</strong> para garantir as avaliações duplo-anônimas (<i>double anonymous reviews</i>).
          </p>

          <p>
            É importante ressaltar ainda que os artigos a serem submetidos devem seguir o <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/Codigo_Conduta_para_Publicacoes_da_SBC.pdf" target="_blank">código de conduta para publicações da SBC</a>, aprovado pelo Conselho da SBC em fevereiro de 2024.
            Recomenda-se que artigos submetidos a qualquer uma das trilhas, que resultem de pesquisas ou experimentos que envolvam pessoas, descrevam como as questões éticas foram tratadas. 
            Caso o projeto que deu origem ao trabalho tenha registro na Plataforma Brasil ou em Comitê de Ética em Pesquisa institucional, solicita-se que os autores coloquem o número de registro ou informações de referência na versão final do texto.
          </p>

          <p>
            Artigos aceitos serão publicados no Portal de Publicações e Conteúdos Digitais da SBC – <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>, condicionado à inscrição de pelo menos um dos autores no EduComp 2025, bem como a apresentação oral do artigo durante o evento.
            Para tanto, os autores deverão preencher o <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC. 
          </p>

        </div>
      </div>
    </div>
  </section>
</div>