<div id="local">

  <section id="local-evento">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
            <p>
                A <strong>Faculdade de Computação (FACOM)</strong> da <strong>Universidade Federal de Mato Grosso do Sul (UFMS)</strong> será o local do evento.
                A FACOM é uma unidade de destaque, oferecendo cursos de graduação e pós-graduação em áreas como Ciência da Computação, Engenharia de Computação, Engenharia de Software e Sistemas de Informação.
                Com uma infraestrutura moderna e um corpo docente qualificado, a faculdade proporciona uma formação de excelência, combinando teoria e prática para preparar seus estudantes para os desafios do mercado e da pesquisa científica.
            </p>
            <p>
                Além de seu papel na educação e na pesquisa, a FACOM se destaca por sua estrutura moderna e bem equipada, oferecendo espaços adequados para a realização de eventos científicos e atividades de integração.
                A faculdade conta com laboratórios de ponta, auditórios e áreas de convivência, proporcionando um ambiente favorável ao aprendizado e à troca de conhecimentos.
                Sua localização privilegiada dentro da Cidade Universitária da UFMS facilita o acesso e garante comodidade para todos os envolvidos no evento.
            </p>
        </div>
      </div>
      
      <div class="imagem-principal row justify-content-center">
        <figure class="col-lg-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/ice-fachada.jpg" alt="vista facha prédio REUNI ICE">
          <figcaption class="text-center figure-caption">
            Fachada do prédio do ICE (<a target="_blank">Imagem: Ana Luíza Míscoli / Felipe Strehle</a>)
          </figcaption>
        </figure>
      </div>
  </section>

  <section id="localizacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="mapa-container">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2579.615701964911!2d-43.373320171529876!3d-21.776081661960774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989ba1c18d2a97%3A0xacf1ee467831259e!2sInstituto%20de%20Ci%C3%AAncias%20Exatas%20-%20ICE%20-%20UFJF!5e0!3m2!1spt-BR!2sbr!4v1742488581205!5m2!1spt-BR!2sbr"  width="100%" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="infraestrutura-ambiente">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <h2>Infraestrutura e ambientes utilizados</h2>
          <p>
            Para a realização do EduComp 2026 & SBC-EB 2026, serão utilizados diversos espaços dentro da FACOM, diversos deles recentemente reformados e equipados com tecnologia de ponta para garantir a melhor experiência aos participantes.
          </p>     
        </div>
      </div>
      
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
             <strong>Auditório:</strong> Um auditório principal moderno, com capacidade para aproximadamente 150 pessoas.
              O espaço conta com projetor de alta resolução, sistema de som e vídeo, além de infraestrutura completa para a realização de transmissões online e videoconferências.
              <strong>Laboratórios e Salas de Defesa:</strong> Adicionalmente, múltiplos laboratórios de informática e salas de defesa devidamente equipadas, com capacidade para 30 a 50 pessoas, também estarão disponíveis para a realização de minicursos, workshops e apresentações de artigos.
          </p> 
        </div>
      </div>

      <div class="row justify-content-center">
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/anfiteatro-amarelo.jpg" alt="Anfiteatro Amarelo ICE">
          <figcaption class="text-center figure-caption">
            Auditório (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>
          
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/anfiteatro-azul.jpg" alt="Anfiteatro Azul ICE">
          <figcaption class="text-center figure-caption">
            Auditório (<a target="_blank">Imagem: Felipe Strehle</a>)
          </figcaption>
        </figure>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
             <strong>Salas de aula:</strong> Estarão à disposição do evento XXX salas de aula, cada uma com capacidade para XXX pessoas, todas equipadas com computadores e projetores. 
             Estes ambientes se mostram adequados para a realização de sessões técnicas, workshops e rodas de conversa.
          </p> 
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/sala-de-aula-1.jpg" alt=" Sala de aula no ICE">
          <figcaption class="text-center figure-caption">
            Sala de aula (<a target="_blank">Imagem: Felipe Strehle</a>)
          </figcaption>
        </figure>         
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/sala-de-aula-2.jpg" alt=" Sala de aula no ICE">
          <figcaption class="text-center figure-caption">
             Sala de aula (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>
      </div>
      
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
          <strong>Laboratórios de computação:</strong> Diversos laboratórios de ensino, com capacidade média de 30 a 40 computadores modernos por sala, estarão disponíveis para a realização de atividades práticas, sessões interativas e minicursos.          </p> 
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/laboratorio-1.jpg" alt="laboratório ICE">
          <figcaption class="text-center figure-caption">
            Laboratório de computação (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>         
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/laboratorio-2.jpg" alt="laboratório ICE">
          <figcaption class="text-center figure-caption">
            Laboratório de computação (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md-10"><h3>Homenagem a artistas de Mato Grosso do Sul</h3>
         <p>
              Para valorizar a cultura e a história do estado, os auditórios e salas do evento recebem temporariamente nomes de artistas e escritores que marcaram Mato Grosso do Sul com seu talento e legado.
              Conheça um pouco sobre cada um deles e suas contribuições para a arte e a literatura brasileira.
         </p>
         <p>
              <strong>Manoel de Barros (1916 - 2014):</strong>
              Considerado um dos maiores poetas da literatura brasileira, viveu a maior parte de sua vida no Pantanal sul-mato-grossense.
              Sua obra, premiada nacional e internacionalmente, é marcada pela "desinvenção" da linguagem e pela profunda conexão com a natureza, as coisas simples e o universo infantil.
         </p>
         <p>
              <strong>Humberto Espíndola (1943 - ):</strong>
              Artista plástico nascido em Campo Grande, é um dos fundadores do movimento da "bovinocultura", que utiliza a figura do boi como tema central para uma reflexão sobre a sociedade.
              Com obras expostas no Brasil e no exterior, é um nome fundamental para as artes plásticas do Centro-Oeste.
         </p>
         <p>
              <strong>Almir Sater (1956 - ):</strong>
              Nascido em Campo Grande, é cantor, compositor, violeiro e ator.
              É um dos artistas mais emblemáticos do Brasil, conhecido por sua viola de dez cordas e por canções que se tornaram a trilha sonora do Pantanal.
              Seu trabalho na música e na teledramaturgia levou a cultura sul-mato-grossense para todo o país.
         </p>
         <p>
              <strong>Helena Meirelles (1924 - 2005):</strong>
              Natural de Bataguassu, foi uma violeira, cantora e compositora de reconhecimento mundial.
              Sua habilidade instrumental foi aclamada pela revista norte-americana Guitar Player, que a incluiu na lista dos 100 melhores guitarristas do mundo.
              Seu legado quebrou barreiras e consolidou a viola como um instrumento de concerto.
         </p>
         <p>
              <strong>Lídia Baís (1900 - 1985):</strong>
              Artista plástica e escritora, foi uma figura vanguardista e pioneira nas artes de Mato Grosso do Sul no início do século XX.
              Sua casa, hoje a Morada dos Baís, é um dos principais centros culturais de Campo Grande.
              Sua obra e sua história de vida representam um marco de transgressão e modernidade para a cultura local.
         </p>
         <p>
              <strong>Conceição dos Bugres (1914 - 1984):</strong>
              Escultora autodidata, tornou-se um ícone da arte popular brasileira com seus famosos "bugres", esculturas em madeira com traços marcantes e cobertas por cera.
              Sua produção singular é reconhecida em todo o país e representa a força da identidade cultural sul-mato-grossense.
         </p>
         <p>
              <strong>Aracy Balabanian (1940 - 2023):</strong>
              Nascida em Campo Grande, foi uma das mais aclamadas atrizes do Brasil, com uma carreira de décadas no teatro, na televisão e no cinema.
              Com papéis inesquecíveis, levou o nome de sua cidade natal aos mais altos patamares da dramaturgia nacional, tornando-se um orgulho para o estado.
         </p>
         <p>
              <strong>Tetê Espíndola (1954 - ):</strong>
              Cantora, compositora e instrumentista nascida em Campo Grande, é conhecida por sua voz singular de timbre raríssimo e por sua música que mescla elementos regionais com a vanguarda.
              Vencedora de importantes festivais, sua obra é aclamada pela crítica e representa a sofisticação da música produzida em Mato Grosso do Sul.
         </p>
        </div>
      </div>
    </div>
  </section>
</div>