<div id="local">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <p>
            A empresa de turismo parceira que será responsável pelo atendimento aos participantes do evento:
          </p>

          <div class="text-center mb-4">
            <img src="/img/simposio/2026/comum/cg/parceiros/vai-de-aviao-logo.png" alt="Logo Vai de Avião" class="img-fluid" style="max-width: 100%;">
          </div>

          <p class="lead">
            ✅ Com 10 anos de experiência em turismo e eventos, a agência Vai de Avião cuida de toda a sua viagem:
          </p>

          <div class="mb-4">
            <ul class="list-unstyled">
              <li>✈️ Passagem aérea nacional 🇧🇷 e internacional 🌎</li>
              <li>🏨 Hotel</li>
              <li>🚣 Passeios em Bonito</li>
              <li>🚗 Locação de Carro ou Traslado 🚐</li>
              <li>🔐 Seguro Viagem</li>
            </ul>
          </div>

          <div class="mt-4">
            <h3>Vai de Avião - Campo Grande/MS</h3>
            <p>
              <i class="fas fa-map-marker-alt"></i> R. Marquês de Pombal, 1117, Campo Grande - MS, CEP: 79.046-052<br>
              <i class="fas fa-globe"></i> <a href="https://vaideaviao.net/" target="_blank" rel="noopener noreferrer">vaideaviao.net</a><br>
              <i class="fab fa-instagram"></i> <a href="https://www.instagram.com/vaideaviao/" target="_blank" rel="noopener noreferrer">@vaideaviao</a><br>
              <i class="fab fa-whatsapp"></i> <a href="https://bit.ly/whatsappvaideaviao" target="_blank" rel="noopener noreferrer">(67) 98445-5916</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="hospedagem">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10">
          <p>
            A tabela abaixo apresenta os valores negociados exclusivamente para participantes do evento. Essas tarifas são válidas apenas para reservas realizadas por meio da agência oficial, não sendo garantidas para contratações diretas com os hotéis.
          </p>
          <p>
            Recomendamos que os interessados entrem em contato com a agência parceira para verificar disponibilidade, condições atualizadas e efetivar a reserva com os valores acordados.
          </p>
          <p>Confira abaixo as opções de hospedagem e respectivas categorias:</p>

          <div class="table-responsive">
            <table class="table table-bordered align-middle" style="background-color: #fff;">
              <thead class="thead-light" style="background-color: #fff;">
                <tr>
                  <th>Hotel</th>
                  <th>Categoria</th>
                  <th>Individual</th>
                  <th>Duplo</th>
                  <th>Triplo</th>
                  <th>Distância (FACOM)</th>
                  <th>Google Maps</th>
                </tr>
              </thead>
              <tbody>
                <tr style="background-color: #ffffff;">
                  <td rowspan="2">Ibis</td>
                  <td>Standard</td>
                  <td>R$ 246,75</td>
                  <td>R$ 299,25</td>
                  <td>-</td>
                  <td rowspan="2">11,7 km</td>
                  <td rowspan="2"><a href="https://maps.app.goo.gl/GLsGoEtU2rKktXSj9" target="_blank" rel="noopener noreferrer">Abrir mapa</a></td>
                </tr>
                <tr style="background-color: #fff;">
                  <td>Superior</td>
                  <td>R$ 283,50</td>
                  <td>R$ 336,00</td>
                  <td>-</td>
                </tr>
                <tr style="background-color: #fff;">
                  <td>Ibis Budget</td>
                  <td>Standard</td>
                  <td>R$ 196,35</td>
                  <td>R$ 242,55</td>
                  <td>R$ 282,98</td>
                  <td>11,3 km</td>
                  <td><a href="https://maps.app.goo.gl/yTSat68dyRUrF1EJ8" target="_blank" rel="noopener noreferrer">Abrir mapa</a></td>
                </tr>
                <tr style="background-color: #fff;">
                  <td rowspan="2">Novotel</td>
                  <td>Superior</td>
                  <td>R$ 366,45</td>
                  <td>R$ 439,95</td>
                  <td>R$ 651,00</td>
                  <td rowspan="2">11,7 km</td>
                  <td rowspan="2"><a href="https://maps.app.goo.gl/cHgKb1MwpYRvPeK58" target="_blank" rel="noopener noreferrer">Abrir mapa</a></td>
                </tr>
                <tr style="background-color: #fff;">
                  <td>Executiva</td>
                  <td>R$ 429,45</td>
                  <td>R$ 502,95</td>
                  <td>R$ 651,00</td>
                </tr>
                <tr style="background-color: #fff;">
                  <td rowspan="2">Jandaia</td>
                  <td>Superior</td>
                  <td>R$ 302,00</td>
                  <td>R$ 376,00</td>
                  <td>R$ 460,00</td>
                  <td rowspan="2">5,6 km</td>
                  <td rowspan="2"><a href="https://maps.app.goo.gl/yHYJtcdS5aGT6tki6" target="_blank" rel="noopener noreferrer">Abrir mapa</a></td>
                </tr>
                <tr style="background-color: #fff;">
                  <td>Suíte</td>
                  <td>-</td>
                  <td>R$ 545,00</td>
                  <td>-</td>
                </tr>
                <tr style="background-color: #fff;">
                  <td>Slaviero</td>
                  <td>Apartamento</td>
                  <td>R$ 555,22</td>
                  <td>R$ 633,42</td>
                  <td>-</td>
                  <td>6,1 km</td>
                  <td><a href="https://maps.app.goo.gl/URkQbkfw6LU9Edn68" target="_blank" rel="noopener noreferrer">Abrir mapa</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
