<div id="local">
  <section id="local-evento">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
            O <strong>SBC-EB 2026</strong> no <strong>Polo Nordeste</strong> será realizado no <strong>Departamento de Computação DC - UFRPE</strong>, em Recife - PE.
          </p>
          <p>
            As atividades acontecerão no <strong>Prédio João Vasconcelos Sobrinho</strong>, espaço preparado para receber os participantes com infraestrutura adequada para a programação do polo.
          </p>
          <p>
            <strong>Endereço:</strong><br>
            R. Dom Manuel de Medeiros, Recife, Pernambuco
          </p>
        </div>
      </div>

      <section id="localizacao">
        <div class="row justify-content-center mt-3">
          <div class="col-md-10">
            <h2>Mapa do polo</h2>
            <div class="mapa-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3950.818317231183!2d-34.94709202415764!3d-8.01766288002002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7ab198c1040db71%3A0xeefd7d59b3a40ce6!2sDepartamento%20de%20Computa%C3%A7%C3%A3o%20DC%20-%20UFRPE!5e0!3m2!1spt-BR!2sbr!4v1777920150751!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>