<div id="local">
  <section id="local-evento">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
            O <strong>SBC-EB 2026</strong> no <strong>Polo Sudeste</strong> será realizado na <strong>USP São Carlos</strong>, no <strong>I.C.M.C. Administração e Docentes</strong>.
          </p>
          <p>
            As atividades do polo acontecerão no campus da universidade, em um espaço preparado para receber os participantes e acomodar a programação local.
          </p>
          <p>
            <strong>Endereço:</strong><br>
            I.C.M.C. Administração e Docentes - R. Dr. Carlos de Camargo Salles, 350 - Jardim Lutfalla, São Carlos - SP, 13560-530
          </p>
        </div>
      </div>

      <section id="localizacao">
        <div class="row justify-content-center mt-3">
          <div class="col-md-10">
            <h2>Mapa do polo</h2>
            <div class="mapa-container">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3699.107701668023!2d-47.894255699999995!3d-22.007183899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94b877331ff771f5%3A0x2f41205c0a5157ab!2sICMC%20-%20Instituto%20de%20Ci%C3%AAncias%20Matem%C3%A1ticas%20e%20de%20Computa%C3%A7%C3%A3o!5e0!3m2!1spt-BR!2sbr!4v1777920289681!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>