<div id="local">
  <section id="local-evento">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
            O <strong>SBC-EB 2026</strong> no <strong>Polo SUL</strong> será realizado no <strong>Instituto de Informática / UFRGS</strong>, em Porto Alegre - RS.
          </p>
          <p>
            O espaço fica no <strong>Campus do Vale</strong> e sediará as atividades do polo, com infraestrutura adequada para recepção dos participantes e realização da programação local.
          </p>
          <p>
            <strong>Endereço:</strong><br>
            Av. Bento Gonçalves, 9500, bairro Agronomia.<br>
            Campus do Vale, bloco IV, prédio 43413 (auditório)
          </p>
        </div>
      </div>

      <section id="localizacao">
        <div class="row justify-content-center mt-3">
          <div class="col-md-10">
            <h2>Mapa do polo</h2>
            <div class="mapa-container">
              <iframe
                src="https://www.google.com/maps?q=Instituto%20de%20Inform%C3%A1tica%20%2F%20UFRGS,%20Av.%20Bento%20Gon%C3%A7alves,%209500,%20bairro%20Agronomia,%20Campus%20do%20Vale,%20bloco%20IV,%20pr%C3%A9dio%2043413%20(audit%C3%B3rio),%20Porto%20Alegre%20-%20RS&output=embed"
                width="600"
                height="450"
                style="border:0;"
                allowfullscreen=""
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </section>
    </div>
  </section>
</div>