  {{> simposio/2022/pt-BR/inside-header}}


<header class="bg-default text-dark"
  style="background-color: #ffbc40"
  >
    <div class="container text-center" >

    <div class="row">
        <div class="col"></div>
        <div class="col-10 col-sm-10 col-md-6 col-lg-6 col-xl-6">

          <img src="/img/simposio/2022/esquenta-2022.png"
          style="width: 100%; margin-top: -8rem;
          border-color: #f0692a; border-style: solid; border-width: 0.5rem;
          margin-bottom: -4rem" />

        </div>
        <div class="col"></div>
      </div>
    </div>
  </header>

  <section id="programacao" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <p class="lead" style="text-align: justify; font-size: 14pt; margin-top: -8rem;">
              O <b>II Esquenta EduComp 2022</b> é um evento de preparação para o Simpósio Brasileiro de Educação em Computação (EduComp). O Esquenta acontecerá em no dia 24 de março de 2022. Confira abaixo a programação.
          </p>
          <p class="lead" style="text-align: justify; font-size: 14pt;">
              Se você deseja receber o certificado pela participação do evento, por favor preencha o <a href="https://forms.gle/L91ayoM7zdWNcvzv8" target="_blank">Formulário de Inscrição</a>. A transmissão do evento ocorrerá no <a href="https://www.youtube.com/GIECSBC" target="_blank">canal do Youtube do GIEC</a>.
          </p>
          <h2 >Programação</h2>
          <br>
            <ul class="lead" style="text-align: justify; font-size: 14pt;">
                <li><span
                    style="
                        background-color: #ffbc40;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://www.youtube.com/GIECSBC" target="_blank" style="
                        background-color: rgb(250, 22, 6);;
                        padding: 0.5em;">
                        <span style="font-size: 1.0em; ">
                        <i class="fab fa-youtube"></i>
                        </span> YouTube
                        </a>
                </span> <br>
                <br>
                <b>[19h00-19h10] Abertura</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            Prof. Roberto Bittencourt. (UEFS) - Coordenação Geral
                        </li>
                         <li>
                            Profa. Mirella Moro (UFMG) - Coordenador Geral
                        </li>
                        <li>
                            Prof. João Batista Jr. (UEFS) - Coord. Engenharia de Computação (UEFS)<br>
                            <br>
                        </li>
                    </ul>
                </li>
                <li><span
                    style="
                        background-color: #ffbc40;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://www.youtube.com/GIECSBC" target="_blank" style="
                        background-color: rgb(250, 22, 6);;
                        padding: 0.5em;">
                        <span style="font-size: 1.0em; ">
                        <i class="fab fa-youtube"></i>
                        </span> YouTube
                        </a>
                </span> <br>
                <br>
                <li>
                    <b>[19h10-19h50] Painel: Computação e Aprendizagem Criativa</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>Painelista: Profa. Maria Auxiliadora Soares Padilha (UFPE)</li>
                        <li>Painelista: Prof. Thiago Thompsen Primo (UFPel)</li>
                        <li>Mediador: Prof. Adão Caron Cambraia (IFFar)</li>
                    </ul>
                </li>
                <li>
                    <b>[19h50-20h00] Momento Musical</b>
                     <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>Profa. Caroline Santos (UFVJM)<br>
                        Coordenação de Articulação Cultural</li>
                    </ul>
                </li>
                <br>
                <li> <span
                    style="
                        background-color: #ffbc40;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://discord.gg/ETbYMAXWTA" target="_blank" style="
                        background-color: rgb(6, 99, 170);
                        padding: 0.5em;">
                        <span style="font-size: 1.0em; ">
                        <i class="fab fa-discord"></i>
                        </span> Discord
                        </a>
                </span> <br>
                <br>
                    <b>[20h00-20h40] Laboratório de Ideias</b>
                    <table class="table table-striped">
                        <tr>
                            <td style="width: 50%;">
                                <b>Sessão 1 (lab-ideias-1)</b>
                            </td>
                            <td>
                                <b>Sessão 2 (lab-ideias-2)</b>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Coordenadores: <br>
                                        Profa. Ayla Rebouças (UFPB)<br>
                                        Prof. Leandro Galvão (UFAM)<br>
                                <ul class="lead text-left" style="font-size: 14pt;">

                                    <li>
                                        <b>Integração do Pensamento Computacional às Disciplinas da Educação Básica: uma Proposta de Aplicativo para Professores</b><br>
                                        - Bárbara Morais (UFRPE)
                                    </li>
                                    <li>
                                        <b>Materiais didáticos sensíveis ao gênero para o ensino do Pensamento Computacional no Fundamental I</b><br>
                                        - Mychelline Souto Cunha (UFPE)
                                    </li>
                                </ul>
                            </td>
                            <td>
                                Coordenadores: <br>
                                Profa. Eliane Araújo (UFCG)<br>
                                Profa. Nathalia Alves (UFSC)<br>
                                <ul class="lead text-left" style="font-size: 14pt;">
                                    <li>
                                        <b>Um estudo sobre a relação entre os elementos de jogos e os tipos de usuários de sistemas gamificados</b><br>
                                        - Marcela Pessoa (UFAM)
                                    </li>
                                    <li>
                                        <b>Loop Academic: uma Plataforma Web para o Ensino-Aprendizagem de Programação Introdutória</b><br>
                                        - Dyego Souza (UFERSA)
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    </table>

                </li>
                <li><span
                    style="
                        background-color: #ffbc40;
                        padding: 0.5em;"
                    >
                    Transmissão: <a href="https://www.youtube.com/GIECSBC" target="_blank" style="
                        background-color: rgb(250, 22, 6);;
                        padding: 0.5em;">
                        <span style="font-size: 1.0em; ">
                        <i class="fab fa-youtube"></i>
                        </span> YouTube
                        </a>
                </span>
                <br>
                <br>
                    <b>[20h40-21h00] Fechamento</b>
                    <ul class="lead" style="text-align: justify; font-size: 14pt;">
                        <li>
                            Prof. Roberto Bittencourt (UEFS) - Coordenação Geral
                        </li>
                        <li>
                            Profa. Ana Liz Oliveira (UFPB) - Coordenação do Lab de Ideias
                        </li>
                        <li>
                            Prof. Rodrigo Duran (IFMS) - Coordenação do Comitê de Programa
                        </li>
                        <li>Profa. Caroline Santos (UFVJM)<br>
                        Coordenação de Articulação Cultural</li>
                        <li>
                            Atração Cultural
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
    </div>
  </section>
