<div id="chamadas">
  <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Abaixo estão listados os trabalhos aceitos no SBC-EB 2026, agrupados pelo local de apresentação.
            A publicação de cada trabalho nos anais do evento está condicionada à inscrição de pelo menos um dos autores e à apresentação oral do trabalho no evento.
            Em todos os casos, os autores deverão preencher o <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="aceitos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p><strong></strong></p>
          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-ms">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-ms" aria-expanded="true" aria-controls="collapse-ms">
                  <h3>SEDE (Campo Grande, MS), UFMS</h3>
                </button>
              </div>
              <div id="collapse-ms" class="collapse show" aria-labelledby="accordion-ms" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <p><strong>Comitê de Programa:</strong> Aleteia Araujo (UnB), aleteia@unb.br | Rozelma França (UFRPE), rozelma.franca@ufrpe.br</p>
                  <p><strong>Coordenação Local:</strong> Amaury Antônio de Castro Junior (UFMS), amaury.junior@ufms.br</p>
                  <p><strong>Coordenação Polo Regional Centro-Oeste (Sede):</strong> Anderson Corrêa (UFMS), anderson.lima@ufms.br</p>
                  <p><strong>Orientações para apresentação de trabalhos na Sede:</strong> Em cada sessão, cada pessoa autora terá até 10 minutos para sua apresentação. Após a apresentação de todos os trabalhos, o restante da sessão será dedicado à discussão.</p>
                  <p><strong>Modelo de apresentação:</strong> <a href="https://www.google.com/url?q=https://docs.google.com/presentation/d/1N-de_uQRhM9oSx0EnmksyObREsT-ragq/edit?usp%3Dsharing%26ouid%3D116804800344050712038%26rtpof%3Dtrue%26sd%3Dtrue&amp;sa=D&amp;source=editors&amp;ust=1777321933696517&amp;usg=AOvVaw2UxSjliw61u3Os-ZU3TFlR" target="_blank">clique aqui e baixe o arquivo</a></p>
                  <p><strong>Pasta para publicação da apresentação:</strong> <a href="https://drive.google.com/drive/folders/1YsvJypR1eca9W1ZAbVXsh5isS_oQCImk?usp=sharing" target="_blank">clique e poste os seus slides</a></p>

                  <p><strong>07 de Maio de 2026 - 14h00 às 16h00 - Sessão Técnica 1</strong></p>
                  <ul class="autores-artigo">
                    <li><strong>Ensino de Computação com Scratch em uma Oficina para Meninas do Ensino Médio</strong><br>Fernanda dos Santos Coutinho (UFJF), Isadora de Souza (UFJF), Lara da S Dias (UFJF), Gabriela Fernandes Brandão (UFJF), Larissa Machado (UFJF), Péricles Miranda (UFRPE), Pedro Henrique Dias Valle (USP), Alessandreia Marta de Oliveira (UFJF)</li>
                    <li><strong>Aprendizagem Visual de Algoritmos no Ensino Fundamental: uma Proposta Baseada em Problemas para o Ensino de Filas e Pilhas</strong><br>Andriw S. de Souza (UEA), Adriene Chaves dos Santos (UEA), Vilmar dos Santos Cavalcante Filho (UEA), Ione Ione de Castro Matos (UEA), João da Mata Libório Filho (UEA)</li>
                    <li><strong>Algoritmos em Movimento: Programação Corporal em uma Oficina Desplugada no Ensino Fundamental I</strong><br>Fernanda dos Santos Coutinho (UFJF), Isadora de Souza (UFJF), Pedro Henrique Dias Valle (USP), Alessandreia Marta de Oliveira (UFJF)</li>
                    <li><strong>Ensino de Engenharia de Software no Ensino Médio por meio de uma Sequência Didática baseada em Práticas Ágeis</strong><br>Kauê Wallace Coelho Olímpio (UEA), Andriw S. de Souza (UEA), João da Mata Libório Filho (UEA), Ione Ione de Castro Matos (UEA)</li>
                    <li><strong>Explorando o Pensamento Computacional com Minecraft e Code.org na Educação Básica</strong><br>Isadora de Souza (UFJF), Fernanda dos Santos Coutinho (UFJF), Breno Loureiro de Paula (UFJF), Pedro Henrique Dias Valle (USP), Alessandreia Marta de Oliveira (UFJF)</li>
                    <li><strong>Roblox como Recurso Pedagógico para o Ensino de Privacidade e Segurança Digital nos Primeiros Anos do Ensino Fundamental</strong><br>Alexandre de Souza Passos (UEA), Lucas Bina Paulo (UEA), Ruan Carlos Pereira Barros (UEA), Ione Ione de Castro Matos (UEA), João da Mata Libório Filho (UEA)</li>
                    <li><strong>Uma Oficina Desplugada para o Desenvolvimento do Pensamento Computacional com Cubo Mágico no Ensino Fundamental I</strong><br>Fernanda dos Santos Coutinho (UFJF), Breno Loureiro de Paula (UFJF), Isabelly de Fátima Silva (UFJF), Nícolas Barbosa (UFJF), Pedro Henrique Dias Valle (USP), Alessandreia Marta de Oliveira (UFJF)</li>
                    <li><strong>Pensamento Computacional na Educação Básica: Uma Proposta Desplugada com Crafting Table</strong><br>Jose Melo (UEA), Natalia dos Santos Marinho (UEA), João da Mata Libório Filho (UEA), Ione Ione de Castro Matos (UEA)</li>
                    <li><strong>Pensamento Computacional no Ensino Fundamental I em Oficina Desplugada com Quebra-cabeças</strong><br>Fernanda dos Santos Coutinho (UFJF), Breno Loureiro de Paula (UFJF), Nícolas Barbosa (UFJF), Pedro Henrique Dias Valle (USP), Alessandreia Marta de Oliveira (UFJF)</li>
                  </ul>

                  <p><strong>07 de Maio de 2026 - 14h00 às 16h00 - Sessão Técnica 2</strong></p>
                  <ul class="autores-artigo">
                    <li><strong>GobDash: Um Jogo de Tabuleiro para Ensino de Computação com Foco em Criação de Algoritmos e Depuração</strong><br>Isadora Gonçalves Ferreira (UFJF), Igor Knop (UFJF), Barbara Quintela (UFJF)</li>
                    <li><strong>Educação digital crítica no Ensino Médio: uma experiência com o escape room VigIAdos</strong><br>Sandra V. C. de A. Santos (UFS), José Silva dos Santos, Juselice Alves Araujo de Alencar</li>
                    <li><strong>Ensino Desplugado de Arduino e Internet das Coisas: uma proposta de atividade para a Educação Básica</strong><br>Kauana Rafaela Altomani (UFPRl), Cathleia Aisha Custodio Ferrufino (UFPR), Carlos Roberto Beleti Junior (UFPR), Linnyer Beatrys Ruiz Aylon (UEM)</li>
                    <li><strong>Jogo de Tabuleiro “Trilha Computacional” para Séries Iniciais do Ensino Fundamental I</strong><br>Rafael Mathias (UFJ), Pâmella Freitas (UFJ), Thalisson Oliveira (UFJ), Esdras Bispo Jr. (UFJ)</li>
                    <li><strong>Sequência Didática para Integração entre Inteligência Artificial e Robótica Educacional no Ensino Médio</strong><br>Jorge Mikael Coutinho Alves (UEA), Genarde Macedo Trindade (UEA)</li>
                    <li><strong>O Algoritmo Plugado da Dobradura de Papai Noel e a Formação Docente: apropriação das tecnologias digitais e do pensamento computacional</strong><br>João Pedro Hoffmann da Silva (IFRS), Anelise Lemke Kologeski (IFRS Campus Osório), Aline Bona (IFRS), Marcelo Magalhães (IFRS)</li>
                    <li><strong>Criando Respeito e Empatia Digitalmente</strong><br>Luis Felipe Graciolli (UFF), Breno Chrisostomo Pinna (UFF), Henrique Jose Couri (UFF), Jonathan Vieira da Anunciacao (UFF), Davi Guindani Padrao Vieira (UFF), Graziela Ferreira Guarda (UFF)</li>
                    <li><strong>Cyberbullying e Ensino de Computação: Um Relato de Experiência fundamentado nos Três Momentos Pedagógicos em uma Escola do Campo</strong><br>Gustavo de Assis Coutinho, Henrique de Lima Mascarenhas Santos (IFB), Vitor Rafael de Sousa Vilhena (IFB), Gabriel Serafim Gregis, Josué Felipe Vieira Klich (IFB), Fernanda Bezerra Mateus Martin (Instituto Federal Campus Taguatinga), Thiago Batista Amorim (IFB)</li>
                  </ul>

                  <p><strong>08 de Maio de 2026 - 09h00 às 10h30 - Sessão Técnica 3</strong></p>
                  <ul class="autores-artigo">
                    <li><strong>Economia Circular e Robótica Educacional: Reaproveitamento de Equipamentos de IPTV e Robôs Aspiradores no Ensino de Computação</strong><br>Paulo Junior Varela (UTFPR), Eric Endres (UTFPR), Igor Kussumoto do Nascimento (UTFPR), Vitor Ferreira Viana (UTFPR), Adair Jose Rohling (UTFPR), Edson Jorge Bocalon (Escola PR)</li>
                    <li><strong>Explorando o Movimento em Plano Inclinado por Meio da Robótica Educacional e do Pensamento Computacional</strong><br>Joana Felizardo (IFF), Ianne Lima Nogueira (IFF), Arthur Mozella (IFF), Davi Reis Furtado (IFF), Gabriel Dias (IFF), Juan Silva Lima (IFF), Ana Cecilia Soja (IFF), Anderson Veiga da Silva IFFluminense)</li>
                    <li><strong>A Música na Escola: o fazer musical em ambientes digitais</strong><br>Diego Berti Bagestan (UNIVATES), Pedro Schneider Schaeffer (Educação Teutonia), Rafaela Carminatti (Educação Poçodas Antas)</li>
                    <li><strong>Ecomuseu Digital: Um Relato de Experiência sobre ABP e Peer Learning no Ensino de Programação Front-End</strong><br>Marcos Martins (UEFS), Leila Maria Salomão de Souza (UEFS), Débora Gomes Gonçalves, Osmar Santana Ribeiro (UFRB)</li>
                    <li><strong>O "Tribunal Digital" na Educação de Jovens e Adultos: Promovendo o Letramento Crítico e a Cidadania</strong><br>Kellyane de Lima Caldas Kellyane (UEA), Tamylla Vitória Barbosa Farias (UEA), Ethel Silva de Oliveira (UEA)</li>
                    <li><strong>Formação de professores da educação básica com atividades plugadas e desplugadas para personalizar o ensino da matemática</strong><br>Anelise Lemke Kologeski (IFRS Campus Osório), José Artur Costa de Souza (IFRS), Marina Gabriela de Azevedo Giovanella da Costa (IFRS), Julia Ramos da Silva Velasco (IFRS), Aline Bona (IFRS)</li>
                    <li><strong>UX/UI e Pensamento Computacional no Ensino Médio: Uma Proposta Alinhada à BNCC para a Formação em Computação e Inclusão Feminina</strong><br>Camila Paiva (UFC), Francisca Maria Rodrigues Andrade (UFC), Gisele Costa (UFCE), Nivea Hayane (UFC), Livia Coelho Muniz (UFC), Lisieux Marie M. dos S. Andrade (UFC), Amanda Drielly Pires Venceslau (UFC), Viviane Menezes (UFC)</li>
                  </ul>

                  <p><strong>08 de Maio de 2026 - 09h00 às 10h30 - Sessão Técnica 4</strong></p>
                  <ul class="autores-artigo">
                    <li><strong>Aprendendo a Decifrar Códigos: Relato de Experiência de uma Oficina de Computação Inspirada em Hedy Lamarr</strong><br>Gabriela Chapinotti (UFJF), Juliana Lindebeck (UFJF), Isabela Gomes (UFJF), Fernanda Gomes (UFJF), Geisielen Gomes (UFJF), Julia Campos (UFJF), Marco Escher (UFJF), Barbara Quintela (UFJF), Alessandreia Marta de Oliveira (UFJF)</li>
                    <li><strong>IAção: Criatividade digital e Aprendizagem com Inteligência Artificial como Estratégia para seu uso Ético</strong><br>Náthalli Maciel (UnB), Leticia Lopes Leite (UnB), Letícia Flores (UnB), Deise Ferreira (UnB)</li>
                    <li><strong>Oficina de Introdução a Programação com Blocos e Python como Treinamento para a OBI</strong><br>Lara Esteves, Mell R Rocha (UFJF), Eduarda Miguel (UFJF), Lorenza Moreno (UFJF), Alessandreia Marta de Oliveira (UFJF), Barbara Quintela (UFJF)</li>
                    <li><strong>Relato de Oficina para Ensino de Lógica Condicional Utilizando o Jogo UNO para Estudantes do Ensino Fundamental II</strong><br>Eduarda Miguel (UFJF), Mell R Rocha (UFJF), Lara Esteves, Alessandreia Marta de Oliveira (UFJF), Barbara Quintela (UFJF), Lorenza Moreno (UFJF)</li>
                    <li><strong>Redes Neurais Convolucionais na Educação Básica: Uma Experiência com Meninas do Ensino Médio</strong><br>Maria Vitória Matos Mourão (UnB), Natalia Leal dos Santos (UnB), Maria Clara de Carvalho Moreira (UnB), Maristela Holanda (UnB), Maria Emilia Machado Telles Walter (UnB), Carla Cavalcante Koike (UnB), Leticia Lopes Leite (UnB), Aleteia Araujo (UnB)</li>
                    <li><strong>Uma Proposta de Oficina com Arduino para o Desenvolvimento do Pensamento Computacional no Ensino Médio</strong><br>Juliana Lindebeck (UFJF), Fernanda dos Santos Coutinho (UFJF), Ronney Moreira de Castro (UFJF), Luciana Conceição Dias Campos (UFJF)</li>
                    <li><strong>A Matemática e o Pensamento Computacional na Produção de Algoritmos Precisos de Dobradura de Papel</strong><br>Miguel Meregalli Machado (IFRS Campus Osório), Aline Bona (IFRS), Anelise Lemke Kologeski (IFRS Campus Osório), Lucas Silveira Lima Portal (CNPq)</li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-norte">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-norte" aria-expanded="false" aria-controls="collapse-norte">
                  <h3>Polo Norte (UNIFESSPA)</h3>
                </button>
              </div>
              <div id="collapse-norte" class="collapse" aria-labelledby="accordion-norte" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Relato de Experiência - Projeto Robótica Sustentável: Criatividade e Consciência Ambiental em Protótipos no 5º Ano do Ensino Fundamental I</h4>
                          <ul class="autores-artigo">
                            <li>Brunna da Silva Moraes (EMEFSF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvimento de um Jogo Educacional 3D Mobile para o Ensino de Pensamento Computacional no Ensino Fundamental I</h4>
                          <ul class="autores-artigo">
                            <li>Manoel Ribeiro Filho (UNIFESSPA)</li>
                            <li>Luan Diniz (UNIFESSPA)</li>
                            <li>Maria Silva (UNIFESSPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional na Educação Infantil Amazônica: Implementação de Atividades Desplugadas em Escolas Rurais de Breves-PA</h4>
                          <ul class="autores-artigo">
                            <li>Maria de Nazaré Fona Nunes</li>
                            <li>Nelbiane Alves (Secretaria Municipal de Educação de Piráí - RJ)</li>
                            <li>Simei Miranda (UFPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Elaboração de um Currículo Municipal de Educação Digital e Midiática adaptado ao Contexto Marajoara</h4>
                          <ul class="autores-artigo">
                            <li>Paulo Cícero Pantoja dos Santos (SEDUC PA)</li>
                            <li>Edinilze Dos Santos Magno (UFPA)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-nordeste">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-nordeste" aria-expanded="false" aria-controls="collapse-nordeste">
                  <h3>Polo Nordeste (UFRPE)</h3>
                </button>
              </div>
              <div id="collapse-nordeste" class="collapse" aria-labelledby="accordion-nordeste" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Relato de experiência de tutoria em Robótica Educacional: Desafios com Robôs e Garotas</h4>
                          <ul class="autores-artigo">
                            <li>Laila Melo Ribeiro (IFRN)</li>
                            <li>Evantuy de Oliveira</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Multiletramentos Digitais e Responsabilidade Ambiental na Reconstrução da Aprendizagem</h4>
                          <ul class="autores-artigo">
                            <li>Antonio Marcos Alves da Silva (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Proposta de uma Atividade Desplugada sobre Segurança Cibernética para a Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>André G. L. S. Lira (UPE)</li>
                            <li>Leandro de Almeida Melo (UPE)</li>
                            <li>Any Caroliny Almeida (UPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Elucidando a Inteligência Artificial: minicurso de introdução à IA no ensino médio</h4>
                          <ul class="autores-artigo">
                            <li>Ervelany Lins de França (UFRPE)</li>
                            <li>José Samuel de Lucena (UFRPE)</li>
                            <li>Pedro Vitor Laurentino Silva (UFRPE)</li>
                            <li>Jeneffer C. Ferreira (UFRPE)</li>
                            <li>Rafaella Matos (UFRPE)</li>
                            <li>Juliana Regueira Basto Diniz (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Inteligência Artificial para o desenvolvimento do Pensamento Computacional no Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Sivaldo Joaquim (UFAL)</li>
                            <li>Adilson Peixoto da Silva (SemedSSAL)</li>
                            <li>Sandra Maria dos Santos Ribeiro (São Sebastião, AL)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Missão Código Alfa: A experiência do jogo desplugado como estratégia pedagógica no PIBID</h4>
                          <ul class="autores-artigo">
                            <li>Anny Silva (UFRPE)</li>
                            <li>Juliana Regueira Basto Diniz (UFRPE)</li>
                            <li>Bianca Carneiro Ribeiro (FIR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional por meio de Atividades Lúdicas em Escola de Buenos Aires, Pernambuco</h4>
                          <ul class="autores-artigo">
                            <li>Any Caroliny Almeida (UPE)</li>
                            <li>Adelaide Dias (UPE)</li>
                            <li>Ana Gabriella C. Do Nascimento (UPE)</li>
                            <li>Edilayne L. R. Da Costa (UPE)</li>
                            <li>Ronald P. Da Silva (UPE)</li>
                            <li>Leandro de Almeida Melo (UPE)</li>
                            <li>Silvia Barbosa da Silva Rodrigues</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Educação Inclusiva e Computação: estratégias de letramento digital para estudantes com deficiência</h4>
                          <ul class="autores-artigo">
                            <li>Pedro Vitor Laurentino Silva (UFRPE)</li>
                            <li>Ervelany Lins de França (UFRPE)</li>
                            <li>José Samuel de Lucena (UFRPE)</li>
                            <li>Juliana Regueira Basto Diniz (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Práticas Desplugadas e Engajamento Estudantil: Caminhos para o Ensino de Computação nos Anos Iniciais do Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Any Caroliny Almeida (UPE)</li>
                            <li>Leandro de Almeida Melo (UPE)</li>
                            <li>Adelaide Dias (UPE)</li>
                            <li>Lílian Santiago de S. Figueirêdo</li>
                            <li>Edson R.S. dos Santos (UPE)</li>
                            <li>Byanka N.D.O. Leal (UPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando o Mundo Digital na Escola Pública: Integrando o Ensino de Computação e Sustentabilidade</h4>
                          <ul class="autores-artigo">
                            <li>Any Caroliny Almeida (UPE)</li>
                            <li>Leandro de Almeida Melo (UPE)</li>
                            <li>Adelaide Dias (UPE)</li>
                            <li>Aniely Kelly de Melo Santos (UPE)</li>
                            <li>Evaldo J. Santana (UPE)</li>
                            <li>Maria Eliza S. da Costa (UPE)</li>
                            <li>João S. Bompastor (UPE)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-sudeste">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-sudeste" aria-expanded="false" aria-controls="collapse-sudeste">
                  <h3>Polo Sudeste (USP)</h3>
                </button>
              </div>
              <div id="collapse-sudeste" class="collapse" aria-labelledby="accordion-sudeste" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Crítico e Ética no Uso de IAs Generativas: Uma Proposta de Rotação por Estações para o Ensino Médio</h4>
                          <ul class="autores-artigo">
                            <li>Ronaldo da Silva Figueiredo (UNIRIO)</li>
                            <li>Laura O. Moraes (UNIRIO)</li>
                            <li>Carla Amor Divino Moreira Delgado (UFRJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Engenharia de Prompt e Personas Pedagógicas: Uma abordagem do uso de IA na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Lucca Carvalho (UNIRIO)</li>
                            <li>Laura O. Moraes (UNIRIO)</li>
                            <li>Carla Delgado (UFRJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A Soma de Gauss como Proposta Didática para o Desenvolvimento do Pensamento Computacional no 6º ano do Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Adelson Carlos Madruga (USP/ICMC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Projeto CodifiKids: Ensino de lógica de programação na educação básica</h4>
                          <ul class="autores-artigo">
                            <li>Pedro Tiago Biffi (USP/São Carlos)</li>
                            <li>Leonardo Biondo Bertho (USP)</li>
                            <li>Luis Guilherme Zanetti (USP)</li>
                            <li>Giovanna Noventa (USP)</li>
                            <li>Eduardo do Valle Simoes (USP/São Carlos)</li>
                            <li>Lorena Borges (USP/ICMC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Parceria entre Secretaria Municipal de Educação e Universidade Pública: Modelo Inovador de Prática Educativa em Computação na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Bett Ribeiro (USP/ICMC)</li>
                            <li>Valeria Duarte</li>
                            <li>Adriana Alves da Silva</li>
                            <li>Rita de Cassia Mayumi Miyamoto</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Redes de Raciocínio: Uma Sequência Didática Desplugada para o Ensino de Lógica</h4>
                          <ul class="autores-artigo">
                            <li>Firmiano Alexandre Reis Silva (IFTM)</li>
                            <li>Luiz Theodoro (UFU)</li>
                            <li>Joao Henrique de Souza Pereira (UFU)</li>
                            <li>Rafael D. Araújo (UFU)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-sul">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-sul" aria-expanded="false" aria-controls="collapse-sul">
                  <h3>Polo Sul (UFRGS)</h3>
                </button>
              </div>
              <div id="collapse-sul" class="collapse" aria-labelledby="accordion-sul" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional e Cubo Mágico: uma abordagem desplugada e lúdica para o Ensino Fundamental II</h4>
                          <ul class="autores-artigo">
                            <li>Leandro Millis da Silva (UFRGS)</li>
                            <li>Renato Ribas (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Sequência Didática Baseada no Jogo Elementais RPG para o Ensino Explícito de Pensamento Computacional</h4>
                          <ul class="autores-artigo">
                            <li>Lucas Cavallin Caczmareki (UFPEL)</li>
                            <li>Luciana Foss (UFPEL)</li>
                            <li>Simone André da Costa Cavalheiro (UFPEL)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aplicando o JEDi Educa no Desenvolvimento da Capacidade de Avaliação da Confiabilidade de Informações do Meio Digital</h4>
                          <ul class="autores-artigo">
                            <li>Isabel Fernandes (Edu4Up)</li>
                            <li>Claudio Passos (CP II)</li>
                            <li>Paulo Coelho Ferreira (Riosoft)</li>
                            <li>Ronaldo Ribeiro Goldschmidt (IME)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Capacitação Docente no Uso da IA na Educação Básica: Uma Iniciativa Alinhada com Habilidades da BNCC Computação</h4>
                          <ul class="autores-artigo">
                            <li>Isabel Fernandes (Edu4Up)</li>
                            <li>Claudio Passos (CP II)</li>
                            <li>Ana Barreto (IME)</li>
                            <li>Alexandre dos Santos Boente</li>
                            <li>Renan Grion (UNIRIO)</li>
                            <li>Ronaldo Ribeiro Goldschmidt (IME)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendendo Árvores Binárias Brincando: Uma Proposta Desplugada para o 5º Ano</h4>
                          <ul class="autores-artigo">
                            <li>Laura Garcia Freitas (UFPEL)</li>
                            <li>Andressa Von Ahnt (UFPEL)</li>
                            <li>Simone André da Costa Cavalheiro (UFPEL)</li>
                            <li>Luciana Foss (UFPEL)</li>
                            <li>Andre Rauber Du Bois (UFPEL)</li>
                            <li>Adriana Bordini (UFPEL)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando Quebra-Cabeças Lógicos para o Desenvolvimento do Pensamento Computacional no Ensino Fundamental I</h4>
                          <ul class="autores-artigo">
                            <li>Stefany Nascimento (UFRGS)</li>
                            <li>Jonathan Morais (UFRGS)</li>
                            <li>Vanessa Padilha (UFRGS)</li>
                            <li>Bruna Gonzaga (UFRGS)</li>
                            <li>Renato Ribas (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">"E Se Flix": Produção Textual e Tecnologias Digitais no Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Natália Silva (UFRGS)</li>
                            <li>Rafaela Jardim (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Mapas e Praças de Porto Alegre: Grafos e Autômatos Finitos Determinísticos em oficina gamificada e desplugada para o Ensino Fundamental II</h4>
                          <ul class="autores-artigo">
                            <li>Júlia Oliveira (UFRGS)</li>
                            <li>Marcia Jochims Kniphoff da Cruz (UNISC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Valores Lógicos no Ensino Fundamental: Uma Proposta Desplugada e Interdisciplinar</h4>
                          <ul class="autores-artigo">
                            <li>Luciana Troyano (UFRGS)</li>
                            <li>Caroline Poggetti (UFRGS)</li>
                            <li>Leila Ribeiro (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Quem conta um conto, codifica um ponto: O Pensamento Computacional Desplugado na Reescrita de Narrativas</h4>
                          <ul class="autores-artigo">
                            <li>Caroline Poggetti (UFRGS)</li>
                            <li>Leila Ribeiro (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Da Velha a Fiar às Redes Sociais: Modelagem de Grafos na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Caroline Poggetti (UFRGS)</li>
                            <li>Leila Ribeiro (UFRGS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Proposta Didática para o Ensino de Grafos na Educação Básica por meio de Atividades Desplugadas</h4>
                          <ul class="autores-artigo">
                            <li>Rafaela Gehrke (UFFS)</li>
                            <li>Janice Teresinha Reichert (UFFS)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
