<div id="chamadas">
  <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Abaixo estão listados os trabalhos aceitos no SBC-EB 2026, agrupados pelo local de apresentação.
            A publicação de cada trabalho nos anais do evento está condicionada à inscrição de pelo menos um dos autores e à apresentação oral do trabalho no evento.
            Em todos os casos, os autores deverão preencher o <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="aceitos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h3>Polo Campo Grande - MS</h3>
          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-st1">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st1" aria-expanded="true" aria-controls="collapse-st1">
                    <h4>07 de Maio de 2026 - Sessão Técnica 1</h4>
                  </button>
              </div>
              <div id="collapse-st1" class="collapse show" aria-labelledby="accordion-st1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino de Computação com Scratch em uma Oficina para Meninas do Ensino Médio</h4>
                          <ul class="autores-artigo">
                            <li>Fernanda dos Santos Coutinho (UFJF)</li>
                            <li>Isadora de Souza (UFJF)</li>
                            <li>Lara da S Dias (UFJF)</li>
                            <li>Gabriela Fernandes Brandão (UFJF)</li>
                            <li>Larissa Machado (UFJF)</li>
                            <li>Péricles Miranda (UFRPE)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendizagem Visual de Algoritmos no Ensino Fundamental: uma Proposta Baseada em Problemas para o Ensino de Filas e Pilhas</h4>
                          <ul class="autores-artigo">
                            <li>Andriw S. de Souza (UEA)</li>
                            <li>Adriene Chaves dos Santos (UEA)</li>
                            <li>Vilmar dos Santos Cavalcante Filho (UEA)</li>
                            <li>Ione Ione de Castro Matos (UEA)</li>
                            <li>João da Mata Libório Filho (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Algoritmos em Movimento: Programação Corporal em uma Oficina Desplugada no Ensino Fundamental I</h4>
                          <ul class="autores-artigo">
                            <li>Fernanda dos Santos Coutinho (UFJF)</li>
                            <li>Isadora de Souza (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino de Engenharia de Software no Ensino Médio por meio de uma Sequência Didática baseada em Práticas Ágeis</h4>
                          <ul class="autores-artigo">
                            <li>Kauê Wallace Coelho Olímpio (UEA)</li>
                            <li>Andriw S. de Souza (UEA)</li>
                            <li>João da Mata Libório Filho (UEA)</li>
                            <li>Ione Ione de Castro Matos (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando o Pensamento Computacional com Minecraft e Code.org na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Isadora de Souza (UFJF)</li>
                            <li>Fernanda dos Santos Coutinho (UFJF)</li>
                            <li>Breno Loureiro de Paula (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Roblox como Recurso Pedagógico para o Ensino de Privacidade e Segurança Digital nos Primeiros Anos do Ensino Fundamental</h4>
                          <ul class="autores-artigo">
                            <li>Alexandre de Souza Passos (UEA)</li>
                            <li>Lucas Bina Paulo (UEA)</li>
                            <li>Ruan Carlos Pereira Barros (UEA)</li>
                            <li>Ione Ione de Castro Matos (UEA)</li>
                            <li>João da Mata Libório Filho (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Oficina Desplugada para o Desenvolvimento do Pensamento Computacional com Cubo Mágico no Ensino Fundamental I</h4>
                          <ul class="autores-artigo">
                            <li>Fernanda dos Santos Coutinho (UFJF)</li>
                            <li>Breno Loureiro de Paula (UFJF)</li>
                            <li>Isabelly de Fátima Silva (UFJF)</li>
                            <li>Nícolas Barbosa (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional na Educação Básica: Uma Proposta Desplugada com Crafting Table</h4>
                          <ul class="autores-artigo">
                            <li>Jose Melo (UEA)</li>
                            <li>Natalia dos Santos Marinho (UEA)</li>
                            <li>João da Mata Libório Filho (UEA)</li>
                            <li>Ione Ione de Castro Matos (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional no Ensino Fundamental I em Oficina Desplugada com Quebra-cabeças</h4>
                          <ul class="autores-artigo">
                            <li>Fernanda dos Santos Coutinho (UFJF)</li>
                            <li>Breno Loureiro de Paula (UFJF)</li>
                            <li>Nícolas Barbosa (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-st2">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st2" aria-expanded="false" aria-controls="collapse-st2">
                    <h4>07 de Maio de 2026 - Sessão Técnica 2</h4>
                  </button>
              </div>
              <div id="collapse-st2" class="collapse" aria-labelledby="accordion-st2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">GobDash: Um Jogo de Tabuleiro para Ensino de Computação com Foco em Criação de Algoritmos e Depuração</h4>
                          <ul class="autores-artigo">
                            <li>Isadora Gonçalves Ferreira (UFJF)</li>
                            <li>Igor Knop (UFJF)</li>
                            <li>Barbara Quintela (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Educação digital crítica no Ensino Médio: uma experiência com o escape room VigIAdos</h4>
                          <ul class="autores-artigo">
                            <li>Sandra V. C. de A. Santos (UFS)</li>
                            <li>José Silva dos Santos</li>
                            <li>Juselice Alves Araujo de Alencar</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino Desplugado de Arduino e Internet das Coisas: uma proposta de atividade para a Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Kauana Rafaela Altomani (UFPRl)</li>
                            <li>Cathleia Aisha Custodio Ferrufino (UFPR)</li>
                            <li>Carlos Roberto Beleti Junior (UFPR)</li>
                            <li>Linnyer Beatrys Ruiz Aylon (UEM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Jogo de Tabuleiro "Trilha Computacional" para Séries Iniciais do Ensino Fundamental I</h4>
                          <ul class="autores-artigo">
                            <li>Rafael Mathias (UFJ)</li>
                            <li>Pâmella Freitas (UFJ)</li>
                            <li>Thalisson Oliveira (UFJ)</li>
                            <li>Esdras Bispo Jr. (UFJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Sequência Didática para Integração entre Inteligência Artificial e Robótica Educacional no Ensino Médio</h4>
                          <ul class="autores-artigo">
                            <li>Jorge Mikael Coutinho Alves (UEA)</li>
                            <li>Genarde Macedo Trindade (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">O Algoritmo Plugado da Dobradura de Papai Noel e a Formação Docente: apropriação das tecnologias digitais e do pensamento computacional</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Hoffmann da Silva (IFRS)</li>
                            <li>Anelise Lemke Kologeski (IFRS Campus Osório)</li>
                            <li>Aline Bona (IFRS)</li>
                            <li>Marcelo Magalhães (IFRS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Criando Respeito e Empatia Digitalmente</h4>
                          <ul class="autores-artigo">
                            <li>Luis Felipe Graciolli (UFF)</li>
                            <li>Breno Chrisostomo Pinna (UFF)</li>
                            <li>Henrique Jose Couri (UFF)</li>
                            <li>Jonathan Vieira da Anunciacao (UFF)</li>
                            <li>Davi Guindani Padrao Vieira (UFF)</li>
                            <li>Graziela Ferreira Guarda (UFF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Cyberbullying e Ensino de Computação: Um Relato de Experiência fundamentado nos Três Momentos Pedagógicos em uma Escola do Campo</h4>
                          <ul class="autores-artigo">
                            <li>Gustavo de Assis Coutinho</li>
                            <li>Henrique de Lima Mascarenhas Santos (IFB)</li>
                            <li>Vitor Rafael de Sousa Vilhena (IFB)</li>
                            <li>Gabriel Serafim Gregis</li>
                            <li>Josué Felipe Vieira Klich (IFB)</li>
                            <li>Fernanda Bezerra Mateus Martin (Instituto Federal Campus Taguatinga)</li>
                            <li>Thiago Batista Amorim (IFB)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-st3">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st3" aria-expanded="false" aria-controls="collapse-st3">
                    <h4>08 de Maio de 2026 - Sessão Técnica 3</h4>
                  </button>
              </div>
              <div id="collapse-st3" class="collapse" aria-labelledby="accordion-st3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Economia Circular e Robótica Educacional: Reaproveitamento de Equipamentos de IPTV e Robôs Aspiradores no Ensino de Computação</h4>
                          <ul class="autores-artigo">
                            <li>Paulo Junior Varela (UTFPR)</li>
                            <li>Eric Endres (UTFPR)</li>
                            <li>Igor Kussumoto do Nascimento (UTFPR)</li>
                            <li>Vitor Ferreira Viana (UTFPR)</li>
                            <li>Adair Jose Rohling (UTFPR)</li>
                            <li>Edson Jorge Bocalon (Escola PR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando o Movimento em Plano Inclinado por Meio da Robótica Educacional e do Pensamento Computacional</h4>
                          <ul class="autores-artigo">
                            <li>Joana Felizardo (IFF)</li>
                            <li>Ianne Lima Nogueira (IFF)</li>
                            <li>Arthur Mozella (IFF)</li>
                            <li>Davi Reis Furtado (IFF)</li>
                            <li>Gabriel Dias (IFF)</li>
                            <li>Juan Silva Lima (IFF)</li>
                            <li>Ana Cecilia Soja (IFF)</li>
                            <li>Anderson Veiga da Silva IFFluminense)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A Música na Escola: o fazer musical em ambientes digitais</h4>
                          <ul class="autores-artigo">
                            <li>Diego Berti Bagestan (UNIVATES)</li>
                            <li>Pedro Schneider Schaeffer (Educação Teutonia)</li>
                            <li>Rafaela Carminatti (Educação Poçodas Antas)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ecomuseu Digital: Um Relato de Experiência sobre ABP e Peer Learning no Ensino de Programação Front-End</h4>
                          <ul class="autores-artigo">
                            <li>Marcos Martins (UEFS)</li>
                            <li>Leila Maria Salomão de Souza (UEFS)</li>
                            <li>Débora Gomes Gonçalves</li>
                            <li>Osmar Santana Ribeiro (UFRB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">O "Tribunal Digital" na Educação de Jovens e Adultos: Promovendo o Letramento Crítico e a Cidadania</h4>
                          <ul class="autores-artigo">
                            <li>Kellyane de Lima Caldas Kellyane (UEA)</li>
                            <li>Tamylla Vitória Barbosa Farias (UEA)</li>
                            <li>Ethel Silva de Oliveira (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação de professores da educação básica com atividades plugadas e desplugadas para personalizar o ensino da matemática</h4>
                          <ul class="autores-artigo">
                            <li>Anelise Lemke Kologeski (IFRS Campus Osório)</li>
                            <li>José Artur Costa de Souza (IFRS)</li>
                            <li>Marina Gabriela de Azevedo Giovanella da Costa (IFRS)</li>
                            <li>Julia Ramos da Silva Velasco (IFRS)</li>
                            <li>Aline Bona (IFRS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">UX/UI e Pensamento Computacional no Ensino Médio: Uma Proposta Alinhada à BNCC para a Formação em Computação e Inclusão Feminina</h4>
                          <ul class="autores-artigo">
                            <li>Camila Paiva (UFC)</li>
                            <li>Francisca Maria Rodrigues Andrade (UFC)</li>
                            <li>Gisele Costa (UFCE)</li>
                            <li>Nivea Hayane (UFC)</li>
                            <li>Livia Coelho Muniz (UFC)</li>
                            <li>Lisieux Marie M. dos S. Andrade (UFC)</li>
                            <li>Amanda Drielly Pires Venceslau (UFC)</li>
                            <li>Viviane Menezes (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="accordion-st4">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-st4" aria-expanded="false" aria-controls="collapse-st4">
                    <h4>08 de Maio de 2026 - Sessão Técnica 4</h4>
                  </button>
              </div>
              <div id="collapse-st4" class="collapse" aria-labelledby="accordion-st4" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendendo a Decifrar Códigos: Relato de Experiência de uma Oficina de Computação Inspirada em Hedy Lamarr</h4>
                          <ul class="autores-artigo">
                            <li>Gabriela Chapinotti (UFJF)</li>
                            <li>Juliana Lindebeck (UFJF)</li>
                            <li>Isabela Gomes (UFJF)</li>
                            <li>Fernanda Gomes (UFJF)</li>
                            <li>Geisielen Gomes (UFJF)</li>
                            <li>Julia Campos (UFJF)</li>
                            <li>Marco Escher (UFJF)</li>
                            <li>Barbara Quintela (UFJF)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">IAção: Criatividade digital e Aprendizagem com Inteligência Artificial como Estratégia para seu uso Ético</h4>
                          <ul class="autores-artigo">
                            <li>Náthalli Maciel (UnB)</li>
                            <li>Leticia Lopes Leite (UnB)</li>
                            <li>Letícia Flores (UnB)</li>
                            <li>Deise Ferreira (UnB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Oficina de Introdução a Programação com Blocos e Python como Treinamento para a OBI</h4>
                          <ul class="autores-artigo">
                            <li>Lara Esteves</li>
                            <li>Mell R Rocha (UFJF)</li>
                            <li>Eduarda Miguel (UFJF)</li>
                            <li>Lorenza Moreno (UFJF)</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                            <li>Barbara Quintela (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Relato de Oficina para Ensino de Lógica Condicional Utilizando o Jogo UNO para Estudantes do Ensino Fundamental II</h4>
                          <ul class="autores-artigo">
                            <li>Eduarda Miguel (UFJF)</li>
                            <li>Mell R Rocha (UFJF)</li>
                            <li>Lara Esteves</li>
                            <li>Alessandreia Marta de Oliveira (UFJF)</li>
                            <li>Barbara Quintela (UFJF)</li>
                            <li>Lorenza Moreno (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Redes Neurais Convolucionais na Educação Básica: Uma Experiência com Meninas do Ensino Médio</h4>
                          <ul class="autores-artigo">
                            <li>Maria Vitória Matos Mourão (UnB)</li>
                            <li>Natalia Leal dos Santos (UnB)</li>
                            <li>Maria Clara de Carvalho Moreira (UnB)</li>
                            <li>Maristela Holanda (UnB)</li>
                            <li>Maria Emilia Machado Telles Walter (UnB)</li>
                            <li>Carla Cavalcante Koike (UnB)</li>
                            <li>Leticia Lopes Leite (UnB)</li>
                            <li>Aleteia Araujo (UnB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Proposta de Oficina com Arduino para o Desenvolvimento do Pensamento Computacional no Ensino Médio</h4>
                          <ul class="autores-artigo">
                            <li>Juliana Lindebeck (UFJF)</li>
                            <li>Fernanda dos Santos Coutinho (UFJF)</li>
                            <li>Ronney Moreira de Castro (UFJF)</li>
                            <li>Luciana Conceição Dias Campos (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A Matemática e o Pensamento Computacional na Produção de Algoritmos Precisos de Dobradura de Papel</h4>
                          <ul class="autores-artigo">
                            <li>Miguel Meregalli Machado (IFRS Campus Osório)</li>
                            <li>Aline Bona (IFRS)</li>
                            <li>Anelise Lemke Kologeski (IFRS Campus Osório)</li>
                            <li>Lucas Silveira Lima Portal (CNPq)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
