<div id="chamadas">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="coordenacao">
            <strong>Coordenação:</strong> Aleteia Araujo (UnB) | Rozelma França (UFRPE)<br>
            <strong>Contato:</strong> <a href="mailto:aleteia@unb.br">aleteia@unb.br</a> | <a href="mailto:rozelma.franca@ufrpe.br">rozelma.franca@ufrpe.br</a>
          </div>
          <p>
            O <strong>III Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2026)</strong> convida docentes da Educação Básica, discentes de cursos de licenciatura e demais pessoas envolvidas no ensino de Computação na Educação Básica a submeterem propostas de atividades que apoiem o desenvolvimento das habilidades da <a href="http://portal.mec.gov.br/index.php?option=com_docman&view=download&alias=236791-anexo-ao-parecer-cneceb-n-2-2022-bncc-computacao&category_slug=fevereiro-2022-pdf&Itemid=30192" target="_blank">BNCC Computação</a>.
          </p>
          <p>
            Os trabalhos aceitos serão publicados na biblioteca digital <a href="https://sol.sbc.org.br/index.php/sbceb" target="_blank">SBC-OpenLib</a> e apresentados na <strong>sede</strong> (Campo Grande/MS) ou em um dos <strong>polos regionais</strong> do evento:
          </p>
          <ul>
            <li><strong>Centro-Oeste</strong>: Campo Grande/MS (UFMS)</li>
            <li><strong>Nordeste</strong>: Recife/PE (UFRPE)</li>
            <li><strong>Norte</strong>: Marabá/PA (UNIFESSPA)</li>
            <li><strong>Sul</strong>: Porto Alegre/RS (UFRGS)</li>
            <li><strong>Sudeste</strong>: São Carlos/SP (USP)</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="datas-importantes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Datas importantes</h2>
          <div class="row justify-content-center">
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">13</span>
                  {{!-- <span class="dia">27</span> --}}
                  <span class="mes">fevereiro</span>
                  <span class="ano">2026</span>
                  {{!-- <span class="prazo-firme">Prorrogado!</span> --}}
                </div>
                <div class="card-body">
                  {{!-- <p class="card-text data-riscada">13/02/2026</p> --}}
                </div>
                <div class="card-footer text-center">Envio dos trabalhos</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">30</span>
                  <span class="mes">março</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Notificação de aceite</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">10</span>
                  <span class="mes">abril</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Inscrição dos autores(as)</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">10</span>
                  <span class="mes">abril</span>
                  <span class="ano">2026</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio da versão final</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="sobre-evento">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Sobre o evento</h2>
          <p>
            A Computação está cada vez mais presente na sociedade contemporânea, impactando na forma como as pessoas se relacionam com o mundo à sua volta, em esferas como trabalho, educação, lazer e atividades cotidianas. Nesse contexto, desenvolver competências e habilidades da área é essencial para conviver e prosperar neste mundo permeado por tecnologias digitais.
          </p>
          <p>
            A recente inclusão da Computação na Base Nacional Comum Curricular corrobora com a importância dessa formação na Educação Básica. 
            No entanto, diversos desafios permeiam a sua implementação na sala de aula, como a formação docente, currículo, recursos e materiais didáticos que atendam às necessidades e diversidades das escolas brasileiras.
          </p>
          <p>
            Nesse cenário, em sua terceira edição, o SBC-EB 2026 objetiva reunir docentes da Educação Básica, gestores públicos e escolares, docentes e discentes de cursos de licenciaturas, pesquisadores e demais interessados, criando um fórum de discussão, aprendizado e troca de experiências em torno do ensino de Computação na Educação Básica.
          </p>
          <p>
            O SBC-EB 2026 será realizado junto ao VI Simpósio Brasileiro de Educação em Computação (EduComp 2026), ampliando os espaços de diálogo e integração da comunidade nacional com interesse em Computação na Educação Básica.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="topicos-interesse">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Tópicos de interesse</h2>
          <ul>
            <li><strong>Atividades do Eixo Pensamento Computacional</strong>
              <ul>
                <li><em>Refere-se à habilidade de compreender, analisar definir, modelar, resolver, comparar e automatizar problemas e suas soluções de forma metódica e sistemática, através do desenvolvimento da capacidade de criar e adaptar algoritmos, aplicando fundamentos da computação para alavancar e aprimorar a aprendizagem e o pensamento criativo e crítico nas diversas áreas do conhecimento.</em></li>
              </ul>
            </li>
            <li><strong>Atividades do Eixo Mundo Digital</strong>
              <ul>
                <li><em>Envolve aprendizagens sobre artefatos digitais, compreendendo tanto elementos físicos (computadores, celulares, tabletes) quanto virtuais (internet, redes sociais e nuvens de dados). Compreender o mundo contemporâneo requer conhecimento sobre o poder da informação e a importância de armazená-la e protegê-la, entendendo os códigos utilizados para a sua representação em diferentes tipologias informacionais, bem como as formas de processamento, transmissão e distribuição seguras e confiáveis.</em></li>
              </ul>
            </li>
            <li><strong>Atividades do Eixo Cultura Digital</strong>
              <ul>
                <li><em>Envolve aprendizagens voltadas à participação consciente e democrática por meio das tecnologias digitais, o que pressupõe compreensão dos impactos da revolução digital e seus avanços na sociedade contemporânea; bem como a construção de atitude crítica, ética e responsável em relação à multiplicidade de ofertas midiáticas e digitais, e os diferentes usos das tecnologias e dos conteúdos veiculados; assim como fluência no uso da tecnologia digital para proposição de soluções e manifestações culturais contextualizadas e críticas.</em></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Orientações para Submissão de Trabalhos</h2>
          <p>
            O SBC-EB 2026 aceitará <strong>resumos expandidos</strong> com <strong>propostas originais de atividades</strong> ou <strong>relatos de aplicação de atividades, acompanhado de uma análise crítica dos resultados.</strong>
            As atividades devem ter como público-alvo a Educação Básica e apoiar o desenvolvimento de uma ou mais habilidades previstas nas "<a href="http://portal.mec.gov.br/index.php?option=com_docman&view=download&alias=236791-anexo-ao-parecer-cneceb-n-2-2022-bncc-computacao&category_slug=fevereiro-2022-pdf&Itemid=30192" target="_blank">Normas sobre Computação na Educação Básica – Complemento à Base Nacional Comum Curricular (BNCC)</a>".
          </p>
          <p>
            Os trabalhos deverão contemplar as seguintes seções:
          </p>
            <ul>
              <li>Resumo e Abstract</li>
              <li>Objetivos Geral e Específicos</li>
              <li>Público-Alvo</li>
              <li>Habilidades Exploradas</li>
              <li>Recursos e Materiais Utilizados</li>
              <li>Metodologia Detalhada de Desenvolvimento da Atividade ou de sua Aplicação na Educação Básica</li>
              <li>Avaliação e Referências</li>
            </ul>
            <p>
              <strong>Trabalhos diferentes do formato descrito não serão aceitos.</strong>
            </p>
            <p>
              Os resumos devem conter, no mínimo, 3 e, no máximo, 5 páginas, excluindo as referências. Todo o resumo deve ser escrito em português (com exceção do abstract), seguindo o <a href="https://www.sbc.org.br/documentosinstitucionais/#publicacoes" target="_blank">modelo de publicação de artigos da Sociedade Brasileira de Computação</a>.
            </p>
            <p>
              As submissões deverão ser realizadas eletronicamente, por meio do sistema JEMS, em PDF (<a href="https://jems3.sbc.org.br/events/508" target="_blank">https://jems3.sbc.org.br/events/508</a>). 
              Todos os trabalhos submetidos serão avaliados por, pelo menos, dois integrantes do Comitê de Programa.
            </p>
            <p>
              Os trabalhos aceitos serão publicados nos anais do evento no Portal de Publicações e Conteúdos Digitais da SBC - <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>, desde que haja:
            </p>
              <ul>
                <li>Inscrição de pelo menos uma das pessoas autoras no SBC-EB 2026;</li>
                <li>Envio do <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/Autoriza-o-de-Publica-o-CC-BY-4.0-WICS-2020.pdf" target="_blank">termo de autorização de publicação</a> preenchido e assinado;</li>
                <li>Apresentação presencial do trabalho na sede (Campo Grande/MS) ou em um dos polos regionais do evento (Recife/PE, Marabá/PA, Porto Alegre/RS ou São Carlos/SP).</li>
              </ul>
        </div>
      </div>
    </div>
  </section>
</div>