<div id="30-assembleia" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Assembleia GIEC</h1>
         
          {{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=EEd1Zb7WTpY"
          }}
          
          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            (1) Informes <br>
            <b>Prof. Roberto Bittencourt (UEFS)</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            (2) Relatório da Gestão Interina 2020-2021 <br>
            <b>Prof. Esdras Bispo Jr. (UFJ)</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            (3) EduComp 2022 <br>
            <b>Prof. Roberto Bittencourt (UEFS)</b>
          </span>

          <span style="font-size: large;">
            (4) Eleições do GIEC (2021-2022)<br>
            <b>Prof. Johnny Marques (ITA)</b><br>
            <b>Prof. Yorah Bosse (UFMS)</b>
          </span>

    </div>
  </div>