<div id="30-assembleia" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Assembleia GIEC</h1>
         
          {{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=EEd1Zb7WTpY"
          }}
          
          <span style="font-size: large;">
            - Informes<br>
            - Relatório da Gestão Interina 2020-2021<br>
            - EduComp 2022<br>
            - Eleição do Comitê Gestor do GIEC (2021-2022)<br>
          </span>

    </div>
  </div>