<div id="30-encerramento-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Mesa de Encerramento do EduComp</h1>
        
        {{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=URWKRXYQSFY"
        }}
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Roberto Almeida Bittencourt (UEFS) <br>
          <b>Coordenador do Comitê de Programa</b>
        </span>
        <span style="font-size: large;">
            - Números do EduComp 2021<br>
            - Premiação dos melhores revisores<br>
            - Premiação dos melhores artigos<br>
            - Encerramento<br>
          </span>
    </div>
  </div>