<div id="30-encerramento-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Mesa de Encerramento do EduComp</h1>
        
        {{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=URWKRXYQSFY"
        }}
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            (1) Números do EduComp 2021 <br>
            <b>Prof. Roberto Bittencourt (UEFS)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            (2) Premiação dos melhores revisores <br>
            <b>Prof. Roberto Bittencourt (UEFS)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            (3) Premiação dos melhores artigos <br>
            <b>Profa. Mirella Moro (UFMG)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            (4) Encerramento <br>
            <b>Prof. Alex Sandro Gomes (CEIE)</b><br>
            <b>Prof. Roberto Bittencourt (GIEC)</b>
        </span>
    </div>
  </div>