<div id="30-lab-ideias-iv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Computação na Educação Básica (LI-X)"
          chair_sessao="<!-- André Raabe (UNIVALI) -->" 
          chair_sessao2="<!-- André Raabe (UNIVALI) -->"
          
          artigo1_titulo="Ensino-Aprendizagem de Programação utilizando Storytelling na Educação Infantil"
          artigo1_autores="Franciely Souza, Maria Renay Silva"
          
          artigo2_titulo="Avaliação Heurística de Ferramentas de Programação em Blocos"
          artigo2_autores="Franciely Souza, Taciana Pontual, Rafael Mello"

          artigo3_titulo="Explorando o Pensamento Computacional em Salas de Aulas de Ciências	"
          artigo3_autores="Ruallyson Moura, Fernando Gomes, Adrielle Sousa, José Alexandre da Silva, Rozelma Soares"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Engenharia de Software (LI-XI)"
          chair_sessao="<!-- André Raabe (UNIVALI) -->" 
          chair_sessao2="<!-- André Raabe (UNIVALI) -->"
          
          artigo1_titulo="Avaliação da Qualidade para Pesquisas em Educação em Engenharia de Software"
          artigo1_autores="Cleuton Almeida, César França"
          
          artigo2_titulo="Aplicando Ecossistemas de Software na Disciplina Engenharia de Software"
          artigo2_autores="Francisco Pinheiro, Emanuel Coutinho"

          artigo3_titulo="Jogando para Aprender: Uma Pesquisa sobre a Influência do Jogo Black Stories nas Habilidades e Competências de Estudantes de Engenharia de Requisitos"
          artigo3_autores="Jorge Lima, Andressa Ferreira"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Avaliação e Rubricas (LI-XII)"
          chair_sessao="<!-- André Raabe (UNIVALI) -->" 
          chair_sessao2="<!-- André Raabe (UNIVALI) -->"
          
          artigo1_titulo="Automatic creating variation of CS1 assignments and exams"
          artigo1_autores="Filipe Dwan, Hermino de Freitas Jr, Elaine Oliveira, Leandro Galvão, David Oliveira, Aileen Benedict, Mohsen Dorodchi, Alexandra Cristea"
          
          artigo2_titulo="Game Learning Analytics como Artefato Avaliativo Sobre o Conceito de Probabilidade"
          artigo2_autores="Josevandro Nascimento, Rodrigo Rodrigues, Vladimir Andrade"

          artigo3_titulo="Validação e análise de um inventário de conceitos sobre programação introdutória"
          artigo3_autores="Ana Caroline Braz, Leandro Galvão, Elaine Oliveira, David Oliveira, Filipe Dwan, Roberto Bittencourt, Bianca Santana
"
        }}
    </div>
  </div>