<div id="30-sessao-tecnica-xiii-xiv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          sessao=true
          
          titulo_sessao="Computação Desplugada (ST-XIII)"
          chair_sessao="Profa. Rozelma França (UFRPE)"  
          
          artigo1_titulo="PC-Câmbio: Proposta de Atividade Lúdica e Desplugada Aplicando a Metodologia do Pensamento Computacional"
          artigo1_autores="Yuri Rosa, Renata Reiser, Placida Oliveira, Luciana Foss, Simone André da Costa Cavalheiro, Andre Du Bois, Clause Piana, Ana Rita Mazzini"
          
          artigo2_titulo="Plugando o Desplugado para Ensino de Computação na Escola Durante a Pandemia do Sars-CoV-2"
          artigo2_autores="Tainã Ellwanger Tavares, Samanta Ghisleni Marques, Marcia Kniphoff da Cruz"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          sessao=true
          
          titulo_sessao="Aprendizagem Significativa (ST-XIV)"
          chair_sessao="Prof. Ecivaldo Matos (UFBA)"  
          
          artigo1_titulo="Banco de Dados na Educação Profissional: um Estudo de Caso à Luz da Teoria da Aprendizagem Significativa"
          artigo1_autores="João Franco, Jorge Leite Jr"
          
          artigo2_titulo="Por que estimular a Aprendizagem Significativa no ensino de Programação Orientada a Objetos?"
          artigo2_autores="Humberto Zanetti, Marcos Borges"
        }}

    </div>
  </div>