.content-educomp #chamadas {
  .coordenacao {
    padding-bottom: 2em;
  }

  #trilhas {
    .trilha-num {
      font-weight: 600;
    }

    .accordion {
      h3 {
        padding: 0.5em 0;
        margin: 0;
        font-size: 1.2em;
      }

      .btn-link {
        color: var(--edc-blue);
        font-size: clamp(13px, 1.5vw, 16px);
        padding: 0;
      }

      .btn-link:hover {
        text-decoration: none;
      }

      .btn-link:focus {
        text-decoration: none;
        box-shadow: none;
      }

      .card {
        border: 1px solid var(--gray-dark);
        background-color: var(--edc-gray);
        transition: transform 0.2s;
        flex-direction: column;
        display: flex;
      }

      .card:hover {
        transform: scale(1.02);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      }

      .card-header {
        display: flex;
        align-items: center;
        flex: 1;
      }
    }
  }

  #datas-importantes {
    background-color: var(--edc-blue-bg);
    padding-top: 2em;
    margin-bottom: 2em;

    strong {
      color: var(--edc-red);
      font-weight: 400;
    }

    s {
      color: car(--gray);
      font-size: 0.7em;
      font-weight: 300;
    }

    h2 {
      text-decoration: none !important;
      text-transform: uppercase;
      border-bottom: none !important;
      color: var(--edc-blue) !important;
      text-align: center !important;
      font-weight: 400;
    }

    .card {
      background: white;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .card:hover {
      transform: scale(1.05);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card-title {
      color: var(--edc-blue);
      font-weight: 500;
      font-size: 1.5em;
      padding: 1em 1em 0;
    }

    .card-body {
      flex-grow: 1;
      display: flex;
      flex-direction: column-reverse;
      align-items: stretch;
    }

    .card-footer {
      background-color: var(--edc-green);
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 5em;
      font-weight: 500;
      color: white;
      margin-top: auto;
    }

    .dia {
      display: block;
      text-align: left;
      font-size: 2.5em;
      font-weight: 600;
      line-height: 1.2;
    }

    .mes {
      display: block;
      text-align: left;
      font-size: 1em;
      font-weight: 500;
    }

    .ano {
      display: block;
      text-align: left;
      font-size: 0.7em;
      font-weight: 400;
    }

    .data-proxima {
      color: var(--edc-blue);
    }

    .data-passado {
      color: var(--gray);
    }

    .prazo-firme {
      display: block;
      text-align: center;
      color: var(--edc-red);
      font-weight: 400;
      font-size: 0.7em;
      margin-top: 10px;
    }

    .data-riscada {
      text-decoration: line-through;
      color: var(--gray);
    }

    .card-text {
      margin-bottom: 0;
    }

    @media (max-width: 575.98px) {
      .card-footer {
        min-height: auto;
      }

      .card-body {
        padding: 0.5em;
      }

      .dia, .mes, .ano {
        text-align: center;
      }
    }
  }
}
