.educomp #equipes h3 {
    font-size: 1.5em;
    text-align: center;
}

.col-title {
    border: 0 !important;
}

.col-nome {
    width: 40%;
}

.col-inst {
    width: 20%;
}

.col-mail {
    width: 40%;
}

.table {
    margin-bottom: 4em;
}