.content-educomp #equipes .table {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-bottom: 4em;
}

.content-educomp #equipes thead {
  background-color: var(--edc-green-bg);
}

.content-educomp #equipes .col-nome {
  width: 40%;
}

.content-educomp #equipes .col-inst {
  width: 20%;
}

.content-educomp #equipes .col-mail {
  width: 40%;
}

/* Estilos para telas pequenas */
@media (max-width: 767.98px) {
  .content-educomp #equipes {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  .content-educomp #equipes .table {
    width: 100%;
    border-radius: 0;
  }

  .content-educomp #equipes .col-nome,
  .content-educomp #equipes .col-inst,
  .content-educomp #equipes .col-mail {
    width: auto;
    display: block;
    text-align: left;
  }

  .content-educomp #equipes thead {
    display: none;
  }

  .content-educomp #equipes tbody tr {
    display: block;
    border-bottom: 1px solid var(--edc-green);
  }

  .content-educomp #equipes tbody tr td {
    display: block;
    text-align: left;
    padding: 0.5em;
    border-bottom: 1px solid var(--edc-gray);
  }

  .content-educomp #equipes tbody tr td:before {
    content: attr(data-label);
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
  }
}
