/* .educomp-header {
    padding-top: 5em;
} */

.educomp-header .navbar {
    max-width: 100%;
}

.educomp-header .navbar-transparent {
    background-color: transparent !important;
    transition: background-color 0.5s ease;
    border-bottom: none;
}

.educomp-header .navbar-scrolled {
    background-color: white !important;
    box-shadow: 0 2px 4px var(--gray);
    transition: background-color 0.5s ease;
}

.educomp-header .navbar .button-drop {
    color: var(--edc-blue);
    padding: 1em;
}

.educomp-header .navbar .button-drop i {
    font-size: 1.5em;
}

.educomp-header .navbar img {
    height: 5em;
    padding: 1em;
}

.educomp-header .navbar .nav-item>a {
    color: var(--edc-blue);
    font-weight: bold;
}

.educomp-header .navbar .nav-item a:hover {
    background-color: var(--edc-blue) !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.educomp-header .navbar-transparent .nav-item .active {
    color: var(--edc-green);
    background-color: transparent !important;
    transition: background-color 0.5s ease;
    transition: border-bottom 0.5s ease;
    border-bottom: 0.5em solid transparent; 
}

.educomp-header .navbar-scrolled .nav-item .active {
    color: var(--edc-green);
    background-color: var(--edc-gray);
    transition: background-color 0.5s ease;
    transition: border-bottom 0.5s ease;
    border-bottom: 0.5em solid var(--edc-green); 
}

.educomp-header .navbar-scrolled .nav-item .active:hover {
    background-color: var(--edc-blue);
}

/* Estilos para telas abaixo de 992px */
@media (max-width: 991.98px) {
    .educomp-header .navbar .nav-link {
        padding: 2em 1em !important;
    }
}

/* Estilos para telas acima de 992px */
@media (min-width: 992px) {
    .educomp-header .navbar .nav-link {
        padding: 4em 1em !important;
    }
}