.content-educomp #educomp-home {
  #carrossel {
    background-color: white;

    .carousel-indicators li {
      background-color: #000;
    }

    .carousel-indicators .active {
      background-color: #007bff;
    }

    .custom-carousel-container {
      max-width: 1140px; /* Alinhado com o container padrão do Bootstrap */
      margin: 0 auto; /* Centraliza o contêiner */
    }
  }

  #sobre-educomp {
    background-color: var(--edc-blue);
    padding: 3em 0 0;

    p,
    h2 {
      color: white;
    }

    img {
      max-width: 420px;
    }
  }

  #chamadas {
    padding: 3em 0;

    h2 {
      font-size: 2em;
      font-weight: 500;
      text-align: center;
      border-bottom: none !important;
      margin-bottom: 2em;
      text-transform: uppercase;
    }

    .text-red {
      color: var(--edc-red);
    }

    .chamada-card {
      position: relative;
      background: white;
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 2rem 1rem 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      height: 100%;

      .icon-circle {
        position: absolute;
        top: -30px;
        left: 50%;
        transform: translateX(-50%);
        width: 60px;
        height: 60px;
        background-color: var(--edc-blue);
        color: white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }

      .card-title {
        margin-bottom: 0;

        h3 {
          font-size: 1.2rem;
          font-weight: 400;
          color: var(--edc-blue);
          margin-top: 15px;
          text-align: center;
        }
      }

      .card-body {
        padding: 0.8rem;

        p {
          font-size: 0.875rem;
          color: #555;
          margin: 0;
          font-weight: 400;
          line-height: 1.4;
        }
      }

      .card-footer {
        border-top: none;
        background-color: transparent;
        box-shadow: none;
      }

      .btn {
        border-radius: 25px;
        background-color: transparent;
        border: 1px solid var(--edc-blue);
        font-weight: bold;
        text-decoration: none;
        padding: 7px 35px;
      }

      .btn:hover {
        background-color: var(--edc-blue);
        color: white;
        transition: background-color 0.3s ease;
      }
    }

    .chamada-card:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card-1 {
      background-color: var(--edc-green-bg);
    }
    .card-2 {
      background-color: var(--edc-yellow-bg);
    }
    .card-3 {
      background-color: var(--edc-pink-bg);
    }
    .card-4 {
      background-color: var(--edc-purple-bg);
    }
    .card-5 {
      background-color: var(--edc-orange-bg);
    }
    .card-6 {
      background-color: var(--edc-blue-bg);
    }
  }

  #presencial {
    padding: 3em 0;
    background-color: var(--edc-gray-bg);
    text-align: center;

    h2 {
      color: var(--edc-green);
      text-decoration: none;
      border-bottom: none;
      text-align: center;
      font-weight: 600;
    }

    .card {
      color: white;
      border: 1px solid #ddd;
      border-radius: 20px;
      padding: 2rem 1rem 0 1rem;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      aspect-ratio: 5/3;
    }

    .card::before {
      content: '';
      position: absolute;
      border-radius: 20px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 60, 0.4);
      z-index: 1;
    }

    .card:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .card-jf {
      background-image: url('/img/simposio/2025/educomp/card-jf.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .card-ufjf {
      background-image: url('/img/simposio/2025/educomp/card-ufjf.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .card-title {
      position: relative;
      z-index: 2;
      padding: 1em 0;

      h3 {
        color: white;
        font-size: 1.8em;
        font-weight: 600;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
      }
    }

    .card-footer {
      position: relative;
      z-index: 2;
      border-top: none;
      background-color: transparent;
      box-shadow: none;
      color: lightgray;
      padding: 0;
      font-size: 0.7em;
      text-align: right;

      a {
        text-decoration: none;
        color: lightgray;
        font-size: 1em;
      }
    }

    .btn {
      position: relative;
      z-index: 2;
      color: white;
      border-radius: 25px;
      background-color: transparent;
      border: 3px solid white;
      text-decoration: none;
      padding: 10px 35px;
    }

    .btn:hover {
      background-color: var(--edc-gray);
      color: white;
      transition: background-color 0.3s ease;
    }
  }

  #sbc-eb {
    background-color: #2b7ec2;
    background-color: var(--eb-blue-medium);
    padding: 3em 0;
    color: white;
    text-align: center;

    strong {
      font-weight: 600;
      color: inherit;
    }

    h2 {
      font-weight: 600;
      text-align: center;
      color: white;
      text-decoration: none;
      border: none;

      .text-yellow {
        color: var(--eb-yellow);
      }
    }

    h3 {
      color: var(--eb-yellow);
      margin-bottom: 2rem;
      font-weight: 500;
      text-decoration: none;
      text-align: center;
    }

    .btn {
      color: white;
      border-radius: 25px;
      background-color: transparent;
      border: 2px solid white;
      text-decoration: none;
      margin-top: 20px !important;
      padding: 10px 35px;
      font-size: 1em;
    }

    .btn:hover {
      background-color: var(--eb-yellow);
      color: white;
      transition: background-color 0.3s ease;
    }
  }

  #sobre-sbc {
    padding: 3em 0;

    .card-sbc {
      max-width: 400px;

      .card-sbc-frente {
        transform: rotate(-3deg);
        position: relative;
        /* right: 25px; */
        z-index: 1;
      }

      .card-sbc-verso {
        transform: rotate(4deg);
        position: relative;
        top: -25px;
        /* left: 25px; */
        z-index: 0;
      }

      img:hover {
        transition: transform 0.5s ease, box-shadow 0.3s ease;
        transform: scale(1.02);
      }
    }
  }

  #parceiros {
    background-color: var(--edc-gray-bg);
    padding: 3em 0;

    h2 {
      color: var(--edc-green);
      text-decoration: none;
      border-bottom: none;
      text-align: center;
      font-weight: 600;
    }

    h3 {
      color: var(--edc-blue);
      text-decoration: none;
      border-bottom: none;
      text-align: center;
      margin: 5px 0;
    }

    .card {
      background: white;
      border: 1px solid lightgrey;
      border-radius: 20px;
      padding: 1em;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      width: 100%;
      aspect-ratio: 6/3;  
      
      
      /* .card-body {
        padding: 0;
      } */

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        max-width: 100%;
        max-height: 100%;
      }
    }
    
    .card:hover {
      transform: scale(1.02);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    /* .card-grande {
      height: 200px;
      aspect-ratio: 5/3;
    }

    .card-medio {
      height: 175px;
      aspect-ratio: 4/3;
    }

    .card-pequeno {
      height: 150px;
      aspect-ratio: 3/3;
    } */
  }

  .CardsSession {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--edc-green-bg);
    padding-top: 30px;
    gap: 15px;
    height: auto;

    h2 {
      color: var(--edc-blue);
      text-decoration: none;
      border-bottom: none;
      text-align: center;
      font-weight: 600;
    }

    .ContainerCards {
      display: flex;
      width: 90%;
      height: auto;
      flex-direction: row;
      gap: 30px;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      max-width: 1000px;
      .Grande {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gainsboro;
        border-radius: 10px;
        height: 190px;
        width: 300px;
      }
      .Medio {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gainsboro;
        border-radius: 10px;
        height: 160px;
        width: 280px;
      }
      .Pequeno {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: gainsboro;
        border-radius: 10px;
        height: 130px;
        width: 220px;
      }
      .Card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
        h4 {
          color: #fff;
          font-weight: 600;
          margin: 0;
        }

        .LogosCtn {
          /* padding: 20px; */
          /* height: 190px; */
          gap: 15px;

          width: 100%;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
          img {
            background-color: gainsboro;

            height: 80px;
          }
          .caedLogo {
            width: 270px;
            height: 60px;
          }
        }
      }
    }
  }

  /* 
    .container-content {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 2rem;
      justify-content: center;
    } */

  /* .image {
      flex: 1 1 40%;
    } */

  /* .image img {
      width: 100%;
      height: auto;
      border-radius: 8px;
    } */

  /* .text {
      flex: 1 1 50%;
      text-align: left;
    }

    .text h4 {
      font-size: 1.8rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .text p {
      font-size: 1rem;
      line-height: 1.6;
      text-align: justify;
    } */

  /* .educomp #logotipo .container {
    height: calc(80vh - 500px);
} */

  /* .educomp #logotipo .landing-image {
  margin-top: 80px;
  height: auto;
  width: auto;
  object-fit: contain;
  max-width: 100%;
  max-height: 100vh;
} */

  /* Estilos para telas acima de 992px */
  /* @media (min-width: 992px) {
  .educomp .landing-image {
    content: url('/img/simposio/2025/landing_image_large.png');
  }
} */

  /* Estilos para telas abaixo de 768px */
  /* @media (max-width: 767.98px) {
  .educomp .sobre #logotipo .container {
    height: auto !important;
    padding-top: 8em;
    padding-bottom: 20px;
  }

  .educomp .landing-image {
    content: url('/img/simposio/2025/landing_image_tall.png');
    max-height: 50vh;
    margin: 0 auto;
  }

  .educomp .sobre h2 {
    font-size: 2em;
  }

  .educomp .sobre .lead {
    font-size: 1rem;
  }
} */

  /* .row.justify-content-center {
    gap: 2rem;
  } */

  /* #sobre1 p {
    width: 50%;

    font-size: 1.3rem;
    line-height: 150%;
    text-align: left;
    font-family: 'Inter var', sans-serif;
  }

  #sobre1 .row > div {
    padding-left: 3rem;
  } */

  /* #trilhas {
    background-image: url('.img-fluid');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  #trilhas .row > div {
    padding-left: 3rem;
  }

  #trilhas .title-2 {
    width: 100%;
    border: none;
    font-size: 3rem;
  }

  #trilhas .card-wrapper-trilhas {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  #trilhas .card-wrapper-trilhas .card {
    max-width: 20rem;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    flex-direction: column;

    justify-content: center;
  }

  #trilhas .card-wrapper-trilhas .card .card-img-top {
    max-width: 80%;
    margin: 0 auto;
  }

  #trilhas .card-wrapper-trilhas .card .card-body {
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem;
  }

  #trilhas .card-wrapper-trilhas .card .card-title {
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    height: 3rem;
  }

  #trilhas .card-wrapper-trilhas .card .card-text {
    font-size: 0.8rem;
    color: #544f4f;
    font-weight: 600;
    color: 544F4F;
    text-align: center;
    height: 9rem;
  } */
  /* 
  .btn-card {
    color: #fff;
    width: 60%;
    margin: 0 auto;
    background-color: #1a1c3a;
    padding: 0.2rem;
    border-radius: 40px;
    text-align: center;
    justify-content: center;
  }

  #quarta-edicao {
    background-image: url('/img/simposio/2024/sobre-img-2.png');
    background-repeat: no-repeat;
    background-position: left;
    padding: 8rem;
  }

  #quarta-edicao .content {
    display: flex;
    flex-direction: column;
    align-items: end;
  }

  #quarta-edicao h2 {
    width: 100%;
    border-bottom: 2px solid #3dc0f0;

    font-size: 3.4rem;
    color: #1a1c3a;
    font-weight: bolder;
    line-height: 6rem;
    text-align: right;
  }

  #quarta-edicao p {
    width: 90%;
    font-size: 1rem;
    line-height: 150%;
    text-align: left;
    font-family: 'Inter var', sans-serif;
    text-align: right;
  } */

  /* @media screen and (min-width: 1026px) {
    #sobre1 img {
      display: none;
    }
  } */

  /* @media screen and (min-width: 321px) and (max-width: 1025px) {
    #sobre1,
    #quarta-edicao {
      background-image: none;
    }

    #sobre1 {
      margin-bottom: 40%;
      padding: 10px 0;
    }

    #sobre1 p,
    #quarta-edicao p {
      width: 100%;
      text-align: justify;
    }

    #sobre1 .row > div,
    #quarta-edicao .content {
      position: relative;
      width: 100% !important;
      padding-right: 15px;
      padding-left: 15px;

      margin-left: auto;
      margin-right: auto;

      align-items: center;
    }

    .principais-trilhas {
      margin-top: 30rem;
    }

    #trilhas .row > div {
      padding-left: 15px;
    }

    #trilhas .card-wrapper-trilhas .card {
      max-width: 10rem;
    }

    #trilhas .card-wrapper-trilhas {
      flex-wrap: wrap;
    }

    #trilhas h2,
    #quarta-edicao h2 {
      font-size: 2rem;
      width: fit-content;
      text-align: center;
    }

    #trilhas .card-wrapper-trilhas .card {
      max-width: 90%;
      margin-bottom: 2rem;
      border: #3dc0f06c 1px solid;
      border-radius: 10px;
    }

    #quarta-edicao {
      background-image: none;
      padding: 0;
    }




    #section-cards {
      background-color: #b8d1f1;
      padding: 3rem 0;
    }

    #section-cards h2 {
      text-decoration: none !important;
      border-bottom: none !important;
      color: #272e68 !important;
      text-align: center !important;
    }

    .card-custom {
      background: white;
      border-radius: 12px;
      overflow: hidden;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      text-align: center;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
      display: flex;
      flex-direction: column;
      height: 100%;
    }

    .card-custom:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .card-custom .card-header {
      padding: 1.5rem 1rem;
    }

    .card-custom .card-title {
      font-size: 1.5rem;
      color: #282e69;
      font-weight: 600;
    }

    .card-custom .card-subtitle {
      font-size: 1rem;
      color: #555;
      margin-top: 0.5rem;
    }

    .card-custom .card-footer {
      background-color: #0b8236;
      color: white;
      padding: 0.75rem;
      margin-top: auto;
      font-size: 0.875rem;
      font-weight: 500;
    }
  } */
  /* 
  @media (max-width: 768px) {
    #presencial .image-container {
      flex-direction: column;
      align-items: center;
    }

    #presencial .image-container img {
      max-width: 100%;
    }
  } */
}
