:root {
  --edc-blue: #282e68;
  --edc-green: #0b8236;
  --edc-red: #e00814;
  --edc-gray: #f2f2f2;
  --edc-green-bg: #c7e3d1;
  --edc-blue-bg: #b8d1f1;
  --edc-yellow-bg: #f3dca9;
  --edc-purple-bg: #cec0f8;
  --edc-orange-bg: #f5c0a4;
  --edc-pink-bg: #edbedf;
}

.header-educomp h1 {
  padding-top: 1em;
  border-bottom: 3px solid var(--edc-green);
  margin-bottom: 0.75em;
  text-align: center;
  font-size: 2.5em;
  color: var(--edc-blue);
  font-weight: 800;
  line-height: 1.5em;
  display: inline-block;
}

.content-educomp {
  section {
    padding-bottom: 2.5em;
  }

  h2 {
    border-bottom: 2px solid var(--edc-red);
    margin-bottom: 1em;
    font-size: 1.8em;
    color: var(--edc-blue);
    font-weight: 450;
    line-height: 1.3em;
    text-align: left;
  }

  h3 {
    margin-bottom: 0.5em;
    margin-top: 1em;
    font-size: 1.5em;
    color: var(--edc-blue);
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
  }

  strong {
    color: var(--edc-blue);
    font-weight: 600;
  }

  a {
    color: var(--edc-blue);
    text-decoration: underline;
    text-underline-offset: 3px;
    font-weight: 400;
  }
}
