:root {
  --edc-blue: #282E68;
  --edc-green: #0B8236;
  --edc-red: #E00814;
  --edc-gray: #F2F2F2;
}

.content-educomp strong {
  color: var(--edc-blue);
  font-weight: 600;
}

.content-educomp a {
  color: var(--edc-blue);
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 400;
}

.content-educomp section {
  padding-bottom: 2.5em;
}

.header-educomp h1 {
  padding-top: 1em;
  border-bottom: 3px solid var(--edc-green);
  margin-bottom: 0.5em;
  font-size: 2.5em;
  color: var(--edc-blue);
  font-weight: 900;
  line-height: 1.5em;
  display: inline-block;
}

.content-educomp h2 {
  border-bottom: 2px solid var(--edc-red);
  margin-bottom: 1em;
  font-size: 1.8em;
  color: var(--edc-blue);
  font-weight: 450;
  line-height: 1.3em;
  text-align: left;
}

.caixalogos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 100px;
}

.imglogos {
  max-width: 200px;
  height: auto;
  transition: transform 0.3s ease;
}

.imglogos:hover {
  transform: scale(1.1);
  cursor: pointer;
}

