:root {
  --edc-blue: #282e68;
  --edc-green: #0b8236;
  --edc-red: #e00814;
  --edc-gray: #343a40;
  --edc-gray-bg: #f2f2f2;
  --edc-green-bg: #c7e3d1;
  --edc-blue-bg: #b8d1f1;
  --edc-yellow-bg: #f3dca9;
  --edc-purple-bg: #cec0f8;
  --edc-orange-bg: #f5c0a4;
  --edc-pink-bg: #edbedf;

  --navbar-link: var(--edc-blue);
  --navbar-ativo: var(--edc-green);
  --navbar-ativo-bg: var(--edc-gray-bg);

  --footer-bg: var(--edc-blue);
  --footer-border: var(--edc-green);

  --h1-color: var(--edc-blue);
  --h2-color: var(--edc-blue);
  --h3-color: var(--edc-blue);
  --h4-color: var(--edc-blue);
  --strong-color: var(--edc-blue);
  --link-color: var(--edc-blue);

  --table-header-color: var(--edc-blue);
  --table-header-color-bg: var(--edc-blue-bg);
  --table-striped-color-1: white;
  --table-striped-color-2: #ebf3fc;
}

.header-educomp h1 {
  border-bottom: 3px solid var(--edc-green);
}

.content-educomp {
  h2 {
    border-bottom: 2px solid var(--edc-red);
  }
}
