.educomp-header .navbar {
    max-width: 100%;
    background-color: white !important;
    box-shadow: 0 2px 4px var(--gray);
    justify-content: space-evenly;
}

.educomp-header .navbar #logo-sbc {
    height: 75px;
    padding-left: 5px;
    padding-right: 5px;
}

.educomp-header .navbar #logo-educomp {
    height: 50px;
    padding-left: 5px;
    padding-right: 5px;
}

.educomp-header .navbar .button-drop {
    color: var(--edc-blue);
    padding: 1em;
}

.educomp-header .navbar .button-drop i {
    font-size: 1.5em;
}

.educomp-header .navbar .nav-item>a {
    color: var(--edc-blue);
    font-weight: bold;
}

.educomp-header .navbar .nav-item a:hover {
    background-color: var(--edc-blue) !important;
    color: white !important;
    transition: background-color 0.3s ease;
}

.educomp-header .navbar .nav-item .active {
    color: var(--edc-green);
    background-color: var(--edc-gray);
    border-bottom: 0.5em solid var(--edc-green); 
}

.educomp-header .navbar .navbar-collapse {
    flex-grow: unset;
}

.educomp-header .navbar-scrolled .nav-item .active:hover {
    background-color: var(--edc-red);
}

.educomp-header .navbar .inscricoes-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.educomp-header .navbar .btn-inscricoes {
    background-color: var(--edc-blue);
    color: white;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 50px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    transition: all 0.3s ease;
}

.educomp-header .navbar .btn-inscricoes:hover {
    background-color: var(--edc-green);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
    color: white;
}

/* Estilos para telas abaixo de 992px, quando o menu está fechado */
@media (max-width: 991.98px) {
    .educomp-header .navbar .nav-link {
        padding: 1em 1em !important;
        background-color: white;
    }
    .educomp-header .inscricoes-container {
        background-color: white;
    }
}

/* Estilos para telas acima de 992px, quando o menu está aberto */
@media (min-width: 992px) {
    .educomp-header .navbar .nav-link {
        padding: 2.2em 1em !important;
    }
} 