.educomp #datas .card {
    border: 1px solid var(--gray-dark);
    background-color: var(--edc-gray);
    transition: transform 0.2s;
}

.educomp #datas .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.educomp #datas .card-title {
    color: var(--edc-blue);
    font-weight: 800;
    font-size: 1.5em;
}

.educomp #artigos-completos i {
    font-style: italic;
}

.educomp #artigos-completos #trilhas .accordion h2 {
    text-align: left;
    border: none;
}

.educomp #artigos-completos #trilhas .trilha-coord {
    padding-bottom: 1em;
}

.educomp #criterios h3 {
    margin-bottom: 0.6em;
    margin-top: 2em;
    font-size: 1.5em;
    color: var(--edc-blue);
    font-weight: 300;
    line-height: 1.2em;
    text-align: left;
}

.educomp #artigos-completos #accordion-trilhas .card {
    border: 1px solid var(--gray-dark);
    background-color: var(--edc-gray);
    transition: transform 0.2s;
    flex-direction: column;
    display: flex;
}

.educomp #artigos-completos #accordion-trilhas .card-header {
    display: flex;
    align-items: center;
    flex: 1;
}

.educomp #artigos-completos #accordion-trilhas .card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.educomp #artigos-completos #trilhas .card-header .btn-link:hover {
    background-color: var(--edc-blue);
    transition: background-color 0.3s ease;
}