{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style=" font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto mt-4">

                <div class="accordion mb-5" id="accordionExample">




                    <div class="card">
                        <div class="card-header" id="trilha1-acordeao">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                                    style=" text-align: left;width: 100%;">
                                    <h4>Trilha 1: Artigos de Pesquisa</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="trilha1-acordeao"
                            data-parent="#accordionExample">
                            <div class="card-body">
                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>(In)visibilidade da Diversidade nos Cursos Presenciais de Computação e
                                                Tecnologias da Informação e Comunicação: Um Panorama das Universidades
                                                Públicas da Bahia</b>
                                            <br>
                                            Claudia Pinto Pereira (Universidade Estadual de Feira de Santana - Brazil),
                                            José Figuerêdo (Universidade Estadual de Feira de Santana - Brazil),
                                            Thiago Alves (UEFS - Universidade Estadual de Feira de Santana - Brazil),
                                            Naiara Silva dos Santos (Universidade Estadual do Sudoeste da Bahia -
                                            Brazil),
                                            Nelma de Cássia Galvão (UFRB - Brazil),
                                            Teófilo Galvão Filho (Universidade Federal do Recôncavo da Bahia - UFRB -
                                            Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>A Personalized-based Study Guides Tool for Software Engineering Flipped
                                                Classes</b> <br>
                                            Necio Veras (Instituto Federal de Educação, Ciência e Tecnologia do Ceará -
                                            Brazil),
                                            Lincoln Rocha (Federal University of Ceará - Brazil),
                                            Windson Viana (UFC - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Avaliação Automatizada da Criatividade de Aplicativos Móveis no Contexto
                                                Educacional</b> <br>
                                            Nathalia Alves (Universidade Federal de Santa Catarina - Brazil),
                                            Christiane Gresse von Wangenheim (UFSC - Universidade Federal de Santa
                                            Catarina - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Caminhos na Docência Universitária em Computação: compreendendo
                                                experiências e motivações</b> <br>
                                            Pauleany Morais (IFRN/IFBA - Brazil),
                                            Jean Rosa (ITI/LARSyS - Brazil),
                                            Filipe Garrido (UFBA - Universidade Federal da Bahia - Brazil),
                                            Pietro Bompet (Universidade Federal da Bahia - Brazil),
                                            Marlo Souza (Universidade Federal da Bahia - UFBA - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Evasão nos Cursos de Graduação em Computação no Brasil</b> <br>Ícaro
                                            Alvim (Universidade Estadual de Feira de Santana - Brazil),
                                            Roberto Bittencourt (University of Victoria - Canada),
                                            Rodrigo Duran (Instituto Federal de Mato Grosso do Sul - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Evidências do Desenvolvimento das Habilidades do Pensamento Computacional
                                                em Alunos do Ensino Fundamental com Histórias em Quadrinhos</b> <br>
                                            Márcio Canedo de Oliveira (Unirio - Brazil),
                                            Maria Augusta Silveira Netto Nunes (Universidade Federal do Estado do Rio de
                                            Janeiro (UNIRIO) - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Qual tipo de feedback ajuda os estudantes novatos em programação? Um
                                                estudo exploratório com múltiplos feedbacks em um curso introdutório de
                                                Python</b> <br>
                                            Luis Gustavo Araújo (Universidade Estadual de Feira de Santana - Brazil),
                                            Roberto Bittencourt (University of Victoria - Canada),
                                            Christina von Flach (Universidade Federal da Bahia - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Transforming STEM Education for Young Women through Heroic Narratives</b>
                                            <br>
                                            Luis Costa (University of UFRJ - Brazil),
                                            Carlos Eduardo Barbosa (COPPE/UFRJ - Brazil),
                                            Yuri Lima (PESC/COPPE/UFRJ - Brazil),
                                            Luciana Nascimento (Federal University of Rio de Janeiro - Brazil),
                                            Larissa Galeno (Universidade Federal do Rio de Janeiro - Brazil),
                                            Ana Moura Santos (Instituto Superior Técnico, Universidade de Lisboa -
                                            Portugal),
                                            Geraldo Xexéo (UFRJ - Brazil),
                                            Jano Souza (UFRJ - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Uma análise do uso de ferramentas de geração de código por alunos de
                                                computação</b> <br>
                                            Werney Ayala Luz Lira (Instituto Federal do Piauí - Brazil),
                                            Pedro Santos Neto (Universidade Federal do Piaui - Brazil),
                                            Luiz Fernando Mendes Osorio (Universidade Federal do Piauí - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Análise do Uso de Componentes do Moodle em uma Disciplina Introdutória de
                                                Programação</b> <br>
                                            Alice Lima (Universidade de Brasilia - Brazil),
                                            Vinicius Ruela Pereira Borges (Universidade de Brasília - Brazil),
                                            Edison Ishikawa (Universidade de Brasília - Brazil),
                                            Maristela Holanda (Universidade de Brasília - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Conteúdos de Engenharia de Software Verde em Cursos de Graduação em
                                                Engenharia de Software</b> <br>
                                            Matheus Ataíde (PUC Minas - Brazil),
                                            Gustavo Silva (PUC Minas - Brazil),
                                            Cleiton Tavares (Pontifical Catholic University of Minas Gerais (PUC Minas)
                                            - Brazil),
                                            Laerte Xavier (Pontifical Catholic University of Minas Gerais (PUC - MG) -
                                            Brazil),
                                            Lucila Ishitani (PUC Minas - Brazil)
                                    </tr>

                                    <!--
                                    <tr>
                                        <td>
                                            <b>Tradução e Validação de um Instrumento para Mensurar Atitudes em Relação
                                                à Robótica</b> <br>
                                            João Pedro Moraes, Roberto Bittencourt
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Um Mapeamento Sistemático da Literatura sobre Pensamento Computacional na
                                                Perspectiva dos Fundamentos Teóricos de Aprendizagem</b> <br>
                                            Julian Mubarack Garcia, Roberto Bittencourt
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Uma Análise em Larga-Escala das Funcionalidades de Aplicativos criados
                                                com App Inventor</b> <br>
                                            Nathalia Alves, Christiane Gresse von Wangenheim
                                        </td>
                                    </tr>
-->
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#membrosComunidade" aria-expanded="true"
                                    aria-controls="membrosComunidade" style=" text-align: left;width: 100%;">
                                    <h4>Trilha 2: Relatos de Experiência</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="membrosComunidade" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>Brewing Ideas: An Experience Report on the Use of World Café's to Spin on
                                                Collaborative Learning of Software Development Life Cycles</b> <br>
                                            Jean Dantas (Instituto Federal Farroupilha - Brazil),
                                            Pedro Lucas Dornelles (Instituto Federal Farroupilha - Brazil),
                                            Rafael Parizi (Instituto Federal Farroupilha - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Circuitão PET: Análise de benefícios gerados para a formação profissional
                                                dos alunos de Ciência da Computação e Engenharia de Software de uma
                                                Universidade</b> <br>
                                            Arthus Girão (Universidade Federal do Ceara - Brazil),
                                            Gabriel Lima (Federal University of Ceará - Brazil),
                                            Patricia de Vasconcelos (Universidade Federal do Ceará - Brazil),
                                            Edvan Cordeiro de Miranda (Universidade Federal do Ceará - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Ensino de Processo de Software em Colaboração com Empresas: Uma
                                                Experiência Potencialmente Extensionista</b> <br>
                                            Andrea Bordin (Universidade Federal de Santa Catarina - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Estudo exploratório avaliando a viabilidade do uso de aplicativo de
                                                exposição virtual para disseminação da importância das mulheres nas
                                                ciências</b>
                                            <br>
                                            Patricia Amorim (ISERJ/FAETEC - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Figmatizando Ideias: Um Relato de Experiência da Execução do Curso
                                                Presencial de Figma na Prática</b> <br>
                                            Israely Lima (Universidade Federal do Ceará - Brazil),
                                            Francisco Andrade (Universidade Federal do Ceará - Brazil),
                                            Giovana Ramalho (Universidade Federal do Ceará - Brazil),
                                            Riane Gomes Alves (Universidade Federal do Ceará - Brazil),
                                            Marina Rocha (Universidade Federal do Ceará - Brazil),
                                            Jacilane Rabelo (Universidade Federal do Ceará - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Fostering Programming Logic Skills in High School Students Through
                                                Project-Based Learning: An Educational Experience</b> <br>
                                            Larissa Galeno (Universidade Federal do Rio de Janeiro - Brazil),
                                            Luis Costa (University of UFRJ - Brazil),
                                            Geraldo Xexéo (UFRJ - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>O uso de práticas gamificadas no ensino de V&V</b> <br>
                                            Valéria Lelli (Universidade Federal do Ceará - Brazil),
                                            Ismayle Sousa Santos (Universidade Estadual do Ceará - Brazil),
                                            Karina Branco (Universidade Federal do Ceará - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Oficinas de introdução ao pensamento computacional conduzidas por
                                                mulheres: uma contribuição para a representatividade feminina</b> <br>
                                            Aline Vitória Santana Nunes (Universidade Federal do Ceará - Brazil),
                                            Deusiane Maia (Universidade Federal do Ceará - Brazil),
                                            Lauana Oliveira (Universidade Federal do Ceará - Brazil),
                                            Marcele Nicolly Sousa Cruz (Universidade Federal do Ceará - Brazil),
                                            Sofia Desidério (Federal University of Ceara - Brazil),
                                            Valéria Pinheiro (Universidade Federal do Ceará - Brazil),
                                            Anna Beatriz Marques (Universidade Federal do Ceará - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Proposta de Atividades para o Ensino de Ética em Computação</b> <br>
                                            Paula Macedo da Cruz (UFRJ - Brazil),
                                            Lenise Rodrigues (Federal University of Rio de Janeiro - Brazil),
                                            Joao Carlos da Silva (UFRJ - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Semana do Professor de Computação da Educação Básica: Um Relato de
                                                Experiências dos desafios de se formar um professor</b> <br>
                                            Edison Ishikawa (Universidade de Brasília - Brazil),
                                            Jorge Fernandes (Universidade de Brasilia - Brazil),
                                            Maria de Fátima Brandão (University of Brasília - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Uma abordagem para planejamento de aulas interdisciplinares com
                                                Pensamento Computacional para Educação Básica</b> <br>
                                            Lidiane Monteiro (UFRPE - Brazil),
                                            Taciana Pontual Falcão (Universidade Federal Rural de Pernambuco - Brazil),
                                            Rodrigo Rodrigues (Universidade Federal Rural de Pernambuco (UFRPE) -
                                            Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Use of learning analytics to evaluate the efficiency of an introduction
                                                course of Artificial Intelligence</b> <br>Marcelo Henklain (Universidade
                                            Federal de Roraima - Brazil),
                                            Filipe Dwan Pereira (Universidade Federal de Roraima - Brazil),
                                            Luciano Ferreira Silva (Universidade Federal de Roraima - Brazil),
                                            Acauan Ribeiro (Federal University of Roraima - Brazil),
                                            Herbert Rocha (UFRR - Brazil),
                                            Marcelle Urquiza (UFFR - Brazil),
                                            Leandro Balico (Universidade Federal de Roraima - Brazil),
                                            Rafael Ferreira Mello (Universidade Federal Rural de Pernambuco - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Aplicação do POGIL no ensino de Computação</b> <br>
                                            Valéria Lelli (Universidade Federal do Ceará - Brazil),
                                            Ismayle Sousa Santos (Universidade Estadual do Ceará - Brazil),
                                            Fernanda Sousa (UFC - Brazil),
                                            Lucas Braide (Universidade Federal do Ceará - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Ensino da Adequação à LGPD no Desenvolvimento de Software através da
                                                Aprendizagem Ativa e Centrada no Discente</b> <br>Juliana Saraiva
                                            (Federal University of Paraiba - Brazil),
                                            Sergio Soares (UFPE - Brazil),
                                            Juliana Araujo (Universidade Federal da Paraíba - Brazil)
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#trilhaCurriculo" aria-expanded="true"
                                    aria-controls="membrosComunidade" style=" text-align: left;width: 100%;">
                                    <h4>Trilha 3: Currículos</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="trilhaCurriculo" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>Posicionando a BNCC Computação: uma Comparação com Documentos
                                                Curriculares Internacionais</b> <br>

                                            Adelmo Eloy (USP &amp; Transformative Learning Technologies Lab, Columbia
                                            University), Luiz Alves (USP), Paulo Blikstein (Transformative Learning
                                            Technologies Lab, Columbia University), Roseli de Deus Lopes (USP)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Ensino e Aprendizagem de Programação na Educação 4.0: Um Mapeamento
                                                Sistemático da Literatura</b>
                                            <br>
                                            Katyeudo Karlos de Sousa Oliveira (Universidade de São Paulo - Brazil),
                                            Anderson Marcolino (Universidade Federal do Paraná - Brazil),
                                            Taciana Pontual Falcão (Universidade Federal Rural de Pernambuco - Brazil),
                                            Ellen Francine Barbosa (ICMC-USP - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Introduzindo formação humana no currículo de Ciência da Computação</b>
                                            <br>
                                            Joao Carlos da Silva (UFRJ - Brazil),
                                            Carla Delgado (Universidade Federal do Rio de Janeiro - Brazil),
                                            Silvana Rossetto (UFRJ - Brazil),
                                            Eldânae Nogueira Teixeira (IC/CCMN/UFRJ - Brazil),
                                            Adriana Vivacqua (Universidade Federal do Rio de Janeiro (UFRJ) - Brazil),
                                            Juliana Valerio (UFRJ - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>O Impacto da Nova Matriz Curricular da Licenciatura em Computação no
                                                Desempenho dos Discentes</b> <br>
                                            Laura Silva (UFRPE - Brazil ),
                                            Abilio Barros (UFRPE - Brazil),
                                            Taciana Pontual Falcão (Universidade Federal Rural de Pernambuco - Brazil)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>O que graduandos em informática consideram necessário aprender sobre
                                                Ética? Subsídios para a Educação em Computação</b> <br>
                                            Marcelo Henklain (Universidade Federal de Roraima - Brazil),
                                            Yaritza Barreto (UFRR - Brazil),
                                            Filipe Brito (Universidade Federal de Roraima - Brazil),
                                            Marcus Santos (Universidade Federal de Roraima - Brazil),
                                            Felipe Lobo (Federal University of Roraima - Brazil),
                                            Luciano Ferreira Silva (Universidade Federal de Roraima - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Um Farol para Criação e Avaliação de Cursos de Ciência de Dados: Os
                                                Referenciais Curriculares da SBC</b> <br>
                                            Angelo Brayner (Federal University of Ceara - UFC - Brazil),
                                            André Ponce de Leon F de Carvalho (ICMC-USP/S.Carlos - Brazil),
                                            Duncan Ruiz (Pontifícia Universidade Católica do RS - Brazil),
                                            Eduardo Ogasawara (CEFET/RJ - Brazil)
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#trilhaRecursos" aria-expanded="true" aria-controls="membrosComunidade"
                                    style=" text-align: left;width: 100%;">
                                    <h4>Trilha 4: Recursos e Ambientes Educacionais</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="trilhaRecursos" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>A Practical Digital Image Processing Course with morph.py</b> <br>
                                            Francisco Zampirolli (UFABC - Brazil),
                                            João Marcelo Borovina Josko (Federal University of ABC - Brazil),
                                            Fernando Teubl (Universidade Federal do ABC (UFABC) - Brazil),
                                            Celso Setsuo Kurashima (Universidade Federal do ABC - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Analisando a efetividade da formação de clusters na avaliação de
                                                exercícios de programação</b>
                                            <br>
                                            Arthur Mendonça Sasse (Universidade Federal do Rio de Janeiro - Brazil),
                                            Laura Moraes (Universidade Federal do Estado do Rio de Janeiro - Brazil),
                                            Carla Delgado (Universidade Federal do Rio de Janeiro - Brazil),
                                            Carlos Pedreira (COPPE/UFRJ - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Biblioteca para exemplificação de álgebra linear</b>
                                            <br>
                                            Laura Moraes (Universidade Federal do Estado do Rio de Janeiro - Brazil),
                                            Joao Paixao (Universidade Federal do Rio de Janeiro - Brazil),
                                            Bruno Cruz (UFRJ - -- Select Country --),
                                            Fernando França (Student - -- Select Country --)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>GREatest Unity - Um jogo digital de cartas para o ensino de testes de
                                                software</b> <br>
                                            Hanna Ranielly (Universidade Federal do Ceará - Brazil),
                                            Assucena Araujo (UNOPAR - Brazil),
                                            Jaciana Barbosa (UFC - Universidade Federal do Ceará - Brazil),
                                            Jaime Gouveia de Souza Neto (Universidade Federal do Ceará - Brazil),
                                            Jefferson Teixeira (Universidade Federal do Ceará - Brazil),
                                            Ismayle Sousa Santos (Universidade Estadual do Ceará - Brazil),
                                            Rossana Andrade (Universidade Federal do Ceará - UFC - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Uma Proposta de Instrumento Avaliativo para Identificar Habilidades do
                                                Pensamento Computacional por meio da Computação Física</b> <br>
                                            Almir de Oliveira Costa Junior (Universidade do Estado do Amazonas - EST/UEA
                                            - Brazil),
                                            José Anglada (Instituto Federal do Amazonas - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Você decide quem POD: empoderando a/o estudante de computação quanto à
                                                propriedade de seus dados</b> <br>
                                            Orcar Barbosa (Universidade de Brasília (UnB) - Brazil),
                                            Thiaggo Bispo (Universidade de Brasília (UnB) - Brazil),
                                            João Marcos Duda (Universidade de Brasília (UnB) - Brazil),
                                            Bruno Barros (Universidade de Brasília (UnB) - Brazil),
                                            Germana Nóbrega (Universidade de Brasília - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Um Recurso Didático de Computação para Crianças Baseado no Estilo de
                                                Aprendizagem</b> <br>
                                            Cláudia Ramos (Universidade Federal Rural de Pernambuco - Brazil)
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#trilhaEnsaios" aria-expanded="true" aria-controls="membrosComunidade"
                                    style=" text-align: left;width: 100%;">
                                    <h4>Trilha 5: Ensaios</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="trilhaEnsaios" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>A estrutura e as funções dos laboratórios de computação nas escolas de
                                                educação básica</b> <br>
                                            Jorge Fernandes (Universidade de Brasilia - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Um Estudo Comparativo entre Ensino de Engenharia de Dados e Necessidades
                                                do Mercado Brasileiro</b> <br>
                                            Tarsis Azevedo (Universidade Federal do Amazonas - Brazil),
                                            Altigran Soares da Silva (Universidade Federal do Amazonas - Brazil)
                                        </td>
                                    </tr>

                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#labideias" aria-expanded="true" aria-controls="membrosComunidade"
                                    style=" text-align: left;width: 100%;">
                                    <h4>Laboratório de Ideias</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="labideias" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>Análise de Dados Emocionais e de Aprendizagem em Jogos Para Apoiar o
                                                desenvolvimento de Habilidades de Pensamento Computacional</b> <br>
                                            Daniel Nipo (Universidade Federal Rural de Pernambuco - Brazil),
                                            Rodrigo Rodrigues (Universidade Federal Rural de Pernambuco - Brazil),
                                            Rozelma França (Universidade Federal Rural de Pernambuco - Brazil),
                                            Josevandro Nascimento (Universidade Federal Rural de Pernambuco - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Incentivando Meninas ao Pensamento Computacional: Oficinas de Computação
                                                Desplugada na Educação Básica</b> <br>
                                            Alessandreia Oliveira (Universidade Federal de Juiz de Fora - Brazil),
                                            Barbara de Melo Quintela (Federal University of Juiz de Fora - Brazil),
                                            Maria Guimaraes (UFJF - Brazil),
                                            Lara Dias (UFJF)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>Conectando mulheres à Computação: Uma Abordagem baseada em jogo digital
                                                para inclusão e ensino</b> <br>
                                            Alessandreia Oliveira (Universidade Federal de Juiz de Fora - Brazil),
                                            Barbara de Melo Quintela (Federal University of Juiz de Fora - Brazil),
                                            Eduarda Nunes (Universidade Federal de Juiz de Fora - Brazil),
                                            Victoria Tiemi Yamashita (Universidade federal de Juiz de Fora - Brazil),
                                            Luana Vilarinho (Universidade Federal de Juiz de Fora - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Um Estudo sobre a Usabilidade de Produtos Acadêmicos de Software e suas
                                                Implicações para o Ensino de Computação</b> <br>
                                            Cristina Araújo de Medeiros (IFCE - Brazil),
                                            Andressa Ferreira (Instituto Federal de Educação, Ciência e Tecnologia do
                                            Ceará - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>SpaceCode: uma gamificação para auxiliar estudantes com TEA na
                                                aprendizagem de Estruturas de Dados</b> <br>
                                            André Souza (Universidade
                                            Estadual do Amazonas - EST),
                                            Fabrizio Honda (Universidade Federal do Amazonas - Brazil),
                                            Fernanda Pires (Universidade do Estado do Amazonas - Brazil),
                                            Marcela Pessoa (Universidade do Estado do Amazonas - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Acesso Compartilhado à Recursos Físicos com Google Colab</b> <br>
                                            Carlos Sabino (Universidade Federal de Vicosa - Brazil),
                                            Ricardo Ferreira (Universidade Federal de Vicosa - Brazil),
                                            José Augusto Nacif (Universidade Federal de Viçosa - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>CodeChef: um ambiente gamificado para auxiliar estudantes com TEA na
                                                aprendizagem de Programação e Algoritmos.</b> <br>
                                            Thiago da Costa Viana (Universidade do Estado do Amazonas),
                                            Fabrizio Honda (Universidade Federal do Amazonas - Brazil),
                                            Fernanda Pires (Universidade do Estado do Amazonas - Brazil),
                                            Marcela Pessoa (Universidade do Estado do Amazonas - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Sinais do Futuro: um jogo educacional para pessoas surdas exercitarem
                                                matemática e Pensamento Computacional</b> <br>
                                            Marcelo Brilhante (UEA),
                                            Fabrizio Honda (Universidade Federal do Amazonas - Brazil),
                                            Fernanda Pires (Universidade do Estado do Amazonas - Brazil),
                                            Marcela Pessoa (Universidade do Estado do Amazonas - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Abordagem para seleção de exemplos trabalhados para engenharia de
                                                software do domínio de sistemas distribuídos</b> <br>
                                            Breno da Silva (Universidade Tecnológica Federal do Paraná - Brazil),
                                            Igor Wiese (UTFPR -Universidade Tecnológica Federal do Parana - Brazil),
                                            Rodrigo Campiolo (Universidade Tecnológica Federal do Paraná - Brazil),
                                            Marco Aurélio Graciotto Silva (Universidade Tecnológica Federal do Paraná -
                                            Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>BitLand: um jogo para auxiliar na aprendizagem de medidas de grandezas na
                                                informática</b> <br>
                                            José Nilson Brito (Universidade do Estado do Amazonas),
                                            Fernanda Pires (Universidade do Estado do Amazonas - Brazil),
                                            Jeniffer Macena (Universidade Federal do Amazonas)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>As Aventuras de Manari: um jogo educacional para auxiliar na aprendizagem
                                                de matemática e pensamento computacional</b> <br>
                                            Maria Freitas (Universidade do Estado do Amazonas),
                                            Eloína Ferreira Flores (Universidade do Estado do Amazonas),
                                            Jeniffer Macena (Universidade Federal do Amazonas),
                                            Fernanda Pires (Universidade do Estado do Amazonas - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Análise dos efeitos do idioma na geração automática de respostas por
                                                aplicações de LLM</b> <br>
                                            Fernando Roberto Delbone (UTFPR - Brazil),
                                            Igor Wiese (Universidade Tecnologica Federal do Paraná - Brazil),
                                            Marco Aurélio Graciotto Silva (Universidade Tecnológica Federal do Paraná -
                                            Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Um Jogo para Aprendizagem em Programação com Worked Examples</b> <br>
                                            Bhruno Leifheit (Universidade Federal do Pampa - Brazil),
                                            Cassio Ceolin Junior (Unipampa - Brazil),
                                            Simone Tonhão (Universidade Estadual de Mato Grosso do Sul - Brazil),
                                            Williamson Silva (Universidade Federal do Pampa (Campus Alegrete) - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Um estudo sobre o impacto das disciplinas na evasão acadêmica sobre
                                                diferentes tipos de alunos no ICOMP</b> <br>
                                            Alexandre Uchoa (Universidade Federal do Amazonas - Brazil),
                                            Leandro Silva Galvão de Carvalho (Federal University of Amazonas - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Formação de Professores: Integrando Lógica de Programação com a Criação
                                                de Jogos Digitais</b> <br>
                                            Artur Castro (UFJF - Brazil),
                                            João Victor Nicácio Silva (UFJF - Brazil),
                                            Letícia Ribeiro Silva (UFJF - Brazil),
                                            Maria Clara Ribeiro (UFJF - Brazil),
                                            Nikolas Genesio (UFJF - Brazil),
                                            Pedro Henrique Dias Valle (Universidade Federal de Juiz de Fora - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>Robot Sparkle: Um sistema gamificado para exercitar conteúdos de robótica
                                                e programação</b> <br>
                                            Cristiana do Nascimento Pedrosa (Universidade do Estado do Amazonas),
                                            Jean Brito (Escola Superior de Tecnologia),
                                            Jeniffer Macena (Universidade Federal do Amazonas),
                                            Marcela Pessoa (Universidade do Estado do Amazonas - Brazil),
                                            Fernanda Pires (Universidade do Estado do Amazonas - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>The Cave: um jogo educacional que auxilia o desenvolvimento do Pensamento
                                                Computacional através da aprendizagem sobre figuras geométrias</b> <br>
                                            Andrey Guedes (Universidade do Estado do Amazonas - EST/UEA - Brazil),
                                            Jeniffer Macena (Universidade Federal do Amazonas),
                                            Fernanda Pires (Universidade do Estado do Amazonas - Brazil)
                                        </td>
                                    </tr>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse"
                                    data-target="#minicursos" aria-expanded="true" aria-controls="membrosComunidade"
                                    style=" text-align: left; width: 100%;">
                                    <h4>Minicursos</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="minicursos" class="collapse" aria-labelledby="headingOne"
                            data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>
                                                Desenvolvendo Storytelling com a plataforma Animaker: a criação de
                                                vídeos para o ensino da Computação
                                            </b> <br>
                                            Marcos Antônio de Araújo Silva (IFRN), Kleber Kroll de Azevedo Silva (IFRN),
                                            Paulo Victor de Souza Batista (IFRN), Franciele Cunha da Fonseca (IFRN)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                A plataforma de jogos WordWall como ferramenta para a avaliação da
                                                aprendizagem
                                            </b> <br>
                                            Kleber Kroll de Azevedo Silva (IFRN), Marcos Antônio de Araújo Silva (IFRN),
                                            Paulo Victor de Souza Batista (IFRN), Franciele Cunha da Fonseca (IFRN)
                                        </td>
                                    </tr>
                                    

                                </table>

                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#wtd"
                                    aria-expanded="true" aria-controls="membrosComunidade" style=" text-align: left;
    width: 100%;">
                                    <h4>Workshop de Teses e Dissertações em Educação em Computação</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="wtd" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>
                                                Avaliação da Maturidade de PBL sob a PerspectivaDiscente: Um estudo de
                                                caso em Turmas Heterogêneas de Introdução à Programação
                                            </b> <br>
                                            André Luiz Bartholomeu Ribeiro (Universidade Federal de Pernambuco)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Proposta de inclusão do Pensamento Computacional no currículo de cursos
                                                de Licenciatura
                                            </b> <br>
                                            Priscilla Mendes (Universidade Federal Rural de Pernambuco)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Utilizando a abordagem de aprendizagem baseada em problemas para
                                                treinamento de programação competitiva com estudantes do ensino médio
                                            </b> <br>
                                            Camila Santos (Universidade Federal de Uberlândia)
                                        </td>
                                    </tr>


                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ctd1"
                                    aria-expanded="true" aria-controls="membrosComunidade"
                                    style=" text-align: left;width: 100%;">
                                    <h4>Concurso de Teses e Dissertações em Educação em Computação - Mestrado</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="ctd1" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">

                                    <tr>
                                        <td>
                                            <b>
                                                O pensamento computacional e a prática docente multidisciplinar na
                                                educação básica
                                            </b> <br>
                                            Bárbara Morais (Universidade Federal Rural de Pernambuco - Brazil), Rozelma
                                            França (Universidade Federal Rural de Pernambuco - Brazil), Taciana Pontual
                                            Falcão (Universidade Federal Rural de Pernambuco - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Educação digital como parte da formação integral do sujeito: O ensino de
                                                computação na perspectiva de projetos de letramentos digitais em curso
                                                proeja em artesanato
                                            </b> <br>
                                            Thiago Amorim (Instituto Federal de Brasília - Campus Taguatinga - Brazil),
                                            Veruska Machado (IFB - Brazil)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>
                                                Análise da participação feminina nos cursos da área de computação: Um
                                                olhar sobre os projetos do programa meninas digitais
                                            </b> <br>
                                            Maria Teresa Santos (Universidade do Estado de Santa Catarina - Brazil),
                                            Isabela Gasparini (Universidade do Estado de Santa Catarina (UDESC) -
                                            Brazil), Luciana Frigo (Universidade Federal de Santa Catarina - Brazil)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>
                                                EMPADARIA - framework para o desenvolvimento de ficções interativas por
                                                meio da Pedagogia de Projetos
                                            </b> <br>
                                            Walter Carvalho (Universidade Federal do ABC - Brazil), Rafaela Rocha
                                            (Universidade Federal do ABC - Brazil), Carla Rodriguez (Universidade
                                            Federal do ABC (UFABC) - Brazil)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>
                                                O Formação EAD de pensamento computacional para professores do ensino
                                                fundamental com enfoque prático e interdisciplinar
                                            </b> <br>
                                            Gustavo Lima do Nascimento (Universidade Federal do Rio Grande - UFRN),
                                            Charles Madeira (Universidade Federal do Rio Grande - UFRN)
                                        </td>
                                    </tr>


                                </table>



                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#ctd"
                                    aria-expanded="true" aria-controls="membrosComunidade"
                                    style=" text-align: left;width: 100%;">
                                    <h4>Concurso de Teses e Dissertações em Educação em Computação - Doutorado</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="ctd" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">


                                <table class="table table-striped">

                                    <tr>
                                        <td>
                                            <b>
                                                Assessing the Creativity of Mobile Applications in Computing Education
                                            </b> <br>
                                            Nathalia Alves (Universidade Federal de Santa Catarina - Brazil)
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <b>
                                                Tailoring Gamified Educational Systems to Users and Context
                                            </b> <br>
                                            Luiz Rodrigues (Londrina State University - Brazil), Seiji Isotani
                                            (Universidade de São Paulo - Brazil)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>
                                                O pensamento computacional no âmbito da modelagem matemática na
                                                perspectiva da aprendizagem significativa
                                            </b> <br>
                                            Marcia Kaminski (SEMED Cascavel - Brazil), Clodis Boscarioli (Universidade
                                            Estadual do Oeste do Paraná - Brazil)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>
                                                Psicogênese da Noção de Algoritmo na Atividade de Programação com
                                                Crianças de 4 a 12 Anos.
                                            </b> <br>
                                            Cristiane Pelisolli Cabral (PPGEDU/UFRGS - Brazil)
                                        </td>
                                    </tr>



                                </table>

                            </div>
                        </div>
                    </div>



                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#mesas"
                                    aria-expanded="true" aria-controls="membrosComunidade"
                                    style=" text-align: left;width: 100%;">
                                    <h4>Mesas Temáticas</h4>
                                </button>
                            </h2>
                        </div>

                        <div id="mesas" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">

                                <table class="table table-striped">
                                    <tr>
                                        <td>
                                            <b>
                                                IDEA na EduComp: Um Manifesto em favor da Inclusão, Diversidade,
                                                Equidade e Acessibilidade
                                            </b> <br>
                                            Claudia Pinto Pereira (UEFS)
                                            Juliana Maria Oliveira dos Santos (UFBA)
                                            Esdras Bispo Jr (UFJ)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>
                                                Formação Docente Interdisciplinar: caminhos para mediar aspectos sociais
                                                das Tecnologias na Educação Básica
                                            </b> <br>
                                            Leonelo Almeida (UTFPR)
                                            Kelly Aguiar (SME-Curitiba)
                                            Yuri Wanderley (IFBA)
                                        </td>
                                    </tr>

                                    <tr>
                                        <td>
                                            <b>
                                                Fatores que influenciam as escolhas profissionais das mulheres em
                                                Computação
                                            </b> <br>
                                            Ana Lara Casagrande (UFMT)
                                            Raquel Miguel (UFSC)
                                            Louise Suelen Araujo Reis (UESC)
                                        </td>
                                    </tr>


                                    <tr>
                                        <td>
                                            <b>
                                                Formação Docente em Computação como área de conhecimento e de práxis em
                                                pesquisa educacional
                                            </b> <br>
                                            Jorge Fernandes (UnB)
                                            Edison Ishikawa (UnB)
                                        </td>
                                    </tr>



                                </table>

                            </div>
                        </div>
                    </div>






                </div>
            </div>
        </div>
</section>