{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="S font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <p class="lead">
                    Os artigos aceitos para publicação no EduComp devem estar formatados
                    de acordo com o modelo disponibilizado na chamada e atualizados quanto
                    à edição atual do evento. Além disso, é necessário incluir as
                    informações dos autores e retirar partes anonimizadas do corpo do
                    artigo.

                </p>

                <p class="lead">
                    Para os artigos que utilizaram o modelo de edições anteriores do
                    EduComp, sugere-se a migração para o modelo atualmente disponível ou
                    ajuste as informações quanto à edição atual da seguinte forma:

                </p>
                <h4 class="mt-5 mb-3">Modelo LaTeX:</h4>
                <p class="lead">

                    Altere o arquivo .tex principal do artigo, atualizando as informações
                    do evento conforme apresentado a seguir:

                </p>

                <pre style="background-color: #f8f9fa; padding: 20px;">
\copyrightyear{2024}
\acmYear{2024}
\setcopyright{sbcpt} %%% Para artigos escritos em inglês, troque para sbcen
\acmConference[EduComp'24]{Simpósio Brasileiro de Educação em
Computação}{Abril 22-27, 2024}{São Paulo, São Paulo, Brasil (On-line)}
\acmBooktitle{Simpósio Brasileiro de Educação em Computação (EduComp
'24), Abril 22-27, 2024, São Paulo, São Paulo, Brasil (On-line)}

                </pre>

                <h4 class="mt-5 mb-3">Modelo Word:</h4>
                <p class="lead">

                    Atualize as informações do evento localizadas nos seguintes locais:


                </p>
                <ul>
                    <li class="lead">Abaixo do texto de licenciamento, na coluna da esquerda da primeira página.</li>
                    <li class="lead">No cabeçalho à esquerda da segunda página.</li>
                    <li class="lead">No cabeçalho à direita da terceira página.</li>
                </ul>

                <p class="lead">
                    O texto a ser informado é o seguinte:
                </p>
                <pre style="background-color: #f8f9fa; padding: 20px;">EduComp’24, Abril 22-27, 2024, São Paulo, São Paulo, Brasil (On-line)</pre>
                <p class="lead">
                    Ainda na coluna da esquerda da primeira página, após as informações do
                    evento, é necessário também atualizar o ano de "Copyright" para "2024".
                </p>



                <!--
          <div class="accordion mb-5" id="accordionExample">
            
            
            
           
            <div class="card">
                <div class="card-header" id="trilha1-acordeao">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4>Trilha 1: Artigos de Pesquisa</h4>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="trilha1-acordeao" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>An open list of computer programming students common problems, and its leverage in teaching practice</b> <br>   
                                Renato Cortinovis, Pablo Frank-Bolton, Ricardo Caceffo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Análise da inferência da Lógica Fuzzy no jogo The Sims</b> <br>   
                                Tatiana Santos, Francielli Moro, Eliane Pozzebon
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Análise do desempenho de aprendizagem de Machine Learning na Educação Básica aplicando a Teoria de Resposta ao Item</b> <br>   
                                Marcelo Rauber, Christiane Gresse von Wangenheim, Adriano Borgatto, Ramon Martins
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Association of Sleep Quality with Anxiety and Depression Symptoms among Computer Science Students</b> <br>   
                                Lígia Maria Soares Passos, Christian Murphy, Rita Zhen Chen, Marcos Gonçalves Santana, Giselle Soares Passos
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Correlação Entre Complexidade e Dificuldade de Questões de Programação em Juízes Online</b> <br>   
                                Jackson Fernandes, Leandro Silva Galvão de Carvalho, David Fernandes, Elaine Oliveira, Filipe Dwan Pereira, Tanara Lauschner
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensino de Programação Paralela na Educação Básica: Uma Revisão Sistemática da Literatura, Análise Bibliométrica e Agenda para Estudos Futuros</b> <br>   
                                Felipe Perez, Wilk Oliveira, Anderson Corrêa de Lima, Amaury Castro Jr., Graziela Araújo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensino, Aprendizagem e Uso Profissional da UML em Belo Horizonte e Região</b> <br>   
                                Ian Guelman, Edson Oliveira Jr., Laerte Xavier
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Estudo sobre Evasão nos Cursos de Computação da Universidade Estadual de Maringá</b> <br>   
                                Amanda Tiemi Fukao, Luciana Martimiano, Valéria Feltrim, Thelma Colanzi
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>O sucesso não é apenas uma questão de sorte: um mapeamento sistemático sobre técnicas de análise do Enade da área de Computação</b> <br>   
                                Pedro Luis Saraiva Barbosa, Gabriela Nayara Duarte, Windson Viana, Rafael Carmo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Panorama da diversidade nos cursos presenciais de Computação e Tecnologias da Informação e Comunicação das universidade públicas de Santa Catarina</b> <br>   
                                Maria Teresa Santos, Laís Pisetta Van Vossen, Daniella Vasconcellos, Guilherme Tomaselli Borchardt, Roger Junior, Eric Carvalho da Silveira, Marily Silva, Isabela Gasparini
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Passar nos casos de teste é suficiente? Identificação e análise de problemas de compreensão em códigos corretos</b> <br>   
                                Eryck Silva, Ricardo Caceffo, Rodolfo Azevedo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Tradução e Validação de um Instrumento para Mensurar Atitudes em Relação à Robótica</b> <br>   
                                João Pedro Moraes, Roberto Bittencourt
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Um Mapeamento Sistemático da Literatura sobre Pensamento Computacional na Perspectiva dos Fundamentos Teóricos de Aprendizagem</b> <br>   
                                Julian Mubarack Garcia, Roberto Bittencourt
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma Análise em Larga-Escala das Funcionalidades de Aplicativos criados com App Inventor</b> <br>   
                                Nathalia Alves, Christiane Gresse von Wangenheim
                            </td>
                            </tr>

                        </table>
                         
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#membrosComunidade" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 2: Relatos de Experiência</h4>
                        </button>
                    </h2>
                </div>

                <div id="membrosComunidade" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>A Liga do Pensamento Computacional: uma narrativa distópica para gamificar uma disciplina introdutória de computação</b> <br>   
                                Roberto Pereira, Rachel Reis, Leonam Oliveira, Guilherme Derenievicz, Leticia Peres, Fabiano Silva
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>An Experience Report of Remote Teaching about the IT Leadership Course - A Practical Approach</b> <br>   
                                Marina Rocha, Gabriela Dias, Gilberto Junior de Oliveira, Jorge Luiz, Mateus Andrade, Jacilane Rabelo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Applying Remotely the Challenge Based Learning Methodology in Undergraduate and Postgraduate Disciplines</b> <br>   
                                Andrew Costa, Carlos Lucena, Gustavo Carvalho
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Computação Criativa Online: relato de experiência da adaptação de uma oficina de desenvolvimento do Pensamento Computacional para crianças</b> <br>   
                                Thiago Barcelos, Leticia Rejane Vidal Souza, Ana Kirchoff, Giselle Silva
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Eficácia das Metodologias Ativas e do Suporte Tecnológico no Ensino de Machine Learning na Educação Básica</b> <br>   
                                Ramon Martins, Christiane Gresse von Wangenheim, Marcelo Rauber, Jean Hauck
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensino Remoto de Programação em Java para Estudantes do Ensino Técnico Utilizando Tablets: Um Relato de Experiência</b> <br>   
                                Claudiano Oliveira, Carla Ilane Moreira Bezerra, Emanuel Coutinho
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Gamificando Aulas Invertidas no Ensino de Engenharia de Requisitos: Um Relato de Experiência</b> <br>   
                                Maria Elanne Rodrigues, Gabriela Nayara Duarte, Windson Viana, Anna Beatriz Marques, Necio Veras
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>O Desenvolvimento de Tecnologias Cívicas Como Forma de Exercício da Cidadania</b> <br>   
                                Vinicius Hartmann Ferreira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Pensamento Computacional e Scratch: Um relato de Experiências com Estudantes do Ensino Médio Público no Distrito Federal</b> <br>   
                                Vinicius Monteiro, Maristela Holanda
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>PIBID em Computação: desafios, estratégias e resultados para formação docente em um contexto pandêmico</b> <br>   
                                Ariane Rodrigues, Cleyton Rodrigues
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Robótica Educacional e Habilidades do Século XXI: Um estudo de caso com estudantes do ensino médio</b> <br>   
                                João Pedro Moraes, Roberto Bittencourt, Rodrigo Duran
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Um Relato de Experiência sobre a Oferta da Disciplina “Desenvolvimento de Software Livre” para os Cursos de Ciência da Computação e Sistemas de Informação</b> <br>   
                                Paulo Parreira Júnior, Julio Alves, Heitor Costa, Andre Freire, Igor Wiese
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma contribuição na inserção da Computação nas escolas rurais por meio de computação desplugada</b> <br>   
                                Natália Santana dos Santos, Andressa Medeiros, Nildo Pereira da Silva Junior, Julio Herculani, Simone Tonhão, William de Araujo Cadette, Jorge Prates
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaCurriculo" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 3: Currículos</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaCurriculo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Curricularização da Extensão Universitária em Cursos de Computação: experiências e possibilidades</b> <br>   
                                Amanda Melo, Aline Mello, Diego Kreutz, Maicon Bernardino
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Currículo Paulista e do Projeto Inova Educação: como as tecnologias se inserem nas novas diretrizes curriculares do Estado de São Paulo</b> <br>   
                                Ayana Cristina Anselmo Pereira, Henrique Fonseca, Flávia Linhalis
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Pensamento Computacional e Tecnologias Digitais na Formação de Professores: uma Análise Curricular de Cursos de Licenciatura</b> <br>   
                                Bruno Barboza dos Santos, Taciana Pontual Falcão
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma Análise da Curricularização da Extensão na Graduação em Computação: Possibilidades e Desafios</b> <br>   
                                Andrea Bordin
                            </td>
                            </tr>

                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaRecursos" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 4: Recursos e Ambientes Educacionais</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaRecursos" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Coleta de evidências do exercício do Pensamento Computacional: um artefato de apoio</b> <br>   
                                Carolina Moreira Oliveira, Roberto Pereira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Cyberbullying na Escola: Entendendo e Lidando com a Crueldade Online</b> <br>   
                                Wellington Pereira, Rozelma França
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensinando Pensamento Computacional para Alunas de Disciplinas Introdutórias de Programação no Ensino Técnico através de um MOOC</b> <br>   
                                Cynthia Santiago, José Roberto Carvalho Lima, Thainara Costa
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Joanimath Robot: Uma Plataforma Robótica Para o Auxílio no Ensino-aprendizagem da Matemática</b> <br>   
                                Iago Oliveira, Glaucia Campos, Anderson Souza, Felipe Oliveira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Normas, Diretrizes e Material Didático para o Ensino de Computação na Educação Básica Brasileira</b> <br>   
                                Marcia Jochims Kniphoff da Cruz, Tainã Tavares, Gustavo Baumgarten, Samanta Marques, Wilk Oliveira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Um recurso educacional para desenvolver a habilidade da percepção de padrões de equívocos com aprendizes de programação</b> <br>   
                                Gabriel Silverson Gomes, Ygor Nishi, Paula Bosse Ramos, Leonardo Silva, Eduardo Guerra, Igor Wiese, Yorah Bosse
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma Ferramenta para Auxiliar o Desenvolvimento do Pensamento Computacional em Crianças</b> <br>   
                                Arthur Santos, Felipe Oliveira, Glaucia Campos
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaEnsaios" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 5: Ensaios</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaEnsaios" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Juízes Online são suficientes ou precisamos de um "VAR"?</b> <br>   
                                Alexandre Barbosa, Evandro de Barros Costa, Patrick Brito
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Reflexões sobre tecnologias digitais da informação e comunicação sob a perspectiva da educação hacker</b> <br>   
                                Aletheia Machado de Oliveira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma possível abordagem para o ensino introdutório de algoritmos em cursos de Computação</b> <br>   
                                Marcos Castilho, Fabiano Silva, Daniel Weingaertner
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaMinicursos" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Minicursos</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaMinicursos" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Google Colab para Ensino de Computação</b> <br>   
                                Ricardo Ferreira, Michael Canesche, Jeronimo Penha
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Recursos Educacionais Abertos para Apoio ao Ensino de Computação na Educação Básica</b> <br>   
                                Fernando Cesar Balbino, William Simão de Deus, Ellen Francine Barbosa
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>



            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaPaineis" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Painéis</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaPaineis" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <b>Como Enfrentar o Desengajamento dos Estudantes de Computação da Educação Básica Utilizando Gamificação?</b> <br>   
                                    Ana Cláudia Guimarães Santos, Isabelle Melo do Nascimento, Wilk Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Da BNCC à BNCC Computação: Histórico, Afinidades e Desafios na Implementação de um Currículo Único</b> <br>   
                                    Ana Cláudia Guimarães Santos, Isabelle Melo do Nascimento, Wilk Oliveira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Curricularização da Extensão: Experiências e Propostas para os Cursos Superiores de Computação</b> <br>   
                                    Amanda Melo, Ecivaldo Matos, Aline Mello, Juliana Santos
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaWTD" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Workshop de Teses e Dissertações (WTD)</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaWTD" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Análise Qualitativa do Ensino de Computação na Educação Básica à Luz das Normas Complementares da BNCC</b> <br>   
                                Leonardo Pimenta, Paulo Parreira Júnior, Heitor Costa
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Desenvolvendo competências: Cobertura de (<i>soft skills</i>) nos currículos de Sistema de Informação</b> <br>   
                                Bruna Romeiro, Ellen Francine Barbosa
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Desenvolvimento de um Método Para Impulsionar os Estudos de Programação Competitiva no Ensino Médio e Fundamental</b> <br>   
                                Giullia Menezes, Rafael Araújo, João Pereira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Gamificando a Preparação para o Enade em Cursos Superiores de Computação</b> <br>   
                                Gabriela Nayara Damazio, Windson Viana
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Projeto e Avaliação da Experiência do Aprendiz em Sistemas Computacionais</b> <br>   
                                Deivid Eive, Natasha Valentim
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Testes Adaptativos de preparação para o Enade em cursos de Computação</b> <br>   
                                Pedro Luis Saraiva Barbosa, Windson Viana, Rafael Carmo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma Abordagem para Apoiar Docentes no Desenvolvimento de Habilidades Técnicas e Comportamentais em Engenharia De Requisitos</b> <br>   
                                Regiane Orlovski, Sheila Reinehr, Andreia Malucelli
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaLabIdeias" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Laboratório de Ideias</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaLabIdeias" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                                <td>
                                    <b>Ara Yma: Um Jogo para Incentivar a Aprendizagem sobre Computação na Educação Básica</b> <br>   
                                    Alfredo Costa Junior, Hádria Farias, Karen Silva, Fabiola Araújo
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Avaliação da Aprendizagem por Jogos e Pensamento Computacional Centrada na Resolução De Problemas</b> <br>   
                                    Daniel Nipo, Rodrigo Rodrigues, Rozelma França
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>CodeBo Unplugged: um jogo desplugado para o ensino da Estrutura de Dados Pilha</b> <br>   
                                    Luis Gustavo Araújo, Tamilis Oliveira , Andreia Pinheiro
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>CodeTesting: Sistema de apoio ao ensino de Lógica de Programação</b> <br>   
                                    Mario Pereira, Ester Santos, Joaldo Junior, Yla Santos
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Desenvolvimento de uma plataforma de testes automatizados como forma de apoiar a aprendizagem de testes</b> <br>   
                                    Rafaela Melo, Fernanda Pires, Ramayana Menezes, Rodrigo de Freitas
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Em Direção a uma Ferramenta de Recomendação de Código para Apoiar o Aprendizado de Programação</b> <br>   
                                    Guilherme de Moura, Williamson Silva, Gabriel Lunardi
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Em direção ao desenvolvimento de um chatbot baseado em exemplos para prática de conteúdos de programação</b> <br>   
                                    Renato Garcia, Pedro Henrique Dias Valle, Fábio Basso, Williamson Silva
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Ensino da Computação Potencializado pela Contação de Histórias</b> <br>   
                                    Aline Ferreira Pereira da Silva , Aidê Romão
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Ensino de Programação para Estudantes do Ensino Médio de Escolas Públicas com Igualdade de Gênero</b> <br>   
                                    Giullia Menezes, Luiz Cláudio Theodoro, Rafael Araújo, João Pereira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Ferramentas de Visualização de Programas na Compreensão de Funções de Alta-Ordem</b> <br>   
                                    Marcos Martins
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Ideias para uso do Google Colab no Ensino de Computação</b> <br>   
                                    Ricardo Ferreira, Michael Canesche, José Augusto Nacif
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Jogos Digitais e Habilidades do Século XXI</b> <br>   
                                    Anselmo dos Santos Rocha Junior, João Pedro Moraes, Joacir Ferreira
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Pensar e Vestir: Desenvolvimento do Pensamento Computacional em crianças neurotípicas e com Deficiência Intelectual por meio de um Jogo Digital Educacional</b> <br>   
                                    Matheus Soppa Geremias, Isabela Gasparini, Eleandro Maschio, Taynara Dutra
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>projetES: Proposta de Plataforma de Fomento à Prática de Design Thinking por Estudantes de Graduação</b> <br>   
                                    Dariane Ramos Abich, Icaro Iglesias, Rafael Parizi
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Proposta de introdução ao Machine Learning no ensino médio</b> <br>   
                                    Ana Paula Boaventura, Pedro Henrique Franco, Thiago Oliveira, Eduardo Elias Pereira da Silveira Filho, Gustavo Costa
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>RobotCode: um jogo educacional para auxiliar na aprendizagem de lógica de programação</b> <br>   
                                    Fabrizio Honda, Rafaela Melo, Fernanda Pires, Marcela Pessoa
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <b>Sistema Analítico de Progressão Universitária</b> <br>   
                                    Rafael Riegel, Marcos Mantovani, Luiz Afonso Silva Costa, Marco Antônio Santos Souza, Regina Paiva Melo Marin, Djonata Schiessl
                                </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

            
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaLancaLivro" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Lançamento de Livros</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaLancaLivro" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Pesquisa Científica na Computação: Uma Abordagem com Revisão Sistemática de Literatura</b> <br>   
                                Marcos Wagner de Souza Ribeiro, Ana Carolina Gondim Inocêncio, Ana Paula Freitas Vilela Boaventura
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b><i>Teaching Coding in K-12 Schools: Research and Application</i></b> <br>   
                                Therese Keane, Andrew Fluck, Nathalia da Cruz Alves
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Programação Paralela e Distribuída com MPI, OpenMP e OpenACC para computação de alto desempenho</b> <br>   
                                Gabriel P. Silva, Calebe P. Bianchini, Evaldo B. Costa
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>

        

        </div>
-->
            </div>
        </div>
    </div>
</section>