{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
  <div class="container" style=" font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-8 mx-auto  ">



        <p class="lead" style="text-align: justify; font-size: 14pt">
          Artigos completos podem ser escritos em português ou inglês e devem seguir o formato do EduComp (disponível em
          template do Overleaf <a href="https://www.overleaf.com/latex/templates/modelo-educomp-2024/gcvwqsbcywfx"
            target="_blank">aqui</a> e no formato Word <a
            href="https://github.com/CEduComp/modelo-artigo-word/raw/main/template_educomp_2024.docx"
            target="_blank">aqui</a>) contendo o mínimo de 6 (seis) e o máximo de 10 (dez) páginas, com a possibilidade
          de páginas adicionais apenas de referências. Artigos aceitos serão publicados no Portal de Publicações e
          Conteúdos Digitais da SBC – <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>. Para
          tanto, os autores deverão preencher o <a
            href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao"
            target="_blank">Termo de Autorização de Publicação</a> para a SBC. Na submissão, os artigos devem ser
          anonimizados para garantir as avaliações duplo-anônimas (<i>double anonymous reviews</i>). A submissão dos
          artigos completos deve ser realizada por meio da plataforma <a
            href="https://submissoes.sbc.org.br/home.cgi?c=4469" target="_blank">JEMS</a>.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Recomenda-se que artigos submetidos a qualquer uma das trilhas, que resultem de pesquisas ou experimentos que
          envolvam pessoas, descrevam como as questões éticas foram tratadas. Caso o projeto que deu origem ao trabalho
          tenha registro na Plataforma Brasil ou em Comitê de Ética em Pesquisa institucional, solicita-se que os
          autores coloquem o número de registro ou informações de referência na versão final do texto.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">Os artigos devem ser encaminhados a uma das
          seguintes trilhas.</p>
        <br>

        <div class="accordion mb-5" id="accordionExample">
          <div class="card">
            <div class="card-header" id="trilha1-acordeao">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <h4>Trilha 1: Artigos de Pesquisa</h4>
                </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="trilha1-acordeao" data-parent="#accordionExample">
              <div class="card-body">
                <div style="margin: 2em;">
                  <strong>Coordenação:</strong> Jean Carlo Rossa Hauck (UFSC) | Ricardo Edgard Caceffo
                  (Unicamp/Univesp)<br>
                  <strong>Contato:</strong> jean.hauck@ufsc.br | caceffo@ic.unicamp.br
                </div>

                <ul>
                  <li class="lead" style="text-align: justify; font-size: 14pt">
                    <strong>Artigos de pesquisa</strong> devem seguir padrões científicos rigorosos, descrevendo
                    questões, fundamentos, métodos, resultados, discussões e limitações da pesquisa. Concentram-se em
                    diversos tópicos relevantes e de interesse atual para a educação em computação com ênfase em
                    objetivos educacionais; métodos ou técnicas e avaliação de abordagens pedagógicas. Metodologias de
                    pesquisa de todos os tipos são bem-vindas, incluindo métodos empíricos (qualitativos, quantitativos
                    ou mistos), analíticos, críticos, ciência de design e outros.

                  </li>
                </ul>

                <a class="btn btn-primary" href="/simposio/2024/trabalhos/criterios/trilha-1" target="_blank">
                  Critérios de Revisão (Trilha 1)
                </a>

              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#membrosComunidade"
                  aria-expanded="true" aria-controls="membrosComunidade">
                  <h4>Trilha 2: Relatos de Experiência</h4>
                </button>
              </h2>
            </div>

            <div id="membrosComunidade" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div style="margin: 2em;">
                  <strong>Coordenação:</strong> Kiev Santos da Gama (UFPE) | Emanuel Ferreira Coutinho (UFC)<br>
                  <strong>Contato:</strong> kiev@cin.ufpe.br | emanuel.coutinho@ufc.br
                </div>

                <ul>
                  <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos de relato de
                      experiência</strong> devem descrever cuidadosamente uma intervenção de educação em computação e
                    seu contexto. Devem trazer detalhes suficientes que permitam a adoção por terceiros, além de
                    oferecer uma reflexão aprofundada sobre seus aspectos positivos e negativos, assim como as
                    limitações da intervenção realizada. Apesar de não ser obrigatório para um relato de experiência, é
                    recomendado que haja evidências a respeito da efetividade ou resultados alcançados com a intervenção
                    descrita.</li>
                </ul>

                <a class="btn btn-primary" href="/simposio/2024/trabalhos/criterios/trilha-2" target="_blank">
                  Critérios de Revisão (Trilha 2)
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaCurriculo"
                  aria-expanded="true" aria-controls="membrosComunidade">
                  <h4>Trilha 3: Currículos</h4>
                </button>
              </h2>
            </div>

            <div id="trilhaCurriculo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div style="margin: 2em;">
                  <strong>Coordenação:</strong> Ana Paula Lüdtke Ferreira (UNIPAMPA) | Ana Liz Souto Oliveira (UFPB)
                  <br>
                  <strong>Contato:</strong> anaferreira@unipampa.edu.br | analiz@dcx.ufpb.br
                </div>

                <ul>
                  <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos sobre
                      currículos</strong> devem discutir legislação, diretrizes, estruturas, abordagens e organizações
                    curriculares para cursos ou programas na área de Computação, em todos os níveis de ensino. Podem
                    abranger resultados de pesquisas, relatos de experiências ou posicionamentos sobre o tema,
                    descrevendo o contexto, as motivações, os fundamentos pedagógicos, a exigência da legislação, os
                    recursos necessários, seu potencial impacto, avaliação dos resultados e as recomendações para adoção
                    por outros educadores, sempre com discussão a respeito do referencial teórico. Os artigos submetidos
                    a esta trilha também incluem artigos de posicionamento (<i>position papers</i>), que devem gerar uma
                    discussão acadêmica por meio de uma opinião defensável sobre aspectos curriculares da formação de
                    estudantes na área de computação, substanciado por evidências.
                  </li>
                </ul>

                <a class="btn btn-primary" href="/simposio/2024/trabalhos/criterios/trilha-3" target="_blank">
                  Critérios de Revisão (Trilha 3)
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaRecursos"
                  aria-expanded="true" aria-controls="membrosComunidade">
                  <h4>Trilha 4: Recursos e Ambientes Educacionais</h4>
                </button>
              </h2>
            </div>

            <div id="trilhaRecursos" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div style="margin: 2em;">
                  <strong>Coordenação:</strong> Rafaela Vilela da Rocha (UFABC) | Eduardo Figueiredo (UFMG)

                  <br>
                  <strong>Contato:</strong> rafaela.vilela@gmail.com | figueiredo@dcc.ufmg.br
                </div>

                <ul>
                  <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>
                      Artigos sobre recursos educacionais</strong> devem apresentar recursos educacionais específicos
                    para a educação em computação em um ou mais níveis da educação formal ou não formal. Devem
                    descrever: a motivação para a criação do recurso educacional; os fundamentos teóricos e/ou
                    pedagógicos que embasam sua concepção; a organização do material (e.g., objetivos, conteúdo,
                    público, disponibilidade, dentre outros elementos); a dinâmica de uso do recurso, de preferência
                    associada a um cenário real onde ele foi ou será testado, além de detalhes suficientes que permitam
                    a replicação de seu uso por educadores; o tipo de licença (se pertinente); e uma reflexão
                    teórico-crítica sobre o seu potencial ou real impacto. Todo e qualquer conteúdo que seja utilizado
                    para fins educacionais pode ser considerado um recurso educacional. Recursos educacionais típicos
                    incluem (mas não estão limitados a) livros didáticos, planos de aula, softwares educacionais, jogos
                    educativos, vídeos, áudios, imagens e até mesmo cursos completos (como MOOCs, por exemplo).
                  </li>
                  <li class="lead" style="text-align: justify; font-size: 14pt">
                    <strong>Artigos sobre ambientes e plataformas educacionais</strong> devem apresentar ambientes e
                    plataformas inovadoras de software e/ou hardware para apoiar o ensino ou a aprendizagem de
                    computação. Devem descrever a motivação para a criação do ambiente/plataforma; fundamentos teóricos
                    e/ou pedagógicos que embasam sua concepção; principais funcionalidades e potenciais usuários;
                    exemplo de uso, possivelmente com uma prova de conceito e telas que ilustram a interface (quando
                    aplicável); arquitetura do ambiente/plataforma com enfoque em seus principais componentes e nas
                    interfaces entre eles; breve comparação com outras plataformas relacionadas existentes; e o tipo de
                    licença (se pertinente).

                  </li>
                </ul style="text-align: justify; font-size: 14pt">

                <a class="btn btn-primary" href="/simposio/2024/trabalhos/criterios/trilha-4" target="_blank">
                  Critérios de Revisão (Trilha 4)
                </a>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaEnsaios"
                  aria-expanded="true" aria-controls="membrosComunidade">
                  <h4>Trilha 5: Ensaios</h4>
                </button>
              </h2>
            </div>

            <div id="trilhaEnsaios" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div style="margin: 2em;">
                  <strong>Coordenação:</strong> João Henrique Berssanette (IFPR) | Mirella Moura Moro (UFMG)<br>
                  <strong>Contato:</strong> joao.berssanette@ifpr.edu.br | mirella@dcc.ufmg.br
                </div>

                <ul>
                  <li class="lead" style="text-align: justify; font-size: 14pt">
                    <strong>Ensaios</strong> têm o propósito de expor ideias, pontos de vista ou posicionamentos sobre
                    determinado tema; revisar e analisar assuntos e interpretações; e debater ideias e opiniões com
                    fundamentação em teorias, pesquisa bibliográfica e/ou evidências empíricas. Ensaios devem apresentar
                    argumentação de natureza crítico-reflexiva, fundamentada, buscando profundidade e originalidade no
                    enfoque sem, necessariamente, pretender explorar o tema de forma exaustiva.

                  </li>
                </ul>


                <a class="btn btn-primary" href="/simposio/2024/trabalhos/criterios/trilha-5" target="_blank">
                  Critérios de Revisão (Trilha 5)
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>