{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="lead  mb-4" style="text-align: justify; font-size: 14pt">
                    <strong>Coordenação:</strong> Windson Viana de Carvalho (UFC), Ellen Francine Barbosa (USP)<br>
                    <strong>Contatos:</strong> windson@virtual.ufc.br, francine@icmc.usp.br
                </p>




                <p class="lead" style="text-align: justify; font-size: 14pt">
                    O Concurso de Teses e Dissertações (CTD) do Educomp tem como objetivo destacar e divulgar as
                    pesquisas defendidas em programas de pós-graduação stricto sensu em temas relacionados à área de
                    Educação em Computação. Submissões podem tratar de dissertações e teses concluídas que abordem todos
                    os aspectos da Educação em Computação, ou seja, a educação de estudantes que estejam aprendendo
                    computação, em qualquer nível de ensino.

                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Na edição de 2024, serão premiadas as melhores Teses e Dissertações defendidas e aprovadas no Brasil
                    nos anos de 2022 e 2023.
                </p>


                <h3 class="mb-4 mt-5">Critérios para Participação​​</h3>


                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Podem enviar trabalhos para este concurso, pessoas com doutorado ou mestrado que tenham desenvolvido
                    sua pesquisa com temas relacionados aos tópicos de interesse do Educomp e que defenderam suas teses
                    ou dissertações em Programas de Pós-graduação Stricto Sensu de Instituições de Ensino Superior (IES)
                    brasileiras no período de <strong> 1 janeiro de 2022 a 31 de dezembro de 2023.</strong>

                </p>



                <h3 class="mb-4 mt-5">Instruções para Autores​</h3>

                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Para participar do concurso, as pessoas deverão preencher e enviar uma ficha de pesquisa que
                    descreve o trabalho de tese ou de dissertação e destaca as as principais contribuições para o
                    estado-da-arte de Educomp.

                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt">O template da ficha de pesquisa se encontra
                    em
                    <a href="https://docs.google.com/document/d/1noqVO-5G8j_YGVY1T-qkGj6ZlIbas9fdqemOKQLiDh8/edit">
                        (link)</a>. Ela deve ser preenchida em no máximo duas páginas, ser escrita em português e ter
                    como autores a pessoa candidata e as pessoas responsáveis pela orientação. A ficha deve ser enviada
                    em formato PDF na primeira data de submissão.

                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt">
                    As pessoas candidatas também devem enviar, além da ficha de pesquisa e da tese ou dissertação, o
                    link para o repositório contendo a dissertação ou tese na Universidade que concedeu o diploma. Caso
                    o link para o repositório contendo a dissertação ou tese ainda não exista, responda que “o link
                    ainda não foi disponibilizado” e, acrescente uma justificativa e um link (não oficial compartilhando
                    o trabalho final).


                </p>


                <h3 class="mb-4 mt-5">Submissão de Trabalhos</h3>

                <p class="lead" style="text-align: justify; font-size: 14pt">Cada submissão deverá conter três arquivos,
                    todos em formato PDF:
                </p>

                <div class="container-fluid mb-4">
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item">1. Ficha de pesquisa de até duas páginas (paper manuscript);</li>
                        <li class="list-group-item">2. Arquivo do documento final da tese ou dissertação;
                        </li>
                        <li class="list-group-item">3. Cópia da Ata de Defesa do trabalho.</li>

                    </ol>
                </div>

                <p class="font-italic lead" style="text-align: justify; font-size: 12pt">Obs.: Na Ata de Defesa, deverá
                    constar explicitamente que a pessoa candidata teve seu o trabalho aprovado e <strong>defendido em
                        2022 ou em 2023</strong> e ainda deverá informar o local, a data de defesa, o nome da
                    instituição, o nome das pessoas orientadoras e os nomes dos participantes da banca avaliadora.
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt">As pessoas candidatas deverão submeter seus
                    trabalhos eletronicamente pelo <a href="https://jems.sbc.org.br/jems2/">Sistema JEMS</a> ,
                    escolhendo a trilha correspondente (Mestrado ou Doutorado). </p>

                <h3 class="mb-4 mt-5">Seleção, Apresentação e Premiação
                </h3>

                <p class="lead" style="text-align: justify; font-size: 14pt">A seleção ocorrerá em cinco etapas,
                    conforme descritas a seguir:

                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt"><strong>[Etapa 1] </strong>Todos os
                    trabalhos submetidos passarão por uma avaliação inicial, a qual será feita pela coordenação do CTD.
                    Nessa primeira etapa, a ideia não é avaliar o mérito dos trabalhos mas sim a sua
                    <strong>aderência</strong> aos temas do
                    Educomp 2024.
                </p>


                <p class="lead" style="text-align: justify; font-size: 14pt"><strong>[Etapa 2]</strong> Os autores de
                    todos os trabalhos selecionados na Etapa 1 deverão apresentar a pesquisa desenvolvida em um
                    <strong>Webinar</strong> que será organizado no <strong>22 de Março</strong>.As apresentações também
                    serão avaliadas pelo comitê de avaliação.
                </p>


                <p class="lead" style="text-align: justify; font-size: 14pt"><strong>[Etapa 3]</strong> As pesquisas da
                    Etapa 2 que tenham apresentado seus trabalhos no Webinar passarão por um processo de avaliação pelo
                    comitê de programa do CTD.

                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt"><strong>[Etapa 4]</strong> Com base nas
                    avaliações das Etapas 2 e 3, a coordenação do CTD selecionará as melhores dissertações de mestrado e
                    teses de doutorado que terão seus trabalhos selecionados para a apresentação FINAL durante o evento
                    do Educomp. Todos os trabalhos selecionados serão publicados (um artigo resumo de uma página) nos
                    Anais do evento.

                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt"><strong>[Etapa 5]</strong> Durante a
                    apresentação no evento, para fins de premiação, um comitê de avaliação levará em conta o trabalho
                    completo desenvolvido na tese ou dissertação, incluindo os potenciais impactos sociais, científicos
                    e tecnológicos para a área.

                </p>

                <h3 class="mb-4 mt-5">Inscrição no Evento</h3>


                <p class="lead" style="text-align: justify; font-size: 14pt">A autora principal dos trabalhos
                    selecionados (pessoa candidata à premiação) deverá estar inscrita no evento. A inscrição deve ser
                    confirmada até a data de submissão da versão final.
                </p>


















            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>