{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
  <div class="container" style="font-family: 'Inter var', sans-serif;">
    <div class="row">
      <div class="col-lg-8 mx-auto">



        <p class="lead  mb-4" style="text-align: justify; font-size: 14pt">
          <strong>Coordenação:</strong> Nathalia da Cruz Alves (UFSC)<br>
          <strong>Contato:</strong> nathalia.alves@posgrad.ufsc.br<br>
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          O Laboratório de Ideias é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas
          e/ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do
          Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores e/ou receber feedback qualificado
          para aquela ideia.
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
          As propostas para o Laboratório de Ideias devem ser limitadas a um resumo simples de uma página em coluna
          dupla, com a possibilidade de uma página adicional apenas de referências e/ou agradecimentos. O resumo deve
          seguir o formato do EduComp (disponível em template do Overleaf <a
            href="https://www.overleaf.com/latex/templates/modelo-educomp-2024/gcvwqsbcywfx" target="_blank">aqui</a>
          e no formato Word <a href="https://github.com/CEduComp/modelo-artigo-word/raw/main/template_educomp_2024.docx"
            target="_blank">aqui</a>). Tanto o resumo quanto o vídeo de apresentação não necessitam ser anonimizados,
          pois apenas as avaliações serão anônimas. No resumo simples, deve ser inserido adicionalmente o link do
          vídeo de apresentação da proposta de até cinco minutos de duração. É de responsabilidade dos autores que o
          vídeo esteja disponível em alguma plataforma na internet (e.g., YouTube) e que o link esteja liberado para
          acesso. As propostas devem ser submetidas eletronicamente, em formato PDF, por meio da plataforma <a
            href="https://submissoes.sbc.org.br/home.cgi?c=4469" target="_blank">JEMS</a>.
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
          Para o resumo simples, os autores devem submeter o arquivo em formato PDF. Os resumos podem ser escritos
          tanto em português quanto em inglês. Os resumos devem ser submetidos na plataforma JEMS da SBC. Tanto o
          resumo quanto o vídeo serão avaliados por pelo menos dois revisores. Se a proposta for aceita, (i) o vídeo
          será apresentado, em paralelo ao evento, nas redes sociais da CEduComp (Facebook, YouTube, e Instagram);
          (ii) ao menos um dos autores da proposta aprovada deverá participar em uma das videoconferências abertas
          realizadas durante o evento com o propósito de debater as propostas do Laboratório de Ideias apresentadas
          nas redes sociais; e (iii) o resumo da proposta aprovada será publicado nos anais estendidos do evento no
          Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL).
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
          Havendo alguma questão ou dúvida, favor entrar em contato com a coordenação do Laboratório de Ideias
          (Nathalia da Cruz Alves) pelo e-mail: nathalia.alves@posgrad.ufsc.br.
        </p>


      </div>
    </div>
  </div>
</section>