{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="lead  mb-4" style="text-align: justify; font-size: 14pt">
                    <strong>Coordenação:</strong> Ecivaldo Matos (USP)<br>
                    <strong>Contato:</strong> ecivaldo@usp.br
                </p>


                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Um evento científico é um espaço de encontros e compartilhamentos. Encontros de uma comunidade
                    ávida pela produção em prol de compreender e melhorar os aspectos que envolvem o ensino e a
                    aprendizagem de Computação.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Nesse sentido, o EDUCOMP 2024 não será apenas um local (online) de apresentação de ideias e
                    resultados de pesquisa ou relatos de experiências, mas um espaço de difusão e produção de
                    saberes, de discussões, de questionamentos epistêmicos e do estabelecimento de agendas, a partir
                    dos interesses da própria comunidade.

                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt">Portanto, para além das trilhas já
                    tradicionais, gostaríamos de lhe convidar, como participantes da nossa comunidade, a propor
                    momentos dialógicos no formato de mesa temática.</p>


                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Os temas são livre escolha, desde que dentro do escopo do evento, ou seja, relacionados à
                    Educação em Computação. Mesas relacionadas à temática central do evento (“Os desafios da
                    Educação em Computação no contexto da popularização da Inteligência Artificial”) são fortemente
                    desejáveis. Mas se a sua proposta não tiver relação com a temática central do evento, não se
                    preocupe. Essa trilha é para falarmos sobre o que nós queremos ou precisamos falar como
                    comunidade. Portanto, não se acanhe. Pode se aglomerar com seus pares e submeter uma proposta
                    que será carinhosamente analisada pelo nosso Comitê de Programa.

                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt">

                    Cada Mesa Temática deverá ocorrer em até 90 minutos, sendo 60 minutos dedicados à apresentação
                    ou diálogo entre as pessoas participantes da mesa e 30 minutos de interação com a plateia.
                    Portanto, tenha o cuidado de definir uma dinâmica possível de ser executada dentro desse tempo.
                    Para o bem de todos/as, seremos rigorosos/as.
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt"></p>


                <h3 class="mb-4 mt-5">Formato e Submissão</h3>


                <p class="lead" style="text-align: justify; font-size: 14pt">
                    As propostas devem se limitar a duas páginas, em português, e devem seguir o formato do EduComp
                    (disponível em template do Overleaf <a
                        href="https://www.overleaf.com/latex/templates/modelo-educomp-2024/gcvwqsbcywfx"
                        target="_blank">aqui</a> e no formato Word <a
                        href="https://github.com/CEduComp/modelo-artigo-word/raw/main/template_educomp_2024.docx"
                        target="_blank">aqui</a>).
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Ao fornecer informações sobre as pessoas propositoras, indique qual das painelistas será a
                    pessoa moderadora colocando a palavra “Moderador(a)” entre colchetes após o seu respectivo nome.
                </p>

                <p class="lead" style="text-align: justify; font-size: 14pt">
                    As propostas de Mesas Temáticas devem usar os nomes das seções padronizadas e seguir as
                    orientações de formatação a seguir:
                </p>

                <ul class="lead" style="text-align: justify; font-size: 14pt">
                    <li>
                        <b>Título</b>
                    </li>
                    <li>
                        <b>Resumo:</b> Breve resumo (até 250 palavras) sobre a proposta.
                    </li>
                    <li>
                        <b>Visão geral:</b> A proposta deve conter um resumo expandido dos objetivos da mesa,
                        expectativa, justificativa e relevância para a comunidade do Educomp 2024.
                    </li>
                    <li>
                        <b>Estruturação e dinâmica:</b> Nesta seção devem ser apresentadas, com riqueza de detalhes,
                        a estrutura e dinâmica da Mesa Temática, deixando evidente como será a sua condução e a
                        interação com a plateia, de modo a possibilitar a participação de todas as pessoas
                        participantes dentro do tempo estipulado para cada Mesa Temática.
                    </li>
                    <li>
                        <b>Apresentação das/os proponentes:</b> Nesta seção deve haver uma minicurrículo de cada
                        proponente, associando-o à proposta da Mesa Temática com a devida justificativa de sua
                        presença na Mesa. Cada mesa pode ser proposta por duas a quatro pessoas, sendo uma delas,
                        obrigatoriamente, a moderadora.
                    </li>
                    <li>
                        <b>Referências:</b> A citação de trabalhos relevantes, quando apropriado, é encorajada, mas
                        não obrigatória. Se as referências forem incluídas, elas devem ser colocadas em uma seção
                        separada intitulada Referências e devem seguir as diretrizes de formatação do modelo
                        utilizado.
                    </li>
                </ul>

                <p class="font-italic lead" style="text-align: justify; font-size: 12pt">Obs.: Caso defina uma
                    dinâmica de interação frequente com a plateia, o tempo total de diálogo pode ser estendido para
                    90 minutos, mas será necessário deixar isso bem evidenciado em sua proposta, ok? Não queremos
                    perder a oportunidade de interagirmos ao longo das Mesas Temáticas.</p>

                <p class="lead" style="text-align: justify; font-size: 14pt">
                    As propostas de Mesas Temáticas devem ser submetidas eletronicamente, em formato PDF, por meio
                    da plataforma <a href="https://jems.sbc.org.br/home.cgi?c=4492" target="_blank">JEMS</a>. A
                    avaliação das propostas NÃO será anônima. As propostas serão analisadas pelo Comitê de Programa,
                    considerando a relevância e atualidade do tema; a experiência das pessoas proponentes com
                    possibilidade de múltiplas perspectivas sobre o tema; e a assertividade da dinâmica da Mesa
                    Temática, de modo a proporcionar participação adequada das/os painelistas e da plateia.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    As/Os proponentes das Mesas Temáticas podem se inspirar em alguns exemplos de mesas/painéis
                    apresentados no SIGCSE 2022: <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499226"
                        target="_blank">Belonging in
                        Computing</a>, <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499225" target="_blank">The
                        Case for Acknowledging Subjectivity in CS Education Research Data</a>, e
                    <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499230" target="_blank">Should the AP
                        Computer Science A Exam Switch to Using Python?</a>.
                </p>
            </div>
        </div>
    </div>

</section>