{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">

                <p class="lead  mb-4" style="text-align: justify; font-size: 14pt">
                    <strong>Coordenação:</strong> Yorah Bosse (UFMS), Amaury Antonio de Castro Junior (UFMS)<br>

                    <strong>Contatos:</strong> yorah.bosse@ufms.br, amaury.junior@ufms.br
                </p>



                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Os minicursos têm como objetivo a introdução ou aprofundamento em relação a um tópico de
                    interesse no âmbito de Educação em Computação, permitindo que os participantes tenham contato
                    com materiais, ideias, tecnologias e/ou metodologias relacionadas à área e que possam ser
                    imediatamente colocadas em prática.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    O público-alvo dos minicursos envolve estudantes de graduação, de pós-graduação, profissionais
                    da área, pesquisadores e professores, com limite máximo de 30 participantes em cada minicurso.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Os minicursos devem ter a duração de 3 (três) horas e podem ser apresentados em português ou
                    inglês. A realização do minicurso ficará condicionada à inscrição de, no mínimo, 5 participantes
                    ou à análise por parte da organização do evento quanto à viabilidade de sua realização com um
                    grupo menor de inscritos.
                </p>

                <h3>Submissão e seleção de propostas</h3>

                <p class="lead" style="text-align: justify; font-size: 14pt">
                    As propostas devem se limitar a duas páginas, em português ou inglês, e devem seguir o formato
                    do EduComp (disponível em template do Overleaf <a
                        href="https://www.overleaf.com/latex/templates/modelo-educomp-2024/gcvwqsbcywfx"
                        target="_blank">aqui</a> e no formato Word <a
                        href="https://github.com/CEduComp/modelo-artigo-word/raw/main/template_educomp_2024.docx"
                        target="_blank">aqui</a>). As submissões devem, obrigatoriamente, conter as seguintes
                    seções:
                <ol class="lead" style="text-align: justify; font-size: 14pt">
                    <li>Título, autores(as) e filiação (a submissão de minicursos não deve ser anônima);</li>
                    <li>Indicação se é um minicurso teórico, prático ou teórico-prático;</li>
                    <li>Justificativa (síntese da importância da temática em questão);</li>
                    <li>Sumário estendido (explicação resumida do que será coberto em cada tópico);</li>
                    <li>Público-alvo (especificar o público-alvo, delimitar o número máximo de participantes e
                        sinalizar por que o minicurso proposto deve atrair a atenção desse público. Caso existam
                        pré-requisitos, explicitar e justificar os mesmos);</li>
                    <li>Biografia dos(as) autores(as) (apresentar cada autor(a) brevemente);</li>
                    <li>Organização do minicurso: como as 3 horas de duração estarão divididas (e.g. X minutos para
                        apresentação inicial; X minutos para cada tópico teórico, intercalados com X minutos para a
                        parte prática, tempo de intervalo, etc.);</li>
                    <li>Idioma em que será ministrado (português ou inglês);</li>
                    <li>Infraestrutura e materiais necessários, principalmente quais programas (se for o caso) os
                        participantes deverão ter previamente instalados (especificar versão e sistema operacional);
                    </li>
                    <li>Referências bibliográficas.</li>
                </ol>
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Os autores devem ficar atentos ao formato das referências, de acordo com o template requerido.
                    As propostas de minicurso devem ser submetidas eletronicamente, em formato PDF, por meio da
                    plataforma <a href="https://submissoes.sbc.org.br/home.cgi?c=4469" target="_blank">JEMS</a>.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    As submissões serão revisadas e avaliadas com o objetivo de analisar a interseção da proposta de
                    minicurso com temas ligados à área e que sejam de interesse da comunidade.
                </p>

                <h3>Minicursos selecionados</h3>

                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Os autores dos minicursos selecionados deverão enviar como versão final um resumo de duas
                    páginas, seguindo o mesmo template, para publicação nos Anais Estendidos do EduComp 2024. Além
                    disso, os autores devem disponibilizar recursos de apoio, como notas ou slides de curso,
                    substanciais e autocontidos, acompanhados de uma bibliografia, aos participantes do evento, para
                    aprofundamento dos tópicos abordados no curso, e autorizar a publicação do resumo e das notas do
                    minicurso no website do evento.
                </p>
            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>