<style>
  .td1 {
    width: 50%;
  }

  h4 {
    font-size: 14pt;
  }
</style>

{{> simposio/2024/pt-BR/inside-header}}

<section id="sobre-sbc" style="background-color:white;">
  <div class="container" style="font-family: 'Inter var', sans-serif;">
    <div class="row mt-5">
      <div class="col-lg-8 mx-auto">

        <h3 class="pb-2">Formato das Apresentações</h3>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          As apresentações de artigos das <strong>Trilhas Principais</strong>
          ocorrerão ao vivo por meio do Google Meet.
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          O tempo de apresentação será dividido em:
        </p>

        <ul class="lead" style="text-align: justify; font-size: 14pt">
          <li>Para Trilhas principais:
            <ul>
              <li>10 (DEZ) minutos de exposição do trabalho;</li>
              <li>08 (OITO) minutos para perguntas e discussões.</li>
            </ul>
          </li>

        </ul>


        <h3 class="pt-3 pb-2">Template</h3>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Disponibilizamos <a
            href="https://docs.google.com/presentation/d/1a7N-C3lKeWeBWfTNHPDOB4f8Nv4v6Qz7/edit?usp=drive_link&ouid=110907445901590227568&rtpof=true&sd=true"
            target="_blank">um modelo editável de slides</a> que poderá ser usado nas apresentações. O uso do referido
          modelo é facultativo.
        </p>

        <h3 class="pt-3 pb-2">Orientações quanto a acessibilidade digital</h3>

        <p class="lead" style="text-align: justify; font-size: 14pt">
          Disponibilizamos um material com orientações para ajudar a construir uma apresentação inclusiva <a
            href="https://drive.google.com/file/d/1yHqpq1poJkXNJWsD7sectShwzpjyHVAW/view?usp=sharing"
            target="_blank">disponível aqui aqui</a>!
        </p>


        <p class="lead" style="text-align: justify; font-size: 14pt">
          <strong>Importante!</strong>: Lembramos que pelo menos uma pessoa autora deve apresentar o artigo/resumo
          durante o evento. Contamos com sua presença no EduComp 2024!
        </p>


      </div>
    </div>
  </div>
</section>