{{> simposio/2024/pt-BR/inside-header}}

<section id="trabalhos" style="background-color:rgb(255, 255, 255);">
    <div class="container" style=" font-family: 'Inter var', sans-serif;">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p class="lead  mb-4" style="text-align: justify; font-size: 14pt">
                    <strong>Coordenação:</strong> Sheila Reinehr (PUC-PR)<br>
                    <strong>Contato:</strong> sheila.reinehr@pucpr.br
                </p>



                <p class="lead" style="text-align: justify; font-size: 14pt">
                    O III Workshop de Teses e Dissertações em Educação em Computação (III WTD-EduComp) é um espaço
                    dedicado à apresentação e discussão de trabalhos de mestrado e de doutorado em Educação em
                    Computação em desenvolvimento no Brasil. Seu objetivo é propiciar um ambiente construtivo para
                    discussões, dando oportunidade aos estudantes de obterem feedback sobre sua pesquisa e estimular a
                    integração e a cooperação de pesquisadores da área, oferecendo maior visibilidade às pesquisas em
                    andamento em nossa comunidade acadêmica.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Os trabalhos submetidos serão avaliados pelo comitê de programa do III WTD, o qual julgará,
                    primariamente, a adequação do escopo, o grau de maturidade dos trabalhos e os avanços que buscam
                    apresentar à área de Educação em Computação. A pessoa autora deve ser estudante de pós-graduação e
                    responsável pelo desenvolvimento da tese de doutorado ou dissertação de mestrado, e participará das
                    apresentações, fóruns, oficinas e discussões promovidas pelo WTD. Nós buscamos trabalhos que tenham
                    um determinado grau de maturidade: trabalhos que possuam, pelo menos, uma justificativa e perguntas
                    de pesquisa, e no máximo que estejam em processo de coleta e análise de dados. Durante o III
                    WTD-Educomp, os participantes terão a oportunidade de acompanhar oficinas promovidas por experientes
                    pesquisadores na área, apresentar sua pesquisa sob diferentes perspectivas, discutir com outros
                    pesquisadores o andamento de sua pesquisa obtendo feedback de qualidade e promover o seu trabalho
                    entre colegas e a comunidade de Educação em Computação.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Os tópicos de interesse do III WTD-EduComp podem ser consultados <a
                        href="/simposio/2023/trabalhos/topicos-de-interesse">aqui</a>.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    Artigos podem ser escritos em português ou inglês e devem seguir o formato do EduComp (disponível em
                    template do Overleaf <a
                        href="https://www.overleaf.com/latex/templates/modelo-educomp-2024/gcvwqsbcywfx"
                        target="_blank">aqui</a> e no formato Word <a
                        href="https://github.com/CEduComp/modelo-artigo-word/raw/main/template_educomp_2024.docx"
                        target="_blank">aqui</a>) contendo o máximo de 2 páginas. Espera-se que este resumo expandido
                    contenha informações suficientes para julgar o mérito do trabalho: caracterização do problema e
                    perguntas de pesquisa, metodologia (aplicada ou planejada), resultados parciais (caso existam), uma
                    breve descrição dos próximos passos e, principalmente, pontos onde a pessoa gostaria de receber
                    <i>feedback</i>. Nós utilizaremos essas informações para convidar especialistas em cada um destes
                    pontos para as discussões dentro do III WTD-Educomp. Os artigos devem ser submetidos exclusivamente
                    pela plataforma <a href="https://submissoes.sbc.org.br/home.cgi?c=4469" target="_blank">JEMS</a>.
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">

                    A versão final dos artigos aceitos deverá conter uma carta do orientador dando ciência e
                    concordância com a submissão. Os trabalhos selecionados no III WTD-EduComp serão publicados nos
                    Anais estendidos do EduComp 2024, na plataforma <a
                        href="https://sol.sbc.org.br/index.php/educomp/index" target="_blank">SBC OpenLib (SOL)</a>.
                    <!--
             A versão final dos artigos aceitos deverá conter uma carta do orientador dando ciência e concordância com a submissão. Os trabalhos selecionados no II WTD-EduComp serão publicados nos Anais estendidos do EduComp 2023, na plataforma <a href="https://sol.sbc.org.br/index.php/educomp/index" target="_blank">SBC OpenLib (SOL)</a>.
            -->
                </p>
                <p class="lead" style="text-align: justify; font-size: 14pt">
                    A aceitação de um artigo implica que a pessoa autora inscreva-se no EduComp 2024, apresente o artigo
                    no III WTD-EduComp e disponibilize o material solicitado pela organização geral (por exemplo, o
                    vídeo prévio de apresentação no formato solicitado pelo EduComp). Adicionalmente, de forma a
                    publicizar os trabalhos apresentados no III WTD, todos os participantes deverão submeter, ao fim do
                    WTD, um <i>pitch</i> de 2 minutos que será apresentado durante os intervalos do Educomp 2024.
                </p>


            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</section>