  {{> simposio/2021/en-US/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Important Dates (Full Papers) <br><span style="background-color: rgb(127, 197, 255); padding-left: 0.3em; padding-right: 0.3em;">firm deadline</span></h2> 
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt"><strong>Abstract due date</strong>: until <s>September 18, 2020</s> <s>September 26, 2020</s> <span style="background-color: rgb(127, 197, 255);">October 18, 2020</span></li>
            <li class="lead" style="font-size: 14pt"><strong>Paper due date</strong>: until <s>September 25, 2020</s> <s>October 03, 2020</s> <span style="background-color: rgb(127, 197, 255);">October 25, 2020</span></li>
            <li class="lead" style="font-size: 14pt"><strong>Notification to authors</strong>: until <s>November 26, 2020</s> <span style="background-color: rgb(127, 197, 255);">December 18, 2020</span></li>
            <li class="lead" style="font-size: 14pt"><strong>Camera-ready due date</strong>: until <s>December 10, 2020</s> <span style="background-color: rgb(127, 197, 255);">January 10, 2021</span></li>
          </ul>
          <h2>Important Dates (Ideas Lab)</h2>
          <br>
          <ul>
            <li class="lead" style="font-size: 14pt"><strong>Proposal due date</strong>: until December 31, 2021</li>
            <li class="lead" style="font-size: 14pt"><strong>Notification to authors</strong>: until February 21, 2021</li>
            <li class="lead" style="font-size: 14pt"><strong>Submissão da versão final</strong>: until February 28, 2021</li>
          </ul>
        </div>
      </div>
    </div>
  </section>