
  <style>
    td {
      width: 50%;
    }
    h4 {
      font-size: 14pt;
    }
  </style>

  {{> simposio/2021/en-US/headerInterno}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Team</h2>
          
          <br>
          <h3>Organizing Committee </h3>
          <br>

          <hr>
          <table class="table table-striped">
            <tr>
              <td>
                <h4>General Chair</h4>
              </td>
              <td>
                <ul>
                  <li>Esdras Bispo Jr (UFJ)</li>
                </ul>
              </td>
              <td>bispojr@ufg.br</td>
            </tr>

            <tr>
              <td>
                <h4>Consulting Board</h4>
              </td>
              <td colspan="2">
                <ul>
                  <li>Avelino Zorzo (PUC-RS)</li>
                  <li>Jair Leite (UFRN)</li>
                  <li>Maria de Fátima Brandão (UnB)</li>
                  <li>Mirella Moro (UFMG)</li>
                  <li>Renata Araújo (Mackenzie)</li>
                </ul>
              </td>
            </tr>
          <tr>
            <td>
              <h5>Web Site</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Harley Mello (IFCE)</li>
                <li>Esdras Bispo Jr (UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Online Tools and <br>Technical Support</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Christian Brackmann (IFFar)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publications</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Elaine Oliveira (UFAM)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Publicity and Social Media</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Aruquia Peixoto (CEFET-RJ)</li>
                <li>Franciny Barreto (UFJ)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Finance and Registration</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Wilkerson Andrade (UFCG)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Liaison with Schools</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Marcia Elena Kniphoff (UNISC)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Scientific Societies Liaison</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Mirella Moro (UFMG)</li>
              </ul>
            </td>
          </tr>

          <tr>
            <td>
              <h5>Student Volunteers</h5>
            </td>
            <td colspan="2">
              <ul>
                <li>Carolina Oliveira (UFPR)</li>
              </ul>
            </td>
          </tr>
        </table>

        </div>
      </div>
    </div>
  </section>