  {{> simposio/2021/en-US/headerInterno}}

  <section style="background-color:rgb(221, 232, 243);" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Topics of Interest</h2>
          <br>
          <p class="lead" style="font-size: 14pt">Within the <span style="font-weight: bold">domain of computing education</span>, submissions will cover specific educational subjects, including but not limited to:</p>
          <br>
          <input id="search" name="search" placeholder="Filter List" type="text" data-list=".list" class="form-control" />
          <br>
          <ul style="font-size: 14pt" class="list" id="topicos">
            <li class="lead li_1_7">Pedagogical content knowledge in computing</li>
            <li class="lead li_1_7">Teaching and/or learning computing courses</li>
            <li class="lead li_1_7">Strategies for teaching and/or learning computing</li>
            <li class="lead li_1_7">Active learning approaches in computing</li>
            <li class="lead li_1_7">Educational and psychological theories applied to computing education</li>
            <li class="lead li_1_7">Metacognition in computing education</li>
            <li class="lead li_1_7">Learning assessment in computing</li>
            <li class="lead li_8_15">Computing curricula</li>
            <li class="lead li_8_15">Failure, dropout and retention in computing programs and courses</li>
            <li class="lead li_8_15">Models of teaching assistantship and learner support in undergraduate courses</li>
            <li class="lead li_8_15">Mentoring in undergraduate and graduate computing education</li>
            <li class="lead li_8_15">Hard and soft skills in computing</li>
            <li class="lead li_8_15">Scientific training in computing programs</li>
            <li class="lead li_8_15">Interaction between academia and IT industry</li>
            <li class="lead li_8_15">Graduate training in computing</li>
            <li class="lead li_16_23">Student communities in computing programs</li>
            <li class="lead li_16_23">Psychological and emotional factors in computing education</li>
            <li class="lead li_16_23">Inclusion and accessibility in computing education</li>
            <li class="lead li_16_23">Diversity in computing programs</li>
            <li class="lead li_16_23">Gender studies in computing education</li>
            <li class="lead li_16_23">Race/ethnic aspects in computing education</li>
            <li class="lead li_16_23">Demographic, social and economic aspects in computing programs</li>
            <li class="lead li_16_23">Ethical aspects in computing education</li>
            <li class="lead li_24_27">Pre-service teacher development in computing</li>
            <li class="lead li_24_27">Continuing education of computing teachers</li>
            <li class="lead li_24_27">Teaching practices of computing for teacher development</li>
            <li class="lead li_24_27">Supervised internship for computing teacher development</li>
            <li class="lead li_28_37">Computing in early childhood education</li>
            <li class="lead li_28_37">Computing in elementary school</li>
            <li class="lead li_28_37">Computing in middle school</li>
            <li class="lead li_28_37">Computing in high school</li>
            <li class="lead li_28_37">Computing in vocational education</li>
            <li class="lead li_28_37">Corporate computing education</li>
            <li class="lead li_28_37">Online computing teaching and/or learning</li>
            <li class="lead li_28_37">Computing education in non-formal spaces</li>
            <li class="lead li_28_37">Continuing education in computing</li>
            <li class="lead li_28_37">Adult education in computing</li>
            <li class="lead li_38_46">Computational thinking</li>
            <li class="lead li_38_46">Computational thinking assessment</li>
            <li class="lead li_38_46">Introductory programming in higher education</li>
            <li class="lead li_38_46">Advanced programming in higher education</li>
            <li class="lead li_38_46">Psychology of programming</li>
            <li class="lead li_38_46">Programming task feedback</li>
            <li class="lead li_38_46">Automated assessment of programming tasks</li>
            <li class="lead li_38_46">Text-based languages for programming learning</li>
            <li class="lead li_38_46">Block-based languages for programming learning</li>
            <li class="lead li_47_55">Computing education support resources</li>
            <li class="lead li_47_55">Open and free computing education (e.g., OER, MOOC)</li>
            <li class="lead li_47_55">Computing teaching materials</li>
            <li class="lead li_47_55">Unplugged computing</li>
            <li class="lead li_47_55">Robotics in computing education</li>
            <li class="lead li_47_55">Hardware in computing education</li>
            <li class="lead li_47_55">Media computation</li>
            <li class="lead li_47_55">Virtual and augmented reality in computing education</li>
            <li class="lead li_47_55">Social media and social networks in computing education</li>
            <li class="lead li_56_58">Educational data mining in computing</li>
            <li class="lead li_56_58">Learning analytics in computing</li>
            <li class="lead li_56_58">Secondary studies: systematic reviews and systematic mapping studies</li>
          </ul>
        </div>
      </div>
    </div>
  </section>
