  {{> simposio/2021/en-US/headerInterno}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Call for Contributions</h2>
          <br>
          <h3>Full Papers</h3>        
          <p class="lead" style="text-align: justify; font-size: 14pt">Full papers can be written in Portuguese or English and must follow the <a href="https://www.acm.org/publications/proceedings-template" target="_blank">ACM SIGCSE Proceedings format</a> (or directly here: <a href="https://drive.google.com/file/d/1-hABTZgkPYoVk0wlDQyJaL0oA4RiynM9/view?usp=sharing" target="_blank">Word (in portuguese)</a>, <a href="https://www.acm.org/binaries/content/assets/publications/word_style/interim-template-style/interim-layout.docx" target="_blank">Word (in english)</a>, <a href="https://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acmart-master.zip" target="_blank">Latex</a>, <a href="https://www.overleaf.com/gallery/tagged/acm-official#.WOuOk2e1taQ" target="_blank">Overleaf</a>), in double column, with a minimum of 6 (six) and a maximum of 10 (ten) pages, with the possibility of an additional page of references only. Papers will be evaluated by at least three reviewers with expertise in the field. Accepted papers will be published in the Brazilian Computer Society (SBC) Publications and Digital Content Portal - SBC OpenLib (SOL) – <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>. Upon submission, papers must be anonymized to ensure double-blind reviews. All papers must be submitted in PDF format through the <a href="https://jems.sbc.org.br/home.cgi?c=3690" target="_blank">SBC JEMS platform</a>.</p>

          <p class="lead" style="text-align: justify; font-size: 14pt">Papers must be sent to one of the following tracks.</p>       
          <br>

          <h4>
            Track 1: Research Papers and Essays
          </h4>

          <div style="margin: 2em;">
            <strong>Chairs:</strong> Roberto Bittencourt (UEFS) | Rodrigo Duran (IFMS) <br>
              <strong>Contact:</strong> roberto@uefs.br | rodrigo.duran@ifms.edu.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt">
              <strong>Research papers</strong> must follow rigorous scientific standards, describing research questions, background, methods, results, discussion and limitations. They focus on relevant topics of interest in computing education. Research methods of all types are welcome, including empirical (qualitative, quantitative or mixed), analytical, critical, design science and others.
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt">
              <strong>Essays</strong> must present a well-grounded, critical-reflective argument, seeking originality and depth, but not necessarily exploring the theme in an exhaustive way. Essays have the purpose of exposing the authors’ own ideas and points of view on a specific theme, drawing on bibliographic research or empirical evidence. For instance, essays can review and analyze issues and interpretations; debate ideas and opinions.
            </li>
          </ul>
         

          <!--<a class="btn btn-primary" href="/simposio/2021/trabalhos/criterios/trilha-1/artigos"
            target="_blank"
          >
            Review Criteria (Research papers)
          </a>
          <a class="btn btn-primary" href="/simposio/2021/trabalhos/criterios/trilha-1/ensaios"
            target="_blank"
          >
            Review Criteria (Essays)
          </a>-->

          <br>
          <br>

          <h4>Track 2: Experience Reports</h4>

          <div style="margin: 2em;">
            <strong>Chairs:</strong> Eleandro Maschio (UTFPR) | André Raabe (Univali) <br>
              <strong>Contact:</strong> eleandrom@utfpr.edu.br | raabe@univali.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Experience reports</strong> should thoroughly describe a computing education intervention and its context. They must present enough details to allow adoption by third parties, in addition to offering an in-depth reflection on what worked (or not) and why. </li>
          </ul>

          <!--<a class="btn btn-primary" href="/simposio/2021/trabalhos/criterios/trilha-2"
            target="_blank"
          >
            Review Criteria (Track 2)
          </a>-->
          
          <br>
          <br>

          <h4>Track 3: Curricula and Pedagogical Practices</h4>

          <div style="margin: 2em;">
            <strong>Chairs:</strong> Leandro Galvão (UFAM) | Adão Cambraia (IFFAR)
 <br>
              <strong>Contact:</strong> galvao@icomp.ufam.edu.br | adao.cambraia@iffarroupilha.edu.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Papers on curricula and pedagogical practices</strong> should discuss new or revised curricula, degrees or programs in the field of computing, but may also include position papers. They must describe the context that motivated the initiative, its pedagogical foundations, what was needed to implement it, its potential impact and recommendations for adoption by other educators. Position papers should generate a useful academic discussion through a defensible opinion on a proposed curriculum, degree or program in the field of computing, substantiated by evidence.</li>
          </ul>

          <!--<a class="btn btn-primary" href="/simposio/2021/trabalhos/criterios/trilha-3"
            target="_blank"
          >
            Review Criteria (Track 3)
          </a>-->
          
          <br>
          <br>
          
          <h4 >Track 4: Educational Resources and Environments</h4>

          <div style="margin: 2em;">
            <strong>Chairs:</strong> Taciana Pontual (UFRPE) | Ellen Francine (USP)

 <br>
              <strong>Contact:</strong> taciana.pontual@ufrpe.br | francine@icmc.usp.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Educational resource papers</strong> dshould feature educational resources which are specific to computing education, in one or more levels of formal or non-formal education. They must describe: the motivation for creating the resource; the organization of the material (e.g., objectives, contents, among other elements); comparison with similar resources; the theoretical or pedagogical foundations that support its conception; the dynamics of using the resource, preferably associated with a real scenario where it was or will be tested, in addition to sufficient details to guide its use by educators; and a theoretical-critical reflection on its potential or real impact. Typical educational resources include (but are not limited to) textbooks, handout sets, videos, animations and educational games.</li>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Papers on environments and platforms</strong> should feature innovative software or hardware environments and platforms to support teaching or learning computing. They must describe the motivation for creating the environment/platform; comparison with similar environments/platforms; theoretical or pedagogical foundations that support its conception; main features and potential users; usage example, possibly with a proof of concept and screencasts that illustrate the interface (when applicable); environment/platform architecture with a focus on its main components and their interfaces; and the type of license.</li>
          </ul style="text-align: justify; font-size: 14pt">
          
          <!--<a class="btn btn-primary" href="/simposio/2021/trabalhos/criterios/trilha-4"
            target="_blank"
          >
            Review Criteria (Track 4)
          </a>-->
          
          <br>
          <br>
          
          <h3>
            Ideas Lab
          </h3>

          <div style="margin: 2em;">
            <strong>Chair:</strong> Esdras Bispo Jr. (UFJ) <br>
              <strong>Contact:</strong> bispojr@ufg.br
          </div>

          <p class="lead" style="text-align: justify;">
            The 
            <strong>Ideas Lab</strong> is a space to share work in progress, new and untested ideas or opportunities for collaboration in the field of computing education. The purpose of an Ideas Lab session is to initiate a discussion, find collaborators or receive qualified feedback for that idea. 
          </p>

          <p class="lead" style="text-align: justify;">Proposals for the Ideas Lab should be limited to a one-page, double-column extended abstract in the <a href="https://www.acm.org/publications/proceedings-template" target="_blank">ACM SIGCSE Proceedings format</a> (or directly here: <a href="https://www.acm.org/binaries/content/assets/publications/word_style/interim-template-style/interim-layout.docx" target="_blank">Word</a>, <a href="https://www.acm.org/binaries/content/assets/publications/consolidated-tex-template/acmart-master.zip" target="_blank">Latex</a>, <a href="https://www.overleaf.com/gallery/tagged/acm-official#.WOuOk2e1taQ" target="_blank">Overleaf</a>). The extended abstract must include a link to a video presenting the proposal in up to five minutes. It is the authors' responsibility that the video is available on some platform on the Internet (e.g., YouTube) and that the link is released for public access.</p>

          <p class="lead" style="text-align: justify;">The extended abstract must be submitted in PDF format through the <a href="https://jems.sbc.org.br/home.cgi?c=3690" target="_blank">SBC JEMS Platform</a>. Both the extended abstract and the video will be evaluated by at least two reviewers with expertise in the field. If the proposal is accepted, (i) the video will be presented, in parallel to the event, on EduComp's social networks (Facebook, YouTube, and Instagram); (ii) at least one of the authors of the approved proposal must participate in one of the open video conferences held during the event with the purpose of debating the Idea Lab proposals presented on social networks; and (iii) the extended abstract of the approved proposal will be published in Educomp’s extended proceedings on the SBC Publications and Digital Content Portal - SBC OpenLib (SOL).</p>
          <p class="lead" style="text-align: justify;">If you have any questions or doubts, please contact the Chairs of the Ideas Laboratory.</p>
          
          <br>

        </div>
      </div>
    </div>
  </section>