<div id="edicoes-anteriores" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Edições anteriores</h1>
  </div>

  <section id="sbc"">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p class="edc-font">
            O Simpósio Brasileiro de Educação em Computação (EduComp) é realizado anualmente desde 2021.
            Confira abaixo o histórico de todas as edições do evento.
          </p>
          <ul class="edc-font">
            <li><a href="/simposio/2024/" target="_blank">EduComp 2024 (online)</a></li>
            <li><a href="/simposio/2023/" target="_blank">EduComp 2023 (online)</a></li>
            <li><a href="/simposio/2022/" target="_blank">EduComp 2022 (online)</a></li>
            <li><a href="/simposio/2021/" target="_blank">EduComp 2021 (online)</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</div>