<div id="sobre-sbc" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Sobre a SBC</h1>
  </div>

  <section id="sbc"">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">

          <p>
            A <a href="http://www.sbc.org.br" target="_blank">Sociedade Brasileira de Computação (SBC)</a> é uma sociedade científica sem fins lucrativos. 
            Fundada em 24 de julho de 1978, reúne estudantes, docentes, pesquisadores e pesquisadoras, profissionais e entusiastas da área de Computação de todo o Brasil. 
            Sua missão é fomentar o acesso à informação e cultura por meio da informática, incentivar a pesquisa e o ensino em computação no país, promover a inclusão digital e contribuir para a formação de profissionais de computação que tenham responsabilidade social.
          </p>

          <p>
            A SBC mantém uma estrutura de Grupos Temáticos (GT) que reúnem associados com interesses comuns numa subárea de mercado. 
            Os GTs são responsáveis pela organização e divulgação de atividades e eventos científicos, técnicos, educacionais e políticos no âmbito de seus interesses. 
            A SBC admite três tipos de Grupos Temáticos: Grandes Áreas (GA), Comissões Especiais (CE) e Grupos de Interesse (GIs). 
            As GAs são compostas por CEs e estes compostos pelos GIs.
          </p>

          <p>
            Você está acessando o site de uma das Comissões Especiais da SBC, a CEduComp, que representa um grupo de associados da SBC que compartilham dos interesses e valores na área de Educação em Computação. 
            O associado vigente pode se inscrever nas <a href="https://www.sbc.org.br/403-comissoes-especiais" target="_blank">listas de e-mail das Comissões Especiais</a> da área que deseja acompanhar. 
            Se você ainda não é um associado ou deseja renovar sua associação à nossa comunidade <a href="https://centraldesistemas.sbc.org.br/mom" target="_blank">clique aqui</a> e venha fazer parte da maior e mais importante sociedade científica na área de Computação da América Latina.
          </p>

        </div>
      </div>
    </div>
  </section>
</div>