<div id="sobre-educomp" class="edc-font">

  <div id="logotipo">
    <div class="container d-flex justify-content-center align-items-center vh-100">
      <img class="img-fluid landing-image" src="/img/simposio/2025/logo/logo25_colorido.png" alt="Logotipo do evento">
    </div>
  </div>

  <section id="sobre">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">  
          <p>
            O <strong>Simpósio Brasileiro de Educação em Computação (EduComp)</strong> é um evento realizado anualmente pela <a href="https://www.sbc.org.br/" target="_blank">Sociedade Brasileira de Computação (SBC)</a> e pela <a href="/" target="_blank">Comissão Especial de Educação em Computação (CEduComp)</a>. 
            O evento congrega pesquisadores e profissionais da área de Educação em Computação com o objetivo de compartilhar novas ideias e resultados sobre a concepção, desenvolvimento e avaliação de cursos, currículos, disciplinas, projetos, atividades, ferramentas e materiais relacionados ao ensino e à aprendizagem de Computação.
          </p>

          <p>
            Em 2025, a <a href="https://www2.ufjf.br/" target="_blank">Universidade Federal de Juiz de Fora (UFJF)</a> organizará a 5ª edição do EduComp, que será realizada pela primeira vez em <strong>formato presencial</strong>, no período de <strong>7 a 10 de abril de 2025</strong>, na cidade de <strong>Juiz de Fora - MG</strong>.
            Em sua programação, o EduComp 2025 contará com palestras, minicursos, sessões técnicas, mesas temáticas, laboratório de ideias, bem como <i>workshops</i> e concurso de teses e dissertações.
            O EduComp 2025 será co-locado com o II Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2025).
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- <section id="trilhas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2 class="mb-10 d-block">Principais trilhas</h2>
        </div>
      </div>
    </div>
  </section>

  <section id="datas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2 class="mb-10 d-block">Datas importantes</h2>
        </div>
      </div>
    </div>
  </section>
  </div> -->
</div>