<div id="26-abertura" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Mesa de Abertura do EduComp</h1>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Américo Nunes da Silveira Neto <br>
          <b>Reitor da UFJ</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Raimundo José de Araújo Macêdo <br>
          <b>Presidente da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Leila Ribeiro <br>
          <b>Diretora de Ensino de Computação na Educação Básica da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Esdras Lins Bispo Jr. (UFJ) <br>
          <b>Coordenador Geral</b>
        </span>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Pasqueline Scaico (UFPB) <br>
          <b>Coordenadora do ForLic</b>
        </span>
        <!--
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Rozelma França (UFRPE) <br>
          <b>Coordenadora do ForLic</b>
        </span>
        -->
    </div>
  </div>