<div id="26-painel-iii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Políticas para o Ensino de Computação na Educação Básica: <small>Legislação e Formação de Professores</small></h1>

        {{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=lR8YkJftFXk"
        }}

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Daltro Nunes<br>
          <b>Universidade Federal do Rio Grande do Sul (UFRGS)</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Luiz Roberto Liza Curi<br>
          <b>Conselho Nacional de Educação (CNE)</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Ivan Cláudio Pereira Siqueira <br>
          <b>Conselho Nacional de Educação (CNE)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Marcia Kniphoff da Cruz (UNISC) <br>
          <b>Mediadora</b>
        </span>
    </div>
  </div>