<div id="26-painel-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Perspectivas e Desafios da Formação de Professores em Computação</h1>
        
        {{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=V1PBfiJTLMk"
        }}

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Mauro Luiz Rabelo <br>
          <b>Secretário de Educação Básica (MEC)</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. António Sampaio da Nóvoa <br>
          <b>Universidade de Lisboa / UNESCO</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Maria de Fátima Ramos Brandão (UnB) <br>
          <b>Mediadora</b>
        </span>
    </div>
  </div>