<div id="26-rede" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Rede da Licenciatura em Computação</h1>
        
        {{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=ivdwvLtnH1M"
        }}

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Pasqueline Scaico (UFPB) <br>
          <b>Condução</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Rozelma França (UFRPE) <br>
          <b>Condução</b>
        </span>
    </div>
  </div>