<div class="modal fade" id="forlic-abertura" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Abertura
          <small style="font-size: 0.7em;">| 13:30 - 14:00</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>Mesa de Abertura Forlic</h5>

        <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">

          <a class="btn btn-info" href="https://www.youtube.com/watch?v=Blxk56D6hxQ" target="_blank"
            style="background-color: red; color:white; border: 0px; ">
            <span style="padding-right:0.5em;">
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </span>
            Transmissão pelo YouTube
          </a>
        </span>
        <hr>

        <span class="mb-3" style="font-size: large; display: block;">
          <b>
             Presidência da SBC 
          </b><br>
          Thais Vasconcelos Batista
        </span>

        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Diretoria da Educação Básica
          </b><br>
          Leila Ribeiro
        </span>

        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Diretora de Educação da SBC
          </b><br>
         Claudia Lage Rebello da Motta
        </span>

        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Coordenadora RELIC
          </b><br>
          Marcia Elena Jochims Kniphoff da Cruz
        </span>


        <!--
        <span class="mb-3" style="font-size: large; display: block;">
          Profa. Rozelma Soares de França (UFRPE) <br>
          <b>Coordenação Geral</b>
        </span>
        <span class="mb-3" style="font-size: large; display: block;">
          Prof. Windson Viana de Carvalho (UFC) <br>
          <b>Coordenação do Comitê de Programa</b>
        </span>

        <span class="mb-3" style="font-size: large; display: block;">
          Profa. Marcia Kniphoff da Cruz (UNISC) <br>
          <b>Coordenação do ForLic</b>
        </span>


-->
      </div>
    </div>
  </div>
</div>