<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>EduComp 2021 :: {{titulo}}</title>

  {{!-- <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css" /> --}}
  <link rel="stylesheet" href="/css/bootstrap5.min.css" />
  <link href="/css/scrolling-nav.css" rel="stylesheet">
  <link href="/css/main.css" rel="stylesheet">

</head>

<body id="page-top">
  <!-- Navigation -->
  <!-- Navigation -->
  {{> navbar}}

  {{{ body }}}

  {{> footer}}

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom JavaScript for this theme -->
    {{!-- <script src="/js/scrolling-nav.js"></script> --}}

    <script type="text/javascript" src="/js/jquery.hideseek.js"></script>
    <script>
        $(document).ready(function() {
          $('#search').hideseek({
          nodata: 'Nenhum curso encontrado',
          
          });
        });
      </script>

</body>

</html>
