{{> simposio/2024/pt-BR/inside-header}}

<section id="datas" style="background-color:rgb(255, 255, 255);">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">



        <a name="grade">
          <h2 style="padding-top: 140px; margin-top: -140px; "></h2>
          <h2 class="mb-3 mt-5 pl-3" style="border-left: 5px solid darkcyan">
            Visualização Geral (Turnos)
          </h2>
        </a>

        <span> <a target="_blank" href="/simposio/2024/programacao/educomp/manha" class="btn btn-primary btn-lg"
            style="width: 100px;">Manhã</a> </span>
        <span> <a target="_blank" href="/simposio/2024/programacao/educomp/tarde" class="btn btn-primary btn-lg"
            style="width: 100px;">Tarde</a> </span>

        <hr class="mb-5">



        <a name="completa">
          <h2 style="padding-top: 140px; margin-top: -140px; "></h2>
          <h2 class="mb-3 mt-5 pl-3" style="border-left: 5px solid darkcyan">
            Programação Completa (Detalhada)<br>

          </h2>
        </a>

        <div id="programacao-tabela"></div>

        <hr>

      </div>
    </div>
  </div>
</section>


<script>

  var programacaoTabela = new Tabulator("#programacao-tabela", {
    height: "400px",
    layout: "fitColumns",
    responsiveLayout: "hide",
    data: [
      {
        dia: 22,
        inicio: "13:30",
        fim: "14:00",
        descricao: '<b>Abertura</b> <br>' +
          'ForLic',
        tipo: "ForLic",
        modal: "forlic-abertura"
      },
      {
        dia: 22,
        inicio: "14:00",
        fim: "16:30",
        descricao: '<b>ForLic</b> <br>' +
          'Painel I',
        tipo: "ForLic",
        modal: "forlic-painel-i"
      },
      {
        dia: 22,
        inicio: "16:45",
        fim: "18:00",
        descricao: '<b>ForLic</b> <br>' +
          'Painel II',
        tipo: "ForLic",
        modal: "forlic-painel-ii"
      },
      {
        dia: 22,
        inicio: "19:00",
        fim: "20:30",
        descricao: '<b>ForLic</b> <br>' +
          'Painel III',
        tipo: "ForLic",
        modal: "forlic-painel-iii"
      },


      //Terça
      {
        dia: 23,
        inicio: "09:00",
        fim: "10:30",
        descricao: '<b>Mesa Temática I</b> <br>' +
          'IDEA na EduComp: Um Manifesto em favor da Inclusão, Diversidade, Equidade e Acessibilidade',
        tipo: "Mesa temática",
        modal: "mesa-tematica-i"
      },

      {
        dia: 23,
        inicio: "10:30",
        fim: "12:20",
        descricao: '<b>Minicurso I</b> <br>' +
          'Desenvolvendo Storytelling com a plataforma Animaker: a criação de vídeos para o ensino da Computação',
        tipo: "Minicurso",
        modal: "minicurso-i"
      },

      {
        dia: 23,
        inicio: "13:30",
        fim: "14:00",
        descricao: '<b>Abertura EduComp 2024</b><br>',
        tipo: "Abertura",
        modal: "abertura-educomp"
      },
      {
        dia: 23,
        inicio: "14:00",
        fim: "15:00",
        descricao: '<b>Palestra Keynotes</b> <br>' +
          'IA na Educação: Os robôs chegaram para ficar?',
        tipo: "Palestra",
        modal: "palestra-keynotes"
      },

      {
        dia: 23,
        inicio: "15:00",
        fim: "16:10",
        descricao: '<b>Sessão para conversa com keynotes</b> <br>',
        tipo: "Palestra",
        modal: "palestra-keynotes"
      },
      {
        dia: 23,
        inicio: "16:30",
        fim: "17:40",
        descricao: '<b>Sessão técnica I/1 e II</b> <br>' +
          '(ST-I/1) Concepções e organizações curriculares no ensino superior em Computação <br>' + '(ST-II) Pensamento Computacional',
        tipo: "Sessão Técnica",
        modal: "sessao-tecnica-i-ii"
      },
      {
        dia: 23,
        inicio: "18:30",
        fim: "19:30",
        descricao: '<b>Laboratório de ideias I e II</b> <br>' +
          '(LI-I) Tecnologias para a educação em computação<br>' + '(LI-II) Pensamento Computacional com Jogos',
        tipo: "Lab. Ideias",
        modal: "lab-ideias-i"
      },



      //Quarta

      {
        dia: 24,
        inicio: "09:00",
        fim: "10:30",
        descricao: '<b>Mesa Temática II</b> <br>' +
          'Formação Docente Interdisciplinar: caminhos para mediar aspectos sociais das Tecnologias na Educação Básica',
        tipo: "Mesa temática",
        modal: "mesa-tematica-ii"
      },

      {
        dia: 24,
        inicio: "13:30",
        fim: "15:00",
        descricao: '<b>Sessão técnica I/2 e III</b> <br>' +
          '(ST-I/2) Concepções e organizações curriculares na educação básica em Computação <br>' + '(ST-III) Formação de Professores em Computação',
        tipo: "Sessão Técnica",
        modal: "sessao-tecnica-i2-iii"
      },
      {
        dia: 24,
        inicio: "15:00",
        fim: "16:10",
        descricao: '<b>Sessão técnica IV/1 e V</b> <br>' +
          '(ST- IV/1 ) Diversidade na Computação <br>' + '(ST-V) Materiais Didáticos e Recursos de apoio à educação em Computação',
        tipo: "Sessão Técnica",
        modal: "sessao-tecnica-iv1-v"
      },
      {
        dia: 24,
        inicio: "16:30",
        fim: "17:40",
        descricao: '<b>Sessão técnica IV/2 e VI</b> <br>' +
          '(ST- IV/2 ) Diversidade na Computação <br>' + '(ST-VI) Interação entre academia e indústria de TI',
        tipo: "Sessão Técnica",
        modal: "sessao-tecnica-iv2-vi"
      },
      {
        dia: 24,
        inicio: "18:30",
        fim: "19:30",
        descricao: '<b>Laboratório de ideias III e IV</b> <br>' +
          '(LI-III) Ensino de Programação<br>' + '(LI-IV) Estratégias de Engajamento na Educação em Computação',
        tipo: "Lab. Ideias",
        modal: "lab-ideias-ii"
      },





      //Quinta
      {
        dia: 25,
        inicio: "09:00",
        fim: "10:30",
        descricao: '<b>Mesa Temática III</b> <br>' +
          'Fatores que influenciam as escolhas profissionais das mulheres em Computação',
        tipo: "Mesa temática",
        modal: "mesa-tematica-iii"
      },
      {
        dia: 25,
        inicio: "10:30",
        fim: "12:20",
        descricao: '<b>Minicurso II</b> <br>' +
          'A plataforma de jogos WordWall como ferramenta para a avaliação da aprendizagem',
        tipo: "Minicurso",
        modal: "minicurso-ii"
      },
      {
        dia: 25,
        inicio: "13:30",
        fim: "14:00",
        descricao: '<b>Lançamento de Livros</b> <br>',
        modal: "lancamento-livros"
      },

      {
        dia: 25,
        inicio: "15:00",
        fim: "16:10",
        descricao: '<b>Sessão técnica VII e  VIII/1 </b> <br>' +
          '(ST-VII) Aspectos Éticos na educação em Computação' + '(ST-VIII/1) Método e Estratégias de ensino e aprendizagem de Computação',
        tipo: "Sessão Técnica",
        modal: "sessao-tecnica-vii-viii1"
      },
      {
        dia: 25,
        inicio: "16:30",
        fim: "17:40",
        descricao: '<b>Sessão técnica VIII/2 e IX/1</b> <br>' +
          '(ST-VIII/2) Método e Estratégias de ensino e aprendizagem de Computação <br>' + '(ST-IX/1) Avaliação da aprendizagem em Computação',
        tipo: "Sessão Técnica",
        modal: "sessao-tecnica-viii2-ix1"
      },





      {
        dia: 25,
        inicio: "18:30",
        fim: "19:30",
        descricao: '<b>Laboratório de ideias V e VI</b> <br>' +
          '(LI-V) Tecnologias para a educação em computação II' + '(LI-VI) Inclusão e Acessibilidade na Educação em Computação',
        tipo: "Lab. Ideias",
        modal: "lab-ideias-iii"
      },


      //Sexta
      {
        dia: 26,
        inicio: "09:00",
        fim: "10:30",
        descricao: '<b>Mesa Temática IV</b> <br>' +
          'Formação Docente em Computação como área de conhecimento e de práxis em pesquisa educacional',
        tipo: "Mesa temática",
        modal: "mesa-tematica-iv"
      },
      {
        dia: 26,
        inicio: "10:30",
        fim: "12:30",
        descricao: '<b>III Workshop de Teses e Dissertações em Educação em Computação</b> <br>',
        tipo: "WTD",
        modal: "wtd"
      },

      {
        dia: 26,
        inicio: "13:30",
        fim: "15:00",
        descricao: '<b>Sessão técnica VIII/3 e IX/2</b> <br>' +
          '(ST-VIII/3) Método e Estratégias de ensino e aprendizagem de Computação <br>' + '(ST-IX/2) Avaliação da aprendizagem em Computação',
        tipo: "Sessão Técnica",
        modal: "sessao-tecnica-viii3-ix2"
      },
      {
        dia: 26,
        inicio: "15:00",
        fim: "16:30",
        descricao: '<b>Concurso de Teses e Dissertações em Educação em Computação I e II</b> <br>' +
          '(CTD-I / Mestrado) Concurso de Teses e Dissertações em Educação em Computação - <br>' + '(CTD-II / Doutorado) Concurso de Teses e Dissertações em Educação em Computação - ',
        tipo: "CTD",
        modal: "ctd"
      },

      {
        dia: 26,
        inicio: "16:30",
        fim: "17:40",
        descricao: '<b>Assembleia, Premiações e encerramento</b> <br>',
        tipo: "Encerramento",
        modal: "assembleia-encerramento"
      },


    ],
    columns: [
      { title: "Dia", field: "dia", headerFilter: "input", vertAlign: "middle", hozAlign: "center", sorter: "number" },
      { title: "Descrição", field: "descricao", formatter: "html", headerFilter: "input", width: "40%", sorter: "string" },
      { title: "Tipo", field: "tipo", formatter: "textarea", hozAlign: "center", headerFilter: "input", vertAlign: "middle", sorter: "string" },
      { title: "Início", field: "inicio", vertAlign: "middle", sorter: "time", hozAlign: "center", headerFilter: "input" },
      { title: "Fim", field: "fim", vertAlign: "middle", sorter: "time", hozAlign: "center", headerFilter: "input", }
    ],
  });

  programacaoTabela.on("rowClick", function (e, row) {
    //document.getElementById("exampleModal").style.display = "block"
    console.log(row.getData().modal)
    $("#" + row.getData().modal).modal('show');
  });
</script>


<!--Modais-->

<!--Segunda (22)-->
{{> simposio/2024/pt-BR/programacao/22/forlic-abertura}}
{{> simposio/2024/pt-BR/programacao/22/forlic-painel-i}}
{{> simposio/2024/pt-BR/programacao/22/forlic-painel-ii}}
{{> simposio/2024/pt-BR/programacao/22/forlic-painel-iii}}


<!--Terça (23)-->
{{> simposio/2024/pt-BR/programacao/23/mesa-tematica-i}}
{{> simposio/2024/pt-BR/programacao/23/minicurso-i}}
{{> simposio/2024/pt-BR/programacao/23/abertura-educomp}}
{{> simposio/2024/pt-BR/programacao/23/palestra-keynotes}}
{{> simposio/2024/pt-BR/programacao/23/palestra-keynotes}}
{{> simposio/2024/pt-BR/programacao/23/sessao-tecnica-i-ii}}
{{> simposio/2024/pt-BR/programacao/23/lab-ideias-i}}



<!--Quarta (24)-->
{{> simposio/2024/pt-BR/programacao/24/mesa-tematica-ii}}
{{> simposio/2024/pt-BR/programacao/24/sessao-tecnica-i2-iii}}
{{> simposio/2024/pt-BR/programacao/24/sessao-tecnica-iv1-v}}
{{> simposio/2024/pt-BR/programacao/24/sessao-tecnica-iv2-vi}}
{{> simposio/2024/pt-BR/programacao/24/lab-ideias-ii}}



<!--Quinta (25)-->
{{> simposio/2024/pt-BR/programacao/25/mesa-tematica-iii}}
{{> simposio/2024/pt-BR/programacao/25/minicurso-ii}}
{{> simposio/2024/pt-BR/programacao/25/lancamento-livros}}
{{> simposio/2024/pt-BR/programacao/25/sessao-tecnica-vii-viii1}}
{{> simposio/2024/pt-BR/programacao/25/sessao-tecnica-viii2-ix1}}
{{> simposio/2024/pt-BR/programacao/25/lab-ideias-iii}}

<!--Sexta (26) -->
{{> simposio/2024/pt-BR/programacao/26/mesa-tematica-iv}}
{{> simposio/2024/pt-BR/programacao/26/wtd}}
{{> simposio/2024/pt-BR/programacao/26/sessao-tecnica-viii3-ix2}}
{{> simposio/2024/pt-BR/programacao/26/ctd}}
{{> simposio/2024/pt-BR/programacao/26/assembleia-encerramento}}