<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/css/simposio/2024/prog_educomp/manha.css">
  <title>{{titulo}}</title>

  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/bd98f4183e.js" crossorigin="anonymous"></script>
</head>

<body style="margin-top: -9em; background-color:rgb(224, 247, 199);">

  {{> simposio/2024/pt-BR/inside-header}}

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">

    <div class="cd-schedule__timeline">
      <ul>
        <li><span>09:00</span></li>
        <li><span>09:20</span></li>
        <li><span>09:40</span></li>
        <li><span>10:00</span></li>
        <li><span>10:20</span></li>
        <li><span>10:40</span></li>
        <li><span>11:00</span></li>
        <li><span>11:20</span></li>
        <li><span>11:40</span></li>
        <li><span>12:00</span></li>
        <li><span>12:20</span></li>
        <li><span>12:40</span></li>
        <li><span>13:00</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
      <ul>
        <!-- Segunda (24)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Segunda (22)</span></div>

          <ul>

          </ul>
        </li>

        <!-- Terça (22)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Terça (23)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="10:30" data-content="mesa-tematica-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Mesa Temática I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  IDEA na EduComp: Um Manifesto em favor da Inclusão, Diversidade, Equidade e Acessibilidade
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="10:30" data-end="12:30" data-content="minicurso-i" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Minicurso I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Desenvolvendo Storytelling com a plataforma Animaker: a criação de vídeos para o ensino da
                  Computação
                </em>
              </a>
            </li>



          </ul>
        </li>

        <!-- Quarta (24)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quarta (24)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="10:30" data-content="mesa-tematica-ii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Mesa Temática II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Formação Docente Interdisciplinar: caminhos para mediar aspectos sociais das Tecnologias na Educação
                  Básica
                </em>
              </a>
            </li>



          </ul>
        </li>

        <!-- Quinta (25)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quinta (25)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="10:30" data-content="mesa-tematica-iiI" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Mesa Temática III</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Fatores que influenciam as escolhas profissionais das mulheres em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="10:30" data-end="12:30" data-content="minicurso-iI" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Minicurso II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  A plataforma de jogos WordWall como ferramenta para a avaliação da aprendizagem
                </em>
              </a>
            </li>


          </ul>
        </li>

        <!-- Sexta (26)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sexta (26)</span></div>

          <ul>
            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="10:30" data-content="mesa-tematica-IV" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Mesa Temática IV</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Formação Docente em Computação como área de conhecimento e de práxis em pesquisa educacional
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="10:30" data-end="12:30" data-content="WTD-iii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">III WTD</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  III Workshop de Teses e Dissertações em Educação em Computação

                </em>
              </a>
            </li>


          </ul>
        </li>

        <!-- Sábado (29)
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sábado (29)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="09:00" data-end="12:30" data-content="29-wtd" data-event="event-1" href="#0">
                <em class="cd-schedule__name">WTD-EduComp</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  II Workshop de Teses e Dissertações em Educação em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="12:30" data-end="13:00" data-content="29-intervalo-v" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

          </ul>
        </li>
        -->
      </ul>
    </div>

    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>

        <div class="cd-schedule-modal__header-bg"></div>
      </header>

      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>

      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->



  <script src="/js/prog_educomp/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="/js/prog_educomp/main.js"></script>

  <script>

    function filtrar(valor) {
      var tagEm = document.getElementsByTagName('em')
      for (var i = 0; i < tagEm.length; i++) {
        if (!(tagEm[i].innerHTML.includes(valor))) {
          console.log(tagEm[i].innerHTML)
          tagEm[i].parentElement.style.display = 'none'
        } else {
          tagEm[i].parentElement.style.display = 'block'
        }
      }
    }
  </script>

</body>

</html>