<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/css/simposio/2024/prog_educomp/tarde.css">
  <title>{{titulo}}</title>

  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/bd98f4183e.js" crossorigin="anonymous"></script>
</head>

<body style="margin-top: -9em; background-color:rgb(224, 247, 199);">

  {{> simposio/2024/pt-BR/inside-header}}

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">

    <div class="cd-schedule__timeline">
      <ul>

        <li><span>13:30</span></li>
        <li><span>13:40</span></li>
        <li><span>13:50</span></li>
        <li><span>14:00</span></li>
        <li><span>14:10</span></li>
        <li><span>14:20</span></li>
        <li><span>14:30</span></li>
        <li><span>14:40</span></li>
        <li><span>14:50</span></li>
        <li><span>15:00</span></li>
        <li><span>15:10</span></li>
        <li><span>15:20</span></li>
        <li><span>15:30</span></li>
        <li><span>15:40</span></li>
        <li><span>15:50</span></li>
        <li><span>16:00</span></li>
        <li><span>16:10</span></li>
        <li><span>16:20</span></li>
        <li><span>16:30</span></li>
        <li><span>16:40</span></li>
        <li><span>16:50</span></li>
        <li><span>17:00</span></li>
        <li><span>17:10</span></li>
        <li><span>17:20</span></li>
        <li><span>17:30</span></li>
        <li><span>17:40</span></li>
        <li><span>17:50</span></li>
        <li><span>18:00</span></li>
        <li><span>18:10</span></li>
        <li><span>18:20</span></li>
        <li><span>18:30</span></li>
        <li><span>18:40</span></li>
        <li><span>18:50</span></li>
        <li><span>19:00</span></li>
        <li><span>19:10</span></li>
        <li><span>19:20</span></li>
        <li><span>19:30</span></li>
        <li><span>19:40</span></li>
        <li><span>19:50</span></li>
        <li><span>20:00</span></li>
        <li><span>20:10</span></li>
        <li><span>20:20</span></li>
        <li><span>20:30</span></li>
        <li><span>20:40</span></li>



      </ul>
    </div> <!-- .cd-schedule__timeline -->

    <div class="cd-schedule__events">
      <ul>
        <!-- Segunda (22)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Segunda (22)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="13:30" data-end="14:00" data-content="forlic-abertura" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Forlic</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Abertura
                </em>
              </a>
            </li>


            <li class="cd-schedule__event">
              <a data-start="14:00" data-end="16:30" data-content="forlic-painel-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Forlic - Painel I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">

                  BNCC Computação: normatizações e currículo
                </em>
              </a>
            </li>

            <!--
            <li class="cd-schedule__event">
              <a data-start="16:30" data-end="16:45" data-content="25-intervalo-iii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">

                </em>
              </a>
            </li>
-->
            <li class="cd-schedule__event">
              <a data-start="16:45" data-end="18:00" data-content="forlic-painel-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Forlic - Painel II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Possibilidades dos egressos de Licenciatura em Computação como gestores
                  Relato de Experiência
                  A Relevância da Neurociência Cognitiva no Currículo de Licenciatura em Computação
                </em>
              </a>
            </li>



            <li class="cd-schedule__event">
              <a data-start="19:00" data-end="20:30" data-content="forlic-painel-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Forlic - Painel III</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">

                  Mestrado Profissionalizante ProfComp/CAPES: Como? Por quê? Para quem?
                </em>
              </a>
            </li>

          </ul>
        </li>

        <!-- Terça (23)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Terça (23)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="13:30" data-end="14:00" data-content="abertura-educomp" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Abertura EduComp 2024</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">

                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:00" data-end="15:00" data-content="Palestra-keynotes" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Palestra Keynotes</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  IA na Educação: Os robôs chegaram para ficar?
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:10" data-content="Palestra-keynotes" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Sessão para conversa com keynotes</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">

                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:30" data-end="17:40" data-content="ST-11-2" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão técnica I - 1</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Concepções e organizações curriculares no ensino superior em Computação
                </em>

                <em class="cd-schedule__name mt-3">Sessão técnica II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Pensamento Computacional
                </em>
              </a>
            </li>


            <li class="cd-schedule__event">
              <a data-start="18:30" data-end="19:30" data-content="lab-ideias-i" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Tecnologias para a educação em Computação I e Pensamento Computacional com Jogos
                </em>
              </a>
            </li>


          </ul>
        </li>

        <!-- Quarta (24)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quarta (24)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="13:30" data-end="15:00" data-content="ST-I2-III" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão técnica I - 2</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Concepções e organizações curriculares na educação básica em Computação
                </em>

                <em class="cd-schedule__name mt-3">Sessão técnica III</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Formação de Professores em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:10" data-content="ST-IV-V" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão técnica IV-1</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Diversidade na Computação
                </em>

                <em class="cd-schedule__name mt-3">Sessão técnica V</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Materiais Didáticos e Recursos de apoio à educação em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:30" data-end="17:40" data-content="ST-IV2-VI" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão técnica IV - 2</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Diversidade na Computação
                </em>

                <em class="cd-schedule__name mt-3">Sessão técnica VI</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Interação entre academia e indústria de TI
                </em>
              </a>
            </li>



            <li class="cd-schedule__event">
              <a data-start="18:30" data-end="19:30" data-content="lab-ideias-iI" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Ensino de Programação e Estratégias de Engajamento na Educação em Computação
                </em>
              </a>
            </li>


          </ul>
        </li>

        <!-- Quinta (25)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quinta (25)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="13:30" data-end="14:00" data-content="lancamento-livros" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Lançamento de Livros</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">

                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:10" data-content="ST-VII-VIII1" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão técnica VII</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Aspectos Éticos na educação em Computação
                </em>

                <em class="cd-schedule__name mt-3">Sessão técnica VIII - 1</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Método e Estratégias de ensino e aprendizagem de Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:30" data-end="17:40" data-content="ST-IX1-VIII2" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão técnica IX - 1 </em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Avaliação da aprendizagem em Computação
                </em>

                <em class="cd-schedule__name mt-3">Sessão técnica VIII - 2</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Método e Estratégias de ensino e aprendizagem de Computação
                </em>
              </a>
            </li>


            <li class="cd-schedule__event">
              <a data-start="18:30" data-end="19:30" data-content="lab-ideias-iii" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias III</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Tecnologias para a educação em Computação II e Inclusão e Acessibilidade na Educação em Computação
                </em>
              </a>
            </li>

          </ul>
        </li>

        <!-- Sexta (26)-->
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sexta (26)</span></div>

          <ul>

            <li class="cd-schedule__event">
              <a data-start="13:30" data-end="15:00" data-content="ST-VIII3-IX2" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessão técnica VIII - 3</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Método e Estratégias de ensino e aprendizagem de Computação
                </em>

                <em class="cd-schedule__name mt-3">Sessão técnica IX - 2</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Avaliação da aprendizagem em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:30" data-content="CTD-i-ii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">CTD-1</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  I Concurso de Teses e Dissertações em Educação em Computação - <strong>Mestrado</strong>
                </em>

                <em class="cd-schedule__name mt-3">CTD-2</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  I Concurso de Teses e Dissertações em Educação em Computação - <strong>Doutorado</strong>
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:30" data-end="17:40" data-content="assembleia" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Assembleia / Encerramento</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Assembléia, Premiações e Encerramento
                </em>


              </a>
            </li>


          </ul>
        </li>

      </ul>
    </div>

    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>

        <div class="cd-schedule-modal__header-bg"></div>
      </header>

      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>

      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>

    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->



  <script src="/js/prog_educomp/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="/js/prog_educomp/main.js"></script>

  <script>

    function filtrar(valor) {
      var tagEm = document.getElementsByTagName('em')
      for (var i = 0; i < tagEm.length; i++) {
        if (!(tagEm[i].innerHTML.includes(valor))) {
          console.log(tagEm[i].innerHTML)
          tagEm[i].parentElement.style.display = 'none'
        } else {
          tagEm[i].parentElement.style.display = 'block'
        }
      }
    }
  </script>

</body>

</html>