<div class="modal fade" id="assembleia-encerramento" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Assembleia da CEduComp e Encerramento do EduComp 2024
          <small style="font-size: 0.7em;">| 16:30 - 17:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">

          <a class="btn btn-info" href="https://www.youtube.com/watch?v=tPh-WkseX2w" target="_blank"
            style="background-color: red; color:white; border: 0px; ">
            <span style="padding-right:0.5em;">
              <i class="fab fa-youtube" aria-hidden="true"></i>
            </span>
            Transmissão pelo YouTube
          </a>
        </span>
        <hr>


        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Coordenação Geral do Comitê de Programa
          </b><br>
          Marco Aurélio Graciotto Silva
        </span>
        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Coordenação Geral das Trilhas Formativas
          </b><br>
          Adão Caron Cambraia
        </span>

        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Coordenador da CEduComp
          </b><br>
          Rodrigo Duran
        </span>

        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Coordenação Geral do EduComp 2024
          </b><br>
          Graziela Guarda
        </span>

        <span class="mb-3" style="font-size: large; display: block;">
          <b>
            Coordenação Geral do EduComp 2025
          </b><br>

        </span>






        <!--
        <span
          style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
          Informes
        </span>

       

        <span
          style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
          Relatório da Gestão 2022-2023
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Esdras Bispo Jr. (UFJ)<br>
          <b>Vice-coordenador do GIEC</b>
        </span>

        <span
          style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
          EduComp 2024
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Graziela Ferreira Guarda (Mackenzie)<br>
          Prof. Ismar Frango Silveira (Mackenzie)<br>
          <b>Coordenação EduComp 2024 (Candidatura)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Roberto Bittencourt (UEFS)<br>
          <b>Coordenador do GIEC</b>
        </span>

        <span
          style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
          Eleições do GIEC (2023-2025)
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Ayla Rebouças (UFPB)<br>
          <b>Comissão Eleitoral</b>
        </span>

        <span
          style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
          Outros Assuntos
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Roberto Bittencourt (UEFS)<br>
          <b>Coordenador do GIEC</b>
        </span>

        -->
      </div>
    </div>
  </div>
</div>