<div class="modal fade" id="28-assembleia" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Assembleia do GIEC
          <small style="font-size: 0.7em;">| 13:00 - 14:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
         
         {{>
            simposio/2022/pt-BR/programacao/transmissao 

            googlemeet=true
            link="http://meet.google.com/xna-zzcd-cxe"
          }}
         
         <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Informes
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Roberto Bittencourt (UEFS)<br>
            <b>Coordenador do GIEC</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Relatório da Gestão 2022-2023
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Esdras Bispo Jr. (UFJ)<br>
            <b>Vice-coordenador do GIEC</b>
          </span>

         <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            EduComp 2024
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Profa. Graziela Ferreira Guarda (Mackenzie)<br>
            Prof. Ismar Frango Silveira (Mackenzie)<br>
            <b>Coordenação EduComp 2024 (Candidatura)</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Roberto Bittencourt (UEFS)<br>
            <b>Coordenador do GIEC</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Eleições do GIEC (2023-2025)
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Profa. Ayla Rebouças (UFPB)<br>
            <b>Comissão Eleitoral</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Outros Assuntos
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Roberto Bittencourt (UEFS)<br>
            <b>Coordenador do GIEC</b>
          </span>
      </div>
    </div>
  </div>
</div>