<div class="modal fade" id="ctd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          I Concurso de Teses e Dissertações em Educação em Computação
          <small style="font-size: 0.7em;">| 15:00 - 16:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">


        {{>
        simposio/2024/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="Concurso de Teses e Dissertações em Educação em Computação - Mestrado"



        artigo1_titulo="O pensamento computacional e a prática docente multidisciplinar na educação básica"
        artigo1_autores="Bárbara Morais (Universidade Federal Rural de Pernambuco - Brazil), Rozelma França
        (Universidade Federal Rural de Pernambuco - Brazil), Taciana Pontual Falcão (Universidade Federal Rural de
        Pernambuco - Brazil)"


        artigo2_titulo="Educação digital como parte da formação integral do sujeito: O ensino de computação na
        perspectiva de projetos de letramentos digitais em curso proeja em artesanato"
        artigo2_autores="Thiago Amorim (Instituto Federal de Brasília - Campus Taguatinga - Brazil), Veruska Machado
        (IFB - Brazil)"


        artigo3_titulo="Análise da participação feminina nos cursos da área de computação: Um olhar sobre os projetos do
        programa meninas digitais"
        artigo3_autores="Maria Teresa Santos (Universidade do Estado de Santa Catarina - Brazil), Isabela Gasparini
        (Universidade do Estado de Santa Catarina (UDESC) - Brazil), Luciana Frigo (Universidade Federal de Santa
        Catarina - Brazil)"


        artigo4_titulo="EMPADARIA - framework para o desenvolvimento de ficções
        interativas por meio da Pedagogia de Projetos"
        artigo4_autores="Walter Carvalho (Universidade Federal do ABC - Brazil), Rafaela Rocha (Universidade Federal do
        ABC - Brazil), Carla Rodriguez (Universidade Federal do ABC (UFABC) - Brazil)"

        artigo5_titulo="O Formação EAD de pensamento computacional para professores do ensino fundamental com enfoque
        prático e interdisciplinar"
        artigo5_autores="Gustavo Lima do Nascimento (Universidade Federal do Rio Grande - UFRN), Charles Madeira
        (Universidade Federal do Rio Grande - UFRN)"


        }}


        {{>
        simposio/2024/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="Concurso de Teses e Dissertações em Educação em Computação - Doutorado"



        artigo1_titulo="Assessing the Creativity of Mobile Applications in Computing
        Education"
        artigo1_autores="Nathalia Alves (Universidade Federal de Santa Catarina - Brazil)"


        artigo2_titulo="Tailoring Gamified Educational Systems to Users and Context"
        artigo2_autores="Luiz Rodrigues (Londrina State University - Brazil), Seiji Isotani (Universidade de São Paulo -
        Brazil)"


        artigo3_titulo="O pensamento computacional no âmbito da modelagem matemática na perspectiva da aprendizagem
        significativa"
        artigo3_autores="Marcia Kaminski (SEMED Cascavel - Brazil), Clodis Boscarioli (Universidade Estadual do Oeste do
        Paraná - Brazil)"


        artigo4_titulo="Psicogênese da Noção de Algoritmo na Atividade de Programação
        com Crianças de 4 a 12 Anos."
        artigo4_autores="Cristiane Pelisolli Cabral (PPGEDU/UFRGS - Brazil)"


        }}


      </div>
    </div>
  </div>
</div>