<div class="modal fade" id="28-sessao-tecnica-xiii-xiv" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas XIII e XIV
          <small style="font-size: 0.7em;">| 15:00 - 16:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Educação em Computação na Educação Básica (ST-XIII)"
          chair_sessao="Marcelo Fernando Rauber (IFC/UFSC)" 	

          artigo1_titulo="Ensino de Programação Paralela na Educação Básica: Uma Revisão Sistemática da Literatura, Análise Bibliométrica e Agenda para Estudos Futuros"	
          artigo1_autores="Felipe Perez, Wilk Oliveira, Anderson Corrêa de Lima, Amaury Castro Jr., Graziela Araújo"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Eficácia das Metodologias Ativas e do Suporte Tecnológico no Ensino de Machine Learning na Educação Básica"	
          artigo2_autores="Ramon Martins, Christiane Gresse von Wangenheim, Marcelo Rauber, Jean Hauck"
          artigo2_relato_experiencia=true

          artigo3_titulo="Normas, Diretrizes e Material Didático para o Ensino de Computação na Educação Básica Brasileira"		
          artigo3_autores="Marcia Jochims Kniphoff da Cruz, Tainã Tavares, Gustavo Baumgarten, Samanta Marques, Wilk Oliveira"
          artigo3_recurso_didatico=true

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Ensino de Programação e Lógica Fuzzy (ST-XIV)"
          chair_sessao="Ricardo Edgard Caceffo (UNIVESP)"
          
          artigo1_titulo="An open list of computer programming students common problems, and its leverage in teaching practice"						
          artigo1_autores="Renato Cortinovis, Pablo Frank-Bolton, Ricardo Caceffo"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Análise da inferência da Lógica Fuzzy no jogo The Sims"							
          artigo2_autores="Tatiana Santos, Francielli Moro, Eliane Pozzebon"
          artigo2_artigo_pesquisa=true
		
          artigo3_titulo="Uma possível abordagem para o ensino introdutório de algoritmos em cursos de Computação"												
          artigo3_autores="Marcos Castilho, Fabiano Silva, Daniel Weingaertner"
          artigo3_ensaio=true

        }}
        
      </div>
    </div>
  </div>
</div>