<div class="modal fade" id="sessao-tecnica-viii3-ix2" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas VIII/3 e IX/2
          <small style="font-size: 0.7em;">| 13:30 - 15:00</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(VIII/3) Método e estratégias de ensino e aprendizagem de computação "
        chair_sessao="Marco Aurélio Graciotto Silva (UTFPR)"



        artigo1_titulo="A Personalized-based Study Guides Tool for Software Engineering Flipped Classes"
        artigo1_autores="Necio Veras (IFCE), Lincoln Rocha (UFC), Windson Viana (UFC)"
        artigo1_artigo_pesquisa=true

        artigo2_titulo="O uso de práticas gamificadas no ensino de V&V"
        artigo2_autores="Valéria Lelli (UFC), Ismayle Sousa Santos (UFC), Karina Branco (UFC)"
        artigo2_relato_experiencia=true

        artigo3_titulo="GREatest Unity - Um jogo digital de cartas para o ensino de testes de software"
        artigo3_autores="Hanna Ranielly (UFC), Assucena Araujo (UNOPAR), Jaciana Barbosa (UFC), Jaime Gouveia de Souza
        Neto (UFC), Jefferson Teixeira (UFC), Ismayle Sousa Santos (UFC), Rossana Andrade (UFC)"
        artigo3_recurso_didatico=true

        }}

        {{>
        simposio/2023/pt-BR/programacao/sessao-tecnica

        sessao=true

        titulo_sessao="(ST-IX/2) Avaliação da aprendizagem em computação"
        chair_sessao="Ricardo Caceffo (Univesp)"




        artigo1_titulo="Avaliação Automatizada da Criatividade de Aplicativos Móveis no Contexto Educacional"
        artigo1_autores="Nathalia Alves (UFSC), Christiane Gresse von Wangenheim (UFSC)"
        artigo1_artigo_pesquisa=true

        artigo2_titulo="Qual tipo de feedback ajuda os estudantes novatos em programação? Um estudo exploratório com
        múltiplos feedbacks em um curso introdutório de Python"
        artigo2_autores="Luis Gustavo Araújo (UEFS), Roberto Bittencourt (University of Victoria - Canada), Christina
        von Flach (UFBA)"
        artigo2_artigo_pesquisa=true


        }}

      </div>
    </div>
  </div>
</div>