<div class="modal fade" id="wtd" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          III Workshop de Teses e Dissertações em Educação em Computação
          <small style="font-size: 0.7em;">| 10:30 - 12:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">


        {{>
        simposio/2024/pt-BR/programacao/sessao-tecnica

        sessao=true
        chair_sessao = 'Sheila Reinehr (PUCPR)'




        artigo1_titulo="Avaliação da Maturidade de PBL sob a PerspectivaDiscente: Um estudo de caso em Turmas
        Heterogêneas de
        Introdução à Programação"
        artigo1_autores="André Luiz Bartholomeu Ribeiro (Universidade Federal de Pernambuco)"


        artigo2_titulo="Proposta de inclusão do Pensamento Computacional no currículo de cursos de Licenciatura"
        artigo2_autores="Priscilla Mendes (Universidade Federal Rural de Pernambuco)"


        artigo3_titulo="Utilizando a abordagem de aprendizagem baseada em problemas para treinamento de programação
        competitiva com
        estudantes do ensino médio"
        artigo3_autores="Camila Santos (Universidade Federal de Uberlândia)"



        }}


      </div>



    </div>
  </div>
</div>