<div id="25-abertura" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Mesa de Abertura do EduComp</h1>
        
        <!--{{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=M6ACSQJzeSo"
        }}-->

        <span 
          style="
            font-size: large; display: block; 
            margin-bottom: 0.5em;"
        >
          Prof. Evandro do Nascimento Silva <br>
          <b>Reitor da UEFS</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Raimundo José de Araújo Macêdo (UFBA) <br>
          <b>Presidente da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Itana Maria de Souza Gimenes (UEM) <br>
          <b>Diretora de Ensino de Computação na Educação Básica da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Roberto Almeida Bittencourt (UEFS) <br>
          <b>Coordenação Geral</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Rodrigo Silva Duran (IFMS) <br>
          <b>Coordenação do Comitê de Programa</b>
        </span>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Maici Duarte Leite (UTFPR) <br>
          <b>Coordenação do ForLic</b>
        </span>
        <!--
        
        -->
    </div>
  </div>