<div id="25-encerramento-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Mesa de Encerramento do ForLic</h1>
        
        {{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=IfTUidlXZOs"
        }}
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Maici Duarte Leite (UTFPR)<br>
          <b>Coordenação do ForLic</b>
        </span>
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Luis Gustavo Araujo (UFBA / UNIFACS) <br>
          <b>Coordenação do ForLic</b>
        </span>
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Mirella Moura Moro (UFMG) <br>
          <b>Coordenação Geral</b>
        </span>
    </div>
  </div>