<div id="25-painel-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Campo de atuação do Licenciado em Computação</h1>
        
        {{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=BLb6U28seXQ"
        }}

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Adriano Canabarro Teixeira (UPF)<br>
          <b>Secretário de Educação de Passo Fundo (RS)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Andreia Pinheiro dos Santos Silva (UTFPR)<br>
          <b>Licenciada em Computação com atuação na Educação Básica</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Mayara Cristina Pereira Yamanoe (UTFPR)<br>
          <b>Professora Coordenadora de Estágio</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Luis Gustavo Araujo (UFBA/UNIFACS)<br>
          <b>Mediação</b>
        </span>
    </div>
  </div>