<div id="25-painel-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Políticas para o Ensino de Computação na Educação Básica: Atualizações</h1>
        
        <!--{{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=V1PBfiJTLMk"
        }}-->

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Ig Bittencourt<br>
          <b>Universidade Federal de Alagoas (UFAL)</b>
        </span>
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Ivan Cláudio Pereira Siqueira<br>
          <b>Conselho Nacional de Educação (CNE)</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Leila Ribeiro (UFRGS)<br>
          <b>Diretoria de Ensino de Computação na Educação Básica (SBC)</b>
        </span>
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Maici Duarte Leite (UTFPR)<br>
          <b>Mediação</b>
        </span>
    </div>
  </div>