<div id="25-painel-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Campo de atuação do Licenciado em Computação</h1>
        
        <!--{{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=V1PBfiJTLMk"
        }}-->

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Luis Gustavo Araujo (UFBA/UNIFACS)<br>
          <b>Mediação</b>
        </span>
    </div>
  </div>