<div id="25-relic" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Apresentação dos Representantes Regionais</h1>
        
        {{> 
          simposio/2021/pt-BR/programacao/transmissao 
          
          youtube=true
          link="https://www.youtube.com/watch?v=HcX6K9oWCVY"
        }}

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          
          Profa. Pasqueline Scaico (UFPB) <br>
          Profa. Rozelma França (UFRPE) <br>          
          <b>Mediação</b>
        </span>
        
    </div>
  </div>