<div class="modal fade" id="28-painel-gt" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Painel GT
          <small style="font-size: 0.7em;">| 16:30 - 18:30</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>Apresentação dos Grupos de Trabalho (GT) do GIEC</h5>
          
          <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">
          
              <a class="btn btn-info" href="https://www.youtube.com/watch?v=uzXhFERZ-30" target="_blank" style="background-color: red; color:white; border: 0px; ">
                  <span style="padding-right:0.5em;">
                      <i class="fab fa-youtube" aria-hidden="true"></i>
                  </span>
                  Transmissão pelo YouTube 
              </a>
          </span>

          <hr>
          <span class="mb-3" style="font-size: large; display: block;">
            Profa. Andréa Bordin (UFSC)<br>
            <b>Metodologias de Aprendizagem Ativa em Cursos de Computação (GTMAC)</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. Esdras L. Bispo Jr. (UFJ)<br>
            <b>Inclusão, Diversidade, Equidade, Acessibilidade (IDEA)</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Profa. Taynara Dutra (IFPR)<br>
            <b>Pensamento Computacional e a Formação de Professores</b>
          </span>
          <span class="mb-3" style="font-size: large; display: block;">
            Profa. Yorah Bosse (UFMS)<br>
            <b>Ensino-Aprendizagem de Programação Introdutória</b>
          </span>
          
          <span class="mb-3" style="font-size: large; display: block;">
            Prof. André Lemos (IFTM)<br>
            <b>Mediação</b>
          </span>
          
      </div>
    </div>
  </div>
</div>