<div class="modal fade" id="27-lab-ideias-v-vi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Laboratório de Ideias
          <small style="font-size: 0.7em;">| 18:00 - 19:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Lab Ideias V (LI-V)"
          chair_sessao="Luma Seixas (UFBA)" 
          chair_sessao2="Luiz Cuevas (UEA)"
          
          artigo1_titulo="Ensino de Programação para Estudantes do Ensino Médio de Escolas Públicas com Igualdade de Gênero"
          artigo1_autores="Giullia Menezes, Luiz Cláudio Theodoro, Rafael Araújo, João Pereira"
          
          artigo2_titulo="Ferramentas de Visualização de Programas na Compreensão de Funções de Alta-Ordem"
          artigo2_autores="Marcos Martins"	

          artigo3_titulo="CodeTesting: Sistema de apoio ao ensino de Lógica de Programação"
          artigo3_autores="Mario Pereira, Ester Santos, Joaldo Junior, Yla Santos"

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Lab Ideias VI (LI-VI)"
          chair_sessao="Fernanda Pires (UEA)" 
          chair_sessao2="Eleandro Maschio (UTFPR)"
          
          artigo1_titulo="Ara Yma: Um Jogo para Incentivar a Aprendizagem sobre Computação na Educação Básica"			
          artigo1_autores="Alfredo Costa Junior, Hádria Farias, Karen Silva, Fabiola Araújo"
          
          artigo2_titulo="Avaliação da Aprendizagem por Jogos e Pensamento Computacional Centrada na Resolução De Problemas"			
          artigo2_autores="Daniel Nipo, Rodrigo Rodrigues, Rozelma França"	

          artigo3_titulo="Jogos Digitais e Habilidades do Século XXI"
          artigo3_autores="Anselmo dos Santos Rocha Junior, João Pedro Moraes, Joacir Ferreira"

        }}
        
      </div>
    </div>
  </div>
</div>