<div class="modal fade" id="27-palestra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Palestra II
          <small style="font-size: 0.7em;">| 13:00 - 14:40</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        <h5>De volta ao 'normal'? Porque a educação pós-ensino remoto deve ser mais do que uma volta ao passado</h5>
          
          <span style="
              font-size: 1em; display: block; 
              margin-bottom: 1.5em;">
          
              <a class="btn btn-info" href="https://www.youtube.com/watch?v=u8kjpUaBShg" target="_blank" style="background-color: red; color:white; border: 0px; ">
                  <span style="padding-right:0.5em;">
                      <i class="fab fa-youtube" aria-hidden="true"></i>
                  </span>
                  Transmissão pelo YouTube 
              </a>
          </span>

          <hr>
          <span class="mb-3" style="font-size: large; display: block;">
            Profa. Ana Beatriz Gomes Carvalho (UFPE) <br>
            <strong>Palestrante</strong>
         </span>
         <span class="mb-3" style="font-size: large; display: block;">
            Profa. Aracele Fassbinder (IFSulDeMinas)<br>
            <b>Mediação</b>
          </span>
      </div>
    </div>
  </div>
</div>