<div class="modal fade" id="27-sessao-tecnica-ix-x" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header bg-primary text-white">
        <h4 class="modal-title" id="exampleModalLabel">
          Sessões Técnicas IX e X
          <small style="font-size: 0.7em;">| 15:00 - 16:10</small>
        </h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body p-4">
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Diversidade e inclusão (ST-IX)"
          chair_sessao="Esdras Lins Bispo Junior (UFJ)" 	

          artigo1_titulo="Panorama da diversidade nos cursos presenciais de Computação e Tecnologias da Informação e Comunicação das universidade públicas de Santa Catarina"
          artigo1_autores="Maria Teresa Santos, Laís Pisetta Van Vossen, Daniella Vasconcellos, Guilherme Tomaselli Borchardt, Roger Junior, Eric Carvalho da Silveira, Marily Silva,
Isabela Gasparini"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Uma contribuição na inserção da Computação nas escolas rurais por meio de computação desplugada"
          artigo2_autores="Natália Santana dos Santos, Andressa Medeiros, Nildo Pereira da Silva Junior, Julio Herculani, Simone Tonhão, William de Araujo Cadette, Jorge Prates"
          artigo2_relato_experiencia=true

        }}
        
        {{> 
          simposio/2023/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Robótica (ST-X)"
          chair_sessao="Amaury Júnior (UFMS)"
          
          artigo1_titulo="Tradução e Validação de um Instrumento para Mensurar Atitudes em Relação à Robótica"			
          artigo1_autores="João Pedro Moraes, Roberto Bittencourt"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Robótica Educacional e Habilidades do Século XXI: Um estudo de caso com estudantes do ensino médio"			
          artigo2_autores="João Pedro Moraes, Roberto Bittencourt, Rodrigo Duran"
          artigo2_relato_experiencia=true
		
          artigo3_titulo="Joanimath Robot: Uma Plataforma Robótica Para o Auxílio no Ensino-aprendizagem da Matemática"			
          artigo3_autores="Iago Oliveira, Glaucia Campos, Anderson Souza, Felipe Oliveira"
          artigo3_recurso_didatico=true

        }}
        
      </div>
    </div>
  </div>
</div>