<div id="equipes" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Comissão Especial</h1>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Coordenação</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nomes</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Rodrigo Duran</td>
                <td class="col-inst">IFMS</td>
                <td class="col-mail">rodrigo.duran@ifms.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Rozelma Soares de França</td>
                <td class="col-inst">UFRPE</td>
                <td class="col-mail">rozelma.franca@ufrpe.br</td>
              </tr>
            </tbody>
          </table>
          
  
          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Comitê Gestor</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nomes</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Graziela Guarda</td>
                <td class="col-inst">UFF</td>
                <td class="col-mail">grazielaguarda@id.uff.br</td>
              </tr>
              <tr>
                <td class="col-nome">Gustavo de Oliveira Andrade</td>
                <td class="col-inst">IFRJ</td>
                <td class="col-mail">gustavo.andrade@ifrj.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Rodrigo Duran</td>
                <td class="col-inst">IFMS</td>
                <td class="col-mail">rodrigo.duran@ifms.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Rozelma Soares de França</td>
                <td class="col-inst">UFRPE</td>
                <td class="col-mail">rozelma.franca@ufrpe.br</td>
              </tr>
              <tr>
                <td class="col-nome">Sheila Reinehr</td>
                <td class="col-inst">PUC-PR</td>
                <td class="col-mail">sheila.reinehr@pucpr.br</td>
              </tr>
            </tbody>
          </table>
              
        </div>
      </div>
    </div>
  </section>
</div>