<div id="forlic">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
            <p>
              O ForLic — Fórum das Licenciaturas em Computação — é um espaço que busca estruturar temas relacionados à formação inicial e continuada de professores para o ensino de computação na educação básica com a missão de promover o debate e a reflexão crítica sobre ações e políticas que envolvem a profissão docente em computação e a inserção da computação como área de conhecimento na formação escolar, fundada numa educação inclusiva, democrática e de qualidade e m abrangência nacional.
            </p>
            <p>
              A Rede de Licenciatura em Computação (ReLiC), coordenadora do ForLic, busca articular ações nacionais de formação docente que dialoguem com as demandas sociais, culturais e tecnológicas do século XXI. A edição 2026 do ForLic apresenta uma programação em conjunto com o Simpósio Brasileiro de Computação na Educação Básica (SBC-EB 2026) buscando reunir docentes, pesquisadores, estudantes, gestores e representantes das redes de ensino públicas e privadas para constituir uma comunidade de referência nacional para reflexão, articulação, diálogo e proposição de ações de fortalecimento dos cursos de formação inicial e continuada de professores para a educação básica em componente curricular de computação.
            </p>
            <p>
              Considerando que a implementação da BNCC Computação na educação básica avança nos sistemas de ensino em abrangência nacional, torna-se urgente aprofundar o entendimento sobre projetos pedagógicos e currículos de Licenciatura em Computação e de formação continuada docente em computação. É também necessário fomentar políticas públicas inclusivas para atender com qualidade e equidade as demandas das redes de ensino, de professores de computação para a educação básica e de pesquisas nas áreas de formação docente em computação, avaliação educacional e produção de materiais didáticos para o ensino de computação, dentre outros.
            </p>
            <p>
              A programação do ForLic 2026 inclui rodas de conversa, sessões temáticas, painéis de políticas públicas e encontros de professores e pesquisadores da área de formação inicial e continuada, além de docentes em computação. Convidamos a comunidade interessada a participar ativamente do ForLic 2026, para reconhecer este Fórum como um espaço estratégico para a efetiva implementação da Computação na Educação Básica brasileira.
            </p>
            <div class="quadro-programacao">
              <table class="table table-bordered text-center">
                <thead>
                  <tr>
                    <th class="text-nowrap align-middle">Quando</th>
                    <th class="text-nowrap align-middle">Ter. 28/04/2026</th>
                    <th class="text-nowrap align-middle">Qua. 29/04/2026</th>
                    <th class="text-nowrap align-middle">Qui. 30/04/2026</th>
                    <th class="text-nowrap align-middle">Qua. 06/05/2026</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="align-middle">O que</td>
                    <td class="align-middle">Live 1</td>
                    <td class="align-middle">Live 2</td>
                    <td class="align-middle">Live 3</td>
                    <td class="align-middle">Roda de Conversa (presencial)</td>
                  </tr>
                  <tr>
                    <td class="align-middle">Temas</td>
                    <td class="align-middle">
                      Painel de abertura
                      <br/>—<br/>
                      IA na Educação Básica
                    </td>
                    <td class="align-middle">
                      Licenciaturas em Computação<br/>
                      Estágios e Portfólios
                      <br/>—<br/>
                      Computação na Educação Infantil e Ensino Fundamental I
                    </td>
                    <td class="align-middle">
                      Computação no Ensino Fundamental II
                      <br/>—<br/>
                      Computação no Ensino Médio
                    </td>
                    <td class="align-middle">
                      Formação Docente em Computação para atuar na Educação Básica - a ReLiC está como um dos participantes
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>