  {{> simposio/2024/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -2em;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>
            I Esquenta EduComp 2024<br>
            <small class="text-muted">22 de março de 2024</small>
          </h2> 
          <br>
          <h3>Validar certificado: </h3>
          <br>
          {{#if dadosMensagem}}
              <div class="alert alert-success">
                <b>Código Encontrado!</b> <br/>
                <ul>
                {{#each dadosMensagem}}
                  <li>{{this}}</li>
                {{/each}}
                </ul>
                </div>
          {{else}}
              <div class="alert alert-danger">Não é válido para o evento: I Esquenta EduComp 2023</div>
          {{/if}}
          <form method="POST" action="/simposio/2024/certificados/esquenta/1/validar">
            <p> <a href="/simposio/2024/certificados/esquenta/1/validar" class="btn btn-primary btn-lg" >Validar outro certificado...</a> </p>
          </form>
        </div>
      </div>
    </div>
  </section>