<div id="chamadas">

  <!-- <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Artigos completos</h2>

          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t1" aria-expanded="true" aria-controls="collapse-t1">
                    <h3>Trilha 1: Artigos de pesquisa</h3>
                  </button>
              </div>
              <div id="collapse-t1" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t2" aria-expanded="true" aria-controls="collapse-t2">
                  <h3>Trilha 2: Relatos de experiência</h3>
                </button>
              </div>
              <div id="collapse-t2" class="collapse" aria-labelledby="accordion-t2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t3">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t3" aria-expanded="true" aria-controls="collapse-t3">
                  <h3>Trilha 3: Currículos</h3>
                </button>
              </div>
              <div id="collapse-t3" class="collapse" aria-labelledby="accordion-t3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t4">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t4" aria-expanded="true" aria-controls="collapse-t4">
                  <h3>Trilha 4: Recursos e ambientes educacionais</h3>
                </button>
              </div>
              <div id="collapse-t4" class="collapse" aria-labelledby="accordion-t4" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t5">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t5" aria-expanded="true" aria-controls="collapse-t5">
                    <h3>Trilha 5: Ensaios</h3>
                  </button>
              </div>
              <div id="collapse-t5" class="collapse" aria-labelledby="accordion-t5" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section id="aceitos-formativas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilhas formativas</h2>
            
          <div class="accordion" id="accordion-formativas">
          <!-- <div class="card">
              <div class="card-header" id="accordion-lab-ideias">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-lab-ideias" aria-expanded="true" aria-controls="collapse-lab-ideias">
                    <h3>Laboratório de ideias</h3>
                  </button>
              </div>
              <div id="collapse-lab-ideias" class="collapse" aria-labelledby="accordion-lab-ideias" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <!-- <div class="card">
              <div class="card-header" id="accordion-mesas">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-mesas" aria-expanded="true" aria-controls="collapse-mesas">
                    <h3>Mesas temáticas</h3>
                  </button>
              </div>
              <div id="collapse-mesas" class="collapse" aria-labelledby="accordion-mesas" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <div class="card">
              <div class="card-header" id="accordion-minicursos">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-minicursos" aria-expanded="true" aria-controls="collapse-minicursos">
                    <h3>Minicursos</h3>
                  </button>
              </div>
              <div id="collapse-minicursos" class="collapse" aria-labelledby="accordion-minicursos" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Construção de Circuitos Eletrônicos em Papel para a Aprendizagem de Computação na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Rozelma Soares de França <rozelma.franca@ufrpe.br> (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Introdução à Computação Musical: Potencializando as habilidades de programação através da música no Scratch</h4>
                          <ul class="autores-artigo">
                            <li>Graziela Ferreira Guarda (UFF)</li>
                            <li>Leila Weitzel (UFF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Realidade Virtual para o Ensino de Programação na Educação Básica: Fundamentos, Explorações e o aplicativo SSPOT-VR</h4>
                          <ul class="autores-artigo">
                            <li>Gustavo Martins Nunes Avellar (USP)</li>
                            <li>Paulo André Pimenta Aragão (USP)</li>
                            <li>Ellen Francine Barbosa (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional e o Brincar na Educação Infantil: Desafios e Possibilidades</h4>
                          <ul class="autores-artigo">
                            <li>Aline Pereira (Colégio Pedro II)</li>
                            <li>Angélica Lima de Moraes (Colégio Pedro II)</li>
                            <li>Anne Caroline de Oliveira Barros (Colégio Pedro II)</li>
                            <li>Liliana Cristina Pery de Oliveir (Colégio Pedro II)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Programação sem Sobrecarga: Otimizando o Ensino através da Teoria da Carga Cognitiva</h4>
                          <ul class="autores-artigo">
                            <li>João Henrique Berssanette (IFPR)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-ctd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-ctd" aria-expanded="true" aria-controls="collapse-ctd">
                    <h3>Concurso de Teses e Dissertações</h3>
                  </button>
              </div>

              <div id="collapse-ctd" class="collapse" aria-labelledby="accordion-ctd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h3 class="titulo-secao"><strong>Mestrado</strong></h3>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">CoderBot: Um Assistente Virtual Para Apoiar a Aprendizagem de Programação por meio de Worked Examples</h4>
                          <ul class="autores-artigo">
                            <li>Renato Garcia (UNIPAMPA)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Williamson Silva (UNIPAMPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Framework para auxílio no desenvolvimento de soft skills em estudantes de Engenharia de Software</h4>
                          <ul class="autores-artigo">
                            <li>Giovana Giardini Borges (UNESP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">NetVerse Edu – Um Laboratório Imersivo de Redes de Computadores no Metaverso como Ferramenta de Apoio às Práticas de Ensino</h4>
                          <ul class="autores-artigo">
                            <li>Erberson Vieira (IFPB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h3 class="titulo-secao"><strong>Doutorado</strong></h3>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Estratégias para o Ensino de Machine Learning para Estudantes em Vulnerabilidade Social no Ensino Fundamental e Médio</h4>
                          <ul class="autores-artigo">
                            <li>Ramon Mayor Martins (IFSC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Exploring Equity and Self-Directed Learning in Computing Undergraduates: A Capability Analysis from the Global South</h4>
                          <ul class="autores-artigo">
                            <li>Esdras Bispo Jr. (UFJ)</li>
                            <li>Simone Santos (UFPE)</li>
                            <li>Marcus Vinicius De Matos (Brunel)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Problemas de Compreensão em Códigos Corretos: Auxiliando Instrutores e Alunos ao Iluminar o que é Potencialmente Ofuscado pela Correção Automática</h4>
                          <ul class="autores-artigo">
                            <li>Eryck Silva (UNICAMP)</li>
                            <li>Rodolfo J. Azevedo (UNICAMP)</li>
                            <li>Ricardo Caceffo (Univesp)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-wtd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-wtd" aria-expanded="true" aria-controls="collapse-wtd">
                    <h3>Workshop de Teses e Dissertações</h3>
                  </button>
              </div>
              <div id="collapse-wtd" class="collapse" aria-labelledby="accordion-wtd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação de Profissionais de Computação para Ciência Aberta</h4>
                          <ul class="autores-artigo">
                            <li>Beatriz Brito do Rêgo (UFBA)</li>
                            <li>Jean Rosa (ITI)</li>
                            <li>Christina von Flach G. Chavez (UFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Robótica e Prototipagem para Professores: uma proposta com Ensino por Investigação e Resolução de Problemas</h4>
                          <ul class="autores-artigo">
                            <li>Daniel Moreira dos Santos (Prefeitura Municipal de Vitória)</li>
                            <li>Márcia Gonçalves Oliveira (IFES)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvendo o Pensamento Computacional em Sala de Aula</h4>
                          <ul class="autores-artigo">
                            <li>Henrique Martins (UNESP)</li>
                            <li>Roberta Spolon (UNESP)</li>
                            <li>Wilson Massashiro Yonezawa (UNESP)</li>
                            <li>Gabrielly Del Carlo Richene (UNESP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Investigação de distrações em cursos de introdução à programação com técnicas de Learning Analytics</h4>
                          <ul class="autores-artigo">
                            <li>Thyago Luis Borges E Silva (UFU)</li>
                            <li>Rafael D. Araújo (UFU)</li>
                            <li>Cleon Xavier (IF Goiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">LLMs na Educação em Programação: Estratégias para Avaliação e Feedback Formativo</h4>
                          <ul class="autores-artigo">
                            <li>Francisco Silva (UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Automatic Generation of Programming Questions Based on Multi-Layer Templates</h4>
                          <ul class="autores-artigo">
                            <li>Abner Santana (Dimap/UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
