<div id="chamadas">
  <section id="aceitos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>Abaixo estão as listas de trabalhos aceitos para apresentação no EduComp 2025.</p>

          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t1" aria-expanded="true" aria-controls="collapse-t1">
                    <h2>Trilha 1: Artigos de pesquisa</h2>
                  </button>
              </div>
              <div id="collapse-t1" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h3 class="titulo-artigo">Titulo do artigo que pode ser um texto mais longo do que os nomes dos autores.</h3>
                          <p class="autores-artigo">
                            Nome do autor 1 (filiação do autor), Nome do autor 2 que e da familia real (filiação do autor), Nome do autor 3 (filiação do autor)
                          </p>
                           <p class="autores-artigo">
                            Nome do autor 1 (filiação do autor), Nome do autor 2 que e da familia real (filiação do autor), Nome do autor 3 (filiação do autor)
                          </p>
                           <p class="autores-artigo">
                            Nome do autor 1 (filiação do autor), Nome do autor 2 que e da familia real (filiação do autor), Nome do autor 3 (filiação do autor)
                          </p>
                          <!-- <ul>
                            <li>Nome do autor 1 (filiação do autor)</li>
                            <li>Nome do autor 2 (filiação do autor)</li>
                            <li>Nome do autor 3 (filiação do autor)</li>
                          </ul> -->
                        </td>
                      </tr>
                       <tr>
                        <td>
                          <h3 class="titulo-artigo">Titulo do artigo que pode ser um texto mais longo do que os nomes dos autores.</h3>
                          <ul>
                            <li>Nome do autor 1 (filiação do autor)</li>
                            <li>Nome do autor 2 (filiação do autor)</li>
                            <li>Nome do autor 3 (filiação do autor)</li>
                          </ul>
                        </td>
                      </tr>
                       <tr>
                        <td>
                          <h3 class="titulo-artigo">Titulo do artigo que pode ser um texto mais longo do que os nomes dos autores.</h3>
                          <ul>
                            <li>Nome do autor 1 (filiação do autor)</li>
                            <li>Nome do autor 2 (filiação do autor)</li>
                            <li>Nome do autor 3 (filiação do autor)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t2" aria-expanded="true" aria-controls="collapse-t2">
                  <h2>Trilha 2: Relatos de experiência</h2>
                </button>
              </div>
              <div id="collapse-t2" class="collapse" aria-labelledby="accordion-t2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  


                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t3">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t3" aria-expanded="true" aria-controls="collapse-t3">
                  <h2>Trilha 3: Currículos</h2>
                </button>
              </div>
              <div id="collapse-t3" class="collapse" aria-labelledby="accordion-t3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  


                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t4">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t4" aria-expanded="true" aria-controls="collapse-t4">
                  <h2>Trilha 4: Recursos e ambientes educacionais</h2>
                </button>
              </div>
              <div id="collapse-t4" class="collapse" aria-labelledby="accordion-t4" data-parent="#accordion-trilhas">
                <div class="card-body">
                 



                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t5">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t5" aria-expanded="true" aria-controls="collapse-t5">
                    <h2>Trilha 5: Ensaios</h2>
                  </button>
              </div>
              <div id="collapse-t5" class="collapse" aria-labelledby="accordion-t5" data-parent="#accordion-trilhas">
                <div class="card-body">
                  
                  


                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
