<div id="chamadas">

  <!-- <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Artigos completos</h2>

          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t1" aria-expanded="true" aria-controls="collapse-t1">
                    <h3>Trilha 1: Artigos de pesquisa</h3>
                  </button>
              </div>
              <div id="collapse-t1" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t2" aria-expanded="true" aria-controls="collapse-t2">
                  <h3>Trilha 2: Relatos de experiência</h3>
                </button>
              </div>
              <div id="collapse-t2" class="collapse" aria-labelledby="accordion-t2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t3">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t3" aria-expanded="true" aria-controls="collapse-t3">
                  <h3>Trilha 3: Currículos</h3>
                </button>
              </div>
              <div id="collapse-t3" class="collapse" aria-labelledby="accordion-t3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t4">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t4" aria-expanded="true" aria-controls="collapse-t4">
                  <h3>Trilha 4: Recursos e ambientes educacionais</h3>
                </button>
              </div>
              <div id="collapse-t4" class="collapse" aria-labelledby="accordion-t4" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t5">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t5" aria-expanded="true" aria-controls="collapse-t5">
                    <h3>Trilha 5: Ensaios</h3>
                  </button>
              </div>
              <div id="collapse-t5" class="collapse" aria-labelledby="accordion-t5" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section id="aceitos-formativas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilhas formativas</h2>
            
          <div class="accordion" id="accordion-formativas">
          <!-- <div class="card">
              <div class="card-header" id="accordion-lab-ideias">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-lab-ideias" aria-expanded="true" aria-controls="collapse-lab-ideias">
                    <h3>Laboratório de ideias</h3>
                  </button>
              </div>
              <div id="collapse-lab-ideias" class="collapse" aria-labelledby="accordion-lab-ideias" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <!-- <div class="card">
              <div class="card-header" id="accordion-mesas">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-mesas" aria-expanded="true" aria-controls="collapse-mesas">
                    <h3>Mesas temáticas</h3>
                  </button>
              </div>
              <div id="collapse-mesas" class="collapse" aria-labelledby="accordion-mesas" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <!-- <div class="card">
              <div class="card-header" id="accordion-minicursos">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-minicursos" aria-expanded="true" aria-controls="collapse-minicursos">
                    <h3>Minicursos</h3>
                  </button>
              </div>
              <div id="collapse-minicursos" class="collapse" aria-labelledby="accordion-minicursos" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <!-- <div class="card">
              <div class="card-header" id="accordion-ctd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-ctd" aria-expanded="true" aria-controls="collapse-ctd">
                    <h3>Concurso de Teses e Dissertações</h3>
                  </button>
              </div>

              <div id="collapse-ctd" class="collapse" aria-labelledby="accordion-ctd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <div class="card">
              <div class="card-header" id="accordion-wtd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-wtd" aria-expanded="true" aria-controls="collapse-wtd">
                    <h3>Workshop de Teses e Dissertações</h3>
                  </button>
              </div>
              <div id="collapse-wtd" class="collapse" aria-labelledby="accordion-wtd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação de Profissionais de Computação para Ciência Aberta</h4>
                          <ul class="autores-artigo">
                            <li>Beatriz Brito do Rêgo</li>
                            <li>Jean Rosa</li>
                            <li>Christina von Flach G. Chavez</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Robótica e Prototipagem para Professores: uma proposta com Ensino por Investigação e Resolução de Problemas</h4>
                          <ul class="autores-artigo">
                            <li>Daniel Moreira dos Santos</li>
                            <li>Márcia Gonçalves Oliveira</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvendo o Pensamento Computacional em Sala de Aula</h4>
                          <ul class="autores-artigo">
                            <li>Henrique Martins</li>
                            <li>Roberta Spolon</li>
                            <li>Wilson Massashiro Yonezawa</li>
                            <li>Gabrielly Del Carlo Richene</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Investigação de distrações em cursos de introdução à programação com técnicas de Learning Analytics</h4>
                          <ul class="autores-artigo">
                            <li>Thyago Luis Borges E Silva</li>
                            <li>Rafael D. Araújo</li>
                            <li>Cleon Xavier</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">LLMs na Educação em Programação: Estratégias para Avaliação e Feedback Formativo</h4>
                          <ul class="autores-artigo">
                            <li>Francisco Silva</li>
                            <li>Eduardo Henrique da Silva Aranha</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Automatic Generation of Programming Questions Based on Multi-Layer Templates</h4>
                          <ul class="autores-artigo">
                            <li>Abner Santana</li>
                            <li>Eduardo Henrique da Silva Aranha</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
