<div id="chamadas">

 <section id="aceitos-completos">
  
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Artigos completos</h2>
          <p><strong>Abaixo estão listados os trabalhos aceitos no evento. A publicação dos trabalhos na SOL está condicionada à apresentação do trabalho por um dos autores no evento e ao pagamento da taxa de publicação de R$80,00.</strong></p>
          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t1" aria-expanded="true" aria-controls="collapse-t1">
                    <h3>Trilha 1: Artigos de pesquisa</h3>
                  </button>
              </div>
              <div id="collapse-t1" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">O Perfil de Personalidade dos Estudantes de Ciência da Computação da Universidade Federal Rural do Rio de Janeiro</h4>
                          <ul class="autores-artigo">
                            <li>Stéphanie Barros Honório</li>
                            <li>Natália Chaves Lessa (DCC/UFRRJ)</li>
                            <li>Lígia Maria Soares Passos (UFRRJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Exploring Non-CS Learners' Experience in Brazil</h4>
                          <ul class="autores-artigo">
                            <li>Renata Faria Gomes (CIn-UFPE)</li>
                            <li>Vinicius Cardoso Garcia (UFPE)</li>
                            <li>Ricardo Ferreira Dos Santos Junior (Nenhuma)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">CodeBô: Design e avaliação de um puzzle game para o ensino de Estrutura de Dados</h4>
                          <ul class="autores-artigo">
                            <li>Luis Gustavo Araújo (IFBA Campus Jacobina)</li>
          
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Chatbots com ferramenta de Learning Analytics no Ensino da Programação: Um Estudo de Mapeamento Sistemático</h4>
                          <ul class="autores-artigo">
                            <li>Aline Valente (UnB)</li>
                            <li>Maristela Holanda (UnB)</li>
                            <li>Warley M. Valente Junior (UNIFESSPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Efetividade de uma Metodologia Ativa vs. Tradicional: Um Estudo de Caso de um Método Comparativo Leve em uma Disciplina de Redes de Computadores</h4>
                          <ul class="autores-artigo">
                            <li>Ricardo Couto Antunes da Rocha (UFCAT)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A reference model for presentation of studies in competency-based education in engineering and computing
</h4>
                          <ul class="autores-artigo">
                            <li>Leandro Santos da Cruz (UFBA)</li>
                            <li>José Amancio Macedo Santos (UEFS)</li>
                            <li>Lucca de Almeida Hora Coutinho (UEFS)</li>
                            <li>Lais do Nascimento Salvador (UFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Análise de Sentimentos em Diários de Bordo com IA: Monitorando o Progresso de Equipes em Disciplinas de Programação
</h4>
                          <ul class="autores-artigo">
                            <li>Havana Diogo Alves Andrade (IFPE)</li> <li>Viviane Cristina Oliveira Aureliano (IFPE, UFPE)</li> <li>Patrícia Tedesco (UFPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando o YouTube como Fonte de Aprendizado para Desenvolvedores: Uma Análise em Larga Escala sobre Vídeos de Tecnologia
</h4>
                          <ul class="autores-artigo">
                           <li>Gabriel Victor de Paula (PUC Minas)</li> <li>João Victor Lima</li> <li>Luís Antônio Sousa</li> <li>Luiz Gustavo Soares (PUC MG)</li> <li>Pedro Henrique Machado</li> <li>Aline Brito (PUC Minas)</li> <li>Laerte Xavier (PUC Minas)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Caracterização de Grupos de Estudantes de Programação: Uma Abordagem Baseada em Modelagem de Redes
</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Medrado Sena (UFV)</li> <li>Julio Cesar Soares dos Reis (Federal University of Minas Gerais)</li> <li>Andre Gustavo dos Santos</li> <li>Carlos Eduardo Paulino Silva (IFMG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">O Desafio da Diversidade e Inclusão: A Falta de Representatividade das Minorias Sociais na Educação em Computação</h4>
                          <ul class="autores-artigo">
                            <li>Anderson Correa de Lima (UFMS)</li> <li>Valéria Q. Reis (UFMS)</li> <li>Mateus Soares Moraes (UFMS)</li> 
                            <li>Amaury Antonio de Castro Junior (UFMS)</li> <li>Esteic Janaina Santos Batista (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Análise Preliminar da Influência da Mudança Curricular nos Índices de Evasão Discente no Curso de Ciência da Computação da UFRRJ</h4>
                          <ul class="autores-artigo">
                            <li>Marcelo Zamith (UFRRJ)</li> <li>Juliana Nascente (UFRRJ)</li> <li>Natália Chaves Lessa (DCC/UFRRJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Revisão Sistemática sobre Inventário de Conceitos aplicados em disciplinas introdutórias de cursos de computação.
</h4>
                          <ul class="autores-artigo">
                            <li>Inara Ortiz (UFMS)</li> <li>Amaury Antonio de Castro Junior (UFMS)</li> <li>Anderson Correa de Lima (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Estudo sobre a Presença e a Atuação de Mulheres nos TCCs em Ciência da Computação do IFCE
</h4>
                          <ul class="autores-artigo">
                            <li>Danielly Silva Paulino (IFCE)</li> <li>Marina Sena</li> <li>Andressa Bezerra Ferreira (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Estudo sobre o surgimento e evolução de misconceptions em uma disciplina de introdução à programação
</h4>
                          <ul class="autores-artigo">
                            <li>Airton Nascimento Silveira Filho (UFAM)</li> <li>Victor Araújo Passos (UFAM)</li> 
                            <li>Leandro Silva Galvão de Carvalho (UFAM)</li> <li>Elaine H. T. Oliveira (UFAM)</li> <li>David Fernandes (UFAM)</li> <li>Fabíola Guerra Nakamura (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um estudo comparativo de uso de Serious Games para auxiliar o aprendizado de Sistemas Operacionais
</h4>
                          <ul class="autores-artigo">
                            <li>Matheus Luccas (USP)</li> <li>Leonardo T. Pereira (USP)</li> <li>Kalinka Regina Lucas Jaquie Castelo Branco (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando o uso de LLMs para rotular estratégias de programação
</h4>
                          <ul class="autores-artigo">
                            <li>Rafaela Melo (UFAM)</li> <li>Tiago Souza de Souza (UFAM)</li> <li>Marcela Pessoa (UEA)</li> <li>David Fernandes (UFAM)</li> <li>Elaine H. T. Oliveira (UFAM)</li> <li>Leandro Silva Galvão de Carvalho (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Analisando a Efetividade de PBL no Ensino de Programação de Software: Um Estudo Qualitativo em uma Turma Heterogênea
</h4>
                          <ul class="autores-artigo">
                            <li>André Ribeiro (UFPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Especialista em algoritmos para apoio interativo na aprendizagem de programação utilizando ChatGPT
</h4>
                          <ul class="autores-artigo">
                            <li>Jean Brito (UEA)</li> <li>Waldecir da Silva Martins Waldecir (UEA)</li> <li>Ícaro Benarrós (UEA)</li> <li>Jose Carlos Duarte (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Investigação da Relação Entre Traços de Personalidade e Distrações no Curso de Introdução à Programação
</h4>
                          <ul class="autores-artigo">
                            <li>Thyago Luis Borges E Silva (UFU)</li> <li>Rafael D. Araújo (UFU)</li> <li>Cleon Xavier (IF Goiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Abordagem para seleção de exemplos trabalhados para engenharia de software do domínio de sistemas distribuídos
</h4>
                          <ul class="autores-artigo">
                            <li>Breno Farias da Silva (UTFPR)</li> <li>Igor Scaliante Wiese (UTFPR)</li> <li>Rodrigo Campiolo (UTFPR)</li> <li>Marco Aurélio Graciotto Silva (UTFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Mapeamento Sistemático da Literatura sobre Jogos Educacionais Digitais para o Ensino de Circuitos Lógicos
</h4>
                          <ul class="autores-artigo">
                            <li>Frederico Dôndici (UFJF)</li> <li>João Vitor Fernandes Ribeiro Carneiro Ramos (UFJF)</li> 
                            <li>Pedro Matos Crawford (UFJF)</li> <li>Alessandreia Oliveira (UFJF)</li> <li>Pedro Henrique Dias Valle (USP)</li> <li>Luciano Jerez Chaves (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t2" aria-expanded="true" aria-controls="collapse-t2">
                  <h3>Trilha 2: Relatos de experiência</h3>
                </button>
              </div>
              <div id="collapse-t2" class="collapse" aria-labelledby="accordion-t2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t3">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t3" aria-expanded="true" aria-controls="collapse-t3">
                  <h3>Trilha 3: Currículos</h3>
                </button>
              </div>
              <div id="collapse-t3" class="collapse" aria-labelledby="accordion-t3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t4">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t4" aria-expanded="true" aria-controls="collapse-t4">
                  <h3>Trilha 4: Recursos e ambientes educacionais</h3>
                </button>
              </div>
              <div id="collapse-t4" class="collapse" aria-labelledby="accordion-t4" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t5">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t5" aria-expanded="true" aria-controls="collapse-t5">
                    <h3>Trilha 5: Ensaios</h3>
                  </button>
              </div>
              <div id="collapse-t5" class="collapse" aria-labelledby="accordion-t5" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> 

  <section id="aceitos-formativas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilhas formativas</h2>
            
          <div class="accordion" id="accordion-formativas">
          <!-- <div class="card">
              <div class="card-header" id="accordion-lab-ideias">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-lab-ideias" aria-expanded="true" aria-controls="collapse-lab-ideias">
                    <h3>Laboratório de ideias</h3>
                  </button>
              </div>
              <div id="collapse-lab-ideias" class="collapse" aria-labelledby="accordion-lab-ideias" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <!-- <div class="card">
              <div class="card-header" id="accordion-mesas">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-mesas" aria-expanded="true" aria-controls="collapse-mesas">
                    <h3>Mesas temáticas</h3>
                  </button>
              </div>
              <div id="collapse-mesas" class="collapse" aria-labelledby="accordion-mesas" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <div class="card">
              <div class="card-header" id="accordion-minicursos">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-minicursos" aria-expanded="true" aria-controls="collapse-minicursos">
                    <h3>Minicursos</h3>
                  </button>
              </div>
              <div id="collapse-minicursos" class="collapse" aria-labelledby="accordion-minicursos" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Construção de Circuitos Eletrônicos em Papel para a Aprendizagem de Computação na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Rozelma Soares de França <rozelma.franca@ufrpe.br> (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Introdução à Computação Musical: Potencializando as habilidades de programação através da música no Scratch</h4>
                          <ul class="autores-artigo">
                            <li>Graziela Ferreira Guarda (UFF)</li>
                            <li>Leila Weitzel (UFF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Realidade Virtual para o Ensino de Programação na Educação Básica: Fundamentos, Explorações e o aplicativo SSPOT-VR</h4>
                          <ul class="autores-artigo">
                            <li>Gustavo Martins Nunes Avellar (USP)</li>
                            <li>Paulo André Pimenta Aragão (USP)</li>
                            <li>Ellen Francine Barbosa (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional e o Brincar na Educação Infantil: Desafios e Possibilidades</h4>
                          <ul class="autores-artigo">
                            <li>Aline Pereira (Colégio Pedro II)</li>
                            <li>Angélica Lima de Moraes (Colégio Pedro II)</li>
                            <li>Anne Caroline de Oliveira Barros (Colégio Pedro II)</li>
                            <li>Liliana Cristina Pery de Oliveir (Colégio Pedro II)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Programação sem Sobrecarga: Otimizando o Ensino através da Teoria da Carga Cognitiva</h4>
                          <ul class="autores-artigo">
                            <li>João Henrique Berssanette (IFPR)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <!-- <div class="card">
              <div class="card-header" id="accordion-ctd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-ctd" aria-expanded="true" aria-controls="collapse-ctd">
                    <h3>Concurso de Teses e Dissertações</h3>
                  </button>
              </div>

              <div id="collapse-ctd" class="collapse" aria-labelledby="accordion-ctd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h4>
                          <ul class="autores-artigo">
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                            <li>Lorem, ipsum dolor sit</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo"></h4>
                          <ul class="autores-artigo">
                            <li></li>
                            <li></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> -->

            <div class="card">
              <div class="card-header" id="accordion-wtd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-wtd" aria-expanded="true" aria-controls="collapse-wtd">
                    <h3>Workshop de Teses e Dissertações</h3>
                  </button>
              </div>
              <div id="collapse-wtd" class="collapse" aria-labelledby="accordion-wtd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação de Profissionais de Computação para Ciência Aberta</h4>
                          <ul class="autores-artigo">
                            <li>Beatriz Brito do Rêgo (UFBA)</li>
                            <li>Jean Rosa (ITI)</li>
                            <li>Christina von Flach G. Chavez (UFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Robótica e Prototipagem para Professores: uma proposta com Ensino por Investigação e Resolução de Problemas</h4>
                          <ul class="autores-artigo">
                            <li>Daniel Moreira dos Santos (Prefeitura Municipal de Vitória)</li>
                            <li>Márcia Gonçalves Oliveira (IFES)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvendo o Pensamento Computacional em Sala de Aula</h4>
                          <ul class="autores-artigo">
                            <li>Henrique Martins (UNESP)</li>
                            <li>Roberta Spolon (UNESP)</li>
                            <li>Wilson Massashiro Yonezawa (UNESP)</li>
                            <li>Gabrielly Del Carlo Richene (UNESP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Investigação de distrações em cursos de introdução à programação com técnicas de Learning Analytics</h4>
                          <ul class="autores-artigo">
                            <li>Thyago Luis Borges E Silva (UFU)</li>
                            <li>Rafael D. Araújo (UFU)</li>
                            <li>Cleon Xavier (IF Goiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">LLMs na Educação em Programação: Estratégias para Avaliação e Feedback Formativo</h4>
                          <ul class="autores-artigo">
                            <li>Francisco Silva (UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Automatic Generation of Programming Questions Based on Multi-Layer Templates</h4>
                          <ul class="autores-artigo">
                            <li>Abner Santana (Dimap/UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
