<div id="chamadas">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="coordenacao">
            <strong>Coordenação:</strong> Ecivaldo Matos (USP)<br>
            <strong>Contato:</strong> ecivaldo@usp.br
          </div>
          <p>
            Em 2025, o principal espaço de encontros e compartilhamentos da nossa comunidade, o Simpósio Brasileiro de Educação em Computação (EduComp), será presencialmente pela primeira vez, tornando-o ainda mais especial.
            No EduComp 2025, além de nos encontrarmos e apresentarmos nossas reflexões, experiências, propostas e resultados de pesquisa, teremos mais uma vez as Mesas Temáticas. 
            Esse será um espaço voltado à proposição de discussões e questionamentos epistêmicos ou metodológicos, bem como o estabelecimento de agendas, a partir dos interesses da própria comunidade.
          </p>
          <p>
            Nesta edição, as Mesas temáticas ocorrerão <strong>presencialmente</strong> durante o evento, entre 07 e 10 de abril de 2025, e <strong>remotamente (online)</strong> no pré-evento nos dias 31 de março e 1º de abril de 2025.
            Os temas são de livre escolha das pessoas proponentes, desde que dentro do escopo do evento, ou seja, relacionados à Educação em Computação.
            Cada Mesa Temática deverá ocorrer em até 90 minutos. 
            Sugerimos que 60 minutos sejam dedicados à apresentação ou diálogo entre as pessoas participantes da mesa e os 30 minutos restantes voltados à interação com a plateia. 
            Pedimos o máximo cuidado em definir uma dinâmica possível de ser executada dentro desse tempo. Para o bem de todos/as, seremos rigorosos/as.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="datas-importantes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Datas importantes</h2>
          <div class="row justify-content-center">
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card-passado">
                <div class="card-title">
                  <span class="dia">28</span>
                  <span class="mes">fevereiro</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body align-bottom">
                  <p class="card-text data-riscada">26/02/2025</p>
                </div>
                <div class="card-footer text-center">Envio de propostas</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">12</span>
                  <span class="mes">março</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Notificação de aceite</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">31<span style="font-size: 0.3em;"> a 01</span></span>
                  <span class="mes">março</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Realização das mesas online</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">07<span style="font-size: 0.3em;">a 10</span></span>
                  <span class="mes">abril</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Realização das mesas presenciais</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Instruções para autores</h2>
          <p>
            As propostas devem se limitar a <s>duas</s> cinco páginas, em português, e devem seguir o <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/modelosparapublicaodeartigos.zip" target="_blank">modelo para publicação de artigos da SBC</a>. 
            Ao fornecer informações sobre as pessoas propositoras, indique qual das painelistas será a pessoa moderadora colocando a palavra “Moderador(a)” entre colchetes após o seu respectivo nome.
          </p>
          <p>
            As propostas de Mesas Temáticas devem usar os nomes das seções padronizadas e seguir as orientações de formatação a seguir:
          </p>
          <ul>
            <li><strong>Título</strong></li>
            <li><strong>Resumo:</strong> Breve resumo (até 250 palavras) sobre a proposta.</li>
            <li><strong>Visão geral:</strong> A proposta deve conter um resumo expandido dos objetivos da mesa, expectativa, justificativa e relevância para a comunidade do EduComp 2024.</li>
            <li><strong>Estrutura e dinâmica:</strong> Nesta seção devem ser apresentadas, com riqueza de detalhes, a estrutura e dinâmica da Mesa Temática, deixando evidente como será a sua condução e a interação com a plateia, de modo a possibilitar a participação de todas as pessoas participantes dentro do tempo estipulado para cada Mesa Temática.</li>
            <li><strong>Apresentação das/os proponentes:</strong> Nesta seção deve haver uma minicurrículo de cada proponente, associando-o à proposta da Mesa Temática com a devida justificativa de sua presença na Mesa. Cada mesa pode ser proposta por duas a quatro pessoas, sendo uma delas, obrigatoriamente, a moderadora.</li>
            <li><strong>Referências:</strong> A citação de trabalhos relevantes, quando apropriado, é encorajada, mas não obrigatória. Se as referências forem incluídas, elas devem ser colocadas em uma seção separada intitulada Referências e devem seguir as diretrizes de formatação do modelo utilizado.</li>
          </ul>
          <p>
            As propostas de Mesas Temáticas devem ser submetidas eletronicamente, em formato PDF, por meio do sistema <a href="https://jems3.sbc.org.br/events/203" target="_blank">JEMS3</a> da SBC. 
            A avaliação das propostas NÃO será anônima. 
            As propostas serão analisadas pelo Comitê de Programa, considerando a relevância e atualidade do tema; a experiência das pessoas proponentes com possibilidade de múltiplas perspectivas sobre o tema; e a assertividade da dinâmica da Mesa Temática, de modo a proporcionar participação adequada das/os participantes da mesa e da plateia.
          </p>
          <p>
            As/Os proponentes de Mesas Temáticas podem se inspirar em alguns exemplos de mesas/paineis apresentados no SIGCSE 2022:
            <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499226">Belonging in Computing</a>, 
            <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499225">The Case for Acknowledging Subjectivity in CS Education Research Data</a>, e
            <a href="https://dl.acm.org/doi/pdf/10.1145/3478432.3499230">Should the AP Computer Science A Exam Switch to Using Python?</a>.
          </p>
          <p>
            As propostas selecionadas serão publicadas nos anais estendidos do evento no Portal de Publicações e Conteúdos Digitais da SBC - <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>, condicionado ao pagamento da taxa de publicação de R$ 80,00 (oitenta reais) e ao preenchimento pelos autores do <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC.
          </p>
        </div>
      </div>
    </div>
  </section>

</div>