<div id="chamadas">

  <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Os autores de trabalhos aceitos no EduComp 2025 devem seguir as diretrizes abaixo para a apresentação oral.
            Em todos os casos, recomenda-se fortemente o uso do <a href="/downloads/simposio/2025/educomp/template-educomp-2025.pptx"> modelo oficial do evento</a> para a apresentação, mas os autores têm liberdade para escolher outros modelos, se julgarem adequado.
            Para evitar problemas de formatação, sugere-se que a apresentação final esteja em formato PDF.
            Os autores devem <strong>copiar, até 4 de abril, o PDF de suas apresentações para a pasta comparilhada do Google Drive</strong>, cujo link foi enviado por e-mail.
          </p>
          <p>
            Para as apresentações presenciais, o evento fornecerá projetor e computador e, para garantir a pontualidade, não será permitido o uso de computadores pessoais (notebooks) nessas apresentações.
            Os apresentadores devem estar na sala pelo menos 10 minutos antes do início da sessão.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="orientacoes-lab-ideias">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Laboratório de Ideias</h2>
          <p>
            Cada sessão do Laboratório de Ideias será composta por três trabalhos, apresentados em sequência.
            Cada autor terá <strong>10 minutos para sua apresentação</strong>.
            Após a apresentação de todos os trabalhos, o restante da sessão será dedicado a discussão com os presentes. 
          </p>
        </div>
      </div>
    </div>
  </section> 

  <section id="orientacoes-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Sessões Técnicas</h2>
          <p>
            Cada sessão técnica será composta por três ou quatro artigos completos, apresentados em sequência.
            Cada autor terá <strong>15 minutos para sua apresentação</strong> e, ao final de todas as exposições, haverá um tempo dedicado a discussões e perguntas.
            É importante que o autor esteja preparado para responder perguntas do público ao final da sessão. 
          </p>
        </div>
      </div>
    </div>
  </section> 

</div>
