<div id="chamadas">

 <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            As pessoas autoras dos trabalhos aceitos no EduComp 2025 devem seguir as diretrizes abaixo para a apresentação oral de seus trabalhos.
          </p>
        </div>
      </div>
    </div>
  </section>

 <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Artigos completos</h2>
          <p>
            <strong>Sessões técnicas</strong>: cada sessão técnica é composta de 4 ou 5 trabalhos, que devem ser apresentados em sequência. No final das apresentações, haverá um tempo para discussão.
          </p>
          <p>
            <strong>Tempo de apresentação</strong> cada trabalho terá 15 minutos para apresentação.
          </p>
          <p>
            <strong>Formato da apresentação</strong>: recomenda-se o uso do <a href="/downloads/simposio/2025/educomp/template-educomp-2025.pptx"> modelo oficial do evento</a>, mas fique livre para escolher o formato mais adequado.
          </p>
          <p>
            <strong>Equipamentos</strong>: o evento fornecerá projetor e computador, mas leve a apresentação em um pendrive e tenha uma cópia na nuvem.
          </p>
          <p>
            <strong>Pontualidade</strong>: esteja presente na sala com pelo menos 10 minutos de antecedência ao início da sua sessão técnica.
          </p>
          <p>
            <strong>Evite atrasos</strong>: todas as apresentações devem estar copiadas no computador da sala antes do início da sessão técnica, para agilizar a transição entre trabalhos.
          </p>
          <p>
            <strong>Interação com o público</strong>: os apresentadores devem estar preparados para responder perguntas ao final da sessão técnica.
          </p>
        </div>
      </div>
    </div>
  </section> 



</div>
