<div id="chamadas">

 <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Os autores de trabalhos aceitos no EduComp 2025 devem seguir as diretrizes abaixo para a apresentação oral.
          </p>
        </div>
      </div>
    </div>
  </section>

 <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Artigos completos</h2>
          <p>
            Cada <strong>sessão técnica</strong> será composta por quatro ou cinco trabalhos, apresentados em sequência.
            Cada autor terá <strong>15 minutos</strong> para sua apresentação, e, ao final de todas as exposições, haverá um tempo dedicado à discussão. 
            Recomenda-se o uso do <a href="/downloads/simposio/2025/educomp/template-educomp-2025.pptx"> modelo oficial do evento</a> para a apresentação, mas os autores têm liberdade para escolher outros modelos, se julgarem mais adequado.
            Para evitar problemas de formatação, sugere-se que a apresentação esteja em formato PDF.
            O evento fornecerá projetor e computador, porém é essencial levar a apresentação em um pendrive e manter uma cópia na nuvem.
            Para garantir a pontualidade, os apresentadores devem estar na sala pelo menos 10 minutos antes do início da sessão técnica.
            Todas as apresentações devem ser copiadas no computador da sala antes do início da sessão, agilizando a transição entre trabalhos.
            Além disso, é importante que os autores estejam preparados para responder perguntas do público ao final da sessão.
          </p>
        </div>
      </div>
    </div>
  </section> 



</div>
