<div id="chamadas">

 <section id="aviso-taxa">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Abaixo estão listados os trabalhos aceitos. A publicação de cada trabalho nos anais do evento está condicionado à inscrição de pelo menos um dos autores no EduComp 2025, bem como a apresentação oral do artigo durante o evento e o pagamento da taxa de publicação de R$ 80,00 (oitenta reais).
            Em todos os casos, os autores deverão preencher o <a href="https://www.sbc.org.br/documentos-da-sbc/summary/164-publicacoes/1231-termo-de-autorizacao-de-publicacao" target="_blank">termo de autorização de publicação</a> para a SBC. 
          </p>
        </div>
      </div>
    </div>
  </section>

 <section id="aceitos-completos">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Artigos completos</h2>
          <p><strong></strong></p>
          <div class="accordion" id="accordion-trilhas">
            <div class="card">
              <div class="card-header" id="accordion-t1">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t1" aria-expanded="true" aria-controls="collapse-t1">
                    <h3>Trilha 1: Artigos de pesquisa</h3>
                  </button>
              </div>
              <div id="collapse-t1" class="collapse" aria-labelledby="accordion-t1" data-parent="#accordion-trilhas">
                <div class="card-body">
                  
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">O Perfil de Personalidade dos Estudantes de Ciência da Computação da Universidade Federal Rural do Rio de Janeiro</h4>
                          <ul class="autores-artigo">
                            <li>Stéphanie Barros Honório</li>
                            <li>Natália Chaves Lessa (UFRRJ)</li>
                            <li>Lígia Maria Soares Passos (UFRRJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Exploring Non-CS Learners' Experience in Brazil</h4>
                          <ul class="autores-artigo">
                            <li>Renata Faria Gomes (UFPE)</li>
                            <li>Vinicius Cardoso Garcia (UFPE)</li>
                            <li>Ricardo Ferreira Dos Santos Junior</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">CodeBô: Design e avaliação de um puzzle game para o ensino de Estrutura de Dados</h4>
                          <ul class="autores-artigo">
                            <li>Luis Gustavo Araújo (IFBA Campus Jacobina)</li>
          
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Chatbots com ferramenta de Learning Analytics no Ensino da Programação: Um Estudo de Mapeamento Sistemático</h4>
                          <ul class="autores-artigo">
                            <li>Aline Valente (UnB)</li>
                            <li>Maristela Holanda (UnB)</li>
                            <li>Warley M. Valente Junior (UNIFESSPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Efetividade de uma Metodologia Ativa vs. Tradicional: Um Estudo de Caso de um Método Comparativo Leve em uma Disciplina de Redes de Computadores</h4>
                          <ul class="autores-artigo">
                            <li>Ricardo Couto Antunes da Rocha (UFCAT)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A reference model for presentation of studies in competency-based education in engineering and computing</h4>
                          <ul class="autores-artigo">
                            <li>Leandro Santos da Cruz (UFBA)</li>
                            <li>José Amancio Macedo Santos (UEFS)</li>
                            <li>Lucca de Almeida Hora Coutinho (UEFS)</li>
                            <li>Lais do Nascimento Salvador (UFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <!-- <tr>
                        <td>
                          <h4 class="titulo-artigo">Análise de Sentimentos em Diários de Bordo com IA: Monitorando o Progresso de Equipes em Disciplinas de Programação</h4>
                          <ul class="autores-artigo">
                            <li>Havana Diogo Alves Andrade (IFPE)</li>
                            <li>Viviane Cristina Oliveira Aureliano (IFPE, UFPE)</li> 
                            <li>Patrícia Tedesco (UFPE)</li>
                          </ul>
                        </td>
                      </tr> -->
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando o YouTube como Fonte de Aprendizado para Desenvolvedores: Uma Análise em Larga Escala sobre Vídeos de Tecnologia</h4>
                          <ul class="autores-artigo">
                           <li>Gabriel Victor de Paula (PUC MG)</li> 
                           <li>João Victor Lima</li> 
                           <li>Luís Antônio Sousa</li> 
                           <li>Luiz Gustavo Soares (PUC MG)</li> 
                           <li>Pedro Henrique Machado</li> 
                           <li>Aline Brito (PUC MG)</li> 
                           <li>Laerte Xavier (PUC MG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Caracterização de Grupos de Estudantes de Programação: Uma Abordagem Baseada em Modelagem de Redes</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Medrado Sena (UFV)</li> 
                            <li>Julio Cesar Soares dos Reis (UFMG)</li> 
                            <li>Andre Gustavo dos Santos</li> 
                            <li>Carlos Eduardo Paulino Silva (IFMG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">O Desafio da Diversidade e Inclusão: A Falta de Representatividade das Minorias Sociais na Educação em Computação</h4>
                          <ul class="autores-artigo">
                            <li>Anderson Correa de Lima (UFMS)</li> 
                            <li>Valéria Q. Reis (UFMS)</li> 
                            <li>Mateus Soares Moraes (UFMS)</li> 
                            <li>Amaury Antonio de Castro Junior (UFMS)</li> 
                            <li>Esteic Janaina Santos Batista (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Análise Preliminar da Influência da Mudança Curricular nos Índices de Evasão Discente no Curso de Ciência da Computação da UFRRJ</h4>
                          <ul class="autores-artigo">
                            <li>Marcelo Zamith (UFRRJ)</li> 
                            <li>Juliana Nascente (UFRRJ)</li> 
                            <li>Natália Chaves Lessa (UFRRJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Revisão Sistemática sobre Inventário de Conceitos aplicados em disciplinas introdutórias de cursos de computação.</h4>
                          <ul class="autores-artigo">
                            <li>Inara Ortiz (UFMS)</li> 
                            <li>Amaury Antonio de Castro Junior (UFMS)</li> 
                            <li>Anderson Correa de Lima (UFMS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Estudo sobre a Presença e a Atuação de Mulheres nos TCCs em Ciência da Computação do IFCE</h4>
                          <ul class="autores-artigo">
                            <li>Danielly Silva Paulino (IFCE)</li> 
                            <li>Marina Sena</li> 
                            <li>Andressa Bezerra Ferreira (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Estudo sobre o surgimento e evolução de misconceptions em uma disciplina de introdução à programação</h4>
                          <ul class="autores-artigo">
                            <li>Airton Nascimento Silveira Filho (UFAM)</li> 
                            <li>Victor Araújo Passos (UFAM)</li> 
                            <li>Leandro Silva Galvão de Carvalho (UFAM)</li> 
                            <li>Elaine H. T. Oliveira (UFAM)</li> 
                            <li>David Fernandes (UFAM)</li> 
                            <li>Fabíola Guerra Nakamura (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um estudo comparativo de uso de Serious Games para auxiliar o aprendizado de Sistemas Operacionais</h4>
                          <ul class="autores-artigo">
                            <li>Matheus Luccas (USP)</li> 
                            <li>Leonardo T. Pereira (USP)</li> 
                            <li>Kalinka Regina Lucas Jaquie Castelo Branco (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando o uso de LLMs para rotular estratégias de programação</h4>
                          <ul class="autores-artigo">
                            <li>Rafaela Melo (UFAM)</li> 
                            <li>Tiago Souza de Souza (UFAM)</li> 
                            <li>Marcela Pessoa (UEA)</li> 
                            <li>David Fernandes (UFAM)</li> 
                            <li>Elaine H. T. Oliveira (UFAM)</li> 
                            <li>Leandro Silva Galvão de Carvalho (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Analisando a Efetividade de PBL no Ensino de Programação de Software: Um Estudo Qualitativo em uma Turma Heterogênea</h4>
                          <ul class="autores-artigo">
                            <li>André Ribeiro (UFPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Especialista em algoritmos para apoio interativo na aprendizagem de programação utilizando ChatGPT</h4>
                          <ul class="autores-artigo">
                            <li>Jean Brito (UEA)</li> 
                            <li>Waldecir da Silva Martins Waldecir (UEA)</li> 
                            <li>Ícaro Benarrós (UEA)</li> 
                            <li>Jose Carlos Duarte (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Investigação da Relação Entre Traços de Personalidade e Distrações no Curso de Introdução à Programação</h4>
                          <ul class="autores-artigo">
                            <li>Thyago Luis Borges E Silva (UFU)</li> 
                            <li>Rafael D. Araújo (UFU)</li> 
                            <li>Cleon Xavier (IF Goiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Abordagem para seleção de exemplos trabalhados para engenharia de software do domínio de sistemas distribuídos</h4>
                          <ul class="autores-artigo">
                            <li>Breno Farias da Silva (UTFPR)</li> 
                            <li>Igor Scaliante Wiese (UTFPR)</li> 
                            <li>Rodrigo Campiolo (UTFPR)</li> 
                            <li>Marco Aurélio Graciotto Silva (UTFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Mapeamento Sistemático da Literatura sobre Jogos Educacionais Digitais para o Ensino de Circuitos Lógicos</h4>
                          <ul class="autores-artigo">
                            <li>Frederico Dôndici (UFJF)</li> 
                            <li>João Vitor Fernandes Ribeiro Carneiro Ramos (UFJF)</li> 
                            <li>Pedro Matos Crawford (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li> 
                            <li>Pedro Henrique Dias Valle (USP)</li> 
                            <li>Luciano Jerez Chaves (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t2">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t2" aria-expanded="true" aria-controls="collapse-t2">
                  <h3>Trilha 2: Relatos de experiência</h3>
                </button>
              </div>
              <div id="collapse-t2" class="collapse" aria-labelledby="accordion-t2" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                      <td>
                          <h4 class="titulo-artigo">Diverse data structures applied in the creation of console games as a result of a discipline’s assessment project</h4>
                          <ul class="autores-artigo">
                            <li>Rúbia E. O. Schultz Ascari (UTFPR)</li>
                            <li>Eliane Maria De Bortoli Fávero (UTFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Relato de Experiência sobre o Apoio Estudantil na Disciplina de Algoritmos</h4>
                          <ul class="autores-artigo">
                            <li>Júlia Zoffoli Caçador (UFJF)</li>
                            <li>Robert Gonçalves Vieira de Souza (UFJF)</li>
                            <li>Davi Luís de Faria Rocha (UFJF)</li>
                            <li>Gabriel Mattos (UFJF)</li>
                            <li>Luiz Gustavo Ferreira Nazareth (UFJF)</li>
                            <li>Marcelo Ian Rezende Menezes (UFJF)</li>
                            <li>Hiero Henrique Barcelos Costa (UFJF)</li>
                            <li>João Stephan Silva Maurício (UFJF)</li>
                            <li>Augusto de Filippo Cavalini (UFJF)</li>
                            <li>Gabriel Henrique de Souza (UFJF)</li>
                            <li>Joventino De Oliveira Campos (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <!-- <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando Tipos de Dados na Educação Básica com o Minecraft Educacional</h4>
                          <ul class="autores-artigo">
                            <li>Jonnhy Marques (UFPEL)</li>
                            <li>Luciana Foss (UFPEL)</li>
                            <li>Simone André da Costa Cavalheiro (UFPEL)</li>
                          </ul>
                        </td>
                      </tr> -->
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desvendando Conceitos de Ciência da Computação com Crianças: Relato de Experiência com Atividades Desplugadas no Ensino Fundamental I</h4>
                          <ul class="autores-artigo">
                            <li>Robson Neves de Amorim (UEA)</li>
                            <li>Gleice Oliveira da Silva (UEA)</li>
                            <li>Genarde Macedo Trindade (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensinando Python com Lego Spike 3: Uma Abordagem Prática para Jovens de 13 a 18 Anos</h4>
                          <ul class="autores-artigo">
                            <li>Rafael Rocha Ribeiro (UFJF)</li>
                            <li>Giulia Oliveira(UFJF)</li>
                            <li>Miguel Abreu(UFJF)</li>
                            <li>Nina Aguiar Ferreira(UFJF)</li>
                            <li>Cristina Dusi(UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Exploring the Use of ChatGPT in Teaching Entity-Relationship Models: Insights from a Classroom Experience</h4>
                          <ul class="autores-artigo">
                            <li>Kauã Sales Viana (UEA)</li>
                            <li>Márcia S. Lima (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Feira do conhecimento e lixo eletrônico: Relato de experiência sobre curricularização da extensão em Sistemas de Informação</h4>
                          <ul class="autores-artigo">
                            <li>Adriana Martinhago (UFV)</li>
                            <li>Winston Kleber Rodrigues (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Na Rota dos Badges: Recompensas Inspiradas em Super Mario no Ensino de Requisitos e Programação</h4>
                          <ul class="autores-artigo">
                            <li>Rodrigo Fernandes (UFC)</li>
                            <li>Eric Lucena (UFC)</li>
                            <li>Gabriela Nayara D. O. Damazio (UFC)</li>
                            <li>Maria Elanne Rodrigues (UFC)</li>
                            <li>Valéria M. Pinheiro (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">PET Connect: Uma Iniciativa de Preparação Profissional para Estudantes de Engenharia e Tecnologia da Informação</h4>
                          <ul class="autores-artigo">
                            <li>Thaís Teles (UFC)</li>
                            <li>Luigi Ferreira de Carvalho (UFC)</li>
                            <li>Elen Monteiro (UFC)</li>
                            <li>Beneildo Neto (UFC)</li>
                            <li>Livia Rodrigues (UFC)</li>
                            <li>Antônio Kawan Freitas (UFC)</li>
                            <li>Magna Bocage (UFC)</li>
                            <li>Gladna Silva (UFC)</li>
                            <li>Patricia Vasconcelos (UFC)</li>
                            <li>Edvan Cordeiro de Miranda (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Ensino de Computação por meio de Oficinas de Desenvolvimento de Jogos 2D: Relatos de Experiências de Alunos de Licenciatura em Computação</h4>
                          <ul class="autores-artigo">
                            <li>Anderson da Silva Marcolino (UFPR)</li>
                            <li>Helena Macedo Reis (UFPR)</li>
                            <li>Gustavo Martins Nunes Avellar (USP)</li>
                            <li>Rafael Henrique Schwertner Costiche (UFPR)</li>
                            <li>Thiago Silva (UFPR)</li>
                            <li>Gabriel Santa Maria Sinotti Barboza (IFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">A computação desplugada como ferramenta para avaliação de conceitos de Orientação a Objetos no Ensino Superior</h4>
                          <ul class="autores-artigo">
                            <li>Andreza Bastos Mourão (UEA)</li>
                            <li>Henrique Taquita Jardim (UEA)</li>
                            <li>Diego Araujo Belarmino (UEA)</li>
                            <li>Luiza Schirmer (UEA)</li>
                            <li>Alyson Souza Silva (UEA)</li>
                            <li>Williame Rocha (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendendo a programar através de dobraduras: utilizando o origami como instrumento de aprendizagem para apoiar o ensino de Programação</h4>
                          <ul class="autores-artigo">
                            <li>Andreza Bastos Mourão (UEA)</li>
                            <li>Fernanda Nascimento (UEA)</li>
                            <li>Éric Viana (UEA)</li>
                            <li>Antonio Ricarte (UEA)</li>
                            <li>Johnny Neto (UEA)</li>
                            <li>Williame Rocha (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Relato de experiência: instrumento lúdico para aprendizagem e aplicação de conceitos da Matemática Discreta</h4>
                          <ul class="autores-artigo">
                            <li>Andreza Bastos Mourão (UEA)</li>
                            <li>Laissa Martins de Brito (UEA)</li>
                            <li>Fátima Souza do Nascimento (UEA)</li>
                            <li>Williame Rocha (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Dobradura Interativa: Abordagens Plugadas e Desplugadas no Ensino de Matemática</h4>
                          <ul class="autores-artigo">
                            <li>Aline Goppinger (IFRS Campus Osório)</li>
                            <li>Rafaela Germano (IFRS Campus Osório)</li>
                            <li>Aline Bona (IFRS Campus Osório)</li>
                            <li>Anelise Lemke Kologeski (IFRS Campus Osório)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Metodologias Ativas no ensino EaD de Algoritmos e Programação para alunos do Ensino Médio</h4>
                          <ul class="autores-artigo">
                            <li>Pamela Michele Candida Cortez (UEFS)</li>
                            <li>Douglas Oliveira de Jesus (UEFS)</li>
                            <li>Roberto Almeida Bittencourt (UEFS)</li>
                            <li>Ana Lucia Lima Marreiros (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Teaching Computational Thinking to Middle School Students using Rubik's Cube</h4>
                          <ul class="autores-artigo">
                            <li>Barbara Quintela (UFJF)</li>
                            <li>Ana Clara Verly (UFJF)</li>
                            <li>Lara Esteves (UFJF)</li>
                            <li>Julia Campos (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Teaching Computational Thinking Main Concepts with a Marble-Powered Computer</h4>
                          <ul class="autores-artigo">
                            <li>Barbara Quintela (UFJF)</li>
                            <li>Ana Clara Verly (UFJF)</li>
                            <li>Maria Luísa Riolino Guimarães (UFJF)</li>
                            <li>Lara da Silva Dias (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvimento de habilidades e competências em Computação de um estudante com TEA: lições aprendidas</h4>
                          <ul class="autores-artigo">
                            <li>Fernanda Pires (UEA)</li>
                            <li>Marcela Pessoa (UEA)</li>
                            <li>Leonardo Video Goes (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Gamificação Personalizada no Ensino de Programação: Relato de Experiência com Feedback Adaptativo</h4>
                          <ul class="autores-artigo">
                            <li>Patrícia Diniz (IFPA)</li>
                            <li>Bruno Merlin (UFPA)</li>
                            <li>Heleno Fülber (UFPA)</li>
                            <li>Carlos Portela (UFPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma avaliação de conhecimento colaborativa e dialogica em turmas de calouros na disciplina de programação</h4>
                          <ul class="autores-artigo">
                            <li>Ana Isabel de Azevedo Spinola (UFF)</li>
                            <li>Graziela Ferreira Guarda (UFF)</li>
                            <li>Sérgio Crespo C. S. Pinto (UFF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Práticas pedagógicas com tecnologias digitais em cursos superiores de Computação: construção de software em uma ação de extensão universitária</h4>
                          <ul class="autores-artigo">
                            <li>Paulo Henrique Santana de Oliveira (UFG)</li>
                            <li>Olinta Martins Ferreira Oliveira (UFG)</li>
                            <li>Carine Rodrigues da Costa (UFG)</li>
                            <li>Eugenio Julio Messala Candido Carvalho (UFG)</li>
                            <li>Rogeria Luzia Wolpp Gonçalves (UFG)</li>
                            <li>Rosemara Perpetua Lopes (UFG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Conceitos de Inteligência Artificial para o Ensino Fundamental: Uma sequência didática com Computação Desplugada</h4>
                          <ul class="autores-artigo">
                            <li>Alan Cesar de Oliveira Mathias (UFPR)</li>
                            <li>Carlos Roberto Beleti Junior (UFPR)</li>
                            <li>Robertino Mendes Santiago Junior (UFPR)</li>
                            <li>Anderson da Silva Marcolino (UFPR)</li>
                            <li>Helena Macedo Reis (UFPR)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Como Ensinar Lógica de Programação por meio do Desenvolvimento de Jogos Digitais?</h4>
                          <ul class="autores-artigo">
                            <li>Maria Clara Ribeiro de Menezes (UFJF)</li>
                            <li>Nikolas Genesio (UFJF)</li>
                            <li>Artur Ferreira de Castro (UFJF)</li>
                            <li>João Victor Nicácio Silva (UFJF)</li>
                            <li>Letícia Ribeiro Silva (UFJF)</li>
                            <li>Joventino De Oliveira Campos (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uso do ChatGPT na Priorização de Requisitos: Uma Experiência Educacional em Engenharia de Software</h4>
                          <ul class="autores-artigo">
                            <li>Francisca karolina Queiroz (UEA)</li>
                            <li>Márcia S. Lima (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Inteligência Artificial e Acessibilidade: Uma Experiência de Inclusão para Programadores Cegos em Ambientes de Desenvolvimento</h4>
                          <ul class="autores-artigo">
                            <li>Naiara Silva Santos (UESB)</li>
                            <li>Danyele de Oliveira Santana (IF Baiano)</li>
                            <li>Claudia Pinto Pereira (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Explorando Metodologias Ativas no Ensino Superior na área de Computação: Estudo de Caso Investigativo como estratégia didática</h4>
                          <ul class="autores-artigo">
                            <li>Júlia Freitas Santos (UFC)</li>
                            <li>Pitagoras Graça Martins (UFC)</li>
                            <li>Carlos Augusto Carneiro de Freitas Filho (UFC)</li>
                            <li>Pablyana Leila Rodrigues da Cunha (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Robótica Educacional e o Ensino de Computação em Práticas Interdisciplinares Baseadas na Abordagem STEAM em um Espaço Não-Formal</h4>
                          <ul class="autores-artigo">
                            <li>Natalia Ferreira Ramos (UEA)</li>
                            <li>Genarde Macedo Trindade (UEA)</li>
                            <li>Eduardo de Andrade Mendonça (UEA)</li>
                            <li>Jose Paulo Palheta Melo (UEA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Automação de Irrigação com Arduino no Ensino de Produção de Mudas: Um Projeto de Extensão para Estudantes da Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Isaque Pontes Romualdo (IF Goiano Campus Ceres)</li>
                            <li>Gabriel Victor Alves Santos (IF Goiano Campus Ceres)</li>
                            <li>Tiago Cardoso Ferreira (IF Goiano Campus Ceres)</li>
                            <li>Thalia Santos de Santana (IF Goiano Campus Ceres)</li>
                            <li>Marcela França (IF Goiano Campus Ceres)</li>
                            <li>Ramayane Bonacin Braga (IF Goiano Campus Ceres)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Entre Brincadeiras e Bytes: Experiências de um Projeto Piloto de Ensino de Computação na Educação Infantil</h4>
                          <ul class="autores-artigo">
                            <li>Aline Pereira (Colégio Pedro II)</li>
                            <li>Anne Caroline de Oliveira Barros (Colégio Pedro II)</li>
                            <li>Liliana Cristina Pery de Oliveira (Colégio Pedro II)</li>
                            <li>Angélica Lima de Moraes (Colégio Pedro II)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Robótica e Educação: Um sistema de Irrigação com Arduíno como Caminho para a Transformação do Ensino Técnico</h4>
                          <ul class="autores-artigo">
                            <li>Geovanna Vittória de Jesus Assis (UFSJ)</li>
                            <li>Juliana Azi (UFSJ)</li>
                            <li>Michelli Marlane Silva Loureiro (UFSJ)</li>
                            <li>Alexandre Bittencourt Pigozzo (UFSJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Sistêmico e Eixos da Computação na Educação Básica Brasileira: Um Relato de Experiência de Minicurso</h4>
                          <ul class="autores-artigo">
                            <li>Antonio Alexandre Lima (UNIRIO)</li>
                            <li>Marcelo Tibau (UNIRIO)</li>
                            <li>Sean W. M. Siqueira (UNIRIO)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t3">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t3" aria-expanded="true" aria-controls="collapse-t3">
                  <h3>Trilha 3: Currículos</h3>
                </button>
              </div>
              <div id="collapse-t3" class="collapse" aria-labelledby="accordion-t3" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Grupo PET como fator chave na aplicação da curricularização da extensão em Cursos de Graduação</h4>
                          <ul class="autores-artigo">
                            <li>Marcela Gomes Pinheiro (CEFET-MG)</li>
                            <li>João Victor Domingos e Souza (CEFET-MG)</li>
                            <li>Carlos Henrique Valente (CEFET-MG)</li>
                            <li>Arthur Alves (CEFET-MG)</li>
                            <li>Lorenzo Luz (CEFET-MG)</li>
                            <li>Lukas Julius Wolf (CEFET-MG)</li>
                            <li>Pedro Almeida (CEFET-MG)</li>
                            <li>Rodrigo Albuquerque da Silva Venetillo (CEFET-MG)</li>
                            <li>Antônio Carlos Stephan de Souza Neto (CEFET-MG)</li>
                            <li>Victor de Paula (CEFET-MG)</li>
                            <li>Luis Augusto Mattos Mendes (CEFET-MG)</li>
                            <li>Luan Oliveira (CEFET-MG)</li>
                            <li>Gabriella C. B. Costa (CEFET-MG)</li>
                            <li>Matheus Ávila Moreira de Paula (CEFET-MG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Curricularização da Extensão em um Curso de Tecnologia em Redes de Computadores</h4>
                          <ul class="autores-artigo">
                            <li>Thiago Reis Silva (IFMA)</li>
                            <li>Franklyn Brito Mourao de Oliveira (IFMA)</li>
                            <li>Nivia Maria Barros Vieira Santos (IFMA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">TEIA colaborativa Brasil-Inglaterra para promover intercâmbio virtual, internacionalização e aprendizado em IA Generativa em curso de computação</h4>
                          <ul class="autores-artigo">
                            <li>Rosiane de FreitasR (UFAM)</li>
                            <li>Lucas Carvalho Cordeiro (University of Manchester)</li>
                            <li>João Alfredo Holanda Bessa Neto (UFAM)</li>
                            <li>Meng Huey Hsu (UFAM)</li>
                            <li>Guilherme Souza (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <!-- <tr>
                        <td>
                          <h4 class="titulo-artigo">Um estudo do Marco Legal da Inteligência Artificial no Brasil e a sua relação com os currículos das Graduações em Tecnologia da Informação no país</h4>
                          <ul class="autores-artigo">
                            <li>Weysller Matuzinhos (Faculdade SENAI Fatesg)</li>
                          </ul>
                        </td>
                      </tr> -->
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação Docente para a Diversidade e Inclusão: Uma Análise dos Currículos de Licenciatura em Computação de Instituições Públicas da Bahia</h4>
                          <ul class="autores-artigo">
                            <li>Danyele de Oliveira Santana (IF Baiano)</li>
                            <li>Naiara Silva Santos (UESB)</li>
                            <li>Claudia Pinto Pereira (UEFS)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t4">
                <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t4" aria-expanded="true" aria-controls="collapse-t4">
                  <h3>Trilha 4: Recursos e ambientes educacionais</h3>
                </button>
              </div>
              <div id="collapse-t4" class="collapse" aria-labelledby="accordion-t4" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Computação Física e Pensamento Computacional - Indústria 4.0: Uma Proposta de Livro Didático para o 9° Ano</h4>
                          <ul class="autores-artigo">
                            <li>Andrey Guedes (UEA)</li>
                            <li>Eloína F. Flores (UEA)</li>
                            <li>Julian C. Bentes (UEA)</li>
                            <li>Maria Lúcia P. de Freitas (UEA)</li>
                            <li>Almir de Oliveira Costa Junior (UEA)</li>
                            <li>José Anglada-Rivera (Ifam)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Modelos Generativos de Linguagem na Construção de Ferramentas de Ensino de Computação com Interface Gráfica</h4>
                          <ul class="autores-artigo">
                            <li>Matheus Otávio Lisboa (UFV)</li>
                            <li>Isabela de Castro Freitas (UFV)</li>
                            <li>Pedro Henrique Coura Pereira (UFV)</li>
                            <li>Hugo Costa Araújo (UFV)</li>
                            <li>Maria Lucia Bento Villela (UFV)</li>
                            <li>Ricardo dos Santos Ferreira (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Ambiente Científico para a Análise da Qualidade de Código</h4>
                          <ul class="autores-artigo">
                            <li>Francisco Tito Silva Santos Pereira (UEFS)</li>
                            <li>Roberto Almeida Bittencourt (University of Victoria)</li>
                            <li>Elaine H. T. Oliveira (UFAM)</li>
                            <li>David Fernandes (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Introdução à Lógica de Programação com o Sistema ELoS - Análise de uso no ensino superior</h4>
                          <ul class="autores-artigo">
                            <li>Marcos Lima (UFJF)</li>
                            <li>Lara Souza (UFJF)</li>
                            <li>Letícia Yamashita (UFJF)</li>
                            <li>Rodrigo Luis de Souza da Silva (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Atividades Lúdicas e Interativas no Ensino de Desenvolvimento Web: Uma Proposta Desplugada</h4>
                          <ul class="autores-artigo">
                            <li>Jander Douglas Morais</li>
                            <li>Aslei Patrick Matos Gomes Ponciano Lima (UFC)</li>
                            <li>Maria Elanne Rodrigues (UFC)</li>
                            <li>Valéria M. Pinheiro (UFC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Circuito Carioca: um jogo de tabuleiro educativo para o ensino de Grafos Eulerianos</h4>
                          <ul class="autores-artigo">
                            <li>Camille Braga (UERJ)</li>
                            <li>Diana Sasaki (UERJ)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">NetMetrics: um software para auxiliar o conhecimento em redes complexas</h4>
                          <ul class="autores-artigo">
                            <li>Samuel O. S. Bianch (UFSJ)</li>
                            <li>Tiago de Almeida Lacerda (IFMT)</li>
                            <li>Vinícius da Fonseca Vieira (UFSJ)</li>
                            <li>João Gabriel Rocha Silva (IFB)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Processo para o Desenvolvimento de Recursos Educacionais Abertos Sustentáveis de Apoio à Educação em Computação</h4>
                          <ul class="autores-artigo">
                            <li>Ágata Meireles Carvalho (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">DECORA: Um Sistema de Apoio ao Ensino de Decisões de Projetos Arquiteturais</h4>
                          <ul class="autores-artigo">
                            <li>Eduarda Araújo Carvalho (UFG)</li>
                            <li>Jacson Rodrigues Barbosa (UFG)</li>
                            <li>Renato Bulcão-Neto (UFG)</li>
                            <li>Valdemar Vicente Graciano Neto (UFG)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-t5">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-t5" aria-expanded="true" aria-controls="collapse-t5">
                    <h3>Trilha 5: Ensaios</h3>
                  </button>
              </div>
              <div id="collapse-t5" class="collapse" aria-labelledby="accordion-t5" data-parent="#accordion-trilhas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Challenges and Opportunities in Assessing Youth Leadership</h4>
                          <ul class="autores-artigo">
                            <li>Rodrigo Santos (INTELI)</li>
                            <li>Victor Hayashi (INTELI)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Reflexões sobre o uso de LLM no ensino de programação</h4>
                          <ul class="autores-artigo">
                            <li>Yasmin Silva Rosa (UFMG)</li>
                            <li>Pedro Garcia (UFOP)</li>
                            <li>Kattiana Fernandes Constantino (UFMG)</li>
                            <li>Eduardo Figueiredo (UFMG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Um Ensaio sobre o Ensino de Design de Interação Afrocentrado na Perspectiva da Pedagogia das Encruzilhadas</h4>
                          <ul class="autores-artigo">
                            <li>Ecivaldo Matos (USP)</li>
                            <li>Lucio André Andrade da Conceição (IFBA)</li>
                            <li>Taneska Santana Cal (UFBA)</li>
                            <li>Rayla Santos (IFBA)</li>
                            <li>Sandra Cristina Moreira Garcia (USP)</li>
                            <li>Maria Rita de Jesus Silva (USP)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> 

  <section id="aceitos-formativas">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Trilhas formativas</h2>
            
          <div class="accordion" id="accordion-formativas">
           <div class="card">
              <div class="card-header" id="accordion-lab-ideias">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-lab-ideias" aria-expanded="true" aria-controls="collapse-lab-ideias">
                    <h3>Laboratório de ideias</h3>
                  </button>
              </div>
              <div id="collapse-lab-ideias" class="collapse" aria-labelledby="accordion-lab-ideias" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">IFG Truck: Laboratorio Maker Itinerante</h4>
                          <ul class="autores-artigo">
                            <li>Wendell Bento Geraldes (IFG)</li>
                            <li>Alec Kawam Seixas Fonseca (IFG)</li>
                            <li>Sávio Augusto De Queiroz Gonçalves Rocha</li> 
                            <li>Anna Clara Valeriano Diniz (IFG)</li>
                            <li>Karen Cristine Lins Simões (IFG)</li>
                            <li>Carlos Roberto da Silveira Junior (IFG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">TechSisters: Conectando Mulheres na Computação</h4>
                          <ul class="autores-artigo">
                            <li>Jennifer Diniz dos Santos (IFRO) </li>
                            <li>Cheuri Magalhães</li>
                            <li>Felipe Maia (UEL)</li>
                            <li> Ivanilse Calderon Ribeiro (UFAM) </li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Meninas Digitais UFJF: Oficinas Desplugadas de Computação</h4>
                          <ul class="autores-artigo">
                            <li>Barbara Quintela (UFJF)</li>
                            <li>Lara Esteves (UFJF)</li> 
                            <li>Ana Clara Verly (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Aprendizado Prático de Engenharia de Requisitos com Lego Serious Play</h4>
                          <ul class="autores-artigo">
                            <li>Johnny Cardoso Marques (ITA)</li>
                            <li>Karla Donato Fook (ITA)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Criação de Jogos Digitais por Pessoa Surda: Um Relato de Experiência</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Rocha Rezende (UFJ)</li>
                            <li>Cleria Martins Lino e Silva (UFJ)</li>
                            <li>Marco Antônio Mariano (UFJ)</li>
                            <li>Ana Paula Boaventura (UFJ)</li> 
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Jogando para o Amanhã: Um Jogo Educacional Digital para a inclusão de meninas refugiadas na Computação</h4>
                          <ul class="autores-artigo">
                            <li>Alexya Jesus (UFJF)</li>
                            <li>Ana Clara Laredo (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Jogos Desplugados no Desenvolvimento do Pensamento Computacional de Crianças Refugiadas</h4>
                          <ul class="autores-artigo">
                            <li>Luiz Miguel Silva (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Programação de Jogos com Google Colab e Chatgpt</h4>
                          <ul class="autores-artigo">
                            <li>Isabela de Castro Freitas (UFV)</li>
                            <li>Pedro Henrique Coura Pereira (UFV)</li>
                            <li>Hugo Costa Araújo (UFV)</li>
                            <li>José Augusto Miranda Nacif (UFV)</li>
                            <li>Ricardo dos Santos Ferreira (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Oi!: Caixa luminosa para comunicação com estudantes surdos</h4>
                          <ul class="autores-artigo">
                            <li>João Moraes (IFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Uma Abordagem Arquitetural para o Desenvolvimento de Jogos Educacionais Digitais na Educação em Computação</h4>
                          <ul class="autores-artigo">
                            <li>Nikolas Genesio (UFJF)</li>
                            <li>Alessandreia Oliveira (UFJF)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">PseudocodeLab: Uma Ferramenta Educacional Open Source e Gentil para o Ensino de Programação com Pseudocódigos</h4>
                          <ul class="autores-artigo">
                            <li>Ramon Mayor Martins (IFSC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">MapEdu+: Uma plataforma para apoiar a inclusão educacional de pessoas com deficiência e neurodivergentes em escolas públicas</h4>
                          <ul class="autores-artigo">
                            <li>Nataniel Wilson Andrade</li>
                            <li>João Vitor de Melo Dobre</li>
                            <li>Lucy Mara Camacho</li>
                            <li>Marcel Rios (IFRO)</li>
                            <li>Mariela Mizota Tamada (IFRO)</li>
                            <li>Maria Ivanilse Calderon Ribeiro (UFAM)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Java-Judge-OO: Uma Ferramenta Educacional para Avaliação Automatizada de Programação Orientada a Objetos em Java</h4>
                          <ul class="autores-artigo">
                            <li>Ramon Mayor Martins (IFSC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Geração de Dicas de Próximo Passo utilizando Large Language Models (LLMs)</h4>
                          <ul class="autores-artigo">
                            <li>Luis Gustavo Araújo (IFBA)</li>
                            <li>Ketlly Araujo (IFBA)</li>
                            <li>Endrik Reis (IFBA)</li>
                            <li>Mirelee Oliveira da Silva (IFBA)</li>
                            <li>Andreia Pinheiro (IFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Proposição de um Repositório de Ferramentas Tecnológicas para o Ensino de Programação de Estudantes com TEA</h4>
                          <ul class="autores-artigo">
                            <li>Andre Avelino (UNIPAMPA)</li>
                            <li>Emilene Coco dos Santos (IFES)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Williamson Silva (UNIPAMPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Repositório Aberto de Exercícios de Programação Introdutória em Português</h4>
                          <ul class="autores-artigo">
                            <li>João Pedro Medrado Sena (UFV)</li>
                            <li>Julio C. S. Reis (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desmistificando o Ensino de Inteligência Artificial e Aprendizado de Máquina</h4>
                          <ul class="autores-artigo">
                            <li>Pedro Henrique Coura Pereira (UFV)</li>
                            <li>Isabela de Castro Freitas (UFV)</li>
                            <li>Hugo Costa Araújo (UFV)</li>
                            <li>José Augusto Miranda Nacif (UFV)</li>
                            <li>Ricardo dos Santos Ferreira (UFV)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div> 

            <div class="card">
              <div class="card-header" id="accordion-mesas">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-mesas" aria-expanded="true" aria-controls="collapse-mesas">
                    <h3>Mesas temáticas</h3>
                  </button>
              </div>
              <div id="collapse-mesas" class="collapse" aria-labelledby="accordion-mesas" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Educação em Computação sem Padrões Limitantes: Caminhos para Diversidade de Gênero no Ensino Superior</h4>
                          <ul class="autores-artigo">
                            <li>Renata Viegas de Figueiredo (UFPB)</li>
                            <li>Aleteia Araujo (UnB)</li>
                            <li>Luciana Cardoso de Castro Salgado (UFF)</li>
                            <li>Mirella M. Moro (UFMG)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desafios da Extensão como geradora de Tecnologias sociais em projetos na área de Computação</h4>
                          <ul class="autores-artigo">
                            <li>Pablo Vieira Florentino (IFBA)</li>
                            <li>Débora Abdalla (UFBA)</li>
                            <li>Bárbara Pimenta Caetano (UFRJ)</li>
                            <li>Melise Maria Veiga de Paula (UNIFEI)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Impactos da IA em cursos de graduação em computação: ameaças e oportunidades</h4>
                          <ul class="autores-artigo">
                            <li>Carla Amor Divino Moreira Delgado (UFRJ)</li>
                            <li>Silvana Rossetto (UFRJ)</li>
                            <li>Laura O. Moraes (UNIRIO)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-minicursos">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-minicursos" aria-expanded="true" aria-controls="collapse-minicursos">
                    <h3>Minicursos</h3>
                  </button>
              </div>
              <div id="collapse-minicursos" class="collapse" aria-labelledby="accordion-minicursos" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Construção de Circuitos Eletrônicos em Papel para a Aprendizagem de Computação na Educação Básica</h4>
                          <ul class="autores-artigo">
                            <li>Rozelma Soares de França (UFRPE)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Introdução à Computação Musical: Potencializando as habilidades de programação através da música no Scratch</h4>
                          <ul class="autores-artigo">
                            <li>Graziela Ferreira Guarda (UFF)</li>
                            <li>Leila Weitzel (UFF)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Realidade Virtual para o Ensino de Programação na Educação Básica: Fundamentos, Explorações e o aplicativo SSPOT-VR</h4>
                          <ul class="autores-artigo">
                            <li>Gustavo Martins Nunes Avellar (USP)</li>
                            <li>Paulo André Pimenta Aragão (USP)</li>
                            <li>Ellen Francine Barbosa (USP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Pensamento Computacional e o Brincar na Educação Infantil: Desafios e Possibilidades</h4>
                          <ul class="autores-artigo">
                            <li>Aline Pereira (Colégio Pedro II)</li>
                            <li>Angélica Lima de Moraes (Colégio Pedro II)</li>
                            <li>Anne Caroline de Oliveira Barros (Colégio Pedro II)</li>
                            <li>Liliana Cristina Pery de Oliveira (Colégio Pedro II)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Programação sem Sobrecarga: Otimizando o Ensino através da Teoria da Carga Cognitiva</h4>
                          <ul class="autores-artigo">
                            <li>João Henrique Berssanette (IFPR)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-ctd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-ctd" aria-expanded="true" aria-controls="collapse-ctd">
                    <h3>Concurso de Teses e Dissertações</h3>
                  </button>
              </div>

              <div id="collapse-ctd" class="collapse" aria-labelledby="accordion-ctd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-uppercase font-weight-bold text-center">
                        <td>
                          Mestrado
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">CoderBot: Um Assistente Virtual Para Apoiar a Aprendizagem de Programação por meio de Worked Examples</h4>
                          <ul class="autores-artigo">
                            <li>Renato Garcia (UNIPAMPA)</li>
                            <li>Pedro Henrique Dias Valle (USP)</li>
                            <li>Williamson Silva (UNIPAMPA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Framework para auxílio no desenvolvimento de soft skills em estudantes de Engenharia de Software</h4>
                          <ul class="autores-artigo">
                            <li>Giovana Giardini Borges (UNESP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">NetVerse Edu - Um Laboratório Imersivo de Redes de Computadores no Metaverso como Ferramenta de Apoio às Práticas de Ensino</h4>
                          <ul class="autores-artigo">
                            <li>Erberson Vieira (IFPB)</li>
                            <li>Francisco Petrônio Alencar de Medeiros (IFPB)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <table class="table table-striped">
                    <thead>
                      <tr class="text-uppercase font-weight-bold text-center">
                        <td>
                          Doutorado
                        </td>
                      </tr>
                    </thead>
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Estratégias para o Ensino de Machine Learning para Estudantes em Vulnerabilidade Social no Ensino Fundamental e Médio</h4>
                          <ul class="autores-artigo">
                            <li>Ramon Mayor Martins (IFSC)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Exploring Equity and Self-Directed Learning in Computing Undergraduates: A Capability Analysis from the Global South</h4>
                          <ul class="autores-artigo">
                            <li>Esdras Bispo Jr. (UFJ)</li>
                            <li>Simone Santos (UFPE)</li>
                            <li>Marcus Vinicius De Matos (Brunel University)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Problemas de Compreensão em Códigos Corretos: Auxiliando Instrutores e Alunos ao Iluminar o que é Potencialmente Ofuscado pela Correção Automática</h4>
                          <ul class="autores-artigo">
                            <li>Eryck Silva (UNICAMP)</li>
                            <li>Rodolfo Jardim de Azevedo (UNICAMP)</li>
                            <li>Ricardo Caceffo (UNIVESP)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header" id="accordion-wtd">
                  <button class="btn btn-link w-100 text-left" type="button" data-toggle="collapse" data-target="#collapse-wtd" aria-expanded="true" aria-controls="collapse-wtd">
                    <h3>Workshop de Teses e Dissertações</h3>
                  </button>
              </div>
              <div id="collapse-wtd" class="collapse" aria-labelledby="accordion-wtd" data-parent="#accordion-formativas">
                <div class="card-body">
                  <table class="table table-striped">
                    <tbody class="text-left">
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Formação de Profissionais de Computação para Ciência Aberta</h4>
                          <ul class="autores-artigo">
                            <li>Beatriz Brito do Rêgo (UFBA)</li>
                            <li>Jean Rosa (ITI)</li>
                            <li>Christina von Flach G. Chavez (UFBA)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Robótica e Prototipagem para Professores: uma proposta com Ensino por Investigação e Resolução de Problemas</h4>
                          <ul class="autores-artigo">
                            <li>Daniel Moreira dos Santos (Prefeitura Municipal de Vitória)</li>
                            <li>Márcia Gonçalves Oliveira (IFES)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Desenvolvendo o Pensamento Computacional em Sala de Aula</h4>
                          <ul class="autores-artigo">
                            <li>Henrique Martins (UNESP)</li>
                            <li>Roberta Spolon (UNESP)</li>
                            <li>Wilson Massashiro Yonezawa (UNESP)</li>
                            <li>Gabrielly Del Carlo Richene (UNESP)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Investigação de distrações em cursos de introdução à programação com técnicas de Learning Analytics</h4>
                          <ul class="autores-artigo">
                            <li>Thyago Luis Borges E Silva (UFU)</li>
                            <li>Rafael D. Araújo (UFU)</li>
                            <li>Cleon Xavier (IF Goiano)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">LLMs na Educação em Programação: Estratégias para Avaliação e Feedback Formativo</h4>
                          <ul class="autores-artigo">
                            <li>Francisco Silva (UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <h4 class="titulo-artigo">Automatic Generation of Programming Questions Based on Multi-Layer Templates</h4>
                          <ul class="autores-artigo">
                            <li>Abner Santana (Dimap/UFRN)</li>
                            <li>Eduardo Henrique da Silva Aranha (UFRN)</li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>
</div>
