<div id="chamadas">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="coordenacao">
            <strong>Coordenação:</strong> Milene Silveira (PUCRS) | Taciana Pontual (UFRPE)<br>
            <strong>Contato:</strong> milene.silveira@pucrs.br | taciana.pontual@ufrpe.br
          </div>
          <p>
            O IV Workshop de Teses e Dissertações em Educação em Computação (IV WTD-EduComp), evento do V Simpósio Brasileiro de Educação em Computação (EduComp 2025), é um fórum dedicado à apresentação e discussão de trabalhos de Mestrado e de Doutorado em Educação em Computação em desenvolvimento no Brasil. 
            Seu objetivo é propiciar um ambiente construtivo para discussões, dando oportunidade aos estudantes de obterem feedback sobre os trabalhos em desenvolvimento e um posicionamento em relação à pesquisa em Educação em Computação. 
            Além disso, pretende-se estimular a integração e a cooperação de pesquisadores da área e oferecer maior visibilidade às pesquisas em andamento para a comunidade acadêmica.
            Os trabalhos podem tratar de qualquer aspectos da Educação em Computação, ou seja, a educação de estudantes que estejam aprendendo computação, em qualquer nível de ensino.
            Se necessário, consulte nossa lista de <a href="/simposio/2025/educomp/chamadas/topicos-de-interesse">tópicos de interese</a>.
          </p>        
        </div>
      </div>
    </div>
  </section>

  <section id="datas-importantes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Datas importantes</h2>
          <div class="row justify-content-center">
            
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card-passado">
                <div class="card-title">
                  <span class="dia">09</span>
                  <span class="mes">fevereiro</span>
                  <span class="ano">2025</span>
                  <span class="prazo-firme">Prazo firme!</span>
                </div>
                <div class="card-body">
                  <p class="card-text data-riscada">07/02/2025</p>
                </div>
                <div class="card-footer text-center">Envio dos trabalhos</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100 card-passado">
                <div class="card-title">
                  <span class="dia">21</span>
                  <span class="mes">favereiro</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Notificação de aceite</div>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex">
              <div class="card w-100">
                <div class="card-title">
                  <span class="dia">27</span>
                  <span class="mes">fevereiro</span>
                  <span class="ano">2025</span>
                </div>
                <div class="card-body">
                </div>
                <div class="card-footer text-center">Envio da versão final</div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="instrucoes">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Instruções para autores</h2>
          <h3>Sumissão de trabalhos</h3>  
          <p>
            As submissões devem ser feitas pelo sistema <a href="https://jems3.sbc.org.br/events/199" target="_blank">JEMS3</a> da SBC, contendo um artigo descrevendo a pesquisa, e uma carta do(a) orientador(a) dando ciência e concordância com a submissão.
            Os artigos podem ser escritos em português ou inglês e devem seguir o <a href="https://www.sbc.org.br/wp-content/uploads/2024/07/modelosparapublicaodeartigos.zip" target="_blank">modelo para publicação de artigos da SBC</a>, contendo no mínimo 4 e no máximo 6 páginas (as referências bibliográficas não contam para o limite de páginas).
          </p>
          <p>
            Os artigos devem conter:
          </p>
          <ul>
            <li>Título do trabalho</li>
            <li>Autores, e-mail e afiliação</li>
            <li>Resumo</li>
          </ul>
          <p>
            A pesquisa deve ser descrito de forma clara e objetiva, incluindo os seguintes conteúdos:
          </p>
          <ul>
            <li>Caracterização do problema</li>
            <li>Fundamentação teórica</li>
            <li>Trabalhos relacionados</li>
            <li>Metodologia</li>
            <li>Resultados obtidos até o momento</li>
            <li>Contribuições esperadas</li>
            <li>Dificuldades e desafios da pesquisa</li>
            <li>Cronograma</li>
            <li>Referências</li>
          </ul>
          <p>
            Artigos que violem as instruções de formato ou estejam fora do escopo do IV WTD-EduComp serão rejeitados sem revisão. 
          </p>
          <h3>Avaliação dos trabalhos</h3>
          <p>
            Os trabalhos submetidos serão avaliados por, pelo menos, dois membros do Comitê de Programa. 
            Cada trabalho receberá parecer do Comitê de Programa com questionamentos e sugestões sobre o seu conteúdo. 
            Esses comentários devem ser utilizados pelo(a) autor(a) na preparação da versão final do artigo. 
            O(A) primeiro(a) autor(a) deve ser estudante de Pós-graduação responsável pelo desenvolvimento da tese de Doutorado ou dissertação de Mestrado. 
            Os demais autores devem ser orientador(a) e coorientador(a), se for o caso. 
            Durante o IV WTD-EduComp, os trabalhos selecionados devem ser apresentados exclusivamente pelo(a) estudante. 
            A prioridade de participação no WTD é para trabalhos que estejam no momento adequado para receber feedback, ou seja, não estejam em estágio muito inicial nem muito avançado.
          </p>
          <h3>Publicação dos trabalhos</h3>
          <p>
            Os trabalhos selecionados para o IV WTD-EduComp serão publicados nos Anais estendidos do EduComp 2025, no Portal de Publicações e Conteúdos Digitais da SBC - <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>
            A publicação do artigo está condicionada à inscrição do(a) estudante no EduComp 2025 e participação no IV WTD-EduComp e ao pagamento da taxa de publicação de R$ 80,00 (oitenta reais).
          </p>
          <h3>Apresentação e dinâmica do evento</h3>
          <p>
            O IV WTD-EduComp será realizado em formato online, em um único dia, na semana das trilhas formativas.
            Teremos dinâmicas entre os autores e pesquisadores da área, com o detalhamento das atividades a ser divulgado em breve.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>