<div id="29-assembleia" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Assembleia GIEC</h1>
         
          <!--{{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=EEd1Zb7WTpY"
          }}-->
          
          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Informes
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Roberto Bittencourt (UEFS)<br>
            <b>Coordenador do GIEC</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Relatório da Gestão 2021-2022
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Esdras Bispo Jr. (UFJ)<br>
            <b>Vice-coordenador do GIEC</b>
          </span>

         <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            EduComp 2023
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Roberto Bittencourt (UEFS)<br>
            <b>Coordenador do GIEC</b>
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Eleições do GIEC (2022-2023)
          </span>

          <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Johnny Marques (ITA)<br>
            <b>Comissão Eleitoral</b>
          </span>
    </div>
  </div>