<div id="29-encerramento-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Mesa de Encerramento do EduComp</h1>
        
        <!--{{> 
            simposio/2021/pt-BR/programacao/transmissao 
            
            youtube=true
            link="https://www.youtube.com/watch?v=URWKRXYQSFY"
        }}-->
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Números do EduComp 2022 <br>
            Premiação dos melhores revisores
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Rodrigo Silva Duran (IFMS)<br>
            <b>Coordenador Geral do Comitê de Programa</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Premiação dos melhores artigos
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            A definir<br>
            <b>Comissão de Seleção dos Melhores Artigos do EduComp 2021</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em; background-color: rgb(65, 62, 62); color: white; padding: 0.5em;">
            Encerramento
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Clodis Boscarioli (UNIOESTE)<br>
            <b>Coordenador da CEIE/SBC</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Prof. Roberto Bittencourt (UEFS)<br>
            <b>Coordenador Geral do Comitê de Programa</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
            Profa. Mirella Moro (UFMG)<br>
            <b>Coordenadora Geral do Comitê de Programa</b>
        </span>
    </div>
  </div>