<div id="29-sessao-tecnica-xiii-xiv" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Cursos Introdutórios (ST-XIII)"
          chair_sessao="Leandro Silva Galvão de Carvalho (UFAM)" 
          
          artigo1_titulo="Primeiro Impacto: Análise dos Tópicos Mais Abordados em Disciplinas de Introdução à Programação em Nível Superior"
          artigo1_autores="Eryck Silva, Ricardo Caceffo, Rodolfo Azevedo"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Uma avaliação comparativa entre métricas de erro em um curso introdutório de programação com Python"
          artigo2_autores="Luis Gustavo Araújo, Roberto Bittencourt, Christina von Flach"
          artigo2_artigo_pesquisa=true

          artigo3_titulo="Machine Teaching: uma ferramenta didática e de análise de dados para suporte à cursos introdutórios de programação"
          artigo3_autores="Laura Moraes, Carla Delgado, João Pedro Freire, Carlos Pedreira"
          artigo3_recurso_didatico=true

        }}
        
        {{> 
          simposio/2022/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Currículo (ST-XIV)"
          chair_sessao="Pauleany Simões de Morais (IFRN)"  
          
          artigo1_titulo="Analisando os Dados do Percurso Acadêmico do Curso de Sistemas de Informação para Auxiliar na Revisão do PPC"
          artigo1_autores="Roberto do Nascimento, Gabriela Diana S. de Sousa, Mariana Nascimento, Josivan Reis"
          artigo1_curriculo=true
          
          artigo2_titulo="Processo de Construção do Currículo de Referência em uma Instituição de Ensino"
          artigo2_autores="Jussara Matos, Teresa Helena Martins"
          artigo2_curriculo=true

          artigo3_titulo="Plataforma para auxílio na preparação de estudantes para as avaliações do ENADE e POSCOMP"
          artigo3_autores="Wilson Branco Neto, Tiago Ribeiro, Wilson Cordova Junior"
          artigo3_recurso_didatico=true
          
        }}

    </div>
  </div>