  {{> simposio/2022/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
            I Esquenta EduComp 2022<br>
            <small class="text-muted">21 de fevereiro de 2022</small>
          </h2> 
          <br>
          <h3>Obtenha ou valide seu <b>certificado</b>: </h3>
          <br>
          <p> <a href="/simposio/2022/certificados/esquenta/1/obter" class="btn btn-primary btn-lg" style="width: 100px;">Obter</a> </p>
          <p> <a href="/simposio/2022/certificados/esquenta/1/validar" class="btn btn-primary btn-lg" style="width: 100px;">Validar</a> </p>
        </div>
      </div>
    </div>
  </section>