<div class="container edc-font container-common">
    <header class=" mb-0 d-flex justify-content-center align-items-center">
        <h1 class="mb-1 d-block">Juiz de Fora</h1>
    </header>
    <!-- TODO  Aicionar imagens da cidade-->
    <!-- sections -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 p-0">
                    <div class="mb-10 d-block">
                        <h2 class="mb-1 d-block" style="font-weight: bold;">A Cidade</h2>
                    </div>
                    <p>Localizada no coração de Minas Gerais, Juiz de Fora combina tradição e inovação. Cresceu às
                        margens do Rio Paraibuna e foi um importante ponto da Estrada Real, preservando até hoje seu
                        patrimônio histórico.
                    </p>

                    <p>
                        A cidade é um polo acadêmico e cultural, abrigando instituições como a UFJF, além de oferecer
                        uma vida noturna vibrante e uma rica cena gastronômica. Rodeada por belas paisagens, Juiz de
                        Fora também encanta com seus parques e mirantes.
                    </p>
                    <p>
                        Seja a trabalho, estudo ou turismo, Juiz de Fora recebe seus visitantes com hospitalidade e
                        infraestrutura acessível.
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Card Texto + Imagem -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 p-0">
                <div class="mb-10 d-block">
                    <h2 class="mb-1 d-block" style="font-weight: bold;">Como chegar?</h2>
                </div>

                <!--Card Aeroporto -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <div class="col-lg-5 col-md-12 order-lg-1 order-md-1 order-1 align-items-stretch">
                                <img class="img-fluid m-1 h-100"
                                    alt="imagem da fachada do O Aeroporto Presidente Itamar Franco localizado na MG-353, entre os municípios de Goianá e Rio Novo,"
                                    src="https://www.zonadamata-aero.com.br/wp-content/uploads/2019/11/Aeroporto_Zona_da_Mata.jpg"
                                    style="border-radius: 15px;" />
                            </div>
                            <div class="col-lg-7 col-md-12 order-lg-2 order-md-2 order-2 d-flex align-items-center">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        Aeroporto da Zona da Mata
                                    </h5>
                                    <p class="card-text">
                                        O Aeroporto da Zona da Mata é a principal opção de transporte aéreo para Juiz de
                                        Fora e região, com capacidade para 600 mil passageiros/ano e uma pista de 2.525
                                        metros, a segunda maior de Minas Gerais.
                                    </p>
                                    <p class="card-text">Distância até a UFJF: 50,6km.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Card Terminal Rodoviário -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <div class="col-lg-5 col-md-12 order-lg-1 order-md-1 order-1 align-items-stretch">
                                <img class="img-fluid m-1 h-100"
                                    alt="imagem da fachada do terminal rodoviário Miguel Mansur em Juiz de Fora"
                                    src="https://th.bing.com/th/id/R.962319e4553dbd3a4c36123cc2225017?rik=h6aYLZEjDqpceg&riu=http%3a%2f%2fwww.radiocidadejf.com.br%2fwp-content%2fuploads%2f2023%2f01%2finfracea-terminal-rodoviario-miguel-mansur-.max-1296x864-1.jpg&ehk=rFG7bbpToOKWEeoW%2fvWSd7wAhieXg%2bEVZWcm4g6404Q%3d&risl=&pid=ImgRaw&r=0"
                                    style="border-radius: 15px;" />
                            </div>
                            <div class="col-lg-7 col-md-12 order-lg-2 order-md-2 order-2 d-flex align-items-center">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        Terminal Rodoviário Miguel Mansur
                                    </h5>
                                    <p class="card-text">
                                        São mais de 25 viações e companhias de ônibus parceiras da rodoviária,
                                        responsáveis
                                        por
                                        levar os usuários a viagens interestaduais e intermunicipais para mais de 100
                                        cidades
                                        brasileiras.
                                    </p>
                                    <p class="card-text">Distância até a UFJF: 8,7km.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Card mapa rodovias -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <div class="col-lg-5 col-md-12 order-lg-1 order-md-1 order-1 align-items-stretch">
                                <img class="img-fluid m-1 h-100"
                                    alt="imagem das principais rodovias que Juiz de Fora está interligada"
                                    src="https://www.bing.com/images/blob?bcid=TuDvkxhQcA4Iuj3qQ1U86SdX5Ezx.....34" />
                            </div>
                            <div class="col-lg-7 col-md-12 order-lg-2 order-md-2 order-2 d-flex align-items-center">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        Distância Rodoviária de Juiz de Fora às Capitais
                                    </h5>
                                    <p class="card-text">
                                        É fácil chegar à cidade por via rodoviária. Juiz de Fora está ligada às capitais Belo Horizonte, Rio de Janeiro e Brasília pela rodovia BR-040. A BR-267 e MG-353 dão acesso às cidades vizinhas da Zona da Mata.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>