<div id="local">

  <section id="apresentacao-jf">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Localizada na Zona da Mata Mineira, Juiz de Fora é uma cidade vibrante, conhecida por sua forte influência cultural, rica história e qualidade de vida. 
            Carinhosamente chamada de "JF", a cidade possui uma economia diversificada, infraestrutura desenvolvida e uma comunidade acadêmica ativa, combinando o charme do interior com a dinâmica de um grande centro urbano. 
            Seu clima ameno, espaços verdes e rica cena cultural fazem de Juiz de Fora um destino imperdível tanto para moradores quanto para visitantes.
          </p>
          <div class="video-container">
            <iframe class="video-jf" width="100%" src="https://www.youtube.com/embed/ylF6ymfSKJw?si=cExjYXuEpun1Zyij&autoplay=1&mute=1&controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
          <figcaption class="figure-caption text-center">Vídeo: <a href="https://www.youtube.com/@JuizdeForaPJF">Prefeitura de Juiz de Fora</a></figcaption>
        </div>
      </div>
    </div>
  </section>

  <section id="historia">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>História</h2>
          <p>
            A história de Juiz de Fora remonta ao século XVIII, quando da construção do Caminho Novo da Estrada Real, que conectava a região das minas ao Rio de Janeiro, a fim de implementar rotas alternativas para o escoamento do ouro da região.
            A cidade, que surgiu como um entreposto comercial às margens do Rio Paraibuna (nome tupi que significa “rio de águas escuras”), ganhou impulso durante a expansão cafeeira do século XIX e com a chegada de imigrantes europeus, especialmente alemães, italianos e portugueses.
          </p>
          <p>
            A economia local se fortaleceu com a industrialização e a chegada da Estrada União e Indústria e da Estrada de Ferro Dom Pedro II, tornando Juiz de Fora um dos principais polos industriais do Brasil no século XIX. 
            Com seu rápido crescimento econômico e forte base industrial, especialmente nos setores têxtil, metalúrgico e alimentício, a cidade passou a ser conhecida como "Princesa de Minas" e "Manchester Mineira", em referência à sua importância e desenvolvimento industrial. 
          </p>
          <p>
            No decorrer do século XX, Juiz de Fora diversificou sua economia, consolidando-se como um polo regional de comércio, serviços e educação, e preservando sua posição de destaque no cenário mineiro e nacional.
            A cidade se tornou um importante centro universitário, com a presença da Universidade Federal de Juiz de Fora (UFJF), além de se destacar como um hub comercial, tecnológico e cultural. 
            Sua infraestrutura moderna, a crescente rede de serviços e a preservação de suas tradições culturais garantiram a Juiz de Fora uma posição estratégica no desenvolvimento econômico e social da região.
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/vista-parcial.jpg" alt="Imagem aérea de Juiz de Fora.">
          <figcaption class="figure-caption text-center">
            Vista parcial de Juiz de Fora - MG. (Imagem: Luciano Chaves)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/estacao.jpg" alt="Estação Ferroviária de Juiz de Fora">
          <figcaption class="figure-caption text-center">
           Estação Ferroviária. (<a href="https://www.flickr.com/photos/sylviobazote/14895659090" target="_blank">Imagem: Sylvio Bazote</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="cultura">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Cultura e arte</h2>
          <p>
            A cena cultural de Juiz de Fora é marcada pela presença de teatros, museus e centros culturais que promovem eventos durante todo o ano. 
            O <strong>Cine-Theatro Central</strong>, inaugurado em 1929, é um dos mais belos teatros históricos do Brasil e recebe espetáculos de teatro, dança e música. 
            O <strong>Museu Mariano Procópio</strong>, primeiro museu de Minas Gerais, abriga um rico acervo do período imperial, além de um belo parque. 
            Já o <strong>Museu de Arte Murilo Mendes (MAMM)</strong> preserva o legado do poeta juiz-forano, além de exibir obras de arte moderna e contemporânea.
          </p>
          <p>
            Além desses importantes espaços, a cidade conta com o <strong>Centro Cultural Bernardo Mascarenhas</strong>, que oferece uma programação variada com shows, exposições e atividades culturais. 
            O <strong>Teatro Paschoal Carlos Magno</strong> é outro ponto de destaque, promovendo peças teatrais e apresentações de dança.
          </p>         
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/mariano-procopio.jpg" alt="Museu Mariano Procópio- Rua Mariano Procópio, 1.100 - Rua D. Pedro II, 356 - Mariano Procópio.">
          <figcaption class="figure-caption text-center">
            Museu Mariano Procópio. (<a href="https://descubrajuizdefora.com.br/" target="_blank">Imagem: acervo PJF</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/museu-arte-moderna.jpg" alt="Museu de Arte Murilo Mendes - Rua Benjamin Constant, 790 - Centro.">
          <figcaption class="figure-caption text-center">
            Museu de Arte Murilo Mendes. (<a href="https://descubrajuizdefora.com.br/" target="_blank">Imagem: acervo PJF</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="turismo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Lazer e natureza</h2>
          <p>
            Para quem gosta de contato com a natureza, Juiz de Fora oferece diversas opções.
            O <strong>Parque da Lajinha</strong>, um dos mais frequentados da cidade, conta com trilhas, lago e áreas para piquenique, sendo um local ideal para atividades ao ar livre. 
            O <strong>Jardim Botânico da UFJF</strong> é um espaço dedicado à preservação da flora regional, oferecendo trilhas ecológicas, espaços educativos e áreas de lazer para toda a família.
          </p>
          <p>
            O <strong>Mirante do Morro do Cristo</strong>, conhecido por sua vista panorâmica da cidade, é outro ponto de destaque, perfeito para apreciar o pôr do sol e a paisagem exuberante de Juiz de Fora. 
            Já os <strong>Jardins do Museu Mariano Procópio</strong>, com seu ambiente tranquilo e bem-cuidado, proporcionam um passeio relaxante, integrando arte e natureza.
          </p>
          <p>
            O <strong>Parque Halfeld</strong>, localizado no centro da cidade, é uma grande área verde rodeada por árvores e bancos, ideal para quem busca momentos de lazer e descanso no coração da cidade.
            Além desses locais, a cidade está próxima a áreas naturais como o <strong>Parque Estadual do Ibitipoca</strong> e o <strong>Parque Nacional da Serra dos Órgãos</strong>, ideais para os amantes do ecoturismo.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/jardim-botanico-prefeitura.jpg" alt="Jardim Botânico da UFJF - Rua Cel.Almeida Novais, 246 Santa Terezinha.">
          <figcaption class="figure-caption text-center">
            Jardim Botânico da UFJF. (<a href="https://descubrajuizdefora.com.br/" target="_blank">Imagem: acervo PJF</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/img-morro-do-imperador.jpg" alt="Mirante do Morro do Imperador - Estrada Engenheiro Gentil Forn, s/n - São Pedro.">
          <figcaption class="figure-caption text-center">
            Mirante do Morro do Imperador. (<a href="https://descubrajuizdefora.com.br/" target="_blank">Imagem: acervo PJF</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="gastronomia">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Gastronomia e vida noturna</h2>
          <p>
            A culinária de Juiz de Fora é um verdadeiro reflexo da rica tradição mineira, com seus pratos saborosos e ingredientes frescos que encantam os visitantes.
            Nos inúmeros bares e restaurantes da cidade, é possível saborear clássicos da cozinha local, como o feijão tropeiro, o tutu à mineira, o frango com quiabo e o famoso pão de queijo (se tem queijo, é certeza de ser uma paixão mineira!).
            E quando o assunto são os doces, não podemos deixar de citar o doce de leite e a goiabada com queijo (olha o queijo aí outra vez!).
            A cidade também é famosa por suas iguarias exclusivas, como a pipoca com queijinho, que mistura o sabor da pipoca fresquinha com o delicioso queijo provolone frito, e o cigarrete, um salgado frito enroladinho recheado com queijo e presunto.
          </p>
          <p>
            Para os amantes de petiscos, o torresmo é uma verdadeira tradição, servido de maneira irresistível em diversos bares da cidade, acompanhado de uma boa cerveja gelada.
            Por sinal, Juiz de Fora se destaca pela crescente cena cervejeira, com várias cervejarias artesanais que produzem rótulos premiados, oferecendo aos apreciadores uma variedade de sabores e estilos. 
            As cervejarias locais são populares tanto entre os moradores quanto os turistas, e muitas delas oferecem visitas e degustações, permitindo conhecer o processo de produção de maneira única.
            A cidade também é palco de eventos gastronômicos como o Comida di Buteco, onde bares competem com pratos criativos, e o JF Sabor, que exalta a culinária típica com opções exclusivas e deliciosas.
          </p>
          <p>
            Quando a noite chega, a cidade ganha vida com uma ampla oferta de bares, pubs e restaurantes que oferecem música ao vivo e um ambiente descontraído, ideal para socializar entre amigos.
            Juiz de Fora também é palco de grandes eventos como a Festa Country, com música sertaneja e danças típicas, e a Semana Rainbow juntamente com o concurso Miss Brazil Gay, que celebram a diversidade e promovem a inclusão e o respeito.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/gastronomia/torresmo-totonho.jpg" alt="Rocambole de torresmo do Totonho">
          <figcaption class="figure-caption text-center">
            Rocambole de torresmo do Totonho. (Imagem: Alessandreia)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/rainbow-fest.jpg" alt="Rainbow Fest Juiz de Fora">
          <figcaption class="figure-caption text-center">
           Rainbow Fest. (<a href="https://descubrajuizdefora.com.br/" target="_blank">Imagem: acervo PJF</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

</div>