<div id="local">
  <section id="apresentacao-ufjf">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            A <a href="https://www2.ufjf.br/ufjf/">Universidade Federal de Juiz de Fora - UFJF</a> é uma instituição de ensino superior pública, gratuita e de qualidade, com seu campus sede localizado na cidade de Juiz de Fora - MG, e um campus avançado localizado na cidade de Governador Valadares - MG. 
            A universidade é reconhecida por sua excelência acadêmica e seu compromisso com a pesquisa e a extensão, posicionando-se como um polo científico, econômico e cultural de uma região de mais de três milhões de habitantes.
          </p>
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/3aXg3In_yDw?si=TVrxApT790ylBFG1&autoplay=1&mute=1&controls=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
          </div>
          <figcaption class="figure-caption text-center"><a href="https://www.youtube.com/@tvufjf">Vídeo: Universidade Federal de Juiz de Fora</a></figcaption>
        </div>
      </div>
    </div>
  </section>

  <section id="historia">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Um pouco mais sobre a UFJF</h2>
          <p>
            A Universidade Federal de Juiz de Fora foi criada em 23 de dezembro de 1960, por ato do então presidente Juscelino Kubitschek. 
            Ela foi a segunda universidade federal criada fora de uma capital, atrás apenas da Universidade Federal de Santa Maria, RS.
            A Cidade Universitária foi construída no ano de 1969, local onde a sede permanece até os dias atuais. 
          </p>
          <p>
            A UFJF oferece o ambiente propício para o desenvolvimento intelectual e pessoal dos seus mais de 20 mil estudantes distribuídos em 91 cursos de graduação, 46 cursos de mestrado e 25 cursos de doutorado, abrangendo diversas áreas do conhecimento.
            A universidade também se destaca por suas parcerias com instituições nacionais e internacionais, promovendo intercâmbios acadêmicos e colaborações em projetos de pesquisa.
          </p>
          <p>
            A instituição é responsável pelo Colégio de Aplicação João XXIII, com oferta de ensinos fundamental e médio, e pelo Hospital Universitário, gerido pela Empresa Brasileira de Serviços Hospitalares (Ebserh).  
            A UFJF também fomenta e gerencia importantes espaços culturais de Juiz de Fora, tais como o Museu de Arte Murilo Mendes, o Cine-Theatro Central e o Memorial Itamar Franco, bem como de educação ambiental e científica, a exemplo do Jardim Botânico e do Centro de Ciências.
          </p>
        </div>
      </div>
      <div class="row mt-3 justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/ufjf/aerea-praca-civica.jpg" alt="Imagem aérea da Praça Cívica da UFJF.">
          <figcaption class="figure-caption text-center">
            Vista aérea do campus JF (<a href="https://www.flickr.com/photos/ufjf/22845758723/in/album-72157659597911354" target="_blank">Imagem: Caique Cahon / UFJF</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/ufjf/centro-ciencias-longe.jpg" alt="Fachada do Centro de Ciências da UFJF">
          <figcaption class="figure-caption text-center">
            Centro de Ciências (<a href="https://www.flickr.com/photos/ufjf/29440045832/" target="_blank">Imagem: Clara Downey / UFJF</a>)
          </figcaption>
        </figure>

        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/ufjf/praca-civica-leste.jpg" alt="Praça Cívica da UFJF.">
          <figcaption class="figure-caption text-center">
            Praça cívica do campus JF (<a href="https://www.flickr.com/photos/ufjf/32047863000/in/album-72157679284512376" target="_blank">Imagem: Géssica Leine / UFJF</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/ufjf/reflexo-concha-acustica.jpg" alt="Concha acústica da UFJF">
          <figcaption class="figure-caption text-center">
            Concha acústica da praça cívica (<a href="https://www.flickr.com/photos/ufjf/22845772653/in/album-72157659597911354" target="_blank">Imagem: Caique Cahon / UFJF</a>)
          </figcaption>
        </figure>

        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/ufjf/cine-theatro-palco.jpg" alt="Palco do Cine-Theatro Central.">
          <figcaption class="figure-caption text-center">
            Cine-Theatro Central (<a href="https://www.flickr.com/photos/ufjf/47461733142/in/album-72157704359700042" target="_blank">Imagem: Gustavo Tempone / UFJF</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/cidade/memorial-da-republica.jpg" alt="Fachada do Memorial da República">
          <figcaption class="figure-caption text-center">
            Memorial da República (<a href="https://descubrajuizdefora.com.br/" target="_blank">Imagem: Acervo PJF</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="localizacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>A UFJF no mapa</h2>
          <div class="mapa-container">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5239.78848331378!2d-43.370278775751395!3d-21.776778736223555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989b9f99b33491%3A0xd9b48a8f80341c0d!2sUniversidade%20Federal%20de%20Juiz%20de%20Fora!5e0!3m2!1spt-BR!2sbr!4v1740492337166!5m2!1spt-BR!2sbr" width="100%" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>