<div class='container mt-5 edc-font container-common'>
  <header class='d-flex justify-content-center align-items-center'>
    <h1 class='mb-1 d-block'>
      Conheça a UFJF
    </h1>
  </header>

  <!-- Seção Sobre a UFJF -->
  <section class='d-flex justify-content-center'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-md-5'>
          <img src='https://www.ufjf.br/imagem-exemplo.jpg' class='img-fluid rounded shadow' alt='Campus da UFJF' />
        </div>
        <div class='col-md-5 d-flex align-items-center'>
          <p class='fs-5'>
            A Universidade Federal de Juiz de Fora (UFJF) é uma instituição referência em ensino, pesquisa e extensão.
            Com uma infraestrutura moderna e um ambiente acadêmico vibrante, a UFJF oferece cursos de graduação e
            pós-graduação reconhecidos nacional e internacionalmente.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Seção Infraestrutura -->
  <section class='mt-5 d-flex justify-content-center'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-md-5'>
          <div id='infraCarousel' class='carousel slide shadow p-3' data-bs-ride='carousel'>
            <h5 class='mt-3 text-center'>
              Infraestrutura
            </h5>
            <div class='carousel-inner'>
              <div class='carousel-item active'>
                <p class='text-center'>
                  Bibliotecas modernas com acervo físico e digital.
                </p>
              </div>
              <div class='carousel-item'>
                <p class='text-center'>
                  Laboratórios bem equipados para pesquisa científica.
                </p>
              </div>
              <div class='carousel-item'>
                <p class='text-center'>
                  Hospital Universitário e clínicas especializadas.
                </p>
              </div>
            </div>
            <button class='carousel-control-prev' type='button' data-bs-target='#infraCarousel' data-bs-slide='prev'>
              <span class='carousel-control-prev-icon'></span>
            </button>
            <button class='carousel-control-next' type='button' data-bs-target='#infraCarousel' data-bs-slide='next'>
              <span class='carousel-control-next-icon'></span>
            </button>
          </div>
        </div>
        <div class='col-md-5'>
          <div id='eventoCarousel' class='carousel slide shadow p-3' data-bs-ride='carousel'>
            <h5 class='mt-3 text-center'>
              ICE - Local do Evento
            </h5>
            <div class='carousel-inner'>
              <div class='carousel-item active'>
                <p class='text-center'>
                  O evento será realizado no Instituto de Ciências Exatas.
                </p>
              </div>
              <div class='carousel-item'>
                <p class='text-center'>
                  Espaços modernos para aulas e pesquisas avançadas.
                </p>
              </div>
              <div class='carousel-item'>
                <p class='text-center'>
                  Conecte-se com professores e alunos no ICE.
                </p>
              </div>
            </div>
            <button class='carousel-control-prev' type='button' data-bs-target='#eventoCarousel' data-bs-slide='prev'>
              <span class='carousel-control-prev-icon'></span>
            </button>
            <button class='carousel-control-next' type='button' data-bs-target='#eventoCarousel' data-bs-slide='next'>
              <span class='carousel-control-next-icon'></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Vídeo e Galeria lado a lado -->
  <section class='mt-5 d-flex justify-content-center'>
    <div class='container'>
      <div class='row d-flex justify-content-center'>
        <div class='col-md-10 col-lg-5'>
          <h2 class='text-center'>
            Vídeo Institucional
          </h2>
          <div class='ratio ratio-16x9 d-flex justify-content-center'>
            <iframe src='https://www.youtube.com/embed/SEU_VIDEO_ID' allowfullscreen></iframe>
          </div>
        </div>
        <div class='col-md-10 col-lg-5'>
          <h2 class='text-center'>
            Galeria
          </h2>
          <div id='galeriaUFJF' class='carousel slide' data-bs-ride='carousel'>
            <div class='carousel-inner'>
              <div class='carousel-item active'>
                <img src='https://www.ufjf.br/imagem1.jpg' class='d-block w-100 rounded' alt='Imagem 1' />
              </div>
              <div class='carousel-item'>
                <img src='https://www.ufjf.br/imagem2.jpg' class='d-block w-100 rounded' alt='Imagem 2' />
              </div>
              <div class='carousel-item'>
                <img src='https://www.ufjf.br/imagem3.jpg' class='d-block w-100 rounded' alt='Imagem 3' />
              </div>
            </div>
            <button class='carousel-control-prev' type='button' data-bs-target='#galeriaUFJF' data-bs-slide='prev'>
              <span class='carousel-control-prev-icon'></span>
            </button>
            <button class='carousel-control-next' type='button' data-bs-target='#galeriaUFJF' data-bs-slide='next'>
              <span class='carousel-control-next-icon'></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>