<div id="local">
  <section id="introducao-ufjf">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/-UUV_1mwFqk?si=26meN_6YH42mmTUv&autoplay=1&mute=1&controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe> 
          </div>
          <p>
            A <a href="https://www2.ufjf.br/ufjf/">Universidade Federal de Juiz de Fora</a>, apelidada de UFJF, é uma instituição pública de ensino superior localizada no sul da cidade de Juiz de Fora, Minas Gerais. Fundada em 1960, a UFJF é reconhecida por sua excelência acadêmica e compromisso com a pesquisa e a extensão. A universidade oferece uma ampla gama de cursos de graduação e pós-graduação, abrangendo diversas áreas do conhecimento, como Medicina, Direito, Ciências Humanas, Ciências Exatas, Ciências Sociais e Ciências da Natureza.
          </p>                
          <p>
            Com um campus moderno e bem estruturado, a UFJF proporciona um ambiente propício para o desenvolvimento intelectual e pessoal dos seus 21.000+ alunos em 90 cursos diferentes, divididos em dois campi: Juiz de Fora e Governador Valadares. A universidade também se destaca por suas parcerias com instituições nacionais e internacionais, promovendo intercâmbios acadêmicos e colaborações em projetos de pesquisa.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="historia">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>História</h2>
          <p>
            A Universidade foi criada em 23 de dezembro de 1960, por ato do então presidente Juscelino Kubitschek. A Cidade Universitária foi construída no ano de 1969, local onde permanece até os dias atuais. Segunda universidade federal do interior do país a ser criada – atrás apenas da de Santa Maria (RS) – a instituição se formou a partir da agregação de estabelecimentos de Ensino Superior de Juiz de Fora, reconhecidos e federalizados.
          </p>
          <p>
            Medicina, Engenharia, Ciências Econômicas, Direito, Farmácia e Odontologia foram os primeiros cursos. Em seguida, foram vinculados Geografia, Letras, Filosofia, Ciências Biológicas, Ciências Sociais e História. Cursos oferecidos nas modalidades de licenciatura foram distribuídos entre as diversas unidades do campus.
          </p>
          <p>
            O curso de Jornalismo foi criado e veio a se constituir em um dos Departamentos da Faculdade de Direito. Na década de 70, com a Reforma Universitária, a UFJF passou a contar com três institutos básicos: Instituto de Ciências Exatas (ICE), Instituto de Ciências Biológicas (ICB) e Instituto de Ciências Humanas e Letras (ICHL). Em 1999, uma nova unidade foi criada: o Centro de Ciências da Saúde, onde passaram a funcionar os cursos de Enfermagem, Fisioterapia e Medicina. Em 2006, foram criados o Instituto de Artes e Design (IAD) e a Faculdade de Letras (Fale).
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="localizacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Localização</h2>
          <div class="mapa-container">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5239.78848331378!2d-43.370278775751395!3d-21.776778736223555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989b9f99b33491%3A0xd9b48a8f80341c0d!2sUniversidade%20Federal%20de%20Juiz%20de%20Fora!5e0!3m2!1spt-BR!2sbr!4v1740492337166!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>