<div class='container mt-5 edc-font container-common'>
  <header class='d-flex justify-content-center align-items-center'>
    <h1 class='mb-5 d-block'>
      Conheça a UFJF
    </h1>
  </header>

  <!-- Seção Sobre a UFJF -->
  <section class='d-flex justify-content-center'>
    <div class='container'>
      <div class='row justify-content-center'>
        <div class='col-md-10 col-lg-6 d-flex justify-content-center'>
          <img
            src='https://live.staticflickr.com/5672/22845758723_abfc1201cf.jpg'
            class='img-fluid mb-2'
            width='500'
            height='333'
            alt='Fotos novo Site  (paisagem e edifícios)'
          />
        </div>
        <div class='col-md-10 col-lg-4 d-flex align-items-center'>
          <p class='fs-5'>
            A
            <strong>
              Universidade Federal de Juiz de Fora (UFJF)
            </strong>
            é uma instituição pública e gratuita que se destaca como um polo científico, econômico e cultural em uma
            região que abrange mais de três milhões de habitantes. Reconhecida entre as cem melhores universidades da
            América Latina e entre as mil melhores do mundo, a UFJF consolida-se como uma referência nacional e
            internacional em ensino, pesquisa e extensão.
          </p>
        </div>
      </div>
      <div class='row justify-content-center mt-4'>
        <div class='col-md-10'>
          <p class='fs-5'>
            Fundada em
            <strong>
              23 de dezembro de 1960
            </strong>
            , a UFJF oferece uma ampla gama de oportunidades acadêmicas, com mais de
            <strong>
              90 cursos de graduação
            </strong>
            ,
            <strong>
              45 programas de mestrado
            </strong>
            e
            <strong>
              24 de doutorado
            </strong>
            , além de especializações e residências nas áreas de saúde, gestão e docência. A universidade também é
            responsável pelo
            <strong>
              Colégio de Aplicação João XXIII
            </strong>
            , que oferece ensinos fundamental e médio, e pelo
            <strong>
              Hospital Universitário
            </strong>
            , gerido pela Empresa Brasileira de Serviços Hospitalares (Ebserh), que atende à comunidade com excelência
            em saúde e formação de profissionais.
          </p>
          <p class='fs-5'>
            A UFJF possui dois campi:
            <strong>
              Juiz de Fora
            </strong>
            e
            <strong>
              Governador Valadares
            </strong>
            , onde mais de
            <strong>
              26 mil estudantes
            </strong>
            são formados por meio da atuação de
            <strong>
              1.600 professores
            </strong>
            e
            <strong>
              1.500 técnico-administrativos
            </strong>
            . A infraestrutura da universidade inclui
            <strong>
              18 bibliotecas
            </strong>
            , mais de
            <strong>
              370 laboratórios
            </strong>
            equipados para pesquisa científica, e uma ampla oferta de programas de assistência estudantil, garantindo o
            acesso e a permanência de estudantes de diferentes perfis socioeconômicos.
          </p>
          <p class='fs-5'>
            Além disso, a UFJF gerencia importantes espaços culturais e científicos, como o
            <strong>
              Museu de Arte Murilo Mendes
            </strong>
            , o
            <strong>
              Cine-Theatro Central
            </strong>
            , o
            <strong>
              Memorial Itamar Franco
            </strong>
            , o
            <strong>
              Jardim Botânico
            </strong>
            e o
            <strong>
              Centro de Ciências
            </strong>
            , que contribuem para a difusão da cultura, da arte e da educação ambiental na região.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Carrossel Único -->
  <section class='mt-5 d-flex justify-content-center'>
    <div class='container'>
      <div class='row d-flex justify-content-center'>
        <div class='col-md-8'>
          <strong class='text-center mb-4 d-block'>
            Galeria de Imagens
          </strong>
          <div id='mainCarousel' class='carousel slide shadow rounded p-1' data-bs-ride='carousel'>
            <div class='carousel-inner'>
              <div class='carousel-item active'>
                <img
                  src='https://live.staticflickr.com/65535/46905293124_e001d494ed_b.jpg'
                  class='img-fluid'
                  width='1024'
                  height='683'
                  alt='1 Magali_Bastos_Altomari_de_Souza_profissional_Luz _do_Futuro - Magali Bastos'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/65535/46905292754_06cc7df665_b.jpg'
                  class='img-fluid'
                  width='1024'
                  height='683'
                  alt='4 Paulo_Cesar_F_Aquino_profissional_Universidade_de_Luz_e_Cor - Paulo César F Aquino'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/7808/40565559853_00bb719bab_b.jpg'
                  class='img-fluid'
                  width='1024'
                  height='681'
                  alt='Biblioteca Central'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/8019/29440045832_756a3669a2_b.jpg'
                  class='img-fluid'
                  width='1024'
                  height='646'
                  alt='UFJF em detalhes 08/09/2016'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/616/32047917090_d26141cdc6_b.jpg'
                  width='1024'
                  height='680'
                  alt='Praça Cívica - novas fotos 2017'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/7821/47461733142_47e321d765_b.jpg'
                  width='1024'
                  height='683'
                  alt='Cine-Theatro Central - 90 anos - 30/03/2019'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/5692/22845772653_87bdee9679_b.jpg'
                  width='1024'
                  height='681'
                  alt='Fotos novo Site  (paisagem e edifícios)'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/759/23104913929_2dda261562_b.jpg'
                  class='img-fluid'
                  width='1024'
                  height='680'
                  alt='Fotos novo Site  (paisagem e edifícios)'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/759/23104913929_2dda261562_b.jpg'
                  class='img-fluid'
                  width='1024'
                  height='680'
                  alt='Fotos novo Site  (paisagem e edifícios)'
                />
              </div>
              <div class='carousel-item'>
                <img
                  src='https://live.staticflickr.com/725/23364398002_b33ba8baf0_b.jpg'
                  class='img-fluid'
                  width='1024'
                  height='680'
                  alt='Fotos novo Site  (paisagem e edifícios)'
                />
              </div>
            </div>
            <!-- Botões de navegação -->
            <button class='carousel-control-prev' type='button' data-bs-target='#mainCarousel' data-bs-slide='prev'>
              <i class='fas fa-chevron-left'></i>
            </button>
            <button class='carousel-control-next' type='button' data-bs-target='#mainCarousel' data-bs-slide='next'>
              <i class='fas fa-chevron-right'></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Vídeo Institucional -->
  <section class='mt-5 d-flex justify-content-center'>
    <div class='container'>
      <div class='row d-flex justify-content-center'>
        <div class='col-md-8 col-sm-10'>
          <strong class='text-center mb-4 d-block'>
            Vídeo Institucional
          </strong>
          <div class=' rounded d-flex justify-content-center p-1'>
            <iframe
              src='https://www.youtube.com/embed/3aXg3In_yDw'
              allowfullscreen
              allow='accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture'
              style=' border: none;'
              class='video-iframe'
            ></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Redes Sociais -->
  <section class='mt-5 d-flex justify-content-center'>
    <div class='container text-center'>
      <small class='mb-3'>
        Siga a UFJF nas redes sociais
      </small>
      <div class='d-flex justify-content-center flex-wrap gap-4'>
        <a href='https://www.instagram.com/ufjf' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-instagram'></i>
        </a>
        <a href='https://twitter.com/ufjf_' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-twitter'></i>
        </a>
        <a href='https://www.youtube.com/c/TVUFJF' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-youtube'></i>
        </a>
        <a href='https://www.facebook.com/ufjfoficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-facebook'></i>
        </a>
        <a href='https://bsky.app/profile/ufjfoficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fas fa-cloud'></i>
        </a>
        <a href='https://www.tiktok.com/@ufjf_oficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-tiktok'></i>
        </a>
        <a href='https://open.spotify.com/user/ufjfoficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-spotify'></i>
        </a>
      </div>
    </div>
  </section>
</div>