<div id="local">

  <section id="hoteis">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Nome da Seção</h2>

          <div class="row mb-5">
            
            <div class="col-md-6 hotel-desc">
              <h3>Poleiro do Galo</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">R. Catulo Breviglieri, 800 - Loja 02 - Santa Catarina, Juiz de Fora - MG, 36036-110</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-solid fa-clock"></i>
                  <p class="m-1"><strong>Ter a Sex: </strong> 11:30 - 00:30 </p>
                  <p class="m-1"><strong>Sáb: </strong> 12:00 - 00:00 </p>
                  <p class="m-1"><strong>Dom: </strong> 11:30 - 17:00 </p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-solid fa-utensils"></i>
                  <p class="m-0"><a href="https://cardapio.menu/restaurants/juiz-de-fora/poleiro-do-galo">Cardápio Online</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-instagram"></i>
                  <p class="m-0"><a href="https://instagram.com/poleirodogalo" target="_blank">@poleirodogalo</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 hotel-desc">
              <h3>Trade Hotel</h3>
              <p>
                Situado ao lado do Shopping Independência e a apenas 750m da UFJF, o Trade Hotel possui recepção 24h, piscina e restaurante.
                Os quartos possuem decoração contemporânea, ar-condicionado e Wi-Fi gratuito.
                O hotel está oferecendo diárias com 10% de desconto para os participantes do evento através do cupom: EDUCOMP2025
                <span class="footnote">*Exclusivo para reservas através da central de atendimento e site.</span>
              </p>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">Av. Presidente Itamar Franco, 3800 - Cascatinha. (750m da UFJF)</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa fa-phone"></i>
                  <p class="m-0">(32) 3025-7500</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp"></i>
                  <p class="m-0"><a href="https://whatsa.me/5532985046373" target="_blank">(32) 98504-6373</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-regular fa-envelope"></i>
                  <p class="m-0"><a href="mailto:reservas@tradejf.com.br">reservas@tradejf.com.br</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fas fa-link"></i>
                  <p class="m-0"><a href="https://www.tradejf.com.br" target="_blank">https://www.tradejf.com.br</a></p>
                </li>
              </ul>
            </div>
          </div>

          

        </div>
      </div>
    </div>
  </section>
</div>
