<div id="local">

  <section id="local-evento">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
            O <strong>Instituto de Ciências Exatas (ICE)</strong> da <strong>Universidade Federal de Juiz de Fora (UFJF)</strong> será o local do evento. 
            O ICE oferece uma infraestrutura moderna e espaços adequados para a realização de atividades científicas e de integração. 
            Com salas equipadas, auditórios e áreas de convivência, o instituto proporciona um ambiente propício para o aprendizado, a troca de conhecimentos e a interação entre os participantes.
          </p>
          <p>
            O ICE é reconhecido por sua excelência em ensino e pesquisa, abrigando cursos de graduação e pós-graduação em áreas como Física, Matemática, Química, Ciência da Computação e Estatística. 
            Sua localização privilegiada dentro do campus da UFJF facilita o acesso e garante comodidade para todos os envolvidos no evento.
          </p>
        </div>
      </div>
      
      <div class="imagem-principal row justify-content-center">
        <figure class="col-lg-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/ice-fachada-1.jpg" alt="">
          <figcaption class="text-center figure-caption">
            
          </figcaption>
        </figure>
      </div>
  </section>

  <section id="historia">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
            
          </p>
          
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/" alt="">
          <figcaption class="text-center figure-caption">
            
          </figcaption>
        </figure>
          
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="" alt="">
          <figcaption class="text-center figure-caption">
           
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>