<div id="local">

  <section id="local-evento">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
            O <strong>Instituto de Ciências Exatas (ICE)</strong> da <strong>Universidade Federal de Juiz de Fora (UFJF)</strong> será o local dos eventos EduComp 2025 & SBC-EB 2025. 
            O ICE é um instituto de destaque, oferecendo cursos de graduação e pós-graduação em áreas como Física, Matemática, Química, Ciência da Computação e Estatística. 
            Com uma infraestrutura moderna e um corpo docente qualificado, o instituto proporciona uma formação de excelência, combinando teoria e prática para preparar seus estudantes para os desafios do mercado e da pesquisa científica.
          </p>
          <p>
            Além de seu papel na educação e na pesquisa, o ICE se destaca por sua estrutura moderna e bem equipada, oferecendo espaços adequados para a realização de eventos científicos e atividades de integração. 
            O instituto conta com salas de diversos tamanhos, auditórios e áreas de convivência, proporcionando um ambiente favorável ao aprendizado e à troca de conhecimentos. 
            Sua localização privilegiada dentro do campus da UFJF facilita o acesso e garante comodidade para todos os envolvidos no evento.
          </p>
        </div>
      </div>
      
      <div class="imagem-principal row justify-content-center">
        <figure class="col-lg-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/ice-fachada.jpg" alt="vista facha prédio REUNI ICE">
          <figcaption class="text-center figure-caption">
            Fachada do prédio do ICE (<a target="_blank">Imagem: Ana Luíza Míscoli / Felipe Strehle</a>)
          </figcaption>
        </figure>
      </div>
  </section>

  <section id="infraestrutura-ambiente">
    <div class="container">
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <h2>Infraestrutura e ambientes utilizados</h2>
          <p>
            Para a realização do EduComp 2025 & SBC-EB 2025, serão utilizados diversos espaços dentro do ICE, diversos deles recentemente reformados e equipados com tecnologia de ponta para garantir a melhor experiência aos participantes.
          </p>     
        </div>
      </div>
      
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
             <strong>Auditórios:</strong> Dois auditórios recém-reformados, cada um com capacidade para aproximadamente 170 pessoas cada. 
             Ambos contam com projetor de alta resolução, sistema completo de som e vídeo, além de infraestrutura para realização de videoconferências. 
             Além destes, um terceiro auditório devidamente equipado com capacidade para 70 pessoas também estará disponível para palestras, painéis e apresentações de menor porte.
          </p> 
        </div>
      </div>

      <div class="row justify-content-center">
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/anfiteatro-amarelo.jpg" alt="Anfiteatro Amarelo ICE">
          <figcaption class="text-center figure-caption">
            Auditório (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>
          
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/anfiteatro-azul.jpg" alt="Anfiteatro Azul ICE">
          <figcaption class="text-center figure-caption">
            Auditório (<a target="_blank">Imagem: Felipe Strehle</a>)
          </figcaption>
        </figure>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
             <strong>Salas de aula:</strong> Estarão à disposição do evento três salas de aula, cada uma com capacidade para 100 pessoas, todas equipadas com computadores e projetores. 
             Estes ambientes se mostram adequados para a realização de sessões técnicas, workshops e rodas de conversa.
          </p> 
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/sala-de-aula-1.jpg" alt=" Sala de aula no ICE">
          <figcaption class="text-center figure-caption">
            Sala de aula (<a target="_blank">Imagem: Felipe Strehle</a>)
          </figcaption>
        </figure>         
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/sala-de-aula-2.jpg" alt=" Sala de aula no ICE">
          <figcaption class="text-center figure-caption">
             Sala de aula (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>
      </div>
      
      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <p>
             <strong>Laboratórios de computação:</strong> Dois laboratórios, cada um deles equipado com 50 computadores modernos, estarão disponíveis para a realização de atividades práticas, sessões interativas e minicursos.
          </p> 
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/laboratorio-1.jpg" alt="laboratório ICE">
          <figcaption class="text-center figure-caption">
            Laboratório de computação (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>         
        <figure class="col-lg-5 col-md-10 d-block text-center w-100 figure">
          <img class="figure-img img-fluid" src="/img/simposio/2025/comum/ufjf/laboratorio-2.jpg" alt="laboratório ICE">
          <figcaption class="text-center figure-caption">
            Laboratório de computação (<a target="_blank">Imagem: Ana Luíza Míscoli</a>)
          </figcaption>
        </figure>
      </div>

      <div class="row justify-content-center mt-3">
        <div class="col-md-10">
          <h3>Homenagem a nossos artistas e escritores</h3>
          <p>
             Para valorizar a cultura e a história local, os auditórios e salas do evento recebem temporariamente nomes de artistas e escritores que marcaram Juiz de Fora com seu talento e legado.
             Conheça um pouco sobre cada um deles e suas contribuições para a arte e a literatura.
          </p>
          <p>
            <strong>Murilo Mendes (1901 - 1975):</strong>
            Escritor juizforano que integrou a segunda fase do modernismo no Brasil.  
            É considerado um dos mais relevantes poetas brasileiros do século XX. 
            Sua obra marcou a literatura nacional com uma expressão singular, consolidando seu legado na poesia modernista.
          </p>
          <p>
            <strong>Pedro Nava (1903 - 1984):</strong>
            Médico e poeta, nascido em Juiz de Fora, é reconhecido como um dos maiores memorialistas da literatura brasileira.
            Sua obra autobiográfica retrata com sensibilidade o espírito de sua época, oferecendo um valioso panorama da cultura brasileira no século XX.
          </p>
          <p>
            <strong>Carlos Bracher (1941 - ):</strong>
            Pintor, desenhista, escultor e gravador juizforano - atualmente com 85 anos.
            Na década de 1990, iniciou uma sequência de "Séries Temáticas", dando-lhe projeção internacional e levando-o a expor em prestigiados museus da Europa, América e Ásia.
          </p>
          <p>
            <strong>Dnar Rocha (1932 - 2006):</strong>
            Artista plástico natural de Tabuleiro - MG e residente em Juiz de Fora a partir da década de 50, participando ativamente dos movimentos das artes plásticas.
            Através de uma paleta de cores vibrantes e contrastantes, imprimia emoções, retratando o cotidiano, as tradições, as crenças e os costumes do povo de MG. 
            Alguns de seus trabalhos estão em acervos internacionais.
          </p>
          <p>
            <strong>Belmiro Braga (1872 - 1937):</strong>
            Poeta brasileiro nascido em Juiz de Fora. 
            A obra do autor, traduzida para diversas línguas, abrange vários gêneros, incluindo poemas em verso, textos em prosas e obras dramáticas.
            Em sua homenagem, seu local de nascimento foi rebatizado após ser elevado à categoria de município, passando a ser chamado Belmiro Braga, município vizinho a Juiz de Fora.
          </p>
          <p>
            <strong>Nancy de Carvalho (1934 - 2017):</strong>
            Nascida em Juiz de Fora. 
            Primeira porta-bandeira da cidade e uma figura emblemática do carnaval local. 
            Sua família sempre esteve envolvida com o carnaval - principalmente o irmão, Djalma de Carvalho, um dos compositores do antológico samba "Ah se eu fosse feliz”. 
            Seu legado é celebrado no Mercado Municipal de Juiz de Fora, com o Espaço Cultural Nancy de Carvalho.
          </p>
          <p>
            <strong>Ângelo Bigi (1887 - 1982):</strong>
            Pintor ítalo-brasileiro que imigrou para Juiz de Fora em 1907, destacando-se por sua obra de transição para o modernismo, com ênfase na pintura decorativa. 
            Suas peças, produzidas entre as décadas de 1920 e 1950, marcaram a cena artística da época, deixando um legado significativo na arte brasileira.
          </p>
          <p>
            <strong>José Antonio Jacob (1950 - ):</strong>
            Nascido em Juiz de Fora, é amplamente reconhecido como um dos mais importantes sonetistas da língua portuguesa na atualidade.
            Sua obra se destaca pela precisão formal e pela profundidade temática, consolidando seu nome na literatura contemporânea.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="localizacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>O ICE no mapa</h2>
          <div class="mapa-container">
             <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2579.615701964911!2d-43.373320171529876!3d-21.776081661960774!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x989ba1c18d2a97%3A0xacf1ee467831259e!2sInstituto%20de%20Ci%C3%AAncias%20Exatas%20-%20ICE%20-%20UFJF!5e0!3m2!1spt-BR!2sbr!4v1742488581205!5m2!1spt-BR!2sbr"  width="100%" height="450" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" frameborder="0"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>