<div class='container mt-5 edc-font container-common'>
  
  
  <section class='d-flex justify-content-center'>
      <div class='containerLocal'>
        <div class='row justify-content-center'>
          <div class='col-md-10 col-lg-6 d-flex justify-content-center'>
            <figure class="figure float-right m-3">
              <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/ice.jpg"  alt="Imagem da fachada do terminal rodoviário Miguel Mansur em Juiz de Fora.">
              <figcaption class="figure-caption text-center">Instuto Ciencias de Exatas, Juiz de Fora - MG.</figcaption>
            </figure>
        </div>
        <div class='col-md-10 col-lg-4 d-flex align-items-center'>
          <p class='fs-5'>
            O
            <strong>
            Instituto de Ciências Exatas (ICE) da Universidade Federal de Juiz de Fora (UFJF)
            </strong> 
            se destaca no meio acadêmico ao oferecer cursos de graduação e pós-graduação em Física,
            Matemática, Química, Ciência da Computação e Estatística. Com uma infraestrutura moderna e um corpo docente altamente qualificado,
            o ICE garante uma formação sólida, integrando teoria e prática para preparar seus estudantes tanto para o mercado de trabalho quanto para a pesquisa científica.
            Além disso, o instituto desempenha um papel fundamental na promoção de atividades de pesquisa e extensão, contribuindo significativamente para o avanço das ciências exatas no âmbito regional e nacional.
          </p>
        </div>
      </div>
    </section>
    <section class=' justify-content-center textoApresentaçãoCtn'>
        
      <div class='col-md-10 col-lg-0 d-flex align-items-center textoApresentação'>
        <p class='fs-5'>
          O evento será realizado no anfiteatro do Instituto de Ciências Exatas (ICE) da Universidade Federal de Juiz de Fora (UFJF), um espaço com capacidade para 160 pessoas e equipado com uma infraestrutura moderna. O local conta com avançados recursos audiovisuais, incluindo projetores de alta definição, sistema de sonorização profissional e equipamentos para transmissões ao vivo, garantindo uma experiência imersiva e interativa para o público.
        </p>
        <p>
          Além disso, os laboratórios do ICE, que dispõem de tecnologia de ponta e ambientes preparados para experimentação científica, estarão à disposição para atividades práticas, reforçando o caráter inovador e acadêmico do evento. Com essa estrutura de excelência, o ICE se consolida como um centro de referência para a realização de eventos científicos e acadêmicos na UFJF.
        </p>
      </div>

     <div id="carousel-imagens-local" class="carousel slide d-flex justify-content-center" data-bs-ride="carousel">
        <div class="carousel-inner d-flex align-items-center">
            <div class="carousel-item active ">
              <figure class="figure float-right m-3">
                <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/anfiteatroInterno2.jpg"  alt="Imagem da fachada do terminal rodoviário Miguel Mansur em Juiz de Fora.">
                <figcaption class="figure-caption text-center">Anfiteatro, Juiz de Fora - MG.</figcaption>
              </figure>
            </div>
           <div class="carousel-item ">
              <figure class="figure float-right m-3">
                <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/anfiteatroExterno.jpg"  alt="Imagem da fachada do terminal rodoviário Miguel Mansur em Juiz de Fora.">
                <figcaption class="figure-caption text-center">Anfiteatro, Juiz de Fora - MG.</figcaption>
              </figure>
            </div>
            <div class="carousel-item ">
              <figure class="figure float-right m-3">
                <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/laboratorioIce.jpg"  alt="Imagem da fachada do terminal rodoviário Miguel Mansur em Juiz de Fora.">
                <figcaption class="figure-caption text-center">Laboratório Ice, Juiz de Fora - MG.</figcaption>
              </figure>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carousel-imagens-jf"
            data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carousel-imagens-jf"
            data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </button>
    </div>
      
  </section>

  <!-- Redes Sociais -->
  <section class='mt-5 d-flex justify-content-center'>
    <div class='container text-center'>
      <small class='mb-3'>
        Siga a UFJF nas redes sociais
      </small>
      <div class='d-flex justify-content-center flex-wrap gap-4'>
        <a href='https://www.instagram.com/ufjf' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-instagram'></i>
        </a>
        <a href='https://twitter.com/ufjf_' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-x-twitter'></i>
        </a>
        <a href='https://www.youtube.com/c/TVUFJF' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-youtube'></i>
        </a>
        <a href='https://www.facebook.com/ufjfoficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-facebook'></i>
        </a>
        <a href='https://www.tiktok.com/@ufjf_oficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-tiktok'></i>
        </a>
        <a href='https://open.spotify.com/user/ufjfoficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-spotify'></i>
        </a>
      </div>
    </div>
  </section>
</div>