<div class='container mt-5 edc-font container-common'>
  {{!-- <header class='d-flex justify-content-center align-items-center'>
    <h1 class='mb-5 d-block'>
      Insituto Ciencias Exatas
    </h1>
  </header> --}}

  <!-- Seção Sobre a UFJF -->
  <section class='d-flex justify-content-center'>
    <div class='containerLocal'>
      <div class='row justify-content-center'>
        <div class='col-md-10 col-lg-6 d-flex justify-content-center'>
          <figure class="figure float-right m-3">
            <img class="figure-img img-fluid" src="/img/simposio/2025/comum/jf/rodoviaria.jpg"  alt="Imagem da fachada do terminal rodoviário Miguel Mansur em Juiz de Fora.">
            <figcaption class="figure-caption text-center">Terminal Rodoviário Miguel Mansur, Juiz de Fora - MG. (Imagem: <a href="https://commons.wikimedia.org/wiki/File:Rodoviária_de_Juiz_de_Fora.jpg" target="_blank">Mateus S. Figueiredo)</a></figcaption>
          </figure>
      </div>
      <div class='col-md-10 col-lg-4 d-flex align-items-center'>
        <p class='fs-5'>
          O
          <strong>
          Instituto de Ciências Exatas (ICE) da Universidade Federal de Juiz de Fora (UFJF)
          </strong> 
          se destaca no meio acadêmico ao oferecer cursos de graduação e pós-graduação em Física,
          Matemática, Química, Ciência da Computação e Estatística. Com uma infraestrutura moderna e um corpo docente altamente qualificado,
          o ICE garante uma formação sólida, integrando teoria e prática para preparar seus estudantes tanto para o mercado de trabalho quanto para a pesquisa científica.
          Além disso, o instituto desempenha um papel fundamental na promoção de atividades de pesquisa e extensão, contribuindo significativamente para o avanço das ciências exatas no âmbito regional e nacional.
        </p>
      </div>
    </div>
  </section>

  <!-- Redes Sociais -->
  <section class='mt-5 d-flex justify-content-center'>
    <div class='container text-center'>
      <small class='mb-3'>
        Siga a UFJF nas redes sociais
      </small>
      <div class='d-flex justify-content-center flex-wrap gap-4'>
        <a href='https://www.instagram.com/ufjf' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-instagram'></i>
        </a>
        <a href='https://twitter.com/ufjf_' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-x-twitter'></i>
        </a>
        <a href='https://www.youtube.com/c/TVUFJF' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-youtube'></i>
        </a>
        <a href='https://www.facebook.com/ufjfoficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-facebook'></i>
        </a>
        <a href='https://www.tiktok.com/@ufjf_oficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-tiktok'></i>
        </a>
        <a href='https://open.spotify.com/user/ufjfoficial' target='_blank' class='text-primary fs-4 m-3'>
          <i class='fab fa-spotify'></i>
        </a>
      </div>
    </div>
  </section>
</div>