<div id="local">

  <section id="lugares-visitar">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Bares</h2>

          <div class="row mb-5">
            
            <div class="col-md-6 lugar-desc">
              <h3>Poleiro do Galo</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Catulo Breviglieri, 800 - Loja 02 - Santa Catarina</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Ter a Sex: </strong> 11:30 - 00:30 </p>
                    <p><strong>Sáb: </strong> 12:00 - 00:00 </p>
                    <p><strong>Dom: </strong> 11:30 - 17:00 </p>  
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://cardapio.menu/restaurants/juiz-de-fora/poleiro-do-galo">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/poleirodogalo" target="_blank">@poleirodogalo</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Brasador</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Machado Sobrinho, 146 - Passos</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Seg: </strong> 11:00 - 23:30 </p>
                    <p><strong>Ter - Qui: </strong> 11:00 - 00:00 </p>
                    <p><strong>Sex - Sáb: </strong> 11:00 - 00:45 </p>
                    <p><strong>Dom: </strong> 11:00 - 21:00 </p>  
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://drive.google.com/file/d/1tlYXlGAWBG8mjM-qwqP8bST2Rg8PTdsl/view">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/brasador" target="_blank">@brasador</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Totonho - Unidade São Mateus</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">Rua Manoel Bernardino, 14 - São Mateus</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Seg - Qui: </strong> 17:00 - 00:30 </p>
                    <p><strong>Sex - Sáb: </strong> 12:00 - 00:30 </p>
                    <p><strong>Dom: </strong> 12:00 - 23:00 </p>
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://bardototonho.com.br/cardapio/">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/bardototonho" target="_blank">@bardototonho</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Bar do Bigode</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Chanceler Oswaldo Aranha, 54 - São Mateus</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Seg - Sáb: </strong> 09:00 - 00:00 </p>
                    <p><strong>Dom: </strong> Fechado </p>
                  </div>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/bardobigode.exororo" target="_blank">@bardobigode.exororo</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-12 ultimo-sozinho">
              <h3>Gema</h3> 

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Barão de São João Nepomuceno, 123 - Centro</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Almoço:</strong></p>
                    <p><strong>Seg - Sex: </strong> 11:30 - 14:45 </p>
                    <p><strong>Sáb - Dom: </strong> 12:00 - 14:45 </p>
                    <p><strong>Tardes + Noites: </strong></p>
                    <p><strong>Qui - Sáb: </strong> 16:00 - 01:00</p>
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://drive.google.com/file/d/1LogMb2WJnbzZoxOaMk9vvQrefXmtgk22/view">Cardápio Online - Dia</a></p>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://drive.google.com/file/d/1mNLmn2ilxnaFFULny3Gj0VzUgZDJZbrq/view">Cardápio Online - Noite</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/gema.bar" target="_blank">@gema.bar</a></p>
                </li>
              </ul>
            </div>

        </div>
      </div>
      <div class="col-md-10">
          <h2>Cafés</h2>
            <div class="row mb-5">
            
              <div class="col-md-6 lugar-desc">
                <h3>Pedra Bonita</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">Av. Barão do Rio Branco, 2991 - Centro</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Seg a Sab: </strong> 09:00 - 20:00 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://www.ifood.com.br/delivery/juiz-de-fora-mg/pedra-bonita-cafe---rio-branco-centro/eb273786-1fcc-4d22-8222-feec2a2ad923">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/pedrabonitacafe" target="_blank">@pedrabonitacafe</a></p>
                  </li>
                </ul>
              </div>

              <div class="col-md-6 lugar-desc">
                <h3>Rellicário</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. São Mateus, 35 - São Mateus</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Seg a Dom: </strong> 08:00 - 22:00 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://linklist.bio/rellicario?fbclid=PAZXh0bgNhZW0CMTEAAaZZh306bd6SY_SNdgyDi_qFHNc7E1D5tEdD1f2OfrgM_PR4ZTFYy6gzcvA_aem_LNeAd5NGQylCgACmvOhg3A">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/rellicariobrigaderia" target="_blank">@rellicariobrigaderia</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 3213-5469</p>
                  </li>
                </ul>
              </div>

              <div class="col-md-6 lugar-desc">
                <h3>Madame Gourmet</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. Manoel Bernardino, 37 - São Mateus</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Seg - Sex: </strong> 12:00 - 20:00 </p>
                      <p><strong>Sab - Dom: </strong> 13:00 - 19:00 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://www.instagram.com/s/aGlnaGxpZ2h0OjE3ODU3MDE4ODI3MTExMTQ4?story_media_id=3314245589770669786_3148409137&igsh=MjNnaTdueWRtZjF5">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/brigaderia_madame_gourmet" target="_blank">@brigaderia_madame_gourmet</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 98414-4614</p>
                  </li>
                </ul>
              </div>

              <div class="col-md-6 lugar-desc">
                <h3>Planet</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. Morais e Castro, 218 - Passos - Ao lado da Alameda</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Ter - Sex: </strong> 12:00 - 23:00 </p>
                      <p><strong>Sab: </strong> 12:00 - 22:00 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://deliverydireto.com.br/planet/planet?utm_source=google-place-action-link&dd=menu">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/planet.jf" target="_blank">@planet.jf</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 3213-9964</p>
                  </li>
                </ul>
              </div>

              <div class="col-md-6 lugar-desc">
                <h3>Grão Moente</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. Oscar Vidal, 271 - Centro</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Seg - Sex: </strong> 08:00 - 20:00 </p>
                      <p><strong>Sab - Dom: </strong> 08:00 - 13:00 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://linktr.ee/graomoente">Cardápio Online (Linktree)</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/planet.jf" target="_blank">@planet.jf</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 99831-3752</p>
                  </li>
                </ul>
              </div>

      </div>
    </div>
    <div class="col-md-10">
        <h2>Hamburger Artesanal e Chopp</h2>

        <div class="row mb-5">
            
              <div class="col-md-6 lugar-desc">
                <h3>Rocha's Burger</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">Av. Deusdedith Salgado, 1425 - Loja - Teixeiras</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Ter - Dom: </strong> 17:00 - 23:00 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://pedido.anota.ai/loja/rochas-burguer-2?from=menu-share-adm&utm_source=portal-share-btn&referer=https://www.google.com/">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/rochasburguerjf" target="_blank">@rochasburguerjf</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 99970-5590</p>
                  </li>
                </ul>
              </div>

            <div class="col-md-6 lugar-desc">
                <h3>Valkyrie</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. Taváres Bastos, 60 - São Mateus</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Seg - Dom: </strong> 18:00 - 00:00 </p>
                      <p><strong>Sex - Sab: </strong> 18:00 - 02:00</p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://www.ifood.com.br/delivery/juiz-de-fora-mg/valkyrie-sao-mateus/cb33869f-6937-47e7-a398-d19dc08082bb">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/valkyriebrewpub" target="_blank">@valkyriebrewpub</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 3026-0984</p>
                  </li>
                </ul>
            </div>

            <div class="col-md-6 lugar-desc">
                <h3>Prost Pub</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. Taváres Bastos, 49 - São Mateus</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Ter - Qui: </strong> 18:00 - 00:00 </p>
                      <p><strong>Sex - Sab: </strong> 18:00 - 01:00 </p>
                      <p><strong>Dom: </strong> 18:00 - 23:00 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://drive.google.com/file/d/1mCrImEpRTPgVlRqvwkkwTVhPK08H-ZGT/view">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/prostpub" target="_blank">@prostpub</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 3026-5555</p>
                  </li>
                </ul>
            </div>

          <div class="col-md-6 lugar-desc">
                <h3>São Bartolomeu</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. São Mateus, 41 - loja 4 - São Mateus</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Seg - Qui: </strong> 17:30 - 00:00 </p>
                      <p><strong>Sex - Sab: </strong> 17:30 - 01:00 </p>
                      <p><strong>Dom: </strong> 17:30 - 23:30 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="https://saobartolomeu.menudino.com">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/saobartolomeu" target="_blank">@saobartolomeu</a></p>
                  </li>
                  <li class="info"><i class="fa fa-phone"></i>
                    <p>(32) 3025-5867</p>
                  </li>
                  <li class="info"><i class="fa fa-whatsapp"></i>
                    <p>(32) 99113-0673</p>
                  </li>
                </ul>
            </div>

            <div class="col-md-6 lugar-desc">
                <h3>Home Burger</h3>

                <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                  <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                  <p  id="endereco-linha">R. Antônio Felet, 777 - Vale do Ipê</p>
                  </li>
                  <li class="horarios">
                    <i class="fa-solid fa-clock"></i>
                    <div class="horario-linhas">
                      <p><strong>Qua - Seg: </strong> 18:00 - 23:30 </p>
                    </div>
                  </li>
                  <li class="info"><i class="fa-solid fa-utensils"></i>
                    <p><a href="homeburgerjf.com.br">Cardápio Online</a></p>
                  </li>
                  <li class="info"><i class="fa-brands fa-instagram"></i>
                    <p><a href="https://instagram.com/homeburgerjf" target="_blank">@homeburgerjf</a></p>
                  </li>
                  <li class="info"><i class="fa fa-whatsapp"></i>
                    <p>(32) 99828-4070</p>
                  </li>
                </ul>
            </div>
          </div>
      </div>

      <div class="col-md-10">
          <h2>Pizzarias</h2>

          <div class="row mb-5">
            
            <div class="col-md-6 lugar-desc">
              <h3>Spottza</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Doná Zeli Lage, 55 - Passos</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Ter - Dom: </strong> 18:00 - 23:30 </p> 
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://drive.google.com/file/d/10oNc0wWb1Hd8cM5IK88XpGKU51gD8Xv0/view?pli=1">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/spotzza" target="_blank">@spotzza</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Mr. Tugas</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Otília de Souza Leal, 310 - Nova Califórnia</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Dom - Qui: </strong> 18:00 - 23:00 </p>
                    <p><strong>Sex - Sáb: </strong> 18:00 - 00:00 </p>
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://www.mrtugas.com.br/carta-gourmand/#pizzas">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/mr_tugas" target="_blank">@mr_tugas</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Pepper Pizzaria Artesanal</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Machado Sobrinho, 262 - Passos</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Ter - Sáb: </strong> 18:00 - 23:00 </p>
                    <p><strong>Dom: </strong> 16:00 - 21:00 </p>
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://www.pepperpizzaria.com.br/cardapio.html">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/pepperpizzaria" target="_blank">@pepperpizzaria</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>D’Anthero Pizzaria & Trattoria</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">Ipê Mall - R. Catulo Breviglieri, 800 - Santa Catarina</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Ter - Sex: </strong> 18:00 - 23:00 </p>
                    <p><strong>Sab - Dom: </strong> 11:00 - 15:00 e 18:00 - 23:00 </p>
                  </div>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/bardobigode.exororo" target="_blank">@bardobigode.exororo</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Santa Maria Forneria</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Dr. João Pinheiro, 511 - Jardim Glória</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Dom - Qui: </strong> 18:00 - 23:45 </p>
                    <p><strong>Sex - Sáb: </strong> 18:00 - 00:45</p>
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://www.instagram.com/stories/highlights/18029034278473368/">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/santamariaforneria" target="_blank">@santamariaforneria</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Pizzaria Itália</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Silva Jardim, 306 - Centro</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                    <p><strong>Ter - Dom: </strong> 18:00 - 00:00</p>
                  </div>
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://www.instagram.com/stories/highlights/17978863268337788/">Cardápio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/pizzariaitalia.oficial" target="_blank">@pizzariaitalia.oficial</a></p>
                </li>
              </ul>
            </div>

        </div>
      </div>
  </section>
</div>
