<div id="local">

  <section id="lugares-visitar">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Bares</h2>

          <div class="row mb-5">
            
            <div class="col-md-6 lugar-desc">
              <h3>Poleiro do Galo</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Catulo Breviglieri, 800 - Loja 02 - Santa Catarina</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                  
                  <p ><strong>Ter a Sex: </strong> 11:30 - 00:30 </p>
                  <p ><strong>S치b: </strong> 12:00 - 00:00 </p>
                  <p ><strong>Dom: </strong> 11:30 - 17:00 </p>  
                  </div>
                  
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://cardapio.menu/restaurants/juiz-de-fora/poleiro-do-galo">Card치pio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/poleirodogalo" target="_blank">@poleirodogalo</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 lugar-desc">
              <h3>Brasador</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="endereco"><i class="fas fa-map-marker-alt m-0.5"></i>
                <p  id="endereco-linha">R. Machado Sobrinho, 146 - Passos</p>
                </li>
                <li class="horarios">
                  <i class="fa-solid fa-clock"></i>
                  <div class="horario-linhas">
                  
                  <p ><strong>Seg: </strong> 11:00 - 23:30 </p>
                  <p ><strong>Ter - Qui: </strong> 11:00 - 00:00 </p>
                  <p ><strong>Sex - S치b: </strong> 11:00 - 00:45 </p>
                  <p ><strong>Dom: </strong> 11:00 - 21:00 </p>  
                  </div>
                  
                </li>
                <li class="info"><i class="fa-solid fa-utensils"></i>
                  <p><a href="https://drive.google.com/file/d/1tlYXlGAWBG8mjM-qwqP8bST2Rg8PTdsl/view">Card치pio Online</a></p>
                </li>
                <li class="info"><i class="fa-brands fa-instagram"></i>
                  <p><a href="https://instagram.com/brasador" target="_blank">@brasador</a></p>
                </li>
              </ul>
            </div>

        </div>
      </div>
    </div>
  </section>
</div>
