<div id="local">

  <section id="lugares-visitar">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Nome da Seção</h2>

          <div class="row mb-5">
            
            <div class="col-md-6 hotel-desc">
              <h3>Poleiro do Galo</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="d-flex align-items-center text-justify"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-1">R. Catulo Breviglieri, 800 - Loja 02 - Santa Catarina, Juiz de Fora - MG, 36036-110</p>
                </li>
                <li class="d-flex flex-row justify-content-evenly"><i class="fa-solid fa-clock"></i>
                  <p class="m-1"><strong>Ter a Sex: </strong> 11:30 - 00:30 </p>
                  <p class="m-1"><strong>Sáb: </strong> 12:00 - 00:00 </p>
                  <p class="m-1"><strong>Dom: </strong> 11:30 - 17:00 </p>
                </li>
                <li class="d-flex align-items-center "><i class="fa-solid fa-utensils"></i>
                  <p class="m-0"><a href="https://cardapio.menu/restaurants/juiz-de-fora/poleiro-do-galo">Cardápio Online</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-instagram"></i>
                  <p class="m-0"><a href="https://instagram.com/poleirodogalo" target="_blank">@poleirodogalo</a></p>
                </li>
              </ul>
            </div>

            <div class="col-md-6 hotel-desc">
              <h3>Poleiro do Galo</h3>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom ">
                <li class="d-flex align-items-center text-justify"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-1">R. Catulo Breviglieri, 800 - Loja 02 - Santa Catarina, Juiz de Fora - MG, 36036-110</p>
                </li>
                <li class="d-flex flex-row justify-content-evenly"><i class="fa-solid fa-clock"></i>
                  <p class="m-1"><strong>Ter a Sex: </strong> 11:30 - 00:30 </p>
                  <p class="m-1"><strong>Sáb: </strong> 12:00 - 00:00 </p>
                  <p class="m-1"><strong>Dom: </strong> 11:30 - 17:00 </p>
                </li>
                <li class="d-flex align-items-center "><i class="fa-solid fa-utensils"></i>
                  <p class="m-0"><a href="https://cardapio.menu/restaurants/juiz-de-fora/poleiro-do-galo">Cardápio Online</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-instagram"></i>
                  <p class="m-0"><a href="https://instagram.com/poleirodogalo" target="_blank">@poleirodogalo</a></p>
                </li>
              </ul>
            </div>

          

        </div>
      </div>
    </div>
  </section>
</div>
