<div class="container edc-font container-common">

    <header id="header-background" class="mb-0 d-flex justify-content-center align-items-center">
        <h1 class="mb-1 d-block">Onde se Hospedar</h1>
    </header>
    
    <!-- Seção Onde se Hospedar -->
    <section class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 p-0">
                <div class="mb-10 d-block">
                    <h2 class="mb-1 d-block" style="font-weight: bold;">Hotéis em Juiz de Fora</h2>
                </div>

                <!-- Trade Hotel -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <!-- Imagem -->
                            <div class="mt-3 col-lg-6 col-md-12 order-lg-1 order-md-1 order-1 align-self-start">
                                <img class="img-fluid m-1" 
                                    alt="Fachada do Trade Hotel"
                                    src="https://cf.bstatic.com/xdata/images/hotel/max1280x900/547340015.jpg?k=1747962bf769e7d5a74c276f3f1daa3749c1ed284379ddf11327071ba5915f0f&o=&hp=1" 
                                    style="border-radius: 15px" />
                            </div>
                            <!-- Info -->
                            <div class="col-lg-6 col-md-12 order-lg-2 order-md-2 order-2 d-flex justify-content-start">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        <i class="fas fa-hotel"></i> Trade Hotel
                                        <span class="badge bg-success ml-2">Hotel Parceiro</span>
                                    </h5>
                                    <h4>
                                        <span style="font-weight: bold;">CUPOM: EDUCOMP2025</span>
                                    </h4>                                        
                                    <p class="card-text">
                                        Os quartos do Trade Hotel possuem decoração contemporânea, ar-condicionado e Wi-Fi gratuito. Aproveite piscina, restaurante, recepção 24h e 10% de desconto com o cupom EDUCOMP2025.
                                    </p>

                                    <p class="card-text">
                                        <strong><i class="fas fa-map-marker-alt"></i> Localização: </strong>Av. Presidente Itamar Franco, 3800 - Cascatinha, Ao lado do Independência Shopping<br>
                                        <strong><i class="fas fa-ruler"></i> Distâncias:</strong><br>
                                        - 750m da UFJF<br>
                                        - 7,8km da Rodoviária
                                    </p>

                                    <p class="card-text">
                                        <i class="fas fa-phone"></i> (32) 3025-7500<br>
                                        <i class="fas fa-mobile-alt"></i> (32) 98504-6373<br>
                                        <i class="fas fa-envelope"></i> reservas@tradejf.com.br
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Nobile Hotel -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <!-- Imagem -->
                            <div class="mt-3 col-lg-6 col-md-12 order-lg-1 order-md-1 order-1 align-self-start">
                                <img class="img-fluid m-1" 
                                    alt="Fachada do Nobile Hotel em Juiz de Fora"
                                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/112339931.jpg?k=e95378fa8b64ddf0317c17423ef43913065c3a53ba5a284378ef0a17896f0bb7&o=&hp=1" 
                                    style="border-radius: 15px;" />
                            </div>
                            <!-- Info -->
                            <div class="col-lg-6 col-md-12 order-lg-2 order-md-2 order-2 d-flex justify-content-start">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        <i class="fas fa-hotel"></i> Nobile Hotel
                                        <span class="badge bg-success ml-2">Hotel Parceiro</span>
                                    </h5>
                                    <p class="card-text">
                                       O Nobile Hotel Juiz de Fora é localizado na Avenida Presidente Itamar Franco, no centro da cidade. 
                                       As tarifas incluem café da manhã servido em seu restaurante e Wi-Fi em todas as áreas do
                                       hotel.
                                    </p>
                                    
                                    <p class="card-text">
                                        <strong><i class="fas fa-map-marker-alt"></i> Localização:</strong> Av. Presidente Itamar Franco 570 - Centro<br>
                                        <strong><i class="fas fa-ruler"></i> Distâncias:</strong><br>
                                        - 5, 3km da Rodoviária
                                    </p>

                                    <p class="card-text">
                                        <i class="fas fa-phone"></i> (32) 3512-3100<br>
                                        <i class="fas fa-mobile-alt"></i> (32) 99959-9209<br>
                                        <i class="fas fa-envelope"></i> reservas.nejf@nobilehoteis.com.br
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Victory Business -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <!-- Imagem -->
                            <div class="mt-3 col-lg-6 col-md-12 order-lg-1 order-md-1 order-1 align-self-start">
                                <img class="img-fluid m-1" 
                                    alt="Fachada do Victory Business Hotel"
                                    src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/1b/06/c7/a7/victory-business-hotel.jpg?w=700&h=-1&s=1" 
                                    style="border-radius: 15px;" />
                            </div>
                            <!-- Info -->
                            <div class="col-lg-6 col-md-12 order-lg-2 order-md-2 order-2 d-flex justify-content-start">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        <i class="fas fa-hotel"></i> Victory Business
                                        <span class="badge bg-success ml-2">Hotel Parceiro</span>
                                    </h5>
                                    <p class="card-text">
                                        Localizado no coração do bairro São Mateus, oferece descontos exclusivos para participantes do Educomp e SBC-EB 2025.
                                    </p>

                                    <p class="card-text">
                                        <strong><i class="fas fa-map-marker-alt"></i> Localização:</strong> Av. Presidente Itamar Franco, 1850 - São Mateus<br>
                                        <strong><i class="fas fa-ruler"></i> Distâncias:</strong><br>
                                        - 2,6km da UFJF<br>
                                        - 5,7km da Rodoviária
                                    </p>

                                    <p class="card-text">
                                        <i class="fas fa-phone"></i> (32) 3249-1851 / (32) 3249-1853<br>
                                        <i class="fas fa-mobile-alt"></i> (32) 98465-6899<br>
                                        <i class="fas fa-envelope"></i> centraldereservas@victoryhoteis.com
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                 <!-- Victory Suites -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <!-- Imagem -->
                            <div class="mt-3 col-lg-6 col-md-12 order-lg-1 order-md-1 order-1 align-self-start">
                                <img class="img-fluid m-1" 
                                    alt="Fachada do Victory Suites Hotel"
                                    src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/399112484.jpg?k=15e3bed4e4e66c5ef00f74f7527e6b4e58a72f49541e15a5a90c1fab45c1deec&o=&hp=1" 
                                    style="border-radius: 15px;" />
                            </div>
                            <!-- Info -->
                            <div class="col-lg-6 col-md-12 order-lg-2 order-md-2 order-2 d-flex justify-content-start">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        <i class="fas fa-hotel"></i> Victory Suites
                                        <span class="badge bg-success ml-2">Hotel Parceiro</span>
                                    </h5>
                                    <p class="card-text">
                                        Localizado na região central da cidade, no mesmo prédio do tradicional “Bar do Bigode”, que conta com cardápio tipicamente mineiro, além do torresmo de ponta, um clássico juiz-forano.
                                    </p>

                                    <p class="card-text">
                                        <strong><i class="fas fa-map-marker-alt"></i> Localização:</strong> Rua Chanceler Oswaldo Aranha, 20. São Mateus<br>
                                        <strong><i class="fas fa-ruler"></i> Distâncias:</strong><br>
                                        - 5,7km da Rodoviária
                                    </p>

                                    <p class="card-text">
                                        <i class="fas fa-phone"></i> (32) 3249-1851 <br>
                                        <i class="fas fa-mobile-alt"></i> (32) 98465-6899<br>
                                        <i class="fas fa-envelope"></i> centraldereservas@victoryhoteis.com
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <!-- Imagem -->
                            <div class="mt-3 col-lg-6 col-md-12 order-lg-1 order-md-1 order-1 align-self-start">
                                <img class="img-fluid m-1" 
                                    alt="Fachada do Cesar Park Hotel"
                                    src="https://cesarparkhotel.com.br/wp-content/uploads/2023/07/cesar-park-hotel-24.jpg" 
                                    style="border-radius: 15px;" />
                            </div>
                            <!-- Info -->
                            <div class="col-lg-6 col-md-12 order-lg-2 order-md-2 order-2 d-flex justify-content-start">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        <i class="fas fa-hotel"></i> Cesar Park Hotel
                                        <span class="badge bg-success ml-2">Hotel Parceiro</span>
                                    </h5>
                                    <p class="card-text">
                                        O Cesar Park Hotel, localizado na Avenida Getúlio Vargas em frente à bela Praça Antônio Carlos, o hotel oferece uma vista panorâmica 
                                        incrível da cidade a partir da piscina na cobertura.
                                    </p>

                                    <p class="card-text">
                                        <strong><i class="fas fa-map-marker-alt"></i> Localização:</strong> Av. Getúlio Vargas, 181. Centro<br>
                                        <strong><i class="fas fa-ruler"></i> Distâncias:</strong><br>
                                        - 5,2km da Rodoviária
                                    </p>

                                    <p class="card-text">
                                        <i class="fas fa-phone"></i> (32) 3215-4898 <br>
                                        <i class="fas fa-mobile-alt"></i> (32) 3215-4898<br>
                                        <i class="fas fa-envelope"></i> cesarparkhoteljf@gmail.com
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Premier Parc Hotel -->
                <div class="row d-flex justify-content-center">
                    <div class="card mb-3 col-md-12 border-0">
                        <div class="row g-0 align-items-center d-flex justify-content-between">
                            <!-- Imagem -->
                            <div class="mt-3 col-lg-6 col-md-12 order-lg-1 order-md-1 order-1 align-self-start">
                                <img class="img-fluid m-1" 
                                    alt="Fachada do Premier Parc Hotel em Juiz de Fora"
                                    src="https://premierparchotel.com.br/wp-content/uploads/2022/03/luxo.png" 
                                    style="border-radius: 15px;" />
                            </div>
                            <!-- Info -->
                            <div class="col-lg-6 col-md-12 order-lg-2 order-md-2 order-2 d-flex justify-content-start">
                                <div class="card-body">
                                    <h5 class="card-title" style="font-size: 1.3rem;">
                                        <i class="fas fa-hotel"></i> Premier Parc Hotel
                                        <span class="badge bg-success ml-2">Hotel Parceiro</span>
                                    </h5>
                                    <p class="card-text">
                                       Localizado na entrada da cidade, em frente ao Parque da Lajinha, um dos cartões postais de Juiz de Fora. 
                                       O hotel oferece diárias com valores especiais para os participantes do evento.
                                       Informe o código <strong>SimposioBrasileiro0425</strong> quando fizer a reserva e garanta <strong>10% de desconto</strong> na sua hospedagem. 
                                    </p>
                                    
                                    <p class="card-text">
                                        <strong><i class="fas fa-map-marker-alt"></i> Localização:</strong> Avenida Deusdedith Salgado, 1.805. Teixeiras<br>
                                        <strong><i class="fas fa-ruler"></i> Distâncias:</strong><br>
                                        - 9,8 km da Rodoviária<br>
                                        - 4,7 km até o local do evento na UFJF
                                    </p>

                    

                                    <p class="card-text">
                                        <i class="fas fa-phone"></i> (32) 3250-1700<br>
                                        <i class="fas fa-mobile-alt"></i> (32) 99871-2468<br>
                                        <i class="fas fa-envelope"></i> reservas@premierparchotel.com.br
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>

</div>