<div id="local">
  <section id="apresentacao">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Os hotéis a seguir são parceiros do EduComp 2025 e do SBC-EB 2025.
            No momento da reserva, informe ao hotel que participará do evento para garantir condições especiais.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="hoteis">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Hotéis parceiros</h2>

          <div class="row mb-5">
            <div class="col-md-4 hotel-foto-container">
              <img class="img-fluid hotel-foto" alt="Fachada do Trade Hotel" src="/img/simposio/2025/comum/jf/hoteis/trade.jpg"/>
            </div>
            <div class="col-md-8 hotel-desc">
              <h3>Trade Hotel</h3>
              <p>
                Situado ao lado do Shopping Independência e a apenas 750m da UFJF, o Trade Hotel possui recepção 24h, piscina e restaurante.
                Os quartos possuem decoração contemporânea, ar-condicionado e Wi-Fi gratuito.
                O hotel está oferecendo diárias com 10% de desconto para os participantes do evento através do cupom: EDUCOMP2025
                <span class="footnote">*Exclusivo para reservas através da central de atendimento e site.</span>
              </p>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">Av. Presidente Itamar Franco, 3800 - Cascatinha. (750m da UFJF)</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa fa-phone"></i>
                  <p class="m-0">(32) 3025-7500</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp"></i>
                  <p class="m-0"><a href="https://whatsa.me/5532985046373" target="_blank">(32) 98504-6373</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-regular fa-envelope"></i>
                  <p class="m-0"><a href="mailto:reservas@tradejf.com.br">reservas@tradejf.com.br</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fas fa-link"></i>
                  <p class="m-0"><a href="https://www.tradejf.com.br" target="_blank">https://www.tradejf.com.br</a></p>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-4 hotel-foto-container">
              <img class="img-fluid hotel-foto" alt="Fachada do Hotel Nobile" src="/img/simposio/2025/comum/jf/hoteis/nobile.jpg"/>
            </div>
            <div class="col-md-8 hotel-desc">
              <h3>Nobile Hotel</h3>
              <p>
                O Nobile Hotel está no coração da cidade de Juiz de Fora.
                As acomodações são equipadas com ar condicionado, frigobar, cofre eletrônico, TV a cabo, internet Wi-Fi, mesa de trabalho e amenities de banho.
                O café da manhã é cortesia e há estacionamento disponível.
                Fácil acesso a restaurantes, comércio e à UFJF.
              </p>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">Av. Presidente Itamar Franco, 570 - Centro. (4Km da UFJF)</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa fa-phone"></i>
                  <p class="m-0">(32) 3512-3100</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp"></i>
                  <p class="m-0"><a href="https://whatsa.me/5532999599209" target="_blank">(32) 99959-9209</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-regular fa-envelope"></i>
                  <p class="m-0"><a href="mailto:reservas.nejf@nobilehoteis.com.br">reservas.nejf@nobilehoteis.com.br</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fas fa-link"></i>
                  <p class="m-0"><a href="https://www.nobilehoteis.com.br/sudeste/minas-gerais/nobile-hotel-juiz-de-fora/" target="_blank">https://www.nobilehoteis.com.br/sudeste/minas-gerais/nobile-hotel-juiz-de-fora/</a></p>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-4 hotel-foto-container">
              <img class="img-fluid hotel-foto" alt="Fachada do Hotel Victory Business" src="/img/simposio/2025/comum/jf/hoteis/victory-business.jpg"/>
            </div>
            <div class="col-md-8 hotel-desc">
              <h3>Victory Business</h3>
              <p>
                O Victory Business Hotel está estrategicamente localizado no bairro São Mateus, próximo aos bares mais famosos da cidade e também ao Shopping Independência.
                Desfrute de quartos modernos com Wi-Fi gratuito, piscina na cobertura, sauna e espaço fitness.
                Ideal para quem busca conforto e praticidade em Juiz de Fora.
              </p>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">Av. Presidente Itamar Franco, 1850 - São Mateus. (2,6Km da UFJF)</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa fa-phone"></i>
                  <p class="m-0">(32) 3249-1851 / (32) 3249-1853</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp"></i>
                  <p class="m-0"><a href="https://whatsa.me/5532984656899" target="_blank">(32) 98465-6899</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-regular fa-envelope"></i>
                  <p class="m-0"><a href="mailto:centraldereservas@victoryhoteis.com">centraldereservas@victoryhoteis.com</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fas fa-link"></i>
                  <p class="m-0"><a href="https://www.victoryhoteis.com" target="_blank">https://www.victoryhoteis.com</a></p>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-4 hotel-foto-container">
              <img class="img-fluid hotel-foto" alt="Fachada do Hotel Victory Suites" src="/img/simposio/2025/comum/jf/hoteis/victory-suites.jpg"/>
            </div>
            <div class="col-md-8 hotel-desc">
              <h3>Victory Suites</h3>
              <p>
                O Victory Suites está localizado no bairro São Mateus, próximo a um animado corredor gastronômico.
                As suítes amplas oferecem varanda privativa, área de estar, ar-condicionado, TV a cabo, Wi-Fi gratuito e cozinha compacta com cooktop ou micro-ondas. 
                Desfrute de comodidades como piscina na cobertura, sauna e espaço fitness.
              </p>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">Rua Chanceler Oswaldo Aranha, 20 - São Mateus. (3,2Km da UFJF)</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa fa-phone"></i>
                  <p class="m-0">(32) 3249-1851</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp"></i>
                  <p class="m-0"><a href="https://whatsa.me/5532984656899" target="_blank">(32) 98465-6899</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-regular fa-envelope"></i>
                  <p class="m-0"><a href="mailto:centraldereservas@victoryhoteis.com">centraldereservas@victoryhoteis.com</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fas fa-link"></i>
                  <p class="m-0"><a href="https://www.victoryhoteis.com" target="_blank">https://www.victoryhoteis.com</a></p>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-4 hotel-foto-container">
              <img class="img-fluid hotel-foto" alt="Fachada do Cesar Park Hotel" src="/img/simposio/2025/comum/jf/hoteis/cesar-park.jpg"/>
            </div>
            <div class="col-md-8 hotel-desc">
              <h3>Cesar Park Hotel</h3>
              <p>
                O Cesar Park Hotel está situado em frente à bela Praça Antônio Carlos, a apenas 50 metros do centro comercial de Juiz de Fora.
                Desfrute de quartos espaçosos com ar-condicionado, TV e frigobar.
                O hotel oferece ainda uma piscina na cobertura com vista panorâmica da cidade, além de academia e estacionamento.
              </p>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">Av. Getúlio Vargas, 181 - Centro. (4Km da UFJF)</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa fa-phone"></i>
                  <p class="m-0">(32) 3215-4898</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp"></i>
                  <p class="m-0"><a href="https://whatsa.me/553232154898" target="_blank">(32) 3215-4898</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-regular fa-envelope"></i>
                  <p class="m-0"><a href="mailto:cesarparkhoteljf@gmail.com">cesarparkhoteljf@gmail.com</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fas fa-link"></i>
                  <p class="m-0"><a href="https://cesarparkhotel.com.br" target="_blank">https://cesarparkhotel.com.br</a></p>
                </li>
              </ul>
            </div>
          </div>

          <div class="row mb-5">
            <div class="col-md-4 hotel-foto-container">
              <img class="img-fluid hotel-foto" alt="Fachada do Premier Parc Hotel" src="/img/simposio/2025/comum/jf/hoteis/premier-parc.jpg"/>
            </div>
            <div class="col-md-8 hotel-desc">
              <h3>Premier Parc Hotel</h3>
              <p>
                O Premier Parc Hotel está localizado em frente ao Parque da Lajinha. 
                Os apartamentos são equipados com ar-condicionado, TV e frigobar. 
                Desfrute de comodidades como piscina ao ar livre, academia e restaurante com vista para o parque.
                O hotel está oferecendo diárias com 10% de desconto para os participantes do evento através do cupom: SimposioBrasileiro0425
                <span class="footnote">*Exclusivo para reservas através da central de atendimento e site.</span>
              </p>
              <p>
            
              </p>

              <ul class="list list-icons list-icons-lg list-unstyled align-items-bottom">
                <li class="d-flex align-items-center"><i class="fas fa-map-marker-alt"></i>
                  <p class="m-0">Avenida Deusdedith Salgado, 1805 - Teixeiras. (2,5Km da UFJF)</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa fa-phone"></i>
                  <p class="m-0">(32) 3250-1700</p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-brands fa-whatsapp"></i>
                  <p class="m-0"><a href="https://whatsa.me/5532998712468" target="_blank">(32) 99871-2468</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fa-regular fa-envelope"></i>
                  <p class="m-0"><a href="mailto:reservas@premierparchotel.com.br">reservas@premierparchotel.com.br</a></p>
                </li>
                <li class="d-flex align-items-center"><i class="fas fa-link"></i>
                  <p class="m-0"><a href="https://premierparchotel.com.br" target="_blank">https://premierparchotel.com.br</a></p>
                </li>
              </ul>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>
