<div class="container edc-font container-common">
    <header class="d-flex justify-content-center align-items-center">
        <h1></h1>
    </header>

    <!--Descrição/introdução -->
    <section class="row justify-content-center">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- sections -->
    <section>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 p-0">
                    <div class="mb-10 d-block">
                        <h2 class="mb-10 d-block"></h2>
                    </div>
                    <p></p>
                </div>
            </div>
        </div>
    </section>

    <!-- Conjunto de Imagens -->
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="col-12 col-md-4 mb-5 d-flex justify-content-center align-items-center">
                <a class="imagelink" href="">
                    <img class="imglogos img-fluid" alt="" src="" />
                </a>
            </div>
            <div class="col-12 col-md-4 mb-5 d-flex justify-content-center align-items-center">
                <a class="imagelink" href="">
                    <img class="imglogos img-fluid" alt="" src="" />
                </a>
            </div>
            <div class="col-12 col-md-4 mb-5 d-flex justify-content-center align-items-center">
                <a class="imagelink" href="">
                    <img class="imglogos img-fluid" alt="" src="" />
                </a>
            </div>

        </div>
    </div>

    <!-- Card Texto + Imagem -->

    <div class="container">
        <div class="mb-10 d-block">
            <h2 class="mb-1 d-block" style="font-weight: bold;"></h2>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="card mb-3 col-md-12 border-0">
                <div class="row g-0 align-items-center d-flex justify-content-between">
                    <div class="col-lg-5 col-md-12 order-lg-1 order-md-1 order-1 align-items-stretch">
                        <img class="img-fluid m-1 h-100" alt=""
                            src=""
                            style="border-radius: 15px;" />
                    </div>
                    <div class="col-lg-7 col-md-12 order-lg-2 order-md-2 order-2 d-flex align-items-center">
                        <div class="card-body">
                            <h5 class="card-title" style="font-size: 1.3rem;">
                                
                            </h5>
                            <p class="card-text">
                                
                            </p>
                            <p></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>