{{> simposio/2022/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Trabalhos Aceitos</h2>
          <br>
          
          <div class="accordion mb-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="trilha1-acordeao">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h4>Trilha 1: Artigos de Pesquisa</h4>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="trilha1-acordeao" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Artefatos computacionais são considerados criativos?</b> <br>   
                                Nathalia Alves, Christiane von Wangenheim, Lúcia Martins-Pacheco, Adriano Borgatto
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Association of Positive and Negative Feelings with Anxiety and Depression Symptoms among Computer Science Students during the COVID-19 Pandemic</b> <br>   
                                Lígia Maria Soares Passos, Christian Murphy, Rita Zhen Chen, Marcos Gonçalves Santana, Giselle Soares Passos
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Estudantes com Deficiência Visual em Computação: participação, perspectivas e desafios enfrentados</b> <br>   
                                Lais Farias Alves, Larissa Rocha Soares, Claudia Pinto Pereira, Ivan Machado, Windson Viana, Nailton Almeida Junior
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Fingerprints in a computer science course profile: Early results from the BLIND Educational Data Warehouse</b> <br>   
                                Igor Alberte Eleutério, Marcos Bedo, Daniel de Oliveira, Luiz Olmes Carvalho, Lucio Fernandes Dutra Santos
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Linguagens visuais para o ensino de programação: uma revisão da literatura com foco em paradigmas de programação</b> <br>   
                                Marina Silva, Ana Paula Ludtke Ferreira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Panorama Sobre Iniciativas para Promover o Pensamento Computacional no Ensino Superior Brasileiro</b> <br>   
                                Iago Sinésio Ferris Silva, Taciana Pontual Falcão
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Primeiro Impacto: Análise dos Tópicos Mais Abordados em Disciplinas de Introdução à Programação em Nível Superior</b> <br>   
                                Eryck Silva, Ricardo Caceffo, Rodolfo Azevedo
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Roteiros de estudo para aulas invertidas na disciplina de estrutura de dados</b> <br>   
                                Bianca Souza, Maria Elanne Rodrigues, Necio Veras, Mayara da Silva Olivindo, Windson Viana, Lincoln Rocha
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>The Impacts of Emergency Remote Learning in a Computer Science Programming Course: a Case Study</b> <br>   
                                Jean Hauck, Thaís Idalino
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Uma avaliação comparativa entre métricas de erro em um curso introdutório de programação com Python</b> <br>   
                                Luis Gustavo Araújo, Roberto Bittencourt, Christina von Flach
                            </td>
                            </tr>
                        </table>
                         
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#membrosComunidade" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 2: Relatos de Experiência</h4>
                        </button>
                    </h2>
                </div>

                <div id="membrosComunidade" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>AmongNET Game: Um relato de experiência do uso da Virtualidade e da Realidade Aumentada no Ensino Remoto Emergencial de Redes de Computadores</b> <br>   
                                Windson Viana, Erivan Lima, Ricardo Rodrigues Pereira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Compreendendo as três partes fundamentais dos algoritmos com o auxílio da Computação Desplugada: relato de experiência</b> <br>   
                                Graziela Guarda, Sérgio Crespo C. S. Pinto, Sandro Rezende
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Ensino de habilidades socioemocionais: um estudo de caso empregando mídias audiovisuais e conversação online</b> <br>   
                                Julian Araujo, Laiza Ribeiro, Patricia Jaques
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Pensamento Computacional na Oficina ?Ginástica Cerebral? para Pessoas Idosas</b> <br>   
                                Tainã Tavares, Marcia Kniphoff da Cruz, Samanta Marques
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Playfulness as a Pedagogical Approach to Teaching Sequential and Binary Search Algorithms</b> <br>   
                                Graziela Guarda, Sérgio Crespo C. S. Pinto, Sandro Rezende
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Técnicas e Tecnologias Diversas no Ensino Remoto Emergencial de Engenharia de Software</b> <br>   
                                Ronney Moreira de Castro, Tadeu Classe, Sean Siqueira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Um Modelo de Ensino Virtual de Engenharia de Software Orientado por Competências, Times e Projetos</b> <br>   
                                Johnny Marques, Karla Fook
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Use of an Art and Culture Space, as an Interaction Metaphor, for the Study of UX Design</b> <br>   
                                Elizabeth Furtado
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Utilização do APP Bitmoji na Criação de Personagens de Histórias em Quadrinhos sobre Computação</b> <br>   
                                Almir de Oliveira Costa Junior, José Anglada, Andrey Guedes, Gabriel Souza
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Weasels e a construção de conhecimento em Segurança Ofensiva</b> <br>   
                                Daniel Dalalana Bertoglio, Henry Nunes, Pedro Filippi, Avelino Zorzo
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaCurriculo" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 3: Currículos</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaCurriculo" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Analisando os Dados do Percurso Acadêmico do Curso de Sistemas de Informação para Auxiliar na Revisão do PPC</b> <br>   
                                Roberto do Nascimento, Gabriela Diana S. de Sousa, Mariana Nascimento, Josivan Reis
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Prática do Pensamento Computacional e da Língua Inglesa utilizando o Scratch: uma sequência didática</b> <br>   
                                Reinildo Souza da Silva, Claudia Pinto Pereira
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Processo de Construção do Currículo de Referência em uma Instituição de Ensino</b> <br>   
                                Jussara Matos, Teresa Helena Martins
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaRecursos" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 4: Recursos e Ambientes Educacionais</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaRecursos" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>Ferramenta interativa para o ensino de compiladores</b> <br>   
                                Wilson Branco Neto, Wagner Graciano Junior, Iara Grossert, Alex Avila
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Jogo digital educacional para desenvolvimento do Pensamento Computacional para crianças com Deficiência Intelectual</b> <br>   
                                Taynara Dutra, André E. G. Ferreira, Isabela Gasparini, Eleandro Maschio
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Machine Teaching: uma ferramenta didática e de análise de dados para suporte à cursos introdutórios de programação</b> <br>   
                                Laura Moraes, Carla Delgado, João Pedro Freire, Carlos Pedreira
                            </td>
                            </tr>                            
                            <tr>
                            <td>
                                <b>Os Pequenos Inventores: Um Recurso para o Ensino de Computação para Crianças</b> <br>   
                                Aline de S. M. dos Santos, Wellington Pereira, Rozelma França
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Plataforma para auxílio na preparação de estudantes para as avaliações do ENADE e POSCOMP</b> <br>   
                                Wilson Branco Neto, Tiago Ribeiro, Wilson Cordova Junior
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#trilhaEnsaios" aria-expanded="true" aria-controls="membrosComunidade">
                            <h4>Trilha 5: Ensaios</h4>
                        </button>
                    </h2>
                </div>

                <div id="trilhaEnsaios" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        
                        <table class="table table-striped">
                            <tr>
                            <td>
                                <b>"Fui contratado para ensinar Computação!": Um olhar sobre a suposta neutralidade político-pedagógica do professor universitário de Computação no Brasil</b> <br>   
                                Esdras Bispo Jr., Ana Beatriz Carvalho, Sérgio Paulino Abranches, Simone Santos
                            </td>
                            </tr>
                            <tr>
                            <td>
                                <b>Lack of Diversity: Are you part of the problem or its solution?</b> <br>   
                                Mirella Moro
                            </td>
                            </tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
          
         

        </div>
      </div>
    </div>
  </section>