  {{> simposio/2022/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Chamada de Trabalhos</h2>
          <br>
          <h3>Artigos Completos</h3>        
          <p class="lead" style="text-align: justify; font-size: 14pt">Artigos completos podem ser escritos em português ou inglês e devem seguir o formato do EduComp (disponível em template do Overleaf <a href="https://www.overleaf.com/latex/templates/educomp2022-template-versao-beta/xrdnfwsynbfn" target="_blank">aqui</a> e no formato Word <a href="https://drive.google.com/file/d/1YoAcKb1_alPi7lXBtRglhqkLQIH-f4mw/view?usp=sharing" target="_blank">aqui</a>), contendo o mínimo de 6 (seis) e o máximo de 10 (dez) páginas, com a possibilidade de uma página adicional apenas de referências. Artigos aceitos serão publicados no Portal de Publicações e Conteúdos Digitais da SBC – <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>. para tanto, os autores deverão preencher o Termo de Autorização de Publicação para a SBC. Na submissão, os artigos devem ser anonimizados para garantir as avaliações duplo-cegas (<i>double blind reviews</i>).</p>

          <p class="lead" style="text-align: justify; font-size: 14pt">Os artigos devem ser encaminhados a uma das seguintes trilhas.</p>       
          <br>

          <h4>
            Trilha 1: Artigos de Pesquisa
          </h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Rodrigo Duran (IFMS) | Elaine Oliveira (UFAM) | Wilkerson Andrade (UFCG) <br>
              <strong>Contato:</strong> rodrigo.duran@ifms.edu.br | elaine@icomp.ufam.edu.br | wilkerson@computacao.ufcg.edu.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt">
                <strong>Artigos de pesquisa</strong> devem seguir padrões científicos rigorosos, descrevendo questões,  fundamentos, métodos, resultados, discussões e limitações da pesquisa. Concentram-se em tópicos relevantes e de interesse atual para a educação em computação. Metodologias de pesquisa de todos os tipos são bem-vindas, incluindo métodos empíricos (qualitativos, quantitativos ou mistos), analíticos, críticos, ciência de design e outros.

            </li>
          </ul>

          <a class="btn btn-primary" href="/simposio/2022/trabalhos/criterios/trilha-1"
            target="_blank"
          >
            Critérios de Revisão (Trilha 1)
          </a>

          <br>
          <br>

          <h4>Trilha 2: Relatos de Experiência</h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Windson Carvalho (UFC) | Fabiane Benitti (UFSC) <br>
              <strong>Contato:</strong> windson@virtual.ufc.br | fabiane.benitti@ufsc.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos de relato de experiência</strong> devem descrever cuidadosamente uma intervenção de educação em computação e seu contexto. Devem trazer detalhes suficientes que permitam a adoção por terceiros, além de oferecer uma reflexão aprofundada sobre  seus aspectos positivos e negativos, assim como as limitações da intervenção realizada.  
             </li>
          </ul>

          <a class="btn btn-primary" href="/simposio/2022/trabalhos/criterios/trilha-2"
            target="_blank"
          >
            Critérios de Revisão (Trilha 2)
          </a>
          
          <br>
          <br>

          <h4>Trilha 3: Currículos</h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Adão Cambraia (IFFAR) | Mônica Massa (UNEB)
 <br>
              <strong>Contato:</strong> adao.cambraia@iffarroupilha.edu.br | monicamassa@gmail.com
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>Artigos sobre currículos</strong> devem discutir currículos, cursos ou  programas na área de computação, mas também podem incluir artigos de posicionamento (position papers). Devem descrever o contexto que motivou a  iniciativa, seus fundamentos pedagógicos com explicitações e análises de referenciais teóricos, o que foi necessário para implementá-la, seu  potencial impacto e as recomendações para adoção por outros educadores. Artigos de  posicionamento devem gerar uma discussão acadêmica proveitosa por meio de uma  opinião defensável sobre um currículo, curso ou programa proposto na área de computação, substanciado por evidências.</li>
          </ul>

          <a class="btn btn-primary" href="/simposio/2022/trabalhos/criterios/trilha-3"
            target="_blank"
          >
            Critérios de Revisão (Trilha 3)
          </a>
          
          <br>
          <br>
          
          <h4 >Trilha 4: Recursos e Ambientes Educacionais</h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Ellen Francine (USP) | Aracele Fassbinder (IFSulDeMinas)

 <br>
              <strong>Contato:</strong> francine@icmc.usp.br | aracele.garcia@muz.ifsuldeminas.edu.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt"> <strong>
                Artigos sobre recursos educacionais</strong> devem apresentar recursos educacionais específicos  para a educação em computação em um ou mais níveis da educação formal ou não formal. Devem descrever: a motivação para a criação do recurso educacional; os  fundamentos teóricos e/ou pedagógicos que embasam sua concepção; a organização do  material (e.g., objetivos, conteúdo, dentre outros elementos); a dinâmica de uso do  recurso, de preferência associada a um cenário real onde ele foi ou será testado, além  de detalhes suficientes que permitam a replicação de seu uso por educadores; o tipo de licença (se pertinente); e uma  reflexão teórico-crítica sobre o seu potencial ou real impacto. Todo e qualquer conteúdo que seja utilizado para fins educacionais pode ser considerado um recurso educacional. Recursos educacionais típicos incluem (mas não estão limitados a) livros didáticos, planos de aula, softwares educacionais, jogos educativos, vídeos, áudios, imagens e até mesmo cursos completos (como MOOCs, por exemplo).
            </li>
            <li class="lead" style="text-align: justify; font-size: 14pt"> 
                <strong>Artigos sobre ambientes e plataformas educacionais</strong> devem apresentar ambientes e plataformas  inovadoras de software e/ou hardware para apoiar o ensino ou a aprendizagem de  computação. Devem descrever a motivação para a criação do ambiente/plataforma;  fundamentos teóricos e/ou pedagógicos que embasam sua concepção; principais  funcionalidades e potenciais usuários; exemplo de uso, possivelmente com uma prova de conceito e telas que ilustram a interface (quando aplicável); arquitetura do ambiente/plataforma com enfoque em seus principais componentes e nas interfaces entre eles;  breve comparação com outras plataformas relacionadas existentes; e o tipo de licença (se pertinente).
</li>
          </ul style="text-align: justify; font-size: 14pt">
          
          <a class="btn btn-primary" href="/simposio/2022/trabalhos/criterios/trilha-4"
            target="_blank"
          >
            Critérios de Revisão (Trilha 4)
          </a>
          
          <br>
          <br>

          <h4>
            Trilha 5: Ensaios
          </h4>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Taciana Pontual (UFRPE) | André Lemos (IFTM) <br>
              <strong>Contato:</strong> taciana.pontual@ufrpe.br | andre.lemos@iftm.edu.br
          </div>

          <ul>
            <li class="lead" style="text-align: justify; font-size: 14pt">
              <strong>Ensaios</strong> devem apresentar argumentação de natureza crítico-reflexiva, bem  fundamentada, buscando originalidade e profundidade no enfoque, sem, contudo,  explorar o tema de forma exaustiva. Têm o propósito de expor ideias e pontos de vista  dos autores sobre determinado tema; revisar e analisar assuntos e interpretações; e  debater ideias e opiniões, através de pesquisa bibliográfica e/ou evidências empíricas.
            </li>
          </ul>         

          
          <a class="btn btn-primary" href="/simposio/2022/trabalhos/criterios/trilha-5"
            target="_blank"
          >
            Critérios de Revisão (Trilha 5)
          </a>

          <br>
          <br>
          
          <h3>
            Laboratório de Ideias
          </h3>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Ana Liz Oliveira (UFPB) <br>
              <strong>Contato:</strong> analiz@dcx.ufpb.br
          </div>

          <p class="lead" style="text-align: justify;">
            O 
            <strong>Laboratório de Ideias</strong> é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores ou receber feedback qualificado para aquela ideia. 
          </p>

          <p class="lead" style="text-align: justify;">
            As propostas para o Laboratório de Ideias devem ser limitadas a um resumo simples de uma página em coluna dupla, com a possibilidade de uma página adicional apenas de referências e/ou agradecimentos. O resumo deve seguir o formato do EduComp (<a href="https://www.overleaf.com/latex/templates/educomp2022-template-versao-beta/xrdnfwsynbfn" target="_blank">Overleaf</a> e <a href="https://drive.google.com/file/d/1YoAcKb1_alPi7lXBtRglhqkLQIH-f4mw/view?usp=sharing" target="_blank">Word</a>). Tanto o resumo quanto o vídeo de apresentação não necessitam ser anonimizados, pois as avaliações serão simples-cegas (<i>simple-blind review</i>). No resumo simples, deve ser inserido adicionalmente o link do vídeo de apresentação da proposta de até cinco minutos de duração. É de responsabilidade dos autores que o vídeo esteja disponível em alguma plataforma na internet (e.g., YouTube) e que o link esteja liberado para acesso.
          </p>

          <p class="lead" style="text-align: justify;">
            Para o resumo simples, os autores devem submeter o arquivo em formato PDF. Os resumos podem ser escritos tanto em português quanto em inglês. Os resumos devem ser submetidos na plataforma <!--<a href="https://jems.sbc.org.br/home.cgi?c=3690" target="_blank">-->JEMS<!--</a>--> da SBC. Tanto o resumo quanto o vídeo serão avaliados por pelo menos dois revisores. Se a proposta for aceita, (i) o vídeo será apresentado, em paralelo ao evento, nas redes sociais do GIEC (<a href="https://www.facebook.com/giec.sbc/" target="_blank">Facebook</a>, <a href="https://www.youtube.com/giecsbc" target="_blank">YouTube</a>, e <a href="https://www.instagram.com/giec.sbc/" target="_blank">Instagram</a>); (ii) ao menos um dos autores da proposta aprovada deverá participar em uma das videoconferências abertas realizadas durante o evento com o propósito de debater as propostas do Laboratório de Ideias apresentadas nas redes sociais; e (iii) o resumo da proposta aprovada será publicado nos anais do evento no Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL).
          </p>
          <p class="lead" style="text-align: justify;">
            Havendo alguma questão ou dúvida, favor entrar em contato com os coordenadores do Laboratório de Ideias.</p>
          
          <br>

          <a class="btn btn-primary" href="/simposio/2022/trabalhos/criterios/lab-ideias"
            target="_blank"
          >
            Critérios de Revisão (Laboratório de Ideias)
          </a>

        </div>
      </div>
    </div>
  </section>