  {{> simposio/2022/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
            Laboratório de Ideias
          </h2>

          <div style="margin: 2em;">
            <strong>Coordenação:</strong> Ana Liz Oliveira (UFPB) <br>
              <strong>Contato:</strong> analiz@dcx.ufpb.br
          </div>

          <iframe width="560" height="315" src="https://www.youtube.com/embed/L03fGp0bdDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 

          <p class="lead" style="text-align: justify;">
            O 
            <strong>Laboratório de Ideias</strong> é um espaço para compartilhar trabalhos em andamento, ideias novas e não-testadas ou oportunidades de colaboração na área de Educação em Computação. O propósito de uma sessão do Laboratório de Ideias é iniciar uma discussão, encontrar colaboradores ou receber feedback qualificado para aquela ideia. 
          </p>

          <p class="lead" style="text-align: justify;">
            As propostas para o Laboratório de Ideias devem ser limitadas a um resumo simples de uma página em coluna dupla, com a possibilidade de uma página adicional apenas de referências e/ou agradecimentos. O resumo deve seguir o formato do EduComp (<a href="https://drive.google.com/file/d/1rEp3Iflbyg6m938OMKy7YcIm-WF_LfwR/view?usp=sharing" target="_blank">Latex</a> e <a href="https://drive.google.com/file/d/1uemthS7rGSc0pm9RWgLkU-EfUNUiPys8/view?usp=sharing" target="_blank">Word</a>). Tanto o resumo quanto o vídeo de apresentação não necessitam ser anonimizados, pois apenas as avaliações serão anônimas. No resumo simples, deve ser inserido adicionalmente o link do vídeo de apresentação da proposta de até cinco minutos de duração. É de responsabilidade dos autores que o vídeo esteja disponível em alguma plataforma na internet (e.g., YouTube) e que o link esteja liberado para acesso.
          </p>

          <p class="lead" style="text-align: justify;">
            Para o resumo simples, os autores devem submeter o arquivo em formato PDF. Os resumos podem ser escritos tanto em português quanto em inglês. Os resumos devem ser submetidos na plataforma <a href="https://jems.sbc.org.br/home.cgi?c=3953" target="_blank">JEMS</a> da SBC. Tanto o resumo quanto o vídeo serão avaliados por pelo menos dois revisores. Se a proposta for aceita, (i) o vídeo será apresentado, em paralelo ao evento, nas redes sociais do GIEC (<a href="https://www.facebook.com/giec.sbc/" target="_blank">Facebook</a>, <a href="https://www.youtube.com/giecsbc" target="_blank">YouTube</a>, e <a href="https://www.instagram.com/giec.sbc/" target="_blank">Instagram</a>); (ii) ao menos um dos autores da proposta aprovada deverá participar em uma das videoconferências abertas realizadas durante o evento com o propósito de debater as propostas do Laboratório de Ideias apresentadas nas redes sociais; e (iii) o resumo da proposta aprovada será publicado nos anais do evento no Portal de Publicações e Conteúdos Digitais da SBC – SBC OpenLib (SOL).
          </p>
          <p class="lead" style="text-align: justify;">
            Havendo alguma questão ou dúvida, favor entrar em contato com os coordenadores do Laboratório de Ideias.</p>
          
          <br>

          <a class="btn btn-primary" href="/simposio/2022/trabalhos/criterios/lab-ideias"
            target="_blank"
          >
            Critérios de Revisão (Laboratório de Ideias)
          </a>

        </div>
      </div>
    </div>
  </section>