  {{> simposio/2022/pt-BR/inside-header}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">I Workshop de Teses e Dissertações em Educação em Computação (WTD)</h2>
           <div style="margin: 2em;">
            <strong>Coordenação:</strong> Heitor Costa (UFLA) <br>
              <strong>Contato:</strong> heitor@ufla.br
          </div> 

          <iframe width="560" height="315" src="https://www.youtube.com/embed/L03fGp0bdDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>      
          
          <p class="lead" style="text-align: justify; font-size: 14pt">
              O I Workshop de Teses e Dissertações em Educação em Computação (I WTD-EduComp) é um fórum dedicado à apresentação e discussão de trabalhos de mestrado e de doutorado em Educação em Computação em desenvolvimento no Brasil. Seu objetivo é propiciar um ambiente construtivo para discussões, dando oportunidade aos estudantes de obterem <i>feedback</i> sobre os trabalhos em desenvolvimento e um posicionamento em relação à pesquisa em Educação em Computação. Além disso, pretende-se estimular a integração e a cooperação de pesquisadores da área e oferecer maior visibilidade às pesquisas em andamento para a comunidade acadêmica.
        </p>
         <p class="lead" style="text-align: justify; font-size: 14pt">
             Os trabalhos submetidos serão avaliados por, pelo menos, três membros do Comitê de Programa. Cada trabalho receberá parecer do Comitê de Programa com questionamentos e sugestões sobre o seu conteúdo. Esses comentários devem ser utilizados pelo autor na preparação da versão final do artigo. O primeiro autor deve ser um estudante de pós-graduação responsável pelo desenvolvimento da tese de doutorado ou dissertação de mestrado. Os demais autores devem ser orientador e coorientador, se for o caso. Durante o I WTD-EduComp, os trabalhos selecionados devem ser apresentados exclusivamente pelo estudante. Preza-se pela escolha de trabalhos que estejam no momento adequado para receber <i>feedback</i>, ou seja, não estejam em estágio muito inicial nem muito avançado. Durante as apresentações dos trabalhos no I WTD-EduComp, serão promovidas discussões com pesquisadores da área, especialmente convidados, e com a comunidade presente.
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
            Os tópicos de interesse do I WTD-EduComp podem ser consultados <a href="https://www.educompbrasil.org/simposio/2022/trabalhos/topicos-de-interesse" target="_blank">aqui</a>.
        </p>

        <h3>Preparação e Submissão dos Artigos</h3>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            A submissão ao I WTD-EduComp deve caracterizar o trabalho de mestrado ou doutorado. Prioridade será dada nos seguintes casos:
        </p>

        <ol class="lead" style="text-align: justify; font-size: 14pt">
            <li>Trabalhos de doutorado com proposta definida (não necessariamente aprovada)  e prazo previsto de conclusão posterior a dezembro de 2022;</li>
            <li>Trabalhos de mestrado com proposta aprovada (desejável, mas não obrigatório) e prazo previsto de conclusão posterior a julho de 2022;</li>
            <li>Trabalhos que não tenham sido aceitos ou apresentados em outros workshops de teses e dissertações.</li>
        </ol>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            Não devem ser submetidos trabalhos de mestrado ou doutorado concluídos ou em fase de conclusão, ou seja, cuja defesa esteja prevista para ocorrer próxima (antes ou depois) à data do EduComp 2022, uma vez que nesse estágio pouco se pode contribuir com o trabalho.
        </p>

        <h3>Instruções para Submissão</h3>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            Artigos podem ser escritos em português ou inglês e devem seguir o formato do EduComp (disponível em template do Overleaf <a href="https://www.overleaf.com/latex/templates/educomp2022-template-versao-beta/xrdnfwsynbfn" target="_blank">aqui</a> e no formato Word <a href="https://drive.google.com/file/d/1YoAcKb1_alPi7lXBtRglhqkLQIH-f4mw/view?usp=sharing" target="_blank">aqui</a>), contendo o máximo de 3 páginas (Mestrado) e 4 páginas (Doutorado).
        </p>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            Os artigos devem conter:
        </p>

        <ol class="lead" style="text-align: justify; font-size: 14pt">
            <li>Título do trabalho;</li>
            <li>Autores, e-mail e filiação;</li>
            <li>Resumo/<i>Abstract</i> (depende do idioma utilizado para escrever o artigo); e</li>
            <li>Palavras-chave/<i>Keywords</i> (depende do idioma utilizado para escrever o artigo.</li>
        </ol>

        <p class="lead" style="text-align: justify; font-size: 14pt">
            O conteúdo do trabalho deve ser descrito de forma clara e objetiva, incluindo os seguintes conteúdos:
        </p>
        <ol class="lead" style="text-align: justify; font-size: 14pt">
            <li>Caracterização do problema;</li>
            <li>Fundamentação teórica;</li>
            <li>Metodologia;</li>
            <li>Método para avaliar resultados;</li>
            <li>Estado atual do trabalho (quais os resultados existentes);</li>
            <li>Contribuições esperadas;</li>
            <li>Cronograma; e</li>
            <li>Comparação com trabalhos relacionados.</li>
        </ol>
        <p class="lead" style="text-align: justify; font-size: 14pt">
            Todos os artigos podem ser escritos em Português ou Inglês e submetidos utilizando por meio da plataforma <a href="https://jems.sbc.org.br/home.cgi?c=3954" target="_blank">JEMS</a>. Além do artigo, uma <a href="https://drive.google.com/file/d/1X9utLDHmJ7ffU1xaNL9RfIuxEBLG12bV/view?usp=sharing" target="_blank">Ficha de Pesquisa</a> de ser submetida no formato PDF também na plataforma JEMS. Trabalhos em formato diferente de PDF, que excedam a quantidade de páginas, violem as instruções de formato ou estejam fora do escopo do I WTD-EduComp serão rejeitados sem revisão.
        </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
            A versão final dos artigos aceitos deverá conter uma carta ou mensagem informal do orientador dando ciência e concordância com a submissão. Os trabalhos selecionados no I WTD-EduComp serão publicados nos Anais estendidos do EduComp 2022, na plataforma <a href="https://sol.sbc.org.br/" target="_blank">SBC OpenLib (SOL)</a>.
         </p>
        <p class="lead" style="text-align: justify; font-size: 14pt">
            A aceitação de um artigo implica que o estudante inscreva-se no EduComp 2022, apresente o artigo no I WTD-EduComp e disponibilize o material solicitado pela organização geral (por exemplo, o vídeo prévio de apresentação no formato solicitado pelo EduComp). Adicionalmente, para fins de agilidade no processo de publicação, os autores dos artigos aceitos deverão preencher formulários enviados pelo coordenador de publicações do EduComp nas datas estipuladas.
        </p>

        </div>
      </div>
    </div>
  </section>