<div id="polos">

  <section id="apresentacao-polo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Itacoatiara, localizada na Região Metropolitana de Manaus, conta com pouco mais de 103 mil habitantes, sendo a segunda cidade mais populosa do Estado do Amazonas.
            A cidade evolui a cada dia, preservando em seu solo vestígios históricos que remontam ao período colonial, à época da borracha e às transformações contemporâneas. 
            Do charme histórico da Velha Serpa à modernidade que impulsiona sua economia, Itacoatiara se destaca por sua rica cultura, natureza exuberante e culinária inigualável, oferecendo aos moradores e visitantes uma experiência única e autêntica.
          </p>
        </div>
      </div>
      <div class="imagem-principal row justify-content-center">
          <figure class="figure col-md-10 d-block text-center">
            <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/foto-cidade-itacaotiara-am.png" alt="Vista parcial da cidade de Itacoatiara">
            <figcaption class="figure-caption text-center">
             Itacoatiara – AM (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Yale Silva</a>)
            </figcaption>
          </figure>
      </div>
    </div>
  </section>

  <section id="historia">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>História</h2>
          <p>
           Os registros de povoamento na região remontam a 1655, quando Padre Antônio Vieira criou a Missão dos Aroaquis na Ilha de Aibi, próxima à foz do Lago do Arauató. Em 1683, padres jesuítas fundaram o núcleo urbano original na calha do Rio Madeira, posteriormente transferido para as margens do Rio Amazonas por ordem do Capitão-General Mendonça Furtado, dando origem à Itacoatiara. Em 1757, os habitantes da Aldeia dos Abacaxis foram transferidos para a margem esquerda, onde Frei João Sampaio idealizou o primeiro povoado. Em 1759, a aldeia foi elevada à categoria de vila, denominada Serpa – a terceira do Amazonas. No século XIX, a cidade enfrentou desafios como a supressão do município em 1833 e os impactos da Cabanagem, sendo restabelecida em 10 de dezembro de 1857.
          </p>
          <p>
            Em 25 de abril de 1874, a vila tornou-se cidade, adotando o nome Itacoatiara, em homenagem à origem indígena, com “itá” significando pedra e “coatiara” indicando algo gravado ou esculpido, em referência às inscrições no bairro de Jauary. Em 1932, a célebre Batalha Naval assegurou a retomada da ordem. Em 2007, sua inclusão na Região Metropolitana de Manaus impulsionou seu crescimento, consolidando-a como a segunda maior economia do Amazonas, com 103 mil habitantes.
          </p>
        </div>
      </div>
      <!--
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/placeholder.png" alt="">
          <figcaption class="figure-caption text-center">
            Legenda da foto (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/placeholder.png" alt="">
          <figcaption class="figure-caption text-center">
            Legenda da foto (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
      </div>
      -->
    </div>
  </section>
  
  <section id="gastronomia">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Gastronomia</h2>
          <p>
            Itacoatiara se destaca pela variedade e autenticidade de seus pratos. Entre os destaques, o Restaurante Panorama oferece uma vista privilegiada do Rio Amazonas; o Tacacá da Teté, próximo ao Centro Histórico, é perfeito para aquele lanche da tarde; e o Villa Food Park reúne opções variadas para todos os gostos, proporcionando experiências gastronômicas que ficam na memória.
          </p>
        </div>
      </div>
      <!--
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/placeholder.png" alt="">
          <figcaption class="figure-caption text-center">
            Legenda da foto (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/placeholder.png" alt="">
          <figcaption class="figure-caption text-center">
            Legenda da foto (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
      </div>
      -->
    </div>
  </section>
  
  <section id="lugares-para-visitar">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Lugares para visitar em Itacoatira</h2>
          <p>
            Construída a partir da 1ª Etapa do Muro de Contenção, implantada em 2008 pelo Governo do Amazonas em convênio com a Prefeitura, a Orla é um cartão-postal da cidade. A Praça do Mirante, inaugurada em 10 de maio de 2003, é um dos pontos turísticos mais visitados, onde o pôr-do-sol sobre o Rio Amazonas encanta a todos.
          </p>
          <p>
            A antiga matriz colonial, que passou por diversas reformas – inclusive após parte dela desabar no inverno de 1927 – foi reconstruída entre 1939 e 1940. Hoje, elevada à condição de catedral em 1963, ela é um dos marcos históricos e religiosos mais importantes da cidade.
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/orla-de-tacoatiara.jpg" alt="Orla de Itacoatiara e Praça do Mirante">
          <figcaption class="figure-caption text-center">
            Orla de Itacoatiara e Praça do Mirante (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Yale Silva (@itacultura)</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/catedral-nossa-senhora-do-rosario.jpg" alt="Catedral Nossa Senhora do Rosário">
          <figcaption class="figure-caption text-center">
            Catedral Nossa Senhora do Rosário (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Yale Silva (@itacultura)</a>)
          </figcaption>
        </figure>
      </div>
      
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <p>
            Conhecida como “Jardim Histórico”, a Avenida Parque se estende por mais de 1.800 metros e é ladeada por oitizeiros, formando o maior túnel verde do Brasil – um convite para caminhadas relaxantes e momentos de contemplação.
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/tunel-verde.jpg" alt="Túnel Verde da Avenida Parque">
          <figcaption class="figure-caption text-center">
           Túnel Verde da Avenida Parque (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Yale Silva (@itacultura)</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/avenida-parque.JPG" alt="Avenida Parque - Itacoatiara">
          <figcaption class="figure-caption text-center">
           Avenida Parque (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Jonas Silva</a>)
          </figcaption>
        </figure>
      </div>

      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <p>
            Localizado em frente à Catedral, o Monumento “Pedra Pintada” exibe inscrições que registram as datas de 1744 e 1754, simbolizando a passagem do sertanista Francisco Xavier de Morais e a viagem do governador Mendonça Furtado, além de remeter à presença da Igreja e dos militares portugueses na região.
          </p>
          <p>
            Inaugurada em 1968 pelo prefeito Aurélio Vieira dos Santos, a Praça Luíza Valério ou Praça do Relógio é um dos recantos mais queridos. Apesar do desaparecimento do relógio – que, na década de 80, foi removido para conserto e se perdeu –, o local continua a encantar com seu charme e a inesquecível vista do pôr-do-sol sobre o Rio Amazonas.
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/monumento-pedra-pintada.jpg" alt="Monumento “Pedra Pintada” ">
          <figcaption class="figure-caption text-center">
           Monumento “Pedra Pintada” (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Yale Silva (@itacultura)</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/praca-luiza-valerio.JPG" alt="Praça Luíza Valério ou Praça do Relógio">
          <figcaption class="figure-caption text-center">
          Praça Luíza Valério ou Praça do Relógio (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Jonas Silva</a>)
          </figcaption>
        </figure>
      </div>
      
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <p>
            Inaugurado em 2009 e administrado pela FALM, o Centro Cultural Velha Serpa é dedicado à promoção da cultura local, à realização de atividades sociais e à capacitação, reunindo a comunidade em torno da história e das tradições da Velha Serpa.
          </p>
          <p>
            Considerado o emblema de Itacoatiara, o Casarão Oscar Ramos foi originalmente construído pelos alemães no início do século XIX e serviu diferentes funções ao longo dos anos – desde sede de companhias comerciais até ser adquirido por personalidades importantes, como o português Oscar Ramos, em 1915.
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/centro-cultural-velha-serpa.jpg" alt="Centro Cultural Velha Serpa">
          <figcaption class="figure-caption text-center">
          Centro Cultural Velha Serpa (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Jonas Silva </a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/casarao-oscar-ramos.JPG" alt="Casarão Oscar Ramos">
          <figcaption class="figure-caption text-center">
          Casarão Oscar Ramos (<a href="https://prefeituradeitacoatiara.com.br/turismo/locais-para-visitar/" target="_blank">Imagem: Jonas Silva</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="como-chegar">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Como chegar?</h2>
          <p>
           Itacoatiara, situada na Região Metropolitana de Manaus, conta com o transporte terrestre como principal rota de acesso. A principal rota parte de Manaus, posicionando a cidade a aproximadamente 250 km da capital. A viagem é realizada por rodovias regionais, permitindo percorrer essa distância em cerca de 3 a 4 horas. Além disso, serviços de táxi-ônibus intermunicipais, com partidas regulares da rodoviária de Manaus, oferecem ligações frequentes entre Manaus e Itacoatiara, proporcionando uma opção prática e econômica para quem viaja por terra.
          </p>
        </div>
      </div>
  </section>

  <section id="local-evento">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Local do evento</h2>
          <p>
            O evento será realizado no Centro de Estudos Superiores de Itacoatiara e no Auditório do CETAM, ambos localizados na Av. Mário Andreazza, 2960, Jardim Florestal, CEP 69.101-603, Itacoatiara, AM.
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/cetam.jpg" alt="Av. Mário Andreazza, 2960, Jardim Florestal, CEP 69.101-603, Itacoatiara, AM.">
          <figcaption class="figure-caption text-center">
             Centro de Estudos Superiores de Itacoatiara (<a target="_blank">Imagem: Jonas Silva</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>