<div id="polos">

  <section id="apresentacao-polo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Itacoatiara, localizada na Região Metropolitana de Manaus, conta com pouco mais de 103 mil habitantes, sendo a segunda cidade mais populosa do Estado do Amazonas.
            A cidade evolui a cada dia, preservando em seu solo vestígios históricos que remontam ao período colonial, à época da borracha e às transformações contemporâneas. 
            Do charme histórico da Velha Serpa à modernidade que impulsiona sua economia, Itacoatiara se destaca por sua rica cultura, natureza exuberante e culinária inigualável, oferecendo aos moradores e visitantes uma experiência única e autêntica.
          </p>
        </div>
        <div class="imagem-principal">
          <figure class="figure col-lg-10 d-block w-100 text-center">
            <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/placeholder.png" alt="">
            <figcaption class="figure-caption text-center">
              Legenda da foto (<a href="#" target="_blank">Imagem: Autor da foto</a>)
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <section id="">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Título seção</h2>
          <p>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas nostrum exercitationem sed veritatis dolorum, repellat facere consectetur accusantium sunt maxime quis ratione eligendi culpa, optio nemo beatae quos incidunt provident!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis quas, cum quia unde libero suscipit recusandae! Earum, debitis voluptatum? Aliquid magni culpa doloribus dolor est ipsum expedita praesentium quis cupiditate!
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/placeholder.png" alt="">
          <figcaption class="figure-caption text-center">
            Legenda da foto (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/itacoatiara/placeholder.png" alt="">
          <figcaption class="figure-caption text-center">
            Legenda da foto (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

</div>