<div id="local">

  <section id="local-evento">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Local do evento</h2>
          <p>
            O SBC-EB 2025 - Polo Regional de Salvador - BA será realizado no Instituto de Computação - UFBA, localizado no campus Ondina.
            As atividades do SBC-EB-Salvador serão realizadas na Smart Class III do Instituto de Computação.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/geral-ufba.jpg" alt="Entrada principal do campus Ondina">
          <figcaption class="figure-caption text-center">
            Entrada principal do campus Ondina 
          </figcaption>
        </figure>
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/instituto-computacao.jpg" alt="Instituto de Computação">
          <figcaption class="figure-caption text-center">
            Instituto de Computação 
          </figcaption>
        </figure>
      </div>
      <div class="imagem-principal row justify-content-center w-100">
          <figure class="figure col-lg-10 d-block w-100 text-center">
            <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/sala-evento.jpg" alt="Sala onde será realizado o evento">
            <figcaption class="figure-caption text-center">
             Smart Class III do Instituto de Computação
            </figcaption>
          </figure>
        </div>
    </div>
  </section>

  <section id="ufba-instituto-computacao">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>UFBA e o Instituto de Computação</h2>
          <p>
          A Universidade Federal da Bahia é considerada a maior e mais influente universidade do Estado da Bahia e uma das mais importantes no país. Possui sede em Salvador e dois campi localizados em Vitória da Conquista e Camaçari. A UFBA integra a lista das melhores instituições de ensino superior do Brasil, tendo alcançado a nota máxima 5 na avaliação  do Ministério da Educação, em 2023. Seu corpo docente conta com mais de 2.900 professores. Atualmente, a UFBA possui mais de 48.000 estudantes regularmente matriculados, distribuídos nos mais de 100 cursos de graduação, e 140 cursos de pós-graduação (M/D).
          </p>
          <p>
           O Instituto de Computação (IC) da UFBA foi criado em 18 de Junho de 2021, mas sua história inicia em 1968, com o Departamento de Ciência da Computação, sendo a primeira instituição de ensino brasileira a oferecer um curso de graduação na área da Computação no país, o “Bacharelado em Processamento de Dados”, criado em 1969.
          </p>
          <p>
            O IC-UFBA oferece 03 cursos de Graduação: Bacharelado em Ciência da Computação, Bacharelado em Sistemas de Informação e Licenciatura em Computação, e 02 programas de Pós-Graduação, com mestrado e doutorado: PG em Ciência da Computaçāo (PGCOMP) e PG em Mecatrônica (PPGM). O IC tem, aproximadamente, 2.000 alunos ativos na graduação e na pós-graduação e atende, em média, a 4000 vagas em disciplinas por semestre.

          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/praca-das-artes-ufba.jpg" alt="Praça das Artes no campus Ondina">
          <figcaption class="figure-caption text-center">
            Praça das Artes no campus Ondina 
          </figcaption>
        </figure>
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/reitoria-ufba.png" alt="Reitoria UFBA">
          <figcaption class="figure-caption text-center">
            Reitoria UFBA 
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <section id="apresentacao-cidade">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>A cidade</h2>
          <p>
            Salvador, a capital da Bahia, é uma cidade vibrante e cheia de história, conhecida como o berço da cultura brasileira. 
            Com suas tradições únicas, paisagens deslumbrantes e uma mistura de passado e modernidade, Salvador se destaca como um polo cultural e, cada vez mais, como um centro de inovação e tecnologia no Nordeste do Brasil.
          </p>
        </div>
        <div class="imagem-principal row justify-content-center w-100">
          <figure class="figure col-lg-10 d-block w-100 text-center">
            <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/salvador.jpg" alt="Vista aérea de Salvador">
            <figcaption class="figure-caption text-center">
             Farol da Barra em Salvador - BA (<a href="https://www.flickr.com/photos/37885263@N05/4359343097" target="_blank">Imagem: Manu Dias/AGECM</a>)
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>
</div>