<div id="polos">

  <!-- Seção de Apresentação da Cidade -->
  <section id="apresentacao-cidade">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            Salvador, a capital da Bahia, é uma cidade vibrante e cheia de história, conhecida como o berço da cultura brasileira. Com suas tradições únicas, paisagens deslumbrantes e uma mistura de passado e modernidade, Salvador se destaca como um polo cultural e, cada vez mais, como um centro de inovação e tecnologia no Nordeste do Brasil.
          </p>
        </div>
        <div class="imagem-principal">
          <figure class="figure col-lg-10 d-block w-100 text-center">
            <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/salvador-vista-aerea.jpg" alt="Vista aérea de Salvador">
            <figcaption class="figure-caption text-center">
              Vista aérea de Salvador (<a href="#" target="_blank">Imagem: Autor da foto</a>)
            </figcaption>
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!-- Seção de Apresentação do Evento -->
  <section id="apresentacao-evento">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>SBC-EB 2025 - Polo Regional Salvador</h2>
          <p>
            A segunda edição do SBC-EB está sendo organizada pela Universidade Federal de Juiz de Fora (UFJF) e será realizada presencialmente entre os dias 09 e 11 de abril de 2025 na cidade sede de Juiz de Fora - MG, com polos regionais em Bandeirantes - PR, Campo Grande - MS, Salvador - BA e Itacoatiara - AM.
          </p>
          <p>
            O SBC-EB 2025 - Polo Regional-Salvador-BA será realizado no Instituto de Computação - UFBA, localizado no campus Ondina. As atividades do SBC-EB-Salvador serão realizadas na Smart Class III do Instituto de Computação.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/entrada-principal-campus-ondina.jpg" alt="Entrada principal do campus Ondina">
          <figcaption class="figure-caption text-center">
            Entrada principal do campus Ondina (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/instituto-computacao.jpg" alt="Instituto de Computação">
          <figcaption class="figure-caption text-center">
            Instituto de Computação (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

  <!-- Seção UFBA e Instituto de Computação -->
  <section id="ufba-instituto-computacao">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>UFBA e o Instituto de Computação</h2>
          <p>
            A Universidade Federal da Bahia (UFBA) é a principal instituição de ensino superior do estado, com sede em Salvador e campi em Vitória da Conquista e Camaçari. Reconhecida nacionalmente, a UFBA obteve nota máxima na avaliação do Ministério da Educação em 2023, contando com mais de 48.000 estudantes e um corpo docente de aproximadamente 2.900 professores.
          </p>
          <p>
            O Instituto de Computação (IC) da UFBA, criado oficialmente em 2021, tem origem no Departamento de Ciência da Computação de 1968, que lançou o primeiro curso de graduação em Computação do Brasil. Hoje, o IC oferece cursos de Bacharelado em Ciência da Computação, Sistemas de Informação, Licenciatura em Computação e programas de pós-graduação em Ciência da Computação e Mecatrônica.
          </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/praca-das-artes-campus-ondina.jpg" alt="Praça das Artes no campus Ondina">
          <figcaption class="figure-caption text-center">
            Praça das Artes no campus Ondina (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/salvador/smart-class-iii.jpg" alt="Smart Class III no Instituto de Computação">
          <figcaption class="figure-caption text-center">
            Smart Class III no Instituto de Computação (<a href="#" target="_blank">Imagem: Autor da foto</a>)
          </figcaption>
        </figure>
      </div>
    </div>
  </section>

</div>