<h1>INSCREVA-SE PARA O EDUCOMP + SBC-EB</h1>

<h3 id="tituloin">Valores para os dois eventos</h3>

<table border="1">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>1º Período</th>
            <th>2º Período</th>
            <th>3º Período</th>
            <th>4º Período</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Estudante associado à SBC com anuidade vigente</td>
            <td>R$ 140,00</td>
            <td>R$ 151,00</td>
            <td>R$ 165,00</td>
            <td>R$ 91,00</td>
        </tr>
        <tr>
            <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 173,00</td>
            <td>R$ 184,00</td>
            <td>R$ 198,00</td>
            <td>R$ 124,00</td>
        </tr>
        <tr>
            <td>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 173,00</td>
            <td>R$ 184,00</td>
            <td>R$ 198,00</td>
            <td>R$ 124,00</td>
        </tr>
        <tr>
            <td>Estudante não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 187,00</td>
            <td>R$ 200,00</td>
            <td>R$ 215,00</td>
            <td>R$ 134,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
            <td>R$ 196,00</td>
            <td>R$ 217,00</td>
            <td>R$ 242,00</td>
            <td>R$ 140,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 331,00</td>
            <td>R$ 352,00</td>
            <td>R$ 377,00</td>
            <td>R$ 275,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 331,00</td>
            <td>R$ 352,00</td>
            <td>R$ 377,00</td>
            <td>R$ 410,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 351,00</td>
            <td>R$ 374,00</td>
            <td>R$ 402,00</td>
            <td>R$ 289,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
            <td>R$ 182,00</td>
            <td>R$ 203,00</td>
            <td>R$ 224,00</td>
            <td>R$ 140,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 317,00</td>
            <td>R$ 338,00</td>
            <td>R$ 359,00</td>
            <td>R$ 275,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 317,00</td>
            <td>R$ 338,00</td>
            <td>R$ 359,00</td>
            <td>R$ 275,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 336,00</td>
            <td>R$ 359,00</td>
            <td>R$ 382,00</td>
            <td>R$ 289,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
            <td>R$ 383,00</td>
            <td>R$ -</td>
            <td>R$ -</td>
            <td>R$ -</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 753,00</td>
            <td>R$ 370,00</td>
            <td>R$ 370,00</td>
            <td>R$ 370,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 753,00</td>
            <td>R$ 370,00</td>
            <td>R$ 370,00</td>
            <td>R$ 370,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 792,00</td>
            <td>R$ 370,00</td>
            <td>R$ 370,00</td>
            <td>R$ 370,00</td>
        </tr>
        <tr>
            <td>Profissional associado à SBC com anuidade vigente</td>
            <td>R$ 364,00</td>
            <td>R$ 403,00</td>
            <td>R$ 448,00</td>
            <td>R$ 280,00</td>
        </tr>
        <tr>
            <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 739,00</td>
            <td>R$ 778,00</td>
            <td>R$ 823,00</td>
            <td>R$ 655,00</td>
        </tr>
        <tr>
            <td>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 739,00</td>
            <td>R$ 778,00</td>
            <td>R$ 823,00</td>
            <td>R$ 655,00</td>
        </tr>
        <tr>
            <td>Profissional não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 776,00</td>
            <td>R$ 819,00</td>
            <td>R$ 868,00</td>
            <td>R$ 683,00</td>
        </tr>
    </tbody>
</table>