<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <h1 class="mb-4">
                Comitê Gestor
            </h1>
            <p class="lead">
                O Comitê Gestor da CEducomp é responsável por facilitar os processos de organização da comunidade. Além
                dessa facilitação, há várias atribuições designadas ao comitê como um todo ou em relação aos seus
                coordenadores (conforme consta no <a
                    href="https://drive.google.com/file/d/1zzNYHMWToKMXy_CcdG8qcT1WObsSP_48/view?usp=sharing"
                    target="_blank">Regulamento da Estrutura de Grupos Temáticos da SBC </a> e no <a
                    href="https://drive.google.com/file/d/1Nm5tjHodFZ9nKEmPXVvGJpTZzEaNabeq/view?usp=sharing"
                    target="_blank">Estatuto da SBC</a>). Ele é um órgão diretivo e deliberativo.
            </p>

            <h2 class="mb-4">
                Gestão 2025-2026
            </h2>

            <table class="table table-striped mb-4">

                <tr>
                    <td>Graziela Guarda (UFF)</td>
                    <td>Coordenadora</td>
                    <td>grazielaguarda@id.uff.br</td>
                </tr>
                <tr>
                    <td>Alessandreia Marta De Oliveira (UFJF)</td>
                    <td>Vice-Coordenadora</td>
                    <td>alessandreia.oliveira@ufjf.br</td>
                </tr>
                <tr>
                    <td>Amaury Antônio de Castro Junior (UFMS)</td>
                    <td>Membro (EduComp)</td>
                    <td>amaury.junior@ufms.br</td>
                </tr>
                <tr>
                    <td>Diego Berti Bagestan (SMEd Teutônia/RS)</td>
                    <td>Membro (ForLic)</td>
                    <td>diego_bagestan@educteutonia.com.br</td>
                </tr>
                <tr>
                    <td>Gustavo de Oliveira Andrade (IFRJ)</td>
                    <td>Membro</td>
                    <td>gustavo.andrade@ifrj.edu.br</td>
                </tr>
                <tr>
                    <td>Marcela Savia Picanco Pessoa (UEA)</td>
                    <td>Membro</td>
                    <td>msppessoa@uea.edu.br</td>
                </tr>
                <tr>
                    <td>Sheila Reinehr (PUCPR)</td>
                    <td>Membro</td>
                    <td>sheila.reinehr@pucpr.br</td>
                </tr>
            </table>

            <h2 class="mb-4">
                Gestões Anteriores
            </h2>

            <div class="accordion mb-5" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="heading_2023_2024">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse_2023_2024" aria-expanded="true"
                                aria-controls="collapse_2023_2024">
                                Gestão 2023-2024
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_2023_2024" class="collapse" aria-labelledby="heading_2023_2024"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-striped mb-4">

                                <tr>
                                    <td>Rodrigo Duran (IFMS)</td>
                                    <td>Coordenador</td>
                                    <td>rodrigo.duran@ifms.edu.br</td>
                                </tr>
                                <tr>
                                    <td>Rozelma França (UFRPE)</td>
                                    <td>Vice-Coordenadora</td>
                                    <td>rozelma.franca@ufrpe.br</td>
                                </tr>
                                <tr>
                                    <td>Graziela Guarda (Mackenzie)</td>
                                    <td>Membro (EduComp)</td>
                                    <td>graziela.guarda@mackenzie.br</td>
                                </tr>
                                <tr>
                                    <td>Johnny Marques (ITA)</td>
                                    <td>Membro</td>
                                    <td>johnny@ita.br</td>
                                </tr>
                                <tr>
                                    <td>Luis Gustavo Araujo (IFBA)</td>
                                    <td>Membro</td>
                                    <td>luisaraujo.ifba@gmail.com</td>
                                </tr>
                                <tr>
                                    <td>Marcia Kniphoff (UNISC)</td>
                                    <td>Membro (ForLic)</td>
                                    <td>mcruz@unisc.br</td>
                                </tr>
                                <tr>
                                    <td>Mirella Moro (UFMG)</td>
                                    <td>Membro</td>
                                    <td>mirella@dcc.ufmg.br</td>
                                </tr>
                                <tr>
                                    <td>Pedro Henrique Valle (UFJF)</td>
                                    <td>Membro</td>
                                    <td>pedrovalle@ice.ufjf.br</td>
                                </tr>
                                <tr>
                                    <td>Sheila Reinehr (PUCPR)</td>
                                    <td>Membro</td>
                                    <td>sheila.reinehr@pucpr.br</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_2022_2023">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse_2022_2023" aria-expanded="true"
                                aria-controls="collapse_2022_2023">
                                Gestão 2022-2023
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_2022_2023" class="collapse" aria-labelledby="heading_2022_2023"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-striped mb-4">

                                <tr>
                                    <td>Roberto Bittencourt (UEFS)</td>
                                    <td>Coordenador</td>
                                    <td>roberto@uefs.br</td>
                                </tr>
                                <tr>
                                    <td>Esdras Bispo Jr. (UFJ)</td>
                                    <td>Vice-Coordenador</td>
                                    <td>bispojr@ufj.edu.br</td>
                                </tr>
                                <tr>
                                    <td>Luis Gustavo Araújo (UNIFACS)</td>
                                    <td>Membro (ForLic)</td>
                                    <td>luis.araujo@unifacs.br</td>
                                </tr>
                                <tr>
                                    <td>Mirella Moro (UFMG)</td>
                                    <td>Membro</td>
                                    <td>mirella@dcc.ufmg.br</td>
                                </tr>
                                <tr>
                                    <td>Rozelma França (UFRPE)</td>
                                    <td>Membro (EduComp)</td>
                                    <td>rozelma.franca@ufrpe.br</td>
                                </tr>
                                <tr>
                                    <td>Sheila Reinehr (PUCPR)</td>
                                    <td>Membro</td>
                                    <td>sheila.reinehr@pucpr.br</td>
                                </tr>
                                <tr>
                                    <td>Yorah Bosse (UFMS)</td>
                                    <td>Membro</td>
                                    <td>yorah.bosse@ufms.br</td>
                                </tr>
                                <tr>
                                    <td>Maici Leite (UTFPR)</td>
                                    <td>Suplente (ForLic)</td>
                                    <td>maicileite@utfpr.edu.br</td>
                                </tr>
                                <tr>
                                    <td>Taciana Pontual (UFRPE)</td>
                                    <td>Suplente (EduComp)</td>
                                    <td>taciana.pontual@ufrpe.br</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_2021_2022">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse_2021_2022" aria-expanded="true"
                                aria-controls="collapse_2021_2022">
                                Gestão 2021-2022
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_2021_2022" class="collapse" aria-labelledby="heading_2021_2022"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-striped mb-4">

                                <tr>
                                    <td>Roberto Bittencourt (UEFS)</td>
                                    <td>Coordenador</td>
                                    <td>roberto@uefs.br</td>
                                </tr>
                                <tr>
                                    <td>Esdras Bispo Jr. (UFJ)</td>
                                    <td>Vice-Coordenador</td>
                                    <td>bispojr@ufj.edu.br</td>
                                </tr>
                                <tr>
                                    <td>Heitor Costa (UFLA)</td>
                                    <td>Membro</td>
                                    <td>heitor@ufla.br</td>
                                </tr>
                                <tr>
                                    <td>Mirella Moro (UFMG)</td>
                                    <td>Membro</td>
                                    <td>mirella@dcc.ufmg.br</td>
                                </tr>
                                <tr>
                                    <td>Rozelma França (UFRPE)</td>
                                    <td>Membro (ForLic)</td>
                                    <td>rozelma.franca@ufrpe.br</td>
                                </tr>
                                <tr>
                                    <td>Taciana Falcão (UFRPE)</td>
                                    <td>Membro</td>
                                    <td>taciana.pontual@ufrpe.br</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header" id="heading_2020_2021">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                data-target="#collapse_2020_2021" aria-expanded="true" aria-controls="collapseOne">
                                Gestão Interina 2020-2021
                            </button>
                        </h2>
                    </div>

                    <div id="collapse_2020_2021" class="collapse" aria-labelledby="heading_2020_2021"
                        data-parent="#accordionExample">
                        <div class="card-body">
                            <table class="table table-striped">
                                <tr>
                                    <td>Roberto Bittencourt (UEFS)</td>
                                    <td>Coordenador</td>
                                    <td>roberto@uefs.br</td>
                                </tr>
                                <tr>
                                    <td>Esdras Bispo Jr. (UFJ)</td>
                                    <td>Vice-Coordenador</td>
                                    <td>bispojr@ufj.edu.br</td>
                                </tr>
                                <tr>
                                    <td>André Raabe (Univali)</td>
                                    <td>Membro</td>
                                    <td>raabe@univali.br</td>
                                </tr>
                                <tr>
                                    <td>Ellen Francine (ICMC/USP)</td>
                                    <td>Membro</td>
                                    <td>francine@icmc.usp.br</td>
                                </tr>
                                <tr>
                                    <td>Leandro Galvão (UFAM)</td>
                                    <td>Membro</td>
                                    <td>galvao@icomp.ufam.edu.br</td>
                                </tr>
                                <tr>
                                    <td>Rodrigo Duran (IFMS)</td>
                                    <td>Membro</td>
                                    <td>rodigo.duran@ifms.edu.br</td>
                                </tr>
                                <tr>
                                    <td>Taciana Falcão (UFRPE)</td>
                                    <td>Membro</td>
                                    <td>taciana.pontual@ufrpe.br</td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
</div>