<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">
            Comitê Gestor
        </h1>
        <p class="lead">
          O Comitê Gestor do GIEC é responsável por facilitar os processos de organização da comunidade. Além dessa facilitação, há várias atribuições designadas ao comitê como um todo ou em relação aos seus coordenadores (conforme consta no <a href="https://drive.google.com/file/d/1zzNYHMWToKMXy_CcdG8qcT1WObsSP_48/view?usp=sharing" target="_blank">Regulamento da Estrutura de Grupos Temáticos da SBC</a> e no <a href="https://drive.google.com/file/d/1Nm5tjHodFZ9nKEmPXVvGJpTZzEaNabeq/view?usp=sharing" target="_blank">Estatuto da SBC</a>). Ele é um órgão diretivo e deliberativo.
        </p>

        <h2 class="mb-4">
            Gestão Interina 2020-2021
        </h2>

        <div class="accordion" id="accordionExample">
        <div class="card">
        <div class="card-header" id="headingOne">
            <h2 class="mb-0">
                <button class="btn" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Gestão 2021-2022
                </button>
            </h2>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-striped">
                    <tr>
                        <td>Roberto Bittencourt (Coordenador)</td>	
                        <td>UEFS</td>
                    </tr>
                    <tr>
                        <td>Esdras Bispo Jr. (Vice-Coordenador)</td>	
                        <td>UFJ</td>
                    </tr>
                    <tr>
                        <td>André Raabe</td>	
                        <td>Univali</td>
                    </tr>
                    <tr>
                        <td>Ellen Francine Barbosa</td>	
                        <td>USP</td>
                    </tr>
                    <tr>
                        <td>Leandro Galvão</td>	
                        <td>UFAM</td>
                    </tr>
                    <tr>
                        <td>Rodrigo Duran</td>	
                        <td>IFMS</td>
                    </tr>
                    <tr>
                        <td>Taciana Pontual Falcão</td>	
                        <td>UFRPE</td>
                    </tr>

                </table>
            </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
                <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">        
                    <strong>Gestão Interina 2020-2021</strong>
                </button>
            </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
            <div class="card-body">
                <table class="table table-striped mb-4">
                    <tr>
                        <td>Roberto Bittencourt (Coordenador)</td>	
                        <td>UEFS</td>
                    </tr>
                    <tr>
                        <td>Esdras Bispo Jr. (Vice-Coordenador)</td>	
                        <td>UFJ</td>
                    </tr>
                    <tr>
                        <td>André Raabe</td>	
                        <td>Univali</td>
                    </tr>
                    <tr>
                        <td>Ellen Francine Barbosa</td>	
                        <td>USP</td>
                    </tr>
                    <tr>
                        <td>Leandro Galvão</td>	
                        <td>UFAM</td>
                    </tr>
                    <tr>
                        <td>Rodrigo Duran</td>	
                        <td>IFMS</td>
                    </tr>
                    <tr>
                        <td>Taciana Pontual Falcão</td>	
                        <td>UFRPE</td>
                    </tr>

                </table>
            </div>
        </div>
  </div>