<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">
          Grupos de Trabalhos (GT)
        </h1>

        <p class="lead text-justify">
          A Resolução GIEC <a href="https://drive.google.com/file/d/1CDY__O_R2qw5x5Sm1ZVhn51svvgAjeBu/view?usp=sharing" target="_blank">nº 06/2022</a> refere-se, especificamente, sobre os Grupos de Trabalhos (GT) do Grupo de Interesse em Educação em Computação (GIEC). O GT tem três objetivos:
        </p>
        <ol class="lead text-justify">
            <li>garantir novos espaços de discussão e maturação de temas inerentes à área de Educação em Computação;</li>
            <li>promover um espaço de formação e fomento de lideranças dentro da comunidade, contribuindo para uma política de boa governança do GIEC;</li>
            <li>contribuir para a solidificação dos laços dos membros do GIEC, potencializando o sentimento de pertença dentro da comunidade.</li>
        </ol>
        <p class="lead text-justify">
          Participe da nossa comunidade ou em um GT já existente ou, até mesmo, criando um novo GT. Converse com a pessoa facilitadora de algum GT (para participação) ou com alguém do nosso <a href="/quem-somos/comite-gestor">Comitê Gestor</a> (para criação).
        </p>

        <h2 class="mb-4">
          GTs Ativos
        </h2>
        <table class="table table-striped mb-4">
          <tr>
            <th style="width:20%">Grupo de Trabalho</th>	
            <th >Descrição</th>
            <th style="width:35%">Membros</th>
          </tr>
          <tr>
              <td>
                <a href="https://drive.google.com/file/d/1OlCGXULNagm6JmTISACUPt--Ou8b7zR0/view?usp=sharing" target="_blank">
                  <span style="color: rgb(9, 102, 102)">
                    <i class="fas fa-file-pdf"></i>
                  </span>
                  Ensino-Aprendizagem de Programação Introdutória
                </a>
              </td>	
              <td>
                Um dos propósitos do GT de Ensino-Aprendizagem de Programação Introdutória é apresentar e manter um panorama nacional e regional sobre o ensino de programação introdutória no ensino superior e na educação básica.
              <td>
                  <ul>
                      <li>Yorah Bosse (UFMS) [Facilitadora]</li>
                      <li>Amaury Castro Jr (UFMS) [Secretário]</li>
                      <li>Aladir Silva Jr (IFG)</li>
                      <li>Claudia Pereira (UEFS)</li>
                      <li>Deller Ferreira (UFG)</li>
                      <li>Eliane Araújo (UFCG)</li>
                      <li>Eryck Silva (UNICAMP)</li>
                      <li>Glaucia Campos (UERN)</li>
                      <li>Nayara Matos (SEEDUC-DF)</li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td>
                <a href="https://drive.google.com/file/d/1CfmNFw20yh-0dew7jWIGAhcLgjVDHaZo/view?usp=sharing" target="_blank">
                  <span style="color: rgb(9, 102, 102)">
                    <i class="fas fa-file-pdf"></i>
                  </span>
                  GT IDEA
                </a>
              </td>	
              <td>
                O GT IDEA tem como objetivo ser um espaço de reunião e discussão da comunidade de Educação em Computação em relação às temáticas que envolvem inclusão, diversidade, equidade e acessibilidade, incluindo as dimensões de justiça, acolhimento, respeito, diferenças e representatividade. 
              <td>
                  <ul>
                      <li>Esdras Bispo Jr (UFJ) [Facilitador]</li>
                      <li>Marco Graciotto (UTFPR) [Secretário]</li>
                      <li>Amanda Melo (UNIPAMPA)</li>
                      <li>André Brandão (UFABC)</li>
                      <li>Claudia Pereira (UEFS)</li>
                      <li>Juliana Santos (UFBA)</li>
                      <li>Mirella Moro (UFMG)</li>
                      <li>Sabrina Sassi (UFMT)</li>
                  </ul>
              </td>
          </tr>
          <tr>
              <td>
                <a href="https://drive.google.com/file/d/1QyXrU8vOJQTIfCxb8X27m0DkgnZLOSb8/view?usp=sharing" target="_blank">
                  <span style="color: rgb(9, 102, 102)">
                    <i class="fas fa-file-pdf"></i>
                  </span>
                  Pensamento Computacional e Formação de Professores
                </a>
              </td>	
              <td>
                O GT Pensamento Computacional e a Formação de Professores visa compreender, analisar e criar ferramentas, materiais e métodos para auxiliar na formação em PC para professores das mais diversas áreas do conhecimento.
              <td>
                  <ul>
                      <li>Taynara Dutra (IFPR) [Facilitador]</li>
                      <li>Sabrina Sassi (UFMT) [Secretária]</li>
                      <li>Ana Gonçalves (UNIOESTE)</li>
                      <li>Ana Liz Souto (UFPB)</li>
                      <li>Andréa Mendonça (IFAM)</li>
                      <li>Bianca Santana (UFBA)</li>
                      <li>Claudia Santanta (UEM)</li>
                      <li>Clodis Boscarioli (UNIOESTE)</li>
                      <li>Josiane Pinheiro (UEM)</li>
                      <li>Lucia Pacheco (UFSC)</li>
                      <li>Luciana Martimiano (UEM)</li>
                      <li>Mara Bonates (UFC)</li>
                      <li>Mariangela Deliberalli (UNIOESTE)</li>
                      <li>Taciana Pontual (UFRPE)</li>
                  </ul>
              </td>
          </tr>
        </table>

       
      </div>
    </div>
  </div>