<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">
          Membros do GIEC
        </h1>
        <p class="lead text-justify">
          As Resoluçãos GIEC <a href="https://drive.google.com/file/d/17bgewclY9uUDz4Clz_TepHPTZ8W_dmcm/view?usp=sharing" target="_blank">nº 02/2021</a> e <a href="https://drive.google.com/file/d/1EGyZ1pdw77MK2XDs7Sjmw0hk3piBYbjX/view?usp=sharing" target="_blank">nº 03/2021</a> referem-se, especificamente, sobre o como se tornar membros do Grupo de Interesse em Educação em Computação (GIEC). No GIEC, você pode ser um membro da comunidade ou um membro efetivo. 
        </p>
        <p class="lead text-justify">
          Será um prazer poder contar com você como membro efetivo do GIEC. Você pode solicitar a sua inclusão através deste <a href="https://forms.gle/4hGTjsxWBCjpgNvk6" target="_blank">formulário</a>.
        </p>

        <div class="accordion mb-5" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#membrosComunidade" aria-expanded="true" aria-controls="membrosComunidade">
                            <h3>Membros da Comunidade</h3>
                        </button>
                    </h2>
                </div>

                <div id="membrosComunidade" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped mb-4">
                            <tr>	
                                <th>Nome</th>
                                <th>Instituição</th>
                                <th>Inclusão</th>
                                <th>Vigência</th>
                            </tr>
                            <tr>	
                                <td>Adalberto Bosco Castro Pereira</td>
                                <td>Senac</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Aladir Ferreira da Silva Júnior</td>
                                <td>IFG</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Alan Henrique Pardo de Carvalho</td>
                                <td>FATECSCS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Amaury Antônio de Castro Junior</td>
                                <td>UFMS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Ana Liz Souto Oliveira</td>
                                <td>UFPB</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>André Raabe</td>
                                <td>Univali</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Andreia Malucelli</td>
                                <td>PUCPR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Angel Pena Galvão</td>
                                <td>IFPA</td>
                                <td>22/04/2021</td>
                                <td>21/04/2022</td>
                            </tr> 
                            <tr>	
                                <td>Aracele Garcia de Oliveira Fassbinder</td>
                                <td>IF Sul de Minas</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>  
                            <tr>	
                                <td>Avelino Francisco Zorzo</td>
                                <td>PUCRS</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>        
                            <tr>	
                                <td>Bruno Freitas Gadelha</td>
                                <td>UFAM</td>
                                <td>22/04/2021</td>
                                <td>21/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Carlos Emilio Padilla Severo</td>
                                <td>IFSul</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Charles Andryê Galvão Madeira</td>
                                <td>UFRN</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Christina von Flach Garcia Chavez</td>
                                <td>UFBA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Claudia Pinto Pereira</td>
                                <td>UEFS</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Cristiano Maciel</td>
                                <td>UFMT</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Dárlinton Barbosa Feres Carvalho</td>
                                <td>UFSJ</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Ecivaldo de Souza Matos</td>
                                <td>UFBA</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>
                                <td>Edson Pinheiro Pimentel</td>
                                <td>UFABC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Elaine Cristina Juvino de Araújo</td>
                                <td>IFPB</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>	
                                <td>Elaine Harada Teixeira de Oliveira</td>
                                <td>UFAM</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Eleandro Maschio Krynski</td>
                                <td>UTFPR</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>	
                                <td>Eliane Cristina de Araujo</td>
                                <td>UFCG</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Ellen Francine Barbosa</td>
                                <td>ICMC/USP</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Esdras Lins Bispo Jr.</td>
                                <td>UFJ</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Fabio Gomes Rocha</td>
                                <td>UNIT</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Fabíola Pantoja Oliveira Araújo</td>
                                <td>UFPA</td>
                                <td>22/04/2021</td>
                                <td>21/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Fernanda Gomes Silva</td>
                                <td>UFBA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Fernanda Lima</td>
                                <td>UnB</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Filipe Dwan Pereira</td>
                                <td>UFRR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Francisco de Assis Zampirolli</td>
                                <td>UFABC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Francisco Petrônio Alencar de Medeiros</td>
                                <td>IFPB</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Gleison dos Santos Souza</td>
                                <td>UNIRIO</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Guilherme Álvaro Rodrigues Maia Esmeraldo</td>
                                <td>IFCE</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Heitor Augustus Xavier Costa</td>
                                <td>UFLA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Isabela Gasparini</td>
                                <td>UDESC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Jacques Duílio Brancher</td>
                                <td>UEL</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Jean Carlo Rossa Hauck</td>
                                <td>UFSC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Johnny Cardoso Marques</td>
                                <td>ITA</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Katia Regina Pimentel Araujo</td>
                                <td>SECTET-PA/SEDUC-PA</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Kiev Gama</td>
                                <td>UFPE</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Kleber Tavares Fernandes</td>
                                <td>UFERSA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Leandro Silva Galvão de Carvalho</td>
                                <td>UFAM</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Lesandro Ponciano</td>
                                <td>PUC Minas</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Lis Ângela De Bortoli</td>
                                <td>IFRS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Marco Aurélio Graciotto Silva</td>
                                <td>UTFPR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Maristela Terto de Holanda</td>
                                <td>UnB</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Mirella Moura Moro</td>
                                <td>UFMG</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Monica de Souza Massa</td>
                                <td>UNEB</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Nathalia da Cruz Alves</td>
                                <td>UFSC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Natasha Malveira Costa Valentim</td>
                                <td>UFPR</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Paulo Sergio Lopes de Souza</td>
                                <td>ICMC/USP</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Rafael Baldiati Parizi</td>
                                <td>UFFar</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Rafael Prikladnicki</td>
                                <td>PUCRS</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Roberto Almeida Bittencourt</td>
                                <td>UEFS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Roberto Pereira</td>
                                <td>UFPR</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Rodrigo Duran</td>
                                <td>IFMS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Rodrigo Pereira dos Santos</td>
                                <td>UNIRIO</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Rogério Eduardo Garcia</td>
                                <td>UNESP</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Rozelma Soares de França</td>
                                <td>UFRPE</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Sarita Mazzini Bruschi</td>
                                <td>USP</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Sheila Reinehr</td>
                                <td>PUCPR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Soraia Silva Prietch</td>
                                <td>UFR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Taciana Pontual Falcão</td>
                                <td>UFRPE</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Victor Travassos Sarinho</td>
                                <td>UEFS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Vinicius Faria Culmant Ramos</td>
                                <td>UFSC</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>
                                <td>Walkiria Helena Cordenonzi</td>
                                <td>IFSUL</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>
                                <td>Wilk Oliveira</td>
                                <td>USP</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Wilkerson de Lucena Andrade</td>
                                <td>UFCG</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Williamson Alison Freitas Silva</td>
                                <td>Unespar</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Windson Viana de Carvalho</td>
                                <td>UFC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Yorah Bosse</td>
                                <td>UFMS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <h3>Membros Efetivos</h3>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        <table class="table table-striped mb-4">
                            <tr>	
                                <th>Nome</th>
                                <th>Instituição</th>
                                <th>Inclusão</th>
                                <th>Vigência</th>
                            </tr>
                            <tr>	
                                <td>Adalberto Bosco Castro Pereira</td>
                                <td>Senac</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Aladir Ferreira da Silva Júnior</td>
                                <td>IFG</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Alan Henrique Pardo de Carvalho</td>
                                <td>FATECSCS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Amaury Antônio de Castro Junior</td>
                                <td>UFMS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Ana Liz Souto Oliveira</td>
                                <td>UFPB</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>André Raabe</td>
                                <td>Univali</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Andreia Malucelli</td>
                                <td>PUCPR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Angel Pena Galvão</td>
                                <td>IFPA</td>
                                <td>22/04/2021</td>
                                <td>21/04/2022</td>
                            </tr> 
                            <tr>	
                                <td>Aracele Garcia de Oliveira Fassbinder</td>
                                <td>IF Sul de Minas</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>  
                            <tr>	
                                <td>Avelino Francisco Zorzo</td>
                                <td>PUCRS</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>        
                            <tr>	
                                <td>Bruno Freitas Gadelha</td>
                                <td>UFAM</td>
                                <td>22/04/2021</td>
                                <td>21/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Carlos Emilio Padilla Severo</td>
                                <td>IFSul</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Charles Andryê Galvão Madeira</td>
                                <td>UFRN</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Christina von Flach Garcia Chavez</td>
                                <td>UFBA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Claudia Pinto Pereira</td>
                                <td>UEFS</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Cristiano Maciel</td>
                                <td>UFMT</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Dárlinton Barbosa Feres Carvalho</td>
                                <td>UFSJ</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Ecivaldo de Souza Matos</td>
                                <td>UFBA</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>
                                <td>Edson Pinheiro Pimentel</td>
                                <td>UFABC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Elaine Cristina Juvino de Araújo</td>
                                <td>IFPB</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>	
                                <td>Elaine Harada Teixeira de Oliveira</td>
                                <td>UFAM</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Eleandro Maschio Krynski</td>
                                <td>UTFPR</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>	
                                <td>Eliane Cristina de Araujo</td>
                                <td>UFCG</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Ellen Francine Barbosa</td>
                                <td>ICMC/USP</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Esdras Lins Bispo Jr.</td>
                                <td>UFJ</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Fabio Gomes Rocha</td>
                                <td>UNIT</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Fabíola Pantoja Oliveira Araújo</td>
                                <td>UFPA</td>
                                <td>22/04/2021</td>
                                <td>21/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Fernanda Gomes Silva</td>
                                <td>UFBA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Fernanda Lima</td>
                                <td>UnB</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Filipe Dwan Pereira</td>
                                <td>UFRR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Francisco de Assis Zampirolli</td>
                                <td>UFABC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Francisco Petrônio Alencar de Medeiros</td>
                                <td>IFPB</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Gleison dos Santos Souza</td>
                                <td>UNIRIO</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Guilherme Álvaro Rodrigues Maia Esmeraldo</td>
                                <td>IFCE</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Heitor Augustus Xavier Costa</td>
                                <td>UFLA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Isabela Gasparini</td>
                                <td>UDESC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Jacques Duílio Brancher</td>
                                <td>UEL</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Jean Carlo Rossa Hauck</td>
                                <td>UFSC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Johnny Cardoso Marques</td>
                                <td>ITA</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Katia Regina Pimentel Araujo</td>
                                <td>SECTET-PA/SEDUC-PA</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>	
                                <td>Kiev Gama</td>
                                <td>UFPE</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Kleber Tavares Fernandes</td>
                                <td>UFERSA</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Leandro Silva Galvão de Carvalho</td>
                                <td>UFAM</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Lesandro Ponciano</td>
                                <td>PUC Minas</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Lis Ângela De Bortoli</td>
                                <td>IFRS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Marco Aurélio Graciotto Silva</td>
                                <td>UTFPR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Maristela Terto de Holanda</td>
                                <td>UnB</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Mirella Moura Moro</td>
                                <td>UFMG</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Monica de Souza Massa</td>
                                <td>UNEB</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Nathalia da Cruz Alves</td>
                                <td>UFSC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Natasha Malveira Costa Valentim</td>
                                <td>UFPR</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Paulo Sergio Lopes de Souza</td>
                                <td>ICMC/USP</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Rafael Baldiati Parizi</td>
                                <td>UFFar</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Rafael Prikladnicki</td>
                                <td>PUCRS</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Roberto Almeida Bittencourt</td>
                                <td>UEFS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Roberto Pereira</td>
                                <td>UFPR</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Rodrigo Duran</td>
                                <td>IFMS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Rodrigo Pereira dos Santos</td>
                                <td>UNIRIO</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Rogério Eduardo Garcia</td>
                                <td>UNESP</td>
                                <td>28/04/2021</td>
                                <td>27/04/2022</td>
                            </tr>
                            <tr>
                                <td>Rozelma Soares de França</td>
                                <td>UFRPE</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Sarita Mazzini Bruschi</td>
                                <td>USP</td>
                                <td>07/04/2021</td>
                                <td>06/04/2022</td>
                            </tr>
                            <tr>
                                <td>Sheila Reinehr</td>
                                <td>PUCPR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Soraia Silva Prietch</td>
                                <td>UFR</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Taciana Pontual Falcão</td>
                                <td>UFRPE</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Victor Travassos Sarinho</td>
                                <td>UEFS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Vinicius Faria Culmant Ramos</td>
                                <td>UFSC</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>
                                <td>Walkiria Helena Cordenonzi</td>
                                <td>IFSUL</td>
                                <td>14/07/2021</td>
                                <td>13/07/2022</td>
                            </tr>
                            <tr>
                                <td>Wilk Oliveira</td>
                                <td>USP</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Wilkerson de Lucena Andrade</td>
                                <td>UFCG</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>
                                <td>Williamson Alison Freitas Silva</td>
                                <td>Unespar</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Windson Viana de Carvalho</td>
                                <td>UFC</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                            <tr>	
                                <td>Yorah Bosse</td>
                                <td>UFMS</td>
                                <td>20/10/2020</td>
                                <td>19/10/2021</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>

      </div>
    </div>
  </div>