<div class="container mt-4">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <h1 class="mb-4">
          Membros do GIEC
        </h1>
        <p class="lead text-justify">
          A <a href="https://drive.google.com/file/d/1RLQZManIF1pYw2wAXQj_1Ay7Fpd028Ea/view?usp=sharing" target="_blank">Resolução GIEC nº 01/2020</a> refere-se, especificamente, sobre o rol de membros efetivos do Grupo de Interesse em Educação em Computação (GIEC). Para ser membro efetivo do GIEC (Art. 2), é necessário:
          <ul class="lead text-justify">
            <li>ser sócio efetivo da Sociedade Brasileira de Computação (SBC);</li>
            <li>ter publicado trabalho científico na área de Educação em Computação
nos últimos três anos;</li>
            <li>ter solicitado explicitamente ao Comitê Gestor do GIEC a sua inclusão.</li>
          </ul>
        </p>
        <p class="lead text-justify">
          Será um prazer poder contar com você como membro efetivo do GIEC. Você pode solicitar a sua inclusão através deste <a href="https://forms.gle/67ToQyuWj1Uai7ej9" target="_blank">formulário</a>.
        </p>
        <h2 class="mb-4">
          Rol de membros efetivos
        </h2>
        <table class="table table-striped mb-4">
          <tr>	
            <th>Nome</th>
            <th>Instituição</th>
            <th>Inclusão</th>
            <th>Vigência</th>
          </tr>
          <tr>	
              <td>Adalberto Bosco Castro Pereira</td>
              <td>Senac</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Alan Henrique Pardo de Carvalho</td>
              <td>FATECSCS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Amaury Antônio de Castro Junior</td>
              <td>UFMS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>André Raabe</td>
              <td>Univali</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Andreia Malucelli</td>
              <td>PUCPR</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Amaury Antônio de Castro Junior</td>
              <td>UFMS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Carlos Emilio Padilla Severo</td>
              <td>IFSul</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Charles Andryê Galvão Madeira</td>
              <td>UFRN</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Christina von Flach Garcia Chavez</td>
              <td>UFBA</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Cristiano Maciel</td>
              <td>UFMT</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Dárlinton Barbosa Feres Carvalho</td>
              <td>UFSJ</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Edson Pinheiro Pimentel</td>
              <td>UFABC</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Elaine Harada Teixeira de Oliveira</td>
              <td>UFAM</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Eliane Cristina de Araujo</td>
              <td>UFCG</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Ellen Francine Barbosa</td>
              <td>ICMC/USP</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Esdras Lins Bispo Jr.</td>
              <td>UFJ</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Fabio Gomes Rocha</td>
              <td>UNIT</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Fernanda Gomes Silva</td>
              <td>UFBA</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Fernanda Lima</td>
              <td>UnB</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Filipe Dwan Pereira</td>
              <td>UFRR</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Francisco de Assis Zampirolli</td>
              <td>UFABC</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Gleison dos Santos Souza</td>
              <td>UNIRIO</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Guilherme Álvaro Rodrigues Maia Esmeraldo</td>
              <td>IFCE</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Heitor Augustus Xavier Costa</td>
              <td>UFLA</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Isabela Gasparini</td>
              <td>UDESC</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Jacques Duílio Brancher</td>
              <td>UEL</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Jean Carlo Rossa Hauck</td>
              <td>UFSC</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Johnny Cardoso Marques</td>
              <td>ITA</td>
              <td>07/04/2021</td>
              <td>06/04/2022</td>
          </tr>
          <tr>	
              <td>Kiev Gama</td>
              <td>UFPE</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Kleber Tavares Fernandes</td>
              <td>UFERSA</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Leandro Silva Galvão de Carvalho</td>
              <td>UFAM</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Lesandro Ponciano</td>
              <td>PUC Minas</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Lis Ângela De Bortoli</td>
              <td>IFRS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Marco Aurélio Graciotto Silva</td>
              <td>UTFPR</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Maristela Terto de Holanda</td>
              <td>UnB</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Mirella Moura Moro</td>
              <td>UFMG</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Monica de Souza Massa</td>
              <td>UNEB</td>
              <td>07/04/2021</td>
              <td>06/04/2022</td>
          </tr>
          <tr>
              <td>Nathalia da Cruz Alves</td>
              <td>UFSC</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Nathasha Malveira Costa Valentim</td>
              <td>UFPR</td>
              <td>07/04/2021</td>
              <td>06/04/2022</td>
          </tr>
          <tr>
              <td>Paulo Sergio Lopes de Souza</td>
              <td>ICMC/USP</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Rafael Baldiati Parizi</td>
              <td>UFFar</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Roberto Almeida Bittencourt</td>
              <td>UEFS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Rodrigo Duran</td>
              <td>IFMS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Rodrigo Pereira dos Santos</td>
              <td>UNIRIO</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Rozelma Soares de França</td>
              <td>UFRPE</td>
              <td>07/04/2021</td>
              <td>06/04/2022</td>
          </tr>
          <tr>
              <td>Sarita Mazzini Bruschi</td>
              <td>USP</td>
              <td>07/04/2021</td>
              <td>06/04/2022</td>
          </tr>
          <tr>
              <td>Sheila Reinehr</td>
              <td>PUCPR</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Soraia Silva Prietch</td>
              <td>UFR</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Taciana Pontual Falcão</td>
              <td>UFRPE</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Victor Travassos Sarinho</td>
              <td>UEFS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Wilk Oliveira</td>
              <td>USP</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Wilkerson de Lucena Andrade</td>
              <td>UFCG</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>
              <td>Williamson Alison Freitas Silva</td>
              <td>Unespar</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Windson Viana de Carvalho</td>
              <td>UFC</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
          <tr>	
              <td>Yorah Bosse</td>
              <td>UFMS</td>
              <td>20/10/2020</td>
              <td>19/10/2021</td>
          </tr>
        </table>
      </div>
    </div>
  </div>