<div id="24-wtd-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Sessão de Tutoria I (TUT-I)</h1>

        <!--{{>
          simposio/2021/pt-BR/programacao/transmissao

          youtube=true
          link="https://www.youtube.com/watch?v=M6ACSQJzeSo"
        }}-->

        <span
          style="
            font-size: large; display: block;
            margin-bottom: 0.5em;"
        >
            Prof. Eduardo Henrique da Silva Aranha (UFRN) <br>
            Profa. Rozelma Soares de França (UFRPE) <br>
            Autores da WTD-I <br>

          <b>Sala de Tutoria I</b>
        </span>

        <span
          style="
            font-size: large; display: block;
            margin-bottom: 0.5em;"
        >
            Prof. Rodrigo Silva Duran (IFMS) <br>
            Profa. Taciana Pontual da Rocha Falcão (UFRPE) <br>
            Autores da WTD-II <br>

          <b>Sala de Tutoria II</b>
        </span>

        <!--<span
          style="
            font-size: large; display: block;
            margin-bottom: 0.5em;"
        >
          Prof. Heitor Costa (UFLA)<br>
          <b>Coordenador do WTD</b>
        </span>
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Raimundo José de Araújo Macêdo <br>
          <b>Presidente da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Leila Ribeiro <br>
          <b>Diretora de Ensino de Computação na Educação Básica da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Esdras Lins Bispo Jr. (UFJ) <br>
          <b>Coordenador Geral</b>
        </span>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Pasqueline Scaico (UFPB) <br>
          <b>Coordenadora do ForLic</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Rozelma França (UFRPE) <br>
          <b>Coordenadora do ForLic</b>
        </span>
        -->
    </div>
  </div>
