<div id="24-wtd-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        <h1 style="margin-bottom: 0.5em;">Apresentação e Discussão dos Trabalhos</h1>

        <!--{{>
          simposio/2021/pt-BR/programacao/transmissao

          youtube=true
          link="https://www.youtube.com/watch?v=M6ACSQJzeSo"
        }}-->

        {{>
          simposio/2022/pt-BR/programacao/sessao-tecnica-wtd

          sessao=true

          titulo_sessao="Sessão de Apresentação I (WTD-I)"
          chair_sessao="Heitor Costa (UFLA)"

          artigo1_titulo=" CAT (Custom Assessment Tool): Assistindo Professores na Avaliação da Aprendizagem do Pensamento Computacional"
          artigo1_autores="Eder J. Farias (UFC), Windson Viana (UFC), Alysson D. dos Santos (UFC), Jacqueline R. M. A. de Souza (UFC)"

          artigo2_titulo="CollabProg: Um Repositório Colaborativo Aberto para Apoiar na Adoção de Metodologias Ativas no Ensino de Programação"
          artigo2_autores=" Ivanilse Calderon (UFAM), Williamson Silva (Unipampa - Campus Alegrete), Eduardo Feitosa (UFAM)"

          artigo3_titulo="Proposta de Um Modelo Gamificado com Elementos de RPG de Mesa para o Desenvolvimento do Pensamento Computacional"
          artigo3_autores="Felipe T. de Castro (IFNMG), Caroline Q. Santos (UFVJM), Maria Villela (UFVJM)"

          artigo4_titulo="Usando Sistemas Colaborativos em Recursos Educacionais: Um Estudo de Caso na Educação Superior em Computação"
          artigo4_autores="Fernando Tiosso (ICMC/USP), Sarita Bruschi (ICMC - USP)"

        }}

        {{>
          simposio/2022/pt-BR/programacao/sessao-tecnica-wtd

          sessao=true

          titulo_sessao="Sessão de Apresentação II (WTD-II)"
          chair_sessao="Heitor Costa (UFLA)"

          artigo1_titulo="Boolace: Um Jogo-Curso de Lógica Proposicional"
          artigo1_autores="Márcio F. B. de Souza (IFES), Márcia G. de Oliveira (IFES), Maria A. V. F. de Souza (IFES)"

          artigo2_titulo="Jogos para o Aprendizado de Programação: Como as Modalidades Mono e Multijogadores Afetam a Motivação dos Alunos?"
          artigo2_autores="Rodrigo da Silva (PUC-Rio), Edward H. Haeusler (PUC-Rio), Jefferson Santos (FGV e PUC-Rio)"

          artigo3_titulo="Percepções do Ensino de IHC: Análises e Aplicação Prática"
          artigo3_autores="Danilo S. Martins (UFVJM), Maria Villela (UFVJM)"

          artigo4_titulo="Revelando Competências no PBL Aplicado ao Ensino de Computação: Uma Solução Baseada em IA para Alinhamento Construtivo entre Objetivos Educacionais e Feedbacks dos Estudantes"
          artigo4_autores="Davi M. Maia (UFPE), Simone Santos (UFPE)"

        }}

        <!--<span
          style="
            font-size: large; display: block;
            margin-bottom: 0.5em;"
        >
          Prof. Heitor Costa (UFLA)<br>
          <b>Coordenador do WTD</b>
        </span>
        
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Raimundo José de Araújo Macêdo <br>
          <b>Presidente da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Leila Ribeiro <br>
          <b>Diretora de Ensino de Computação na Educação Básica da SBC</b>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Prof. Esdras Lins Bispo Jr. (UFJ) <br>
          <b>Coordenador Geral</b>
        </span>
        </span>
        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Pasqueline Scaico (UFPB) <br>
          <b>Coordenadora do ForLic</b>
        </span>

        <span style="font-size: large; display: block; margin-bottom: 0.5em;">
          Profa. Rozelma França (UFRPE) <br>
          <b>Coordenadora do ForLic</b>
        </span>
        -->
    </div>
  </div>
