<h1>INSCREVA-SE</h1>

<h3 id="tituloin">Valores para o evento em Juiz de Fora</h3>

<table border="1">
    <thead>
        <tr>
            <th>Evento Presencial</th>
            <th>Lote 1</th>
            <th>Lote 2</th>
            <th>Lote 3</th>
            <th>Lote 4</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Estudante associado à SBC com anuidade vigente</td>
            <td>R$ 85,00</td>
            <td>R$ 90,00</td>
            <td>R$ 95,00</td>
            <td>R$ -</td>
        </tr>
        <tr>
            <td>Estudante associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 118,00</td>
            <td>R$ 123,00</td>
            <td>R$ 128,00</td>
            <td>R$ 33,00</td>
        </tr>
        <tr>
            <td>Estudante não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 118,00</td>
            <td>R$ 123,00</td>
            <td>R$ 128,00</td>
            <td>R$ 33,00</td>
        </tr>
        <tr>
            <td>Estudante não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 127,00</td>
            <td>R$ 132,00</td>
            <td>R$ 138,00</td>
            <td>R$ 33,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vigente</td>
            <td>R$ 120,00</td>
            <td>R$ 135,00</td>
            <td>R$ 150,00</td>
            <td>R$ -</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 255,00</td>
            <td>R$ 270,00</td>
            <td>R$ 285,00</td>
            <td>R$ 135,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 255,00</td>
            <td>R$ 270,00</td>
            <td>R$ 285,00</td>
            <td>R$ 135,00</td>
        </tr>
        <tr>
            <td>Estudante de pós-graduação não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 267,00</td>
            <td>R$ 284,00</td>
            <td>R$ 300,00</td>
            <td>R$ 135,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual associado à SBC com anuidade vigente</td>
            <td>R$ 110,00</td>
            <td>R$ 125,00</td>
            <td>R$ 140,00</td>
            <td>R$ -</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 245,00</td>
            <td>R$ 260,00</td>
            <td>R$ 275,00</td>
            <td>R$ 135,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 245,00</td>
            <td>R$ 260,00</td>
            <td>R$ 275,00</td>
            <td>R$ 135,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Municipal/Estadual não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 256,00</td>
            <td>R$ 273,00</td>
            <td>R$ 289,00</td>
            <td>R$ 135,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal associado à SBC com anuidade vigente</td>
            <td>R$ 215,00</td>
            <td>R$ 240,00</td>
            <td>R$ 265,00</td>
            <td>R$ -</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 585,00</td>
            <td>R$ 610,00</td>
            <td>R$ 635,00</td>
            <td>R$ 370,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 585,00</td>
            <td>R$ 610,00</td>
            <td>R$ 635,00</td>
            <td>R$ 370,00</td>
        </tr>
        <tr>
            <td>Professor de Educação Básica Federal não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 607,00</td>
            <td>R$ 634,00</td>
            <td>R$ 662,00</td>
            <td>R$ 370,00</td>
        </tr>
        <tr>
            <td>Profissional associado à SBC com anuidade vigente</td>
            <td>R$ 220,00</td>
            <td>R$ 245,00</td>
            <td>R$ 270,00</td>
            <td>R$ -</td>
        </tr>
        <tr>
            <td>Profissional associado à SBC com anuidade vencendo em até 90 dias (Melhor opção: COMBO inscrição no evento + renovação da associação à SBC)</td>
            <td>R$ 595,00</td>
            <td>R$ 620,00</td>
            <td>R$ 645,00</td>
            <td>R$ 375,00</td>
        </tr>
        <tr>
            <td>Profissional não associado ou com associação não vigente à SBC (Melhor opção: COMBO inscrição no evento + associação à SBC)</td>
            <td>R$ 595,00</td>
            <td>R$ 620,00</td>
            <td>R$ 645,00</td>
            <td>R$ 375,00</td>
        </tr>
        <tr>
            <td>Profissional não associado à SBC (Somente inscrição no evento)</td>
            <td>R$ 617,00</td>
            <td>R$ 645,00</td>
            <td>R$ 672,00</td>
            <td>R$ 375,00</td>
        </tr>
    </tbody>
</table>

<h3 id="tituloin">Valores para o evento nos demais polos</h3>
<table>
    <thead>
        <tr>
            <th>Evento Presencial</th>
            <th>Lote 1</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Sócio</td>
            <td>R$ 100,00</td>
        </tr>
        <tr>
            <td>Não sócio</td>
            <td>R$ 185,00</td>
        </tr>
    </tbody>
</table>