<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">

        <table class="table table-striped">
        <thead>
          <tr>
            <td class="col-title" colspan="3">
              <h3 class="text-center">Coordenação Geral do Comitê de Programa</h3>
            </td>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr class="text-uppercase font-weight-bold">
            <td class="col-nome">Nomes</td>
            <td class="col-inst">Instituição</td>
            <td class="col-mail">E-mail</td>
          </tr>
          <tr>
            <td class="col-nome">Leandro Silva Galvão de Carvalho</td>
            <td class="col-inst">UFAM</td>
            <td class="col-mail">galvao@icomp.ufam.edu.br</td>
          </tr>
        </tbody>
        </table>

        <table class="table table-striped">
        <thead>
          <tr>
            <td class="col-title" colspan="3">
              <h3 class="text-center">Coordenação Geral das Trilhas Formativas</h3>
            </td>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr class="text-uppercase font-weight-bold">
            <td class="col-nome">Nomes</td>
            <td class="col-inst">Instituição</td>
            <td class="col-mail">E-mail</td>
          </tr>
          <tr>
            <td class="col-nome">Nathalia da Cruz Alves</td>
            <td class="col-inst">Georgetown University</td>
            <td class="col-mail">nd667@georgetown.edu</td>
          </tr>
        </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">Trilha 1 - Artigos de Pesquisa</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Jean Carlo Rossa Hauck</td>
              <td class="col-inst">UFSC</td>
              <td class="col-mail">jean.hauck@ufsc.br</td>
            </tr>
            <tr>
              <td class="col-nome">Ricardo Edgard Caceffo</td>
              <td class="col-inst">Univesp</td>
              <td class="col-mail">ricardo.caceffo@univesp.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">Trilha 2 - Relatos de Experiência</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Kiev Santos da Gama </td>
              <td class="col-inst">UFPE</td>
              <td class="col-mail">kiev@cin.ufpe.br</td>
            </tr>
            <tr>
              <td class="col-nome">Luciana Foss</td>
              <td class="col-inst">UFPel</td>
              <td class="col-mail">luciana.foss@ufpel.edu.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">Trilha 3 - Currículos</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Ana Paula Lüdtke Ferreira</td>
              <td class="col-inst">UNIPAMPA</td>
              <td class="col-mail">anaferreira@unipampa.edu.br</td>
            </tr>
            <tr>
              <td class="col-nome">Ana Liz Souto Oliveira</td>
              <td class="col-inst">UFPB</td>
              <td class="col-mail">analiz@dcx.ufpb.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">Trilha 4 - Recursos e Ambientes Educacionais</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Rafaela Vilela da Rocha</td>
              <td class="col-inst">UFABC</td>
              <td class="col-mail">rafaela.vilela@gmail.com</td>
            </tr>
            <tr>
              <td class="col-nome">Eduardo Figueiredo</td>
              <td class="col-inst">UFMG</td>
              <td class="col-mail">figueiredo@dcc.ufmg.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">Trilha 5 - Ensaios</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">João Henrique Berssanette</td>
              <td class="col-inst">IFPR</td>
              <td class="col-mail">joao.berssanette@ifpr.edu.br</td>
            </tr>
            <tr>
              <td class="col-nome">João Paulo Alres</td>
              <td class="col-inst">UTFPR</td>
              <td class="col-mail">joao@utfpr.edu.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">Laboratório de Ideias</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Esdras Bispo Jr.</td>
              <td class="col-inst">UFJ</td>
              <td class="col-mail">bispojr@ufj.edu.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">WTD - Workshop de Teses e Dissertações</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Milene Selbach Silveira</td>
              <td class="col-inst">PUCRS</td>
              <td class="col-mail">milene.silveira@pucrs.br</td>
            </tr>
            <tr>
              <td class="col-nome">Taciana Pontual Falção</td>
              <td class="col-inst">UFRPE</td>
              <td class="col-mail">taciana.pontual@ufrpe.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3"></td>
                <h3 class="text-center">CTD - Concurso de Teses e Dissertações</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Heitor Augustus Xavier Costa</td>
              <td class="col-inst">UFLA</td>
              <td class="col-mail">heitor@ufla.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3"></td>
                <h3 class="text-center">Coordenação de Minicursos</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Amaury Antonio de Castro Junior</td>
              <td class="col-inst">UFMS</td>
              <td class="col-mail">amaury.junior@ufms.br</td>
            </tr>
            <tr>
              <td class="col-nome">Anderson Correa de Lima</td>
              <td class="col-inst">UFMS</td>
              <td class="col-mail">anderson.lima@ufms.br</td>
            </tr>
          </tbody>
        </table>

        <table class="table table-striped">
          <thead>
            <tr>
              <td class="col-title" colspan="3">
                <h3 class="text-center">Coordenação de Mesas Temáticas</h3>
              </td>
            </tr>
          </thead>
          <tbody class="text-center">
            <tr class="text-uppercase font-weight-bold">
              <td class="col-nome">Nomes</td>
              <td class="col-inst">Instituição</td>
              <td class="col-mail">E-mail</td>
            </tr>
            <tr>
              <td class="col-nome">Ecivaldo de Souza Matos</td>
              <td class="col-inst">USP</td>
              <td class="col-mail">ecivaldo@usp.br</td>
            </tr>
          </tbody>
        </table>

        </div>
      </div>
    </div>
  </section>
</div>