<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Coordenação Geral do Comitê Diretivo</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <!-- <tr>
                <td class="col-nome">Adão Caron Cambraia</td>
                <td class="col-inst">IFFar</td>
                <td class="col-mail">adao.cambraia@iffarroupilha.edu.br</td>
              </tr> -->
              <tr>
                <td class="col-nome">Alessandreia Marta de Oliveira</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">alessandreia.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Graziela Guarda</td>
                <td class="col-inst">UFF</td>
                <td class="col-mail">grazielaguarda@id.uff.br</td>
              </tr>
              <tr>
                <td class="col-nome">Leandro Galvão</td>
                <td class="col-inst">UFAM</td>
                <td class="col-mail">galvao@icomp.ufam.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Leila Ribeiro</td>
                <td class="col-inst">UFRGS</td>
                <td class="col-mail">leila@inf.ufrgs.br</td>
              </tr>
              <tr>
                <td class="col-nome">Marco Aurélio Graciotto Silva</td>
                <td class="col-inst">UTFPR</td>
                <td class="col-mail">magsilva@utfpr.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Nathalia Cruz Alves</td>
                <td class="col-inst">UFSC</td>
                <td class="col-mail">nathalia.alves@posgrad.ufsc.br</td>
              </tr>
              <tr>
                <td class="col-nome">Rodrigo Duran</td>
                <td class="col-inst">IFMS</td>
                <td class="col-mail">rodrigo.duran@ifms.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Silvia Amélia Bim</td>
                <td class="col-inst">UTFPR</td>
                <td class="col-mail">sabim@utfpr.edu.br</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

</div>