<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Rodrigo Duran</td>
                <td data-label="Instituição">IFB</td>        
              </tr>
              <tr>
                <td data-label="Nome">Rozelma Soares de França</td>
                <td data-label="Instituição">UFRPE</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Comitê gestor</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Graziela Guarda</td>
                <td data-label="Instituição">UFF</td>
              </tr>
              <tr>
                <td data-label="Nome">Gustavo de Oliveira Andrade</td>
                <td data-label="Instituição">IFRJ</td>
              </tr>
              <tr>
                <td data-label="Nome">Rodrigo Duran</td>
                <td data-label="Instituição">IFB</td>
              </tr>
              <tr>
                <td data-label="Nome">Rozelma Soares de França</td>
                <td data-label="Instituição">UFRPE</td>
              </tr>
              <tr>
                <td data-label="Nome">Sheila Reinehr</td>
                <td data-label="Instituição">PUC-PR</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
