<div id="equipes">
  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">
          <table class="table table-striped">
            <h2>Coordenação geral</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Edmar Welington Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Jerez Chaves</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Editoração e publicação dos anais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Ivanilse Calderon</td>
                <td data-label="Instituição">IFRO</td>
              </tr>
              <tr>
                <td data-label="Nome">Renato de Souza Garcia</td>
                <td data-label="Instituição">IFMS</td>
              </tr>
              <tr>
                <td data-label="Nome">Ricardo Ferreira Vilela</td>
                <td data-label="Instituição">UFCA</td>
              </tr>
              <tr>
                <td data-label="Nome">Williamson Silva</td>
                <td data-label="Instituição">UNIPAMPA</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Financeiro</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Inscrições e certificados</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Cleon Xavier Pereira Júnior</td>
                <td data-label="Instituição">IF-Goiano</td>
              </tr>
              <tr>
                <td data-label="Nome">Esdras Bispo Jr.</td>
                <td data-label="Instituição">UFJ</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
              </tr>
              <tr>
                <td data-label="Nome">Yorah Bosse</td>
                <td data-label="Instituição">University at Buffalo</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Publicidade e mídias sociais</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Alessandreia Marta de Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Luiza Mello</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Ana Luiza Miscoli</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Edmar Welington Oliveira</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Felipe Vasconcellos Strehle</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Isabela Freesz Vellasco</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">João Ricardo Bernardo</td>
                <td data-label="Instituição">UFAM</td>
              </tr>
              <tr>
                <td data-label="Nome">Julia Borges Beccari</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Pedro Henrique Dias Valle</td>
                <td data-label="Instituição">USP</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <h2>Website</h2>
            <thead>
              <tr class="text-uppercase font-weight-bold text-center">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr>
                <td data-label="Nome">Caio Nascimento Reis da Silva</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Estêvão Barbosa Fiorilo Rocha</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Helena Lannes</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Jairo Francisco de Souza</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Leandro Carlos de Melo Filho</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Leonardo Prata</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Luciano Jerez Chaves</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Miguel Dias de Abreu</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
              <tr>
                <td data-label="Nome">Thiago José Lopes</td>
                <td data-label="Instituição">UFJF</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
</div>
