<div id="equipes" class="edc-font">
  <div class="d-flex justify-content-center align-items-center">
    <h1>Comissão Organizadora</h1>
  </div>

  <section>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-10 mx-auto">

          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Coordenação Geral</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Alessandreia Marta de Oliveira</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">alessandreia.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Edmar Welington Oliveira</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">edmar.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Jairo Francisco de Souza</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">jairo.souza@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Luciano Jerez Chaves</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">luciano.chaves@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Pedro Henrique Dias Valle</td>
                <td class="col-inst">USP</td>
                <td class="col-mail">pedrohenriquevalle@usp.br</td>
              </tr>
            </tbody>
          </table>

          <!-- <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Articulação Cultural</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome"></td>
                <td class="col-inst"></td>
                <td class="col-mail"></td>
              </tr> 
            </tbody>
          </table> -->

          <!-- <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Conexão com a Educação Básica</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome"></td>
                <td class="col-inst"></td>
                <td class="col-mail"></td>
              </tr> 
            </tbody>
          </table> -->

          <!-- <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Dados e Programação</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome"></td>
                <td class="col-inst"></td>
                <td class="col-mail"></td>
              </tr> 
            </tbody>
          </table> -->

          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Editoração e Publicação dos Anais</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Ivanilse Calderon</td>
                <td class="col-inst">IFRO</td>
                <td class="col-mail">ivanilse.calderon@ifro.edu.br</td>
              </tr> 
              <tr>
                <td class="col-nome">Renato de Souza Garcia</td>
                <td class="col-inst">IFMS</td>
                <td class="col-mail">renato.garcia@ifms.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Ricardo Ferreira Vilela</td>
                <td class="col-inst">UFCA</td>
                <td class="col-mail">ricardovilela91@gmail.com</td>
              </tr> 
              <tr>
                <td class="col-nome">Williamson Silva</td>
                <td class="col-inst">UNIPAMPA</td>
                <td class="col-mail">williamsonsilva@unipampa.edu.br</td>
              </tr>  
            </tbody>
          </table>

          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Financeiro</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Alessandreia Marta de Oliveira</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">alessandreia.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Jairo Francisco de Souza</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">jairo.souza@ufjf.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Inscrições e Certificados</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Cleon Xavier Pereira Júnior</td>
                <td class="col-inst">IF-Goiano</td>
                <td class="col-mail">cleon.junior@ifgoiano.edu.br</td>
              </tr>
              <tr>
                <td>Esdras Bispo Jr.</td>
                <td>UFJ</td>
                <td>bispojr@ufj.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Pedro Henrique Dias Valle</td>
                <td class="col-inst">USP</td>
                <td class="col-mail">pedrohenriquevalle@usp.br</td>
              </tr>
              <tr>
                <td class="col-nome">Yorah Bosse</td>
                <td class="col-inst">University at Buffalo</td>
                <td class="col-mail">yorah.bosse@gmail.com</td>
              </tr> 
            </tbody>
          </table>

          <!-- <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Promoção da Inclusão e Acessibilidade</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome"></td>
                <td class="col-inst"></td>
                <td class="col-mail"></td>
              </tr> 
            </tbody>
          </table> -->

          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Publicidade e Mídias Sociais</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Alessandreia Marta de Oliveira</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">alessandreia.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Ana Luiza Mello</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">analuiza.mello@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Ana Luiza Miscoli</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">analuiza.miscoli@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Edmar Welington Oliveira</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">edmar.oliveira@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">João Ricardo Bernardo</td>
                <td class="col-inst">UFAM</td>
                <td class="col-mail">jrsb@icomp.ufam.edu.br</td>
              </tr>
              <tr>
                <td class="col-nome">Pedro Henrique Dias Valle</td>
                <td class="col-inst">USP</td>
                <td class="col-mail">pedrohenriquevalle@usp.br</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-striped">
            <thead>
              <tr>
                <td class="col-title" colspan="3">
                  <h3>Web Site</h3>
                </td>
              </tr>
            </thead>
            <tbody class="text-center">
              <tr class="text-uppercase font-weight-bold">
                <td class="col-nome">Nome</td>
                <td class="col-inst">Instituição</td>
                <td class="col-mail">E-mail</td>
              </tr>
              <tr>
                <td class="col-nome">Helena Lannes</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">helena.lannes@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Jairo Francisco de Souza</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">jairo.souza@ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Leonardo Prata</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">leo.prata@estudante.ufjf.br</td>
              </tr>
              <tr>
                <td class="col-nome">Luciano Jerez Chaves</td>
                <td class="col-inst">UFJF</td>
                <td class="col-mail">luciano.chaves@ufjf.br</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
  </section>
</div>


<!-- <tr>
  <td class="col-nome"></td>
  <td class="col-inst"></td>
  <td class="col-mail"></td>
</tr> -->