<!-- Footer -->
  <footer class="py-3 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">
        <span style="font-size: 1.2em; padding-right: 1.6em">
          Realização: 
          <a class="imagelink" href="http://www.sbc.org.br" target="_blank">
            <img src="/img/simposio/2023/sbc.jpg" style="height: 3.5rem; padding-left: 0.6em;"/> 
          </a>
          <a class="imagelink" href="http://www.educompbrasil.org" target="_blank" style="padding-right: 2em;">
            <img src="/img/giec/logo-giec.png" style="height: 3rem; padding-left: 0.6em;"/>
          </a>
          Organização:
          <a class="imagelink" href="http://www.ufrpe.br" target="_blank">
            <img src="/img/simposio/2023/ufrpe.png" style="height: 3rem; padding-left: 0.6em;"/>
          </a>
        </span> <br>
      </p>
      <p class="text-center text-white mt-4">
        <span 
          style="
            border-color: white; 
            border-width: 0.3px; 
            border-style: solid; 
            padding: 7px;
            margin-top: 20em;
          "
        >
          <i class="fa fa-envelope mx-2"></i> educomp2023@gmail.com
        </span>
      </p>
    </div>
    <!-- /.container -->
  </footer>