<header class="bg-default text-dark" style="height: 4rem; margin-top: -4rem">
    <div class="container">
      <div class="row">
        <div class="col-3 text-right">
          <img src="/img/simposio/2022/capa-educomp-2022.png" style="height: 4rem; width: 8rem"/>
        </div>
        <div class="col-9 text-left" style="padding-left: 2.5em;">
          <h3>
            Simpósio Brasileiro de Educação em Computação<br>
            <small>Educação em Computação: Criatividade na era do Ensino Híbrido</small>
          </h3>
        </div>
      </div>
      
    </div>
  </header>