  {{> simposio/2024/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(255, 255, 255);">
    <div class="container" style="margin-top: -2em;">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2>
            Eventos - EduComp 2024<br>
            <small class="text-muted">Escolha o certificado de um dos eventos</small>
          </h2> 
          <span class="mb-2" style="display: block;"> 
              <a 
                href="/simposio/2024/certificados/educomp" 
                class="btn btn-primary btn-lg" 
                style="width: 150px;"
              >
                EduComp
            </a> 
          </span>
          <span> 
              <a 
                href="/simposio/2024/certificados/esquenta/1" 
                class="btn btn-primary btn-lg" 
                style="width: 150px;"
              >
                Esquenta I
            </a> 
          </span>
          <span> 
              <a 
                href="/simposio/2024/certificados/esquenta/2" 
                class="btn btn-primary btn-lg" 
                style="width: 150px;"
              >
                Esquenta II
            </a> 
          </span>
      </div>
    </div>
  </section>