<div id="local">
  <section id="localizacao">
    <div class="container">
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h2>Local do evento</h2>
          <p>
            O SBC-EB 2025 possui um formato distribuído inovador, com atividades acontecendo em diferentes polos pelo Brasil.
            No polo da região sul, o evento será sediado no <strong>Centro de Ciências Tecnológicas</strong> da <strong>Universidade Estadual do Norte do Paraná (UENP) - Campus Luiz Meneghel</strong>, localizado na Rodovia BR-369, Km 54, Vila Maria, CP 261, CEP 86366-570, Bandeirantes, PR.
          </p>
        </div>
      </div>
      
      <div class="imagem-principal row justify-content-center">
        <figure class="figure col-lg-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/bandeirantes/campus-luiz-meneghel.jpg" alt="Campus Luiz Meneghel, localizado em Bandeirantes">
          <figcaption class="figure-caption text-center">
            Campus Luiz Meneghel
          </figcaption>
        </figure>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/bandeirantes/fachada-laboratorio-uenp.png" alt="Laboratório do Centro de Ciências Tecnológicas UENP">
          <figcaption class="figure-caption text-center">
            Centro de Ciências Tecnológicas da UENP (Imagem: Fernando Henrique Suzi Zechel - UENP/CLM)
          </figcaption>
        </figure>

        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/bandeirantes/sala-img-1.png" alt="Sala no Centro de Ciências Tecnológicas UENP">
          <figcaption class="figure-caption text-center">
            Sala no Centro de Ciências Tecnológicas da UENP (Imagem: Fernando Henrique Suzi Zechel - UENP/CLM)
          </figcaption>
        </figure>

        <!-- <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/bandeirantes/laboratorio-uenp.png" alt="Laboratório do Centro de Ciências Tecnológicas UENP">
          <figcaption class="figure-caption text-center">
            Laboratório do Centro de Ciências Tecnológicas UENP (Imagem: Fernando Henrique Suzi Zechel - UENP/CLM)
          </figcaption>
        </figure> -->
      </div>

      <div class="row mt-4 justify-content-center">
        <div class="col-md-10">
          <div class="mapa-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3330.562523327718!2d-50.36276755341098!3d-23.106625508008744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eac08fb9d5acd1%3A0xeb955cd1fb4d3a53!2sUniversidade%20Estadual%20do%20Norte%20do%20Paran%C3%A1%20-%20Campus%20Luiz%20Meneghel%20-%20Pr%C3%A9dio%20Central!5e0!3m2!1spt-BR!2sbr!4v1743361891642!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </div>

      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h3>A UENP e o Campus Luiz Meneghel</h3>
          <p>
            A Universidade Estadual do Norte do Paraná (UENP) é uma instituição de ensino superior pública, referência na formação acadêmica e na produção científica na região Norte do Paraná. 
            Com campi em três cidades, a UENP se destaca pelo compromisso com a educação, pesquisa e extensão, contribuindo para o desenvolvimento regional. 
          </p>
          <p>
            O Campus Luiz Meneghel, localizado em Bandeirantes, é reconhecido por sua excelência em cursos nas áreas de ciências agrárias, biológicas, saúde e tecnológica. 
            Com uma infraestrutura moderna, laboratórios avançados e fazenda experimental, o campus é um centro de inovação e pesquisa, formando profissionais altamente qualificados e impulsionando a região Norte Pioneira do Paraná além de qualificar profissionais que atuam no Brasil e no mundo com distinção. 
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="cidade">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>A cidade</h2>
          <p>
            Localizada no Norte Pioneiro do Paraná, Bandeirantes se distingue pela terra fértil e pelo povo oriundo de diversas partes do Brasil e do mundo. 
            O município tem forte influência dos paulistas, mineiros, italianos, japoneses e portugueses, origem primordial das vocações econômicas e turísticas do município. 
          </p>
          <p>
            Entre as atividades socioeconômicas da cidade, destacam-se o agronegócio, o comércio, o ensino superior e a pesquisa. 
            No turismo, os segmentos religioso, rural/ecológico e enoturismo fazem das visitas aos recantos naturais e santuários religiosos, contato com a natureza e festas tradicionais os melhores roteiros do município. 
            Bandeirantes conta com opções de hotéis e pousadas de variados padrões e faixas de preços, localizados em diferentes pontos da cidade. 
          </p>
          <p>
            A cidade possui tradição de bons restaurantes, tanto na cidade como na área rural. Dentre as opções gastronômicas, destaque para os pratos típicos das culinárias japonesa, italiana e caseira, além dos tradicionais bares, lanchonetes e pesque-pagues.
          </p>
          <p>
            Bandeirantes está em uma localização privilegiada na região Norte do Paraná, com acesso facilitado via terrestre.
            A cidade está a 100 Km de Londrina - PR e a 80 Km de Ourinhos - SP, pela BR-369.
          </p>
        </div>
      </div>

      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <h3>Lugares para visitar em Bandeirantes</h3>
          <p>
            Na rota do turismo religioso Bandeirantes está muito bem representada pelo santuário de São Miguel Arcanjo e Santuário de Santa Terezinha do Menino Jesus e da Sagrada Face, integrados à Rota do Rosário. 
            O Santuário de São Miguel Arcanjo tem como destaque a belíssima imagem de São Miguel, com 19,2 metros de altura, além de ser o terceiro maior do mundo dedicado ao santo. 
            Conta com praça de alimentação, loja de artigos religiosos, sanitários, capela de adoração e a Casa do Peregrino. 
          </p>
          <p>
            O Castelo La Dorni é um pedacinho da Itália em Bandeirantes. Construído de maneira artesanal, as mais de 50 mil pedras de arenito usadas na construção foram talhadas à mão, buscando manter a fidelidade de um castelo medieval. 
            No local, é possível visitar o Castelo, suas adegas e apreciar um bom vinho. 
          </p>
        </div>
      </div>
      
      <div class="row justify-content-center">
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/bandeirantes/santuario-sao-miguel-arcanjo.jpg" alt="Santuário São Miguel Arcanjo">
          <figcaption class="figure-caption text-center">
            Santuário São Miguel Arcanjo (<a href="https://www.bandeirantes.pr.gov.br/pagina/7/turismo" target="_blank">Imagem: Prefeitura Municipal de Bandeirantes</a>)
          </figcaption>
        </figure>
          
        <figure class="figure col-lg-5 col-md-10 d-block w-100 text-center">
          <img class="figure-img img-fluid" src="/img/simposio/2025/sbc-eb/polos/bandeirantes/castelo-vinicola-la-dorni.jpg" alt="Castelo Vinícola La Dorni">
          <figcaption class="figure-caption text-center">
           Castelo Vinícola La Dorni (<a href="https://www.bandeirantes.pr.gov.br/pagina/7/turismo" target="_blank">Imagem: Prefeitura Municipal de Bandeirantes</a>)
          </figcaption>
        </figure>
      </div>
      
      <div class="row mt-3 justify-content-center">
        <div class="col-md-10">
          <p>
            Para mais informações sobre os locais para visitar, acesse o <a href="https://www.bandeirantes.pr.gov.br/pagina/7/turismo" target="_blank">site da Prefeitura de Bandeirantes.</a>
          </p>
        </div>
      </div>
    </div>
  </section>

</div>