<div id="polos">

  <section id="apresentacao-polo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <p>
            O polo de Recife do SBC-EB 2026 é um importante centro de convergência para educadores e pesquisadores interessados em computação na educação básica. Localizado em Pernambuco, o polo oferece uma infraestrutura moderna para atividades colaborativas e intercâmbio de experiências.
          </p>
          <p>
            As atividades realizadas em Recife integram-se ao calendário nacional do evento, promovendo discussões, competições e oportunidades de networking com profissionais da área de educação e tecnologia.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section id="programacao-polo">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-10">
          <h2>Programação</h2>
          <p>
            Confira abaixo a programação das atividades do SBC-EB 2026 no polo de Recife:
          </p>
        </div>
      </div>
      <div class="row justify-content-center mt-4">
        <div class="col-md-10">
          <div class="container-calendario">
            <iframe class="programacao programacao-agenda" src="https://calendar.google.com/calendar/embed?height=600&wkst=1&ctz=America%2FSao_Paulo&showPrint=0&title=SBC-EB%20-%20Recife%2FPE&mode=AGENDA&dates=20260506/20260509&hl=pt_BR&src=Y19jMWFlMjc5NGNlYzQwMTYyMjkyY2QxMmFhMGRhYTQxZDFhYTdlMmFlZmQyOTU5YzdlZDg0MzUwYzA5ODZlMWFiQGdyb3VwLmNhbGVuZGFyLmdvb2dsZS5jb20&color=%237cb342" frameborder="0" scrolling="no"></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
