:root {
  --menu-gray: #F2F2F2;
}

html {
  height: 100%;
  margin: 0;
  font-family: 'Inter var', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
  font-size: clamp(14px, 1.5vw, 18px);
}

.navbar {
  height: 100px;
  font-size: clamp(14px, 1.5vw, 15px);
}

.content {
  flex: 1;
  line-height: 150%;
  text-align: left;
  font-weight: 300;
}

.content a {
  background-color: transparent;
}

.content a:hover {
  background-color: transparent;
}

.content .imagelink {
  background-color: transparent;
}

.content .imagelink:hover {
  background-color: transparent;
}
