:root {
  --menu-gray: #f2f2f2;

  --edc-blue: #282e68;
  --edc-green: #0b8236;
  --edc-red: #e00814;
  --edc-gray: #343a40;
  --edc-gray-bg: #f2f2f2;
  --edc-green-bg: #c7e3d1;
  --edc-blue-bg: #b8d1f1;
  --edc-yellow-bg: #f3dca9;
  --edc-purple-bg: #cec0f8;
  --edc-orange-bg: #f5c0a4;
  --edc-pink-bg: #edbedf;

  --eb-yellow: #f2c72c;
  --eb-green: #258873;
  --eb-blue-dark: #004bb3;
  --eb-blue-medium: #2b7ec2;
  --eb-blue-light: #e7f1ff;
  --eb-gray: #b3b4b8;
}

html {
  height: 100%;
  margin: 0;
  font-family: 'Inter var', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  overflow-x: hidden;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 100px;
  font-size: clamp(14px, 1.5vw, 18px);
}

.navbar {
  height: 100px;
  font-size: clamp(14px, 1.5vw, 15px);
}

.content {
  flex: 1;
  line-height: 150%;
  text-align: left;
  font-weight: 300;

  a {
    background-color: transparent;
  }

  a:hover {
    background-color: transparent;
  }

  .imagelink {
    background-color: transparent;
  }

  .imagelink:hover {
    background-color: transparent;
  }
}
