{{> simposio/2021/pt-BR/headerInterno}}

  <section id="trabalhos" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Trabalhos Aceitos</h2>
          <br>
          <h3>Trilha 1: Artigos de Pesquisa e Ensaios</h3>
          <br>
          <h4>Artigos de Pesquisa</h4>
          <table class="table table-striped">
            <tr>
              <td>
                <b>An Item Response Theory Analysis of Algorithms and Programming Concepts in App Inventor Projects</b> <br>   
                Nathalia Alves, Christiane Gresse von Wangenheim, Jean Hauck, Adriano Borgatto
              </td>
            </tr>
            <tr>
              <td>
                <b>Aplicações da Robótica Educacional para o Desenvolvimento do Pensamento Computacional no Contexto do Ensino Médio Integral</b> <br>   
                Isabelle Maria Lima de Souza, Wilkerson Andrade, Livia Sampaio
              </td>
            </tr>
            <tr>
              <td>
                <b>Are we teaching UML according to what IT companies need? A survey on the region</b> <br>   
                João Choma Neto, Edson OliveiraJr, Simone Souza, Luiz Henrique Ten Caten Bento
              </td>
            </tr>
            <tr>
              <td>
                <b>Considerações sobre Ensino e Aprendizagem de Banco de Dados na Educação Profissional: Um Estudo de Caso</b> <br>   
                João Franco, Jorge Leite Jr
              </td>
            </tr>
            <tr>
              <td>
                <b>Corporeidade, ludicidade e contação de história na promoção do pensamento computacional na escola</b> <br>   
                Rozelma França, Patrícia Tedesco
              </td>
            </tr>
            <tr>
              <td>
                <b>Existe consenso na avaliação da criatividade de resultados da aprendizagem de computação na Educação Básica? </b> <br>   
                Nathalia Alves, Christiane Gresse von Wangenheim, Lúcia Martins-Pacheco, Adriano Borgatto
              </td>
            </tr>
            <tr>
              <td>
                <b>Impacto do Uso da Peer Instruction no Ensino Superior de Lógica para Computação no Brasil</b> <br>   
                Esdras Bispo Jr., Rosemara Perpetua Lopes
              </td>
            </tr>
            <tr>
              <td>
                <b>Investigando a Relação Entre a Nota no Vestibular com o Desempenho em Introdução à Programação</b> <br>   
              Leonardo Soares e Silva
              </td>
            </tr>
            <tr>
              <td>
                <b>Investigando as Dificuldades e Perspectivas sobre um Curso de Engenharia de Software de Dois Ciclos: Um Survey com a Visão Discente</b> <br>   
              Reudismam de Sousa, Jarbele Coutinho, Samara Nascimento, Felipe Torres Leite
              </td>
            </tr>
            <tr>
              <td>
                <b>Mapeamento e análise empírica de misconceptions comuns em avaliações de introdução à programação</b> <br>   
                Daniel L. Z. Filho, Ada Araujo, Elaine Oliveira, Leandro Silva Galvão de Carvalho, Filipe Dwan Pereira, David Fernandes
            </td>
            </tr>
            <tr>
              <td>
                <b>Uma Análise da Emergência de Pensamento Computacional em Práticas de Desenvolvimento de Jogos Digitais na Educação do Campo</b> <br>   
                Rozelma França, Taciana Pontual Falcão, Flavia Peres, Dyego Morais
              </td>
            </tr>
            <tr>
              <td>
                <b>Uma Definição Operacional para Pensamento Computacional</b> <br>   
                Bianca Santana, Christina Chavez, Roberto Bittencourt
              </td>
            </tr>
            <tr>
              <td>
                <b>Uso de atributos de código para classificação da facilidade de questões de codificação</b> <br>   
              Marcos Lima, Leandro Silva Galvão de Carvalho, Elaine Oliveira, David Fernandes, Filipe Dwan Pereira
              </td>
            </tr>
            <tr>
              <td>
                <b>Uso de Rubricas em Pesquisas de Informática e Educação - Uma Revisão Sistemática da Literatura</b> <br>   
                Dirson Campos, Deller Ferreira
              </td>
            </tr>
          </table>

          <br>
          <h4>Ensaios</h4>
          <table class="table table-striped">
            <tr>
              <td>
                <b>Computational Thinking for All: What Does It Mean for Teacher Education in Brazil?</b> <br>   
                Taciana Pontual Falcão
              </td>
            </tr>
          </table>

          <br>
          <h3>Trilha 2: Relatos de Experiência</h3>

          <table class="table table-striped">
            <tr>
              <td>
                <b>PS4W: Programa de Inclusão Jovem e Feminina na Área Tecnológica</b> <br>   
                Nádia Alexandrino, Carlos Silva, Cristiane Targa, Daniel Conrado
              </td>
            </tr>
            <tr>
              <td>
                <b>A Experiência da Monitoria de Algoritmos e Programação em Cursos de Engenharia na Perspectiva dos Monitores</b> <br>   
                José Figuerêdo, Jussara Gomes Machado, Samuel Lima, Cláudio Sérgio da Silva Cerqueira, Claudia Pinto Pereira
              </td>
            </tr>
            <tr>
              <td>
                <b>Aulas Invertidas e Práticas Lúdicas no Ensino de Redes de Computadores</b> <br>   
                Tarik Lopes Ponciano Lima, Windson Viana
              </td>
            </tr>
            <tr>
              <td>
                <b>Desenvolvendo e descobrindo competências no currículo escolar por meio do Raciocínio Computacional</b> <br>   
                Ecivaldo Matos, Claudia Coutinho, Euma Silva Santos, Leonardo Ribeiro de Azevedo, Gracielle Tavares, Diego Zabot
              </td>
            </tr>
            <tr>
              <td>
                <b>Estudantes Ensinando Computação para a Comunidade: Uma Experiência através do TISP</b> <br>   
                Camille Jesús, Francisco Tito Silva Santos Pereira, Daniel Costa, Diego Silva, Eduarda Oliveira, Lais Baptista, Ozenilson Cruz, Roberto Bittencourt
              </td>
            </tr>
            <tr>
              <td>
                <b>Formação Continuada de Professores em Pensamento Computacional: Um Relato de Experiência do Programa</b> <br>   
                Jeanne da Silva Barbosa Bulcão, Charles Madeira, Carlos Guimarães, Crisiany Sousa
              </td>
            </tr>
            <tr>
              <td>
                <b>Hello World: 17 habilidades para exercitar desde o início da graduação em computação</b> <br>   
                Roberto Pereira, Leticia Peres, Fabiano Silva
              </td>
            </tr>
            <tr>
              <td>
                <b>Interdisciplinaridade no ensino de física e computação na educação básica: relato de experiência de um curso de formação inicial e continuada sob a perspectiva na construção de experimentos </b> <br>   
                Thiago Amorim, Petrus Barros, Veruska Machado
              </td>
            </tr>
            <tr>
              <td>
                <b>PC-Câmbio: Uma Proposta da Atividade Lúdica e Desplugada Aplicando a Metodologia do Pensamento Computacional</b> <br>   
                Yuri Rosa, Renata Reiser, Placida Oliveira, Luciana Foss, Simone Cavalheiro, Andre Du Bois, Clause Piana, Ana Rita Mazzini
              </td>
            </tr>
            <tr>
              <td>
                <b>Plugando o Desplugado para Ensino de Computação na Escola Durante a Pandemia do Covid-19</b> <br>   
                Marcia Kniphoff da Cruz, Samanta Marques, Tainã Tavares
              </td>
            </tr>
            <tr>
              <td>
                <b>Reflexões de uma Década de Desafios e Conquistas no Ensino de Programação para a Rede Pública de Ensino</b> <br>   
                Marco Antônio Oliari, José Jorge Moutinho Uliana, Mirelly Da Silva, Beatriz Maia, Thiago Paiva, Roberta Gomes, Patricia Dockhorn Costa, Rodrigo Laiola Guimarães
              </td>
            </tr>
            <tr>
              <td>
                <b>Relato de experiência: projeto Robótica na Escola em Tramandaí no Rio Grande do Sul</b> <br>   
                Marjorie Nunes, Claucida Lima, Márcia Finimundi Nóbile
              </td>
            </tr>
            <tr>
              <td>
                <b>Uma abordagem prática apoiada pela aprendizagem baseada em projetos e gamificação para o ensino de Engenharia de Software </b> <br>   
                Simone Tonhão, Andressa Medeiros, Jorge Prates
              </td>
            </tr>
            <tr>
              <td>
                <b>XP Enigma - Um Jogo Educacional Não Digital para Apoio ao Ensino de Métodos Ágeis: Uma análise temporal da motivação e aprendizagem</b> <br>   
                Pablo Schoeffel
              </td>
            </tr>
          </table>

          <br>
          <h3>Trilha 3: Currículos e Práticas Pedagógicas</h3>

          <table class="table table-striped">
            <tr>
              <td>
                <b>Apresentação de uma Metodologia de Avaliação Baseada em Rubricas para Trabalhos de Conclusão de Curso no Curso de Engenharia da Computação </b> <br>   
                Veronica Quandt, Caroline Mendes, Eduardo Alberti, L. Bordignon, Felipe Przysiada, Leonardo Tavares
              </td>
            </tr>
            <tr>
              <td>
                <b>Por que estimular a Aprendizagem Significativa no ensino de Programação Orientada a Objetos?</b> <br>   
                Humberto Zanetti, Marcos Borges
              </td>
            </tr>
            <tr>
              <td>
                <b>Um Estudo Exploratório Sobre o Uso Da Robótica Educacional Como Ferramenta de Apoio ao Ensino-Aprendizagem de Lógica de Programação para Alunos da Rede Pública do Ensino Médio</b> <br>   
                Jose Augusto Mendes Vidal, Fábio Ferrentini Sampaio, Nuno Dorotea
              </td>
            </tr>
          </table>

          <br>
          <h3>Trilha 4: Recursos e Ambientes Educacionais</h3>

          <br>
          <h4>Recursos Didáticos</h4>

          <table class="table table-striped">
            <tr>
              <td>
                <b>Scripts de Instalação de uma Rede Blockchain como Recurso Didático para Metodologias Ativas no Ensino de Computação</b> <br>   
                Flavio Melo, Carlos Alves Cavalcante, Patrick Letouze
              </td>
            </tr>
            <tr>
              <td>
                <b>TryRdP: uma Ferramenta para o Aprendizado de Modelagem de Sistemas usando Redes de Petri</b> <br>   
                John Soares de Lima, Taciana Pontual Falcão, Ermeson Andrade
              </td>
            </tr>
          </table>

          <br>
          <h4>Ambientes e Plataformas</h4>

          <table class="table table-striped">
            <tr>
              <td>
                <b>Apoiando a Revisão por Pares no Ensino Remoto de Modelagem de Software</b> <br>   
                Romualdo Costa, Alberto Castro, Bruno Gadelha
              </td>
            </tr>
            <tr>
              <td>
                <b>Avaliação do League of Class: uma plataforma de gamificação estrutural inspirada em League of Legends</b> <br>   
                Fernanda Pires, Rebeca Veiga Assunção, Marcela Pessoa
              </td>
            </tr>
            <tr>
              <td>
                <b>Laboratório Digital à Distância: Percepções de Docentes e Discentes</b> <br>   
                Felipe Almeida, Victor Hayashi, Reginaldo Arakaki, Edson Midorikawa, Paulo Sérgio Cugnasca, Sergio Canovas
              </td>
            </tr>
            <tr>
              <td>
                <b>Python Enhanced Error Feedback: Uma IDE Online de Apoio ao Processo de Ensino-Aprendizagem em Programação </b> <br>   
                Luis Gustavo Araújo, Roberto Bittencourt, Christina Chavez
              </td>
            </tr>
            <tr>
              <td>
                <b>Virtual Lab with Real Data</b> <br>   
                Victor Hayashi, Danilo Martins, Reginaldo Arakaki, Julio Carlos Teixeira, Bruno Angélico, Fabio Hayashi
              </td>
            </tr>
            <tr>
              <td>
                <b>WebJuvia: Plataforma Web de Apoio ao Ensino de Gerência de Memória na Disciplina de Sistemas Operacionais</b> <br>   
                Evander Silva, Warley Junior, João Victor Carmona 
              </td>
            </tr>
          </table>

          <br>
          <h3>Laboratório de Ideias</h3>

          <table class="table table-striped">
            <tr>
              <td>
                <b>Acolhimento d@s Calour@s do Departamento de Ciência da Computação da Universidade de Brasília</b> <br>   
                Maristela Holanda, Edison Ishikawa, Marcelo Mandelli
              </td>
            </tr>
            <tr>
              <td>
                <b>Análise de correlação entre habilidade de Resolução de Problemas e desempenho em disciplinas de programação</b> <br>   
                Jhonatas Oliveira, Leandro Silva Galvão de Carvalho, Elaine Oliveira, David Fernandes, Filipe Dwan Pereira

              </td>
            </tr>
            <tr>
              <td>
                <b>AnneBot: Um Chatbot para Auxiliar no Processo de Ensino e Aprendizagem do Pensamento Computacional	</b> <br>   
                Adrianne Veras de Almeida, Fabiola Araújo
              </td>
            </tr>
            <tr>
              <td>
                <b>Aplicação de PBL on line em cursos da área de computação durante a pandemia de COVID-19 </b> <br>   
                Fernanda Santana, Igo Amauri Luz
              </td>
            </tr>
            <tr>
              <td>
                <b>Aplicando Ecossistemas de Software na Disciplina Engenharia de Software	</b> <br>   
                Emanuel Coutinho, Francisco Pinheiro
              </td>
            </tr>
            <tr>
              <td>
                <b>Aprendizagem Ativa no Ensino de Programação: Aplicando Análise Estática de Código em Conjunto com Autograders</b> <br>   
                Eryck Silva, Ricardo Caceffo, Rodolfo Azevedo 
              </td>
            </tr>
            <tr>
              <td>
                <b>Automatic creating variation of CS1 assignments and exams</b> <br>   
                Filipe Dwan Pereira, Hermino Barbosa de Freitas Júnior, Elaine Oliveira, Leandro Silva Galvão de Carvalho, David Fernandes, Aileen Benedict, Mohsen Dorodchi, Alexandra Cristea
              </td>
            </tr>
            <tr>
              <td>
                <b>Avaliação da Qualidade para Pesquisas em Educação em Engenharia de Software</b> <br>   
                Cleuton Almeida
              </td>
            </tr>
            <tr>
              <td>
                <b>Avaliação Heurística de Ferramentas de Programação em Blocos</b> <br>   
                Franciely Souza, Taciana Pontual Falcão, Rafael Ferreira Mello
              </td>
            </tr>
            <tr>
              <td>
                <b>CodeBô: Um puzzle game educacional sobre Estrutura de Dados</b> <br>   
                Luis Gustavo Araújo, Luan Gomes
              </td>
            </tr>
            <tr>
              <td>
                <b>Desenvolvimento baseado em testes com aplicação de critérios de teste no ensino introdutório de computação</b> <br>   
                Yuri Grajefe Feitosa, Marco Aurélio Graciotto Silva, José Augusto Fabri
              </td>
            </tr>
            <tr>
              <td>
                <b>Elas na Computação: Decifrando Códigos e Expressando Ideias Críticas e Criativas na Escola</b> <br>   
                Keila Alcântara, Laura Silva, Maiara Souza, José Alexandre Silva, Rozelma França
              </td>
            </tr>
            <tr>
              <td>
                <b>Ensinando sobre Representação de Imagens: Experiência no Projeto Computação Plugada com o Aplicativo Pixel	</b> <br>   
                Larrysa Mirelly Figueiredo, Matheus Oliveira, Emanoel Medeiros, Josinaldo Pontes, Ayla Débora Dantas de Souza Rebouças, Ivonildo Pereira Neto
              </td>
            </tr>
            <tr>
              <td>
                <b>Ensino-Aprendizagem de Programação utilizando Storytelling na Educação Infantil	</b> <br>   
                Franciely Souza, Maria Silva 
              </td>
            </tr>
            <tr>
              <td>
                <b>Escola de Games em tempos de pandemia: como promover a equidade de acesso aos participantes?</b> <br>   
                Tamara Cristina Ferreira, Luciano Neto, Pedro Henrique Franco, Hugo Barreto, Lígia Silva, Ana Paula Boaventura
              </td>
            </tr>
            <tr>
              <td>
                <b>Estruturação de ambientes virtuais de aprendizagem para suporte na aplicação virtual da metodologia PBL</b> <br>   
                Igo Amauri Luz, Rebeca dos Santos, Fernanda Silveira, Fernanda Santana
              </td>
            </tr>
            <tr>
              <td>
                <b>Explorando o Pensamento Computacional em Salas de Aulas de Ciências</b> <br>   
                Adrielle Sousa, Ruallyson Moura, Fernando Gomes, Rozelma Soares, José Alexandre Silva
              </td>
            </tr>
            <tr>
              <td>
                <b>Explorando o Smartphone na Educação de Jovens e Adultos: Computação para a Autonomia Digital	</b> <br>   
                Ulremberg Silva, Danielle Silva, Rozelma Soares, José Gomes
              </td>
            </tr>
            <tr>
              <td>
                <b>Explorando potencialidades do Pensamento Computacional de forma desplugada com estudantes da rede Estadual de Educação de Mato Grosso</b> <br>   
                Sabrina Sassi, Cristiano Maciel, Vinicius Pereira
              </td>
            </tr>
            <tr>
              <td>
                <b>Game Learning Analytics como Artefato Avaliativo Sobre o Conceito de Probabilidade</b> <br>   
                Josevandro Nascimento, Rodrigo Rodrigues, Vladimir Lira Veras Xavier de Andrade
              </td>
            </tr>
            <tr>
              <td>
                <b>Integração do Pensamento Computacional às Disciplinas da Educação Básica: uma Proposta de Aplicativo para Professores</b> <br>   
                Bárbara Morais, Rozelma Soares, Taciana Pontual Falcão
              </td>
            </tr>
            <tr>
              <td>
                <b>Interpretable AI to Understand Early Effective and Ineffective Programming Behaviours from CS1 Learners</b> <br>   
                Filipe Dwan Pereira, Elaine Oliveira, David Fernandes, Leandro Silva Galvão de Carvalho, Alexandra Cristea
              </td>
            </tr>
            <tr>
              <td>
                <b>Jogando para Aprender: Uma Pesquisa sobre a Influência do Jogo Black Stories nas Habilidades e Competências de Estudantes de Engenharia de Software</b> <br>   
                Jorge Girão Limaverde Lima, Andressa Ferreira
              </td>
            </tr>
            <tr>
              <td>
                <b>Loop Academic: uma Plataforma Web para o Ensino-Aprendizagem de Programação Introdutória</b> <br>   
                Dyego Souza, Jarbele Coutinho, Reudismam de Sousa
              </td>
            </tr>
            <tr>
              <td>
                <b>Maquete Ferroviária O Exercício do Pensamento Computacional por meio da Robótica Educacional de Acesso Livre</b> <br>   
                André Mendes
              </td>
            </tr>
            <tr>
              <td>
                <b>Materiais didáticos sensíveis ao gênero para o ensino do Pensamento Computacional no Fundamental I</b> <br>   
                Mychelline Souto, Giordano Cabral, Liliane Fonseca
              </td>
            </tr>
            <tr>
              <td>
                <b>Material Didático Interativo para a disciplina de Introdução à Programação de Computadores da Universidade Federal do Amazonas</b> <br>   
                Thiago Lopes Costa, Elaine Oliveira, Alexandre Passito, Marcos Augusto de Souza Pinto, Leandro Silva Galvão de Carvalho, David Fernandes, Filipe Dwan Pereira

              </td>
            </tr>
            <tr>
              <td>
                <b>O Uso de Assistente de Provas no Ensino de Lógica	</b> <br>   
                Rodrigo Geraldo Ribeiro, Karina Roggia, Cristiano Vasconcellos
              </td>
            </tr>
            <tr>
              <td>
                <b>RecifeGo!: Promovendo a Interdisciplinaridade do Pensamento Computacional na Rua</b> <br>   
                Wellington Pereira, Vitor Dallegrave, Waleska Lira, Thiago Matheus Silva de Andrade, José Alexandre Silva, Rozelma Soares
              </td>
            </tr>
            <tr>
              <td>
                <b>Repositório Colaborativo para apoiar a adoção de Metodologias Ativas no Ensino de Programação</b> <br>   
                Maria Ivanilse Calderon Ribeiro, Williamson Silva, Eduardo Feitosa
              </td>
            </tr>
            <tr>
              <td>
                <b>Sobre a Necessidade de Recursos Educacionais para o Ensino do Pensamento Computacional na Educação Básica Brasileira: Discussão e Concepção de Repositório Educacional do Pensamento Computacional	</b> <br>   
                Jailine Santana, Diêgo Conceição, Adriano Ferreira, Eneida Rios, Camila Santana, Gilvan Durães
              </td>
            </tr>
            <tr>
              <td>
                <b>Um estudo sobre a relação entre os elementos de jogos e os tipos de usuários de sistemas gamificados	</b> <br>   
                Rafaela Melo, Marcela Pessoa, Gabriel Haydar, David Fernandes, Elaine Oliveira, Leandro Silva Galvão de Carvalho, Tayana Conte, Filipe Dwan Pereira
              </td>
            </tr>
            <tr>
              <td>
                <b>Um Jogo Educacional para Ensino do Pensamento Computacional para Pessoas com Deficiência Intelectual	</b> <br>   
                Taynara Dutra, Isabela Gasparini, Eleandro Maschio
              </td>
            </tr>
            <tr>
              <td>
                <b>Uma abordagem de Multimodal Learning Analytics para identificação de habilidades de Pensamento Computacional</b> <br>   
                Anderson Gusmão, Rodrigo Rodrigues, Rozelma França
              </td>
            </tr>
            <tr>
              <td>
                <b>Validação e análise de um inventário de conceitos sobre programação introdutória</b> <br>   
                Ana Caroline Braz, Leandro Silva Galvão de Carvalho, Elaine Oliveira, David Fernandes, Filipe Dwan Pereira, Roberto Bittencourt, Bianca Santana

              </td>
            </tr>
            <tr>
              <td>
                <b>Vamos LabEIAR? Uma proposta metodológica inspirada no pensamento computacional para implantação do Laboratório de Ensino de Inteligência Artificial e Robótica no contexto da Economia 4.0 no IF Baiano Campus Catu</b> <br>   
                Gilvan Durães
              </td>
            </tr>
          </table>

        </div>
      </div>
    </div>
  </section>