<footer class="text-white eb-footer">
  
  <div class="container">
    <div class="row m-0 text-white">

      <div class="col-md-4 text-center">
        <h5>Contato</h5>

        <div class="align-vertical">
          <a href="mailto:sbc.eb.2025@gmail.com" class="d-flex align-items-left">
            <img src="/img/simposio/2025/eb/email.png" alt="logo email" style="height: 24px; width: auto;">
            <span style="white-space: nowrap;">sbc.eb.2025@gmail.com</span>
          </a>

          <a href="https://www.instagram.com/sbc_eb/" class="d-flex align-items-left">
            <img src="/img/simposio/2025/eb/insta.png" alt="logo insta" style="height: 24px; width: auto;">
            <span style="white-space: nowrap;">@sbc_eb</span>
          </a>
        </div>
      </div>

      <div class="col-md-4 text-center">
        <h5>Realização</h5>
        <a class="imagelink" href="http://www.sbc.org.br" target="_blank">
          <img src="/img/simposio/2025/logos/sbc.png" style="height: 5rem;" />
        </a>
      </div>


      <div class="col-md-4 text-center">
        <h5>Apoio</h5>
        <a class="imagelink" href="https://thinktedlab.org"  target="_blank">
          <img src="/img/simposio/2025/eb/logos/thinkted.png" style="height: 5rem;" />
        </a>
        <a class="imagelink" href="https://www2.ufjf.br/getcomp/"  target="_blank">
          <img src="/img/simposio/2025/eb/logos/logogetcomp.png" style="height: 5rem;" />
        </a>
        <a class="imagelink" href="https://institucional.caeddigital.net/index.html" >
          <img class="logocaed" src="/img/simposio/2025/eb/logocaed.png" style="width: 180px; height: 70px"/>
        </a>
      </div>
      <div class="col-md-4 text-center">
        <h5>Organização</h5>
        <a class="imagelink" href="https://www.ufjf.br/" target="_blank">
          <img src="/img/simposio/2025/logos/ufjf.png" style="height: 5rem;" />
        </a>
      </div>
      
      <div class="col-md-4 text-center">
        <h5>Patrocínio</h5>
        <a class="imagelink" href="https://www.gov.br/capes/pt-br" target="_blank">
          <img src="/img/simposio/2025/logos/logocapes.png" style="height: 5rem;" />
        </a>
      </div>
    </div>
  </div>
</footer>