<header class="eb-header">
  <nav class="navbar navbar-expand-lg navbar-transparent fixed-top p-0">
    
    <a class="navbar-brand js-scroll-trigger imagelink" href="/simposio/2025/educomp"></a>
          <img id="logoeb" src="/img/simposio/2025/eb/logos/eblogo22.png" />
          <img id="logosbc" src="/img/simposio/2025/eb/logos/logosbc.png" />
    </a>
    
    <div class="container">
    
      <button class="navbar-toggler button-drop" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fa fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse m0" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger {{~#if faq}} active {{/if}}" href="/simposio/2025/sbc-eb">HOME</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger {{~#if faq}} active {{/if}}" href="/simposio/2025/sbc-eb/principal/chamadas">CHAMADAS</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger {{~#if faq}} active {{/if}}" href="/simposio/2025/sbc-eb/principal/forlic">FORLIC</a>
          </li>

          <li class="nav-item">
            <a class="nav-link js-scroll-trigger {{~#if faq}} active {{/if}}" href="/simposio/2025/educomp">EDUCOMP 2025</a>
          </li>

          <div class="inscricoes-container">
            <a href="/simposio/2025/inscricoes" class="btn btn-inscricoes">Inscrições</a>
          </div>
         
        </ul>
      </div>
    </div>
  </nav>
</header>