<nav class="navbar navbar-sbc-eb navbar-expand-lg justify-content-center fixed-top">
  <div class="container">

    <!-- Logos -->
    <div id="logos-container">
      <a class="navbar-brand js-scroll-trigger imagelink" href="https://www.sbc.org.br">
        <img id="logo-sbc" src="/img/simposio/2025/parceiros/sbc.png" alt="Logo SBC"/>
      </a>
      <a class="navbar-brand js-scroll-trigger imagelink" href="/simposio/2025/sbc-eb">
        <img id="logo-sbc-eb" src="/img/simposio/2025/sbc-eb/logos/logo-imagem.png" />
      </a>
    </div>

    <!-- Toggle button -->
    <button class="navbar-toggler button-drop" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav">

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle {{~#if home}} active {{~/if}}">HOME</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/#carrossel-jf">Início</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/#sobre-sbc-eb">Sobre o SBC-EB</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/#locais">Locais do evento</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/#submeta">Submeta seu trabalho</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/#educomp">Conheça o EduComp</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/#sobre-sbc">Sobre a SBC</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/#parceiros">Nossos parceiros</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle {{~#if chamadas}} active {{~/if}}">CHAMADAS</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/chamadas/trabalhos">Chamada de trabalhos</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/programacao">Programação preliminar</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle {{~#if forlic}} active {{~/if}}">FORLIC</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/forlic">Sobre o ForLic</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle {{~#if local}} active {{~/if}}">LOCAIS</a>
          <div class="dropdown-menu">
            <h6 class="dropdown-header">Sede - Juiz de Fora, MG</h6>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/conheca-juiz-de-fora">Conheça Juiz de Fora</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/como-chegar">Como chegar</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/onde-hospedar">Onde se hospedar</a>
            <hr class="dropdown-divider">
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/conheca-ufjf">Conheça a UFJF</a>
            <a class="dropdown-item" href="#">Local do evento  (em breve)</a>
            <hr class="dropdown-divider">
            <h6 class="dropdown-header">Polos regionais</h6>
            <a class="dropdown-item" href="#">Bandeirantes - PR (em breve)</a>
            <!-- <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/polo-bandeirante">Bandeirantes - PR</a> -->
            <a class="dropdown-item" href="#">Campo Grande - MS (em breve)</a>
            <!-- <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/polo-campo-grande">Campo Grande - MS</a> -->
            <a class="dropdown-item" href="#">Itacoatiara - AM (em breve)</a>
            <!-- <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/polo-itacoatiara">Itacoatiara - AM</a> -->
            <a class="dropdown-item" href="#">Salvador - BA (em breve)</a>
            <!-- <a class="dropdown-item" href="/simposio/2025/sbc-eb/local/polo-salvador">Salvador - BA</a> -->
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle {{~#if equipes}} active {{~/if}}">EQUIPES</a>
          <div class="dropdown-menu">
            <!-- <a class="dropdown-item" href="/simposio/2025/sbc-eb/equipe/">Comitê diretivo</a> -->
            <!-- <a class="dropdown-item" href="/simposio/2025/sbc-eb/equipe/">Comissão especial</a> -->
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/equipes/comissao-organizadora">Comissão organizadora</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/equipes/comite-programa">Comitê de programa</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle {{~#if edicoes}} active {{~/if}} ">EDIÇÕES</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="https://www2.sbc.org.br/sbceb2024/" target="_blank">SBC-EB 2024</a>
          </div>
        </li>

        <!-- <li class="nav-item">
          <a class="nav-link" href="/simposio/2025/educomp/">EDUCOMP</a>
        </li> -->

        <li class="nav-item dropdown">
          <a data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="nav-link js-scroll-trigger dropdown-toggle {{~#if inscricoes}} active {{~/if}} inscricoes">INSCRIÇÕES</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/inscricoes/">Inscreva-se</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/inscricoes/#promocional">Inscrição promocional</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/inscricoes/#valores">Valores de inscrição</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/inscricoes/#autores">Inscrições para autores</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/inscricoes/#institucional">Inscrições institucionais</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/inscricoes/#pagamento">Formas de pagamento</a>
            <a class="dropdown-item" href="/simposio/2025/sbc-eb/inscricoes/#cancelamento">Política de cancelamento</a>
          </div>
        </li>
      </ul>
    </div>

  </div>
</nav>