  {{> simposio/2022/pt-BR/inside-header}}

  <section id="datas" style="background-color:rgb(221, 232, 243);">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">
            EduComp 2022<br>
            <small class="text-muted">24 a 29 de abril de 2022</small>
          </h2>
          <br>
          <h3>Validar certificado: </h3>
          <br>
          <form method="POST" action="/simposio/2022/certificados/educomp/validar">
            <div class="form-group">
            <label for="codigo">Código de verificação:</label>
                <input type="text" class="form-control" name="codigo" id="codigo">
            </div>
            <p> <input type="submit" value="Validar" class="btn btn-primary btn-lg" style="width: 150px;" />
          </form>
        </div>
      </div>
    </div>
  </section>
