  {{> simposio/2022/pt-BR/inside-header}}

 <section id="inscricoes" style="background-color:rgb(221, 232, 243);" >
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 style="margin-top: -6rem;">Programação</h2>
          <p class="lead" style="text-align: justify; font-size: 14pt">
              Em breve!
        </p>
        </div>
      </div>
    </div>
  </section>