<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="/css/prog_educomp/style.css">
  <title>Schedule Template | CodyHouse</title>

  <!-- Font-Awesome -->
  <script src="https://kit.fontawesome.com/bd98f4183e.js" crossorigin="anonymous"></script>
</head>
<body>
  <header class="cd-main-header text-center flex flex-column flex-center">
    <br>
    <h1 class="text-xl">Programação EduComp 2022</h1>
  </header>

  <div class="cd-schedule cd-schedule--loading margin-top-lg margin-bottom-lg js-cd-schedule">
    <div class="cd-schedule__timeline">
      <ul>
        <li><span>13:00</span></li>
        <li><span>13:10</span></li>
        <li><span>13:20</span></li>
        <li><span>13:30</span></li>
        <li><span>13:40</span></li>
        <li><span>13:50</span></li>
        <li><span>14:00</span></li>
        <li><span>14:10</span></li>
        <li><span>14:20</span></li>
        <li><span>14:30</span></li>
        <li><span>14:40</span></li>
        <li><span>14:50</span></li>
        <li><span>15:00</span></li>
        <li><span>15:10</span></li>
        <li><span>15:20</span></li>
        <li><span>15:30</span></li>
        <li><span>15:40</span></li>
        <li><span>15:50</span></li>
        <li><span>16:00</span></li>
        <li><span>16:10</span></li>
        <li><span>16:20</span></li>
        <li><span>16:30</span></li>
        <li><span>16:40</span></li>
        <li><span>16:50</span></li>
        <li><span>17:00</span></li>
        <li><span>17:10</span></li>
        <li><span>17:20</span></li>
        <li><span>17:30</span></li>
        <li><span>17:40</span></li>
        <li><span>17:50</span></li>
        <li><span>18:00</span></li>
        <li><span>18:10</span></li>
        <li><span>18:20</span></li>
        <li><span>18:30</span></li>
        <li><span>18:40</span></li>
        <li><span>18:50</span></li>
        <li><span>19:00</span></li>
        <li><span>19:10</span></li>
        <li><span>19:20</span></li>
        <li><span>19:30</span></li>
        <li><span>19:40</span></li>
        <li><span>19:50</span></li>
        <li><span>20:00</span></li>
         <li><span>20:10</span></li>
      </ul>
    </div> <!-- .cd-schedule__timeline -->
  
    <div class="cd-schedule__events">
      <ul>
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Domingo (24)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="18:00"  data-content="24-wtd" data-event="event-2" href="#0">
                <em class="cd-schedule__name">WTD</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Workshop de Teses e Dissertações
                </em>
              </a>
            </li>

          </ul>
        </li>
        
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Segunda (25)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="13:40"  data-content="25-abertura" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Abertura</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  EduComp/ForLic
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="13:40" data-end="13:50"  data-content="25-intervalo-i" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="13:50" data-end="14:20" data-content="25-relic" data-event="event-1" href="#0">
                <em class="cd-schedule__name">
                  ReLic
                </em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Apresentação dos Representantes Regionais
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:20" data-end="15:30" data-content="25-painel-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">
                  Painel I (ForLic)
                </em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Campo de atuação do Licenciado em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="15:30" data-end="15:40"  data-content="25-intervalo-ii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="15:40" data-end="17:40" data-content="25-painel-ii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Painel II (ForLic)</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Políticas para o Ensino de Computação na Educação Básica: Atualizações
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="17:50"  data-content="25-intervalo-iii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:50" data-end="18:10"  data-content="25-apres-cultural" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Apresentação Cultural</em>
              </a>
            </li>            

            <li class="cd-schedule__event">
              <a data-start="18:10" data-end="18:30"  data-content="25-encerramento-i" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Encerramento</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  ForLic
                </em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Terça (26)</span></div>
  
          <ul>

            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40" data-content="27-palestra-i" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Palestra I</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  <i>The Prevalence and Relevance of Computer Science Education Research</i>
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="27-intervalo-ii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo II</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="27-sessao-tecnica-i-ii" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessões Técnicas I e II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Robótica Educacional (ST-I) <br>
                  Engenharia de Software (ST-II)
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="27-intervalo-iii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo III</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:20"  data-content="27-sessao-tecnica-iii-iv" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessões Técnicas III e IV</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Pensamento Computacional (ST-III) <br>
                  Metodologias Ativas (ST-IV)
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="17:40"  data-content="27-intervalo-iv" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo IV</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="18:40"  data-content="27-lab-ideias-i" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  [LI-I] Pensamento Computacional I  <br>
                  [LI-II] Metodologias Ativas <br>
                  [LI-III] Estudos de Gênero 
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:00"  data-content="27-socializacao-i" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização</em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quarta (27)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40" data-content="28-palestra-ii" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Palestra II</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Como avaliar a aprendizagem no ensino de computação na Educação Básica?
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="28-intervalo-v" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo V</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="28-sessao-tecnica-v-vi" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessões Técnicas V e VI</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Computação na Educação Básica (ST-V) <br>
                  Recursos e Ambientes Educacionais 1 (ST-VI)
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="28-intervalo-vi" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo VI</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:20"  data-content="28-sessao-tecnica-vii-viii" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessões Técnicas VII e VIII</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Habilidades e Competências (ST-VII) <br>
                  Programação Introdutória (ST-VIII)
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="17:40"  data-content="28-intervalo-vii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo VII</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="18:40"  data-content="28-lab-ideias-ii" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  [LI-IV] Pensamento Computacional II <br>
                  [LI-V] Tecnologias na Educação em Computação <br>
                  [LI-VI] Programação Introdutória I 
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:00"  data-content="28-socializacao-ii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização</em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Quinta (28)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40" data-content="29-painel-iv" data-event="event-1" href="#0">
                <em class="cd-schedule__name">Painel IV</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Passado, Presente e Futuro da Educação em Computação
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="29-intervalo-viii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo VIII</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="29-sessao-tecnica-ix-x" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessões Técnicas IX e X</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Avaliação e Rubricas (ST-IX) <br>
                  Aprendizagem com Pares (ST-X)
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="29-intervalo-ix" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo IX</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:20"  data-content="29-sessao-tecnica-xi-xii" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessões Técnicas XI e XII</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Formação de Professores (ST-XI) <br>
                  Recursos e Ambientes Educacionais 2 (ST-XII)
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="17:40"  data-content="29-intervalo-x" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo X</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="18:40"  data-content="29-lab-ideias-iii" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  [LI-VII] Pensamento Computacional III <br>
                  [LI-VIII] Programação Introdutória II <br>
                  [LI-IX] Jogos e Gamificação 
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:00"  data-content="29-socializacao-iii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização</em>
              </a>
            </li>

          </ul>
        </li>
  
        <li class="cd-schedule__group">
          <div class="cd-schedule__top-info"><span>Sexta (29)</span></div>
  
          <ul>
            
            <li class="cd-schedule__event">
              <a data-start="13:00" data-end="14:40"  data-content="30-assembleia" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Assembleia GIEC</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="14:40" data-end="15:00"  data-content="30-intervalo-xi" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo XI</em>
              </a>
            </li>
  
            <li class="cd-schedule__event">
              <a data-start="15:00" data-end="16:00"  data-content="30-sessao-tecnica-xiii-xiv" data-event="event-3" href="#0">
                <em class="cd-schedule__name">Sessões Técnicas XIII e XIV</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  Computação Desplugada (ST-XIII) <br>
                  Aprendizagem Significativa (ST-XIV)
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:00" data-end="16:20"  data-content="30-intervalo-xii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo XII</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="16:20" data-end="17:20"  data-content="30-lab-ideias-iv" data-event="event-5" href="#0">
                <em class="cd-schedule__name">Laboratório de Ideias</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  [LI-X] Computação na Educação Básica <br>
                  [LI-XI] Engenharia de Software <br>
                  [LI-XII] Avaliação e Rubricas 
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:20" data-end="17:40"  data-content="30-intervalo-xiii" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Intervalo XIII</em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="17:40" data-end="18:40"  data-content="30-encerramento-ii" data-event="event-2" href="#0">
                <em class="cd-schedule__name">Encerramento</em>
                <em class="cd-schedule__name" style="font-weight: normal; font-size: medium;">
                  EduComp
                </em>
              </a>
            </li>

            <li class="cd-schedule__event">
              <a data-start="18:40" data-end="19:00"  data-content="30-socializacao-iv" data-event="event-4" href="#0">
                <em class="cd-schedule__name">Socialização</em>
              </a>
            </li>

          </ul>
        </li>
      </ul>
    </div>
  
    <div class="cd-schedule-modal">
      <header class="cd-schedule-modal__header">
        <div class="cd-schedule-modal__content">
          <span class="cd-schedule-modal__date"></span>
          <h3 class="cd-schedule-modal__name"></h3>
        </div>
  
        <div class="cd-schedule-modal__header-bg"></div>
      </header>
  
      <div class="cd-schedule-modal__body">
        <div class="cd-schedule-modal__event-info"></div>
        <div class="cd-schedule-modal__body-bg"></div>
      </div>
  
      <a href="#0" class="cd-schedule-modal__close text-replace">Close</a>
    </div>
  
    <div class="cd-schedule__cover-layer"></div>
  </div> <!-- .cd-schedule -->

  {{> simposio/2022/pt-BR/programacao/24/wtd}}
  
  {{> simposio/2022/pt-BR/programacao/25/abertura}}
  {{> simposio/2022/pt-BR/programacao/25/intervalo-i}}
  {{> simposio/2022/pt-BR/programacao/25/relic}}
  {{> simposio/2022/pt-BR/programacao/25/painel-i}}
  {{> simposio/2022/pt-BR/programacao/25/intervalo-ii}}
  {{> simposio/2022/pt-BR/programacao/25/painel-ii}}
  {{> simposio/2022/pt-BR/programacao/25/intervalo-iii}}
  {{> simposio/2022/pt-BR/programacao/25/apres-cultural}}
  {{> simposio/2022/pt-BR/programacao/25/encerramento-i}}

  {{> simposio/2021/pt-BR/programacao/27/palestra-i}}
  {{> simposio/2021/pt-BR/programacao/27/intervalo-ii}}
  {{> simposio/2021/pt-BR/programacao/27/sessao-tecnica-i-ii}}
  {{> simposio/2021/pt-BR/programacao/27/intervalo-iii}}
  {{> simposio/2021/pt-BR/programacao/27/sessao-tecnica-iii-iv}}
  {{> simposio/2021/pt-BR/programacao/27/intervalo-iv}}
  {{> simposio/2021/pt-BR/programacao/27/lab-ideias-i}}
  {{> simposio/2021/pt-BR/programacao/27/socializacao-i}}

  {{> simposio/2021/pt-BR/programacao/28/palestra-ii}}
  {{> simposio/2021/pt-BR/programacao/28/intervalo-v}}
  {{> simposio/2021/pt-BR/programacao/28/sessao-tecnica-v-vi}}
  {{> simposio/2021/pt-BR/programacao/28/intervalo-vi}}
  {{> simposio/2021/pt-BR/programacao/28/sessao-tecnica-vii-viii}}
  {{> simposio/2021/pt-BR/programacao/28/intervalo-vii}}
  {{> simposio/2021/pt-BR/programacao/28/lab-ideias-ii}}
  {{> simposio/2021/pt-BR/programacao/28/socializacao-ii}}

  {{> simposio/2021/pt-BR/programacao/29/painel-iv}}
  {{> simposio/2021/pt-BR/programacao/29/intervalo-viii}}
  {{> simposio/2021/pt-BR/programacao/29/sessao-tecnica-ix-x}}
  {{> simposio/2021/pt-BR/programacao/29/intervalo-ix}}
  {{> simposio/2021/pt-BR/programacao/29/sessao-tecnica-xi-xii}}
  {{> simposio/2021/pt-BR/programacao/29/intervalo-x}}
  {{> simposio/2021/pt-BR/programacao/29/lab-ideias-iii}}
  {{> simposio/2021/pt-BR/programacao/29/socializacao-iii}}

  {{> simposio/2021/pt-BR/programacao/30/assembleia}}
  {{> simposio/2021/pt-BR/programacao/30/intervalo-xi}}
  {{> simposio/2021/pt-BR/programacao/30/sessao-tecnica-xiii-xiv}}
  {{> simposio/2021/pt-BR/programacao/30/intervalo-xii}}
  {{> simposio/2021/pt-BR/programacao/30/lab-ideias-iv}}
  {{> simposio/2021/pt-BR/programacao/30/intervalo-xiii}}
  {{> simposio/2021/pt-BR/programacao/30/encerramento-ii}}  
  {{> simposio/2021/pt-BR/programacao/30/socializacao-iv}}

  <script src="/js/prog_educomp/util.js"></script> <!-- util functions included in the CodyHouse framework -->
  <script src="/js/prog_educomp/main.js"></script>

  <script>
    
    function filtrar(valor) {
      var tagEm = document.getElementsByTagName('em')
      for (var i = 0; i < tagEm.length; i++) {
        if (!(tagEm[i].innerHTML.includes(valor)) ) {
          console.log(tagEm[i].innerHTML)
          tagEm[i].parentElement.style.display = 'none'
        } else {
          tagEm[i].parentElement.style.display = 'block'
        }
      }
    }
  </script>
  
</body>
</html>