<div id="27-lab-ideias-i" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Pensamento Computacional I (LI-I)"
          chair_sessao="Andréa Sabedra Bordin (UFSC)" 
          chair_sessao2="Ilmara Monteverde (IFAM)"
          
          artigo1_titulo="Vamos LabEIAR? Uma proposta metodológica inspirada no pensamento computacional para implantação do Laboratório de Ensino de Inteligência Artificial e Robótica no contexto da Economia 4.0 no IF Baiano Campus Catu"
          artigo1_autores="Gilvan Durães"
          
          artigo2_titulo="Maquete Ferroviária O Exercício do Pensamento Computacional por meio da Robótica Educacional de Acesso Livre"
          artigo2_autores="André Mendes, Carla Delgado, Daniel Schneider"

          artigo3_titulo="AnneBot: Um Chatbot para Auxiliar no Processo de Ensino e Aprendizagem do Pensamento Computacional"
          artigo3_autores="Adrianne Veras de Almeida, Fabiola Araújo"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Metodologias Ativas (LI-II)"
          chair_sessao="Marcelo Henklain (UFRR)" 
          chair_sessao2="Rommel Lima (UERN)"
          
          artigo1_titulo="Aplicação de PBL on line em cursos da área de computação durante a pandemia de COVID-19"
          artigo1_autores="Davy Gomes, Luciano Silva, Fernanda Santana, Igo Amauri Luz"
          
          artigo2_titulo="Análise Estática de Código em Conjunto com Autograders"
          artigo2_autores="Eryck Silva, Ricardo Caceffo, Rodolfo Azevedo"

          artigo3_titulo="Estruturação de ambientes virtuais de aprendizagem para suporte na aplicação virtual da metodologia PBL"
          artigo3_autores="Rebeca dos Santos, Fernanda Silveira, Igo Amauri Luz, Fernanda Santana"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Estudos de Gênero (LI-III)"
          chair_sessao="Sílvia Amélia Bim (UTFPR)" 
          chair_sessao2="A definir."
          
          artigo1_titulo="Elas na Computação: Decifrando Códigos e Expressando Ideias Críticas e Criativas na Escola"
          artigo1_autores="Keila Alcântara, Laura Silva, Maiara Souza, José Alexandre Silva, Rozelma França"
          
          artigo2_titulo="Materiais didáticos sensíveis ao gênero para o ensino do Pensamento Computacional no Fundamental I"
          artigo2_autores="Mychelline Cunha, Giordano Cabral, Liliane Fonseca"

          artigo3_titulo="Acolhimento d@s Calour@s do Departamento de Ciência da Computação da Universidade de Brasília"
          artigo3_autores="Maristela Holanda, Marcelo Mandelli, Edison Ishikawa"
        }}
    </div>
  </div>