<div id="27-sessao-tecnica-i-ii" style="display: none;">
    <div class="cd-schedule-modal__event-info">
        
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica

          sessao=true
          
          titulo_sessao="Robótica Educacional (ST-I)"
          chair_sessao="Prof. André Raabe (UNIVALI)" 
          
          artigo1_titulo="Aplicações da Robótica Educacional para o Desenvolvimento do Pensamento Computacional no Contexto do Ensino Médio Integral"
          artigo1_autores="Isabelle Maria Lima de Souza, Wilkerson Andrade, Livia Sampaio"
          artigo1_artigo_pesquisa=true
          
          artigo2_titulo="Relato de experiência: projeto Robótica na Escola em Tramandaí no Rio Grande do Sul"
          artigo2_autores="Marjorie Nunes, Claucida Lima, Márcia Finimundi Nóbile"
          artigo2_relato_experiencia=true

          artigo3_titulo="Um Estudo Exploratório Sobre o Uso Da Robótica Educacional Como Ferramenta de Apoio ao Ensino-Aprendizagem de Lógica de Programação para Alunos da Rede Pública do Ensino Médio"
          artigo3_autores="José Augusto Mendes Vidal, Fábio Ferrentini Sampaio, Nuno Dorotea"
          artigo3_artigo_pesquisa=true
        }}
        
        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 

          sessao=true

          titulo_sessao="Engenharia de Software (ST-II)"
          chair_sessao="Profa. Ellen Francine (ICMC/USP)"  
          
          artigo1_titulo="XP Enigma - Um Jogo Educacional Não Digital para Apoio ao Ensino de Métodos Ágeis: Uma análise temporal da motivação e aprendizagem"
          artigo1_autores="Pablo Schoeffel"
          artigo1_relato_experiencia=true
          
          artigo2_titulo="Are we teaching UML according to what IT companies need? A survey on the São Carlos-SP region"
          artigo2_autores="João Choma Neto, Luiz Henrique Ten Caten Bento, Edson Oliveira Jr, Simone Souza"
          artigo2_artigo_pesquisa=true

          artigo3_titulo="Investigando as Dificuldades e Perspectivas sobre um Curso de Engenharia de Software de Dois Ciclos: Um Survey com a Visão Discente"
          artigo3_autores="Reudismam de Sousa, Jarbele Coutinho, Samara Nascimento, Felipe Torres Leite"
          artigo3_artigo_pesquisa=true
          
        }}

    </div>
  </div>