<div id="27-sessao-tecnica-iii-iv" style="display: none;">
    <div class="cd-schedule-modal__event-info">

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Pensamento Computacional (ST-III)" 
          chair_sessao="Profa. Taciana Pontual (UFRPE)"  
          
          artigo1_titulo="Uma Definição Operacional para Pensamento Computacional"
          artigo1_autores="Bianca Santana, Christina Chavez, Roberto Bittencourt"
          
          artigo2_titulo="Hello World: 17 habilidades para exercitar desde o início da graduação em computação"
          artigo2_autores="Roberto Pereira, Leticia Peres, Fabiano Silva"

          artigo3_titulo="Corporeidade, ludicidade e contação de história na promoção do pensamento computacional na escola"
          artigo3_autores="Rozelma França, Patrícia Tedesco"
        }}

        {{> 
          simposio/2021/pt-BR/programacao/sessao-tecnica 
          
          titulo_sessao="Metodologias Ativas (ST-IV)" 
          chair_sessao="Profa. Elaine Oliveira (UFAM)"  
          
          artigo1_titulo="Uma abordagem prática apoiada pela aprendizagem baseada em projetos e gamificação para o ensino de Engenharia de Software"
          artigo1_autores="Simone Tonhão, Andressa Medeiros, Jorge Prates"
          
          artigo2_titulo="Aulas Invertidas e Práticas Lúdicas no Ensino de Redes de Computadores"
          artigo2_autores="Tarik Lopes Ponciano Lima, Windson Viana"

          artigo3_titulo="Scripts de Instalação de uma Rede Blockchain como Recurso Didático para Metodologias Ativas no Ensino de Computação"
          artigo3_autores="Flavio Melo, Carlos Alves Cavalcante, Patrick Letouze"
        }}

    </div>
  </div>